[2017-06-05 13:30] ymyronov commented on #325
I have the same problem. Generally we need a way to seamlessly change animation "on the fly". Maybe some pre-caching/pre-loading?

[2017-06-05 17:10] dfpalomar opened #326 "Animation is cut off when LottieAnimationView is not big enough"
Hi guys.

At work the UI/UX team has designed an animation that works perfectly fine in iOS but not in Android. When the LottieAnimationView is big enough the animation work perfectly fine but when that widget is small the animation is cut off. Below the videos of the animation:

**Animation working as expected (the view size has to be big)**

![gif_working](https://cloud.githubusercontent.com/ass

[2017-06-06 01:43] ltlovezh opened #327 "Memory Leak"
GC Path:
com.tencent.qgame.presentation.activity.XXXXActivity@a69534c8
    |-mBase, android.support.v7.widget.TintContextWrapper@a6a27a78
        |-mContext, com.airbnb.lottie.LottieAnimationView@a6525008
            |-this$0, com.airbnb.lottie.LottieAnimationView$2@a688b320
                |-loadedListener, com.airbnb.lottie.FileCompositionLoader@a688c358
                    |-this$0, android.os.

[2017-06-06 17:19] gpeal commented on #327
@ltlovezh Can you attach a sample project that repros this?

[2017-06-06 17:20] gpeal commented on #326
@dfpalomar Lottie can't render a mask or matter larger than view for performance reasons. Try a) making the composition smaller and using scaleType=centerCrop or playing around with setScale on the LottieAnimationView.

[2017-06-06 17:22] gpeal commented on #325
You can:
a) Load a LottieComposition and set the composition on the LottieAnimationView.
b) Load a LottieDrawable and set the drawable on the LottieAnimationView. LottieDrawable acts like any other drawable and LottieAnimationView acts like any other ImageView.
c) Set the composition with a CacheStrategy if you set it multiple times (but there will be a flicker the first time if you do this).

[2017-06-06 17:22] #325 closed

[2017-06-06 17:22] gpeal commented on #324
I noticed this too. I'll take a look.

[2017-06-07 05:25] reallynattu commented on #324
It works well on iOS. Yet to test it on Android. Nothing special just trim paths and stroke width used on the animation.

[2017-06-07 07:16] leexiyue opened #328 "play Animation lag bug"
I am trying to play  animations with lottie 2.0.0-rc1
when play animation,its massive lag,
Here the json file that I use:
{"v":"4.6.11","fr":24,"ip":0,"op":96,"w":750,"h":240,"nm":"ship12_small","ddd":0,"assets":[{"id":"image_0","w":150,"h":68,"u":"images/","p":"img_0.png"}],"layers":[{"ddd":0,"ind":1,"ty":2,"nm":"youting_small","refId":"image_0","ks":{"o":{"a":0,"k":100},"r":{"a":0,"k":0},"p":{"a

[2017-06-07 10:41] leexiyue commented on #328
ok,its resolved ,i set theLottieAnimationView useExperimentalHardwareAcceleration(true),its worked

[2017-06-07 12:26] dfpalomar commented on #326
@gpeal thanks for your reply. We're gonna try what you suggest 👍

[2017-06-07 16:10] gpeal commented on #324
@reallynattu there is a bug at the end with some trim path math

[2017-06-07 18:43] #328 closed

[2017-06-07 21:34] yumauesaka commented on #211
![image](https://user-images.githubusercontent.com/26464685/26902345-00c237b6-4ba7-11e7-82dd-f2f31d54ce04.png)

I am seeing that with other primitives as well as (Integer for example, see above)
I'm bumping this issue: @gpeal have you looked into resolving this?

[2017-06-08 01:41] #324 closed

[2017-06-08 01:45] gpeal commented on #319
Fixed by https://github.com/airbnb/lottie-android/commit/c1fdae0b7a962ff5e0b936274ef5559eef47f9e7

[2017-06-08 01:45] #319 closed

[2017-06-08 01:49] gpeal commented on #318
I just tried it in the LottieSample app and I got end and cancel.
Feel free to reopen this if it's still an issue. Preferably with a sample project.

[2017-06-08 01:49] #318 closed

[2017-06-08 09:05] wyfang opened #329 "About FPS fluency problem"
Hello everyone, first use, some questions about animation fps.
At the beginning, I used png picture ae project used to test and found fps very low, very consumption of mobile phone resources, Click here to view my recorded videos: https://youtu.be/0QK-X3GkAQk

Then I made a circle, very simple animation, but still feel fps is not high, so is not where I do wrong? Export? Export I use the default o

[2017-06-08 09:36] MadisonRong opened #330 "Add support for time remapping"
since Lottie is based on Bodymovin. why I can't play a video using time remapping effect, but it works on bodymovin? Should I do something else to support it?

[2017-06-08 10:30] Bekakk opened #331 "You must set an images folder before loading an image.IllegalStateException"
Hello
I'm using this repo and have one problem.
I generated .json  file with images from Adobe After Effect successfully.I inserted my json file in assets folder and images(5 images) in assets/Image.WeAccept folder.This is a part in my code
`  ```
`<FrameLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingBottom="32dp"
        andr

[2017-06-08 16:15] gpeal commented on #331
@Bekakk if you're trying to test it in the sample app, add your animation to [this map](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/java/com/airbnb/lottie/samples/AnimationFragment.java#L82)

[2017-06-08 16:15] #331 closed

[2017-06-08 16:18] gpeal commented on #329
@wyfang if you are using images, [turn on hardware acceleration ](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L270).

However, that animation doesn't look like it would need pngs. Lottie will be much faster and more efficient if you can use shape layers. If you're importing After Effects layers, convert them to shape layers r

[2017-06-08 22:20] brianchu commented on #324
Tested on 2.0.0. Works as expected.

[2017-06-09 04:00] T-marshal opened #332 "how can i apply LottieDrawable to textview's topdrawable?"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-06-09 07:29] #332 closed

[2017-06-10 07:09] suru1694 opened #334 "change color of pin"
hey what should i do if want to change the color of jumping oin

[2017-06-10 17:45] gpeal commented on #334
The layer you want to add the color to is "Pin 1"

[2017-06-10 17:45] #334 closed

[2017-06-11 16:22] kanvuduc opened #335 "Exception when trying to load composition from input stream"
[code]

[code]

[2017-06-11 19:59] gpeal commented on #335
fromInputStream is meant to be used for files only. To load from the network, I recommend using a networking library like retrofit to get a jsonobject and using that instead. I did something similar in the lottie sample app [here](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/java/com/airbnb/lottie/samples/AnimationFragment.java#L449)

[2017-06-11 19:59] #335 closed

[2017-06-12 08:47] slyang520 opened #336 "The animation doesn't look smooth"
The same animation android has no IOS fluency

[2017-06-12 19:44] jonasdoliveira opened #337 "Lagging with Android Animations using Lottie Json at same time"
Hello,

I've facing some performance problems trying to use Lottie in a screen that also has any Android animation. Like open an Options Menu on ActionBar.
I had tested a lot of sample files from lottie-android repository, but many of them was easy to see this lag/delay.
For example using the sample for example:
https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/assets/lott

[2017-06-12 23:56] gpeal commented on #337
What device are you using? I'm unable to reproduce inconsistent performance on any of mine.

Regarding overall performance or cpu usage, complex animations will definitely require cpu and may drop below 60fps on some phones but there isn't a ton that can be done about that.

[2017-06-12 23:56] gpeal commented on #327
@ltlovezh bump

[2017-06-12 23:58] gpeal commented on #329
@wyfang Also, the complexity of your animation will affect the performance. The lottie logo is much more complex than the watermelon due to its extensive use of trim paths.

[2017-06-12 23:58] #329 closed

[2017-06-13 15:50] jonasdoliveira commented on #337
Hi @gpeal!
I tested in many different devices Sony and Motorola for example, new devices and old ones. All have similar behavior. Of course that newer ones were faster but still has the lag.

I'm attaching a simple .apk using the same animation mentioned before mentioned. I tested with bigger animations (about 300kb) and small ones (16kb), With small animations everything worked fine and there is

[2017-06-14 00:31] haoranuber opened #338 "[Feature request] initialize a LottieAnimationView with a remote url directly"
Would like to have a way to initialize a LottieAnimationView with a remote url directly, which is available in lottie-ios as `initWithContentsOfURL`.

In the sample app, `private void loadUrl(String url) { ... }` loads the json file and passes the parsed json string to the `private void loadJsonString(String jsonString) { ... }` method. Why not put that logic inside lottie?

[2017-06-14 18:19] gpeal commented on #338
@haoranuber I don't want to add dependencies on third party libraries. Most apps have their own and it would be ideal for you to leverage that to have better handling for lifecycles and caching.

[2017-06-14 18:19] #338 closed

[2017-06-14 18:19] #336 closed

[2017-06-14 18:20] gpeal commented on #308
@erikalutz Can you try your animation with the a version of bodymovin pos v4.6.11?

[2017-06-14 19:27] jonasdoliveira commented on #337
I have done another test with an application that I found on internet that shows all the native Android animations.

Doing the same thing by try to open the Options Menu it is possible to see the delay also using only native Android animations.

I'm guessing that it is an Android problem. It is not able to handle to many process of animations at same time, since it only has one thread for UI.

Att

[2017-06-15 08:21] farazfaraz opened #339 "Can we play the animation in intervals?"
For eg. Playing the animation for 3 secs and then pause. Then on a button click resuming the animation and playing it again for 3 seconds. Repeating this until the animation finishes.
A little help would be appreciated :)

PS- I am on Android

[2017-06-15 08:23] adityamore opened #340 "Change Animation Text Dynamically [Android/iOS]"
Hi,

We were trying use Lottie in our App (both Android and iOS) to create this animated map marker. I wanted to know if the text can be dynamically changed at runtime using Lottie as each Map Marker will have different data.

![marker](https://user-images.githubusercontent.com/6376679/27171926-f3716e94-51d0-11e7-8437-52ac4e7e727a.gif)

In case there is any method that can be used in complement to

[2017-06-15 09:49] TheRishka opened #341 "Performance with multiple AnimationViews in ViewPager"
Hi! To be short:
How should I implement such feature, as multiple LottieAnimationViews in fragments in ViewPagers.
Right now, it has FPS-drop when there are multiple fragments with LottieAnimationView attached.
I'm trying to achieve nearly same behaviour as in Example2.gif, but with fully separated pages (fragments) with fully separated AnimationViews.

I've tried to enable experimental hardware a

[2017-06-15 18:17] gpeal commented on #341
@TheRishka How is the performance of your animation on its own? Are there masks and mattes?
If your animation is in a ViewPager, you can make sure it's not playing until it's visible too so you aren't trying to animate them at the same time.

[2017-06-16 18:58] charleston10 opened #342 "OutOfMemoryError"
Is there a solution to this problem? I researched issues, but I did not find :(
Are there any frame limitations?

Tks

**OutOfMemoryError**
[code]

[2017-06-19 13:12] jonasdoliveira commented on #341
@TheRishka, one approach is too set limit of pages to be loaded for ViewPager to 1.

https://developer.android.com/reference/android/support/v4/view/ViewPager.html#setOffscreenPageLimit(int)

Maybe it helps too...

[2017-06-19 13:13] jonasdoliveira commented on #337
@gpeal, have you checked anything related to that issue? Thanks!

[2017-06-20 16:21] gpeal commented on #342
@charleston10 how big is your animation? Would it be possible to send it to me?

[2017-06-20 16:23] gpeal commented on #340
I'm currently working on #173 to add support for text and probably dynamic text. However, it's worth noting that it may be difficult to have the pin respond to different size text since your shape may not know the size of the text at runtime.

[2017-06-20 16:23] #340 closed

[2017-06-21 19:53] #339 closed

[2017-06-22 08:52] PeterKim87 opened #344 "Gradient fill doesn't work in Lotti application"
I made a simple shape layer for gradient fill for test and I exported it by bodymovin.
But, it didn't work properly what I expected about color.

It just showed black & white gradient.
So, I tried to change it with tint effect(map black to color, map white to color).

It also didn't work at Animation view in Lottie application as well.

How can I use it?

[2017-06-22 09:19] Alexiszou opened #345 "BadParcelableException"
: android.os.BadParcelableException: ClassNotFoundException when unmarshalling: com.airbnb.lottie.LottieAnimationView$SavedState

[2017-06-22 17:56] gpeal commented on #345
@Alexiszou Can you attach a sample project that repros this?

[2017-06-22 17:57] gpeal commented on #344
@PeterKim87 Try saving your project before exporting it with bodymovin. Gradients only get picked up after saving.

[2017-06-23 00:11] PeterKim87 commented on #344
@gpeal I exported my project after saving. But results are same..

[2017-06-23 00:20] PeterKim87 commented on #344
@gpeal I think gradient is fine. Because I can see the gradient with black and white color. The problem is color. I can't change black and white color to what I want.

I tried changing gradient color in shape layer, but didn't work. I tried appling tint effect that map black&white to other color, it didn't work, too.

What else can I try to change the color?

[2017-06-23 16:11] gpeal commented on #344
Can you attach your aep file?

On Thu, Jun 22, 2017, 5:20 PM PeterKim87 <notifications@github.com> wrote:

[2017-06-25 15:31] gpeal commented on #344
@PeterKim87 ^

[2017-06-25 15:50] gpeal commented on #308
This was fixed in bodymovin.

[2017-06-25 15:50] #308 closed

[2017-06-26 01:03] PeterKim87 commented on #344
[lottie_2017.zip](https://github.com/airbnb/lottie-android/files/1100789/lottie_2017.zip)

Here it is..

It is nothing special indeed.. Very very simple project(I just made it for test).

Thanks

[2017-06-26 06:45] gpeal commented on #344
@PeterKim87 When I export your aep with bodymovin, it looks fine:
![image](https://user-images.githubusercontent.com/1307745/27527371-4b3c880c-5a00-11e7-8c3e-8675c6b28334.png)
[Gradient.json.zip](https://github.com/airbnb/lottie-android/files/1101202/Gradient.json.zip)

Dragging my json vs yours into lottiefiles.com which will render it with bodymovin yields the same, color for mine b&w for yours.

[2017-06-26 06:45] #344 closed

[2017-06-26 16:46] gpeal opened #348 "Add support for render caching"
In some very specific cases, it may be advantageous to save the render output as an array of bitmaps and then just draw them over and over again instead of looping.

What I'm currently thinking is to create a LottieRenderCache that takes a frame rate and can either be passed in to or created by a LottieDrawable. There will then be a hook in a LottieDrawable draw method that will pull from or rende

[2017-06-26 16:51] #173 closed

[2017-06-26 16:59] gpeal commented on #173
Text glyph rendering now works! I'll open specific issues for further text enhancements and reference this one.

[2017-06-26 17:10] gpeal opened #349 "Add support for rendering from font assets rather then glyphs"

[2017-06-26 17:10] gpeal opened #350 "Add support for dynamic text"
This enabled localization but requires drawing text from a font asset rather than glyphs

#349

[2017-06-26 17:19] seanfchan commented on #348
That sounds good.

[2017-06-26 18:42] jonasdoliveira commented on #348
@gpeal is that enhancement related to the issue #337 ?

[2017-06-27 00:35] gpeal commented on #348
@jonasdoliveira Nope. This is an alternative rendering solution that is useful in few but specific circumstances.

[2017-06-27 00:36] gpeal commented on #348
@jonasdoliveira Depending on your specific use case, this may, in face be beneficial though.

[2017-06-27 00:36] gpeal commented on #337
@jonasdoliveira I'm don't think there is anything actionable here. I'm continuing to work on general performance improvements, however.

[2017-06-27 04:17] gpeal opened #352 "Improve the keyframe value caching"
https://github.com/airbnb/lottie-android/commit/d5f141dbbe6c7e1ab90e7ca94bb0b38af561fec5 doesn't work. Investigate.

[2017-06-27 07:27] youxiachai opened #354 "LottieBoundsTest_01.json not exist"
FullScreenActivity use LottieBoundsTest_01.json
but latest version ,LottieBoundsTest_01.json not exist

[2017-06-27 12:41] jonasdoliveira commented on #337
@gpeal ok! Did you see the problem thought the apps I've created? I think it is an Android problem that is not able yet to handle multiple animations at same screen at same time. :(
If you see any news please let me know, I really appreciate the Lottie!

[2017-06-27 16:01] azchohfi commented on #352
Yup, same wrong behavior on LottieUWP:
https://github.com/azchohfi/LottieUWP/commit/038222b6d63948aae2df3a3d4ea02df9e3c0129e#diff-3beb6887bf96b8d4981b98f00518ebcaR74

[2017-06-28 00:28] #354 closed

[2017-06-28 01:34] #349 closed

[2017-06-28 01:34] #350 closed

[2017-06-28 07:25] sumitsahoo opened #355 "High GPU usage (enable GPU profiling)"
I was testing Lottie animation library in one of my sample project and I am noticing a significant GPU usage. In newer hardware it will work fine but in lower end devices it may create problem.

Library version used : v2.0
Sample project link : https://github.com/sumitsahoo/reCAPTCHADemo
Lottie file used : https://www.lottiefiles.com/264-vr-animation
Device : Nexus 6

Attached screenshot of GPU pr

[2017-06-28 12:38] chenCH1231 opened #356 "Chinese version of the AE to do the animation, transparent background showing gray?"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-06-29 00:50] azchohfi opened #357 "Unbalanced log."
https://github.com/airbnb/lottie-android/blob/0f2539cf5ca19d1dc578388d39871ca1f846e442/lottie/src/main/java/com/airbnb/lottie/BaseStrokeContent.java#L154
Should be inside the else statement.

[2017-06-29 02:34] #357 closed

[2017-06-29 02:34] gpeal commented on #357
Hah, you're quick. Thanks

[2017-06-29 02:35] gpeal commented on #356
@chenCH1231 Can you please add a description and attach an example animation

[2017-06-29 02:36] gpeal commented on #355
@sumitsahoo unfortunatly there is nothing actionable in this issue. I just did some additional work around performance profiling profiling ([here](https://github.com/airbnb/lottie-android/commit/0f2539cf5ca19d1dc578388d39871ca1f846e442) and [here](https://github.com/airbnb/lottie-android/commit/5cf67028e882659af366b4504096d77427a879a8)) which may lend themselves to some solid performance improveme

[2017-06-29 02:36] #355 closed

[2017-06-29 02:37] gpeal commented on #352
The regression is now fixed. I'll open future issues for perf improvements.

[2017-06-29 02:37] #352 closed

[2017-06-29 02:37] #341 closed

[2017-06-29 02:38] gpeal commented on #342
@charleston10 also, in your animation, are you exporting every frame as a keyframe? If so, you can dramatically optimize the animation by using time interpolators between keyframes.

[2017-06-29 02:41] gpeal commented on #337
@jonasdoliveira this actually doesn't reproduce on my device. I'm not sure if there is anything I can do on the lottie side unfortunately. You can try running systrace with the latest version of lottie on master with https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L567 enabled, then you can run systrace with `--app=YOUR_PACKAGE`

[2017-06-29 02:41] #337 closed

[2017-06-29 03:20] Ernest-su commented on #116
[LottieDemo.zip](https://github.com/airbnb/lottie-android/files/1110818/LottieDemo.zip)

I met this case too , the CPU is increased to 40%!

[2017-06-29 04:22] Ernest-su commented on #116
@gpeal I use version 2.0.0

[2017-06-29 06:25] #327 closed

[2017-06-29 06:56] #345 closed

[2017-06-29 06:59] gpeal commented on #315
@mare011 One of the disadvantages of using images in Lottie is the inability to use resource buckets. They will be rendered at the dp equivalent of their pixel size. You can export higher density images and scale it down on the layer's transform.

[2017-06-29 06:59] #315 closed

[2017-06-29 06:59] gpeal commented on #342
This is a duplicate of #39

[2017-06-29 06:59] #342 closed

[2017-06-29 07:00] #323 closed

[2017-06-29 15:54] samiam2017 opened #359 "Masks not sequencing on android"
Hey guys I'm trying to get these masks to sequence on and off in opacity. It works in the bodymovin demo file, but not on Android and iOS using the Lottie Library. Any advice would be appreciated.

-S
[TO_GitHub.zip](https://github.com/airbnb/lottie-android/files/1112649/TO_GitHub.zip)

[2017-06-29 18:51] #359 closed

[2017-06-29 20:26] samiam2017 commented on #359
Hey @gpeal I'm not a dev, so don't understand the code side of things. Can you give me an answer on this. Also I know our devs won't do adjustments to the library on the fly is this a bug with the library that will be corrected in the next release? Or are there work arounds that I can do on my side to avoid this issue?

best, -S

[2017-06-29 21:39] gpeal commented on #359
I actually fixed this in the https://github.com/airbnb/lottie-android/commit/8a4a3004b046198bd3b58a4a19d0a9c83f3b6c07 in activity message above!

It'll be released with 2.1 in the next week or so.

[2017-06-29 21:40] gpeal commented on #359
@samiam2017 ^

[2017-06-29 22:58] #330 closed

[2017-06-30 03:25] SwayChen opened #363 "Exception: IncompatibleClassChangeError"
Hi, The crash platform catches a Exception following, but I can't recurrent it.

[code]

[2017-06-30 05:37] gpeal commented on #363
@SwayChen Can you attach a sample project that repros this? There isn't enough to go off of here and it may be related to your specific project setup.

[2017-06-30 05:37] #326 closed

[2017-06-30 05:59] SwayChen commented on #363
@gpeal I'm sorry can not offer sample, because I don't meet the Exception in test. Just the crash platform catches it. I preload JSON as a Composition and use setComposition.

[2017-06-30 07:00] gpeal commented on #363
@SwayChen Does your crash reporting indicate anything unusual such as this only happening on Samsung devices or only on a specific platform version?

[2017-06-30 07:32] SwayChen commented on #363
@gpeal No, now it was caught once in Sony Z3+. Maybe leave it out now, I will contact again if find more wrong info.

[2017-06-30 08:53] dfpalomar commented on #326
Thanks for the solution guys, it works! 👍

[2017-06-30 10:04] sumitsahoo commented on #355
That's great. Hope the future versions improve the performance :)

[2017-06-30 22:15] gpeal commented on #363
It's possible that the user's device is in some strange state or rooted or something. If this happens to a significant number of users, feel free to reopen. Fwiw, we have never seen this in the Airbnb app in production.

[2017-06-30 22:15] #363 closed

[2017-07-01 18:52] #194 closed

[2017-07-01 19:17] gpeal opened #365 "Animation renders differently on Galaxy S8"
When playing this animation, it renders incorrectly on the Galaxy S8 but when rendering a single frame, it's fine...
https://www.lottiefiles.com/282-search-a-location

[2017-07-03 07:02] gpeal commented on #257
@marianpavel I've just added support for time stretching and work area. However, you can't use the two together yet. If you can create your animation without using both at the same time, it should work now.

[2017-07-03 07:02] gpeal commented on #257
I'll release 2.1 or 2.5 this week with the changes

[2017-07-03 11:58] martyprague opened #367 "Can't subtract paths/masks for iOS"
Hi, I can't find a way how to cut out two animated holes in a shape. I have tried masks and paths with different settings but without success.  It works perfectly on windows and android but not on iOS.

AE project: [Bodymovin_test.zip](https://github.com/airbnb/lottie-android/files/1119401/Bodymovin_test.zip)

Thanks for help

[2017-07-03 12:49] Qamar4P opened #368 "Can't animate images from assets with setImageAssetsFolder"
assets/demo/img_1.jpg, img_2.jpg upto img_20.jpg

Doesn't appear anything on simulator and S7

Try 1
[code]
Try 2
[code]

[2017-07-03 14:50] wangdaliu commented on #269
@gpeal Hi, i have a demand, when pause the whole animation, some of the elements can continue with the animation.  Do you have any suggest? Thanks

[2017-07-04 03:00] MissValeska commented on #218
Did you find a solution?

[2017-07-04 14:53] dannyzhuang opened #369 "why addAnimatorUpdateListener not work"
first I set the animation

`    private  LottieAnimationView  mLottieAnimationView;
    private int mCurAnimIndex = 0;
    private String[] mAnimName = new String[] {"818data1.json","818data2.json","818data3.json",
           "818data4.json"};

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        requestWindowFeature(Window.FEATURE_NO_TITLE);
        getWindow().setFlags(

[2017-07-05 06:25] iloveaman opened #370 "W/LOTTIE: Unable to open asset. java.io.FileNotFoundException: lottie/img_0.png"

[2017-07-05 06:32] EdwinMurari opened #371 "Lottie animation not playing on android as previewed in lottie files."
https://stackoverflow.com/questions/43177613/lottie-animation-is-not-working-as-expected

Why is this happening? Even I faced such an issue, it played well on iOS device and on lottie preview but didn't work when I played it in lottie animation view in android.

[2017-07-05 07:18] gpeal commented on #269
@wangdaliu Try breaking your animation into separate animations then just have the views overlap and control them individually.

[2017-07-05 12:36] xanatrobe commented on #369
I am running into this as well using a fragment.

[2017-07-05 18:29] gpeal commented on #370
@iloveaman You have to set the images folder
https://github.com/airbnb/lottie-android#image-support

[2017-07-05 18:29] #370 closed

[2017-07-05 18:30] gpeal commented on #368
@Qamar4P can you attach a sample project that repros this?

[2017-07-05 18:31] gpeal commented on #367
Please post this on the lottie-ios repo

[2017-07-05 18:31] #367 closed

[2017-07-05 18:32] #356 closed

[2017-07-06 06:44] Qamar4P commented on #368
@gpeal check out https://github.com/Qamar4P/CircularAnimationExamples, build and click on Gif button

[2017-07-06 08:43] khoatd92 opened #373 "Lottie Android - Using Lottie Android with vector image (xml) or svg image?"
I'm using Lottie Android for animation and I put images (png) in assets folder of Android. And now I want to scale image base on devices density so I want to using vector image(xml file) or svg image instead but I haven't found any solution yet. Anyone has experience about that? Please give me some advice!

[2017-07-06 16:01] adamfisher commented on #371
I am having a similar issue.

I attempted to load the example [Pink Drink Machine](https://www.lottiefiles.com/351-pink-drink-machine) from the Lottie Files website. The animation works! It looks super cool. The only problem is it only renders part of the image. If you compare the bolts and the plunger in the canister, they do not even show up. It's like pieces of the animation are missing.

This

[2017-07-07 17:32] gpeal commented on #373
@khoatd92 Why are you using Lottie to animate pngs? Most of the time, you are better off just using After Effects shapes which are inherently vectors and will scale perfectly to any size.

[2017-07-07 17:33] gpeal commented on #371
@adamfisher Make sure the Xamarin plugin is using the latest version of Lottie (2.0, soon to be 2.1). If you load that animation in the lottie sample app, it looks correct so the Xamarin plugin must be using an old version.

[2017-07-08 07:15] khoatd92 commented on #373
@gpeal I tried to use svg and xml file for image vector also and put them to assets folder of Android then I use the function setImageAssetsFolder but it's still not work.

[2017-07-08 18:00] gpeal commented on #373
@khoatd92 I don't understand exactly what you're trying to do. Can you attach a sample project?

[2017-07-09 01:07] khoatd92 commented on #373
@gpeal Really appreciate your help and yeah sure I can attach a sample project but let me try to clear it first.

I try to implement animation is loaded from assets and my image file is in a subdirectory of assets.

Just call setImageAssetsFolder with the relative folder inside of assets  (img_#).

First time I tried with img_01.png  img_02.png  img_03.png  etc then I want to scale it so I move to

[2017-07-09 01:09] gpeal commented on #373
@khoatd92 Lottie can't do anything with svgs. Why don't you just create the vector assets that you're using svgs for directly inside of After Effects?

[2017-07-09 10:47] PaulWoitaschek opened #374 "2.1 Release tag is missing"
Please add the missing 2.1 release tag

[2017-07-09 16:54] gpeal commented on #374
Added https://github.com/airbnb/lottie-android/releases/tag/v2.1.0

[2017-07-09 16:54] #374 closed

[2017-07-10 02:54] wangdaliu commented on #269
@gpeal Thanks for replying me, but my requirement may be a bit complicated. For example, the animation contains a man, the man keep moving. we want this person's eyes blinking according to a certain frequency(Including this man animation paused). Because the person's position keep changing, so it is difficult to achieve through overlap the view.  So now if can separate control animation seems to b

[2017-07-10 14:19] khoatd92 commented on #373
@gpeal yeah you're right, thanks for your help

[2017-07-10 14:19] #373 closed

[2017-07-11 00:53] gpeal commented on #371
@EdwinMurari Just noticed that that's an iOS screenshot. iOS doesn't support fill rules yet but we're working on it so stay tuned

[2017-07-11 00:53] gpeal commented on #371
@adamfisher ^

[2017-07-11 07:11] wyfang opened #375 "Show wrong, how do i use it correctly?"
Before, I used png pictures to do animation, but not fluent. So, this time to use AI to draw and then use AE to make animation, export, they are all wrong, where is the way I made it wrong?

Youtebe：https://youtu.be/NMDJjhh2UkM

This is AEP&json:[aepandjson.zip](https://github.com/airbnb/lottie-android/files/1137964/aepandjson.zip)

[2017-07-11 07:35] weidongjian opened #376 "Animation not stop when LottieAnimationView become Invisible or Gone"
I want to auto stop/pause animaitio when LottieAnimationView  is invisible...

[2017-07-11 07:53] EdwinMurari commented on #371
No check the post below :

<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"

[code]

[2017-07-11 10:17] fentonbutcher commented on #173
Hi, I've tried exporting an animation via bodymovin that contains text and it still isn't displaying.  I've installed the release from a day ago. Any help would be appreciated

[2017-07-11 15:00] gpeal commented on #371
The progress bar does have an issue that I'll look in to

[2017-07-11 15:01] gpeal commented on #173
@fentonbutcher upgrade bodymovin to 4.9.0. You can also check composition.getWarnings(). It'll give you some hints.

[2017-07-11 15:21] fentonbutcher commented on #173
@gpeal where do I check the composition.getWarnings().?
Also, I have checked 'Gliphs  - checked converts fonts into shapes'. I still can't see any text. Have upgraded to the most recent 4.9.0 version

[2017-07-11 16:07] gpeal commented on #173
@fentonbutcher Also make sure you have the latest Lottie (2.1.0)

[2017-07-11 16:15] fentonbutcher commented on #173
We're using Lottie it for react native. Has that also been updated?

[2017-07-11 22:52] gpeal commented on #173
@fentonbutcher not yet but try explicitly putting 2.1.0 in your gradle file to see if you can force it to use a newer version.

[2017-07-12 02:16] quanquanams commented on #309
@gpeal I have the same problem! But my designer promise no text! And no png!
And I don't know what is time remaping

[2017-07-12 02:21] qssq opened #377 "How to play multiple animations at the same time"
How to play multiple animations at the same time ?
How to make animation's background color transparent?

[2017-07-12 02:48] qssq opened #378 "CompositionLoaded has been called, but the animation did not immediately show"
CompositionLoaded has been called, but the animation did not immediately come out, even if I switch to a number of different animation, wait a few seconds after the animation can be displayed, after switching animation is normal, how is this going?
onCompositionLoaded 已经被回调了, 但是动画效果并没有马上出来，哪怕我切换多个不同的动画， 等了几秒之后动画才能显示出来，之后切换动画各种都是正常的，这是怎么回事？这不是网络问题因为都很快的回调了onCompositionLoaded  只是我感觉这时候又一个预加载过程，而这个过程

[2017-07-12 03:16] qssq commented on #378
delte attr autoplay =true  solute

[2017-07-12 06:18] qssq commented on #378
loadJsonAnimFromUrl  showDialog
[code]

[2017-07-12 06:47] qssq opened #379 "LottieBoundsTest_01.json fullscreen crash"
download demo fullactivity crash

      Caused by: java.lang.IllegalStateException: Unable to find file LottieBoundsTest_01.json

i want download LottieBoundsTest_01.json  test

[2017-07-12 09:44] leehong2005 commented on #379
you can debug the demo to find the root cause

[2017-07-12 11:42] simensqpg commented on #309
Same problem came up to me, and here is my json file, any help will be appreciated.It blocked me for a long time.
[data.json.zip](https://github.com/airbnb/lottie-android/files/1141827/data.json.zip)

[2017-07-12 22:15] gpeal commented on #379
@qssq Can you try with the latest lottie sample app?

[2017-07-12 22:16] gpeal commented on #378
@qssq Can you attach a small sample app that repros this?

[2017-07-12 22:17] gpeal commented on #377
@qssq just use multiple LottieAnimationViews
Animations are transparent by default, the background must be baked into the animation from your designer.

[2017-07-12 22:17] #377 closed

[2017-07-12 22:18] gpeal commented on #376
@weidongjian It auto stops when it gets [detached from the window](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L239). Stopping when the visibility is invisible would not be the expected behavior.

[2017-07-13 01:06] #378 closed

[2017-07-13 01:08] qssq commented on #379
versionCode 13
    versionName "2.0.0

[2017-07-13 01:10] qssq commented on #379
yes

[2017-07-13 01:10] #379 closed

[2017-07-13 03:11] talentqing opened #380 "The Size is 2 times larger for wrap_content"
LottieAnimationView use wrap_content for size, the actual size will be scaled 2 times.

for example:
PinJump.json size is 150x150
the actual is 2 times（screen size is 1080x1920）
![2](https://user-images.githubusercontent.com/30134668/28148475-8047a330-67b9-11e7-9a26-6cd501fab894.png)

the correct size
![image](https://user-images.githubusercontent.com/30134668/28148523-c1116324-67b9-11e7-9b50-a351

[2017-07-13 03:55] talentqing opened #381 "Hardware automatic recognition"
Can you according to the features of animation to decide use hardware? Because most animations is so simple and no hardware porblem, if any animation use software will be stuck when the ui is complex and the mobile phone performance is bad.

for exmaple:
[test.zip](https://github.com/airbnb/lottie-android/files/1143984/test.zip)
this animation in hardware is performance obviously better than in so

[2017-07-13 07:00] gpeal commented on #381
Yup, it's been on my mind to do something like this!

[2017-07-13 07:00] gpeal commented on #380
@talentqing Not sure I understand the question. Lottie converts all px values in AE to dps which will be ~2-3x depending on the device.

[2017-07-13 07:27] talentqing commented on #380
PinJump.json size is 150x150px
in picture 1, LottieAnimationView size is wrap_content in xml
in picture 2, LottieAnimationView size is 75dp in xml
picture 2 is correct size but picture 1 is not, so i think wrap_content has bug
in picture 2, 75dp correctly converts px value depending on the device

[2017-07-13 07:30] talentqing commented on #381
Do you plan to add this feature in the next release?

[2017-07-13 08:41] ymyronov opened #382 "Crash in Lottie"
Hello, we have the following crash in our live app for a small percent of users. We obviously can't reproduce it. Any idea why it may be happening?
We use 2.0.0-rc2.

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'java.lang.Object java.util.ArrayList.clone()' on a null object reference

android.animation.ValueAnimator.cancel (ValueAnimator.java:1067)
  | com.airb

[2017-07-13 10:50] talentqing opened #383 "useExperimentalHardwareAcceleration has a bug"
If the LottieAnimationView invoke setAnimation, playAnimation and useExperimentalHardwareAcceleration at the same time. useExperimentalHardwareAcceleration will be unusable. But if it invoke playAnimation after json parse,  then useExperimentalHardwareAcceleration will be usable.

The method of useExperimentalHardwareAcceleration is the View method, playAnimation will check it, but if playAnimatio

[2017-07-13 10:57] talentqing commented on #380
This is may be not a bug, main current ui making lottie in AE base 2x device.

[2017-07-13 12:44] fentonbutcher commented on #61
@gpeal For some reason, I can't get a pre-comp to work in my file. It exports from after effects fine but doesn't show up in ios

[2017-07-13 13:01] loptik opened #384 "X-/Y-Axis Problems with 3D Layers"
Json File ignores rotation keyframes of x- and y-axis of 3D-Layers when exporting out of after effects

looks fine in the demo.
but when using the code, it ignores the 3D-Layer and just does the rotation keyframes of the z-axis

![bildschirmfoto 2017-07-13 um 14 57 08](https://user-images.githubusercontent.com/12908463/28167371-b976fc88-67db-11e7-9c6e-d9137df00d0c.png)

[2017-07-13 16:17] therealsalih commented on #384
Hi @loptik 3d layers are supported by bodymovin but are not supported by Lottie

[2017-07-13 17:15] therealsalih commented on #309
@simensqpg can you post your AE file as well?

[2017-07-13 17:36] gpeal commented on #381
@talentqing Not sure, maybe.

[2017-07-13 17:36] gpeal commented on #381
@talentqing You can enable it manually today though.

[2017-07-13 17:50] gpeal commented on #61
@fentonbutcher Can you post the issue on lottie-ios then?

[2017-07-14 03:25] jpboro commented on #331
Found out that removing and reloading Assets folder removed the error

[2017-07-14 03:32] qssq opened #385 "Continuous insertion of multiple animation scenes is a live gift animation muti Out of memory on a 6484-byte"
Continuous insertion of multiple animation scenes is a live gift animation, and the feeling should be more common too

E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #3
                                                            Process: com.buyao.tv, PID: 2937
                                                            java.lang.RuntimeException: An error occured while executing doInBackground()

[2017-07-14 07:47] quanquanams commented on #309
@simensqpg
I found the problem
Lottie-android don't have

Currently Unsupported After Effects Features

I see it in lottie-ios

[2017-07-14 08:51] EdwinMurari opened #386 "Set composition with cache strategy."
I would like to load animation beforehand and also use cache strategy. For loading animation before hand I am using
`LottieComposition lottieComposition= LottieComposition.Factory.fromFileSync ( this, "hello-world.json");`
but loading composition does not have caching option.

[2017-07-14 12:54] fentonbutcher commented on #173
@gpeal is there a time frame for updating for react native?

[2017-07-14 12:54] fentonbutcher commented on #173
@gpeal just thought i'd say... thanks for the help so far :)

[2017-07-14 16:32] gpeal commented on #386
@EdwinMurari You can hold a reference to it yourself.

[2017-07-14 16:34] gpeal commented on #382
@ymyronov Are there any trends in the crashes? Only for certain manufacturers or certain versions of Android?

[2017-07-14 16:40] gpeal commented on #173
@fentonbutcher I pushed 1.2.0 for react native which supports text :)

[2017-07-14 16:40] #386 closed

[2017-07-17 06:55] Diwixi opened #387 "How best to implement the sequence of animations?"
How best to implement the sequence of animations?

I see two options. Many LottieAnimationView, which vary among themselves. LottieAnimationView or one who takes the path to the json and png and starts again.

Thanks for the reply...

[2017-07-17 08:22] ymyronov commented on #382
not really, I can't see any trends:
[https://ibb.co/jZCkPa](image)

*It does correspond to overall device distribution

[2017-07-17 08:25] ymyronov commented on #382
I suspect it might be something to do with devices that have systemAnimations disabled as we had issues on those before. (systemAnimationsAreDisabled property in LottieDrawable)

[2017-07-17 08:33] fentonbutcher commented on #173
@gpeal is it possible to use dynamic text with this now as well in the same way as:

https://codepen.io/airnan/pen/ZLVJmq?editors=0010

[2017-07-17 13:22] gpeal commented on #387
#291

[2017-07-17 13:22] #387 closed

[2017-07-17 14:15] gpeal commented on #173
@fentonbutcher Yes, use a text deleate

[2017-07-17 18:34] farazahmed7 opened #388 "Support centered text"
I am testing with a simple text layer but the alignment of the text is different in lottie app from the preview in after effects. I haven't done any changes to a new project expect for a text layer
I am attaching screenshots and json file

Ae preview
![capture](https://user-images.githubusercontent.com/1413332/28283651-f93445ba-6b4b-11e7-8adb-f27b02b6f1fc.PNG)

in lottie app

![screenshot_2017-07-

[2017-07-18 02:49] gpeal commented on #309
@quanquanams I need to update that. Lottie does support gradients. There is just a bug with a certain gradient configuration that I have to look in to

[2017-07-18 09:24] hexrelib opened #389 "ArraySet NoClassDefFoundError on v2.1.0"
I have a json file from my team's designer, it works fine when I used version 2.0.0, but after I upgraded to version 2.1.0, my app crashed. Here is the exception:

java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/util/ArraySet;
	at com.airbnb.lottie.PerformanceTracker.(PerformanceTracker.java:22)
	at com.airbnb.lottie.LottieComposition.(LottieComposition.java:44)
	at com.a

[2017-07-18 10:42] re-player opened #390 "Bug with shape layers"
Hi, I have an issue with rendering shape layers. Bug appears not only on complex shapes, but even on text converted to shapes (!).

Here, take a look please:
1) in after effects everything is ok: http://c2n.me/3MdXVut.png
2) here it is after rendering in bodymovin: http://c2n.me/3MdY8xR.png. i've pointed with arrows problem places + u can see what happened to the letters

This problem can be solve

[2017-07-18 14:16] gpeal commented on #389
@hexrelib have you excluded the dependency on the support lib in your gradle file or something?

[2017-07-18 17:09] bajabob opened #391 "Unable to subtract multiple masks from one shape layer"
Hello team and thank you for such a great framework, I have been following the progress for quite some time.

I am attempting to subtract two masks from a single shape layer and am not getting the desired effect, although adding two masks seems to be working just fine! The Lottie Animation viewer (available on the play store) has the same effect on the animation as our local 2.1.0 build. The anima

[2017-07-19 01:58] hexrelib commented on #389
@gpeal yes, I use "compile(libs.lottie) { exclude group: 'com.android.support' }" in my gradle file to solve dependencies conflicts.

[2017-07-19 02:49] siokagami opened #392 "No anime finish callback in Android version"
i can‘t find a finish callback when anime finished.

[2017-07-19 03:33] gpeal commented on #389
@hexrelib Well that'll do it... Why do you need to exclude the entire support lib. Something definitely sounds wrong with that setup. It's also not lottie specific.

[2017-07-19 18:33] therealsalih commented on #391
Hi @bajabob If you take those two masks and make them PATHS within the shape layer that should solve your problem

See this example:
![image](https://user-images.githubusercontent.com/5893643/28383469-168410e8-6c76-11e7-914a-6b09a78cd123.png)

Thanks!

[2017-07-19 18:34] therealsalih commented on #391
Also, we'll add Subtracting masks to our list of upcoming features. Thanks!

[2017-07-20 02:07] #309 closed

[2017-07-20 02:08] gpeal commented on #389
I'm going to close this. You can't use Lottie without the support lib.

[2017-07-20 02:08] #389 closed

[2017-07-20 02:11] gpeal commented on #390
@re-player Lottie doesn't support layer effects or expressions (getWarnings() reports your use of both). If there are still issues without using those, feel free to reopen this.

[2017-07-20 02:11] #390 closed

[2017-07-20 02:16] quanquanams commented on #309
@gpeal Did you fix this bug already?Or When?
I really need it! Or my designer have to give me a many png

[2017-07-20 02:30] gpeal commented on #382
@ymyronov Are you doing anything funny with threading? We haven't seen in production nor have I heard any other reports.
Digging into the code, it's trying to clone a listener inside of ValueAnimator.

[2017-07-20 02:32] gpeal commented on #375
@wyfang Can you post this on the bodymovin repo? There is an issue with the way it is being exported by bodymovin.

[2017-07-20 02:32] #375 closed

[2017-07-20 07:31] wyfang commented on #375
ok

[2017-07-20 09:47] re-player commented on #390
I wasn't asking about animation bugs. My question was about shape issues. Can u tell me why this is happening http://c2n.me/3MhMIEq.png? No effects on this layers.

[2017-07-20 12:59] sathvik87 opened #393 "Animation containing vector image is cut off because of the height of the container view"
I am using lottie:2.1.0
Test device is Nexus 5x running Android 7.x

Layout File:

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">

    <com.airbnb.lottie.LottieAnimationView
        android:id="@+id/animation_view"

[2017-07-20 14:53] gpeal commented on #393
@sathvik87 All px values get converted to dp. Your animation is 375x375 so it'll actually render 375dpx375dp. The correct solution is to have the designer change the composition size to 300x300 but you can also work around it by using scaleType=centerInside just like you would with any other ImageView.

[2017-07-20 14:53] #393 closed

[2017-07-20 15:17] sathvik87 commented on #393
@gpeal Hi, Thanks for the reply. I just tried android:scaleType="centerInside" and it did not fix the issue. But sure can be fixed by adjusting the container size or composition size. I think it will also be good if there is a warning in logs if the height of the animationView is smaller than the actual size of the animation. Probably, should add in feature request. Thanks again.

[2017-07-20 15:39] gpeal commented on #393
@sathvik87 If there are masks or mattes, only the region inside the view size will be rendered which is why you only see part of the plusses. If you can achieve the same animation without masks or mattes (which you can in this case), it'll be more performant not to use them anyway.

[2017-07-20 19:10] gpeal opened #394 "Do a 0 check in hashCode for path interpolator cache"
cc @azchohfi

[2017-07-20 20:23] DanielKaparunakis commented on #389
@gpeal I can reproduce this issue as well. My project needs to use the support library v23 so to solve dependency conflicts I did the following in my `build.gradle` file:
[code]
Per issue #77. Also as @hexrelib points out, it seems like the issue is only with v2.1.0. I tried v2.0.0, v1.5.3 and v1.5.2 and I did not have issues there.

[2017-07-21 03:15] gpeal commented on #389
@DanielKaparunakis It's because I added code that uses ArraySet in 2.1 which I guess was added in a support library after 23. Why, may I ask, do you need to compile with support lib 23? There are very few good reasons to need to do that...

[2017-07-21 03:19] #394 closed

[2017-07-21 11:58] sathvik87 commented on #393
@gpeal Thanks for informing about the Masks. We recreated the animation without masks and animation is working as expected on resize of the container too.

[2017-07-21 14:31] DanielKaparunakis commented on #389
As in turns out, I had the relationship of compileSdkVersion, minSdkVersion and targetSdkVersion mixed up in my head. I've cleared up my confusion so I am now using the latest support library.

[2017-07-21 17:09] gpeal commented on #389
@DanielKaparunakis yup, that was my assumption :) Glad you got it figured out.

[2017-07-24 08:07] PaulWoitaschek opened #395 "Scale breaks layers"
When scaling the image, it breaks some layers.

I created a video using the latest lottie app (2.1.0):
https://drive.google.com/file/d/0B5mpR2iy1EwyWVN0SnFmQWdWUmM/view

[2017-07-24 11:02] fentonbutcher commented on #173
@gpeal do I need to install a new version of bodymovin for after effects to get this to work?

[2017-07-24 11:12] fentonbutcher commented on #173
[text_test_v01.aep.zip](https://github.com/airbnb/lottie-android/files/1169627/text_test_v01.aep.zip)

[2017-07-24 11:23] fentonbutcher commented on #173
@gpeal do you have an example after effects file that contains text that hasn't been outlined that I could use as a reference?

[2017-07-24 11:38] fentonbutcher commented on #173
here's an example of what we see when pasting the .json into a codepen test

https://codepen.io/torrens/project/editor/DVvqmo/

[2017-07-24 12:33] AhYousefi opened #396 "crash: Unable to find file hello-world.json"
animationView.setAnimation("hello-world.json");

The hello-world.jsonis in the assets folder but
  crash : Unable to find file hello-world.json
i use java no kotlin

[2017-07-24 13:14] ymyronov commented on #382
@gpeal We don't see what is the cause from the logs, but I would suspect the following code:

`
//called from RecyclerViewAdapter.onBindViewHolder
public static void animate(final LottieAnimationView view) {
        Animator.AnimatorListener listener = new AnimatorListenerAdapter() {
            @Override
            public void onAnimationEnd(Animator animation) {
                view.removeAnima

[2017-07-24 14:18] gpeal commented on #382
@ymyronov onBind and onRecycled are not analogous methods. Bind can get called many times before it's recycled. This may be causing your issue.

[2017-07-24 14:21] gpeal commented on #173
Yes, you need 4.9.0 or later. It works fine for me.

[2017-07-24 14:21] gpeal commented on #173
@fentonbutcher ^

[2017-07-24 14:30] fentonbutcher commented on #173
@gpeal sorry for all the questions - can you confirm that it works fine in react native for you (just realised that this thread is under lottie-android)

[2017-07-24 14:45] gpeal commented on #173
@fentonbutcher Are you using lottie-react-native 1.2.0?

[2017-07-24 14:50] fentonbutcher commented on #173
@gpeal One of our devs will be in contact on this thread to confirm details. The app we are building will need to function offline as well as online. Would this have an impact on the fonts rendering?

[2017-07-24 15:04] torrens commented on #173
@gpeal  I'm using lottie-react-native v1.2.0 in an Expo application.  @fentonbutcher has created a JSON file using After Effects 2017 and the BodyMovin plugin.  Unfortunately, the text isn't showing in our react-native application, although it is showing correctly using bodymovin.js in a browser.

It would be good to have an example After Effects and exported JSON file that you believe displays te

[2017-07-24 15:12] JamieJuliusSundaySky opened #397 "Rotated text not rendered correctly"
The attached zip contains:
- JSON input
- Image of expected output
- Image of actual output

The composition contains two text layers "AB" and "CD". One is point text and one is paragraph text. They both have their Rotation property animated. The expected result is that each text sequence rotates around the anchor point, which is at the bottom left of each text sequence. The actual result is that

[2017-07-24 16:11] fentonbutcher commented on #173
@gpeal here's the link to the version we have working online: https://codepen.io/torrens/project/editor/DVvqmo/

Can you access this?

[2017-07-25 04:15] jcstfu opened #398 "Padding(Space) in Android Studio"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-07-25 08:32] JamieJuliusSundaySky opened #399 "Paragraph Text is not supported"
The DocumentData class does not seem to support the "sz" and "ps" properties, which are present for Paragraph Text.

As such, paragraph text is not rendered correctly.

[2017-07-25 08:33] JamieJuliusSundaySky opened #400 "Text with newlines crashes Lottie"
If text contains a newline (possibly any whitespace) Lottie will crash.
This is because Lottie is assuming that every character contains a "data" property with an embeded "shapes" property.

FontCharacter newInstance contains this line:

JSONArray shapesJson = json.optJSONObject("data").optJSONArray("shapes");

This does not take into account that json.optJSONObject("data") can return null. Such i

[2017-07-25 09:08] fentonbutcher commented on #173
@gpeal Morning. Sorry for all the messages. Do you know why we might be having the issues? We think it might be not being able to find the fonts.

[2017-07-25 10:04] ymyronov commented on #382
@gpeal thanks, you are right, bind can be called many, I have fixed that part, however it was not the cause for the issue.
I actually managed to reproduce the issue now and spotted the exact place it is happening.

Animations has to be disabled in phone settings and than when we call animateFromTo we can observe this crash every time.

'''java
public static void animateFromTo(LottieAnimationView f

[2017-07-25 11:58] JamieJuliusSundaySky commented on #397
Note that in the example above the text is rendered via the "useTextGlyphs" route. When going through the "Font" route all is well as the rotation is applied to the canvas as a whole and not to the individual paths:

    if (!lottieDrawable.useTextGlyphs()) {
      canvas.setMatrix(parentMatrix);
    }

[2017-07-25 14:47] bajabob commented on #391
Thank you so much for the awesome help!

[2017-07-25 14:47] #391 closed

[2017-07-25 17:38] gpeal commented on #173
@fentonbutcher
Yes, it renders fine on Android with React Native. It won't work on iOS though since iOS doesn't support text yet.
You can try it in the sample app from the lottie-react-native repo to test yourself.
![image](https://user-images.githubusercontent.com/1307745/28585521-4ab26fc8-7125-11e7-8fa8-01a90807074e.png)
[Text.json.zip](https://github.com/airbnb/lottie-android/files/1174268/Text

[2017-07-26 01:29] gpeal commented on #398
@jcstfu I'm assuming you're referring to https://github.com/bodymovin/bodymovin/issues/28#issuecomment-317624980

In that case, try using lottie for Android instead of the Android Studio svg importer. If that doesn't work, reopen this issue.

[2017-07-26 01:29] #398 closed

[2017-07-26 01:30] gpeal commented on #400
@JamieJuliusSundaySky Correct. Lottie doesn't yet support newlines but I should make it not crash at least.

[2017-07-26 01:31] gpeal commented on #399
@JamieJuliusSundaySky Lottie currently only supports single line text but I'll make a new issue to support multiline

[2017-07-26 01:31] gpeal opened #401 "Add support for multiline text"

[2017-07-26 01:31] gpeal commented on #399
https://github.com/airbnb/lottie-android/issues/401

[2017-07-26 01:31] #399 closed

[2017-07-26 01:31] gpeal commented on #400
https://github.com/airbnb/lottie-android/issues/401

[2017-07-26 01:31] #400 closed

[2017-07-26 01:39] gpeal commented on #396
@AhYousefi I'm not sure I understand the problem. Is this in your own project?

[2017-07-26 01:43] gpeal commented on #395
@PaulWoitaschek This is a limitation of the way masks work. A mask or matted layer can't be larger than the LottieAnimationView. What's happening here is that the view is rendering larger but the masked layers are getting clipped. The solution is to not make the animation larger than the view if there are masks or mattes.

[2017-07-26 01:43] #395 closed

[2017-07-26 01:53] #383 closed

[2017-07-26 01:55] gpeal commented on #392
Just confirmed that it still works in the lottie sample app

[2017-07-26 03:32] bearprada opened #402 "Image asset with alpha matte will be broken."
Please see the attachment:

![device-2017-07-26-112857](https://user-images.githubusercontent.com/1080103/28603355-107c1b34-71f6-11e7-85d0-05a2a6c3a4a4.png)

[2017-07-26 06:12] JamieJuliusSundaySky commented on #401
Thanks!

Please note that Paragraph Text doesn't work correctly even for single line text as it justifies the text to the layer's origin as opposed to the Paragraph Text box.

Speaking of justification, it would be great to add support for that too (at least center and right).

[2017-07-26 11:59] wangjiangchuan opened #403 "Are there any detailed API documentations of Lottie?"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-07-26 15:13] PaulWoitaschek opened #404 "Animation borders wrong when size is set fixed"
When I set an animation our designer created in the lottie preview app, everyhing works fine.

But when I set the dimension of the view to fixed bounds (like 100dpx100dp, even with the right aspect ratio), the layers of the animation are totally off.

I'm sending the images to your mail right now.

[2017-07-26 15:16] PaulWoitaschek commented on #404
What's weird is that by setting the scale factor to 0.1 it's working like expected.

[2017-07-26 15:40] PaulWoitaschek opened #405 "Unable to clear animation"
I currently find no reliable way to use lottie both for animations and for static images.

I use lottie in a recyclerview and depending on the state, I either set lottie images or regular drawables.
When I call `setImageResource` and `setAnimation` later, the images are either totally wrong or blank.
Is there a way to cancel ongoing animation loading requests and clear the lottie drawable before s

[2017-07-26 16:07] gpeal commented on #404
@PaulWoitaschek Views with a mask or matte can't be larger than the view and yours are 108x150. I'm currently trying to add some guards to prevent this particular case from happening though

[2017-07-26 16:14] PaulWoitaschek commented on #404
So that means in as future version it will work anyways?
And why does setting the scale fix the animation?

[2017-07-26 18:00] gpeal commented on #404
@PaulWoitaschek Setting the scale fixes it because it scales down the animation such that the mask and matte are no longer larger than the image. ImageView then re-scales it back up with centerInside. If you turn on hardware acceleration, you will probably see some pixelation if you do that though. In your case, the best thing to do is to ask your designer to make the composition 100px tall so tha

[2017-07-27 01:19] J20170726 opened #407 "Gradient Fill Issue"
The Gradient fill from AE does not work in the Android application.

I've tested it on lottiesfiles.com and it looks fine but not in Android.

It is showing me wrong color like below;
![screenshot_2017-07-27-10-15-15](https://user-images.githubusercontent.com/30452221/28650172-c6f1373c-72b4-11e7-9588-351e72fcf75d.png)

It is supposed to look like this;
<img width="758" alt="screen shot 2017-07-27

[2017-07-27 01:27] J20170726 commented on #407
Attached a zip including .json and .aep.
[Gradient Fill.zip](https://github.com/airbnb/lottie-android/files/1178476/Gradient.Fill.zip)

[2017-07-27 01:39] gpeal commented on #403
@wangjiangchuan Keep an eye on [http://airbnb.io/lottie/](http://airbnb.io/lottie/) over the coming weeks :)

[2017-07-27 01:39] #403 closed

[2017-07-27 02:07] gpeal commented on #402
@bearprada Can you provide more information and attach an animation that repros this?

[2017-07-27 02:08] gpeal commented on #380
@talentqing I'm not sure I understand the bug or the suggestion. Can you clarify?

[2017-07-27 02:09] gpeal commented on #371
@EdwinMurari the progress bar uses expressions which aren't supported by lottie.

[2017-07-27 02:09] #371 closed

[2017-07-27 02:11] #404 closed

[2017-07-27 08:09] PaulWoitaschek commented on #404
Thanks, that worked. What about adding a section where you describe these common issues & how to fix them?

[2017-07-27 12:43] groenroos opened #409 "Add support for Skew"
It appears that the Skew effects on my Shape Layer Group transformations are not reflected on Lottie. I wonder if this is a bug with my aep/Lottie implementation, since the readme does insinuate these being available ("Group Transforms (Anchor point, position, scale etc)"). bodymovin itself does seem to support it just fine.

[2017-07-27 13:41] fentonbutcher commented on #173
@gpeal thank you - unfortunately we're creating an app for both android and ios

[2017-07-27 18:52] gpeal commented on #404
@PaulWoitaschek I was actually able to solve this yesterday with the commit referenced above. It shouldn't be an issue after the next release :)

[2017-07-27 18:53] PaulWoitaschek commented on #404
But didn't you say this will cause pixelation?

[2017-07-27 18:54] gpeal commented on #404
Only if you scale it up significantly *and* are using hardware acceleration. There isn't a way around that without taking a huge performance hit.

[2017-07-28 15:38] re-player opened #410 "Repeater issue"
Hi,

I have an issue with repeater. For unknown reason it doesn't work right.
That's how it must be: http://c2n.me/3MvIBtT.png
And that's how it's in the app: http://c2n.me/3MvINPx.png

I've attached json file. No bugs after exporting via bodymovin http://c2n.me/3MvJlpW.png, smth happening exactly in lotty.

Can u help? I've send after effects file on ur email.
[data.zip](https://github.com/airbnb

[2017-07-28 16:48] gpeal commented on #410
@re-player I think you're actually running into the issue fixed by this: https://github.com/airbnb/lottie-android/commit/fcdac57b1918fb500d10f21bba7a02b8a8b597a1

I'll release 2.1.2 soon so you can test it or you can clone the repo yourself.

[2017-07-28 16:48] #410 closed

[2017-07-28 16:49] gpeal commented on #410
Lottie also doesn't support layer effects yet

[2017-07-28 16:54] gpeal commented on #173
@fentonbutcher Got it. Stay tuned. iOS will get support eventually.

[2017-07-28 17:02] re-player commented on #410
Em, i don't have any layer effects in there. Only shapes + repeater + alpha matte.Did u check my ae-file? All has been done very & very simple.20:50, 28 июля 2017 г., Gabriel Peal <notifications@github.com>:Lottie also doesn't support layer effects yet  —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.         Отправлено из моби

[2017-07-28 21:26] re-player commented on #410
Previous reply was from smartphone. Just have checked the link https://github.com/airbnb/lottie-android/commit/fcdac57b1918fb500d10f21bba7a02b8a8b597a1.

So, i need to update this files:

lottie/src/main/java/com/airbnb/lottie/CompositionLayer.java
lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java
lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java

and this bug will go away,

[2017-07-28 21:40] gpeal commented on #410
@re-player well you'll want to upgrade to 2.1.2 but yeah it should. I'll try and push that out today

[2017-07-28 21:41] re-player commented on #410
Ok, thx)

[2017-07-28 22:14] gpeal commented on #410
@re-player 2.1.2 is out

[2017-07-28 22:15] gpeal commented on #404
@PaulWoitaschek 2.1.2 is out

[2017-07-28 22:15] gpeal commented on #371
@EdwinMurari 2.1.2 is out

[2017-07-28 22:15] gpeal commented on #383
@talentqing 2.1.2 is out

[2017-07-28 22:15] gpeal commented on #395
@PaulWoitaschek 2.1.2 is out

[2017-07-28 22:16] re-player commented on #410
Downloading, thank u for a notice)

[2017-07-29 14:15] sinzen opened #411 "After effects size of composition in android"
Hi,

I try to run an animation in Android

With after effects and bodymovin..

what's the default size on after effect animation for Android device?

Thanks for your help.

[2017-07-31 09:36] re-player commented on #410
Hi, @gpeal

Sadly, but new release didn't do any better http://c2n.me/3Mynp97.png. Actually, it made repeater look worse than before(

[2017-07-31 09:37] re-player commented on #410
My idea is that smth very wrong with track mattes. It doesn't work right & all looks messed up cause of it.

[2017-07-31 10:12] re-player commented on #410
No, i was wrong. Track mattes has nothing to do with that. Even with simple masks we having this http://c2n.me/3MyteGN.png.

[2017-07-31 12:02] tekinarslan opened #412 "Unable to clear animation from memory"
Hi,
Thanks for great lib for animations.
I am define xml and play animation from java code.
My problem, When I finished activity but, memory usage not decreasing.
I try cache strategy types for tutorial pages, but I cannot reach solution.

Thanks.

[2017-07-31 13:10] re-player commented on #410
I've checked several scenarios  http://c2n.me/3MyUPor.png.

As u can see, repeater works fine, but masks & track mattes not. It's happening because of them.

[2017-07-31 17:09] gpeal commented on #411
@sinzen There is no default size but all px values in AE will get converted to dps.

[2017-07-31 17:09] #411 closed

[2017-07-31 23:01] gpeal commented on #368
@Qamar4P You're missing the animation itself (the json file). Add the json file exported by bodymovin to assets/ and set `app:lottie_fileName="yourAnimation.json"` in your layout.

[2017-07-31 23:01] #368 closed

[2017-07-31 23:01] gpeal commented on #385
@qssq Can you try on 2.1.2?

[2017-08-01 11:25] henriqrossatto opened #413 "Animation error with Android"
Hi there.

I created some animations for a app and when the developer test on android, the animation had a fill error that didn't have in IOS version. The problem is that there is not any fill where the error occour.

I attached the ae files and the images with the error

I'm a beginner in bodymovin, so I do not know if the way to export to Android is different from the one for IOS
[report_error.z

[2017-08-01 18:59] gpeal opened #414 "add playToProgress and playToFrame"

[2017-08-01 19:00] gpeal opened #415 "Add playAnimation(fromFrame, toFrame)"

[2017-08-01 19:03] gpeal commented on #407
This is a screenshot of your gradients vs what I see when I open after effects and export the json with bodymovin. Both of your gradients look different than what I'm seeing and after effects and lottie look the same on my computer.
![image](https://user-images.githubusercontent.com/1307745/28842142-64eb6214-76b1-11e7-9198-602a94ff74b2.png)

[2017-08-01 19:04] gpeal commented on #407
I'm going to close this but if you can come up with some repro steps, feel free to reopen.
Make sure to try on 2.1.2 as well.

[2017-08-01 19:04] #407 closed

[2017-08-02 01:41] J20170726 commented on #407
Where can I get the Bodymovin 2.1.2?

On Wed, Aug 2, 2017 at 4:05 AM, Gabriel Peal <notifications@github.com>
wrote:

[2017-08-02 01:55] gpeal commented on #407
Sorry for the delay. Just pushed it to maven. It's rolling out now.

On Tue, Aug 1, 2017 at 6:41 PM J20170726 <notifications@github.com> wrote:

[2017-08-02 01:55] gpeal commented on #410
There was an issue uploading 2.1.2. Can you try it again. It's rolling out
now.

On Mon, Jul 31, 2017 at 6:11 AM re-player <notifications@github.com> wrote:

[2017-08-02 07:12] JamieJuliusSundaySky opened #416 "Scaling Issues with Matte Layer"
It seems that the presence of a matte layer causes incorrect scaling.

There was an issue with this in release 2.1.0 and now there seems to be a different issue in 2.1.2.

The attached zip contains a document and JSON that describe the behavior.

[Android Scaling Issues With Matte Layer.zip](https://github.com/airbnb/lottie-android/files/1192946/Android.Scaling.Issues.With.Matte.Layer.zip)

[2017-08-02 07:41] PaulWoitaschek commented on #404
![lottie](https://user-images.githubusercontent.com/743462/28862807-c4c6aeae-7766-11e7-9ee3-d7d4f529b9e7.png)
Thanks. I think this caused other errors now in 2.1.2. When I set the width fixed and the height to wrap_content, my animations are cut off now.
The sample app has some scaling issues now, for example watch `Hello World.json`. In the default scale of 1.0, the text is cut off inside the bou

[2017-08-02 09:46] johanlin opened #417 "Lottie animation is not working when close Animation in developer options"
When I close animation like this, lottie don't work anymore.
![image](https://user-images.githubusercontent.com/8087423/28867977-8be8c10a-77aa-11e7-8da6-b8ad500887f7.png)
In this situation, how can i do to make it work

[2017-08-02 10:46] re-player commented on #410
Sadly, but nothing changed(

I have another problem, now with trim path. Pls, have a look here, i've recorded video
[trim path bug video.zip](https://github.com/airbnb/lottie-android/files/1193532/trim.path.bug.video.zip)

Lines appears via trim path, but not go away http://c2n.me/3MCyWXC.png. Trim path works only first time, don't know why.

I've send ae-file on ur email.

[2017-08-02 13:14] re-player commented on #410
UPD: i've changed trim path to scale, so now it working fine. But still would be great to figure out why this bug appeared.

[2017-08-02 16:06] gpeal commented on #410
@re-player Can you attach an aep file that reproduces the bug and open a new issue? Happy to take a look.

[2017-08-02 16:12] gpeal commented on #416
@JamieJuliusSundaySky I can take another look at this. In the mean time, keep in mind that composition size in pixels in AE will be converted to dps on your phone. What I recommend doing is to set the composition to the size you want or slightly smaller even then use centerInside as the scale type. There is some performance overhead and funky calculations that have to be done if the animation has

[2017-08-02 16:12] gpeal commented on #416
@JamieJuliusSundaySky here is a little bit of background on the issue: https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L303

[2017-08-02 16:15] gpeal commented on #417
@johanlin This is intentional (https://github.com/airbnb/lottie-android/blob/fcdac57b1918fb500d10f21bba7a02b8a8b597a1/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L63(. Lottie will show the last frame of the animation in this case.
If you want to make this work, create your own ValueAnimator from scratch since the system ValueAnimator will just call onEnd immediately and call setProg

[2017-08-02 16:15] #417 closed

[2017-08-02 16:21] gpeal commented on #413
@henriqrossatto can you try again with 2.1.2.
What's happening is you have a mask or matte and the animation is much larger than the view itself. The composition size in px in after effects gets converted to dps. In the mean time, try making your composition smaller or call setScale with value < 1 and use scaleType centerInside

[2017-08-02 16:29] henriqrossatto commented on #413
Thanks @gpeal. We resize the comp and works correctly.

[2017-08-02 16:34] #413 closed

[2017-08-03 12:08] liumingzhuo opened #418 "setAnimation again error"
 The few starting frames of the first animation will be shown when setting the animation playing again after setting the animation playing

[2017-08-03 20:04] CarlosVimos commented on #309
@gpeal Hello, how is going with this issue? I have the same problems as above. Can we expect this in this month? Regards

[2017-08-04 06:37] leehong2005 opened #419 "LottieDrawable.setAlpha does not make effect"
I encountered a problem, I set lottie drawable alpha, but no effect. My code is following:

[code]

What should I do?

[2017-08-04 07:53] leehong2005 commented on #419
SolidLayer#draw() method code is as following:

[code]

In this method, does NOT use the parentAlpha， I think the code should add the parent alpha,

[code]
should be changed to ：

[code]

Is it right?

[2017-08-04 08:04] gpeal commented on #419
@leehong2005 Yes, this seems correct to me. Want to put up a PR?

[2017-08-04 16:20] re-player opened #421 "Subtract doesn't work, why?"
Hi,

Have an issue with subtract. I've done very simple phone icon http://c2n.me/3MH9Jpp.png, but subtract masks seems to be not supported? That's really strange cause http://c2n.me/3MH9Rih.png.

In the app it's looking like this http://c2n.me/3MH9MTb.png. Only arrows + button are visible.
Lottie v2.1.0.

Attached ae file + json file.
[phone icon.zip](https://github.com/airbnb/lottie-android/files

[2017-08-05 05:25] Ari-Jin opened #422 "NumberFormatException in LottieComposition.fromJsonSync()"
When calling setAnimation(JSONObject) with JSONObject that does not fit the format,
crash (NumberFormatException) occurs at LottieComposition.fromJsonSync().

[code]

Because the call of LottieComposition.fromJsonSync() is made in doInBackground() of AsyncTask, however, exception cannot be handled at the point that calls setAnimation().

Therefore, I want you to handle the exception that could hap

[2017-08-06 01:20] gpeal commented on #422
@Ari-Jin Can you attach the aep file that causes this?

[2017-08-07 01:34] Ari-Jin commented on #422
JSONObject that I send to setAnimation() does not fit the format.
I mean, it is not the aep file.
setAnimation() is called with JSONObject that is from the response of server.
So it is for dealing with exceptions of response of wrong JSONObject.

[2017-08-07 01:52] #418 closed

[2017-08-07 06:34] zmax91 commented on #257
@gpeal time stretching is not working properly on 2.1 version for me. Can you please have a look at my .json or .aep files?

[2017-08-07 07:05] 1marcosgn opened #423 "Unable to play Lottie animation when the animation comes from a Remote URL"
I can't play the animation when calling

`LOTAnimationView(contentsOf: .. `

**According to the documentation of the method:**
/// Loads animation asynchrounously from the specified URL
    public init(contentsOf url: URL)

**This is my code, I don't know if I'm missing something:**

[code]

This is working fine when I load local files, I tried downloading the same file and I can see the animation

[2017-08-07 07:07] 1marcosgn commented on #423
Sorry I opened this issue on the Android side I was trying to open this on iOS

[2017-08-07 07:07] #423 closed

[2017-08-07 09:23] re-player commented on #421
Em, no answer?(

[2017-08-07 17:43] gpeal commented on #422
@Ari-Jin I understand that but I can't debug what part of the original animation is causing malformed json without the aep. I don't want to blindly catch an exception without understanding why it's happening.

[2017-08-08 02:52] Ari-Jin commented on #422
It is a malformed json that crased.
`{
"roi":""
}`

I want to prevent crash due to unpredictable response of server.

[2017-08-08 09:48] gpeal commented on #422
@Ari-Jin I recommend you do some sanity checks on the JSONObject before you pass it to Lottie then. Lottie will assume that the json is valid.

[2017-08-08 09:48] #422 closed

[2017-08-08 20:53] hotcrash143 opened #424 "Animation Play method completion block not called when app is sent to background and get to foreground during animation."
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-08-08 20:55] hotcrash143 commented on #424
I recently updated the Lottie SDK from v1.5.1 to v2.0.3. I see an issue on the new v2.0.3... This issues is not there in v1.5.1

Steps to reproduce:
1) Play the animation using the below method
func play(completion: Lottie.LOTAnimationCompletionBlock? = nil)
2) Dismiss the app to background in the middle of animation.
3) Open the app again (i.e. get to foreground)
4) Now observe that the completio

[2017-08-08 20:56] #424 closed

[2017-08-08 22:36] samiam2017 opened #425 "Play once then loop from frame to frame"
Before opening a new issue:

Is it possible to loop an animation once and then call the same animation to loop from e.g. frame 25 to frame 300? I've been looking for documentation in the issues and haven't been able to locate anything. any help would be appreciated.

[2017-08-09 01:25] #385 closed

[2017-08-09 21:13] sinzen opened #426 "Menu Android with lottie"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-08-09 21:15] sinzen opened #427 "Android menu list item lottie"
Hi, I start with lottie in Android,

I want to create menu slider in after effect with an hamburger icon but now I want to add a list of items inside the animation.. How can I do that with lottie ? Thanks for your answer.

[2017-08-10 00:14] ericawong opened #428 "Unable to play json plays in sequence or animation jumps"
Hi,

We were trying to play these 4 json in sequence (1, 2, 3, 3b) with a new button to play the next animation on each file. However, while playing the 2nd file, the animation would just stop in the middle. The 3rd one played just fine but when we were trying to play 3b, it loops back to 3 and won't play 3b.
[Archive.zip](https://github.com/airbnb/lottie-android/files/1213276/Archive.zip)

We are

[2017-08-10 00:44] gpeal commented on #427
@sinzen What do you mean a list of items inside the animation?

[2017-08-10 00:45] gpeal commented on #426
@sinzen Please fill in the bug template.

But to guess at your question, you can use LottieDrawable and put it anywhere you can use a normal drawable.

[2017-08-10 00:45] #426 closed

[2017-08-10 00:46] gpeal commented on #428
@ericawong Does this comment help?
https://github.com/airbnb/lottie-android/issues/250#issuecomment-296399128

[2017-08-10 00:47] gpeal commented on #425
We're going to add an API to do this but in the mean time, you can create your own ValueAnimator that animates from the progress equivalent of frame 25 and frame 300 and set the progress of the animation in the animation listener.

Under the hood, Lottie just uses a ValueAnimator from 0 to 1 to play an animation.

[2017-08-10 00:47] #425 closed

[2017-08-10 00:47] gpeal commented on #425
Duplicate of https://github.com/airbnb/lottie-android/issues/415

[2017-08-10 06:27] sinzen commented on #427
Thanks for your answer.. I mean when the menu is open in a mobile device
The links in this menu like Settings,User account..
I attach an image, I want to add links in the area orange
<img width="158" alt="capture d ecran 2017-08-10 a 08 24 29" src="https://user-images.githubusercontent.com/11914312/29157129-aee72d4e-7da5-11e7-95c8-2b78d49a2058.png">

[2017-08-10 11:14] sllikson opened #429 "Native typeface cannot be made"
I wanted to use this library in android for first time.
I added the tag in my xml layout
[code]
and i Passed animation name from javafile:
[code]
I also added the `hello-world.json` to assets folder.
**My Exception is:**
`java.lang.RuntimeException: native typeface cannot be made`
How can i solve this?

[2017-08-10 18:11] gpeal commented on #427
@sinzen Can't you just use normal views and lottie drawable or lottie animation views where appropriate?

[2017-08-10 18:19] sinzen commented on #427
Yes I understand a little, can you explain me more about lottie drawable, lottie animation.
And how can I use it?

[2017-08-10 18:23] gpeal commented on #427
@sinzen There is documentation on the readme. Please refer to that.

[2017-08-10 18:23] #427 closed

[2017-08-10 18:26] sinzen commented on #427
You confirm me Is that possible to do a complete menu with links and more?

[2017-08-10 18:31] gpeal commented on #427
@sinzen Not entirely with Lottie but you could use Lottie for the animations

[2017-08-10 18:31] gpeal commented on #427
Use normal views when you can

[2017-08-11 07:43] wangjiangchuan commented on #403
Thanks, I really get some help from these sites. However, I am a android engineer,  so what I want is some API documents, because I had used Lottie 1.1 in my projects and now Lottie is 2.1. Some some code in my project can not play the animation created from AE and even throw exception. But when I debug the problem, I founds there are some public interfaces provides by Lottie without any documenta

[2017-08-11 07:49] sinzen opened #431 "SetScale not working"
Hi,

I'm using lottie to do an animation. I try to resize the animation with : `animationView.setScale(0.9f);`

but isn't works.. here are my layout:
`<com.airbnb.lottie.LottieAnimationView
        android:id="@+id/animation_view"
        android:layout_width="100sp"
        android:layout_height="100sp"
        app:lottie_autoPlay="true"
        app:lottie_fileName="data.json"
        app:lottie_

[2017-08-11 15:52] sinzen commented on #431
I'm back..
Is the property below is missed to scale the animation?
`scaleType=centerCrop`
In my xml view I saw it here: [https://github.com/airbnb/lottie-android/issues/326](url)

[2017-08-11 17:07] franrc commented on #287
Hi, I had the same problem, it seems that the setAnimation takes some time for load the json.
My solution is to add a short timer before launching the animation :

[code]

Hope it helps.

[2017-08-11 18:11] SirLordPouya commented on #112
Hi
I have same problem as m1ga said but none of ScaleTypes work for me.
here is my code
`        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/animation_view"
            android:layout_width="48dp"
            android:layout_height="wrap_content"
            app:lottie_fileName="toggle_switch.json"
            android:layout_gravity="center"
            app:lottie_loop="true

[2017-08-11 18:44] gpeal commented on #403
@wangjiangchuan You shouldn't rely on reflection. The implementation likely will change if it's not a public API. What specifically are you trying to do?

[2017-08-11 18:59] gpeal commented on #112
@SirLordPouya Try setting a fixed height too

[2017-08-11 21:59] ericawong commented on #428
@gpeal Thank you! It does!

But another issue came up in file 2, I animated the spinner using trim path as mentioned in the document, but it doesn't seem to be rendering properly as well as the spinner is being cut off around the corners?

[2017-08-11 22:07] tehfailsafe commented on #388
I am having the same problem, looks perfect the bodymovin JS player web version, but on android everything is shifted over to the right (but correct vertical alignment)

[2017-08-11 23:21] gpeal commented on #428
@ericawong Can you attach the animation?

[2017-08-12 00:09] ericawong commented on #428
@gpeal Here it is! Thanks alot for the help!

[android.aep.zip](https://github.com/airbnb/lottie-android/files/1219328/android.aep.zip)

[2017-08-12 07:04] SirLordPouya commented on #112
@gpeal tnx but nothing changed.
here is my code again
`        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/animation_view"
            android:layout_width="48dp"
            android:layout_height="48dp"
            android:layout_gravity="center"
            android:scaleType="centerCrop"
            app:lottie_autoPlay="true"
            app:lottie_fileName="toggle_switch

[2017-08-13 01:26] gpeal commented on #429
@sllikson Sound like there is something wrong with your font itself or something about it that Android doesn't support. It doesn't sound like the exception is coming from Lottie itself.

[2017-08-13 01:26] #429 closed

[2017-08-13 02:56] #414 closed

[2017-08-13 02:57] gpeal commented on #396
@AhYousefi You should replace hello-world.json with the name of your animation.

[2017-08-13 02:57] #396 closed

[2017-08-13 03:42] gpeal commented on #412
@tekinarslan Did you try triggering a GC from Android Studio? If that doesn't help, can you attach a project that repros this?

[2017-08-13 04:20] #405 closed

[2017-08-13 11:08] sllikson commented on #429
@gpeal The problem was from the `.json` animation. As you said the Lottie works fine. I tested **another** one from the provided samples and it worked. Thanks for the answer.

[2017-08-14 08:58] tekinarslan commented on #412
@gpeal  Thanks for reply. I used GC for clear.

[2017-08-14 08:58] #412 closed

[2017-08-14 22:06] ericawong commented on #428
I have also attached a simple video and commented on the video as well.

Thanks a lot for the help,
Erica

From: Gabriel Peal <notifications@github.com<mailto:notifications@github.com>>
Reply-To: airbnb/lottie-android <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, August 11, 2017 at 4:21 PM
To: airbnb/lottie-android <lottie-android@noreply.github.com<mailto:lottie-android@no

[2017-08-15 01:03] gpeal commented on #431
@sinzen can you attach a sample project that repros this?

[2017-08-15 01:55] huangyanan opened #432 "java.lang.NullPointerException:Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference"
version：2.1.2

below is the crash log：

1 java.lang.RuntimeException:An error occurred while executing doInBackground()
--
2 android.os.AsyncTask$3.done(AsyncTask.java:309)
3 ......
4 Caused by:
5 java.lang.NullPointerException:Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference
6 com.airbnb.lottie.ba$a.a(Keyframe.java:159)
7 com.airbnb.

[2017-08-15 22:26] #415 closed

[2017-08-15 22:32] #432 closed

[2017-08-16 08:16] TheEnsis commented on #431
Me too.
I'm used file checked_done.json from lottiefile.com

[2017-08-16 08:37] SwayChen commented on #101
Hi, I meet this issue now.
[code]

I have set `enableMergePathsForKitKatAndAbove` in XML & Code.
[code]

[code]

[2017-08-16 18:18] gpeal commented on #382
@ymyronov Can you attach a sample project that repros this?

[2017-08-16 19:23] sinzen commented on #431
Hi,
To solve the issue I tried another way and it works..
I took the aep file, and I réduction the border of composition into the limit of my animation..
Android reseize to get a an animation without pixels.
In my XML (Android proj) I fixe the size and that's it. I'm doesn't use setscale in the java class.
I can post the project if you need ?

[2017-08-17 03:36] zx98cv12 opened #434 "scale question"
2.2.0 version:
lottie-android/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java
`public void setComposition(@NonNull LottieComposition composition) `

why delete this code:

[code]

[2017-08-17 08:33] adustdu2015 opened #435 "How import the LottieSample dir to a AS project"
hello, i am a newer to learn the Android. I want directly to import the  ./LottieSample dir into my project.Can you give me some steps,thanks.

[2017-08-17 09:53] re-player opened #436 "Performance issue"
Hi,

We having not typical issue with fps & perfomance. I've created 3 animated buttons in ae. When run test with 3 same buttons, fps is just awesome. Take a look pls: https://www.dropbox.com/s/nhom6eo8q9k31h7/video%20%2835%29.mp4?dl=0

But when it's not 3 copies of the same button, fps is way lower. U can see for yourself: https://www.dropbox.com/s/kqx23c5k5us8p8k/video%20%2841%29.mp4?dl=0

Can u

[2017-08-17 20:56] gpeal commented on #436
@re-player What do you mean by 3 copies of the same button?

[2017-08-17 20:57] gpeal commented on #435
@adustdu2015 Import the root directory of the repo.

[2017-08-17 20:57] #435 closed

[2017-08-17 23:03] re-player commented on #436
@gpeal hm, i guess u wouldn't ask this question if u would watch first video)

we've run several performance tests & sometimes we use the same button for that. 1 button is used 3 times (instead of 3 different buttons), like this http://c2n.me/3N1QUzC.png. but as i've already said, all 3 buttons have the very same animation, only difference between them is number of letters.

[2017-08-18 04:12] maoruibin commented on #380
I meet same issue, my designer give me 120 * 120 json file,  and i attache it  to my LottieAnimationView, LottieAnimationView use wrap_content for size, my device is 3x, so LottieAnimationView's size is change 360 * 360,  it's no problem, animation is play normally,  but i want it 120 * 120, so i used setScale(1f/3f) method for LottieAnimationView, but animation is play error, Now, i want to know

[2017-08-18 07:38] aidan-kang opened #437 "My Lottie file is not rendered properly on Android."
Hello,
My Lottie file is not rendered properly on Android unlike preview in "https://www.lottiefiles.com".
Please check the following. [https://www.lottiefiles.com/share/Xog2Ry](url)
Thank you.

[2017-08-18 08:28] #434 closed

[2017-08-18 08:37] zx98cv12 opened #438 "java.lang.IllegalStateException: Unable to load JSON."
Hi!
    this question debug loading json no problem,when setting minifyEnabled true  release.apk ,Unable to load JSON.
` java.lang.IllegalStateException: Unable to load JSON.
                                               at com.airbnb.lottie.LottieComposition$Factory.fromInputStream(TbsSdkJava:231)
                                               at com.airbnb.lottie.FileCompositionLoader.doInBackg

[2017-08-18 08:38] zx98cv12 commented on #438
.json:
`{"assets":[{"id":"image_0","w":318,"h":60,"u":"images/","p":"FFFFFF_46_318_60_nickname.png"},{"id":"image_1","w":532,"h":147,"u":"images/","p":"img_520_1.png"},{"id":"image_2","w":100,"h":100,"u":"images/","p":"gift.png"},{"id":"comp_0","layers":[{"ddd":0,"ind":1,"ty":2,"nm":"钻石","refId":"image_2","ks":{"o":{"k":100},"r":{"k":0},"p":{"k":[50,50,0]},"a":{"k":[50,50,0]},"s":{"k":[100,100,100

[2017-08-18 10:10] SwayChen opened #439 "v2.1.0 >> NullPointer in LottieDrawable$animator"
I can't reappear it, but caught by crash SDK. Exception message following

[code]

[2017-08-18 10:19] #438 closed

[2017-08-19 19:05] gpeal commented on #439
@SwayChen the formatting is not right on your stack trace. Can you attach a properly formatted stack trace and an animation that repros this?

[2017-08-19 19:07] gpeal commented on #437
Hah, you have to admit, it looks sort of neat how it gets rendered on Android...

Thanks for the report. I'll take a look.

[2017-08-21 03:26] SwayChen commented on #439
@gpeal Pity about that! It doesn't appear during my developing, so I can't offer stack trace in Android Studio. The exception message I offer before was caught by crash platform.

[2017-08-21 09:38] Kane-Shih commented on #382
In LottieDrawable, if systemAnimationsAreDisabled is true, it will cancel the animator immediately.
In ValueAnimator.cancel(), it will call notifyStartListeners() if the animation has not run yet, before calling onAnimationCancel().

Thus, you should not remove animator listeners at onAnimationStart().

To reproduce this crash, do:
1. remove animator listeners at onAnimationStart(), and
2. go to S

[2017-08-22 17:42] ijunes commented on #388
same here... i was able to modify some values in the json and get them to render correctly, but the additional "padding" was also added to the js web player

[2017-08-23 13:04] ymyronov commented on #382
Sorry guys, a bit busy those days... will come to you shortly

[2017-08-23 14:06] tobalr commented on #416
I just stumbled upon this issue as well. A temporary workaround is to calculate the scale for the animation by yourself

[code]

[2017-08-23 16:26] gpeal commented on #382
@Kane-Shih I can't repro this by following those two steps. If you could attach a repro project, that would be great.

[2017-08-24 17:54] therealsalih commented on #436
Hi @re-player can you send us the AE file so we can see how the animation is built?

[2017-08-24 17:57] re-player commented on #436
I've already solved the problem. Shapes in pattern have been replaced with same png-pattern. And fps became just awesome)

[2017-08-24 17:57] #436 closed

[2017-08-24 17:59] therealsalih commented on #436
@re-player oh awesome!
hrm so shapes were replaced with a png? Can you still send me an AE of the shapes that were causing the problem? I want to see if theres something about the way it was built that we can fix for other users down the line.

Thanks!

[2017-08-24 19:48] gpeal opened #441 "Add log keypath method"
ex Layer1.Fill1.Color

[2017-08-24 19:48] gpeal opened #442 "Add View layer"

[2017-08-24 19:48] gpeal opened #443 "Add arbitrary keypath + keyframe updating support"

[2017-08-24 19:49] gpeal opened #444 "Add touchable support"

[2017-08-25 10:55] ymyronov commented on #382
@gpeal Please find test project, you should be able to reliably reproduce the issue.
[project link](https://drive.google.com/open?id=0ByqvAe20o3oUYzFqUlJaOF84T28)
[screenshot](https://pasteboard.co/GHh1se7y.png)

Steps to reproduce:
1. start the emulator - Nexus_5_API_17
2. go to developer-settings, "drawing" section and set:
Window animation scale: Animation off
Transition animation scale: Animat

[2017-08-25 14:23] jackeleene opened #445 "Crash with custom font and \r"
Hi,

I'm currently trying to integrate an animation with custom font. I don't have the After effect file so I won't be able to post it here. Although, here is the JSON part that causes the problem :
`{
		"ch": "\r",
		"size": 60,
		"style": "Bold",
		"w": 0,
		"fFamily": "Nunito"
	}`

This misses the "data" object and I get a NullPointerException in FontCharacter Factory.
` Caused by: java.lang.Nu

[2017-08-25 14:33] re-player commented on #436
@therealsalih, yeah, sure, i can give it to u. can u pls tell me ur email, so i will send u ae-file?

[2017-08-27 20:44] #382 closed

[2017-08-27 21:09] gpeal commented on #439
@SwayChen Can you attach a better stack trace? There is some strange formatting in the one you posted.

[2017-08-27 21:28] gpeal commented on #437
@aidan-kang Can you attach the aep file?

[2017-08-28 08:40] SwayChen commented on #439
@gpeal I can't... the crash platform makes these stack trace through mapping.txt

[2017-08-28 10:46] SwayChen opened #446 "Can't pause animation when 'loop=true'"
Lottie keeps animating if `loop="true"`, and it is using CPU & Memory.

You can try this JSON:
[unconnected.json.zip](https://github.com/airbnb/lottie-android/files/1262580/unconnected.json.zip)

[2017-08-28 18:14] therealsalih commented on #436
@re-player can you send to lottie@airbnb.com

Thanks!

[2017-08-30 12:37] a641324093 opened #448 "(BUG)After execute animButton.setMinAndMaxProgress() animaction will resume from wrong progress"
![gif](https://user-images.githubusercontent.com/9691855/29872371-ef22e944-8dc1-11e7-858e-156f1ff2c611.gif)
As you see.After set MinProgress(Call setMinAndMaxProgress()) at middle point, while play animation again,progress while resume at wrong place (there are a distance between resume point and min-progress point)

[2017-08-31 02:40] reallychenchi opened #449 "Exception found in version 2.2.0"
With version 2.1.2 there is not such problem, after we update to 2.2.0, the exception was found.

Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$ArrayListIterator.remove(ArrayList.java:586)
       at com.airbnb.lottie.LottieDrawable.setComposition(LottieDrawable.java:169)
       at com.airbnb.lottie.LottieAnimationView.setComposition(LottieAnimationView.ja

[2017-08-31 17:40] RishabhTayal commented on #445
Having the same issue. What's the solution?

[2017-08-31 17:50] jackeleene commented on #445
I've edited the JSON file adding an empty JSONObject name "data" in every JSONObject that contains
`"ch": "\r"`

My example would be something like

`{ "ch": "\r", "size": 60, "style": "Bold", "w": 0, "fFamily": "Nunito", "data": {} }`

Hope this helps

[2017-08-31 17:58] RishabhTayal commented on #445
Thanks I will try it.

[2017-09-01 15:25] RishabhTayal commented on #290
Is there a way to download the images asynchronously and then provide it to `setImageAssetDelegate` method? I want to load image from a url asynchronously.

[2017-09-01 16:06] gpeal commented on #290
@RishabhTayal Yes, just return null until the image downloads then return the bitmap.

[2017-09-01 16:10] RishabhTayal commented on #290
@gpeal Will try that. Thanks!  👍

[2017-09-01 16:17] stevesamknows opened #450 "wrap_content ignored; LottieAnimationView centered and fills entire container"
Using latest version 2.2.0.

Create FrameLayout with 2 children: imageview and lottie animation view e.g.
[code]
The ImageView will be properly aligned and its background color will be restricted just
to the size of the icon.  But the Lottie animation will apparently ignore the "wrap_content"
request, and instead be centered in the frame layout, with its background color filling the entire frame l

[2017-09-01 16:22] stevesamknows commented on #450
Apologies, animation as exported may have been excessively generous with padding

[2017-09-01 16:22] #450 closed

[2017-09-01 17:22] RishabhTayal opened #451 "Text layer position issue"
Here is the [json file](https://gist.github.com/RishabhTayal/a7668f67b75003fe12b852d7319f19e1). I am trying to animate a simple text layer. It works on iOS SDK and also looks good on [lottiefiles](https://www.lottiefiles.com/share/VlID5H). The final position of the text in the actual animation file is horizontally centered while in the Android it goes all the way to the right. Is this a known issu

[2017-09-03 16:37] coryarmbrecht commented on #101
Hey @gpeal @SwayChen , I have run into this issue, but after seeing this thread and doing more digging, I still don't see where / how to properly do this. I tried @SwayChen 's way: `Animation.enableMergePathsForKitKatAndAbove(true)` with no luck, but I don't know where that initial code block goes.

I also tried adding `enableMergePathsForKitKatAndAbove` and `enableMergePathsForKitKatAndAbove={tru

[2017-09-03 19:10] gpeal commented on #101
@coryarmbrecht This prop hasn't been added to lottie-react-native. Feel free to submit a PR or open an issue and I'll do it later.

[2017-09-03 19:46] coryarmbrecht commented on #101
@gpeal , thanks, and I'd love to, but a couple things:
1. I don't know java :/ (But, I'm peeking around)
2. Didn't @SwayChen post a solution used? I just don't know what XML file and proper code usage.
3. When you said:

, did you mean that's how it can be fixed by writing that in the future? That sentence sounds like a feature I can just enable with setting to `true` somewhere. (Wishful thinking

[2017-09-03 21:01] gpeal commented on #101
@coryarmbrecht The functionality is there but lottie-react-native doesn't have a prop to enable it yet. I should add it though :)

[2017-09-04 00:53] gpeal commented on #223
Unfortunately, achieving this will incur a pretty heave performance penalty so I'd try alternative ways of achieving this. Precomps maybe?

[2017-09-04 00:53] #223 closed

[2017-09-04 01:59] coryarmbrecht commented on #101
Since I can't add with code, can a bounty[source] help this issue? Never done it before, but if would help aid this issue, I'd love to add to it. (I'll probably do this later tonight)

[2017-09-04 08:30] dss886 opened #452 "ArrayIndexOutOfBoundsException"
StackTrace:
[code]
Keyframe.newInstance() is a static method. I guess there are some multithreaded operation, but I am quite sure I didn't initial LottieAnimationView in multithread.

Is it a inner bug or I did something wrong?

[2017-09-04 17:48] gpeal commented on #452
@dss886 What are the repro steps for this?

[2017-09-04 22:27] coryarmbrecht commented on #101
So Bountysource won't let me throw funds toward a specific commit, but it will allow me to contribute directly to Airbnb. I'm not sure of protocol with things like this or Gratipay, but I'm all ears in anyway I can help this issue.

[2017-09-04 23:12] gpeal commented on #101
@coryarmbrecht don't worry about a bounty :)
This repo is Android specific though. Can you file an issue on lottie-react-native?

[2017-09-05 01:51] dss886 commented on #452
@gpeal Actually I don't know…it is one of the crash logs after I published my app.

[2017-09-05 04:01] lxdyglt commented on #449
Got the same issue, pls fix it

[2017-09-05 07:28] SwayChen commented on #452
@gpeal @dss886 this exception also caught by crash-platform in my app.

[2017-09-05 07:39] gpeal commented on #452
How common is the crash?

On Tue, Sep 5, 2017, 12:28 AM SwayChen <notifications@github.com> wrote:

[2017-09-05 07:47] dss886 commented on #452
@gpeal About 4-5 crash per day in my case. The distribution of the system version is uniform from 5.0 to 7.1.

[2017-09-05 07:50] dss886 commented on #452
And this crash begin to happen after I upgraded Lottie to 2.2.0. The last version of my app
 which is using Lottie 2.0.0 is ok.

[2017-09-05 08:12] moni890185 commented on #452
We face the same one, ~250 crashes per day, it's the most common crash we have in production but we can't reproduce it. Same here, we are on 2.2.0 and it does not appear to be related to any specific device/OS.

[2017-09-05 14:47] gpeal commented on #452
Thanks. I'll look in to this asap.

On Tue, Sep 5, 2017, 1:12 AM moni890185 <notifications@github.com> wrote:

[2017-09-05 16:31] #449 closed

[2017-09-05 16:37] #445 closed

[2017-09-05 16:39] krishnasajja opened #453 "Text Layer opacity changes not reflecting on Android app"
[lottie_text_opacity_test.zip](https://github.com/airbnb/lottie-android/files/1278025/lottie_text_opacity_test.zip)

This is the AE file that I'm using to test. The opacity changes on text layer are not reflecting on Android app.
I see opacity changes are supported on both Android and iOS. Is opacity not supported for text layer on Android?

[2017-09-05 21:27] #448 closed

[2017-09-05 21:28] krishnasajja opened #454 "Using ImageAssetDelagate and setImageAssetsFolder together"
I'm trying to use Lottie with 10 static images in 'images' folder inside assets directory and 1 dynamic image, downloaded from the internet at runtime.

If I use ImageAssetDelagate, I need to provide bitmaps for the static images as well along with the dynamic one using fetchBitmap() method. Is there a way that I can use 'setImageAssetsFolder' for all the static images and 'ImageAssetDelagate' for

[2017-09-05 21:32] #453 closed

[2017-09-05 21:33] gpeal commented on #454
@krishnasajja In this case, I'd recommend just doing the asset loading yourself and returning it from the image asset delegate. That way you won't incur the performance overhead of checking if the file already exists.

[2017-09-05 21:33] #454 closed

[2017-09-05 21:36] gpeal commented on #446
@SwayChen I just tried this and it works. If you can't fix it, can you reopen and attach a sample project that repros this?

[2017-09-05 21:36] #446 closed

[2017-09-05 21:36] gpeal commented on #451
Duplicate of #388

[2017-09-05 21:36] #451 closed

[2017-09-05 21:48] krishnasajja commented on #453
@gpeal Thank you for fixing this issue. Any idea on when the fix will be released? Thanks!

[2017-09-06 00:54] dhenry commented on #437
Hi @gpeal, I'm having a similar issue. I've posted the json here: https://pastebin.com/fQQLUqHf

The animation is rendered as a solid red square that fades in and out. Here's the same json on lottie preview: https://www.lottiefiles.com/share/khYBXv

[2017-09-06 02:40] magic1983 opened #455 "enableMergePathsForKitKatAndAbove ConcurrentModificationException"
In the newest version,There is a problem,this is stackover:

Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$ArrayListIterator.remove(ArrayList.java:586)
       at com.airbnb.lottie.LottieDrawable.enableMergePathsForKitKatAndAbove(LottieDrawable.java)
       at com.airbnb.lottie.LottieAnimationView.setComposition(LottieAnimationView.java)
       at com.airb

[2017-09-06 04:25] scotchirish opened #456 "Static images not working within the Android Lottie app"
Whenever I try to load an animation file (that references a static image) from a json URL (or a local folder on my sd card) from within the Android Lottie app, I get the following error message:
"This animation has images and no image folder was set"

For example, attempting to load https://www.lottiefiles.com/storage/datafiles/987d763ea05b6b57a3b2362a69408947/Health%20increase.json found at https

[2017-09-06 12:30] GauthierChan opened #457 "Lottie animation not rendered properly on Android O on my Nexus 6P"
Since I updated to Android O from 7.1.2 on my Nexus 6P, my animation doesn't render correctly.

Here is the expected animation. It's a robot with a loader in its helmet:

![good](https://user-images.githubusercontent.com/14746791/30111814-754b3f9c-930f-11e7-897b-844a87340cf7.gif)

and here is what I see on Android O on my nexus 6P

![bad](https://user-images.githubusercontent.com/14746791/30111800

[2017-09-06 14:49] gpeal commented on #437
@dhenry Your animation renders fine with 2.2.0

[2017-09-06 15:26] gpeal commented on #453
@krishnasajja aiming to get a release out today

[2017-09-06 15:36] RishabhTayal commented on #338
Why can't we have this feature? The lottie-ios library has this? It would be nice to have the parallel features in both platforms.

https://github.com/airbnb/lottie-ios/blob/master/lottie-ios/Classes/PublicHeaders/LOTAnimationView.h#L36

[2017-09-06 15:40] RishabhTayal commented on #453
Do you need to update the milestone and add this fix?

[2017-09-06 16:41] dhenry commented on #437
Thanks for the quick response @gpeal. It turns out I was just missing the lottie_scale attribute.

[2017-09-06 21:16] gpeal commented on #338
@RishabhTayal iOS has better networking support in the platform. Android's is pretty crap and almost every app uses okhttp or some other library. I've intentionally not tried to build something directly on the Android APIs so people would use their own networking stack.

[2017-09-06 21:16] gpeal commented on #453
@RishabhTayal Done. 2.2.1 is out.

[2017-09-06 21:19] gpeal commented on #457
@GauthierChan Yes, can you email me the aep files at lottie@airbnb.com

[2017-09-06 21:23] RishabhTayal commented on #338
I understand Android development's pain. Hopefully you will have a better networking support from Android API in future.

[2017-09-06 21:25] RishabhTayal commented on #453
:hooray:

[2017-09-06 21:25] RishabhTayal commented on #453
🎉

[2017-09-07 01:22] gpeal commented on #338
@RishabhTayal This is intentional and there are many great open source alternatives. There are examples of loading from the network [here](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/AnimationFragment.kt#L377) though.

[2017-09-07 20:33] CCorrado commented on #310
We are seeing this issue on API 23 and below across all devices. Serious issue with this library, is there a better fix?

[2017-09-08 19:47] drinkthestars opened #458 "Animation doesn't load when doing LottieDrawable#setComposition() in fromAssetFileName()"
Hey! :)

When I try to do something like:

[code]
The animation doesn't show up

Using `2.2.0` (since I'm still on compile/target/support lib version `25.0.1`) , not sure if its fixed on `2.2.1`

Related to https://github.com/airbnb/lottie-android/issues/37

[2017-09-08 20:04] drinkthestars opened #459 "LottieDrawable setComposition() doing too much on main thread"
Hey guys,

I'm trying to display animations on a large area of the screen, and these `.json` animation files are around `~500KB` in size.

After using `LottieComposition.Factory.fromAssetFileName(...)` and having the `LottieComposition composition` in hand, I realized a need to to `lottieDrawable.setComposition(composition)` asynchronously on another thread because it seemed to be doing some expen

[2017-09-08 23:34] gpeal commented on #310
@CCorrado Can you try with 2.2.1. There are a number of changes in 2.2.1 related to the way progress is handled.

[2017-09-08 23:51] gpeal commented on #459
@drinkthestars Sure, you can create your own LottieDrawable and then set it on any ImageView or even a LottieImageView

[2017-09-08 23:58] CCorrado commented on #310
Yes, we're compiling Lottie 2.2.1.

To start the animation, we're running this: (Our animator is dependent on a Timer, which is where the totalStateSeconds variable is updated/initialized)

[code]

and noticing that when we run:

`(LottieAnimationView) view.pauseAnimation`

The Animation restarts and plays from 0 on APIs 23 and below instead of pausing in its current state. We've tested on emulato

[2017-09-09 00:20] CCorrado commented on #310
Update, we have figured out a workaround for the issue....

[code]

Definitely not ideal! but it works for us for now.

[2017-09-10 01:46] gpeal commented on #458
@drinkthestars Your extra code is unnecessary. Just call `lottieAnimationView.setAnimation("something.json")`
If that doesn't fix it, can you attach a sample project that reproduces it?

[2017-09-10 18:11] gpeal commented on #437
@aidan-kang Can you attach your aep file?

[2017-09-10 18:30] gpeal commented on #310
I think this will fix your issue @CCorrado. It fixes some logic as well as the pre-23 issues you experienced. I tested this down to API 16.

[2017-09-10 18:30] #310 closed

[2017-09-10 18:31] gpeal commented on #456
@scotchirish You'll have to either compile the app with the images or add an ImageAssetDelegate to test out specific animations on lottiefiles with images.

[2017-09-10 18:31] #456 closed

[2017-09-10 18:32] gpeal commented on #456
That animation shouldn't need images for the record. I think whoever made it imported the man from Illustrator and didn't convert it to a shape layer.
http://airbnb.io/lottie/after-effects/artwork-to-lottie-walkthrough.html

[2017-09-10 18:32] CCorrado commented on #310
Nice. I'll review it in a bit. Had a feeling something was off internally, Android APIs are such a pain. +1 for Kotlin

[2017-09-10 18:35] gpeal commented on #455
https://github.com/airbnb/lottie-android/issues/449

[2017-09-10 18:35] #455 closed

[2017-09-10 18:36] gpeal commented on #439
I think this will be fixed by https://github.com/airbnb/lottie-android/commit/509da1bca7f5b363574279c9f0633c24b4ae5faa

[2017-09-10 18:36] #439 closed

[2017-09-10 18:47] gpeal commented on #428
@ericawong It seems to be rendering fine for me. Can you try on 2.2.1?
![slide](https://user-images.githubusercontent.com/1307745/30251898-d1318670-961d-11e7-995c-9bd95231cbdf.gif)

[2017-09-10 18:47] #428 closed

[2017-09-10 19:13] gpeal commented on #310
@CCorrado I wish I could write the Lottie library itself in it :(

[2017-09-10 20:22] drinkthestars commented on #458
Thanks for the quick reply!

Yes, I tried to use `setAnimation(...)`. So, if I do:
[code]

I see `playAnimation()` seems to play the animation that the `LottieAnimationView`'s `LottieDrawable` currently holds.

If after calling `lottieView.setAnimation("animation2.json")`, `animation2.json` isn't fully loaded yet, the second time I call `playAnimation()`,  I see `"animation1.json"` playing, and a

[2017-09-11 03:14] SwayChen commented on #452
Hi, this Exception still exists on `2.2.1`

[2017-09-11 03:38] gpeal commented on #452
@SwayChen Can you post another stack trace?

[2017-09-11 08:02] wysgh opened #460 "Support Video Embedding？"
feature request: Support Video Embedding

[2017-09-11 08:52] SwayChen commented on #452
I don't know the following trace is helpful or not. It's a crash log making with mapping file by Analytics platform, but it is similar with the trace by @dss886 .
[code]

[2017-09-11 16:18] gpeal commented on #452
@SwayChen Can you double check that this is definitely 2.2.1? This looks like it's coming from the try/catch that explicitly catches this: https://github.com/airbnb/lottie-android/blob/c7f4abb89fb10ec84085aa9760d52dc23225c1dd/lottie/src/main/java/com/airbnb/lottie/animation/Keyframe.java#L167

[2017-09-11 16:19] gpeal commented on #460
@wysgh Sorry, this is not currently on the roadmap for Lottie. If it gets added later, I'll reopen this issue or create a new one.

[2017-09-11 16:19] #460 closed

[2017-09-12 02:56] daisy1754 opened #462 "Lint NewApi error (bug in lint?) for using LottieValueAnimator#resume"
https://github.com/airbnb/lottie-android/commit/509da1bca7f5b363574279c9f0633c24b4ae5faa causes lint failure. It seems this is bug in lint tool (LottieValueAnimator implements `resume` but lint tool thinks it's `ValueAnimator#resume` which only exists on API 19+).

![screen shot 2017-09-11 at 7 17 59 pm](https://user-images.githubusercontent.com/980077/30305148-196f2f88-9726-11e7-9808-5151c409f2b8

[2017-09-12 05:01] gpeal commented on #462
@daisy1754 I just need to ignore lint. I made my own ValueAnimator#resume: https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/utils/LottieValueAnimator.java#L128

[2017-09-12 05:03] daisy1754 commented on #462
Yup, please take a look on https://github.com/airbnb/lottie-android/pull/463, which suppress the lint

[2017-09-12 06:08] SwayChen commented on #452
So sorry about that! I thought I have change to 2.2.1, but not in fact... :(

sorry to waste your time.

[2017-09-13 02:06] xaxup opened #464 "NullPointerException"
1 java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.lang.ref.Reference.get()' on a null object reference
2 java.lang.RuntimeException:An error occurred while executing doInBackground()
3 android.os.AsyncTask$3.done(.java:330)
4 ......
5 Caused by:
6 java.lang.NullPointerException:Attempt to invoke virtual method 'java.lang.Object java.lang.ref.Reference.get()'

[2017-09-13 05:35] memorycj opened #465 "Hello, I was using Lottie2.2.0 in my project on the emergence of this error, V7 package version is 25.0.0"
No resource found that matches the given name (at 'icon' with value '@drawable/abc_ic_search_api_mtrl_alpha').

[2017-09-13 06:25] gpeal commented on #465
@memorycj I'm not sure what this means. Can you post a stack trace or something?

[2017-09-13 06:33] memorycj commented on #465
@gpeal Sorry, V7 25 package in the name of some of the documents made a change, resulting in a project inside the aar can not find the resources, not lottie problem. lottie cited in the V7 26.0.1 in China can not download ...

[2017-09-13 06:43] gpeal commented on #465
You can follow the steps here: https://github.com/airbnb/lottie-android/issues/77

[2017-09-13 06:43] #465 closed

[2017-09-13 06:59] memorycj commented on #465
@gpeal thank you

[2017-09-13 16:41] CCorrado commented on #310
@gpeal is there a snapshot of 2.2.2 with those changes you made? The workaround start/pause/resume is pretty unreliable, although it significantly reduced the amount of times the issue occurs it still sometimes does happen. Just curious, we can wait for 2.2.2 to be released before compiling it

[2017-09-14 01:51] gpeal commented on #464
Fixed by https://github.com/airbnb/lottie-android/commit/6669e4d41b7c3e69c7597fb7be2c5e05e9b03df7 in 2.2.3 which is now out.

[2017-09-14 01:51] #464 closed

[2017-09-14 01:52] gpeal commented on #310
@CCorrado @kakai248  2.2.3 is now out

[2017-09-14 01:52] gpeal commented on #439
@SwayChen 2.2.3 is now out

[2017-09-14 08:31] LxFFF opened #466 "Animation do start at IOS without Android."
@gpeal

the [images.zip](https://github.com/airbnb/lottie-android/files/1302265/images.zip) unzip at android and iOS successful.
#260
without water 😭,
other files were successful to show like that [paoche.zip](https://github.com/airbnb/lottie-android/files/1302320/paoche.zip)

## IOS:
![5fd97e74731b025285c165ad9ce3cb42](https://user-images.githubusercontent.com/10859832/30419471-06f71eca-9969-11e7

[2017-09-14 08:40] dss886 commented on #452
well, I got a similar crash with 2.2.1...

[code]

[2017-09-15 10:03] AndroidJohnsonWang opened #467 "Can the animation be displayed in the first or last frame?"
I didn't find the way. I hope you can tell me

[2017-09-15 15:38] gpeal commented on #467
@AndroidJohnsonWang Call setProgress(0) or setProgress(1)

[2017-09-15 15:38] #467 closed

[2017-09-15 15:44] gpeal commented on #466
This is what it looks like for me. If it's not correct, feel free to reopen.
![boat](https://user-images.githubusercontent.com/1307745/30491380-f2f156c8-99f1-11e7-8e74-948750b3abe2.gif)

[2017-09-15 15:44] #466 closed

[2017-09-15 15:50] gpeal commented on #416
I think this will be fixed bt #461

[2017-09-15 16:25] gpeal commented on #419
This is fixed in the latest release (2.2.2)

[2017-09-15 16:26] #419 closed

[2017-09-15 16:26] gpeal commented on #369
@dannyzhuang @xanatrobe  Can you try again with 2.2.1?

[2017-09-18 02:50] magic1983 opened #468 "LottieValueAnimator.setProgress-->StackOverflowError: stack size 8MB"
Fatal Exception: java.lang.StackOverflowError: stack size 8MB
       at android.animation.ValueAnimator.animationFrame(ValueAnimator.java:1190)
       at android.animation.ValueAnimator.doAnimationFrame(ValueAnimator.java:1248)
       at android.animation.ValueAnimator.setCurrentPlayTime(ValueAnimator.java:546)
       at com.airbnb.lottie.utils.LottieValueAnimator.setProgress(LottieValueAnimator.j

[2017-09-18 02:54] magic1983 opened #469 "LottieValueAnimator$2.onAnimationUpdate(LottieValueAnimator.java:39)"
Crashed: main: 0 0 0x0000000000000000
       at java.lang.Float.valueOf(Float.java:397)
       at android.animation.PropertyValuesHolder$FloatPropertyValuesHolder.getAnimatedValue(PropertyValuesHolder.java:934)
       at android.animation.ValueAnimator.getAnimatedValue(ValueAnimator.java:738)
       at com.airbnb.lottie.utils.LottieValueAnimator$2.onAnimationUpdate(LottieValueAnimator.java:39)

[2017-09-18 13:51] stefanomemrise commented on #468
same happening here

[2017-09-18 21:37] gpeal commented on #468
Should have been fixed by https://github.com/airbnb/lottie-android/commit/1c8d25a1cf1741d781bef4600028dad93c1761a8
Please update to 2.2.3

[2017-09-18 21:37] #468 closed

[2017-09-18 21:38] gpeal commented on #469
@magic1983 I think this is a duplicate of https://github.com/airbnb/lottie-android/issues/468

[2017-09-18 21:38] #469 closed

[2017-09-19 23:16] GuillaumeLachaud commented on #380
I am not sure I can clarify what the original author of this task is meaning but I think I am seeing something very similar. It affects LottieAnimationView when using `wrap_content `. It got introduced somewhere between Lottie 2.0.0 and 2.2.0. I can also confirm https://github.com/airbnb/lottie-android/pull/461 fixes the issue.
As an alternative, using `.setScale(0.5f)` in our app solves the issue

[2017-09-20 00:05] #380 closed

[2017-09-20 00:06] #431 closed

[2017-09-20 00:06] gpeal commented on #462
Fixed by https://github.com/airbnb/lottie-android/pull/463

[2017-09-20 00:06] #462 closed

[2017-09-20 01:40] #416 closed

[2017-09-20 01:49] #457 closed

[2017-09-20 01:56] #452 closed

[2017-09-20 01:56] #437 closed

[2017-09-20 01:57] gpeal commented on #437
Feel free to reopen this if there is still an issue with 2.2.4

[2017-09-20 02:08] gpeal commented on #380
@talentqing @GuillaumeLachaud v2.2.4 is now out

[2017-09-20 02:09] gpeal commented on #437
@dhenry 2.2.4 is now out

[2017-09-20 02:09] gpeal commented on #452
@dss886 @SwayChen @moni890185  v2.2.4 is now out

[2017-09-20 02:09] gpeal commented on #457
@GauthierChan v2.2.4 is now out

[2017-09-20 02:10] gpeal commented on #416
@JamieJuliusSundaySky @tobalr v2.2.4 is now out

[2017-09-20 02:10] gpeal commented on #431
@sinzen @TheEnsis v2.2.4 is now out

[2017-09-20 02:10] gpeal commented on #469
@magic1983 v2.2.4 is now out

[2017-09-20 03:18] microink opened #471 "Android version some image size problem"
Thank you for providing such a good library.

I was in use when I encountered a problem with my compressed package in the animation, the rainbow showed incomplete, or not shown. In some large-size flat panel will show some, or a complete display, test the IOS version, and there is no such issue, whether the Android version size calculation of some problems?

I upload image always fail, you can see

[2017-09-20 06:22] letterb opened #472 "java.lang.ArrayIndexOutOfBoundsException in 2.2.3"
occur this crash in 2.2.1. After I update to com.airbnb.android:lottie:2.2.3, it occur again, Help please!

java.lang.RuntimeException: An error occurred while executing doInBackground()
	at android.os.AsyncTask$3.done(AsyncTask.java:309)
	at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)
	at java.util.concurrent.FutureTask.setException(FutureTask.java:223)
	at java.util.con

[2017-09-20 07:01] gpeal commented on #472
@letterb Try 2.2.4
This should have fixed it: https://github.com/airbnb/lottie-android/commit/5af69e7f81877a465d10718450c3dfa65891cdab

[2017-09-20 07:01] #472 closed

[2017-09-20 07:02] gpeal commented on #471
@microink Can you try again with 2.2.4?

[2017-09-20 08:22] microink commented on #471
Oh,The problem is solved and thank you very much.

But there is a problem, I use 2.1.2, directly in the same LottieView directly on the allocation of resources and then playAnim no problem, but in 2.2. * After the above android 5.0 and above must cancelAnim, and then playAnim can be normal Display animation, or only show the first frame animation, and then directly into the AnimEnd, android7.1 abo

[2017-09-20 09:13] IonutNegru87 opened #473 "Different version of android support library"
My current project uses android support library `25.4.0`.
After adding lottie to my module as an dependency (version **2.2.3**), it doesn't compile anymore failing at the manifest merger task due to multiple support library versions.

This is the error message:
[code]

[2017-09-20 10:00] microink commented on #471
@gpeal

[2017-09-20 11:18] microink commented on #471
//5.0
sLottieAnimationView.cancelAnimation();
//7.0
sLottieAnimationView.reverseAnimation();
sLottieAnimationView.playAnimation();

[2017-09-20 11:20] #471 closed

[2017-09-20 17:08] gpeal commented on #473
Duplicate of #77

[2017-09-20 17:08] #473 closed

[2017-09-21 05:12] letterb commented on #472
Thanks! i will try it soon!

[2017-09-22 02:15] LxFFF commented on #466
@gpeal Think u,i'll be try again. 👍

[2017-09-23 08:17] hyne-shan commented on #389
you can modify PerformanceTracker.java

private final Set<FrameListener> frameListeners = initSet();

private Set<FrameListener> initSet(){
      if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.M) {
          return new ArraySet<>();
      }else {
          return new HashSet<>();
      }
  }

[2017-09-23 23:32] fermuch opened #474 "Crash when using animation"
Please see https://github.com/airbnb/lottie-react-native/issues/154

The crash happens on the latest version of lottie-android (2.2.5) and the Lottie Preview app.

Here are the files I used that caused the crash:
[Morphing icon.zip](https://github.com/airbnb/lottie-android/files/1326944/Morphing.icon.zip)

Inside there is a file called `exported.json`, which works okay with bodymovin.

[2017-09-25 03:12] chievent opened #475 "animation splash a shot in the end."
my animation splashed a shot in the end. but the same json worked well in ios version and web version.
[ThumbAnim.zip](https://github.com/airbnb/lottie-android/files/1328156/ThumbAnim.zip)

[2017-09-26 07:36] keyguan opened #476 "animation stay in the first frame and can’t play"
when use LottieAnimationView  play animation,the animation stay in the first frame  and  can’t play.
device params:  android version 4.4.2
DEVICE=8675-HD HARDWARE=mt6592 FINGERPRINT=Coolpad/8675-HD/8675-HD:4.4.2/KOT49H/4.4.043.P0.150802.8675-HD:user/release-keys BOARD=cp8675_t01 MODEL=Coolpad 8675-HD

![lottie_error](https://user-images.githubusercontent.com/6700343/30847887-bea9be96-a2cf-11e7-89d

[2017-09-26 07:38] keyguan commented on #476
this phone use example from github is the same error.

[2017-09-26 10:03] letterb opened #477 "java.lang.UnsupportedOperationException: Use addColorFilter instead. in Android 4.0.4 @ lottie-android2.2.5"
java.lang.UnsupportedOperationException: Use addColorFilter instead.
	at com.airbnb.lottie.LottieDrawable.setColorFilter(LottieDrawable.java)
	at android.widget.ImageView.applyColorMod(ImageView.java:1066)
	at android.widget.ImageView.updateDrawable(ImageView.java:611)
	at android.widget.ImageView.setImageDrawable(ImageView.java:359)
	at android.support.v7.widget.AppCompatImageView.setImageDrawabl

[2017-09-26 10:13] PavelSynek opened #478 "Animation is rendered incorrectly on Android"
I am using Lottie 2.2.5 and this animation [anim.json.zip](https://github.com/airbnb/lottie-android/files/1332671/anim.json.zip) isn't rendered properly. When opened on iOS or in web player, the mask animation follows the scanner line, but in Lottie Android app, the mask animation is twice as fast. Is there anything we can do with the animation to fix it or is the problem in Lottie?

I can send yo

[2017-09-26 11:58] kenyee commented on #477
We hit this too... Something new in 2.2 😔

[2017-09-26 16:53] kenyee commented on #477
Tested versions of Lottie until I found when this was introduced...2.2.0 doesn't have this, but it also doesn't have the fix for the the stack overflow from stopping an animation (https://github.com/airbnb/lottie-android/issues/468) that is in 2.2.3 :-(

[2017-09-26 17:10] kenyee commented on #468
Looks like LottieValueAnimator was added in 2.2.0, so the stack overflow bug was introduced then

[2017-09-26 18:14] gpeal commented on #477
@letterb @kenyee LottieDrawable handles its own color filters through addColorFilter. Using setColorFilter should never have had any effect anyway. Did you try using addColorFilter instead?

[2017-09-26 18:15] gpeal commented on #476
@keyguan Can you attach the animation?

[2017-09-26 19:40] kenyee commented on #477
@gpeal : the addColorFilter is being done from within the Lottie code....same animations work fine in 2.2.0 and 2.1.2 (I've rolled back to 2.1.2)

[2017-09-26 21:47] gpeal commented on #477
@letterb @kenyee Digging through the ICS source, it looks like they apply color mods to any view that has an alpha set on it... [ICS](https://github.com/android/platform_frameworks_base/blob/ics-mr0/core/java/android/widget/ImageView.java#L1034) vs [Nougat](https://github.com/android/platform_frameworks_base/blob/master/core/java/android/widget/ImageView.java#L1558).

For now, try not setting an a

[2017-09-27 05:31] gpeal commented on #478
@PavelSynek yeah, can you zip and attach the aep?

[2017-09-27 06:53] wangshaolei opened #479 "How to control the animation view's Size"
How to control the animation view's Size, thanks~

[2017-09-27 08:28] PavelSynek commented on #478
Here's the aep [scanning_animation_error.aep.zip](https://github.com/airbnb/lottie-android/files/1336291/scanning_animation_error.aep.zip)

[2017-09-27 13:37] gpeal commented on #479
@wangshaolei Just use layout_width, layout_height and scaleType as you would with any ImageView and make sure you're on Lottie 2.2.5.

[2017-09-27 13:37] #479 closed

[2017-09-27 13:38] gpeal commented on #477
Seems like this colorfilter check was added in Lollipop so for now, don't set the alpha on a LottieAnimationView if it's running on pre-L devices.

[2017-09-28 01:22] liukaichi commented on #397
Happens with me too. Any workarounds?

[2017-09-28 01:53] wangshaolei commented on #479
@gpeal hi, layout_width,layout_height and scaleType is valid only on 2.2.5， i cant find about api ? thanks~

[2017-09-28 01:53] wangshaolei commented on #479
@gpeal api address? thanks

[2017-09-28 01:54] wangshaolei commented on #479
@gpeal api docs and address? thanks

[2017-09-28 02:14] gpeal commented on #479
@wangshaolei These are just attributes on ImageView.

[2017-09-28 02:24] wangshaolei commented on #479
@gpeal thanks,i see

[2017-09-28 14:43] Tobias-Reich opened #480 "com.airbnb.lottie.value missing"
I wanted to use the dynamic properties for changing the opacity of one of my layers.

I found a DynamicPropertiesFragment file in your samples that got removed. Trying to use _com.airbnb.lottie.value.*_ also led to an error. It looks like the package is no longer included in Lottie 2.2.5
Is there any workaround currently?

[2017-09-28 14:46] gpeal commented on #480
@Tobias-Reich It hasn't been released yet
https://github.com/airbnb/lottie-android/pull/447

[2017-09-28 14:46] #480 closed

[2017-09-28 18:12] drinkthestars commented on #458
Update~~

Realized what was going wrong. After setting the `LottieDrawable` on the `LottieAnimationView`:
[code]

If I called `playAnimation()` on the view like so:
[code]

The animation wouldn't play. Then I tried calling `playAnimation()` on the `LottieDrawable` and that seemed to do the trick! Looks like this is because `LottieAnimationView` keeps its own `LottieDrawable` and that reference is

[2017-09-28 18:15] drinkthestars commented on #459
Didn't get it to work the first time since after setting the prepared `LottieDrawable` on the `LottieAnimationView`, I called `playAnimation()` on the _view_.
It only works if `playAnimation()` is called on the `LottieDrawable` that was externally set on the `LottieAnimationView` (see https://github.com/airbnb/lottie-android/issues/458#issuecomment-332919567)

[2017-09-28 19:26] krishnasajja opened #481 "Text Layer is not positioning correctly on Android"
I'm trying to animate images as well as some text, which I want to change dynamically. I notice that the images are positioned correctly on Android device while the text is off to the right.

Output Screenshot:

![screenshot_1506626350](https://user-images.githubusercontent.com/3412611/30986146-18359ee2-a458-11e7-8911-85a5cc11be2b.png)

Here is the json file that we are using.
[android_text_test.j

[2017-09-29 07:28] OzgurSe opened #482 "Animation is not playing properly neither ios nor android"
I cant get the animation correctly to show up on ios and android, on exported html file the animation is fine but when I ll import it to ios first part of the animation is wrong

Don't know what i'm doing wrong!

attaching my ae file, json file and android screen grab.

 Any help would be great!

[AE-06.aep.zip](https://github.com/airbnb/lottie-android/files/1343411/AE-06.aep.zip)
[json-html.zip](

[2017-09-29 09:36] #482 closed

[2017-10-04 13:25] hake commented on #173
@gpeal news about ios text and dynamic text support ?

Thanks for the work

[2017-10-04 15:41] GauthierChan opened #483 "Animation not being chained properly since 2.2.2"
On every version since 2.2.2 included, I see my animations not being chained properly.

Here is a gif of the chained animation working on 2.2.1 (see the little robot at the bottom of the screen):

![good](https://user-images.githubusercontent.com/14746791/31183410-ca5e0e7e-a926-11e7-9d1f-cc5824d8e396.gif)

it is made of 2 compositions that are chained following user's actions:
(1) -> When the user

[2017-10-05 04:58] drinkthestars opened #484 "In 2.2.5 resumeReverseAnimation() doesn't start from current progress"
Recently updated to `2.2.5` and noticed some weird behavior with `LottieAnimationView#resumeReverseAnimation()`

Doing something like:

[code]

Doesn't seem to reverse the animation from `0.05f` -> `0f` , but instead reverses from `1f` -> `0f`.

On `2.2.0` which I was using before, that code works as expected, i.e. `resumeReverseAnimation()` caused it to be played from `0.05f` -> `0f`

Sample proj

[2017-10-05 13:06] Curwer commented on #211
@gpeal Any news on this issue?

[2017-10-05 14:33] RobertoIDL commented on #284
Hi,

I'm facing the exact same issue now. I want to show the animation inside one of my dialog, and the animation takes a few milliseconds to show. Can you please let us know what you did to fix it?

Meanwhile I will try to load the animation in advance.

Thanks.

[2017-10-05 14:37] madd86 commented on #284
@RobertoIDL You can find what I used below:

[code]

The above code should be loaded before the dialog shows up.

[2017-10-05 14:48] RobertoIDL commented on #284
Thanks!!!

I was just trying exactly the same:

`  LottieComposition.Factory.fromAssetFileName(ActMain.this, "test.json", new OnCompositionLoadedListener() {
            @Override
            public void onCompositionLoaded(@Nullable LottieComposition composition) {
                LayoutInflater inflater = LayoutInflater.from(ActMain.this);`

Working good!

[2017-10-06 14:55] luciancioroga commented on #388
Same here. I'm trying now with bodymovin 4.11.1 and lottie 2.2.5. Basically, what AE and bodymovin considers the center of the text, lottie considers the bottom left corner as far as I can tell.

[2017-10-06 14:55] luciancioroga opened #485 "Add Range Selector support for Text animators"
This would be a nice to have feature, and would complete the Text support.

[2017-10-06 14:59] luciancioroga opened #486 "Non-glyphed text support doesn't work"
Referring to lottie 2.2.5. Even if the TextLayer class seems to support generating text without receiving the glyphs in the json, it doesn't seem to render.

[2017-10-06 15:40] gpeal commented on #486
@luciancioroga Did you provide the font?

[2017-10-06 22:03] brian-chu-twc opened #487 "Some kind of Layer Marker support available?"
This is a general question.

Is there a way to put some kind of marker(s) in the AE and so we can loop or jump according to the marker inside Android?

I know https://github.com/airbnb/lottie-android/issues/415 exist but getting the frame right every time when there is a change in animation is painful.

If, say, designer can mark in the timeline, and programmatically we can jump to there, it will

[2017-10-06 23:25] gpeal commented on #211
@Curwer This hasn't been a high priority issue for me. ART is pretty good at dealing with cleaning up autoboxing. Is this causing a significant performance hit for you?

[2017-10-09 04:00] dss886 opened #488 "NumberFormatException: Invalid int: "4.7.0""
I have 4 lottie animation in my app, and the "4.7.0" string is in the beginning of every json file:

{
    "v":"4.7.0",
    ......
}

After release, I got a crash (only once) on a specific device named "MI PAD 2".
I guess that "v" may means the version of the AE plugin that output the json file.
So I don't know how this happened, should I just ignore it?

Full stacktrace:

[code]

I have seen the

[2017-10-10 10:19] lihb opened #489 "Memory occupation too large"
this is my code:

[code]

I just add 3 LottieAnimationView in the view and don't do anything. the memory is as below:

![222222222](https://user-images.githubusercontent.com/3703252/31381548-748e392c-ade7-11e7-9451-977f7dd5b4f1.png)

how can reduce the memory occupation.

[2017-10-10 12:09] luciancioroga commented on #486
@gpeal, I placed the font in assets/fonts. Without it, it crashes. However, if this is something that is implemented and not replicable for you, I can make more attempts. Thank you!

[2017-10-10 14:28] gpeal commented on #486
@luciancioroga This seems like the expected behavior to me. If the fonts aren't glyphed then you must provide it yourself. Feel free to reopen if that's not the case.

[2017-10-10 14:28] #486 closed

[2017-10-10 14:29] gpeal commented on #489
@lihb How large is your json file?

[2017-10-10 15:25] victorboieru opened #490 "The elements of the animation change their position when I am running the animation on an Android device"
I'm trying to use this animation
[data.json.zip](https://github.com/airbnb/lottie-android/files/1372387/data.json.zip), but it doesn't work as I expected. In Lottie Preview web page it is running as I want, but when I'm trying to use it on my Android app  the elements of the animation are not placed on the center of the view. I can attach a screenshot of my Android app.

![screenshot_2017-10-10-18

[2017-10-10 19:48] asuszek opened #491 "playAnimation(int, int) yields wrong start and end progress"
It looks like when LottieDrawable converts a frame number to progress, it divides the frame by the total number of frames:
 - https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L407
 - https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L455
 - https://github.com/airbnb/lottie-a

[2017-10-10 23:42] asuszek opened #492 "LottieValueAnimator#playAnimation(float, float) should queue a lazy composition task"
If you call playAnimation(float, float), it only updates the float values without updating the min or max values. This means if it's called before the composition is loaded, once it is loaded it will overwrite the current float values with min and max (0 and 1).

It seems like this method should add a lazy composition task the way the other play methods do.

[2017-10-11 02:06] lihb commented on #489
@gpeal The size of json file is 87kb. but I think it's dosen't matter with ths json file because I didn't set the json file to the LottieAnimationView. I just add three LottieAnimationView to the layout file.

[2017-10-11 04:19] gpeal commented on #489
@lihb Can you attach a sample project that repros this?
If you haven't even set the animation yet, my guess is that there is something else going on that's not Lottie related.

[2017-10-11 07:55] wurensen opened #493 "NullPointerException"
java.lang.NullPointerException
	at com.airbnb.lottie.BaseLayer.setProgress(BaseLayer.java:358)
	at com.airbnb.lottie.CompositionLayer.setProgress(CompositionLayer.java:116)
	at com.airbnb.lottie.CompositionLayer.setProgress(CompositionLayer.java:128)
	at com.airbnb.lottie.CompositionLayer.setProgress(CompositionLayer.java:128)
	at com.airbnb.lottie.LottieDrawable.setProgress(LottieDrawable.java:40

[2017-10-11 09:01] Bovtriuk opened #494 "Android playback animation bug"
Hello, there is a bug in Android version of lottie:

If you use an animated mask, either an animated trim path used as an alpha matte or an animated path mask. The playback duration in Lottie for Android will be just a fraction of what it should be. The same animation works fine both on website and on iOS, so bug presents only in Android version.

The issue was found and tested on lottie library v

[2017-10-11 13:12] gcrovai opened #495 "Mask doesn't work only in Android (iOS and Web are perfect)"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-10-11 13:26] gpeal commented on #493
@wurensen Can you try with 2.2.5 and attach the animation that crashes?
If you're using 2.1.2, the code looks like it's crashing [here](https://github.com/airbnb/lottie-android/blob/3d7ed119b4d145f837fa3f7d051b668148ce1143/lottie/src/main/java/com/airbnb/lottie/BaseLayer.java) and it doesn't seem like it would be possible to get an NPE there.

[2017-10-11 13:27] gpeal commented on #493
I'm not sure what you mean by `I can't recurrence this exception.Lottie version 2.1.2.`

[2017-10-11 14:02] Bovtriuk commented on #495
There is already an issue about problem mentioned in title: https://github.com/airbnb/lottie-android/issues/494

[2017-10-11 16:11] luciancioroga commented on #486
This is the simple text bodymotion json I use:

`{
  "v": "4.11.1",
  "fr": 29.9700012207031,
  "ip": 0,
  "op": 900.000036657751,
  "w": 1920,
  "h": 1080,
  "nm": "LottieDemo",
  "ddd": 0,
  "assets": [],
  "fonts": {
    "list": [
      {
        "origin": 0,
        "fPath": "",
        "fClass": "",
        "fFamily": "Arial",
        "fWeight": "",
        "fStyle": "Regular",
        "fName

[2017-10-12 01:53] wurensen commented on #493
I'll update to 2.2.5.

[2017-10-12 01:54] #493 closed

[2017-10-12 07:16] Teviz opened #497 "ArrayIndexOutOfBoundsException"
Hello everyone.
When I using lottie 2.2.0, I found in `KeyFrame.Factory#newInstance` method, invoke `pathInterpolatorCache.get(hash)` sometimes may throw an ArrayIndexOutOfBoundsException.
It's hard to reproduce but exists exactly.
Here are log and json.

Caused by java.lang.ArrayIndexOutOfBoundsException
  | java.lang.System.arraycopy (System.java)
  | android.support.v4.util.SparseArrayCompat.pu

[2017-10-16 07:33] gpeal commented on #491
@asuszek Why is that?
Let's say there are 2 frames.
If you say setMinFrame 0, 1, 2, you'd expect it to do 0/2, 1/2, and 2/2 right?

[2017-10-16 08:05] gpeal commented on #492
This will be fixed as a side effect of #496

[2017-10-16 08:06] #483 closed

[2017-10-16 08:06] #492 closed

[2017-10-16 10:24] GauthierChan commented on #483
Many thanks for the fix. Do you know when will this be in production?

[2017-10-17 13:54] flamaniac commented on #474
Have you set path to image folder?

[2017-10-18 03:54] gpeal commented on #495
Please attach the animation, provide a description and reopen

[2017-10-18 03:54] #495 closed

[2017-10-18 04:06] gpeal commented on #490
@victorboieru Can you attach the aep?

[2017-10-18 04:07] gpeal commented on #488
@dss886 if you only saw this one time on one device, I'd ignore it. If this starts happening to more users on more devices, feel free to reopen and attach the animation that crashes.

[2017-10-18 04:07] gpeal commented on #489
@lihb bump

[2017-10-18 04:08] gpeal commented on #497
Duplicate of #472

[2017-10-18 04:08] #497 closed

[2017-10-18 04:09] gpeal commented on #484
Fixed by #496

[2017-10-18 04:09] #484 closed

[2017-10-18 04:10] gpeal commented on #476
Please reopen this if it's still an issue on 2.2.5 and please attach the aep file.

[2017-10-18 04:10] #476 closed

[2017-10-18 12:12] gcrovai commented on #495
I 've sent the animation to the email lottie@airbnb.com @gpeal. The email's title is the same as this issue's title.

[2017-10-18 12:57] PavelSynek commented on #494
Looks like you have the same problem as me in #478.

[2017-10-19 18:05] thitu opened #500 "Anti-Clockwise animation on android vs. Clockwise animation on iOS"
The attached AEP is a simple animation of a drawn circle with a checkmark inside it.

When rendered on iOS, (and on LottiePreview), the animation of the circle is as expected, clockwise.

When rendered on Android, API 18 and above, the animation of the circle is anti-clockwise.

This is with the exact same JSON file.

What would be the cause of this difference?

[circle-accept.aep.zip](https://git

[2017-10-20 09:37] jiyewushen opened #501 "lottie-android support animation type? why not run"
* Expect effect
![6666](https://user-images.githubusercontent.com/16441451/31814238-92622176-b5bb-11e7-979b-a56542023890.gif)
* Actual effect
  * it can show ，but not run
  * 666.aep can run
* [file is here](https://github.com/airbnb/lottie-android/files/1401431/file.zip)

thanks!

[2017-10-21 00:52] asuszek commented on #491
I would expect if there are only 2 frames, your only options would be 0/1 and 1/1?

Admittedly, I haven't dug into the inner workings of how the animations are drawn, but my designer noted that everything in Lottie is vecotrized, including the motion, and the "frames" are just key frames to interpolate between. But if you're saying the second frame of a 2 frame animation should begin playing at 0.

[2017-10-22 12:13] gpeal commented on #475
@chievent What's the issue exactly? What does splash a shot mean?
I recommend using a shape layer instead of a png for the thumb as well. The performance and memory will be much better.

[2017-10-22 12:17] gpeal commented on #501
Lottie doesn't support difference masks. Your animation will be more performant if you use shapes instead of masks as well.

[2017-10-22 12:17] #501 closed

[2017-10-22 15:10] gpeal commented on #481
@krishnasajja Can you attach the aep?

[2017-10-23 09:37] webyjulo commented on #309
Hi, I'm still facing this issue. Wish anyone could help me to fix the issue.

[data.json (1).zip](https://github.com/airbnb/lottie-android/files/1406508/data.json.1.zip)

[2017-10-23 13:43] AndroidAuth opened #503 "Lottie Transition in Android"
Salutations,
I have a question reguarding the transitioning when it comes to lottie, is it possible that
there is a version that meets the iOS View Controller Transitioning in android ?
would love to know more about it, or if it exists would love some documentation , thank you !
P.S : I love your work.

[2017-10-23 14:59] krishnasajja commented on #481
[android_text_test.zip](https://github.com/airbnb/lottie-android/files/1407622/android_text_test.zip)

Here's the AEP file and the json file.

[2017-10-24 10:25] victorboieru commented on #490
Here is the aep file.
[171024_WLAN-Scan.aep.zip](https://github.com/airbnb/lottie-android/files/1410399/171024_WLAN-Scan.aep.zip)

[2017-10-24 18:13] phantoxe opened #504 "Change Colors in JSON FILES"
Hi Folks... i did a download in LOTTIE FILES website. And i need change the PIN COLOR... or CHANGE SPINNER COLOR... There are a example or doc to read ? Thanks guy...

[2017-10-25 02:46] huangyanan commented on #488
i also have this crash on the device named "MI PAD 2".  it now only happen 3 times on my crash analyse tool .

[2017-10-25 18:10] gpeal commented on #504
Use addColorFilter with the name of the fill content. You can look through the json for "fl" and see what the name of that layer is ("nm")

[2017-10-25 18:10] #504 closed

[2017-10-25 22:26] gpeal commented on #503
@AndroidAuth @buba447 and I have spoken about it but I haven't figured a good analogous set of Android APIs to use. The Transition/window animation APIs don't seem to map as well.
Do you have any suggestions for what the API might look like?

[2017-10-26 05:46] Kyson commented on #389
i got same problem
my support v4 version is 25.0.0, in this version,there is no arrayset class found,maybe it has been deprecated.
so it is better to use **android.util.ArraySet** instead of android/support/v4/util/ArraySet

thx.

[2017-10-26 06:18] Kyson commented on #389
sorry , my mistake.
the problem's reason is :
there is no arrayset in support v4 version of 25.0.0 ,but it can be found in 25.3.1.
so just upgrade support v4 version to 25.3.1 and it is ok now.

[2017-10-27 00:58] fengmingye commented on #490
same issue as I'm now encountering, have you resolved it?

[2017-10-27 13:29] sepehr1014 commented on #384
Any plans on adding 3D support?

[2017-10-27 14:25] victorboieru commented on #490
No, I haven't resolved yet.

[2017-10-27 14:56] groenroos commented on #409
Any update on this?

I'd also like to point out that Skew not being supported is not documented anywhere.

[2017-10-27 16:41] gpeal commented on #490
I'm looking on to it.

On Fri, Oct 27, 2017, 7:25 AM victorboieru <notifications@github.com> wrote:

[2017-10-30 03:03] brianchu opened #505 "removeAnimatorListener is not called?"
Base on v2.2.5

Observation:
1. After app consists of LottieAnimationView onPause is called, looking at the CPU usage, it still try to redraw. This is also true after I call cancelAnimation in the onPause method.

2. removeUpdateListener (also removeAnimatorListener) of LottieAnimationView is never called by anyone.

I need to make sure after the app onPause(), any animation will stop. Because rig

[2017-10-30 21:21] brianchu commented on #505
![screen shot 2017-10-30 at 2 20 23 pm](https://user-images.githubusercontent.com/620647/32196369-a5786f8a-bd7d-11e7-89e7-210fe81e109e.jpg)

[2017-10-31 01:19] brianchu commented on #505
Nevermind, I got  :two:  LottieAnimationViews. but I stand by the point which you have to chain the activity's onPause all the way to LottieAnimationViews to stop/pause the animation. otherwise, it will continue running in the background.

[2017-10-31 04:09] #505 closed

[2017-10-31 19:12] gshysun opened #506 "Request for getFrame/setFrame on the LottieAnimationView"
Similar to the set/getProgress, it would be beneficial to have frame accurate setter/getters. Right now I work around this by using duration/progress to get the same effect.

Thanks,
Shyam

[2017-11-01 02:59] chievent opened #507 "ArrayIndexOutOfBoundsException: length=0; index=0"
I'm using lottie v2.2.5 and this crash was reported by some user. Please fix it.

[code]

[2017-11-01 03:03] chievent commented on #475
the "splash" means that the alpha animation was intented from 1 to 0, but it splashed to 1 at the end

[2017-11-04 04:32] gpeal commented on #506
@gshysun This actually helped uncover a bug :) I'll release this soon.

[2017-11-04 05:33] gshysun commented on #506
I have a bug on the same lines to report (may be you found the same too :) but I will point it out here just in case.

I think there is an off by one error in the frame book keeping, you guys are likely missing a frame? (eg. for the following it should be inclusive right?).
[code]

it should be
```this.endFrame - this.startFrame + 1``` ?

I have not dug into other parts of the code, but for my wor

[2017-11-04 14:11] luciancioroga commented on #486
@gpeal, do you have any idea what I'm missing in the previous code? Thank you.

[2017-11-04 14:25] phantoxe opened #509 "Where i can finde appcompat-v7-26.1.0.jar??"
Hi Folks... i m trying use a Lottie in my project... in a MacOs with React-Native.

But i need this dependencie to work. Can u help me?

![captura de tela 2017-11-04 as 12 12 51](https://user-images.githubusercontent.com/29681268/32406199-084ca01e-c15b-11e7-83e9-0ed576cdd9b8.png)

[2017-11-04 22:29] gpeal commented on #509
Add
[code]
to your project build.gradle.
This isn't a lottie specific issue.

[2017-11-04 22:29] #509 closed

[2017-11-04 22:29] gpeal commented on #503
I'm going to close this for now since I'm unlikely to implement this in the near future. If you'd like to propose an API and maybe work on a PR for it, feel free to reopen it.

[2017-11-04 22:29] #503 closed

[2017-11-04 23:39] #506 closed

[2017-11-04 23:41] gpeal commented on #507
@chievent There is an issue with your animation json because there is no version number specified. Can you try and re-export the json? There should be a top level key "v" with value "4.10.0" or something similar.

[2017-11-04 23:41] #507 closed

[2017-11-05 00:04] gpeal commented on #494
Correct, this is a duplicate of #478.

[2017-11-05 00:04] #494 closed

[2017-11-05 00:18] #500 closed

[2017-11-05 00:25] gpeal commented on #490
@victorboieru Lottie doesn't support expressions.

[2017-11-05 00:25] #490 closed

[2017-11-05 00:25] #478 closed

[2017-11-05 04:19] lvc opened #511 "API changes report for the latest snapshot of Lottie"
Hi,

I'd like to share report on API changes and backward compatibility for the Lottie library: https://abi-laboratory.pro/java/tracker/timeline/lottie/

BC — binary compatibility
SC — source compatibility

The report includes analysis result for the latest snapshot of the library from https://oss.sonatype.org/content/repositories/snapshots/com/airbnb/android/lottie/.

The report is generated acco

[2017-11-05 18:59] gpeal commented on #511
Thank you for this information!

[2017-11-05 18:59] #511 closed

[2017-11-06 05:04] krishnasajja commented on #481
Hi..Any updates on this issue?

[2017-11-06 10:12] twlkyao opened #512 "Can I give animation to lottie view with it content playing animation?"
I want to give animation such alpha, translate animation to the whole lottie view with the content of lottie view playing.
I found the startAnimation() method, but it will override the animation set by json, is there a way to realize my need?

[2017-11-06 13:41] muzir commented on #326
Thanks guys, @elliottetzkorn's solution in code solve my issue

[code]

[2017-11-06 18:21] gpeal commented on #512
I'm not sure I understand but you can set any alpha or translation properties on a LottieAnimationView like you would with any other view.

[2017-11-06 18:21] #512 closed

[2017-11-06 18:21] gpeal commented on #481
@krishnasajja I have some plans to revisit text rendering but I haven't had the chance to yet. I'd accept PRs too.

[2017-11-06 20:14] robbykim commented on #339
@farazfaraz did you figure out how to do this?

[2017-11-06 20:44] krishnasajja commented on #481
@gpeal Sure. Thank you for the update!

[2017-11-07 10:22] McoyJiang opened #513 "LottieAnimationView can not show within ScrollView on Android devices"
i am using lottie library on Android, and encounter a problem.
as shown by the code below, i want show a LottieANimationView within a ScrollView
[code]
then, set json and playAniamaion in MainActivity.java
[code]
but the lottieAnimationView did'nt show up succefully

[2017-11-07 10:56] twlkyao opened #514 "Can LottieAnimationView use compressed json in assets?"
The size of json file may be large, will there be an `API` that can set compressed files as the content of the `LottieAnimationView`, now I can achieve this manually, but the implements of others may be differ, so I tend there will be an unified `API`.

[2017-11-07 14:45] IonutNegru87 opened #515 "LottieComposition#fromAssetFileName() method should throw exception"
If the fileName parameter is not valid, this method will throw an IllegalStateException, but the actual method does not throw that exception.
I think the method should be updated to actually throw the exception to avoid any confusion.

[2017-11-07 17:53] mitko9000 opened #516 "Lottie play animation does not work in android 7.0 (26.0.1)"
Hello I downloaded the demo app on android 7 and the animation just shift from start to end without animating anything only when I go threw with the slider everything is ok and I can see some frame changing but by calling playAnimation or hit the play button nothing is happening ?

[2017-11-08 22:40] gpeal commented on #516
@mitko9000 Can you attach a project that reproduces this? There isn't enough information to act on here.

[2017-11-08 22:42] gpeal commented on #515
@IonutNegru87 Since this is not an expected error and if used properly, this method will never throw, it wouldn't be a clean API to require every single consumer of logic to explicitly handle this unexpected failure case. If you need to wrap it for some reason specific to your application, feel free to do that.

Also feel free to reopen this if you disagree with that.

[2017-11-08 22:42] #515 closed

[2017-11-08 22:43] gpeal commented on #514
@twlkyao Depending on the compression method, you should handle any sort of decompression yourself. You can then pass the decompressed version to Lottie.

[2017-11-08 22:43] #514 closed

[2017-11-08 22:46] gpeal commented on #513
@McoyJiang This doesn't seem like a Lottie issue.
Try making your layout more like this:
[code]

[2017-11-08 22:46] #513 closed

[2017-11-09 02:50] cooperkong commented on #310
Still happens on Samsung S5 6.0.1

[2017-11-09 05:34] McoyJiang commented on #513
@gpeal  Hi gpeal, i definately have tried the layout you pasted, but LottieAnimationView still didn't show up

[2017-11-09 05:40] McoyJiang commented on #513
ths current solution i have thought is defint absolute height for LottieAnimationView
[code]

but i don't think this is an appropriate approach the fix this

[2017-11-09 09:17] mitko9000 commented on #516
@gpeal it turns out that somehow I dissabled animation from the development menu which was the reason this not to work, sorry to bother.
False alarm

[2017-11-09 22:20] gpeal commented on #513
@McoyJiang Which version of Lottie are you using? The latest is 2.2.5

[2017-11-10 02:51] McoyJiang commented on #513
@gpeal i am using 2.2.5 version. have you tried the code i pasted ?

[2017-11-10 10:20] maoqis opened #517 "LottieAnimationView not displayed because it is too large to fit into a software layer (or drawing cache), needs 8644320 bytes, only 8294400 available"
LottieAnimationView not displayed because it is too large to fit into a software layer (or drawing cache), needs 8644320 bytes, only 8294400 available

[2017-11-10 11:23] maoqis commented on #517
it is work when memory is enough。when memory is not enough，it is not work。
i do not know why has such warning and not work。
why the usable memory is not increased when memory is not enough？
the log is printed in View.

[2017-11-10 11:25] maoqis commented on #517
![image](https://user-images.githubusercontent.com/3467849/32656481-edb6db1a-c64c-11e7-8a44-173046ec76b6.png)

[2017-11-10 17:41] gpeal commented on #517
@maoqis After Effects sizes in px get converted to dp. You can either a) make the composition size smaller in after effects, b) use the `setScale` api or c) call `useHardwareAcceleration()`

[2017-11-10 17:41] #517 closed

[2017-11-10 17:41] #516 closed

[2017-11-11 03:24] Omid-naji opened #518 "Why does my project not work?"
Why does my project not work?
I do not know much after effect.
Please help me, why my project is not running for Android
[Check-marks-x-kit-34043.zip](https://github.com/airbnb/lottie-android/files/1463322/Check-marks-x-kit-34043.zip)
I get this error:
lottie doesn't support expressation

[2017-11-11 04:25] #518 closed

[2017-11-13 02:00] McoyJiang opened #519 "LottieAnimationView can not show within ScrollView on Android devices"
LottieAnimationView can not show within ScrollView

[2017-11-13 03:06] maoqis opened #520 "bitmap handle"
it is bad load bitmap in main thread . at view ondraw() .
bitmap cache may be used gilde 。

[2017-11-13 09:41] LoveMyBaby opened #521 "OutOfMemoryError when loading JSON animation on OZZY phone"
the same as(JSON is 680 KB): [https://github.com/airbnb/lottie-android/issues/39](url), any solution?

log:
Caused by java.lang.OutOfMemoryError:
java.util.ArrayList.<init> (ArrayList.java:75)
com.airbnb.lottie.ci$a.a (ci.java:141)
com.airbnb.lottie.ci$a.b (ci.java:101)
com.airbnb.lottie.n.a (n.java:54)
com.airbnb.lottie.n.a (n.java:32)
com.airbnb.lottie.h$a.a (h.java:37)
com.airbnb.lottie.cn$a.a

[2017-11-13 16:33] maoqis commented on #517
thanks,I set Lottie view layout size
smaller in scrollview.

[2017-11-13 17:45] DenisMondon opened #522 "New method boolean isInReverseMode()"
Hello :)

I was wondering if you can add a method name `boolean isInReverseMode()` for example.
It would be great :)
Thanks a lot!

Tested with Lottie v2.2.5

Denis

[2017-11-14 10:23] JensBoeykens opened #523 "playAnimation(startFrame, endFrame) briefly shows endFrame at beginning, causing flicker"
lottie version 2.2.5

Code below switches to a new animation composition after a looped animation, and starts playing from frame 30, until frame 50.
However, when running this code, the last frame (50) briefly pops up, before frame 30 is shown. This causes the animation to flicker.

[code]

[2017-11-15 08:58] JensBoeykens commented on #523
The issue above can be recreated every time. Using post seems to help a bit:

`post { playAnimation(30, 50) }`

With post the problem happens only now and then, apparently at random. So I still need a proper solution for this.

[2017-11-15 16:55] stefanomemrise opened #524 "NPE on CompositionLayer"
Hi!
This has been happening recently, last release included:

Fatal Exception: java.lang.NullPointerException
       at com.airbnb.lottie.model.layer.CompositionLayer.<init>(SourceFile:8120)
       at com.airbnb.lottie.LottieDrawable.b(SourceFile:201)
       at com.airbnb.lottie.LottieAnimationView.setComposition(SourceFile:11164)

[2017-11-15 18:27] gpeal commented on #524
@stefanomemrise Can you include a source mapped stack trace? I can't debug anything without a repro or a stack trace.

[2017-11-15 18:43] fabionuno commented on #522
Hi Denis. You can check if the `getSpeed()` value is less than zero to know if animation is playing backwards.
Will this help you?

[2017-11-15 22:57] gpeal commented on #520
@maoqis Can you be more specific? Bitmaps are fetched once and then cached by the ImageAssetManager.

I also can't introduce any transitive dependencies such as Glide.

[2017-11-15 23:03] gpeal commented on #522
@DenisMondon @fabionuno Correct. Reverse just calls `setSpeed(-getSpeed())`

[2017-11-15 23:03] #522 closed

[2017-11-16 01:58] gpeal commented on #519
@McoyJiang Lottie knows nothing about scroll views. It's just a drawable so the problem likely lies within your application code. If you can create a small project that reproduces it, feel free to attach and reopen this.

[2017-11-16 01:58] #519 closed

[2017-11-16 02:06] gpeal commented on #521
@LoveMyBaby Closing this in favor of #10. It is on my roadmap to take another look at this though

[2017-11-16 02:06] #521 closed

[2017-11-16 02:56] #477 closed

[2017-11-16 06:33] maoqis commented on #520
Bitmaps are fetched once in main thread or background Thread ？

[2017-11-16 06:38] gpeal commented on #523
@JensBoeykens Can you try this wit `2.3.0` using the setMinAndMaxFrame API followed by playAnimation?

[2017-11-16 06:38] gpeal commented on #523
@JensBoeykens If it still repros, can you attach the animation/

[2017-11-16 06:49] maoqis commented on #520
and bitmap cache has not biggest size。must combine with the bitmap cache of app。

[2017-11-16 08:00] walkthehorizon opened #526 "2.2.5bug ,setImageAssetDelegate not work good"
animationView.setImageAssetDelegate(new ImageAssetDelegate() {
  @Override public Bitmap fetchBitmap(LottieImageAsset asset) {
    // Your bitmap fetching code
  }
});
I am now using the 2.2.0 version of Json, if I have four pictures, when I first through the setImageAssetDelegate method for Lottie images, fetchBitmap method in asset asked me to provide img_0, img_1, img_2, img_3 these pictures, w

[2017-11-16 09:38] stefanomemrise commented on #524
Fatal Exception: java.lang.NullPointerException
       at com.airbnb.lottie.model.layer.CompositionLayer.<init>(SourceFile:8120)
       at com.airbnb.lottie.LottieDrawable.b(SourceFile:201)
       at com.airbnb.lottie.LottieAnimationView.setComposition(SourceFile:11164)
       at com.memrise.android.memrisecompanion.ui.presenter.view.FlowerView$$Lambda$0.a(Unknown Source:1029)
       at com.memris

[2017-11-16 09:41] stefanomemrise commented on #524
Also, it's only happening on Android 4.x

[2017-11-16 13:10] anthonymonori opened #527 "Missing company name and year from LICENSE file"
I was looking through the LICENSE file and was wondering why the year and the company name has been left out when placing the the ASL2.0 license template.

https://github.com/airbnb/lottie-android/blob/cc4107c4e63d90e934c384caa9ad28c5f22df9c6/LICENSE#L189

I am planning to showcase the OS licenses for the 3rd party libraries I use in my own app, and wondering if this is legally binding or is it ju

[2017-11-16 18:42] gpeal commented on #524
@stefanomemrise This still isn't source mapped. The line numbers aren't correct.

[2017-11-17 01:54] mrzhqiang opened #528 "I found that v1.5.0 is a little bit different than the higher version"
This json file works normally at v1.5.0, but in a higher version, all is not working properly.
This problem can be repeated, and I'm loading the json file from the Demo App, so why does this happen?
[display.zip](https://github.com/airbnb/lottie-android/files/1480829/display.zip)

[2017-11-17 02:22] gpeal commented on #526
@walkthehorizon I don't understand the issue. Can you explain it again and attach an animation that reproduces it?

[2017-11-17 02:23] gpeal commented on #523
@JensBoeykens This API no longer exists in 2.3.0. Can you try it with 2.3.0 using setMinAndMaxFrame followed by playAnimation?

[2017-11-17 02:23] #523 closed

[2017-11-17 07:27] evanfuture opened #529 "stroke dash animates fine on web, not on ios/android"
* **Android Version:** Tested on 8, need to support 6+
* **After Effects Version:** CC 2017

**What did you do? Please explain the steps you took before you encountered the problem.**
exported from AE, other files from lottiefiles work fine.

**What did you expect to happen?**
![cap-ok](https://user-images.githubusercontent.com/2659994/32890901-beddb004-cae1-11e7-8ad2-b6c5c35a2309.gif)
This is mor

[2017-11-17 07:50] JensBoeykens commented on #523
Doesn't help. But I'll try a workaround using 2 views. Hide view1 and show view2 to switch animations, instead of setting a different file/composition on a single view

[2017-11-17 08:35] mrzhqiang commented on #528
### v1.5.3
![display_progress_start_v1_5_3](https://user-images.githubusercontent.com/18276822/32937769-bde93b5e-cbb4-11e7-8d40-d7dad091dbba.png)
![display_progress_end_v1_5_3](https://user-images.githubusercontent.com/18276822/32937802-e2d9dea0-cbb4-11e7-8a3a-d5dbdebe52e6.png)
---
### v2.3.0
![display_progress_start_v2_3_0](https://user-images.githubusercontent.com/18276822/32937815-ef29bfcc-cbb4

[2017-11-17 10:43] Tobias-Reich opened #530 "setMinAndMaxProgress() not working as expected"
I have found an issue that makes the usage of setMinAndMaxProgress() a bit tricky:

I have a progress bar as an animation that is supposed to "grow". So progress of 0..1 also sets the progress of the Lottie animation.
But here comes the problem. I animate between the current progress and a new destination.
So for instance in the first step I set
`setMinAndMaxProgress(0f, 0.1f)`
Once the user progr

[2017-11-19 23:35] timrijckaert opened #531 "Feature Request Pull To Refresh"
Hi,

I have a feature request for another custom view you guys could provide in this great lib, for both iOS and Android.
This view will aid to emphasize your brand to your app as will it be something that helps to let your app stand out from the rest.
Namely a custom pull to refresh layout.  It could conveniently be named `LottieSwipeRefreshLayout`.

We actually already provide such view in our a

[2017-11-20 02:46] gpeal commented on #531
@timrijckaert Thanks for the details explanation with example. Although I think this would be out of scope of the lottie library itself, I would accept a PR to the Lottie sample app that implements this as a demo of what Lottie can do. The Lottie Sample app is already Kotlin too :)

[2017-11-20 02:46] #531 closed

[2017-11-20 03:19] #530 closed

[2017-11-20 09:24] mrzhqiang commented on #528
### I found a solution.
In v2.3.0.
Layer's "Contents" >>> "Trim Multiple Shapes" >>> set as "Simultaneously"
It's all right.
_But I don't know what caused it._

[2017-11-20 09:26] mrzhqiang commented on #528
Change project in After Effects.

[2017-11-20 19:33] lucasrloliveira commented on #33
Hey, I´m having a problem trying to use Lottie json animation within a carousel view, I intent to change the animation´s reference when swiping my carousel, and I want to start the new animation at this very moment, but when I try to set AutoPlay to false and IsPlaying to true when swiping, my animations weren´t able to start, if I set AutoPlay to true, the animations will start independently from

[2017-11-20 20:12] gpeal commented on #33
@lucasrloliveira Can you lost this on lottie-xamarin? I don't maintain the xamarin port.

[2017-11-21 01:17] #528 closed

[2017-11-21 02:45] walkthehorizon commented on #526
`       mLottieView.setImageAssetDelegate(new ImageAssetDelegate() {
            @Override
            public Bitmap fetchBitmap(LottieImageAsset asset) {
                Bitmap bitmap = BitmapFactory.decodeFile(GiftUtil.getJsonFileDir(mCurrentZipName , mGiftType) + "/images/" + asset.getFileName(), options);
                if (bitmap == null) {
                    LogUtils.e(TAG, "GiftType: "+mG

[2017-11-21 07:40] gpeal commented on #529
@evanfuture I took a quick look. I think you'll have more success achieving this with trim path start/end rather than dash + offset. I'll still look in to this though.

[2017-11-21 09:05] rotorgames commented on #173
@gpeal Any news about text supporting on ios?

[2017-11-21 09:29] evanfuture commented on #529
Trim Paths worked great!  Thank you for the suggestion.  I'll leave the issue open, because there's bound to be others using stroke/offset animations down the line.

[2017-11-21 14:58] Kevinrob opened #533 "`setMinAndMaxFrame` raise exception with correct values"
For reproducing the issue:
[code]
`UncaughtException: java.lang.IllegalArgumentException: Min value must be smaller then max value.`

Lottie `2.3.0`

This issue is because `setMinAndMaxFrame` will set min before setting max.

Workaround:
[code]

[2017-11-21 18:23] gpeal commented on #173
@rotorgames It's not on the immediate roadmap but we have talked about it. You can track updated on lottie-ios.

[2017-11-22 03:23] wcbcslg opened #534 "why android sdk scale the size of Animation by density?"
public static LottieComposition fromJsonSync(Resources res, JSONObject json) {
      Rect bounds = null;
      float scale = res.getDisplayMetrics().density;
      int width = json.optInt("w", -1);
      int height = json.optInt("h", -1);

      if (width != -1 && height != -1) {
        int scaledWidth = (int) (width * scale);
        int scaledHeight = (int) (height * scale);
        bounds = ne

[2017-11-22 06:00] #534 closed

[2017-11-22 14:19] IonutNegru87 opened #535 "Animation component not placed correctly"
Hello,

I have an issue with an lottie animation which is rendered correctly on any preview tool but in Android application it is not.
The issue is that a part of animation is not placed correctly in it's center. It seems like it is not centered.

I have attached the zip containing the json data for the animation.
I have added a screen shot with how the animation looks on a real Android device (Sa

[2017-11-23 03:50] yangheng09103 commented on #524
Fatal Exception: java.lang.NullPointerException
com.airbnb.lottie.model.layer.CompositionLayer.<init> (CompositionLayer.java:70)
--
  | com.airbnb.lottie.LottieDrawable.buildCompositionLayer (LottieDrawable.java:195)
  | com.airbnb.lottie.LottieDrawable.setComposition (LottieDrawable.java:156)
  | com.airbnb.lottie.LottieAnimationView.setComposition (LottieAnimationView.java:461)
  | com.airbnb.lo

[2017-11-23 09:29] tuchangwei commented on #106
do you know how to set rounded corners?
thanks.

[2017-11-23 15:06] Tobias-Reich commented on #533
I just raised the same issue. It got closed. But I found the same solution. Seems to work fine so far.

https://github.com/airbnb/lottie-android/issues/530

[2017-11-23 19:29] esiek commented on #535
+1

[2017-11-24 05:36] gpeal commented on #533
@Tobias-Reich It got closed because I fixed it on master :) I'll push a new release soon
Duplicate of https://github.com/airbnb/lottie-android/issues/530

[2017-11-24 05:36] #533 closed

[2017-11-24 05:36] gpeal commented on #520
@maoqis I'm still not sure I understand the issue.

[2017-11-24 05:56] Kevinrob commented on #533
Thank you!

[2017-11-24 09:31] IT--boy opened #536 "Can't animate images from assets with setImageAssetsFolder"
use compile 'com.airbnb.android:lottie:2.3.0' , setImageAssetsFolder  no use

project demo address :--  svn://gitee.com/zhanshisu/cartoonDemo

[2017-11-24 16:09] neugartf commented on #535
+1

[2017-11-24 16:30] neugartf commented on #535
There might be an issue with the sketch2ae plugin.

[2017-11-24 17:54] gpeal commented on #524
@yangheng09103 @stefanomemrise Can you attach the animation that crashes? Does it crash 100% of the time?

@yangheng09103 does yours only crash on 4.x like @stefanomemrise?

[2017-11-24 18:04] gpeal commented on #106
@tuchangwei roundedness is a property of a rectangle. That works.
![image](https://user-images.githubusercontent.com/1307745/33220652-d5a424da-d0fe-11e7-86d8-de18894a9cf7.png)

[2017-11-24 21:56] gpeal commented on #536
@IT--boy Can you attach a sample project that repros this?

[2017-11-24 21:56] gpeal commented on #535
@IonutNegru87 @esiek @neugartf This animation has expressions which lottie doesn't support on Android or iOS.

[2017-11-24 21:56] #535 closed

[2017-11-24 21:59] gpeal commented on #526
@walkthehorizon Can you attach a sample project that reproduces this? Lottie caches the images once you have provided them once. You can call `updateBitmap` if you need to clear or change it.

[2017-11-24 22:00] gpeal commented on #527
Good catch @anthonymonori.

[2017-11-25 19:30] phantoxe opened #537 "How can i rewind an animation?"
Hi guys... i have one lottie files in my screen and i play my animation with play() in a click button. But I need you to play my animation every time I click the button. But it seems to play only once and I can no longer use play (); Do I need to rewind my animation or something?

Thanks...

[2017-11-25 19:36] #537 closed

[2017-11-26 14:54] yangheng09103 commented on #524
It's not 100% of the time.It's only happened on 4.x.I got this crash from fabric after lottie updated to v2.3.0.This crash is new since 2.3.0.

[2017-11-26 14:58] yangheng09103 commented on #524
[anim_save.txt](https://github.com/airbnb/lottie-android/files/1503984/anim_save.txt)
This is the animation file.

[2017-11-27 00:48] IT--boy commented on #536
such https://github.com/IT--boy/CartoonDemo?

[2017-11-27 02:54] IT--boy commented on #536
very sorry,i solve this problem,the path is wrong... ”demo/“  change  ”images/demo/“

[2017-11-27 04:43] gpeal commented on #536
@IT--boy Is this an iOS issue? If so, please close this and open an issue on lottie-ios

[2017-11-27 05:55] IT--boy commented on #536
thank you

[2017-11-27 05:55] #536 closed

[2017-11-27 05:58] xxf32012991 opened #538 "problem"
Made animation Lottie parsing the json file is 750 x750 images, but show animation picture very small

[2017-11-27 08:05] IonutNegru87 commented on #535
Hello @gpeal,

I have looked at the animation and couldn't identify expressions. Can you please let me know which expressions did you identify?
Also, do you think there could be an issue with the plugin exporting the `json` file?

Thank you.

[2017-11-27 08:19] heyleon opened #539 "A beginner's help"
when I add this :
compile 'com.airbnb.android:lottie:2.3.0'
and sync my project,the android studio has been like this:
![facebook20171127161750](https://user-images.githubusercontent.com/19371845/33256781-a10a00d6-d38e-11e7-9392-191470da0da1.png)
and  how is going on?

[2017-11-27 08:33] heyleon commented on #539
and I saw the closed issues ,add this:
maven { url 'https://maven.google.com' }
unfortunately live in China,the Great Firewall blocked that,
and are there any alternatives?

[2017-11-27 08:36] 456838 opened #540 "Bug: while call LottieAnimationView.setMinAndMaxProgress in version 3.0.0"
Lottie version:3.0.0
 when i call this function like this,it crash :
[code]
ps: i guess the max var did not clear

![](https://i.imgur.com/nvvD7dy.png)

![](https://i.imgur.com/dYasXwT.png)

[2017-11-27 09:54] LoveMyBaby commented on #521
@gpeal
 Crashes still occur after I update to 2.3.1-SNAPSHOT( Samsung Galaxy Note2 2048MB RAM, Android 4.4).
  crash log:
  at java.lang.AbstractStringBuilder.enlargeBuffer (AbstractStringBuilder.java:94)
  at java.lang.AbstractStringBuilder.append0 (AbstractStringBuilder.java:124)
  at java.lang.StringBuilder.append (StringBuilder.java:271)
  at java.io.BufferedReader.readLine (BufferedReader.jav

[2017-11-28 00:35] gpeal commented on #535
@IonutNegru87
![image](https://user-images.githubusercontent.com/1307745/33296522-02d407ba-d391-11e7-8164-bb4a89762c67.png)

[2017-11-28 00:36] gpeal commented on #535
(p sets the position of a transform)

[2017-11-28 06:53] magic1983 opened #541 "NullPointerException--phone model:Micromax A120,lottie version 2.3.0"
Fatal Exception: java.lang.NullPointerException
       at com.airbnb.lottie.model.layer.CompositionLayer.(CompositionLayer.java)
       at com.airbnb.lottie.LottieDrawable.buildCompositionLayer(LottieDrawable.java:201)
       at com.airbnb.lottie.LottieDrawable.setComposition(LottieDrawable.java:164)
       at com.airbnb.lottie.LottieAnimationView.setComposition(LottieAnimationView.java:386)

[2017-11-28 09:00] shusheng007 opened #542 "how to adding views to an Animation at runtime like IOS version?"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-11-28 10:07] IonutNegru87 commented on #535
@gpeal
Thank you very much for your help.

I've removed the `"x"` from that `"p"`, but the animation is the same.
Do I have to remove all the `"p"` keys?

[2017-11-28 18:53] gpeal commented on #542
@shusheng007 This is not currently supported because Lottie animations are a drawable on Android. We're looking into ways of making Lottie animations more dynamic though so stay tuned.

[2017-11-28 18:53] #542 closed

[2017-11-28 18:56] gpeal commented on #541
@magic1983 You're on 2.2.5 not 2.3.0 based on the line numbers in your stack trace.
Can you attach the animation that crashes? We haven't seen this.

[2017-11-28 18:57] gpeal commented on #539
This is not lottie related. You'll need the support library yourself but if you want to provide it some other way, you can do `compile ('com.airbnb.android:lottie:2.3.0'){ exclude group: 'com.android.support' }`

[2017-11-28 18:57] #539 closed

[2017-11-28 18:58] gpeal commented on #538
@xxf32012991 750x750 pixels? First of all, if the composition is 750x750, it will try to render 750x750dp which will be more like 2300x2300px. Try scaleType="centerCrop" in your layout.

[2017-11-28 18:58] gpeal commented on #526
@walkthehorizon bump

[2017-11-28 21:51] gpeal commented on #384
3D currently isn't on the roadmap for Lottie. I'll create subsequent issues in the future if that changes.

[2017-11-28 21:51] #384 closed

[2017-11-28 22:16] gpeal commented on #369
I'm going to close this because it's *probably* fixed in 2.3.0. Reopen if it's not.

[2017-11-28 22:16] #369 closed

[2017-11-28 22:17] gpeal commented on #540
duplicate of #533

[2017-11-28 22:17] #540 closed

[2017-11-28 22:17] gpeal commented on #541
Duplicate of #524

[2017-11-28 22:17] #541 closed

[2017-11-28 22:18] gpeal commented on #489
My guess is that this memory comes from something other than Lottie. If you attach a sample project that still repros this on 2.3.0, please reopen.

[2017-11-28 22:18] #489 closed

[2017-11-28 22:18] gpeal commented on #487
@brian-chu-twc Soon :)

[2017-11-28 22:19] #421 closed

[2017-11-28 22:28] gpeal commented on #474
@fermuch This doesn't crash anymore but Lottie doesn't support difference masks. You can achieve this animation with a normal shape though.

[2017-11-28 22:28] #474 closed

[2017-11-29 05:05] walkthehorizon commented on #526
ok，i will try it too and attach a sample project in the future，

[2017-11-29 06:51] magic1983 commented on #524
#0. Crashed: main: 0 0 0x0000000000000000
       at android.view.LayoutInflater.createView(LayoutInflater.java:620)
       at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:696)
       at android.view.LayoutInflater.rInflate(LayoutInflater.java:755)
       at android.view.LayoutInflater.inflate(LayoutInflater.java:492)
       at android.view.LayoutInflater.inflate(LayoutInflater

[2017-11-29 14:22] fermuch commented on #474
Thank you @gpeal and sorry for not answering @flamaniac

[2017-11-29 21:10] mhdtouban opened #544 "Null pointer exception"
Our crashlytics reported this issue:
Device : Android 4.4.2
- smartphone HTC Desire 820G PLUS dual sim
Stacktrace : com.airbnb.lottie.CompositionLayer. (SourceFile)
com.airbnb.lottie.LottieDrawable.buildCompositionLayer (SourceFile:189)
com.airbnb.lottie.LottieDrawable.setComposition (SourceFile:155)
com.airbnb.lottie.LottieAnimationView.setComposition (SourceFile:370)
com.airbnb.lottie.LottieAnim

[2017-11-30 05:33] mammademin commented on #388
I have same issue.It looks perfect in AE but not when I render it with bodymovin. Any idea how we can solve this issue?

[2017-11-30 11:09] alexandrharchuk opened #545 "Animations are buggy"
Dear Gabriel Peal!
I am using your com.airbnb.android:lottie:2.2.5 library for animation. I have 3 animations in total, each of them is on a separate fragment (I use the tutorial library com.github.apl-devs: appintro: v4.2.2). But the problem is that the animations are buggy. Each animation contains approximately 100 frames. The size of one animation with such number of frames in png format is app

[2017-12-01 14:16] 456838 opened #546 "how can i release graphics memory in lottie"
after i load one json file in lottie , my memory still keeping high more than 135m、which graphics contains more than 70m . it was terroies!  can i get help ?
if there some method i can call to solve?

![](https://i.imgur.com/hILbySH.png)

[2017-12-01 18:13] gpeal commented on #521
@LoveMyBaby Nothing has changed. Meant to link to #39 though.

[2017-12-01 18:25] gpeal commented on #524
@stefanomemrise @yangheng09103 @magic1983
I can't repro this. It would be really helpful to have a sample project or even a link number for the actual crash `at com.airbnb.lottie.model.layer.CompositionLayer.(CompositionLayer.java)`

[2017-12-04 09:59] stefanomemrise commented on #524
In our case it looks like it was related to the D8 compiler of gradle. After switching back to DX it never happened again. Hope this helps.

[2017-12-04 11:08] stefanomemrise commented on #524
In the gradle.properties:
android.enableD8=false

[2017-12-04 15:24] yangheng09103 commented on #524
I find out that code revision 3867cdd is match the crash trace from the Fabric
Crashlytics log.
`Fatal Exception: java.lang.NullPointerException
com.airbnb.lottie.model.layer.CompositionLayer. (CompositionLayer.java:70)
  | com.airbnb.lottie.LottieDrawable.buildCompositionLayer (LottieDrawable.java:195)
  | com.airbnb.lottie.LottieDrawable.setComposition (LottieDrawable.java:156)
  | com.airbnb.lo

[2017-12-05 01:43] gpeal commented on #546
@456838 Can you attach the animation you're trying to load?

[2017-12-05 01:44] gpeal commented on #524
@yangheng09103 @magic1983 Are you using D8 as well?

[2017-12-05 01:45] gpeal commented on #544
Duplicate of #524

[2017-12-05 01:45] #544 closed

[2017-12-05 01:46] gpeal commented on #545
@alexandrharchuk I'm confused as to what your issue is. Are you using pngs with Lottie or are you comparing the equivalent animation using png sequences?

Is the actual rendering of the animation itself buggy?

[2017-12-05 08:21] mhdtouban commented on #524
I am using D8 #544

[2017-12-05 09:51] alexandrharchuk commented on #545
[animations.zip](https://github.com/airbnb/lottie-android/files/1530611/animations.zip)
I have design elements in png, but I animate with the standard tools of after effects and export it into json + png. Animation is displayed without errors.

[2017-12-05 10:33] skinnypojo commented on #388
same issue, any solution?

[2017-12-05 15:09] parfagerberg opened #547 "Gradients with transparency"
Hey,

Looking for a way of exporting gradients with transparency in it. The gradient with 0% opacity in one end and 100% in the other end, white colors, it turns black in the exported version/previewing it locally.

Is it possible with some sort of workaround or any other ideas?

[2017-12-05 15:16] yangheng09103 commented on #524
Yes,D8 is enabled in my project.

[2017-12-05 15:16] kopfnick opened #548 "Rotation working on iOS and lottiefiles, but not on Android"
Hi,

i got the attached file and it works fine on lottiefiles.com and iOS - on Android the hourglass does not rotate (rest of the animation seems to work). I tried looking around for obvious bugs, cannot find any...

Thanks,
Gerald

[hourglass.zip](https://github.com/airbnb/lottie-android/files/1531651/hourglass.zip)

[2017-12-05 22:49] gpeal commented on #526
If there is anything actionable here, feel free to reopen.

[2017-12-05 22:49] #526 closed

[2017-12-05 23:00] #548 closed

[2017-12-05 23:07] gpeal commented on #547
@parfagerberg Save your composition before hitting export. Gradients are the only thing that require saving before exporting. Reopen if this doesn't fix it.

[2017-12-05 23:07] #547 closed

[2017-12-05 23:12] gpeal commented on #545
I just loaded these in the sample app and they seemed to render fine.

As a side note, Lottie is much better when all of your assets are in vector format (shape layers in After Effects) rather than pngs. If these are from illustrator, follow our guide [here](http://airbnb.io/lottie/after-effects/artwork-to-lottie-walkthrough.html)

[2017-12-05 23:12] #545 closed

[2017-12-05 23:13] #458 closed

[2017-12-05 23:14] #538 closed

[2017-12-05 23:38] gpeal commented on #529
This seems to be working on master now
![dash](https://user-images.githubusercontent.com/1307745/33636719-4da03d3a-d9d2-11e7-8c40-467b71ce7cac.gif)

[2017-12-05 23:38] #529 closed

[2017-12-05 23:51] gpeal commented on #524
@yangheng09103 @mhdtouban @stefanomemrise Are there any trends in the devices themselves beyond just being 4.x?

[2017-12-06 03:40] ityancs commented on #523
I also find this problem in 2.3.1-SNAPSHOT

[2017-12-06 05:07] parfagerberg commented on #547
Sorry, saved and made a new export - same result as before.

[2017-12-06 09:41] stefanomemrise commented on #524
most of the models are based on Cortex-A7 - and for sure 90% of them on Android 4.x

[2017-12-06 16:23] gpeal commented on #547
Can you attach the aep?

On Tue, Dec 5, 2017, 9:07 PM parfagerberg <notifications@github.com> wrote:

[2017-12-06 17:25] gpeal commented on #524
@stefanomemrise are there some on 5.x+?

[2017-12-07 01:50] leleliu008 opened #550 "setScaleType() method not work"
I use version of lottie-android library is 2.3.1，my compisition is all images，all image size is 375x667px，my Android device's resolution is 720x1920px，my LottieAnimationView's config as follow:

`<com.airbnb.lottie.LottieAnimationView
                android:id="@+id/activity_watch_live_lottie_animation_view"
                android:layout_width="match_parent"
                android:layout_height

[2017-12-07 06:46] leleliu008 opened #551 "OutOfMemoryError"
I use version of lottie-android library is 2.3.1，my compisition is all images，total 50，all image size is 375x667px，my Android device's resolution is 1080x1920px，I got this log:

java.lang.OutOfMemoryError: Failed to allocate a 8294412 byte allocation with 988352 free bytes and 965KB until OOM
	at dalvik.system.VMRuntime.newNonMovableArray(Native Method)
	at android.graphics.Bitmap.nativeCreate(Nat

[2017-12-07 06:53] happymario opened #552 "Animation Not same as iOS and web."
I make one json file for lottie animation.

It works on iOS and android, web.
But it had not same result for display.

iOS and web is same, but android showed first black line in first position animation.

My json file is:
https://www.lottiefiles.com/share/tgvRxz

It is android sdk issue.

Why is it? How can I resolve it?

[2017-12-07 13:10] stefanomemrise commented on #524
96% on 4, 1% on 5/6/7

[2017-12-07 19:39] gpeal commented on #551
@leleliu008 It's actually running out of memory when you try and create your own bitmap for the ImageAssetManager. How many bitmaps are you trying to load in your animation?

[2017-12-07 19:40] gpeal commented on #550
@leleliu008 Can you post your animation?

[2017-12-08 01:44] leleliu008 commented on #551
100

[2017-12-08 02:02] leleliu008 commented on #551
my animation : [https://raw.githubusercontent.com/leleliu008/android_query_0.25.10/master/58.zip](url)

[2017-12-08 02:03] leleliu008 commented on #550
my animation : [https://raw.githubusercontent.com/leleliu008/android_query_0.25.10/master/58.zip](url)

[2017-12-08 02:06] leleliu008 commented on #550
only lottieAnimationView.setScaleType(ImageView.ScaleType.MATRIX); is work

[2017-12-08 02:09] gpeal commented on #551
@leleliu008 I think you may misunderstand the point of Lottie. Lottie is made to render After Effects animations that were created as vectors/shapes. You're much better off with an mp4 or gif if you're just creating a png sequence. This issue has nothing to do with Lottie and is just because your animation is 100 sequential pngs that you're loading into memory.

[2017-12-08 02:09] #551 closed

[2017-12-08 03:48] xiaozhao0331 opened #553 "Nice libraries, but I need to be compatible with a low version of what I should do ?"
I want to be compatible with API 14, what should I do？

[2017-12-08 09:09] #553 closed

[2017-12-08 09:16] xiaozhao0331 opened #554 "When I used the version of 2.2.5.I couldn't get the com.android.support:appcompat-v7:26.1.0?"
Error:Failed to resolve: com.android.support:appcompat-v7:26.1.0
Install Repository and sync project

[2017-12-08 09:28] xiaozhao0331 commented on #554
And  when I used version 2.2.0,i got this  ,please help me , :)
E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #2
                                                   Process: com.koalareading.koalareading, PID: 24709
                                                   java.lang.RuntimeException: An error occurred while executing doInBackground()
                                                       a

[2017-12-08 09:38] RobertoIDL opened #555 "Setting setMinAndMaxProgress for a second time does nothing on versions below 8.0"
Hi,

First of all thanks for a great library.

The problem seems to happen on versions of Android below 8.0. I have an animation of a progress bar, I do cicles to animate from A to B until I run out of points.

This works fine on Android 8.0 and above but below it does not throws errors but the second iteration does nothing.

I call this again:

                levelBar.setProgress(progresoActual)

[2017-12-08 11:41] samy-baili commented on #314
Doesn't work for me

[2017-12-08 16:50] gpeal commented on #314
@samy-baili What version of Lottie? And can you post your code?

[2017-12-09 08:16] akkichaudhary29 opened #556 "Animation not playing in Android"
I have exported json file by using Bodymovin extension, and when i am uploading that json file into Lottie Preview, then it's working, but in android it's not working.

Here is the link of my file
[https://www.lottiefiles.com/share/qqRsBP](url)

also here is my android source code

In XML

` <com.airbnb.lottie.LottieAnimationView
        android:id="@+id/animation_view"
        android:layout_widt

[2017-12-10 09:54] rezapordel opened #557 "why the shapes does not show correct on json file ?"
I import vector files as "ai" format to after effect,then "create shape from vector layers" and render by bodymovin plugin but show the file like this picture,whats rong?
![photo_2017-12-10_12-52-44](https://user-images.githubusercontent.com/34413210/33803791-4c2280ba-ddad-11e7-9924-93244ee554d5.jpg)

my design is this:
![page21](https://user-images.githubusercontent.com/34413210/33803793-5741c6a4

[2017-12-11 13:44] evatamanitsa opened #558 "Animation on android glitchy in comparison with web sample"
Xml code of the view:
[code]
Animation is played programmatically:

[code]

Tested with fallowing versions of sdk and got the same result:

- implementation 'com.airbnb.android:lottie:2.2.5'
- implementation 'com.airbnb.android:lottie:2.3.1'

Animation resources:
[anim.zip](https://github.com/airbnb/lottie-android/files/1548007/anim.zip)

[2017-12-11 19:37] inemnitable commented on #488
I'm seeing a fair number of these crashes (~hundreds) in production on several devices. The affected devices include Hudl 2, ASUS MeMO Pad 7, Hi10 plus, and quite a few others. I'm only seeing crashes on OS version 5.1 and 5.1.1, but I'm not sure that that's related.

I dug a bit into the code and the only explanation I could come up with is that these few devices suffer from an incorrect implemen

[2017-12-11 19:39] inemnitable opened #559 "NumberFormatException: Invalid int: "4.10.1""
Reopen for #488

java.lang.NumberFormatException: Invalid int: "4.10.1"
at java.lang.Integer.invalidInt(Integer.java:138)
at java.lang.Integer.parse(Integer.java:410)
at java.lang.Integer.parseInt(Integer.java:367)
at java.lang.Integer.parseInt(Integer.java:334)
at com.airbnb.lottie.LottieComposition$Factory.fromJsonSync(LottieComposition.java:271)
at com.airbnb.lottie.LottieComposition$Factory.fr

[2017-12-11 19:40] inemnitable commented on #559
Reposting my comment from #488:

I'm seeing a fair number of these crashes (~hundreds) in production on several devices. The affected devices include Hudl 2, ASUS MeMO Pad 7, Hi10 plus, and quite a few others. I'm only seeing crashes on OS version 5.1 and 5.1.1, but I'm not sure that that's related.

I dug a bit into the code and the only explanation I could come up with is that these few devices

[2017-12-12 03:08] gpeal commented on #554
@xiaozhao0331 Add
[code]
to your build.gradle file per this: https://developer.android.com/studio/build/dependencies.html

This isn't a lottie specific issue.

[2017-12-12 03:08] #554 closed

[2017-12-12 03:11] gpeal commented on #555
@RobertoIDL Lottie for Android doesn't support expressions.

[2017-12-12 03:12] gpeal commented on #556
@akkichaudhary29 Lottie doesn't support expressions on Android.

[2017-12-12 03:12] #556 closed

[2017-12-12 03:15] gpeal commented on #557
@rezapordel Sometimes the conversion uses merge paths which you have to explicitly enable (with `enableMergePathsForKitKatAndAbove()`). You can also call `getWarnings()` to see if it lists anything on the Android side.

Sometimes the ai auto conversion needs some massaging because it's not perfect.

If you reopen this, please attach an aep file to reproduce this with.

[2017-12-12 03:15] #557 closed

[2017-12-12 03:32] gpeal commented on #552
@happymario Can you attach an aep? If you don't want to attach the entire thing, you can attach one with just the X.

[2017-12-12 03:38] #559 closed

[2017-12-12 03:41] happymario commented on #552
Thank you for your response.
My file is attached below. You can check it on android and iOS. iOS result
is ok, but android is not same with good result.
I've already attached it with url.

Thank you.

On Tue, Dec 12, 2017 at 11:32 AM, Gabriel Peal <notifications@github.com>
wrote:

[2017-12-12 03:42] gpeal commented on #559
@inemnitable Let me know if this fixes the issue. I just pushed a new 2.3.2-SNAPSHOT

[2017-12-12 03:45] #558 closed

[2017-12-12 03:51] inemnitable commented on #559
@gpeal Thanks Gabriel. It could be a while before the new version makes it to production in our app and I don't have access to any affected devices to test. I'll update this thread when I know more.

[2017-12-12 04:10] gpeal commented on #552
@happymario Email attachments don't go through. Please attach it as a zip to the issue.

[2017-12-12 04:19] happymario commented on #552
sure.

On Tue, Dec 12, 2017 at 12:10 PM, Gabriel Peal <notifications@github.com>
wrote:

[2017-12-12 08:41] hendrawd commented on #192
can't it be stretched instead based on the screen width?

[2017-12-13 01:21] gpeal commented on #488
This is a duplicate of #559

[2017-12-13 01:21] #488 closed

[2017-12-13 23:50] BenSchwab commented on #555
Hi @RobertoIDL!

I think I can reproduce the issue a form of this issue, but need a little more information from you to make sure it's the same thing.

So from my understanding you are gradually increasing the portion of the animation you show? i.e. you start from `0 to .1` then `0 to .2` and so on? Do you happen to be changing the animation in a call to `onAnimationEnd`?

[2017-12-14 15:12] evatamanitsa commented on #558
Thanks! When will you release new library with that fix?

[2017-12-14 15:20] gpeal commented on #558
@evatamanitsa Soon. In the meantime, you can use 2.3.2-SNAPSHOT or change the value curve on your animation such that the opacity doesn't go above 255 (which it does in your case)

[2017-12-14 19:53] gpeal commented on #546
Lottie by itself doesn't use any graphics memory. Here is my memory graph before and after loading an animation. If it's because you have a ton of images in your animation, try using vectors instead.

![image](https://user-images.githubusercontent.com/1307745/34011555-6c53bf82-e0de-11e7-95a2-444d730c17e4.png)

[2017-12-14 19:53] #546 closed

[2017-12-14 20:00] gpeal commented on #550
I just tried centerInside and centerCrop on your animation using the sample app in the repo and it seems to work fine so the issue is probably somewhere else.
<img width="562" alt="centerinside" src="https://user-images.githubusercontent.com/1307745/34011847-851e68cc-e0df-11e7-800f-eade4ee6cf00.png">
<img width="562" alt="centercrop" src="https://user-images.githubusercontent.com/1307745/34011848-

[2017-12-14 20:00] #550 closed

[2017-12-14 20:02] #520 closed

[2017-12-14 20:05] gpeal commented on #475
I just tried your animation on master (2.3.2-SNAPSHOT) and it seems to be working great. Can you try on 2.3.1 or 2.3.2-SNAPSHOT?

[2017-12-14 20:05] #475 closed

[2017-12-14 20:06] gpeal commented on #459
I, unfortunately, won't have time to do much here in the near future. I would accept PRs though.

[2017-12-14 20:06] #459 closed

[2017-12-14 20:06] gpeal commented on #441
https://github.com/airbnb/lottie-android/commit/d8fcf0ab1fca5aff58c797d6e85917d21a2f5cc1

[2017-12-14 20:06] #441 closed

[2017-12-14 20:11] gpeal commented on #443
Fixes as of https://github.com/airbnb/lottie-android/commit/d8fcf0ab1fca5aff58c797d6e85917d21a2f5cc1

[2017-12-14 20:11] #443 closed

[2017-12-14 20:13] gpeal commented on #365
Seems to work well now 🤷‍♂️

[2017-12-14 20:13] #365 closed

[2017-12-14 20:14] gpeal commented on #275
I can no longer repro this

[2017-12-14 20:14] #275 closed

[2017-12-14 20:15] gpeal commented on #211
I haven't found this to add significant performance or memory overhead nor has it seemed to be an issue for anybody in production. If this is definitely an issue, I can spend some more time on it.

[2017-12-14 20:15] #211 closed

[2017-12-14 20:18] gpeal commented on #249
I think this was fixed at some point. The dashes in #226 are the correct size now.

[2017-12-14 20:18] #249 closed

[2017-12-14 20:19] gpeal commented on #291
setMinAndMax* are sufficient for now.

[2017-12-14 20:19] #291 closed

[2017-12-15 02:00] 456838 commented on #546
how can i release this images by lottie?

[2017-12-15 02:03] 456838 commented on #546
or can we has new strategy for image loader? such as fresco , uil ,glide?