[2020-10-14 18:40] gpeal commented on #1649
@YuTengfei Did this happen more than a single time? If it was just once, it is very possible that Android was being slow and this just happened to be where it got stuck but the root cause isn't in Lottie. This code hasn't changed in a long time and I haven't heard of any other reports of it causing ANRs.

[2020-10-15 06:02] YuTengfei commented on #1649
@gpeal   yeah，It happened thousands of times in my APP，only on Android 6.0 devices

[2020-10-15 17:56] gpeal commented on #1649
@YuriiTsap Can you reproduce it yourself?

[2020-10-15 21:41] YuriiTsap commented on #1649
Well, this message was probably directed to @YuTengfei. If no, how I can be helpful with this one? :)
Seems to be a strange and non-trivial issue.
@YuTengfei exact steps to reproduce and more info on your device would be helpful.
I would agree with @gpeal - also looks for me as something that could be device-specific. Or appears due to system high load circumstances.

[2020-10-16 06:30] Amon9527 commented on #1649
I ran into the same problem, which appeared in the monkey test scenario, only on Android 6.0.1 devices.

[2020-10-17 10:55] w2hhda opened #1650 "Caused by: java.lang.NullPointerException: Attempt to read from field 'com.airbnb.lottie.LottieDrawable com.airbnb.lottie.model.layer.BaseLayer.lottieDrawable' on a null object reference"
I have a problem on android 9:

10-17 16:12:27.687 E/AndroidRuntime(11897): Caused by: java.lang.NullPointerException: Attempt to read from field 'com.airbnb.lottie.LottieDrawable com.airbnb.lottie.model.layer.BaseLayer.lottieDrawable' on a null object reference
10-17 16:12:27.687 E/AndroidRuntime(11897): 	at com.airbnb.lottie.model.layer.CompositionLayer.setProgress(CompositionLayer.java:135)
10-

[2020-10-17 20:33] gpeal commented on #1650
@w2hhda It looks like there is a lot going on here in which the Xposed framework is intercepting various things. Considering nobody else has had this issue, this is almost certainly an issue with whatever Xposed modules are active.

[2020-10-17 20:33] #1650 closed

[2020-10-18 16:28] Aliendroid8045 opened #1651 "Crash : Unable to start activity ComponentInfo{com.airbnb.lottie/com.airbnb.lottie.samples.PlayerActivity}: java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter preview"
Device: Emulator Google pixel 2
OS: Android 10

Steps to reproduce:
Launch the app and click 3 animations inside the showcase.
![Screenshot_1603038384](https://user-images.githubusercontent.com/13978101/96373896-f3baa880-1134-11eb-8bf6-d3db9550f7db.png)

Crash report:
2020-10-18 11:13:32.333 9155-9155/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.airbnb.lottie, PID: 9155
    java.lang

[2020-10-20 09:06] houziershi commented on #1537
solusion???

[2020-10-21 08:21] tuesda opened #1653 "Animation can't resume when ancestor view visibility changed"
LottieAnimationView should try to resume animation in onVisibilityAggregated like onVisibilityChanged which paused in onDetachFromWindow(), because when ancestor view's visibility changed, only `LottieAnimationView.onVisibilityAggregated` method is called.

[2020-10-21 08:43] houziershi commented on #1537
so how to solve the problem? we have the same problem.

[2020-10-21 12:07] lhyAndroid opened #1654 "setColorFilter 方法不能使用"
可以增加对 setColorFilter 方法的支持么

[2020-10-21 16:18] gpeal commented on #1653
@tuesda onVisibilityAggregated was only added in API 24 so Lottie would have to fall back to the current behavior for <24. I'm concerned that engineers testing their apps will only test on 24+ and never realize that things are broken on older devices. For that reason, I'm leaning towards the slightly suboptimal but more consistent behavior. Thoughts?

[2020-10-21 16:18] #1654 closed

[2020-10-22 08:13] tuesda commented on #1653
@gpeal  ok, appreciate your response.

[2020-10-22 08:13] #1653 closed

[2020-10-23 03:29] jiaopan opened #1655 "Caused by: java.lang.ClassCastException: int[] cannot be cast to java.lang.String[]"
When lottie upgrade to 3.4.2, there are some crash only on Android 4.4.4:

Caused by: java.lang.ClassCastException: int[] cannot be cast to java.lang.String[]
at com.airbnb.lottie.parser.moshi.JsonReader$Options.of(Proguard:388)
at com.airbnb.lottie.parser.LottieCompositionMoshiParser.<clinit>(Proguard:27)
... 19 more

[2020-10-23 05:01] gpeal commented on #1655
@jiaopan Please attach your animation. There is no way to debug it without that.

[2020-10-24 20:39] gpeal commented on #1649
@YuTengfei I'm not sure how to help with this one without a reliable reproduction. Lottie runs on millions of 6.0 devices every day and I haven't heard of any other reports of this.

[2020-10-24 20:40] gpeal commented on #1642
I'm going to close this because it looks like it was using expressions (loopOut).
@ision-industries If you have another time remapping issue, please open a separate issue and attach a sample animation.

[2020-10-24 20:40] #1642 closed

[2020-10-24 21:38] gpeal commented on #1646
@rafamatias In general, I've been trying to keep the API surface area as small as possible for maintenance reasons. This seems like something that you could build into the AOSP setup fairly easily. Lottie uses [this utils function](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/utils/Utils.java#L261) to get the animation scale and then snaps to the end

[2020-10-24 22:12] #1648 closed

[2020-10-26 03:49] huynguyennovem commented on #1534
have the same bug. any solutions?

[2020-10-26 04:08] huynguyennovem commented on #1534
Do you use an Android timer instead? Why is it not the correct way?

[2020-10-26 05:14] yorickMaziere commented on #1534
I had this issue in production on a handful of users when using an onAnimationListener which was changing the progress of the animation. The users had the OS settings 'remove animations' set to true and this is how I could replicate the issue. It's causing the animation to terminate immediately and call the animation again and again and again

[2020-10-26 05:19] huynguyennovem commented on #1534
Did you resolve that?

[2020-10-26 05:23] yorickMaziere commented on #1534
Yes, I changed the way I am using the listener so I wouldn't repeat the animation definitely

[2020-10-26 05:25] huynguyennovem commented on #1534
Do you use an Android timer instead? Could you share the solution?

[2020-10-26 07:26] NiHang commented on #1476
I also encountered this problem, which version solved it?

[2020-10-28 10:22] itopenup opened #1661 "TextDelegate private method can't be overridden"
https://github.com/airbnb/lottie-android/blob/d3dd2c87b2ec61b202c9837d1aa7c2a3f61b22f6/lottie/src/main/java/com/airbnb/lottie/TextDelegate.java#L47

[2020-10-28 14:30] gpeal commented on #1661
@itopenup To use TextDelegate, you call `setText("INPUT", "OUTPUT")`. `getText()` is called internally by Lottie to get the output text for the given input text.

The input text is the original text from After Effects. The output text is the text you want to replace it with.

[2020-10-28 14:30] #1661 closed

[2020-10-30 15:09] Luosoha commented on #1545
@shirley737 did you solve the problem?

[2020-10-31 22:37] gpeal commented on #1534
It looks like you all are using `onAnimationEnd` to restart the animation. Are you trying to achieve looping? If so, Lottie has the ability to loop built in.
If you would like to detect when animations are disabled and do something different, you can detect it the same way Lottie does:
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/utils/Utils.java#L261

[2020-11-01 12:02] jingmaolin opened #1664 "When to upgrade to a new version to with NetworkFetcher customization"
I saw a custom implementation of NetworkFetcher in the recent maser branch submission, so I hope to upgrade to a version as soon as possible (including this feature)

[2020-11-02 05:31] gpeal commented on #1664
@jingmaolin 3.4.5-SNAPSHOT should be available now. 3.5.0 will be released soon.

[2020-11-02 05:31] #1664 closed

[2020-11-02 05:32] #1644 closed

[2020-11-02 09:29] huynguyennovem commented on #1534
In some cases, we need to replace the lottie each time it loops. I tried to use OS timer, it helps to fix this issue. Should contributors to this repo concern to update this?

[2020-11-02 15:21] gpeal commented on #1534
@huynguyennovem What would the correct behavior be? If you call `playAnimation()` with animations disabled, Lottie jumps to the end and calls `onAnimationEnd()` which, to me, seems like the correct behavior. If Lottie were to delay the end call by a frame then you would just see the animation loop through a different animation on each frame which solves the crash but is a completely undesirable us

[2020-11-02 15:32] LassassinX opened #1665 "Changing raw res of setAnimation() on LottieAnimationView causes a noticeable flicker"
I have a LottieImageView into which I wish to show multiple animations through multiple .json files depending on the user. However, when I try to change it using LottieAnimationView.setAnimation(); the animation becomes completely invisible for about a second and then the next animation loads in. Is there anyway to make this transition flawless by somehow preloading the animation ? A good step by

[2020-11-02 15:49] gpeal commented on #1665
@LassassinX Yes, Lottie can't synchronously show a new animation. It has to load and parse the JSON file which takes several MS and must be done on a background thread. However, Lottie has a fairly robust internal caching mechanism.

If you know an animation will be used, just call `LottieCompositionFactory.fromRasRes(R.raw.your_animation)` at point ~1s or more prior to needing it and it should fi

[2020-11-02 15:49] #1665 closed

[2020-11-03 07:35] LassassinX commented on #1665
Hello, I have implemented what you have said. However, this solution is pretty inconsistent. Sometimes I see a slight flicker, sometimes I do not. My code for a simple test is as follows :

        new Handler().postDelayed(() -> {
            LottieCompositionFactory.fromRawRes(this,R.raw.rocket_repeat);
        }, 1700);

        new Handler().postDelayed(() -> {
            animationView.setAni

[2020-11-03 16:27] gpeal commented on #1665
@LassassinX It's going to depend on how fast your phone is or how large the json file is.
No need to post delay the factory methods. Just call them all at the beginning. You can even do it earlier in your application if you think you'll use the animations. There isn't much overhead to proactively parse them.

[2020-11-04 08:24] Luosoha opened #1666 "Add dynamic property for text alignment and text style"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Is your feature request related to a problem? Please describe.**
- I've been using TextDelegate to change the text of Lottie animations, and the justification is always center by default. I want to make it left aligned but can't find a way to

[2020-11-04 17:59] gpeal commented on #1666
@Luosoha Any interest in making a PR for this?

[2020-11-05 09:17] everloser opened #1667 "StackOverflowError when setting setMinFrame using AnimatorListener AnimationEnd"
Android 10 (SDK 29)

Redmi Note 8 Pro
Huawei 荣耀 8X
Huawei HUAWEI nova 5T
Redmi Note 9

code:
with(binding.lottieAnimationStart) {
            setAnimation("new_start.json")
            repeatCount = 0
            addAnimatorListener(object : Animator.AnimatorListener {
                override fun onAnimationStart(animator: Animator) = Unit
                override fun onAnimationRepeat(animator:

[2020-11-05 16:31] gpeal commented on #1667
Duplicate of #1534

Explanation here
https://github.com/airbnb/lottie-android/issues/1534#issuecomment-720537189

[2020-11-05 16:31] #1667 closed

[2020-11-05 16:32] gpeal commented on #1534
I'm going to close this for now unless there is an explicit behavior change that Lottie could implement that would solve this without other consequences.

[2020-11-05 16:32] #1534 closed

[2020-11-05 17:28] hananafif opened #1668 "Path Expression"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i want to loop my path properties in lottie, path isn't support `loopOut()` or `loopIn()`

**Describe the solution you'd like**
Loop on path is using

[2020-11-05 19:12] gpeal commented on #1668
Lottie Android can't do expressions because it's a javascript based programming language and there is no trivial way to evaluate them on Android.

[2020-11-05 19:12] #1668 closed

[2020-11-07 06:07] #1643 closed

[2020-11-07 06:07] gpeal commented on #1646
@rafamatias Any suggestions here?

[2020-11-07 11:59] frontlink-technology commented on #1233
I am facing same issue while using setFontAssetDelegate runtime. If animation is playing, then typeface not updating at that time. Please suggest solution for this...

[2020-11-08 20:52] olekstomek opened #1671 "Lottie Android app crash when you open "Bullseye" because bullseye.json not found 404"
Xiaomi Mi 9, Android 10. Log:

[code]

[2020-11-08 21:04] olekstomek opened #1672 "Lottie Android app crash when you go to "Lottiefiles" and then go to "Popular" - IndexOutOfBoundsException"
Xiaomi Mi9, Android 10. Log:

[code]

[2020-11-08 21:40] olekstomek opened #1673 "Lottie Android app crash when you use search"
Xiaomi Mi9, Android 10.

First.
1. Go to Lottiefiles
2. Go to Search
3. Input "." (dot)
4. Confirm searching
5. Result:

[code]

Second.
1. Go to Lottiefiles
2. Go to Search
3. Input eg.: "test"
4. Confirm searching
5. Search again "test" or another word
6. Result:

[code]

[2020-11-08 23:43] gpeal commented on #1233
Would you like to propose an API that would work better for you?

[2020-11-09 03:29] gpeal commented on #1673
I believe this is fixed on master it reproduces in the Play Store version but not on master (for me at least).

[2020-11-09 03:29] #1673 closed

[2020-11-09 03:31] gpeal commented on #1672
I believe this is fixed on master. I can no longer reproduce it there.

[2020-11-09 03:31] #1672 closed

[2020-11-09 03:33] gpeal commented on #1655
I'm going to close this due to inactivity. Please reopen with your animation if you are still having this issue.

[2020-11-09 03:33] #1655 closed

[2020-11-09 04:37] gpeal commented on #1651
This must have been a bug on the lottiefiles side. It's no longer in the showcase but when I searched for it, it worked.

[2020-11-09 04:37] #1651 closed

[2020-11-09 14:14] rafamatias commented on #1646
Hi @gpeal. Yes, we could get the animation scale value with this utility class, but we still need to handle it and replace the animation using `ImageView.setImageResource`. For complex cases, when we need to change animation many times using a same view, we need to handle this issue when the accessibility option is enabled.

If we intend to keep Lottie as simple as possible, probably we don't need

[2020-11-09 16:41] gpeal commented on #1646
@rafamatia Fallback [already exists](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/res/values/attrs.xml#L9) for when loading an animation via a URL or parsing an animation fails and is usually some sort of failure/no internet src.

This API would have to very clearly indicate that it will be used when the animation scale is 0/animations are disabled.

[2020-11-10 02:41] jhwsx opened #1675 "Why this lottie file is rendered fragmentary on some phones?"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my anim

[2020-11-10 10:07] cuicmex opened #1676 "Animation play well on web, but incomplete on iOS"
I have a json file for lottie animation.
https://lottiefiles.com/share/f44vtncy
https://assets3.lottiefiles.com/packages/lf20_f44vtncy.json

Using lottiefiles.com, the animation plays fine, but when I tested the same animation on LottieF

iles iOS, it doesn't show all elements in the animation. (The rays coming out of the star are not all shown)

LottieFiles iOS version: 1.2.1

Steps to reproduce

[2020-11-10 17:19] gpeal commented on #1676
I think you meant to post this on https://github.com/airbnb/lottie-ios

[2020-11-10 17:19] #1676 closed

[2020-11-11 01:17] #1671 closed

[2020-11-11 08:25] ngthanhphuc commented on #995
@michealfriesen use `lottie_cacheComposition="false"` to clear this cache on lang change

[2020-11-11 16:05] gpeal commented on #995
That could work or you could use LottieCompositionFactory.* functions with your own language-specific cache keys and set the composition directly.

[2020-11-12 03:41] ud17 commented on #1347
@gpeal Thank you ! Worked for me too!

[2020-11-12 08:31] Luosoha commented on #1666
@gpeal I tried to change the text justification but it seems to break the animation, could you help me on this?
Also here is a PR for the text style: https://github.com/airbnb/lottie-android/pull/1678/files

[2020-11-16 16:06] olekstomek opened #1681 "Lottie Android app crash when you go to Lottiefiles when device is offline"
Turn off mobile internet connection and WiFi on your smartphone and go to Lottiefiles. It throws always:

[code]

[2020-11-17 02:52] samiam2020 commented on #388
@gpeal has a solution for the alignment of dynamic text been arrived at for android? We need the text to be editable in code, so the create outlines option won't work in this context.

[2020-11-17 04:45] samiam2020 opened #1682 "Dynamic Text alignment shifting"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my anim

[2020-11-17 17:07] IgorCordasEndava commented on #1534
Hi! We encountered this issue only when it got to production...
But fortunately info here helps. Just posting a runnable on the view instead of direct calling startAnimation fixes the issue for us.

What I don't get is why close this, behavior of the new version is different compared to the old one and it behaves differently when using public apis (which addAnimatorListener and onAnimationEnd defi

[2020-11-18 03:32] dion-george commented on #1682
The latest version is 3.5.0
Could you update and check once?

[2020-11-18 07:04] samiam2020 commented on #1682
@dion-george Thanks, that got us to a workable solution. We were able to find a work around with your help. There is still the odd requirement of us needing to place the font group in an location off the canvas to get it to align correctly but at least it's working.
Have to position off canvas:
![Screen Shot 2020-11-17 at 10 35 29 PM](https://user-images.githubusercontent.com/58047407/99496353-f3c

[2020-11-18 07:05] #1682 closed

[2020-11-18 07:11] dion-george commented on #1682
Awesome, did you do anything more, or just updated to the latest version?

[2020-11-18 08:34] samiam2020 commented on #1682
@dion-george updated to latest version. and then because of the way after effects handles anchor points we had to shift it off the canvas. Another issue we were having was something with the fonts. we have two lines of text using 2 different weights (bold and Demi). For some reason it wasn't recognizing the correct font weights seemed like they were one level lower than we wanted them. Demi looked

[2020-11-19 07:03] sijanr commented on #92
I tried using it in 3.5.0, but I couldn't find the method to reverse the view. It seems that the method might have been removed. Passing -1 to setSpeed(float) works fine, however.

[2020-11-19 12:41] crackjack commented on #388
I actually gave up, and moved to a native textview.

Instead of having text within animation, it is in a textview. Sure does not have the same flexibility of just dropping your animation to xm, but with Lottie providing current frame, we can time the conditions to show/hide/replace text in the textview.

[2020-11-19 21:48] gpeal commented on #92
@sijanr That is the correct way to do this.

[2020-11-20 04:11] sijanr commented on #92
@gpeal Great! I've just started using Lottie and totally love it so far.

[2020-11-20 09:51] hiteshsahu commented on #667
For me it happen when I misspelled my Lottie file name. After referring to correct file this error was gone.

![image](https://user-images.githubusercontent.com/4076925/99785893-15d18d00-2b1e-11eb-88a6-a60e1633642c.png)

[2020-11-21 09:49] kedar1514 commented on #1140
This error also occurred when i wrote  app:lottie_fileName="lottie_file_name" instead of app:lottie_fileName="main_load_bar.json"

[2020-11-23 20:22] j2sun commented on #1495
Same issue for me. Instead of RecyclerView, I encountered this problem in ViewPager. It works when using "post".

[2020-11-24 03:56] MrsLEO opened #1686 "The LottieAnimationView cass full screen update"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1.The LottieAnimationView will cause the entire screen to refresh, even if we accurately control the ImageView size

**Describe the

[2020-11-24 18:25] bogdanmunteanu opened #1687 "Lottie Animation is slow when loading data with PagingDataAdapter and PagingDataSource"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Checklist**

1. Lottie Android version 3.5.0
2.Android 10
3. Huawei P30 Pro with hardware acceleration enabled

**Describe the bug**
I am working on an app in which the user logs in, the Main Activity is started via Intent and hosting multipl

[2020-11-24 22:04] gpeal commented on #1687
@bogdanmunteanu Lottie will join any in-flight animations so if you have two screens or multiple rows in the same RecyclerView loading the same thing, it will only load and parse the json once.

If you think you might be loading a screen, you can preemptively call `LottieCompositionFactory.fromRawRes(context, R.raw.your_animation)` (or another factory method) anywhere in your application then it'l

[2020-11-24 22:06] bogdanmunteanu commented on #1687
@gpeal , thank you for your response. Can you give me an example of how to use the composition factory ? I've searched on previous issues where you mentioned this but couldn't find any examples.

[2020-11-24 22:09] gpeal commented on #1687
@bogdanmunteanu Just call that line of code from anywhere in your application without worrying about the return value. It will kick off an async job that will load, parse, and cache the animation so when you actually us it, it will be available immediately.

[2020-11-24 22:10] bogdanmunteanu commented on #1687
Good , will try and keep you updated. Thanks again for the response 👍

[2020-11-24 22:32] bogdanmunteanu commented on #1687
@gpeal , the result is the same. I'll leave some relevant code below.

`        <androidx.constraintlayout.widget.ConstraintLayout
            android:layout_width="300dp"
            android:layout_height="300dp"
            app:layout_constraintBottom_toBottomOf="parent"
            app:layout_constraintEnd_toEndOf="parent"
            app:layout_constraintStart_toStartOf="parent"
            ap

[2020-11-25 17:33] gpeal commented on #1687
You don't have to manually store and set the composition. It is cached my Lottie under the hood.
Simply call `LottieCompositionFactory.fromAsset(this, "CafetinoLogoRotate.json")` in your Activity and set `app:lottie_fileName="CafetineLogoRotate.json"` in your XML file.

Is this ViewPager shown right on app launch?

[2020-11-25 18:37] bogdanmunteanu commented on #1687
Actually , the fragments are in a FragmentPagerAdapter . And it's shown on activity start , yes.

[2020-11-25 18:58] gpeal commented on #1687
@bogdanmunteanu In that case, there isn't any advantage in pre-loading them in your Activity because your Activity and fragments start at the same time.

Ultimately, the animations have to be loaded from json and parsed which can't be done synchronously on the main thread. Given that, what would you propose Lottie do here?

[2020-11-25 19:04] bogdanmunteanu commented on #1687
Actually, I don't know:) I'll try to load the data in the activity and just observe in fragments, so that the fragments won't have so much to do.I think the problem lies in the fact that when Lottie is parsing the Json in the background , that thread is overwhelmed with feeding constant data from the paging data source. Another solution I'll try is dispatching the data feeding coroutine to a compu

[2020-11-25 19:07] gpeal commented on #1687
@bogdanmunteanu Not sure I follow. Phones have many cores and can run a _ton_ of threads these days.

[2020-11-25 23:45] redatimi opened #1688 "pid: 27213 java.lang.illegalstateexception: unable to parse"
androidruntime: fatal exception: main process: com.nova.money, pid: 27213 java.lang.illegalstateexception: unable to parse composition at com.airbnb.lottie.lottieanimationview$1.onresult(lottieanimationview.java:76) at com.airbnb.lottie.lottieanimationview$1.onresult(lottieanimationview.java:69) at com.airbnb.lottie.lottieanimationview$3.onresult(lottieanimationview.java:93) at com.airbnb.lottie.l

[2020-11-26 00:20] #1688 closed

[2020-11-26 16:07] bogdanmunteanu commented on #1687
@gpeal you can close the issue. Turns out that the issue was caused by a custom view that was leaking. Lottie ia working perfectly. Keep up the good work 💯

[2020-11-26 18:45] #1687 closed

[2020-11-27 13:25] abkoradiya commented on #1273
Hi @rkcoders can you reply me what is a ffmpeg command for making video from all frame images?

[2020-11-27 15:17] carstenhag commented on #1585
@gpeal Just saw this issue still being referenced in our code, can you please look at the above comment? :) Thanks!

[2020-11-30 10:58] zhuangzhitu opened #1693 "In dark mode, black Lottie cannot be dyed white. Why? Can you help me out? Thank you"
If inscribe

[2020-11-30 17:18] #1693 closed

[2020-12-03 12:03] AdrienDuchateau opened #1694 "Rendering issue on mobile app"
Hi!

I read similar issues on github, but I can't find a solution myself...
I created a Lottie: https://lottiefiles.com/share/1dr0wucb, preview looks fine on desktop browser, but it looks broken on the Lottie mobile app : [RPReplay_Final1606996906.MP4.zip](https://github.com/airbnb/lottie-android/files/5635892/RPReplay_Final1606996906.MP4.zip)

Here is the AE file:
[checkmark.aep.zip](https://gith

[2020-12-03 16:46] gpeal commented on #1694
Your animation uses multiple features that are unsupported on Android including expressions and some sort of layer effect (tracer le chemin?).
Please refer to [this table](http://airbnb.io/lottie/#/supported-features) for the supported features.

[2020-12-03 16:46] #1694 closed

[2020-12-04 09:39] AdrienDuchateau commented on #1694
ok thanks for your quick answer!

[2020-12-08 23:55] vellrya opened #1696 "Strange behaviour when mixing LottieCompositionFactory and static drawable"
**Checklist**

1. Fork this repository into your account. -
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-repro
   module may be auto-closed. -
_- Maybe I'll be lucky :)_

**Describe the bug**
I found strange behaviour when using LottieAnimationView with static image and LottieCompositionFactory.
Lottie version: 3.5.0

**Steps To Reproduce**
Steps to reprod

[2020-12-09 00:28] gpeal commented on #1696
@vellrya Can you create a repro in the issue-repro module per the issue template please?

[2020-12-09 09:23] vellrya commented on #1696
Unfortuanetely, fork of repository required Studio 4.2 to open, but I perefer not to use Beta version of IDE. There is no stable 4.2 release right now.

[2020-12-09 16:23] gpeal commented on #1696
@vellrya You can download and run it side by side without affecting your current installation.

[2020-12-12 19:37] chrislworkaccount opened #1697 "Fetch current Lottie layer color programmatically"
I am working on a project for iOS, Android and RN. I am using the KeyPath object to update colors for a keypath. That piece works fine. I can't seem to find a way to fetch the current color of a layer by Keypath. I need the current colors to create color profiles so I can create different themed versions for the same Lottie animation.

To fetch the color I am hoping to find something as simple as

[2020-12-12 23:59] gpeal commented on #1697
@chrislworkaccount if you call `invalidate` on the drawable, it'll re-render and then call your callback. Would that work?

[2020-12-13 01:35] chrislworkaccount commented on #1697
Which drawable? the "mIllustrationView" is a LottieAnimationView. If I call invalidate on it I can detect the current color for a layer?

[2020-12-13 05:55] gpeal commented on #1697
@chrislworkaccount Yes, try adding the value callback you have then calling invalidate on the view. That will cause it to redraw and call you callback. Note that it won't happen synchronously though.

[2020-12-13 11:45] vellrya commented on #1696
Reproduced: https://github.com/vellrya/lottie-android

[2020-12-13 19:36] chrislworkaccount commented on #1697
I am still not seeing how it will return the current color not the one I am setting it to? Apologize and I am learning how to use these methods. this is returning the color I am setting it to, not the current color. what would go in the getValue method to return current? if you have a code example it would be great.

    fun applyColorForTag2(colorMap: Map<String, String>?) {
        mIllustration

[2020-12-13 22:40] vellrya commented on #1696
I made this steps:
1. Remove this if statement:
https://github.com/airbnb/lottie-android/blob/2cf9b8501c0ae3b1875577e002ce758875c1f04e/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L211-L213

2. There is check for drawable equality in LottieAnimationView.setComposition:
https://github.com/airbnb/lottie-android/blob/2cf9b8501c0ae3b1875577e002ce758875c1f04e/lottie/src/main/java/com/airb

[2020-12-13 23:15] chrislworkaccount commented on #1697
thanks for the pointers but I could not find a way to get it working through the lottie apis so i needed to traverse the json to track it down. now i can convert the RGBA color to hex for the shape layers to use in my theming

prints -> colorinfo: [0.294000004787,0.298000021542,0.458999992819,1]
              val colormaps: JSONArray =
                JsonPath.read(
                    json, "$.la

[2020-12-15 06:41] eshantmittal opened #1698 "Error in Android OS 7.1 Nougat API Level 25"
Hi Team

I am getting below error in Android OS 7.1 Nougat API Level 25

E/AndroidRuntime: FATAL EXCEPTION: main
    java.lang.OutOfMemoryError: Failed to allocate a 8294412 byte allocation with 4194304 free bytes and 6MB until OOM
        at dalvik.system.VMRuntime.newNonMovableArray(Native Method)
        at android.graphics.BitmapFactory.nativeDecodeByteArray(Native Method)
        at android.g

[2020-12-15 06:43] eshantmittal commented on #1698
I have already update my AndroidManifest.xml file with this

android:largeHeap="true"
android:hardwareAccelerated="false"

[2020-12-15 16:55] gpeal commented on #1698
An OOM rarely has a root cause where it finally actually runs out of memory. Lottie needs _some_ memory to run and if you app was already on the verge of getting killed, it might push it over the edge but this isn't necessarily an indication that there is problem with Lottie itself.

If you think there is, create a repro in the issue-repro module that shows unexpectedly large memory usage.

[2020-12-15 16:55] #1698 closed

[2020-12-16 02:53] chrislworkaccount commented on #1076
Ever find a solution for this?

[2020-12-20 05:41] medsauce opened #1700 "Spin"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrate

[2020-12-20 06:04] gpeal commented on #1700
@medsauce I'm sorry, I don't understand what you are asking for.

[2020-12-20 07:04] medsauce commented on #1700
I am new git member. My request was supposed to be a suggestion for the logo. My thought was to bring back the rotation on logo like an old pin wheel sign. Or a barbers spinning pole. On your site. I will of course learn myself eventually. Though of course my suggestion and your knowledge would allow me to learn more effectively and in efficiently on how this would be done.

[2020-12-22 09:15] JoachimNoergaard opened #1701 "Emojis in text delegates disappear on Android 8.1 and below"
**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work.
[gift_cinema_animation_3.json.zip](https://github

[2020-12-23 05:36] zhuangzhitu opened #1702 "java.lang.NullPointerException: Attempt to invoke interface method 'void com.airbnb.lottie.f$a.a(com.airbnb.lottie.d)' on a null object reference at com.airbnb.lottie.LottieDrawable.setComposition(SourceFile:229)"
**lottie version: 3.5.0**

**Android API 28/29 the following crash occurs :**     can you help me?

java.lang.NullPointerException: Attempt to invoke interface method 'void com.airbnb.lottie.f$a.a(com.airbnb.lottie.d)' on a null object reference
at com.airbnb.lottie.LottieDrawable.setComposition(SourceFile:229)
at com.airbnb.lottie.LottieAnimationView.setComposition(SourceFile:550)
at com.airbnb.l

[2020-12-23 06:16] zhuangzhitu commented on #1407
No fix, 3.5.0 still exists @gpeal

[2020-12-23 06:16] zhuangzhitu commented on #1407
https://github.com/airbnb/lottie-android/issues/1702

[2020-12-23 07:08] zhuangzhitu commented on #1702
![image](https://user-images.githubusercontent.com/13757638/102969451-b1e12080-4530-11eb-9d58-ec58a62e71b0.png)

[2020-12-23 07:38] YaoPaine commented on #659
help ! how to resolve this issue?

[2020-12-23 10:29] zhuangzhitu commented on #1702
java.lang.NullPointerException: Attempt to invoke interface method 'void com.airbnb.lottie.f$a.a(com.airbnb.lottie.d)' on a null object reference
at com.airbnb.lottie.LottieDrawable$LazyCompositionTask.run(com.airbnb.lottie.d)
at com.airbnb.lottie.LottieDrawable.setComposition(SourceFile:229)
at com.airbnb.lottie.LottieAnimationView.setComposition(SourceFile:550)
at com.airbnb.lottie.LottieAnimati

[2020-12-24 03:08] gpeal commented on #1700
@medsauce you may be posting this in the wrong place. This repo is for reporting issues with the Lottie Android library. Did you intend to send this to Lottiefiles or somewhere else?

[2020-12-24 03:42] gpeal commented on #1646
I'm going to close this due to lack of activity but if you want to reconsider this, please propose a new specific API that would solve the requirement above.

[2020-12-24 04:06] gpeal commented on #1701
@JoachimNoergaard Your font may not support that emoji on Android 8. I just did a quick test where I tried to use the `Typeface.DEFAULT` to render 🍿 in a TextView and it wasn't able to render it either.
[code]

If that fails, Lottie won't be able to render it either.

[2020-12-24 05:01] zhuangzhitu commented on #1702
@gpeal

[2020-12-24 05:59] gpeal commented on #1686
@MrsLEO Whenever an Android view is invalidated, the entire screen has to be redrawn for a number of reasons including that views can overlap so to get the fully composited image, you have to render everything.

Under the hood, LottieAnimationView is calling `invalidateDrawable(lottieDrawable)` ([here](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/Lott

[2020-12-24 05:59] #1686 closed

[2020-12-24 06:17] #1696 closed

[2020-12-24 20:03] #1625 closed

[2020-12-24 20:04] gpeal commented on #1702
@zhuangzhitu I read through the code for ArrayList and ArrayListIterator and I don't see how this could be possible. I have never heard of anybody else having this issue either. If you could provide any repro steps, that would be necessary to fix this.

[2020-12-25 02:31] zhuangzhitu commented on #1702
This is crash, which we use online, about 100 or so, focusing on Android 28,29. I'm not sure how this would happen unless we add a null object to lazyCompositionTasks, but looking at the code is unlikely.

[2020-12-25 07:56] chitgoks commented on #778
there does not seem to be any way to make it transparent.

in the editing layer page for lottie files, i set the background to transparent, nothing happens.
i set the background of  com.airbnb.lottie.LottieAnimationView to null or transparent, nothing happens. it's still white.

anyone solved this?

[2020-12-25 08:18] zhuangzhitu commented on #1702
Someone mentioned it. Please have a look：https://github.com/airbnb/lottie-android/issues/1407 @gpeal

[2020-12-25 08:41] zhangzhige opened #1705 "Support scale bitmap in low resolution devices"
Hi，In my app，have some oom crash in low resolution devices，because ours lottie file is design by 1920*1080，but the old devices is 720p or less，I found ImageAssetManager decode the bitmap in the design size，so this is Memory waste，so I hope you can support create scale Bitmap in Lottie-Android。Like this change：
![image](https://user-images.githubusercontent.com/5879656/103128295-b98afb80-46cf-11eb-

[2020-12-25 08:48] zhangzhige commented on #1705
when I used the scale bitmap in 720p devices（opts.inSampleSize = 2）, the memory contrast like this
![image](https://user-images.githubusercontent.com/5879656/103128628-00c5bc00-46d1-11eb-99bd-64877d0b1f1f.png)
![image](https://user-images.githubusercontent.com/5879656/103128633-03c0ac80-46d1-11eb-9a5a-981941d4a8d5.png)

[2020-12-25 21:25] gpeal commented on #1700
I'm going to close this for now unless there is a specific request for Lottie Android.

[2020-12-25 21:25] #1700 closed

[2020-12-25 21:27] gpeal commented on #1681
This no longer happens on master.

[2020-12-25 21:27] #1681 closed

[2020-12-25 21:31] #1646 closed

[2020-12-25 21:40] gpeal commented on #1345
Fixed by https://github.com/airbnb/lottie-android/commit/adb331b1a911bfe27a778870102e302335b68e17

[2020-12-25 21:40] #1345 closed

[2020-12-25 21:47] gpeal commented on #1610
I believe this was fixed in 3.4.4 with https://github.com/airbnb/lottie-android/pull/1635

![image](https://user-images.githubusercontent.com/1307745/103142421-9b190600-46b7-11eb-9a07-71a9af010bd8.png)

[2020-12-25 21:47] #1610 closed

[2020-12-25 21:52] gpeal commented on #1538
I think somehow in your build, you are excluding the okio transitive dependency
[code]

Make sure you are not excluding okio and this problem should go away.

[2020-12-25 21:52] #1538 closed

[2020-12-25 22:01] gpeal commented on #1396
@Adimote-work @kartik1225 I would accept a PR for this. You may want to check out the [code point parsing](https://github.com/airbnb/lottie-android/blob/5e12628a0ded9eb37473a3b7b54d0cccf8ef86be/lottie/src/main/java/com/airbnb/lottie/model/layer/TextLayer.java#L373) as well. I can't read Hindi or Gujarati myself so this one will be difficult for me to do well.

[2020-12-25 22:42] gpeal commented on #1531
I figured out the issue here. MaterialButton assumes that its icon drawable's intrinsic size never changes. However, in your code, you set the drawable on the button before it's composition is set so it returns the default intrinsic width/height of -1.

To work around this, just set the icon on the button after the composition is loaded and it will work just fine.

[2020-12-25 22:42] #1531 closed

[2020-12-25 22:51] gpeal commented on #1705
@zhangzhige Are you using a BitmapAssetDelegate to return the images at runtime? From my tests, the bitmaps that bodymovin exports are the same size as the image asset metadata in which case, this change has no effect.

[2020-12-25 22:57] gpeal commented on #1649
In my tests, this function (which is just calling an Android platform API) only takes 0.05ms to 0.1ms. If this is ANRing, it is likely not Lottie's fault and represents a problem at the OS level. In that case, I would like to close this if there is nothing actionable on Lottie's side. Feel free to take another look yourself though.

[2020-12-25 23:11] gpeal commented on #813
I just tried this on 3.4.0 and master and it seems to be working fine now.

[2020-12-25 23:11] #813 closed

[2020-12-25 23:41] gpeal commented on #1424
@axitasavani Feel free to put up a PR

[2020-12-26 09:26] leinardi commented on #1531
Hi @gpeal, could we keep this issue open until it is properly fixed?

Also, could you give more details on how to implement the workaround?

[2020-12-26 19:43] gpeal commented on #1531
@leinardi The bug isn't on the Lottie side, it's on MaterialButton. I looked through the source code for it and there is no way for Lottie to notify the button that its intrinsic size has changed.

To implement the workaround, move
`findViewById<MaterialButton>(R.id.button).icon = lottieDrawable` to the end of the `LottieCompositionFactory` callback (line 21)

[2020-12-26 23:34] #1551 closed

[2020-12-26 23:39] gpeal commented on #1701
@JoachimNoergaard I'm going to close this for now because I don't think it is an issue with Lottie's rendering per my message above. If you think there is something wrong with Lottie's rendering, feel free to reopen this with more specific information.

[2020-12-26 23:39] #1701 closed

[2020-12-27 04:37] chitgoks commented on #1312
This did not help. it seems when a new activity is started, the lottie animation in the old activity stops.

what i wish to achieve is the animation keep on playing until the activity is not visible anymore.

[2020-12-27 07:12] #974 closed

[2020-12-27 09:18] #107 closed

[2020-12-27 10:30] JoachimNoergaard commented on #1701
From what I know, Android canvas drawText has an issue with emojis on api 27 and previous versions. The closest I have been to finding a solution is this https://stackoverflow.com/questions/41212092/drawing-emojis-on-android-canvas-using-unicode-values/41225433#41225433

[2020-12-27 21:57] #1649 closed

[2020-12-27 22:49] #1702 closed

[2020-12-27 23:06] gpeal commented on #1701
@JoachimNoergaard If you are able to take a look and put up a PR, I would be open to that but otherwise, it's unlikely that I'll have a chance to take this one on myself.

[2020-12-28 00:56] #1645 closed

[2020-12-28 02:27] #1542 closed

[2020-12-28 07:10] gpeal commented on #113
I looked into this and I don't think it will be trivial to implement on Android as there is no support for path expansion of the sort that After Effects uses.

I recommend scaling/animating your mask or using a track matte if you need something like this.

[2020-12-28 07:10] #113 closed

[2020-12-28 08:32] zhangzhige commented on #1705
@gpeal In my case, when ours lottie design by 1920*1080, in 720P devices I can use BitmapAssetDelegate decode     opts.inSampleSize *= 2; to create a small bitmap. It can work well. otherwise, In Lottie, I suggest you can set a param designDensity it mean  lottie design size, such as if lottie is 1920*1080, the designDensity will set 3 by outside. then in ImageAssetManager
![image](https://user-im

[2020-12-28 08:34] zhangzhige commented on #1705
@gpeal dont scale bigger in Util。
![image](https://user-images.githubusercontent.com/5879656/103201287-81cbc000-492a-11eb-8973-413759a15041.png)

[2020-12-28 12:26] zhuangzhitu commented on #1611
What does this mean, please

[2020-12-28 14:15] zhuangzhitu opened #1715 "Caused by: com.airbnb.lottie.parser.moshi.JsonEncodingException:Use JsonReader.setLenient(true) to accept malformed JSON at path $"
lottie version : 3.5.0...I can't reproduce it
crash trace:
com.airbnb.lottie.parser.moshi.JsonEncodingException: Use JsonReader.setLenient(true) to accept malformed JSON at path $
java.lang.IllegalStateException:Unable to parse composition
com.airbnb.lottie.LottieAnimationView$1.a(SourceFile:78)
......
Caused by:
com.airbnb.lottie.parser.moshi.JsonEncodingException:Use JsonReader.setLenient(true)

[2020-12-28 14:48] JoachimNoergaard commented on #1701
Honestly, I think the best solution is to state in the documentation that emojis are only supported from API 28 and up. The solution alternatives with compatible text views seem undesirable and at the same time the number of devices with older Android versions decline.

[2020-12-28 17:01] gpeal commented on #1715
@zhuangzhitu Can you provide more information? Can you attach the json file? How are you loading it? What devices, etc?
Most likely, something within your app is causing it to load an invalid json file which it is then passing to Lottie.

[2020-12-28 18:34] gpeal commented on #1611
@zhuangzhitu The stack trace indicates that Lottie was fed invalid json. This is likely not a Lottie bug

[2020-12-29 02:03] zhuangzhitu commented on #1715
Model: HuaWei/EMOTION/EmotionUI_10. 0.0
At present, the occurrence probability of the production environment of crash is extremely low, so it seems that it is not certain to happen. A project dozens of JSON files, it is difficult to find out which problem, can exception inside, print this resource path.

[2020-12-29 03:34] gpeal commented on #1715
@zhuangzhitu there really isn't anything that can be done without the json file and reproduction steps. I'm going to close this because it's not actionable as-is. If you are able to provide both, I'm happy to take a look though.

[2020-12-29 03:34] #1715 closed

[2020-12-29 03:49] zhuangzhitu commented on #1715
thank you . But I think, at least throw out the wrong JSON file, and it will be hard to find the wrong JSON.

[2020-12-29 03:50] zhuangzhitu commented on #1715
It's easy for you to know which JSON is causing the problem in your actual use. So far, it's probably a model fit problem

[2020-12-29 03:52] zhuangzhitu commented on #1715
So now you get feedback that you don't know what JSON is causing the problem, and you close the problem. It's not necessary. @gpeal

[2020-12-29 12:05] otopba commented on #603
@gpeal Hi! Could you provide valid link to performance docs please?

[2020-12-29 20:17] gpeal commented on #603
@otopba http://airbnb.io/lottie/#/android?id=performance

[2020-12-29 20:18] otopba commented on #603
Thank you!

[2020-12-31 03:40] soongao opened #1716 "ImageLayer draw bitmap with size from LottieImageAsset.width LottieImageAsset.height"
ImageLayer: draw bitmap  with size from LottieImageAsset.width  LottieImageAsset.height

I expect

**draw bitmap with the specified size instead of the original size**

  @Override public void drawLayer(@NonNull Canvas canvas, Matrix parentMatrix, int parentAlpha) {
*****
    src.set(0, 0, bitmap.getWidth(), bitmap.getHeight());
    dst.set(0, 0, (int) ([**current LottieImageAsset.width**] * densi

[2020-12-31 07:56] Nk-pa commented on #643
how to rotate animation element independently to specific angle in Swift

@brystel can you please answer how you managed it?

[2020-12-31 07:58] Nk-pa commented on #643
I need to change angle of cycle in cyclist Lottie aniamation but there are different nodes available for one cycle like
1.wheel net *.Group 1.Fill 1.Color
2.wheel circle *.Group 1.Fill 1.Color
3.bike.Group *.Fill 1.Color

many more nodes related to cycle parts and I want to change angle of whole cycle Please Please share your thoughts on this.. It will be really helpful

[2020-12-31 16:08] gpeal commented on #643
@Nk-pa You'll want to post that on https://github.com/airbnb/lottie-ios

[2021-01-01 16:52] skovacevic96 opened #1717 "Performance issues"
Hello, this actually is not a bug but a performance issue. I am making an app that is using Android Advanced Navigation Sample https://github.com/android/architecture-components-samples/tree/master/NavigationAdvancedSample. It basically means that I am having 3 bottom tabs with 3 different graphs, each of them have starting destinations that are really UI expensive. I have 3 animations that serve

[2021-01-01 17:28] rayarteagas commented on #852
+1

[2021-01-02 21:54] gpeal commented on #1717
@skovacevic96 Are you sure that the performance issues are related to Lottie? I would recommend:
1) Removing Lottie to see if there is a difference
2) Trying the animations in the Lottie sample app on the Play Store or from the repo. You can drag the animation on top of the Lottiefiles website then scan the qr code with the app and it'll start playing in the app. Once it's playing you can tap rend

[2021-01-05 03:29] 1wayticket opened #1718 "ImageAssetManager will casue crash when decode asset throw IOException"
Littie v3.1.0
 I have met some crash logs about Lottie recently.  When I read the source code ,I find there maybe a bug.
Class:com.airbnb.lottie.manager.ImageAssetManager
[code]
When AssetManager open file throw IOException,this **is** is null,and this **bitmap** will be null.and **Utils.resizeBitmapIfNeeded** will throw NPE.
I find the newest version alse has the problem, so please recheck these

[2021-01-05 04:25] gpeal commented on #1718
@1wayticket But the function returns null inside the catch block so it won't continue to the resize line.

[2021-01-05 05:00] gpeal commented on #1675
@jhwsx I was able to reproduce this on the Moto XT1650. It works if you set the render mode to software but I'll look into why this is happening.

[2021-01-05 06:29] 1wayticket commented on #1718
Sorry for my mistake. But we do collect NEP as below
[code]
It happend occasionly about 4/10000 among various devices, we can't reproduce it.
So can you give me some help?

[2021-01-05 06:57] gpeal commented on #1718
It looks like [BitmapFactory.decodeStream can return null](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/manager/ImageAssetManager.java). I can add a null check for that case.

[2021-01-05 07:18] jhwsx commented on #1675
@gpeal Thanks a billion.

[2021-01-05 07:40] 1wayticket commented on #1718
Thanks a lot!

[2021-01-05 16:26] gpeal commented on #1718
@1wayticket reopening to track this.

[2021-01-10 18:09] Jimmy-JC opened #1719 "LottieDrawable doesn't play animation when used as DynamicDrawableSpan inside SpannableString"
I'm facing an issue regarding animation not played, I've implemented a LottieDrawableSpan as wrote in android docs for using [DynamicDrawableSpan](https://developer.android.com/reference/kotlin/android/text/style/DynamicDrawableSpan) as seen here

[code]
It's working fine when it's come to use this drawable inside ImageView, but the animation isn't played inside SpannableString
Bellow is the metho

[2021-01-10 20:33] gpeal commented on #1719
@Jimmy-JC I've never tried to do this but almost certainly, the problem is that nothing is registering as the Drawable's callback via [setCallback](https://developer.android.com/reference/kotlin/android/graphics/drawable/Drawable#setcallback). Drawable use the callback to notify their parent that they need to be redrawn.

[2021-01-11 06:42] Jimmy-JC commented on #1719
Thanks @gpeal fixed and working fine

[2021-01-11 06:43] #1719 closed

[2021-01-11 11:24] zhuangzhitu opened #1720 "Issue on S6 Can't play"
Galaxy S6 edge Android 7.0
Issue：
Version: 3.5.0
I'm using this phone, and I'm running in the sample project, and I'm sure I can't play animation,
But why can I play with version 2.7.0?

[2021-01-11 11:49] zhuangzhitu commented on #1720
[IMG_1510.MP4.zip](https://github.com/airbnb/lottie-android/files/5795538/IMG_1510.MP4.zip)

[2021-01-11 15:22] mateusfsilva opened #1722 "Error on display the animation"
The animation is not showing the spin effect.

Lottie for Android 3.4.0
Android 11 (RQ1A.201205.003)

Open this file on Lottie
https://drive.google.com/file/d/1cVpwuU14P1xuddupK1AvbluXYJ2SplR9/view?usp=sharing

Animation on the LottieFiles:
![animation_500_kjokrclb](https://user-images.githubusercontent.com/3394090/104199180-e0eb0380-5405-11eb-9d60-a9cf7964376d.gif)

Animation on the Lottie for An

[2021-01-11 16:42] gpeal commented on #1720
@zhuangzhitu Do you have any of the system animation scales set to 0 in developer options?

[2021-01-11 16:43] gpeal commented on #1722
Lottie doesn't support 3D or Cinema 4D effects.
You can check what it supported [here](http://airbnb.io/lottie/#/supported-features)

[2021-01-11 16:43] #1722 closed

[2021-01-12 02:05] zhuangzhitu commented on #1720
Really, why will the new version not play by default? For example, 2.7.0 plays fine

[2021-01-12 02:18] zhuangzhitu commented on #1720
Indeed, I have turned off the animation scaling of one image. Why is that? 2.7.0 is good again?

[2021-01-12 03:57] gpeal commented on #1720
It changed in [3.0.1](https://github.com/airbnb/lottie-android/blob/master/CHANGELOG.md#bugs-fixed-14)

[2021-01-12 03:58] zhuangzhitu commented on #1720
ok

[2021-01-12 03:58] #1720 closed

[2021-01-12 13:34] taurelas commented on #388
Ensure that the "j" value for the text in JSON is 2 (centered)

[2021-01-13 09:33] qw903157902 opened #1723 "equals??"
https://github.com/airbnb/lottie-android/blob/1d3fca2fbb1aee5c3ad2926a21d55b59bb032549/lottie/src/main/java/com/airbnb/lottie/LottieResult.java#L47

line#L47     return getException().toString().equals(that.getException().toString());  ??????????

[2021-01-13 09:47] YasserYan opened #1724 "imageAssetsFolder is null"
[code]

Should we check whether ss.imageAssetsFolder is null? When I set imageAssetsFolder in onCreateView and If there is a saveState and imageAssetsFolder is null, then restore the state, imageAssetsFolder turn into null, and crash

eg
[code]

[2021-01-13 17:03] gpeal commented on #1723
@qw903157902 Would you like to propose an alternative? Since these exceptions come from internally in the Lottie library, the message and stack traces should be comparable.

[2021-01-13 17:04] gpeal commented on #1724
@YasserYan You can just set `app:lottie_imageAssetsFolder="image"` in your layout file and that's it :)

[2021-01-14 02:17] zhuangzhitu opened #1725 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.endsWith(java.lang.String)' on a null object reference"
**version: 3.5.0
What is the cause of this problem？
Lottie resources cause?
About 10,000 users have been affected**

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.endsWith(java.lang.String)' on a null object reference
java.lang.IllegalStateException:Unable to parse composition
com.airbnb.lottie.LottieAnimationView$1.void onResult(java.lang.Throwable)(So

[2021-01-14 02:29] 877898444 opened #1726 "@qw903157902 Would you like to propose an alternative? Since these exceptions come from internally in the Lottie library, the message and stack traces should be comparable."
@qw903157902 Would you like to propose an alternative? Since these exceptions come from internally in the Lottie library, the message and stack traces should be comparable.

_Originally posted by @gpeal in https://github.com/airbnb/lottie-android/issues/1723#issuecomment-759586537_

He means that "that" is missing

[2021-01-14 06:42] zhuangzhitu commented on #1725
Well, we see why, setAni() takes a null value and causes

[2021-01-14 06:50] #1725 closed

[2021-01-14 07:49] luohong commented on #1655
1 java.lang.IllegalStateException:Unable to parse composition
--
2 com.airbnb.lottie.LottieAnimationView$a.onResult(LottieAnimationView.java:4)
3 ......
4 Caused by:
5 java.lang.ClassCastException:int[] cannot be cast to java.lang.String[]
6 com.airbnb.lottie.parser.moshi.JsonReader$a.of(JsonReader.java:7)
7 com.airbnb.lottie.s.t.<clinit>(LottieCompositionMoshiParser.java:1)
8 com.airbnb.lottie.e.

[2021-01-14 11:37] victor5171 opened #1727 "Reusing LottieAnimationView with different animations cause problems"
**Describe the bug**
I have a case on my project where I reuse a LottieAnimationView, switching the animation using setAnimation(int rawRes).

On my first playAnimation it works normally, but when I try to switch to a different animation and then play it, the animator stays frozen on the last frame of the previously played animation.

The same problem happens if I try to play the same animation, o

[2021-01-14 14:31] pedroromao-acceptto commented on #1727
It's happening the same using 3.6.0. Just start using Lottie and it was strange that the same was not happening to anyone else. Apparently is a bug.

[2021-01-14 14:32] romaopedro commented on #1727
It's happening the same using 3.6.0. Just start using Lottie and it was strange that the same was not happening to anyone else. Apparently is a bug.

[2021-01-14 14:49] kaeawc commented on #1727
Seeing the same in Hinge - we have this exact case in our main screen animated loader. Has worked fine for 2 years until upgrading to 3.6.0.

[2021-01-14 20:48] gpeal commented on #1726
@877898444 I don't follow. Please respond to that issue rather than creating a new one.

[2021-01-14 20:48] #1726 closed

[2021-01-14 20:49] gpeal commented on #1727
Thanks for the report. I'll look into this. I'll also accept a PR.

[2021-01-15 02:38] YasserYan commented on #1724
Can you write it in your [document](http://airbnb.io/lottie/#/)? This document recommends to use setImagesAssetsFolder

[2021-01-17 03:16] gpeal commented on #1724
Done http://airbnb.io/lottie/#/android?id=images

[2021-01-17 03:16] #1724 closed

[2021-01-17 03:16] gpeal commented on #1723
I'm going to close this due to the lack of a clear request or proposal. You may reopen this if you can clarify what you are asking for.

[2021-01-17 03:16] #1723 closed

[2021-01-17 03:17] gpeal commented on #1717
I'm going to close this since it isn't directly actionable.

[2021-01-17 03:17] #1717 closed

[2021-01-17 03:21] gpeal commented on #1716
Duplicate of #1705

[2021-01-17 03:21] #1716 closed

[2021-01-17 03:50] #1718 closed

[2021-01-17 11:21] DavidIbrahim opened #1730 "Can't load a lottie json with image asset in android compose"
I am new to Lottie and I am using it with android-compose  and I have Lottie JSON that looks like that
`{"v":"5.7.3","fr":60,"ip":0,"op":420,"w":600,"h":500,"nm":"Pan","ddd":0,"assets":[{"id":"image_0","w":1280,"h":621,"u":"images/","p":"image_0.png","e":0}`
and I  can find in the documentation how to easily do it in normal [view system](https://airbnb.io/lottie/#/android?id=setting-your-images) b

[2021-01-17 14:35] oas004 commented on #1730
You can find information about how to implement lottie in compose [here](https://airbnb.io/lottie/#/android-compose)  😃

[2021-01-17 14:40] DavidIbrahim commented on #1730
I already read it and I already can load lottie animations except those that includes assets images like image_0.png which is in the question

[2021-01-17 20:27] gpeal commented on #1730
I'll need to expose `setImageAssetsFolder` and `setImageAssetsDelegate` in the next release.

[2021-01-18 04:55] DavidIbrahim commented on #1730
That's great, thanks :D

[2021-01-19 10:38] Luosoha commented on #1666
@gpeal Since I can't make a reasonable PR for this issue, can you support me with this feature?
Thanks!

[2021-01-19 11:51] 1wayticket commented on #1718
@gpeal[ The commit](https://github.com/airbnb/lottie-android/pull/1729/commits/1c8f3012b4c6fc012fe16cd063cb09be8551d8e8) seemed useless becasue the the param bitmap is null sometimes.
[code]
Can you add a null check before the method as below
[code]
Maybe our lottie file has problem or their's a bug about decode bitmap?

[2021-01-20 17:41] gpeal commented on #1718
@1wayticket The commit prevents Lottie from [potentially crashing](https://developer.android.com/reference/kotlin/android/graphics/BitmapFactory#decodestream). If it decodes successfully but returns null then it's actually null. If you think there is another issue, feel free to open another issue if you have a repro.

[2021-01-20 18:26] ravikiran-dream11 opened #1731 "Size Optimisation Issue"
Hey, we are using Lottie for the first time. You guys have done an amazing job with this.

Our animation file(json) is coming out to be 1mb after a lot of optimisation from our design side, reduced it from 8mb to 1mb. It would be great if you could suggest if we are missing anything and if we can optimise this further. It is an animation we want for the onboarding screen of our android and iOS app

[2021-01-20 18:48] gpeal commented on #1731
@ravikiran-dream11 The animation is only 200k without images. You could uncheck embed images in json and provide them yourself with `setImageAssetsFolder` or with an `ImageAssetDelegate`
http://airbnb.io/lottie/#/android?id=images
![image](https://user-images.githubusercontent.com/1307745/105220756-02867200-5b0d-11eb-8526-f0ceeac04975.png)

[2021-01-21 03:07] 1wayticket commented on #1718
@gpeal Allright~

[2021-01-25 12:50] natansalda commented on #1727
Hello, I have the same issue in my app - works fine on 3.5 but broken on 3.6

[2021-01-25 21:34] gpeal commented on #1727
@natansalda Can you post a repro so I can take a look?

[2021-01-29 07:14] qw903157902 commented on #1726
Compare yourself to yourself
Does that make sense

[2021-01-29 07:15] qw903157902 commented on #1726
@gpeal

[2021-01-29 16:18] gpeal commented on #1726
@qw903157902 I'm still not following

[2021-01-31 15:16] Acedev003 commented on #1727
Hey, same issue here with me. At first I thought I had done something wrong, but now I realize that others have faced the same issue too. Calling different animations using the same lottieAnimationView leads to some calls being skipped entirely.

**Use case**

I'm using  lottieAnimationView as a button that requires the animation to played each time the user interacts with it.

**Example Code**
[c

[2021-02-01 09:38] jossiwolf opened #1733 "Compose Snapshots + Versioning"
I couldn't find any docs on where the snapshots for `lottie-compose` are published 🙈

How do I include the latest `lottie-compose` library as a dependency?

I also just saw that I didn't update https://github.com/airbnb/lottie-android/blob/master/CHANGELOG_COMPOSE.md with my PR, would it make sense to point out that there won't be numbered releases for every Compose version but rather to look for

[2021-02-01 10:25] jossiwolf opened #1734 "Animation doesn't render correctly using Lottie-Compose"
**Describe the bug**
With Lottie-Compose, the animation doesn't render correctly, some parts are missing. The same animation works with `LottieAnimationView`. Am I misusing `LottieAnimation`?

**What version of Lottie did you test this on?**
Lottie-Compose Alpha 05, 06-SNAPSHOT
Jetpack Compose Alpha 10, 11

I didn't test this with the latest snapshot yet because I didn't find the docs for that :D

[2021-02-01 16:34] gpeal commented on #1733
@jossiwolf The lastest snapshots are [on sonatype](https://oss.sonatype.org/content/repositories/snapshots/com/airbnb/android/lottie-compose/1.0.0-alpha06-SNAPSHOT/lottie-compose-1.0.0-alpha06-20210130.212312-17.pom). Does that work for you? We should add a svg badge for the snapshot as well.

Feel free to update the changelog and readme!

[2021-02-01 17:13] jossiwolf commented on #1733
Perfect, I couldn't just couldn't find the repo URL😂 Will open a PR in a bit!

[2021-02-01 21:01] #1733 closed

[2021-02-02 13:57] Sven-Q opened #1736 "Xamarin Forms and EnableMergePathsForKitKatAndAbove"
Dear,

In my project I am trying to use some lottie animations. These however are using some merge paths and thus I will have to enable this feature, since it is disabled by default.

I know that you have an option on the `LottieAnimationView`, `EnableMergePathsForKitKatAndAbove()`. I do only find solutions for this when you are working in an android-only project. In my case I have to also support

[2021-02-02 20:30] gpeal commented on #1736
Sorry, this repo is just for the Android library. I have no experience with Xamarin.

[2021-02-02 20:30] #1736 closed

[2021-02-03 13:29] pattupatidar opened #1738 "FileNotFoundException while loading the animation from URL"
I have one animation json hosted at my server. When I try to load the animation using setAnimation(url) in my **Android** application sometimes it is showing **FileNotFoundException**.
Please Note: The animation file name which is hosted on my server is: lottie_animation.json. Mostly I am able to load the animation but sometimes it is throwing **FileNotFoundException**

Caused by java.io.FileNotFo

[2021-02-08 04:02] mitulghoda opened #1739 "How can we check animation is completed?"
I need to check whether the animation is complete load one time.
I want to open new screen when animation is completely load single time

[2021-02-08 06:19] is1988 opened #1740 "I have a question about ClassCastException 🐱"
**ERROR LOG**
[code]

**SplashActivity**

[code]

**XML**

[code]

 _Caused by: java.lang.ClassCastException: androidx.appcompat.widget.AppCompatImageView cannot be cast to com.airbnb.lottie.LottieAnimationView_

**Why?Excuse me, what did I do wrong**  🐱 🐱 🐱

[2021-02-08 09:27] KeKod opened #1741 "JsonReader.setLenient(true) Exception"
Hi to All,

Our desinger team created a lottie file. That file has stored at our web service. When I want to fetch and show this json, I got this exception :
"com.airbnb.lottie.parser.moshi.JsonEncodingException: Use JsonReader.setLenient(true) to accept malformed JSON at path $"

BTW : Corresponding Lottie json that I get from web service works fine on Lottie Json Editor's Website

lottie-android

[2021-02-09 17:46] gpeal commented on #1739
You can use LottieCompositionFactory which will return the composition. You can then set the composition on LottieAnimationView directly and use the same listener as the trigger to open a new screen.

You can also pre-cache the composition. If you call one of the LottieCompositionFactory methods at any point while your app is running, it will parse and cache the animation in the background and it

[2021-02-09 17:47] #1739 closed

[2021-02-09 17:50] gpeal commented on #1740
Unfortunately, it's not possible to tell without a full sample app but I can only provide technical support (vs bugs in the library) for GitHub sponsors at this point.

[2021-02-09 17:50] #1740 closed

[2021-02-09 19:37] matheusbrandao opened #1742 "playAnimation doesn't work correctly in recyclerView / bindViewHolder"
As you can see in my gif, the first time I open the screen containing a recyclerView, the animation occurs normally.

However, if I click on an action and execute `` playAnimation () ``, the animation seems to be lost, not running correctly from its beginning to the end.

Any idea???

![Peek 09-02-2021 16-34](https://user-images.githubusercontent.com/19668094/107418054-f92d6b80-6af4-11eb-9209-e3e0

[2021-02-09 20:12] matheusbrandao commented on #1742
Doing some tests, I found that it may be linked to changes in the database (and when I click the button it changes a value in the database).

In addition I am using the flow, which may be causing the card to be reloaded and my animation does not perform correctly.

[2021-02-10 17:39] gpeal commented on #1742
@matheusbrandao is this a duplicate of https://github.com/airbnb/lottie-android/issues/1324?

[2021-02-13 05:36] #1727 closed

[2021-02-13 05:44] gpeal commented on #1738
@pattupatidar Can you reproduce this in the issue-repro module in the library?

[2021-02-14 01:37] gpeal commented on #1727
Lottie 3.6.1 has been released with a fix for this.

[2021-02-15 22:23] ayshiff commented on #1581
I would love to help implementing this new feature!

[2021-02-16 10:26] Damercy commented on #667
Same issue occurs if I use `setAnimation(R.raw.animation)`. 😏

[2021-02-17 12:52] irgaly commented on #1079
I'm facing same issue with `View.getOverlay().add(lottieDrawable)`.
Calling `LottieDrawable.setBounds(x, y, width, height)` does not affect. The animation always appears left top corner of View Overlay.

[2021-02-17 15:20] irgaly commented on #1079
my workaround, same approach as @zhangruize

[code]

[2021-02-17 17:59] gpeal commented on #1079
@Krishna-Vyas @irgaly What version of Lottie? 3.6.0 should respect the bounds you set

[2021-02-17 20:03] brayanm23 opened #1745 "freezes LottieImageView with MaterialContainerTransform"
I am using MaterialContainerTransform to transition from a fragment to an activity, I am setting the transitionName to android.R.id.content. The transition is executed well but in the destination activity I have a lottie and it is frozen.

I tried playAnimation() programmatically, I tried to start the lottie in a new thread, but could never get it to work.

https://user-images.githubusercontent.co

[2021-02-18 02:10] irgaly commented on #1079
I'm using 3.4.0.

I tried Lottie 3.6.1, but the animation appeared at (0, 0).
Here is my code, and I tested it in Android 9.

[code]

[2021-02-21 08:31] xwbbwx110 opened #1746 "very serious（I don't know what's the problem）：java.lang.IllegalStateException You must set an images folder before loading an image. Set it with LottieComposition#setImagesFolder or LottieDrawable#setImagesFolder com.airbnb.lottie.manager.ImageAssetManager.bitmapForId"
This problem did not appear when we tested it, but it appeared in large numbers in the production environment. There have been 100,000 crashes so far. Please take a look.

1.I combined a view, and then LottieAnimationView is included in it, as shown below:
[<img width="1515" alt="1" src="https://user-images.githubusercontent.com/9714128/108619519-5a8ffb80-7460-11eb-85af-69181298df55.png">
](url)

[2021-02-21 17:52] gpeal commented on #1746
I'm sorry to hear that you're getting so many crashes. It's going to be hard for me to help without an explicit way to reproduce this.

Is it possible that your LottieAnimationView is loading your animation on initialization which happens before you get the chance to set the image assets folder?

[2021-02-22 02:59] xwbbwx110 commented on #1746
Our initialization will not play animation (by default, it is set by lottieAnimationView.setImageDrawable() called by a static image). We will play animation after responding through interface data. The image assets folder will be set before playing.

Our scene is in a fragment, and every time we switch to another fragment, all lottieAnimation will be cancelled. Now I set the image assets folder e

[2021-02-22 03:02] xwbbwx110 commented on #1746
@gpeal

Thank you very much for receiving your reply。

Our initialization will not play animation (by default, it is set by lottieAnimationView.setImageDrawable() called by a static image). We will play animation after responding through interface data. The image assets folder will be set before playing.

Our scene is in a fragment, and every time we switch to another fragment, all lottieAnimation

[2021-02-22 03:27] xwbbwx110 commented on #1746
This anomaly is caused by the Online environment, and we can hardly reproduce it during testing.It depends on the situation that this is prone to appear on poorly configured phones，I am not sure if there is some problem with my usage

[![7](https://user-images.githubusercontent.com/9714128/108653224-e0fc1a00-7500-11eb-8ecd-fca34fb4028d.png)
](url)

[2021-02-22 18:42] gpeal commented on #1746
@xwbbwx110 That must be really frustrating that you're seeing so many crashes from this but thousands of apps are using images without this issue so it may be a configuration issue within your app. However, if it is not and there is an issue with the library, please provide a repro and I'll take a look asap.

[2021-02-23 17:20] matheusbrandao commented on #1742
No @gpeal , it is another case.

I resolved my problem waiting for the end of the animation. In that case, when the action ends, I perform my action.

[2021-02-24 07:43] krottv commented on #1387
Version 3.5 and it still happens.

[2021-02-24 09:46] xwbbwx110 commented on #1746
@gpeal
We have reproduced this problem, but not every time.
Prerequisites:
1. The user's mobile phone configuration is very poor, and the ram is 2GB or less
2. Open our application and go directly to a fragment, this fragment uses 6 lottie animations
3. Then put it to run in the background
4. Play other apps
5. Back to our application, this time may cause the entire view to rebuild, and then cause

[2021-02-24 16:07] gpeal commented on #1746
@xwbbwx110 I'm glad you're beginning to narrow down the issue but until you can help me find a reproduction, I won't be able to help, unfortunately.

[2021-02-24 16:16] #1734 closed

[2021-02-24 20:50] jefersonbaixo opened #1749 "LottieDrawable as seekbar thumb doesn't work"
I'm trying to put a lottie animation as thumb of a seekbar but when I drag the thumb itself is not dragged, just the progress of seekbar is changed.
Here is my code:

`class MainActivity : AppCompatActivity() {

    private lateinit var binding: ActivityMainBinding
    private val thumb = LottieDrawable()

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanc

[2021-02-25 00:48] huyto-hitrec opened #1750 "Lottie crashing due to moshi.JsonDataException"
**Describe the bug**
When lottie tries to parse the following animation JSON, it throws a JSONDataException even though it is a valid JSON. The JSON works on lottie v3.5.0, but not on 3.6.x.

**What version of Lottie did you test this on?**
Works on 3.5.0
Crashes on 3.6.x

**What version of Android did you test this on?**
Android 10

**Crash log**:
<details>

[code]
</details>

**JSON File**
<deta

[2021-02-25 07:29] wuxianghua opened #1751 "load more than ten animation lead OOM in Android 6.0.1,How to solve this problem"
--logversion:utracea
Process Name: 'com.liquid.poros.pro'
Thread Name: 'main'
Back traces starts.
java.lang.OutOfMemoryError: Failed to allocate a 5516956 byte allocation with 440912 free bytes and 430KB until OOM
	at dalvik.system.VMRuntime.newNonMovableArray(Native Method)
	at android.graphics.BitmapFactory.nativeDecodeAsset(Native Method)
	at android.graphics.BitmapFactory.decodeStream(BitmapFa

[2021-02-25 10:13] CaptnBlubber opened #1752 "[compose] Class not found MutableState - Runtime Crash"
When following the documentation and fetching the latest snapshot from sonatype the app will crash when using beta-01 versions of compose with a Class not found exception:
[code]
I already did some investigations and it seems like although the code already is updated in github the snapshot is not properly pushed.

Here is the output form `./gradlew dependencies`:
[code]

My current workaround: I h

[2021-02-25 10:15] jossiwolf commented on #1752
Adding some info here, it looks like the latest commit isn't available as a snapshot on Sonatype. EIther manual deployment is needed or we fix deployment from CI.

[2021-02-25 18:09] gpeal commented on #1752
Hmm, it looks like something funky happened with the deploy action. I'll take a look
https://github.com/airbnb/lottie-android/runs/1973198319

[2021-02-25 18:10] gpeal commented on #1752
Might be https://github.com/vanniktech/gradle-maven-publish-plugin/issues/114

[2021-02-25 18:29] gpeal commented on #1752
I just manually pushed a new snapshot

[2021-02-25 19:33] ericktijerou commented on #1752
I've updated to `1.0.0-alpha07-SNAPSHOT` and everything works well with compose `1.0.0-beta01`.

[2021-02-25 21:05] CaptnBlubber commented on #1752
Working marvelous! I guess the issue can be closed :)

[2021-02-25 21:05] #1752 closed

[2021-02-25 22:16] peterfortuin commented on #1752
Where can I download this 1.0.0-alpha07-SNAPSHOT?

[2021-02-25 22:20] jossiwolf commented on #1752
@peterfortuin Please follow the docs at http://airbnb.io/lottie/#/android-compose for that :) You'll need to add the Sonatype snapshot repository to your repositories.

[2021-02-25 22:24] peterfortuin commented on #1752
@jossiwolf Thanks for the fast response. I got it to work.

[2021-03-01 02:57] yushiwo opened #1753 "setAnimationFromUrl cause a memory leak"
LottieTask<LottieComposition> task = cacheComposition ?
        LottieCompositionFactory.fromUrl(getContext(), url) : LottieCompositionFactory.fromUrl(getContext(), url, null);

LottieCompositionFactory use view context，cause leak

[2021-03-01 15:50] gpeal commented on #1753
Can you be more specific on what the leak is?

[2021-03-02 11:27] Luosoha opened #1754 "Failed to sync project"
Build file 'D:\********\lottie-android\issue-repro\build.gradle' line: 1

A problem occurred evaluating project ':issue-repro'.

I cloned the project and can't even sync and build it, I think it has something to do with this
**classpath 'com.android.tools.build:gradle:7.0.0-alpha08'**
and the **gradle-wrapper.properties's distributionUrl**

I'm using Android Studio 4.1.2. Any help would be much ap

[2021-03-02 14:52] jossiwolf commented on #1754
Lottie-Android depends on the latest AGP and Android version in order to enable Compose-related features (see https://github.com/airbnb/lottie-android#contributing).

Please make sure that
- You are using the latest Android Studio Canary (Android Studio Arctic Fox Alpha 08 currently)
- You are using JDK 11 (https://android-developers.googleblog.com/2020/12/announcing-android-gradle-plugin.html)

B

[2021-03-02 19:42] gpeal commented on #1754
@Luosoha, @jossiwolf is correct, to support Compose, you must use the Arctic Fox canary with Lottie.

[2021-03-02 19:42] #1754 closed

[2021-03-03 02:46] xwbbwx110 commented on #1746
@gpeal
The problem that was finally fixed in this way has been released in the official version. I can't provide our code, but you can refer to it

[
<img width="1409" alt="WX20210303-104318@2x" src="https://user-images.githubusercontent.com/9714128/109744601-899b2f80-7c0d-11eb-8a3c-38f442d4c05b.png">
](url)

[2021-03-03 03:00] xwbbwx110 commented on #1746
Every time a CCLottieAnimationView object is created, its member variable folderUrl will be set, whether it is new or rebuilt

[2021-03-03 04:53] #1746 closed

[2021-03-06 05:03] Prajyot- commented on #1396
We too are facing the same issue in android. @gpeal you need not actually understand the language, all you need to see that there are no dotted circles getting displayed.

Here is similar issue mentioned with web player -> https://github.com/airbnb/lottie-web/issues/1603

And the patch code for resolving the issue in web -> https://github.com/airbnb/lottie-web/commit/978935d35f6ee40a015cbf451ba11f

[2021-03-07 23:53] zakariaalshiekh opened #1755 "Letters separated Arabic Language"
Letters separated in Arabic Language when edit .json

[2021-03-08 00:21] gpeal commented on #1755
Duplicate of #1396

[2021-03-08 00:21] #1755 closed

[2021-03-09 08:13] ForLovelj commented on #1751
I found that Lottie did not properly reclaim native memory after exiting the page.
using multiple Image animations, the native memory will keep increasing, but the destroyed page memory will not be freed.
Are you experiencing the same phenomenon?

[2021-03-09 09:29] ForLovelj opened #1756 "Memory not recycle"
Lottie did not properly reclaim native memory after exiting the page.
Lottie Version：3.5.0
1. AActivity -> BActivity
2. playAnimtion
3. exit BActivity -> AActivity
4. See memory state

![memory](https://user-images.githubusercontent.com/16838140/110448824-8536b100-80fc-11eb-8c00-a052c2364207.png)
If I use multiple different image animations, the memory will keep increasing.Maybe it will be OOM if

[2021-03-09 09:42] ForLovelj commented on #1756
I use iOS to do the same thing and it works fine.

[2021-03-09 20:36] serhiipalash commented on #1453
Hi @gpeal ! Did you mean that if we don't change the render mode manually in the code and just update to 3.4.2 it will solve the crashes on Android 7.0?

[2021-03-10 16:31] slobodanantonijevic opened #1757 "ClassCastException: androidx.appcompat.widget.AppCompatImageView cannot be cast to com.airbnb.lottie.LottieAnimationView"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. My animation doesn't use any unsupported features
2. I know what part of my animation doesn't work. It crashes the app
3. I have

[2021-03-10 16:34] gpeal commented on #1453
@serhiipalash You should change RenderMode to Software for 7.0 on that animation

[2021-03-10 16:48] slobodanantonijevic commented on #1757
@gpeal Actually I have found the issue. It was ridiculous. So I am closing this one. And I deeply apologise for the inconvenience.

Note: The issue was another widget, that we were using, had an AppCompatImageView with the exact id we've set to LottieAnimationView in the layout where both were included, changing the animation view's id solved the issue.

Looks like Kotlin synthetics weren't bother

[2021-03-10 16:48] #1757 closed

[2021-03-10 18:22] vincekao-dd opened #1758 "Incorrect positioning of custom text"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the

[2021-03-10 20:45] serhiipalash commented on #1453
@gpeal but we don't know what exact animation crashes the app. We have a few of them on different screens.

[2021-03-11 08:54] Luosoha opened #1759 "Lottie animation is paused when setScale is called"
**Describe the bug**

I am making a draggable and zoomable LottieAnimationView. So I want to zoom the view when user touch the screen with two fingers, the problem is that when I call the method **setScale** in LottieAnimationView, the animation is paused and only after I finish zooming the view that the animation is resumed.

[code]

[code]

I tried to comment these 2 lines in LottieAnimationView

[2021-03-11 09:14] MilosSimic commented on #1177
3.0.3-support worked for me.

[2021-03-12 02:18] jgavazzisp opened #1761 "Jetpack Compose Alpha-07"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Describe the bug**
LottieAnimation is not respecting the "Modifier.size()"

**Steps To Reproduce**
To reproduce copy use this code:

[code]

The result I'm getting is a full-screen animation without the bounds being respected as shown here:
!

[2021-03-12 09:52] Superhands89 commented on #875
@laustdeleuran @sriranjanr Did you find a method of achieving interactivity by clicking on elements within the animation?

[2021-03-12 19:00] laustdeleuran commented on #875
@Superhands89 Sorry, this was so long ago that I honestly don't remember :/

[2021-03-13 19:10] gpeal opened #1762 "NPE on opacity animation"
https://lottiefiles.com/53191-asiune-icon
[53191-asiune-icon.zip](https://github.com/airbnb/lottie-android/files/6135378/53191-asiune-icon.zip)

[2021-03-14 23:47] gpeal commented on #1749
LottieDrawable has no way to notify the SeekBar that it needs to redraw, call `thumb.setCallback(seek)` and it should work. You can reopen with a sample project if this doesn't fix it.

[2021-03-14 23:47] #1749 closed

[2021-03-19 08:18] bhumitbelani commented on #1727
with 3.6.1 is still not working for me
same issue

[2021-03-21 23:11] StasKorol commented on #858
Have the same issue but your code doesn't seem to work @carstenhag. Maybe, I did it wrong, so could you give some explanation to your code?

[2021-03-22 02:35] gpeal commented on #1759
@Luosoha I see what the issue is here. When you change the scale via `setScale`, Lottie re-sets the drawable because it causes its intrinsic size to change. I would recommend one of two workarounds:
1) Try using just Android `setScaleX` and `setScaleY`. If that works, it'll be more efficient because it likely won't lead to a re-draw either.
2) Try using [dynamic properties](http://airbnb.io/lottie

[2021-03-22 02:35] gpeal commented on #1759
For this particular issue, I'm not sure how to work around it because the actual drawable is unscheduled and rescheduled and Lottie doesn't know that it will be rescheduled when it is unscheduled.

[2021-03-22 02:36] gpeal commented on #1753
Closing due to lack of response. Feel free to reopen with more information and a reproduction case.

[2021-03-22 02:36] #1753 closed

[2021-03-22 02:39] gpeal commented on #1756
@ForLovelj Lottie caches compositions by default. This includes any images associated with it. To disable that, add `app:lottie_cacheComposition` to your XML file. If that is not sufficient, please reopen this with a reproduction in a fork of the issue-repro module in this repository.

[2021-03-22 02:39] #1756 closed

[2021-03-22 02:39] gpeal commented on #1751
Duplicate of #1756

[2021-03-22 02:39] #1751 closed

[2021-03-22 02:42] gpeal commented on #1745
@brayanm23 Android doesn't draw during window transitions so this likely has nothing to do with Lottie. Try a `<ProgressBar />` and see if it does the same thing. I would recommend trying to make this a Fragment transition.

If you think there is an issue, feel free to make a repro in a fork of the issue-repro module in this repository and reopen this issue and I can take another look.

[2021-03-22 02:42] #1745 closed

[2021-03-22 02:46] gpeal commented on #1741
This seems to be working fine for me. Maybe there is an issue with your project. If you think there is an issue with Lottie, please create a sample project that reproduces the issue.
![Test](https://user-images.githubusercontent.com/1307745/111934140-0fc4cc00-8a7e-11eb-9b63-38b35acc2678.gif)

[2021-03-22 02:46] #1741 closed

[2021-03-22 02:47] #1738 closed

[2021-03-22 02:48] #1731 closed

[2021-03-22 02:52] #1742 closed

[2021-03-22 02:53] gpeal commented on #1759
I'm going to close this for now but I hope one of these two workarounds works for you.

[2021-03-22 03:24] #1761 closed

[2021-03-22 04:37] yuerolling opened #1767 "crash happen when I use local zip file ,jpg not support"
hi , I  load resource  with a zip file ,  but crash  happen
I found the code in source file LottieCompositionFactory.java

else if (entryName.contains(".png") || entryName.contains(".webp"))

but  my image file end with ".jpg " , I wonder ,is this  a bug  or not support other format ?

[2021-03-22 08:15] kingiis commented on #1746
i find a way to fix this
i use the lottie with  only a json.
、、
//this line is required
 lottieView.imageAssetsFolder = "img/"
        Anims.load(context, pageInfo!!.bg_json_url, object : Anims.onLoadListener {
            override fun onSuccess(result: LottieComposition?) {
                context.runOnUiThread {
                    lottieView.setComposition(result!!)
                    lottieVi

[2021-03-22 08:21] kingiis commented on #1746
I'm too lazy to curse our designers. We can solve it by adding this code.
@xwbbwx110

[2021-03-22 09:59] carstenhag commented on #858
Sure. Trivially (without making use of tasks/listeners) which is what we did previously, the animation was loaded this way:

1. Set the image folder
2. Set the animation directly to the lottie animation view:
[code]

My guess is that it flickered with that because it first disabled the old animation, then had to load the new animation from disk and could only then start playing the 2nd animation.

[2021-03-22 14:38] NickMeloy opened #1770 "My json animation is not rendering/working on android devices"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I'm not sure which part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attac

[2021-03-22 15:36] #1730 closed

[2021-03-22 15:48] #1675 closed

[2021-03-22 16:55] #1767 closed

[2021-03-23 04:35] gpeal commented on #1762
Not an issue. Can no longer reproduce.

[2021-03-23 04:35] #1762 closed

[2021-03-23 04:38] gpeal commented on #1770
@NickMeloy Can you be more specific? This is what I see. Left is web, right is Android.
![animation](https://user-images.githubusercontent.com/1307745/112093544-d8761e00-8b56-11eb-88b3-848b69768ba4.gif)

[2021-03-23 05:09] Luosoha commented on #1233
Any solutions to this issue yet?

[2021-03-23 06:35] tuananhdtu opened #1772 "Keyframe containsProgress error #387"
Fatal Exception: java.lang.StackOverflowError: stack size 8192KB
at com.airbnb.lottie.value.Keyframe.containsProgress(Keyframe.java:124)
at com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation$KeyframesWrapperImpl.isValueChanged(BaseKeyframeAnimation.java:297)
at com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation.setProgress(BaseKeyframeAnimation.java:62)
at com.airbnb.lottie.model.l

[2021-03-23 14:52] gpeal commented on #1772
@tuananhdtu It appears that system animations are disabled. You have a few options:
1) User the built in `repeatCount` APIs to handle looping rather than calling play from onAnimationEnd.
2) Check whether system animations are disabled using the [same method as Lottie](https://github.com/airbnb/lottie-android/blob/8d0ea7d98bbd8a83d81ffed1d4f5febb9009cac4/lottie/src/main/java/com/airbnb/lottie/util

[2021-03-23 14:52] #1772 closed

[2021-03-23 14:54] #1750 closed

[2021-03-23 15:46] vsay01 opened #1773 "[compose] NoClassDefFoundError: Failed resolution of: Landroidx/compose/runtime/MutableStateKt"
Lottie version: com.airbnb.android:lottie-compose:1.0.0-alpha06
Compose version: 1.0.0-beta02

When following the [documentation](http://airbnb.io/lottie/#/android-compose) and fetching the stable version 1.0.0-alpha06 the app will crash when using 1.0.0-beta02 versions of compose with a Class not found exception:

[code]

Anyone sees this issue?

[2021-03-23 17:05] NickMeloy commented on #1770
@gpeal Left is web, right is using an android device.

https://user-images.githubusercontent.com/3473956/112187309-5dede280-8bd8-11eb-8e60-688c2584e46a.mov

[2021-03-24 01:17] gpeal commented on #1770
@NickMeloy Can you be more specific? Is that using `lottie-android` if so, which version? Are system animations disabled?

[2021-03-24 01:41] tuananhdtu commented on #1772
Thank you @gpeal

[2021-03-24 02:07] gpeal commented on #1773
@vsay01 Are you sure this is Lottie related? Have you added the actual compose libraries to your project?
https://developer.android.com/jetpack/compose/setup#configure_gradle

[2021-03-24 02:33] ForLovelj commented on #1756
I tried adding the app:lottie_cacheComposition="false" attribute, which looks just like before,Memory is not recycle.

[2021-03-24 09:44] Luosoha commented on #1759
@gpeal Thanks for the solutions. But sadly it doesn't work for me, both solutions only scale the drawable itself while the LottieAnimationView stay the same size

[2021-03-24 10:17] Hommilist commented on #1719
@Jimmy-JC can you show me your code,how to fix it. I try set callback(Textview),but it didn't work. that Textview contains spannablestring.thanks

[2021-03-24 10:35] Jimmy-JC commented on #1719
@Hommilist
[code]

[2021-03-24 13:02] jovanovic-filip opened #1774 "Can't override getText method in TextDelegate"
There is a misleading comment on how to override the `getText(String)` method:
https://github.com/airbnb/lottie-android/blob/7900ebc32a55a09c52d1fd4b184e920c81936e63/lottie/src/main/java/com/airbnb/lottie/TextDelegate.java#L13
that has `private` visibility:
 https://github.com/airbnb/lottie-android/blob/7900ebc32a55a09c52d1fd4b184e920c81936e63/lottie/src/main/java/com/airbnb/lottie/TextDelegate.ja

[2021-03-24 15:00] vsay01 commented on #1773
@gpeal Yep. I followed the http://airbnb.io/lottie/#/android-compose, and see the runtime error when I call Loader compose function in the doc.

[code]

Work around:
I got it work with 'com.airbnb.android:lottie-compose:1.0.0-alpha07-SNAPSHOT' and Compose version: 1.0.0-beta02.
For now I think we can close

I think we can close this if you don't see the issue. I'll re-test wants we have new versio

[2021-03-24 15:15] pbhatter89 commented on #1770
Lottie version : implementation "com.airbnb.android:lottie:3.5.0"
While doing some research, I found out the issue occurs only on samsung devices and works on other Android physical devices  and emulators- like the Pixel.tried a few other animation jsons too on Samsung none worked

issues:
1. samsung device note 10 plus(android 11) and samsung s20(android 11) -----no animation is seen when we uplo

[2021-03-24 16:47] #1773 closed

[2021-03-24 16:54] gpeal commented on #1770
@pbhatter89 I think this is because you have system animations disabled. I tried this on my Galaxy S20 and it works fine.

If this is the case, you can follow my advice [here](https://github.com/airbnb/lottie-android/issues/1772#issuecomment-804967910)

[2021-03-24 16:54] gpeal commented on #1756
@ForLovelj Can you reopen this with a project that reproduces this?

[2021-03-25 01:36] ForLovelj commented on #1756
here
[TestLottie](https://github.com/ForLovelj/TestLottie)

[2021-03-25 02:12] honeykhatri87 commented on #1756
I dont want yo receive emails from ur site

Sent from Yahoo Mail on Android

  On Thu, 25 Mar 2021 at 7:07 am, ***@***.***> wrote:

Can you reopen this with a project that reproduces this?

here
TestLottie

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-26 14:40] NickMeloy commented on #1770
@gpeal Looks like our team solved the issue with your help, thank you so much!

[2021-03-26 14:43] pbhatter89 commented on #1770
@gpeal thank you for your time

[2021-03-26 18:21] #1770 closed

[2021-03-26 19:28] mehras1991 opened #1777 "export asset - imported json feed data"
In AE you are able to import a json / feed data as a file. and use the data information. for example link city name to city data in json file.

but lottie/bodymovin doesn't export that json file with the animation. So the sources are not linked to anything.

To help you understand I included a screenshot which explains my test animation. In the exported animation the layer name is shown as the tex

[2021-03-27 02:16] coopermaruyama commented on #1387
I had this same issue in my app, it was because I was doing something like this:

[code]

The root cause was flipping the display property between `none` and `undefined`.

Just like a lot of posters here, I was also only getting this crash on certain android phones.

I was able to fix it with the same behavior by using `transform: [{ scale:  0}]` instead of `display: none` in order to hide the ani

[2021-03-27 18:12] gpeal commented on #1777
@mehras1991 Expressions are [not supported](http://airbnb.io/lottie/#/supported-features) by Lottie Android.

[2021-03-27 18:12] #1777 closed

[2021-03-27 18:22] mehras1991 commented on #1777
What about for demo html? For using the data on the web

[2021-03-27 18:23] mehras1991 commented on #1777
Maybe you can add support by default for html demo? The data can be used and repurposed on the web

[2021-03-27 18:26] gpeal commented on #1777
@mehras1991 Not sure I follow.

[2021-03-27 18:43] mehras1991 commented on #1777
In After effect you can import a jquery file and reuse it. Let's say the jquery has data for city name. You connect it to the "text.sourceText". So when the jquery file is updated (let's say From Chicago to California) AE also update it without any extra work.

In Bodymovin, when selecting the export option **DEMO** which says _Exports an html for local preview_ . Same Logic as AE does with an imp

[2021-03-28 03:44] gpeal commented on #1777
@mehras1991 I'm still not sure I understand but would [dynamic properties](http://airbnb.io/lottie/#/android?id=dynamic-properties) help? That would allow your app to replace text in the animation with arbitrary other text at runtime.

[2021-03-28 06:33] mehras1991 commented on #1777
Yes and no. in AE you can import json or xml tables to use the data.

In the test project I attached earlier as well
[4-API.zip](https://github.com/airbnb/lottie-android/files/6216211/4-API.zip)
Texts for "city,weather status, temperature"  are being read from an external .json file.

Exporting a .html demo with lottie. It will be nice to have that json file and expression supported.

[2021-03-28 06:41] mehras1991 commented on #1777
[Here](https://illo.tv/olympics) you can see a case study where a json or xml table (imported to AE) was used to automation of videos for **Olympics Medal Tracker**

I'm just trying to say export and support for that .xml / .json file will be very nice. Since web browsers can handle such task.

[2021-03-28 11:07] kuchnaya-hub commented on #1396
It seems the isModifier() Method  Of TextLayer, just needs to add support for Character.getType(codePoint) == Character.DIRECTIONALITY_NONSPACING_MARK also to support Unicode characters for Hindi.

Please someone add that to the method to enable Support for Languages such as Hindi.

private static boolean isModifier(int codePoint) {

  return Character.getType(codePoint) == Character.FORMAT ||

[2021-03-29 04:10] nathan-castlehow commented on #1752
Sorry for hijacking this issue, wasn't sure the best place to get in touch but is anyone having issues grabbing the snapshot?
I'm trying to update to the snapshot due to the runtime issue above but i can never get it to resolve.
I've added the snapshot repository and the package and just get the standard failed to resolve error.

I presume I am missing something obvious, is there a way to browse t

[2021-03-29 07:40] stanicavuleta opened #1778 "Android Layout change issue"
Hi
Everybody.
I developed one project.
This project is run good in the debug mode.
But this project is changed in layout(LinearLayout) when I build the release version.
How can I fix this error?
Thank you for your replying. :)

[2021-03-29 08:21] jossiwolf commented on #1752
You can browse the snapshot repo at [oss.sonatype.org](https://oss.sonatype.org/#nexus-search;quick~lottie-compose) :) The latest version is definitely there and I can pull it.

Can you show us how you added the repository and the dependency?

[2021-03-29 08:50] nathan-castlehow commented on #1752
Hmm weird.
Thanks so much for getting back to me @jossiwolf . That link is also super helpful! :)

The gradle files are using the gradle dsl.

So in my top level gradle build file I have added
`        maven { url "https://oss.sonatype.org/content/repositories/snapshots/" }`
to the repositories.

In my app level gradle file I have
`    implementation "com.airbnb.android:lottie-compose:1.0.0-alpha0

[2021-03-29 11:21] jossiwolf commented on #1752
That's definitely odd! This should all be correct - have you added the repo declaration to the `allprojects` or `subprojects` block (assuming you have a standard setup)?

[code]

[2021-03-29 15:53] gpeal commented on #1778
I don't think this is Lottie related. If you think it is, please attach a sample project that reproduces your issue.

[2021-03-29 15:53] #1778 closed

[2021-03-30 01:18] nathan-castlehow commented on #1752
I had added it to the repositories in the build script block instead of the all projects block :man_facepalming:

Thanks so much for seeing that one through with me @jossiwolf . Very much appreciated!

[2021-03-30 03:15] Hommilist commented on #1719
@Jimmy-JC it works，thank you.

[2021-03-30 11:14] StasKorol commented on #858
@carstenhag, where should you call "setLottieAnimation()"?

[2021-03-30 11:37] carstenhag commented on #858
On your on tap click listener, or on any other type of listener which provides you the index of the animation or the animation directly.

[2021-03-30 18:40] AnastasiaRainMaker commented on #1534
having the same issue.

Suggestion is just silently fail as in don't start animations at all if animations are disabled.

Possibly add another callback onAnimatiosDisabled if people need that for example instead of calling onAnimationEnd

[2021-03-30 20:06] gpeal commented on #1534
@AnastasiaRainMaker Unfortunately, this will break a lot of existing behaviors in which things are sequenced rather than looped from onAnimationEnd.
Changing this API is going to be tricky without breaking expectations and tens of thousands of apps that do all sorts of things.

[2021-03-31 05:49] wangyangkeCeler commented on #1595
I had the same breakdown,version:3.5.0
Fatal Exception: android.view.ViewRootImpl$CalledFromWrongThreadException
Only the original thread that created a view hierarchy can touch its views.
android.view.ViewRootImpl.checkThread (ViewRootImpl.java:6899)
android.widget.ImageView.invalidateDrawable (ImageView.java:255)
com.airbnb.lottie.LottieAnimationView.invalidateDrawable (LottieAnimationView.java:

[2021-03-31 10:57] mmdumi opened #1779 "Font rendering issue for hindi (non-latin) characters"
**Describe the bug**
We're trying to render hindi characters that are inserted at runtime with TextDelegate support:
`setText("///trail.feast.beam", "///बादल.मीठा.अमूल्य")`
As you can see in the attached screenshot and project, some characters are not rendered correctly. Android seems to have a default fallback to always render unicode characters but in lottie's case this doesn't happen.
What do y

[2021-03-31 19:48] gpeal commented on #1595
@wangyangkeCeler It looks like your `LoginActivity.completeProgress` is getting called from a thread other than the main thread. In that callback, make sure to switch to the main thread before calling setFrame.

[2021-03-31 19:48] gpeal commented on #1779
Duplicate of #1396

[2021-03-31 19:48] #1779 closed

[2021-04-01 04:39] wangyangkeCeler opened #1780 "Fatal Exception: java.lang.OutOfMemoryError Failed to allocate a 5935116 byte allocation with 2122648 free bytes and 2MB until OOM com.airbnb.lottie.utils.Utils.resizeBitmapIfNeeded"
Fatal Exception: java.lang.OutOfMemoryError
Failed to allocate a 5935116 byte allocation with 2122648 free bytes and 2MB until OOM
com.airbnb.lottie.utils.Utils.resizeBitmapIfNeeded
device:android7.1.1:
lottie version:3.5.0
mycode:
<com.airbnb.lottie.LottieAnimationView
        app:lottie_cacheComposition="false"
        android:id="@+id/animation_view"
        android:layout_width="wrap_content"

[2021-04-01 08:30] Luosoha commented on #731
@rogererill I have read your article and project, I got to save Lottie animation as video now. But there is one problem, all the generating works are currently on the main thread and it causes the UI to freeze. I tried to put them in a worker thread but then the app got crash with the following exception: **java.lang.IllegalStateException
        at android.media.MediaCodec.native_dequeueOutputBuf

[2021-04-04 11:44] Drjacky commented on #295
@gpeal I'm using the `LottieDrawble` like below and loading images of the recyclerviews items:
[code]

I got this leak memory (which seems rational as I'm creating `LottieDrawable` each time on scroll):
[code]

Any idea how to improve it?

[2021-04-05 13:08] rddsantos opened #1781 "Animation broken when loading the screen from background"
Hello guys, I’m having a problem with a Lottie animation when the screen goes into background and comes back in and I was wondering if someone could help me out.

**Describe the bug**
When the screen is opened for the first time, the animation plays as expected but when the screen goes into background
and then comes back in, the animation is broken. It still plays, but the visuals are completely w

[2021-04-06 03:28] gpeal commented on #1781
@rddsantos Can you attach your animation?

[2021-04-06 07:21] rddsantos commented on #1781
Surething, here it is:

[gaming_module_winner_bg.json.zip](https://github.com/airbnb/lottie-android/files/6262824/gaming_module_winner_bg.json.zip)

[2021-04-06 11:02] mama48481 opened #1782 "+"
[]()![share.PNG](https://user-images.githubusercontent.com/73408868/113700976-86301380-96a5-11eb-995d-c6f2ee358ce0.PNG)@
- ![Website_1~2.PNG](https://user-images.githubusercontent.com/73408868/113701310-fb034d80-96a5-11eb-9d7c-2d5e384f18e4.PNG)*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

[2021-04-06 11:03] mama48481 commented on #1782
menun cress love

[2021-04-06 11:04] mama48481 commented on #1782
- - ![share.PNG](https://user-images.githubusercontent.com/73408868/113701564-52092280-96a6-11eb# -987f-d166b806faff.PNG)

[2021-04-07 00:24] #1782 closed

[2021-04-07 03:40] ForLovelj commented on #1756
@gpeal Did you verify the problem?

[2021-04-07 04:13] Pacey6 opened #1783 "Use JsonReader.setLenient(true) to accept malformed JSON at path $"
**Describe the bug**
See my code:
[code]
and then it callback failure listener and the message is "Use JsonReader.setLenient(true) to accept malformed JSON at path $"
the android_biggift.json content is:
[code]

**What version of Lottie did you test this on?**
v3.6.1

**What version of Android did you test this on?**
Android 9

[2021-04-07 07:53] Pacey6 commented on #1783
I found what the problem is, designer export animation with some plugin, and the exported json file has three redundant bytes in the file head, so parse json error.
![image](https://user-images.githubusercontent.com/19921569/113830607-5f630180-97b9-11eb-868b-8eb3b12d43f1.png)

[2021-04-07 07:53] #1783 closed

[2021-04-08 08:13] rddsantos commented on #1781
Hey @gpeal any news on this?

[2021-04-08 12:23] ignorefei opened #1784 "Lottie animation display incomplete in Android phone,but display well in preview page of Lottie"
Here is my code:
[code]
`<com.airbnb.lottie.LottieAnimationView
        android:id="@+id/animationView"
        android:layout_gravity="center_horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content" />`

[2021-04-08 12:27] ignorefei commented on #1784
[jsons.zip](https://github.com/airbnb/lottie-android/files/6278589/jsons.zip)
Here is my json files

[2021-04-09 06:48] wys619 opened #1785 "context may leak here, you may use applicationContext instead."
https://github.com/airbnb/lottie-android/blob/ad6e59192e41ce7a51dfc583bc344504bdf48e30/lottie/src/main/java/com/airbnb/lottie/L.java#L107

[2021-04-09 17:18] gpeal commented on #1785
@wys619 No references to context are held. It's just used to return the cache dir.

[2021-04-09 17:18] #1785 closed

[2021-04-11 20:48] medsauce commented on #1784
This is the first idea I put on hit and my first contribute to the AIRBnB lottie server. Appreciate it!

[2021-04-12 07:59] Xigong93 opened #1787 "The special json render abnorma with specific size"
## Bug Description
The special json render abnorma with specific size.
![image](https://user-images.githubusercontent.com/17515825/114359669-cbbd7680-9ba6-11eb-84ef-f1eba772880c.png)

You can find the 25dp had a white dot on the left bottom of the view. But others don't.

Lottie  version is 3.7.0

Test on Android 9 simulator and Android 10 HUAWEI P20.
Android 10 HUAWEI P20 shows a white dot when t

[2021-04-12 17:25] gpeal commented on #1787
@pokercc This is probably a bug in device-specific hardware rendering. You can set the render mode (`app:lottie_renderMode` or `setRenderMode`) to software if it's an issue with this animation.

[2021-04-13 00:28] pokercc commented on #1787
It's not working.
![image](https://user-images.githubusercontent.com/17515825/114478972-10422400-9c32-11eb-93d4-c19bd3b705a4.png)

[2021-04-13 02:48] pokercc commented on #1787
Perhaps you could tell me how to debug the problem.

[2021-04-13 18:32] gpeal commented on #1787
@pokercc You're welcome to clone the repo and take a look at the code yourself. It might be in StrokeContent or TrimPathContent

[2021-04-14 14:54] mmdumi commented on #1396
Hi guys,
Sorry to bother you with this. Does anybody know if this issue will get solved sometimes in the next 1-2 months ?

[2021-04-14 15:32] Drawiin opened #1788 "Animations dont show all items in android but it shows on the web/ios players"
**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work.

**Bug description**
Whenever i have a animation

[2021-04-15 11:20] bknmjolner commented on #1076
I also experienced this problem.
@Duna Thanks, for mentioning viewpager2 - my case was also with that component, and it made me test with different settings for offscreenPageLimit.
I have five pages each with one LottieAnimationView. All animations was started except the second one. When I changed offscreenPageLimit to 2 - all was started fine except the fourth one, which is the one right after th

[2021-04-15 13:39] ignorefei commented on #1784
Anybody help......

[2021-04-15 15:49] gpeal commented on #1396
I would happily accept a PR for this

[2021-04-15 17:28] segill opened #1789 "Render issue with toolbar in Safari Version 14.0.3"
The issue appears to be directly related to the Toolbar and its use of it in Safari Version 14.0.3 (16610.4.3.1.7). Anytime the Toolbar is visible as a UI element, the animation is jittery and stutters. It's possible that the issue just appeared with an update to the Safari browser. I am uncertain if the bug is on Safari, but the issue is directly related to the Toolbar (play and stop button as we

[2021-04-15 20:30] gpeal commented on #1789
@segill Did you intend to post this in `lottie-android`? You might have meant lottie-ios or lottie-web

[2021-04-15 20:39] #1789 closed

[2021-04-15 20:42] segill commented on #1789
@gpeal, is lottie-web specific to bodymovin? I'll prob. repost there.

[2021-04-17 18:03] cyb3rko opened #1790 "Rendering only specific 3d rotation animation incorrectly"
**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work.

Yep, animation is here:
[18089-gold-coin.zip](ht

[2021-04-18 02:15] gpeal commented on #1790
Lottie Android doesn't support 3D
https://airbnb.io/lottie/#/supported-features

[2021-04-18 02:15] #1790 closed

[2021-04-18 02:52] gpeal commented on #1781
@rddsantos Hmm, this might be specific to your app. It seems to be working fine for me:

https://user-images.githubusercontent.com/1307745/115132585-66a6be00-9fb6-11eb-8301-bb587b02d0c3.mp4

I'm going to close this as likely not an issue with lottie itself. However, if you are able to reproduce this in a sample project, feel free to reopen this with the project.

[2021-04-18 02:52] #1781 closed

[2021-04-18 05:15] #1774 closed

[2021-04-18 08:19] cyb3rko commented on #1790
But why does the other animation work then? Cause it rotates in the same dimensions, right?

[2021-04-19 00:52] gpeal commented on #1790
@cyb3rko one was probably created with just 2d layers.

[2021-04-19 04:17] cyb3rko commented on #1790
Ok, thanks.

[2021-04-20 08:17] RyfThink commented on #852
+1

[2021-04-20 13:12] MDSergioMD opened #1794 "Null pointer crash"
Null pointer exception crash reported on google play, cant reproduce it my self. Crash log is from the latest 3.7.0 ver.

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.Rect f.b.a.d.b()' on a null object reference
       at com.airbnb.lottie.LottieDrawable.getMaxScale(LottieDrawable.java:1208)
       at com.airbnb.lottie.LottieDrawable.drawWith

[2021-04-20 15:09] rddsantos commented on #1781
Heyy @gpeal, I managed to solve the problem by disabling LottieAnimationView saved state

[2021-04-21 08:37] 1187180735 commented on #1257
您好，问下 这个问题解决了吗

[2021-04-23 11:41] KatherineStrider commented on #1794
Hello. We found a similar crash. It was not possible to reproduce, however, in firebase analytics there are about 20 such cases.

Fatal Exception: java.lang.NullPointerException
Attempt to read from field 'float android.graphics.PointF.x' on a null object reference

[code]

[2021-04-23 14:50] Angelia64 commented on #1794
Get a fucking life 88

[2021-04-24 11:40] sumit-anantwar commented on #309
This issue still exists

[2021-04-24 11:41] sumit-anantwar commented on #679
this isn't a warning, the app crashes with the exception

[2021-04-25 06:24] xuelanghu120 opened #1795 "com.airbnb.lottie.LottieAnimationView$1.onResult(SourceFile:4)"
1java.lang.IllegalStateException:Unable to parse composition
--
2 com.airbnb.lottie.LottieAnimationView$1.onResult(SourceFile:4)
3 ......
4 Caused by:
5 kotlin.KotlinNullPointerException:
6 okio.Buffer.getByte(SourceFile:11)
7 com.airbnb.lottie.parser.moshi.JsonUtf8Reader.nextNonWhitespace(SourceFile:2)
8 com.airbnb.lottie.parser.moshi.JsonUtf8Reader.doPeek(SourceFile:47)
9 com.airbnb.lottie.parse

[2021-04-25 21:42] #1795 closed

[2021-04-27 05:11] tronku opened #1798 "Memory leak in LottieAnimationView"
Lottie Version - 3.7.0
Android - SDK 30

I am using LottieAnimationView in a fragment (bottom sheet) and getting a memory leak in Lottie when the parent activity get destroyed after `onBackPressed()`. The animation in the view is populated through a URL.
Probably it's due to passing short-lived context (activity) to long process (fetching animation from network fetcher). Maybe passing an `applicat

[2021-04-27 11:49] holybin opened #1799 "com.airbnb.lottie.parser.moshi.JsonEncodingException: Use JsonReader.setLenient(true) to accept malformed JSON at path $"
- lottie：3.5.0 release
- android：7.1.2
- my question: when i use setAnimationFromUrl to load a zip file  url （like this：http://xxx/yyy.zip）from remote，i get this error below. but when i switch to use setAnimation to load the same zip file from local, it is ok。VERY STRANGE!

	at com.airbnb.lottie.parser.moshi.JsonReader.syntaxError(JsonReader.java:249)
	at com.airbnb.lottie.parser.moshi.JsonUtf8Rea

[2021-04-28 08:51] benjaminVadon commented on #1727
As a workaround, at least when using setMinAndMaxFrame, you can cancel animation before using it and restart playing after. It seems working for my app's users (I can't reproduce the bug on my own)

[2021-04-28 16:25] JavierSegoviaCordoba opened #1800 "Compose Desktop"
I haven't checked all the files but I would like to ask a few things:

- Is it planned to add support to compose desktop? As a JVM artifact.

- I checked there is a few java dependencies that maybe can be replaced with Okio some day. Creating the compose artifact as Multiplatform can be an option in the future?

[2021-04-28 16:30] gpeal commented on #1800
@JavierSegoviaCordoba There are no plans without a significant rewrite. Lottie Compose currently wraps the existing Android Drawable which heavily depends on the Android SDK.

I've spent a significant amount of time thinking about how to build a fully Compose renderer and there isn't a trivial solution with out a ground up rewrite and potentially new performance problems.

It would be great to see

[2021-04-28 16:30] #1800 closed

[2021-04-28 16:32] JavierSegoviaCordoba commented on #1800
Thank you for your reply :)

[2021-04-28 18:25] Ynnck123 opened #1801 "Starting lottie animation via ViewBinding access doesn't work"
I use `ViewBinding` in my Android Project. I am using the version 3.7.0 of the lottie android library.

My goal is to deactivate auto-play and start the animation programatically when I need it.

The `LottieAnimationView` is contained in a `ConstraintLayout` like the following XML snippet:
[code]

When I access the `LottieAnimationView` from my activity via ViewBinding, I cannot start the animatio

[2021-04-28 19:08] gpeal commented on #1801
@Ynnck123 You'll have to attach a sample project. I've used Lottie with view binding before.

[2021-05-01 00:07] oissa1 commented on #1758
I'm having the exact same issue. Haven't been able to find a solution. I've tried messing around with After Effects and whatever I do the text is never rendered in Android in the same position that it looks in AE.

[2021-05-02 12:56] ashishkrishnan opened #1802 "Crash "ClassNotFoundException" when unmarshalling on a custom wrapper over the LottieAnimationView"
Hey folks, I wasn't sure on what category I could place this before a discussion with the library maintainers. Apologies here.

I have been working with a custom view wrapper over a LottieAnimationView that provides me with
- custom APIs to control animations (We have a case where we have two different animations states when the user is online or offline)
- The wrapper maintains an internal state

[2021-05-04 03:24] hongwei-bai opened #1803 "Rendering bug while using Jetpack Compose LottieAnimation for some animation jsons"
Hey I am using Lottie for long time, and it's awesome. However, I have a few problems recently while migrating my codebase to Jetpack Compose. The Lottie animation is from here: https://lottiefiles.com/14429-tv
It works perfectly on xml layout. But it doesn't while using Jetpack Compose LottieAnimation. Some of the graphs are missing.
For example: the face of the person is missing, similar things

[2021-05-04 07:33] HauLuu commented on #535
Sorry, but may I ask what is it mean by removing the expression? I'm facing a familiar issue and have no idea what you guys talking about. Could you please add more details about "removing the expression"? It this something that a have to do in AE project?

[2021-05-04 12:56] apoehlmann commented on #1803
I have the same issue without lottie-compose. We are using the lottie version 3.7.0 and could see the issue only on some devices.

[2021-05-04 14:27] Vladislav-Shesternin commented on #1030
animation.repeatCount = ValueAnimator.INFINITE

[2021-05-04 20:50] gpeal commented on #535
@HauLuu Lottie Android doesn't support After Effects Expressions
https://airbnb.io/lottie/#/supported-features
https://helpx.adobe.com/after-effects/how-to/animating-with-expressions.html

[2021-05-04 20:51] gpeal commented on #1803
@hongwei-bai try disabling merge paths
@apoehlmann Try using the software render mode (set via XML attr or a method on LottieAnimationView/LottieDrawable)

[2021-05-05 12:22] hongwei-bai commented on #1803
@gpeal , thanks! disabling merge paths works!

[2021-05-05 12:22] #1803 closed

[2021-05-05 20:23] JakeWharton commented on #527
This change is incorrect. The part of the license you changed was the template which instructs you how to apply the license. You are not meant to change it, since it's intentionally a template.

[2021-05-05 22:24] JakeWharton commented on #527
It's not a huge deal, by the way. I only noticed when trying to automate validating your license. You don't point at the canonical one (http://www.apache.org/licenses/LICENSE-2.0.txt or https://www.apache.org/licenses/LICENSE-2.0.txt) in your pom and your custom URL does not match any known text (because of this change). It's funny because it weirdly came up on one of our projects two days ago: ht

[2021-05-05 22:42] gpeal commented on #527
Thanks for the info @JakeWharton!

[2021-05-07 06:07] AjayGol commented on #1758
I have facing same issue

In iOS text position showing currently but in android showing wrong position text. Only issue on text position.

[2021-05-07 08:55] yejiurui commented on #1391
it`s right ，please don`t turn off all option in developer options in android settings

[2021-05-08 16:56] gpeal commented on #1802
@ashishkrishnan  Could you attach a sample project the reproduces this?

[2021-05-08 16:57] gpeal commented on #1799
Unfortunately, there isn't enough information to debug what is happening here. If you're able to attach a sample project that reproduces this, feel free to reopen this with it!

[2021-05-08 16:57] #1799 closed

[2021-05-08 19:14] ashishkrishnan commented on #1802
@gpeal Sure, will attach one!

[2021-05-09 14:17] ashishkrishnan commented on #1802
@gpeal Hey!

I have created this pull request on my forked repo.
Please take a look

Pull request: https://github.com/ashishkrishnan/lottie-android/pull/1

Screen grab with logcat: https://github.com/ashishkrishnan/lottie-android/blob/827afb5ce38d6595baebc1d31865cb965cf4d949/issue-repro/video-sample/Screen%20Recording%202021-05-09%20at%207.28.33%20PM.mov

[2021-05-10 07:01] ronaldinho161 opened #1806 "Font asset not found"
Hello,

I am trying to change text of lottie animation from Android code. I tried different animation files, but result is always 👍   java.lang.RuntimeException: Font asset not found fonts/Some Font.ttf . In the final version I have a "delete" button and I am trying to set my own text like this :
        val textDelegate = TextDelegate(animView);
        textDelegate.setText("EDIT", "DELETE");

[2021-05-10 13:00] gpeal commented on #647
@zhangwenjia616 There is not as most mobile apps are expected to run at the refresh rate of the display (usually 60, 90, or 120hz). Animations that play at 24/30fps often look laggy in comparison. What is your use case for wanting that?

[2021-05-11 01:38] zhangwenjia616 commented on #647
@gpeal is there any api like iOS‘s `AnimationView.respectAnimationFrameRate`
or web's `anim.setSubframe(boolean)` for android side, so we can respect the animation frame rate setting in the AE?

[2021-05-11 01:44] zhangwenjia616 commented on #647
@gpeal some Lottie file our designer give me runs flickering in both iOS and android, and after setting `AnimationView.respectAnimationFrameRate`, iOS side looks good.
but for android side, do we have the same api?

[2021-05-11 09:17] LorienMan commented on #1758
Same!

[2021-05-17 01:26] Pavel87 opened #1807 "Loading images dynamically for given layers"
Our Lottie json file is stripped of images and you can imagine it as having an invisible puppet. The goal is to load different body parts(represented by images) for different characters and then play animation defined by markers.

Our Lottie file works great on web and ios(using AnimationSubviews) as is but not sure how to achieve the image loading for each layer using android SDK as I don't see h

[2021-05-17 03:26] gpeal commented on #1807
@Pavel87 You want to use an [ImageAssetDelegate](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/ImageAssetDelegate.java). It will achieve what you want rather than with dynamic properties.

[2021-05-17 09:22] wys619 commented on #1785
Excuse me but I mean code like this may be better:

![Uploading wecom-temp-fce39326d94cab7c75ff4025275df647.png…]()

[2021-05-17 14:59] Pavel87 commented on #1807
@gpeal ok, thanks. I guess I then can't use the key path but rather the image asset id ...
from my example above it would be:
`"refId": "image_5",`

[2021-05-17 15:35] gpeal commented on #1807
@Pavel87 That is correct!

[2021-05-17 16:09] #1807 closed

[2021-05-17 22:55] #1801 closed

[2021-05-19 04:01] Tom-Alphero opened #1808 "Update jetpack compose to beta07 to fix 'NoSuchMethodError: No interface method startReplaceableGroup'"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-re

[2021-05-19 15:52] gpeal commented on #1808
Will be fixed in https://github.com/airbnb/lottie-android/pull/1793

[2021-05-19 19:15] Tom-Alphero commented on #1808
@gpeal I see a commit has been made for beta07 - are snapshots generated nightly?

[2021-05-19 21:32] gpeal commented on #1808
@Tom-Alphero The PR has to be landed first

[2021-05-20 07:00] #1808 closed

[2021-05-21 08:17] WBertan opened #1810 "Impossible to catch exception when URL returns 404"
When loading animation with `setAnimationFromUrl` and the URL gives 404 the app crashes.
My main issue is, I could not catch this with a `try...catch`.
Do we have any way to catch and handle this case, instead of crashing the app?

[code]
[code]

[2021-05-21 12:15] thesauri opened #1811 "Deployment failure of beta 07: Execution failed for task ':lottie-compose:signMavenPublication'."
Deployment of `compose-1.0.0-beta07-1` seems to fail with the following error:

[code]

In practical terms, the latest version with a fix for Jetpack Compose beta 07 isn't available in Sonatype Nexus yet.

https://github.com/airbnb/lottie-android/runs/2627534892

[2021-05-21 16:33] gpeal commented on #1810
@WBertan I recommend setting your own [LottieNetworkFetcher](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/network/LottieNetworkFetcher.java) in [Lottie.initialize](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/Lottie.java#L18). you can implement whatever logic you want there.

Alternatively, you can use yo

[2021-05-21 16:33] #1810 closed

[2021-05-21 16:35] gpeal commented on #1811
@thesauri That's just the snapshot auto-deployment. I just updated it to 1.0.0-beta07-2-SNAPSHOT and it should be fine.

The actual version [was already released](https://repo1.maven.org/maven2/com/airbnb/android/lottie-compose/1.0.0-beta07-1/)

[2021-05-21 16:35] #1811 closed

[2021-05-21 18:27] Pavel87 opened #1812 "Load new image in layer via ImageAssetDelegate"
Is there a way to force a refresh of the image asset which was loaded previously via `setImageAssetDelegate`. In example scenario I am loading image **A** and after some action I want to change to image **B**.

I am not seeing the imageAssetDelegate triggering after the initial load.

[2021-05-21 18:35] #1812 closed

[2021-05-23 04:41] OAbdullahs opened #1813 "Could not resolve com.airbnb.android:lottie:3.7.1-SNAPSHOT"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-re

[2021-05-23 15:50] gpeal commented on #1813
It [does exist](https://oss.sonatype.org/content/repositories/snapshots/com/airbnb/android/lottie/3.7.1-SNAPSHOT/).

Make sure you have the snapshot repository in your root `build.gradle` file
`https://oss.sonatype.org/content/repositories/snapshots`

[2021-05-23 15:50] #1813 closed

[2021-05-24 08:01] WBertan commented on #1810
@gpeal Thanks! Will have a look into that.
But I still think the lib should not crash the whole app if the URL returns `404`. I see as it maybe should provide something for us to handle that case directly in the class, so we can make the decision to hide the animation, or change to something else.
In the worst scenario, I would expect to at least not render anything, instead of again, crash the ap

[2021-05-24 16:28] gpeal commented on #1810
@WBertan Fair point, in general the single shot fire and forget setAnimation from a URL is not a great design in retrospect. It should probably be deprecated and replaced with something more robust. In lottie-compose, it returns a result type which is a more modern and canonical way to do it.

I haven't spent much time improving the Java API lately and would recommend using one of the above approa

[2021-05-24 22:46] irwant opened #1814 "create plugin for other app"
create plugin for enve 2D

[2021-05-24 23:17] gpeal commented on #1814
This repo is just for the Android player.

[2021-05-24 23:17] #1814 closed

[2021-05-25 06:40] lsuski opened #1815 "Possible race condition with lottie_enableMergePathsForKitKatAndAbove and lottie_fileName"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-re

[2021-05-25 09:07] DanteAndroid opened #1816 "Move animation from right bottom when first load."
lottie version: 3.7.0
I tryed not call `playAnimation` the issue still exists.
This animation only shows on first load.
--- update ---
Just found that it has sth to do with `DialogFragment`'s layout.

[untitled.webm.zip](https://github.com/airbnb/lottie-android/files/6537983/untitled.webm.zip)

[2021-05-25 09:19] #1816 closed

[2021-05-25 18:08] KayteeKlink opened #1817 "Espresso Automation can't verify the state of the UI with a LottieAnimationView"
Unable to find anything in the metadata of the LottieAnimationView that informs the automation about which state the image is in (there's an empty state and a completed state).

[code]

We're using the animations to change the state of a 'button' (a LottieAnimationView) after the user taps it. I'm trying to write automation tests which need to verify the button is in the correct state (in a 'compl

[2021-05-25 19:34] kyhule commented on #1813
I just ran into this issue. I understand the fix for it but why does targeting `com.airbnb.android:lottie-compose:1.0.0-beta07-1` in maven central require to add the sonatype repository? This is the first time I've seen a "stable" artifact having a dependency on snapshots. If this is truly the case, maybe the docs could be clearer since the separation of stable vs snapshot versions is misleading s

[2021-05-26 08:09] zhuangzhitu commented on #1715
HuaWei/EMOTION/EmotionUI_9.1.0
FIG-AL10;Android 9,level 28
it can reproduct @gpeal

[2021-05-27 07:49] zhengshiteng opened #1819 "fetchBitmap error"
Two LottieAnimationView use one animJson, but ImageAssetDelegate only call by the fisrt one

[2021-05-31 18:42] MrGVSV commented on #388
Why is this issue closed? The only solutions here are workarounds that remove the ability to dynamically change the text (for localization).

I'm facing the same issue— centered text gets moved all the way to the left.

[2021-06-02 12:31] srikanth-meesho commented on #999
KOTLIN SOLUTION!!

[code]

[2021-06-08 11:43] salilchhabra opened #1821 "com.airbnb.lottie.network.NetworkFetcher.getResultFromConnection"
This crash occurred while I try to set json coming from response using this method
animationView.setAnimationFromUrl(icon)
animationView.playAnimation()

Stack trace:

Caused by java.io.FileNotFoundException
/data/user/0/com.EmasDigi/cache/lottie_network_cache/lottie_cache_httpsmobileappproductions3apsoutheast1amazonawscomgifspluang_cuan_onboarding_card1json.temp.json (No such file or directory)
j

[2021-06-08 11:53] liupengandroid opened #1822 "lottie Compose cant work"
version: 1.0.0-beta03-1

@Composable
fun LottieDemo() {
    val animationSpec = remember { LottieAnimationSpec.Asset("common_clear") } // filename: common_clear.json
    // You can control isPlaying/progress/repeat/etc. with this.
    val animationState = rememberLottieAnimationState(autoPlay = true,repeatCount = Integer.MAX_VALUE)

    LottieAnimation(
        spec = animationSpec,
        animat

[2021-06-11 08:29] mwshubham commented on #1767
I was moving .json to .zip for APK size reduction. And found the same. I am wondering why this was discovered so late.

[2021-06-14 15:44] CaoThien96 commented on #309
This issue still exists

[2021-06-15 07:25] chanchangxing opened #1823 "Why lottie cannot support zip"
I found that lottie support zip with json and image, Why lottie cannot support zip with json but not image？It can reduce apk size i think

[2021-06-15 15:39] tobiraak opened #1824 "Cannot access class 'com.airbnb.lottie.ImageAssetDelegate'. Check your module classpath for missing or conflicting dependencies"
When trying to implement Lottie into my Jetpack Compose project, I can't set the LottieAnimationState because it can't access dependencies.  Is this a known bug or is there something that I am missing? I am using this version:
com.airbnb.android:lottie-compose:1.0.0-beta07-1

[2021-06-15 19:55] gpeal commented on #1823
@chanchangxing I'm not sure I understand the question

[2021-06-15 19:56] gpeal commented on #1824
@tobiraak Please attach a sample project that reproduces this.

[2021-06-16 20:40] Pavel87 opened #1825 "Disabling animation clipping"
Hi team,

we have an animation which seems to be clipping at the top for some images. I wonder how we can disable clipping and draw out of the rectangle.

My IOS peer is using `animationView.clipsToBounds = false` which does work pretty well but I am struggling with the clipping in android.

I have tried `android:scaleType="centerInside"` and  `android:scaleType="centerCrop"` on lottieAnimationVie

[2021-06-17 14:31] okamayana-tinyspeck commented on #1758
Still no fix?

[2021-06-18 00:19] Pavel87 commented on #1825
@gpeal any advise on this?

[2021-06-18 03:22] kuramu1108 commented on #1824
@tobiraak I believe this is due to that `com.airbnb.android:lottie-compose:1.0.0-beta07-1` is using `com.airbnb.android:lottie:3.7.1-SNAPSHOT` and you have to add it as dependency explicitly

[2021-06-19 19:55] youssefhassan commented on #1273
@rkcoders This works only when the animation is shown on the screen, right? Do you know how to simulate that as for me it's static images still

[2021-06-22 12:25] menjoo opened #1828 "TextDelegate signature does not match its javadoc"
**Describe the bug**

**Steps To Reproduce**
Steps to reproduce the behavior:

1. With Lottie 3.7.0
2. Read javadoc of `TextDelegate`. It states "The only method you should have to override is {@link #getText(String)}."
3. But this method is private and cannot be overriden.

Can `TextDelegate.getText(..)` become public?

[2021-06-24 09:01] djdominoSVK opened #1829 "IllegalStateException: Unable to parse composition"
**Describe the bug**
Hi, I have animation which works fine in Web or iOS app,  but does not work on Android at all.
I also tried using animation in LottieFiles Android app and Lottie logo is loaded instead of animation.

https://lottiefiles.com/share/4gtaxcax

My app crashes after setting animation  with exception:

`    java.lang.IllegalStateException: Unable to parse composition
        at com.a

[2021-06-25 06:08] FENGZEYOU123 opened #1830 "Use JsonReader.setLenient(true) to accept malformed JSON at path $"
Hi all, I got an error when add an LottieView programmatically to ConstraintLayout.
**Error:** _Use JsonReader.setLenient(true) to accept malformed JSON at path $_
**Lottie version:**    implementation "com.airbnb.android:lottie:3.7.0"
**Animatio json file:**  https://lottiefiles.com/65184-coin-pop-up
**Gradle version:** classpath 'com.android.tools.build:gradle:3.5.0'
**AndroidX**
**json file ful

[2021-06-25 06:56] #1830 closed

[2021-06-25 11:24] #527 closed

[2021-06-28 05:30] gpeal commented on #1829
This isn't a valid json file. The contents of the file are quoted and then the actual json quotes are escaped. It might work on other platforms because they might be auto-unescaping the text or due to some other implementation detail but because this isn't actually valid json as-is, the expectation is that this won't work on Android.

[2021-06-28 05:30] #1829 closed

[2021-06-28 05:30] #1824 closed

[2021-06-28 05:30] #1823 closed

[2021-06-28 05:32] gpeal commented on #1819
Lottie caches bitmaps internally. You can clear the cache by calling LottieDrawable.updateBitmap with the id passed to your image asset delegate. If you want two animations to have different bitmaps, use LottieCompositionFactory and create different cache keys for each one or else they will share the same underlying composition and bitmap cache.

[2021-06-28 05:32] #1819 closed

[2021-06-28 05:34] gpeal commented on #1817
What about `LottieAnimationView.isAnimating()` or `LottieAnimationView.getProgress()`?

[2021-06-28 05:42] gpeal commented on #1784
The issue here has to do with the trim path offsets wrapping around 0. I can look in to it but for now, you could work around the issue but tweaking the trim path start/end/offsets.

[2021-06-28 05:43] gpeal commented on #1821
The code in your stack trace has changed significantly in the latest version of Lottie. Please try again with the latest version.

[2021-06-28 05:43] #1821 closed

[2021-06-28 05:45] gpeal commented on #1828
[It is public](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/TextDelegate.java#L48)
You can see it used in a test [here](https://github.com/airbnb/lottie-android/blob/master/sample/src/androidTest/java/com/airbnb/lottie/samples/LottieTest.kt#L865)

[2021-06-28 05:45] #1828 closed

[2021-06-28 16:59] KayteeKlink commented on #1817
The animations are disabled for automation so `LottieAnimationView.isAnimating()` will always return false.
`LottieAnimationView.getProgress()` has better information, but not enough to build a UI test that we can depend on. I'll explain.

here's an example of a test I'm trying to write.
[code]
If I try to accomplish 1 by
[code]
this will return true, but this doesn't tell me that the button is in

[2021-06-28 22:35] Pavel87 commented on #1825
@gpeal could you please provide any help with this ticket?

[2021-06-29 02:52] chenkexu commented on #1715
我的项目也报这个错误，zip地址是：
[Airbnb.zip](https://github.com/airbnb/lottie-android/files/6730272/Airbnb.zip)

[2021-07-01 23:03] rekhagopi18 opened #1833 "How to freeze the last frame in animation after it's done playing?"

[2021-07-02 00:03] gpeal commented on #1833
@rekhagopi18 Lottie continues to render the last frame when it's done. I'm not sure I understand the question.

[2021-07-02 09:15] canphongbang23 commented on #295
@Drjacky please try to call lottieDrawable.clearComposition() when fragment/activity destroy
    **override fun onDestroyView() {
        lottieDrawable.clearComposition()
        super.onDestroyView()
    }**

[2021-07-02 14:50] rekhagopi18 commented on #1833
@gpeal  Thank you for your response.  We do have a requirement where the animation that was playing through lottie must be stopped/Paused at the last frame similar to the issue mentioned in this https://github.com/airbnb/lottie-web/issues/847 for web.

[2021-07-02 23:04] gpeal commented on #1833
I'm still not sure what the exact issue is. Can you elaborate?

[2021-07-02 23:16] rekhagopi18 commented on #1833
We were using Lottie animation view to load animation in android

 <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/ob_start_screen_illustration"
            style="@style/AppJourneyCardIllustration"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:background="?attr/background_secondary"
            app:lottie_rawRes="@r

[2021-07-03 05:15] ignorefei commented on #1784
Thanks for your reply,I still confused what to do with this issue,Could you please provide some codes here?
Thank you very much

[2021-07-03 08:28] Drjacky commented on #295
@canphongbang23 Thanks but, the usage of mine is loading images in a list.
Please look at the code snippet `fun ImageView.load(`

[2021-07-03 22:12] #1798 closed

[2021-07-03 22:17] gpeal commented on #1833
@rekhagopi18 Can you attach the animation that was crashing? Was it crashing 100% of the time?

[2021-07-05 15:03] KristapsKrumins opened #1835 "Migrate app:lottie_colorFilter to compose"
How to set XML attribute app:lottie_colorFilter in compose? From docs it seems that I need to use rememberLottieDynamicProperty, but I dont know what to pass in keyPath.
[code]

[2021-07-05 19:24] gpeal commented on #1835
Use `**`. That's all LottieAnimationView does under the hood
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L208

[2021-07-06 06:03] KristapsKrumins commented on #1835
@gpeal This also does not work, loading animation is white and not black.
[code]

[2021-07-06 10:57] iamjosephmj commented on #1391
This looked interesting, I was able to make Lottie animations work with:

[2021-07-06 12:48] MovementSpeed opened #1837 "NoSuchMethodError setImageAssetManager on LottieDrawable"
**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work.

**Describe the bug**
Using @Composable LottieAni

[2021-07-06 12:52] headsvk opened #1838 "Compose crash: No virtual method setImageAssetManager"
Repro commit for 1.0.0-beta09-1-SNAPSHOT:
https://github.com/headsvk/lottie-android/commit/ff2e2445d728f0bf2d1896a3b5bb45149f7ca0e3

Steps:
- Run issue-repro-commit app and it crashes instantly with the following error:

[code]

Both Lottie Compose 1.0.0-beta07-1 and 1.0.0-beta09-1-SNAPSHOT started to crash today. I suspect the culprit is their dependency on Lottie Android 3.7.1-SNAPSHOT which mak

[2021-07-06 13:02] headsvk commented on #1837
You beat me to it by 4 minutes 😄 https://github.com/airbnb/lottie-android/issues/1838 I also forked the repo to reproduce the issue.

[2021-07-06 13:20] WildOrangutan commented on #1837
Did you find any workarounds?

[2021-07-06 13:32] thesauri commented on #1838
I encountered the very same problem today and I was also unable to reproduce it using the `issue-repro-compose` module.

I suspect that this may be due to the problem already being fixed in the Compose `1.0.0-rc01` snapshot that is already in master, but that seems to be failing in the CI pipeline. https://github.com/airbnb/lottie-android/runs/2995470801

[2021-07-06 18:41] gpeal commented on #1835
It's `arrayOf("")` or removed the named parameters and use `rememberLottieDynamicProperty(LottieProperty.COLOR_FILTER. Color.Black.toArgb(), "**")`

In you're code, you're stringifying the KeyPath object.

[2021-07-06 18:42] gpeal commented on #1838
Duplicate of #1837

[2021-07-06 18:43] gpeal commented on #1837
Can you try with `rc01-1-SNAPSHOT`? That API is no longer used since https://github.com/airbnb/lottie-android/pull/1836

[2021-07-06 18:50] #1838 closed

[2021-07-06 19:08] gpeal commented on #1837
The deploy is green now. Can you try again?
https://github.com/airbnb/lottie-android/runs/3002160816?check_suite_focus=true

[2021-07-06 20:21] #1837 closed

[2021-07-07 06:38] KristapsKrumins commented on #1835
@gpeal This results in crash
[code]

[2021-07-07 09:37] headsvk commented on #1838
I updated the repro branch to rc01 and it fixes the issue

[2021-07-07 09:43] headsvk commented on #1837
Nice one @gpeal rc01 doesn't crash anymore. However, the stable beta07 linked in the readme crashes. Maybe it should link to the snapshot instead so that people don't use it.

[2021-07-07 10:23] MovementSpeed commented on #1837
@gpeal `rc01-1-SNAPSHOT` works fine, thanks

[2021-07-07 16:09] gpeal commented on #1835
@KristapsKrumins The code I wrote was just off the top of my head. Please refer to the code I linked to see what `LottieAnimationView` does under the hood
[code]

[2021-07-07 16:10] gpeal commented on #1837
@headsvk Yeah, I'll push a release soon. It's been tricky because I'm in the middle of a major API refactor (mostly complete) but wanted to build out a large set of functionality before releasing but it's in pretty good shape now.

[2021-07-09 07:30] KristapsKrumins commented on #1835
Thanks, the following code does the job
[code]

[2021-07-10 09:59] Gloud-Zhao commented on #1481
I used "app:lottie_renderMode="software"" but still have the same problem

[2021-07-11 23:53] Ruby-star-cloud opened #1840 "Wall hoees rapper my ceilings fuckiiing government porn actor"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrate

[2021-07-12 03:40] rekhagopi18 commented on #1833
Thank you for your response. Yes, it was crashing 100% of the time.
[success.json.zip](https://github.com/airbnb/lottie-android/files/6798450/success.json.zip)

[2021-07-12 04:13] #1840 closed

[2021-07-12 08:09] pejman-74 commented on #668
Is there a similar way in jetpack compose?

[2021-07-12 14:12] darek607 opened #1841 "How to manually play animation again when returned from back stack"
Thanks for this library!

I encountered a strange bug and spent quite much time to ivestigate the issue. I wanted to play animation manually every time fragment view is loaded (`onViewCreated`).

Steps:
1) Inside onViewCreated of Fragment A, set progress to 0 and call `playAnimation`
2) Navigate to Fragment B with back stack entry and press back in order to return to the A

Expected result:
The an

[2021-07-12 15:08] gpeal commented on #668
@pejman-74 I'm going to add a scaleType parameter soon but you should be able to achieve pretty much whatever you want with the modifier parameter's size modifiers already.

[2021-07-12 15:26] pejman-74 commented on #668
I did not find a way, I want to put an animation in the background with (fillMaxSize) but it does not fill it.

[2021-07-12 15:30] gpeal commented on #668
@pejman-74 You'll have to wait for the scaleType update to get it out of the box then. You also use the Compose transform/scale modifiers to add your own scale.

[2021-07-13 08:32] darek607 commented on #1841
It seems that lottie view is saving state incorrectly. The issue is gone after adding
`android:saveEnabled="false"` for the LottieAnimationView.

Previously I though that adding `addLottieOnCompositionLoadedListener` solves the issue, but it solves it only partially - the bug still sometimes happened (in about 1 per 10 Fragment loads).

[2021-07-15 05:49] gpeal commented on #1817
@KayteeKlink I'm not exactly sure what you'd like as the solution here. Your animations are disabled for tests and you're trying to verify the state of the animation. What do you think could enable this to work?

[2021-07-15 07:42] astarlabsofficial commented on #1074
Hi, How can we use draw(canvas) on your SurfaceHolder's locked canvas.

Any Reference

[2021-07-15 09:48] mase7569 commented on #600
android:adjustViewBounds="true" might be what you're looking for.

[2021-07-15 14:16] headsvk opened #1845 "animateLottieCompositionAsState doesn't respect min progress"
**Link to fork with a repro in the issue-repro module**
https://github.com/headsvk/lottie-android/tree/bug/min-progress

**Describe the bug**
When `animateLottieCompositionAsState` is used with a `clipSpec` that has min progress greater than 0, the animation is played from beginning anyway. For example:

[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Run issue-repro-compose
2.

[2021-07-16 06:22] Mryushen commented on #1632
android.graphics.Path.set(Path.java:96)
2
com.airbnb.lottie.animation.content.ShapeContent.getPath(ShapeContent.java)
3
com.airbnb.lottie.animation.content.FillContent.void draw(android.graphics.Canvas,android.graphics.Matrix,int)(FillContent.java)
4
com.airbnb.lottie.animation.content.ContentGroup.void draw(android.graphics.Canvas,android.graphics.Matrix,int)(ContentGroup.java)
5
com.airbnb.lotti

[2021-07-16 08:27] headsvk commented on #1845
I debugged `animateLottieCompositionAsState` and the logic to reset to beginning is not triggered on first launch. That is probably correct.
[code]

But then `initialProgress = animatable.progress` is simply 0.

[2021-07-18 00:21] #1845 closed

[2021-07-18 13:22] Damercy commented on #314
I don't know if this helps but I set my animation frame to 0 (initial) & it's as good as resetting.
[code]

[2021-07-20 03:22] biginsect opened #1853 "How to disable automatic cancel？"
Version：2.6.0
description：
I have a list in my app and every item have a LottieAnimationView. When I click one item it will call playAnimation. But  when i click two item quickly, the first animation do not complete its animation and it automatic call cancel.
Code:
postDelayed(() -> {
            rewardAnim.setAnimation("reward.json");
            rewardAnim.setVisibility(VISIBLE);
            rew

[2021-07-20 03:38] biginsect commented on #1853
![image](https://user-images.githubusercontent.com/19408832/126258189-9809b1ce-0152-4e44-99c4-1baeb6cfa7f9.png)
this is log.

[2021-07-20 03:45] #1666 closed

[2021-07-20 11:25] #1853 closed

[2021-07-21 08:27] GuilhE opened #1854 "Fatal Exception: java.lang.StackOverflowError ~8mb"
**Lottie version:** 3.7.1
**Devices affected:** Galaxy A71, Galaxy S20, Mi A2, GCE x86 phone and Pixel 5
**OS affected:** Android 9, 10, 11

I can't reproduce this behaviour on my device (Pixel 3a) nor on the emulator, so I won't provide a _sample repo_, I'm receiving this errors via Crashlytics (Firebase). I'll share the code and logic here.

**Describe the bug**

[code]

This _walkThrough_ logic

[2021-07-27 05:05] gpeal commented on #1817
@KayteeKlink Is there a specific API change you'd like to see? If not, can we close this out as not actionable?

[2021-07-27 15:44] surajsahani commented on #1715
I got the same issue. And it's  because of when someone tries to put HTTP URL in the place of instead of JSON_URL
`app:lottie_url="https://assets9.lottiefiles.com/packages/lf20_mcl3gvm9.json"`

[2021-07-27 15:46] surajsahani commented on #1715
for the beginners if we can suggest in documentation to put json url to raw than give url directory will that be any helpful? any thoughts.!! thank you

[2021-07-29 00:17] raghav2945 opened #1857 "Getting multiple ANR for BaseStrokeContent.draw method"
`
<html>
<body>

0 |   |   | android.graphics.BaseCanvas.nDrawPath |  
-- | -- | -- | -- | --
1 |   |   | android.graphics.BaseCanvas.drawPath |  
2 |   |   | android.graphics.Canvas.drawPath |  
3 |   |   | com.airbnb.lottie.animation.content.BaseStrokeContent.draw |  
4 |   |   | com.airbnb.lottie.animation.content.GradientStrokeContent.draw |  
5 |   |   | com.airbnb.lottie.animation.content.Co

[2021-07-29 00:43] #1857 closed

[2021-07-30 11:00] HahhVwgwg commented on #1140
This error also occurred when i wrote app:app:lottie_url="animation.json" instead of app:lottie_fileName="animation.json"

[2021-07-30 15:32] gpeal commented on #1817
Closing this due to inactivity. Feel free to reopen with a specific API suggestion.

[2021-07-30 15:32] #1817 closed

[2021-08-01 20:53] #1205 closed

[2021-08-03 13:14] randrievskiy opened #1862 "Color filter for composables"
I cannot apply color filter to whole animation in jetpack compose.
Following code is working nice for the view system.

`addValueCallback(
            KeyPath("**"),
            LottieProperty.COLOR_FILTER,
            { PorterDuffColorFilter(buttonView.currentTextColor, PorterDuff.Mode.SRC_ATOP) }
        )`

And no luck with the compose. What am I doing wrong?

` val dynamicProperties = remember

[2021-08-04 08:55] #1862 closed

[2021-08-04 11:17] Khenisiddharth commented on #1273
I didn't get Bitmap Image

[2021-08-05 08:30] randrievskiy opened #1863 "Layer's reversed(wrong) animation"
1. My animation doesn't use any [unsupported features]
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work.

**Describe the bug**
All animation's(Trim path) layers must go clockwise. I've checked here [Lottie files edit

[2021-08-06 16:41] baallalAbderrahim commented on #331
Hello ,
or you can do it directly in the layout  file :
            app:lottie_imageAssetsFolder="images"
regards

[2021-08-11 11:07] yuanshanxike opened #1864 "Maybe need to handle 'colorAnimation' & 'opacityAnimation' nullable field is null case, in the draw function of FillContent class"
I found a crash in my app:

java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
    at com.airbnb.lottie.animation.content.FillContent.draw(FillContent.java:87)
    at com.airbnb.lottie.animation.content.ContentGroup.draw(ContentGroup.java:185)
    at com.airbnb.lottie.animation.content.ContentGroup.draw(ContentGroup.java:1

[2021-08-11 14:37] #1864 closed

[2021-08-13 06:11] brett-eugenelabs commented on #1813
I am also getting this issue (same errors as above) in Android Studio Canary using Jetpack Compose.

build.gradle.kts: (Project)
[code]

build.gradle.kts (Module):
[code]

settings.gradle.kts:
[code]

Any help would be appreciate.

[2021-08-13 15:04] gpeal commented on #1813
You want to use 4.0.0

[2021-08-15 03:48] adityakadlag2004 commented on #1177
Just Update the version to 4.0.0

[2021-08-16 06:43] brett-eugenelabs commented on #1813
Thank you, works perfectly. Am new to Android Studio, Compose, and gradle, but am now getting the hang of the versioning.

[2021-08-17 15:36] PaulWoitaschek opened #1865 "Missing License in pom"
The publish plugin seems to not be configured correctly and misses the license:

https://repo1.maven.org/maven2/com/airbnb/android/lottie/4.0.0/lottie-4.0.0.pom

That makes it impossible to automatically figure out which license this project uses, i.e by using a plugin like
https://github.com/cashapp/licensee

[2021-08-18 11:51] KaustubhPatange opened #1866 "`Lottie Compose` Canvas is filling max available size causing undesirable effect."
I am using Lottie with Jetpack Compose, the `LottieAnimation` composable was rendering perfectly till the version `1.0.0-rc01-1` until I migrated to `4.0.0` and now it is filling the entire screen.

I diff this class from these two versions & found that the `modifier` on `Canvas` is setting `.fillMaxSize()` compared to the old version which was `.maintainAspectRatio(composition)`. If you replace i

[2021-08-18 17:00] gpeal commented on #1866
@KaustubhPatange Yes, you can use the normal Jetpack Compose modifiers like size, width, height, etc which will create smaller constraints. You can also use the new contentAlignment and contentScale parameters for how the animation will be resized within the modifier constraints. Does that make sense?

[2021-08-18 17:48] KaustubhPatange commented on #1866
Yes, that's what I'm doing.

I usually go through the changelogs during the dependency upgrade but it seems like there was no mention of this behavior in any further releases when upgrading from rc01 to 4.0.0. I think the [docs](https://github.com/airbnb/lottie/blob/master/android-compose.md) should be updated to say that "you can restrict the bounds of Lottie composable by specifying size, width,

[2021-08-19 06:46] josecardoso89 opened #1869 "Compose runs twice with Lottie-Compose"
Hi there,

I'm using lottie-compose latest version (4.0.0) and when I try to run a simple LottieAnimation the Composable always runs twice (runs once and then immediatly after it gets recomposed). Do you know if that's a bug?

`@Composable
fun LoadingScreen() {
    Log.i(TAG, "LoadingScreen")
    val animationSpec = remember { LottieAnimationSpec.RawRes(R.raw.loader) }
    LottieAnimation(

[2021-08-19 19:22] barbozabarb opened #1870 "Frame struggling"
Hi i am looking for a function to allows me to know the amout of total frame of the animation,

I use
 val animation :LottieAnimationView= findViewById<LottieAnimationView>(R.id.imageTest)

and then tried

animation.totalFrame()

or

animation.startFrame() or animation.endFrame()

but those functions are not avaible for LottieAnimationView.

I cant figure out how to solve this

Also, is there any

[2021-08-20 04:54] gpeal commented on #1869
Do you mean the logcat log runs twice? It's hard to tell because the code you posted isn't value. Lottie 4.0 doesn't have any versions of `LottieAnimation` that take a `LottieCompositionSpec` directly. Also, you don't need to `remember` it because it's an inline class.

[2021-08-20 04:55] gpeal commented on #1870
These functions are on LottieComposition, not LottieAnimationView. And yes, you can call [setFrame](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L1022)

[2021-08-20 04:55] #1870 closed

[2021-08-20 08:54] josecardoso89 commented on #1869
What I mean is that LoadingScreen composable is called twice and it shouldn't since no value was changed that caused the recomposition of it. And what do you mean with

You don't have LottieAnimationSpec anymore even though in your documentation it uses it. What should I use then?

Also, I refactored the code to this:

`Log.i(TAG, "LoadingScreen")
    val composition1 by rememberLottieComposition(

[2021-08-20 16:07] gpeal commented on #1869
Probably because the composition state is null before parsing and then not null after. This seems expected to me.

[2021-08-21 02:24] barbozabarb commented on #1870
Thank you Gabriel, i am reviewing the documentation and, the issues thread but i cannot find how to load a json to the LottieComposition, i tried to do
       val composition: LottieComposition =LottieCompositionFactory.fromRawRes(this,"percentage.json")

but then it line becomes
       val composition: LottieTask<LottieComposition> =LottieCompositionFactory.fromRawRes(this,"porcentaje.json")

and

[2021-08-21 07:29] josecardoso89 commented on #1869
Hmm, is there any way to prevent that? Because if I assign a viewModel to that loading screen (doing an operation while I show the loading) and it gets recomposed, the viewModel will also be disposed and a new instance will be assigned wasting resources.

[2021-08-23 14:14] anus-ali commented on #1574
Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 90012 byte allocation with 51584 free bytes and 50KB until OOM
       at dalvik.system.VMRuntime.newNonMovableArray(VMRuntime.java)
       at android.graphics.BitmapFactory.nativeDecodeByteArray(BitmapFactory.java)
       at android.graphics.BitmapFactory.decodeByteArray(BitmapFactory.java:744)
       at com.airbnb.lottie.manager.Im

[2021-08-24 16:54] gpeal commented on #1870
@barbozabarb Use `LottieCompositionSpec.Asset` as outlined [here](http://airbnb.io/lottie/#/android-compose?id=lottiecomposition)

[2021-08-24 16:55] gpeal commented on #1869
@josecardoso89 No it won't, recomposition is designed to happen all the time and should have no effect on object recreation either via `remember` or using something like the `by viewModels()` delegate which will store and retrieve the ViewModel from `LocalViewModelStore.current`.

[2021-08-24 16:55] #1869 closed

[2021-08-25 20:42] matteinn opened #1878 "NPE at com.airbnb.lottie.model.layer.BaseLayer.intersectBoundsWithMask(BaseLayer.java:349)"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-re

[2021-08-26 06:36] matteinn opened #1879 "NPE at com.airbnb.lottie.model.layer.BaseLayer.intersectBoundsWithMask(BaseLayer.java:349)"
**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-repro
   module may be auto-closed.

**Link to fork with a repro in the issue-repro module**

**Describe the bug**

Hello!
This report is about a crash that is happening in production and, with a certain frequency, on the Play Store pre-launch reports too

[2021-08-27 15:58] atonamy opened #1880 "LottieCompositionFactory.fromRawRes is not helping in Composable LottieAnimation"
I have a  lag at the first time when animation loading on the screen (in android emulator is much more noticeable)
I tried to use

[code]
In  a fragment composable widget responsible for lottie animation looks like this:
[code]

But I still see the lag :( regardless I'm using LottieCompositionFactory.fromRawRes or not. Do you know why is not helping to preload lottie animation and eliminate first

[2021-08-28 15:19] barbozabarb commented on #1870
Solved by going to
 Tools->Kotlin->Configure Kotlin Plugin Updates and updating

and then changing SDK version

[2021-08-28 16:10] barbozabarb commented on #1880
I tried to write the code you put
@Composable
fun lottie() {
   val composition by rememberLottieComposition(LottieCompositionSpec.RawRes(R.raw.lottie_animation))
   val progress by animateLottieCompositionAsState(composition,
                  clipSpec = LottieClipSpec.Progress(prgs.first, prgs.second)
          )
   LottieAnimation(modifier = Modifier.fillMaxWidth(), composition = composition, p

[2021-08-29 05:49] atonamy commented on #1880
Make sure you you imported `getValue` from compose runtime
` import androidx.compose.runtime.getValue`

 try to play around with this two lottie animations
 [first one](https://lottiefiles.com/71308-artificial-intelligence-lottie-animation) and
 [second](https://lottiefiles.com/66653-cool-stare)
 Show this animations at the same time and sequentially
 put `CircularProgressIndicator() `in the scree

[2021-08-29 17:07] o2e opened #1881 "Duplicate class error in jetpack compose project"
**Describe the bug**
I am only using jetpack compose to develop my project. When I import lottie and run the project I get a lot of Duplicate class errors, I think this error may be caused by the fact that the appcompat version built into lottie is too old (only 1.0.0) and that my project does not use the appcompat dependency library. I have improved the problem by excluding appcompat from lottie

[2021-08-29 20:21] gpeal commented on #1880
The above answer is correct and currently, Android Studio doesn't do a great job with importing Compose state delegate imports by default but that's a general Android Studio/Compose issue and has nothing to do with Lottie.

[2021-08-29 20:22] gpeal commented on #1881
@o2e Can you attach a sample project that reproduces this?

[2021-08-29 21:16] barbozabarb opened #1882 "Can't access to the functions of lottie-compose"
Hello ! I added to my dependencies the implementation of lottie for lottie-compose
[code]
Also added to the repositories, I think is tha latest stable SNAPHOT
        maven { url "https://oss.sonatype.org/content/repositories/snapshots/v4.1.1-SNAPSHOT" }

Then when I code in any kt file it seem to be no problem, but when I run the app I recieve the following error

E/AndroidRuntime: FATAL EXCEPTIO

[2021-08-29 22:09] gpeal commented on #1882
Can you attach a repro project?

[2021-08-29 23:16] barbozabarb commented on #1882
Can't attach the file to the comment via zip, it says "is not included in the list". But i uploaded to mega

[https://mega.nz/file/AhEFHCST#qTNUWXUwXjM2KwQ6Egzo9mMdUV75R5myeUWnAgWdQdQ](url)

It is a little messy because it is the project where I do tests

[2021-08-30 01:11] atonamy commented on #1880
So what is workaround about lag I have experience on the first LottieAnimation and LottieCompositionSpec render initialisation?

[2021-08-30 02:50] o2e commented on #1881
https://github.com/o2e/errorTest

I'm very sorry for submitting the error feedback to you without rigorous testing. when creating the demo, I found ```(coil + lottie) - appcompat = Duplicate class error```. because ```coil``` built-in ```androidx.appcompat:appcompat- resources:1.3.1``` and ```lottie``` ```appcompat``` are causing the problem, and as a simple ```compose``` project I probably can't

[2021-08-30 03:01] o2e commented on #1881
Android Studio Arctic Fox | 2020.3.1 Patch 1
内部版本号 #AI-203.7717.56.2031.7621141，August 8, 2021 构建
运行时版本: 11.0.10+0-b96-7281165 x86_64
VM: OpenJDK 64-Bit Server VM，JetBrains s.r.o.
macOS 10.15.7
GC: G1 Young Generation, G1 Old Generation
Memory: 4096M
Cores: 8
Registry: external.system.auto.import.disabled=true
Non-Bundled Plugins: Gradle View, com.dengzii.plugin.adb, com.intellij.zh, com.thoughtwo

[2021-08-30 08:41] crysxd opened #1883 "Allow synchronised loading of animations for tests"
**Is your feature request related to a problem? Please describe.**
We use Screenshot tests for all our custom views. We recently started using LottiAnimationView in some of our custom views. In the screenshot tests the animations are not visible and the animation size is not reflected in the layout.

**Describe the solution you'd like**
Similar to when `isInEditMode()`, we'd need to have the first

[2021-08-30 10:00] o2e commented on #1881
I've had a brief look at the lottie codebase and I see that the project only uses the sub library ``appcompat-resource`` from appcompat and an ```AppCompatImageView ```. I think you can just import ```androidx.appcompat:appcompat-resources:1.3.1``` in the project, you don't need to import a huge appcompat library. But you may need to change the ```AppCompatImageView``` inside the  [LottieAnimation

[2021-08-30 10:10] vanniktech opened #1884 "Licensing is missing in pom"
I've started using [Licensee](https://github.com/cashapp/licensee) and with 4.1.1 when running `./gradlew licensee` I'm getting:

[code]

I've taken a look at the POM and indeed licenses are empty: https://search.maven.org/artifact/com.airbnb.android/lottie/4.1.0/aar

Looking at the [gradle.properties](https://github.com/airbnb/lottie-android/blob/05cb71817682b2f5361af5b98fb4a0bf2fdc82ae/gradle.pr

[2021-08-30 16:30] gpeal commented on #1883
@crysxd You can add an `LottieOnCompositionLoadedListener` and suspend your tests until it returns.

[2021-08-31 05:52] Kingsavage3 commented on #1879
Okay

On Thu, Aug 26, 2021, 2:37 AM Matteo Innocenti ***@***.***>
wrote:

[2021-08-31 13:09] gabrielbezerra81 commented on #1756
Had this error on two Android 7 devices. Anyone solved?

[2021-09-01 00:03] o2e commented on #1866
@gpeal
I had a similar problem

This is my code
![image](https://user-images.githubusercontent.com/24642961/131590562-7856304e-9a2d-47eb-9e66-dc9cefdbc161.png)

I am getting an error result,

![Screenshot_2021-09-01-07-55-38-960_com](https://user-images.githubusercontent.com/24642961/131590763-bc870afe-ef1f-4a91-9118-87bc5407fc87.jpg)

the height currently set does not limit the size of the view.

[2021-09-01 03:23] jcdhlzq commented on #1533
@hu03ping hello, have you solved this problem?
i've met the problem in huawei Q with lottie3.0.0

[2021-09-02 15:36] gpeal commented on #1879
@matteinn Does this happen only on certain phones/os versions?

[2021-09-02 20:23] raghav2945 commented on #1879
No, this is a problem with various Android OS versions(8/7/9/10) and different device manufacturers.

1. 40% in Android 8
2. 25% with Techno Mobile limited

[2021-09-03 01:08] kkuby commented on #1829
I solved this same parse error.
I deleted ' \ ' and first and last's ' " ' in my json lottie file.
You can compare your json file with any free animation json in (https://lottiefiles.com/featured).

[2021-09-03 09:25] kypeli opened #1887 "Wrong parameter in Lottie-Compose docs (LottieAnimationSpec)"
The Lottie-Compose "Basic usage" instructions here http://airbnb.io/lottie/#/android-compose?id=basic-usage instructs to use LottieAnimationSpec to load the animation file. The correct parameter to use is LottieCompositionSpec.

[2021-09-03 11:54] kypeli commented on #1866
I am using Lottie-Compose version 4.1.0 and settings Modifier.size() on LottieAnimation does not do anything.

In LottieAnimation class, there's the following line:
[code]

Which, I think, will override any modifier parameter passed in from outside.

[2021-09-03 11:58] kypeli commented on #1866
This is the breaking commit: https://github.com/airbnb/lottie-android/commit/954f7d5d3ed2e3f9d543e2daf720836e2dc11ece

[2021-09-03 12:16] kypeli commented on #1866
The workaround is to use `LottieAnimation` inside a `Box` composable where the Box' modifier contains the size information.

[code]
But obviously the Box here is unnecessary and I would hope that the size information in the modifier that is passed into LottieAnimation would be respected.

[2021-09-03 23:10] #1880 closed

[2021-09-07 07:12] kshitiz-dunzo opened #1889 "FillContent ANR"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**Describe the bug**
We have used lottie in our android app. We run it endlessly in a loop unless the user decides to exit the activity by pressing back button or kills the app. We are getting a lot of ANRs on our crashlytics because of this.

[2021-09-07 14:50] gpeal commented on #1887
Already fixed there. You can put up PRs to the markdown at https://github.com/airbnb/lottie directly.

[2021-09-07 14:50] #1887 closed

[2021-09-07 14:52] gpeal commented on #1866
@kypeli since it runs your modifiers first, it becomes
[code]

which should respect your specified size.

That being said, I might publish a breaking change in which unspecified constraints will wrap the composition instead of filling the max size. Still a WIP on my end.

[2021-09-07 14:53] gpeal commented on #1889
@kshitiz-dunzo Do you need to call `setComposition` every time?

[2021-09-07 16:24] kypeli commented on #1866
@gpeal Interesting. However, I observed the same as @o2e that giving the size modifier directly to LottieAnimation has no effect on the animation rendering size, but it will just consume all the available space. I could work around it with the Box hack.

[2021-09-07 16:54] o2e commented on #1866
It's not that he has no way to constrain the size of the view, it's simply that he can't break the aspect ratio of the animation file. What I think.

[2021-09-08 04:54] gpeal commented on #1884
Duplicate of #1865

[2021-09-08 04:54] #1884 closed

[2021-09-08 04:55] gpeal commented on #1854
You need to check if system animations are disabled and then not loop the animation similar to what Lottie does [here](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/utils/Utils.java#L258)

[2021-09-08 04:55] #1854 closed

[2021-09-08 09:04] GuilhE commented on #1854
Just to make sure, did I get it right?

[code]

[2021-09-08 15:45] gpeal commented on #1854
@GuilhE Lottie has its own built in repeating mechanism. If the intention is to play forever, you can just set repeat count to 0 or infinite and you don't need to manually call playAnimation from onAnimationEnd

[2021-09-08 15:46] gpeal commented on #1854
You can test this yourself by setting the animation duration scale to 0 in developer settings.

[2021-09-08 16:17] GuilhE commented on #1854
Yes but I want to play the animation [A...B...C] from A to C and then loop from B to C forever. What you're saying is this?
[code]

[2021-09-08 16:51] gpeal commented on #1854
@GuilhE For that, I think you could just set it to repeat forever then in onAnimationEnd, set minFrame to B

[2021-09-10 04:50] gpeal commented on #1881
@o2e Nearly 100% of Android apps should already have appcompat so adding it as a dependency shouldn't be an issue. People also use LottieAnimationViews as normal ImageViews sometimes and changing this to a normal ImageView could break many apps in subtle ways.

I was able to reproduce the duplicate class error and found that it no longer reproduces after we upgraded the dependencies [here](https:/

[2021-09-10 04:50] #1881 closed

[2021-09-10 04:52] #1866 closed

[2021-09-10 04:53] gpeal commented on #1841
@darek607 Can you attach a sample project that reproduces this?

[2021-09-10 04:56] #1865 closed

[2021-09-10 05:05] o2e commented on #1881
@gpeal   I understand. For a pure compose project, is there any adverse consequence of excluding appcompat if I don't use LottieAnimationView? I haven't found any problems for now when I tested using it.

[2021-09-10 05:19] gpeal commented on #1882
@barbozabarb Your project has tons and tons of outdated dependencies that aren't compatible with Compose.
1) Make sure you're on Android Studio Arctic Fox or later
1) Upgrade Gradle to 7.2 (gradle-wrapper.properties)
2) Upgrade the Android Gradle Plugin to 7.0.1 (`classpath 'com.android.tools.build:gradle:7.0.1'` in build.gradle)
3) Go to Settings -> Build, Execution, and Deployment -> Gradle and

[2021-09-10 05:19] #1882 closed

[2021-09-10 19:31] barbozabarb commented on #1882
Thank you very much for your steps Gabriel. I've followed and now its working ! Also I'll follow your advice and learn more about JetpackCompose

[2021-09-11 14:12] darek607 commented on #1841
@gpeal I've created a basic sample demonstrating the issue: https://github.com/darek607/Lottie-Android-Bug

1. Run the app (animation should play successfully)
2. Click NEXT button to launch another fragment
3. Go back to animation fragment (anim won't play again, but it should)

[2021-09-11 16:59] barbozabarb opened #1898 ".setFrame its missing in LottieAnimationView and also lottieDrawable"
Hi, I am trying to use .setframe as @gpeal have told me but when I am trying to implement it, it does not appear only

frame (from getFrame()/setFrame())
 ----->Get the currently rendered frame

I've tried
 val lottieAnimation2 :LottieAnimationView= findViewById(R.id.anima)
      lottieAnimation2.setAnimation(R.raw.percentage)
      lottieAnimation2.setFrame....

I just want it to display in scree

[2021-09-13 08:43] dzolnai opened #1899 "Track matte (alpha) not working on Android"
**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).

Alpha matte seems to be a supported feature on Android

2. I know what part of my animation doesn't work.

Bottom clipping, see bug description for more details

3. I have created a simplified version of my animation

The animation is quite simple

4. I have attached the AEP file (

[2021-09-13 16:30] gpeal commented on #1898
I'm not sure I understand. It is here
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L1022
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L784

[2021-09-14 02:15] barbozabarb commented on #1898
Maybe I explained myself wrong, Gabriel, what I mean is that i get this

 [https://imgur.com/a/RlBaFdY](url)

"frame" is the only method available

[2021-09-14 04:52] gpeal commented on #1898
@barbozabarb That's just [Kotlin's Java interop](https://kotlinlang.org/docs/java-interop.html#getters-and-setters). Call `frame = ` from Kotlin and it'll do the same thing as calling `setFrame(...)` in Java.

[2021-09-14 06:37] kshitiz-dunzo commented on #1889
@gpeal no. Basically we get a url from our backend through which we load the animations. The URL changes after every x seconds through a polling API and then we have to change the animation. This is our code to load them:

`fun setAnimation(animationUrl: String) {
		animationView.visibility = VISIBLE
		try {
			animationView.setAnimationFromUrl(animationUrl)
		} catch (e: MalformedURLException) {

[2021-09-14 07:45] CherryLover commented on #1825
I have same problem. Does any help to fix?

[2021-09-14 11:14] Srujan11 opened #1900 "loader is overlapping with the animation"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. Fork this repository into your account.
2. Reproduce your issue in the issue-repro module. Issues without a repro in the issue-re

[2021-09-14 11:16] Srujan11 commented on #1900
![lottie_animation issue (2)](https://user-images.githubusercontent.com/90692629/133247920-9e8c1842-0b2e-43c6-95ed-b78ab41bbbfc.png)
![lottie_animation issue (2)](https://user-images.githubusercontent.com/90692629/133247973-a8e37fcf-82fa-431c-aff7-9c07201d01ce.png)

[2021-09-14 12:42] someoneIG opened #1901 "app crashing"
Hi, my app crashes on some devices
I attach the log photos and put the text of the log under it.

1. https://pasteboard.co/ZdMqfHaNFSTM.png

[code]

2. https://pasteboard.co/k3Ab68V1ziE7.png

[code]

3. https://pasteboard.co/KTtQYl6H5W42.png

[code]

[2021-09-14 15:00] barbozabarb commented on #1898
Thank you Gabriel, I've misunderstood the function and I though that the method could be frame(x)

[2021-09-14 15:00] #1898 closed

[2021-09-14 16:34] gpeal commented on #1901
Duplicate of #1534
https://github.com/airbnb/lottie-android/issues/1534#issuecomment-719997163

[2021-09-14 16:34] #1901 closed

[2021-09-19 04:05] #1900 closed

[2021-09-19 04:06] gpeal commented on #1889
@kshitiz-dunzo I'm not sure what can be done here, to be honest. This ANR inside of ArrayList. Are the stack traces from all ANRs identical?

[2021-09-19 04:51] gpeal commented on #1879
@raghav2945 Do you have any idea roughly what frequency this is happening? Can you attach the animation that is crashing? Looking at the code, I don't see any clear reason this would be possible.

[2021-09-20 05:53] kshitiz-dunzo commented on #1889
@gpeal I feel it's not related to array list. Here are some more logs(This happens inside the draw method in FillContent):

Caused by com.github.anrwatchdog.ANRError$$$_Thread: main (state = RUNNABLE)
       at java.lang.Object.internalClone(Object.java)
       at java.lang.Object.clone(Object.java:259)
       at android.graphics.ColorSpace$Named.values(ColorSpace.java:231)
       at android.graph

[2021-09-20 05:54] kshitiz-dunzo commented on #1889
Lottie version that we are using: 3.4.0

[2021-09-20 14:52] hringstrom opened #1902 "Embedding or .json issue (Xamarin)?"
Dear Lottie community,

I’m very impressed by the underlying technology behind .json and Lottie implementations, enabling smooth motions on even the oldest of smartphones. However, it seems my team has an integration or .json design issue. Please find how the animation and background should look when correct below (Currently on a Huawei P20 Pro and same on new phone models):

[https://ibb.co/bFZZ0

[2021-09-20 17:30] gpeal commented on #1889
@kshitiz-dunzo that's a different stack than your first one and is still an ANR inside of Android APIs, not Lottie which indicates to me that this issue isn't specific to Lottie. Lottie just happens to be in the stack trace when it ANRs. Without a repro, I don't think I'll be able to help here.

[2021-09-21 10:33] gvozditskiy opened #1903 "TextDelegate for compose"
Add possibility to set TextDelegate to LottieComposition or other options to dynamically change the text in lottie animation

[2021-09-21 12:28] kshitiz-dunzo commented on #1889
@gpeal okay. Can you give me some insights on the performance impact a lottie animation might have on a device if it's running endlessly? We are basically setting the animation via a URL that we get from our backend and this URL changes after every "x" mins. Once set the animation repeats infinitely.

[2021-09-21 14:33] onurkoncaoglu opened #1904 "NullPointerException occurs because of the json item order"
Hi there,

One of our lottie animation was giving us a strange NullPointerException which is rendering successfully in a web browser preview or ios.

java.lang.NullPointerException: Attempt to invoke virtual method 'com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation com.airbnb.lottie.model.animatable.AnimatableColorValue.createAnimation()' on a null object reference

I debug it and saw tha

[2021-09-21 21:34] gpeal commented on #1904
Duplicate of #1529

[2021-09-21 21:34] #1904 closed

[2021-09-22 02:30] yushiwo commented on #1632
I met the same problem too
Fatal Exception: java.lang.IllegalStateException: Unable to create layer for LottieAnimationView
       at android.os.MessageQueue.nativePollOnce(MessageQueue.java)
       at android.os.MessageQueue.next(MessageQueue.java:143)
       at android.os.Looper.loop(Looper.java:122)
       at android.os.Handler.handleCallback(Handler.java:739)
       at android.os.Handler.dispa

[2021-09-22 02:33] yushiwo opened #1905 "Fatal Exception: java.lang.IllegalStateException Unable to create layer for LottieAnimationView"
Fatal Exception: java.lang.IllegalStateException: Unable to create layer for LottieAnimationView
       at android.os.MessageQueue.nativePollOnce(MessageQueue.java)
       at android.os.MessageQueue.next(MessageQueue.java:143)
       at android.os.Looper.loop(Looper.java:122)
       at android.os.Handler.handleCallback(Handler.java:739)
       at android.os.Handler.dispatchMessage(Handler.java:95)

[2021-09-22 10:06] onurkoncaoglu commented on #1904
I assume that there is a performance concerns, but this causes incompatibility with other platforms. Web and iOS SDK renders successfully (like json specs, object key-value pairs order doesn't matters)

Of course the decision is yours, I just wanted to inform

[2021-09-22 12:04] kypeli opened #1906 "Lottie Compose does not honor accessibility setting to not play animations."
Lottie Compose version: 4.1.0

It seems Lottie Compose plays animations even though in system accessibility settings animations have been turned off.

In LottieDrawable.java there's the `animationsEnabled()` function that is checked in `playAnimation()` before starting the animation. I don't see a similar check in `LottieAnimation()` on Compose side.

Related to https://github.com/airbnb/lottie-an

[2021-09-23 06:27] kshitiz-dunzo commented on #1889
@gpeal I highly doubt that users play around with developer options and even the ones that do would have their animations disabled. Battery saver can be a good lead, if the batter saver does disable animations then is there a workaround in lottie for it?

Also I was reading some of lottie's code and as we are setting animation via URL, it does call setComposition again internally. And as it is a d

[2021-09-23 15:07] gpeal commented on #1889
@kshitiz-dunzo At scale, tons of users mess with animation scale on their actual devices. You will have a combination of real developers + people who just want to disable animations going in there and messing with settings.

[2021-09-24 03:37] wellcao commented on #1534
是的，只要将移除动画的选项打开，就会使得动画的duration变为0，如果刚好在onAnimationEnd()中调用playAnimation()，并试图以一定时间（比如3000ms）来控制循环跳出，就会必须这个错误，这会导致stackoverflow

[2021-09-24 11:50] krzdabrowski opened #1907 "Jetpack Compose tests with Lottie & infinite animations"
**Is your feature request related to a problem? Please describe.**
I have a `Composable` that will iterate continuously by using `LottieConstants.IterateForever`. I would like to be able to test it but as [Compose Testing codelab](https://developer.android.com/codelabs/jetpack-compose-testing#5) suggests, there might be a need for special animation API like `InfiniteTransition`:

[code]

**Describ

[2021-09-24 19:53] MurilloMaciel opened #1908 "TextDelegate still not supported for Compose"
**Is your feature request related to a problem? Please describe.**
I'm having troubles trying to change dynamically some texts of my json animation.
In old ways, with View, we had TextDelegate to handle this problem, but for Lottie in JetPack Compose we still doesn't.

**Describe the solution you'd like**
I would like a similar approach of TextDelegate for JetPack Compose.

**Describe alternatives

[2021-09-26 04:39] YangX29 opened #1910 "the onDestroy() of pervious activity is called delay"
I have 2 activities in my project. And the Activity A has two `LottieAnimationView` that automatically loop(`app:lottie_loop="true"` and `app:lottie_autoPlay="true"`). When I start Activity B from Activity A and then finish it, the `onDestroy` method of ActivityB is called delayed.

After testing, I guessed that this was caused by the existence of multiple LottieAnimationViews that automatically l

[2021-09-26 06:14] YangX29 commented on #1910
Here is a simple project reproduces the issue.
[LottieTest.zip](https://github.com/airbnb/lottie-android/files/7230841/LottieTest.zip)

[2021-09-27 06:26] Kingsavage3 commented on #1756
Stop

On Tue, Aug 31, 2021, 9:10 AM Gabriel Alencar ***@***.***>
wrote:

[2021-09-27 06:30] Kingsavage3 commented on #1533
No stop to all

[2021-09-27 06:30] Kingsavage3 commented on #1533
Stop

[2021-09-27 06:30] Kingsavage3 commented on #1533
Stop

[2021-09-27 06:31] Kingsavage3 commented on #1533
Stop

[2021-09-27 06:32] Kingsavage3 commented on #1533
Unscrew subscribe

On Tue, Aug 31, 2021, 11:25 PM jcdhlzq ***@***.***> wrote:

[2021-09-27 07:14] YangX29 commented on #1910
The bug appeared in version `4.1.0`，and `3.4.1` works well.

[2021-09-29 13:46] hringstrom commented on #1902
Just wanted to revert or "bump" the topic, as we still haven't been able to recognize the issue. Please do mention if anyone needs more information or the file itself to stipulate a potential response.

Kind Regards,
Henrik

[2021-09-29 14:45] gpeal commented on #1902
@hringstrom Hi there. Just FYI, I am the sole maintainer of this project on my nights and weekends. I can't get to all issues right away and prioritize issues from sponsors as a result. I will take a look at this but I can't promise exactly when.

[2021-09-29 14:50] derrickrc opened #1911 "Help with understanding memory usage and Lottie visibility"
Hi, I am using older 5.1.1 Android devices and am getting the following exception after the app runs for some period:

[code]

I am going to do additional testing today, but I have reason to believe this is memory related and caused by Lottie. The app is like a kiosk and the animations currently loop continuously.

My question: I assume it will consume less memory if I set `lottie_loop=false`. If

[2021-09-30 03:32] gpeal commented on #1911
@derrickrc It is highly unlikely that this is caused by Lottie. Regardless, Lottie doesn't use much memory once the animation is loaded so you should be able to loop without issue. Without more information or repro steps that indicate that this is due to Lottie, I'm going to have to close this.

[2021-09-30 03:32] #1911 closed

[2021-09-30 14:55] derrickrc commented on #1911
Thanks @gpeal for responding so quickly. The thing is, I think this is Lottie related. As a test, overnight I ran two tablets side by side and had one where a MainActivity with 3 different Lotties where `lottie_loop=true` and the other with `false`. The one with `lottie_loop=true` crashed overnight with `Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 14310 (RenderThread)` (which is somet

[2021-09-30 20:07] Kingsavage3 commented on #1911
No stop all

On Thu, Sep 30, 2021, 10:56 AM derrickrc ***@***.***> wrote:

[2021-09-30 20:23] derrickrc commented on #1911
@Kingsavage3 sorry what do you mean no stop all?

[2021-09-30 20:57] gpeal commented on #1911
@derrickrc @Kingsavage3 probably subscribed to this thread and tried to unsubscribe via email...

That stack trace is independent of your first stack. When you turn the screen off, your activity should be stopped and Lottie should be paused. Can you put a breakpoint in cancelAnimation or pauseAnimation in LottieAnimationView and see if it triggers when you turn the screen off?

[2021-09-30 20:59] derrickrc commented on #1911
Thanks @gpeal. I should have also shared, my app is a kiosk-type app and uses `wakeLock` so the screen is always on and the activity is always running. Does that likely change things?

[2021-09-30 21:02] derrickrc commented on #1911
I should also share, I believe I've determined that the original exception I shared is not due to Lottie, but rather seems to be due to a combination of `FLAG_ACTIVITY_REORDER_TO_FRONT` and screen pinning causing this non-fatal minimizing behavior to happen intermittently.

But the `Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 14310 (RenderThread)` I believe is caused by Lottie.

[2021-09-30 22:45] gpeal commented on #1911
@derrickrc this could be a hardware specific issue. If you think that's the case. Try setting the render mode to software.

[2021-10-03 15:39] hringstrom commented on #1902
@gpeal Thank you for your kind response.
Of course! Fully understand.

Thanks for your dedication.

//Henrik

[2021-10-05 17:34] krzysztofs4d opened #1916 "LottieAnimationView - Memory leak with simple code :("
Hi Lottie community.

**Describe the bug**
I read whole repository but im stuck with very basic code and leaking LottieAnimationView so any **help is greatly appreciated.**

I've tried multiple approaches with loading up lottie animation (via xml, via code, open as Fragment, FragmentActivity, AppActivity etc).
Nothing seems to help and LottieAnimationView is never removed from heap **however** con

[2021-10-06 04:59] derrickrc commented on #1911
@gpeal thanks Gabe. I actually already had that enabled -  any other tricks you have up your sleeve? If not, I think it's simply an issue due to it being an older Android tablet and I'll have to play around with the loop frequency to ensure it doesn't crash due to memory-related issues.

[2021-10-06 08:35] krzysztofs4d commented on #1916
I had to call  `LottieCompositionFactory.clearCache(requireContext())` during `onDestroy` method and almost all assets loaded during animation were  deallocated.

[2021-10-06 08:35] #1916 closed

[2021-10-07 04:38] gpeal commented on #1911
@derrickrc you shouldn't have to worry about manually managing any of Lottie's memory like that.

[2021-10-07 06:25] Rahuldeveloper11 opened #1918 "Lottie Animation Resource doesnt load and makes the app crash"
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Checklist**

1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my anim

[2021-10-07 18:11] #1918 closed

[2021-10-10 03:38] gpeal commented on #1910
@YangX29 I'm not sure what, exactly you're seeing but I'm seeing onDestroy get called at the exact same time if I remove the animation in MainActivity entirely or if I leave it there. onDestroy always gets called a bit later but that shouldn't really affect anything.

Lottie is just a drawable drawing to a canvas at the end of the day so it shouldn't have any effect on activity lifecycles.

If you

[2021-10-10 03:38] #1910 closed

[2021-10-11 03:52] wuwuhuai opened #1920 "If it is an animation with images, it does not play until the last frame"
If it is an animation with pictures, it does not play until the last frame

[2021-10-11 05:13] wuwuhuai commented on #1920
sure. this a my sample :https://github.com/wuwuhuai/LottieDemoMy/tree/master

[2021-10-12 11:38] RohanBhagat1 opened #1921 "Caused by: java.lang.StringIndexOutOfBoundsException: length=0; index=0 in lottie library"
Hi, I am facing an issue with the Lottie animation.
The json file I am trying to render in the android app is not rendering. The stack trace I am getting is added below.
Though the json file is running appropriately on Lottie site.

StackTrace:
2021-10-12 14:56:15.392 11174-11174/in.ludo.supremegold E/AndroidRuntime: FATAL EXCEPTION: main
    Process: in.ludo.supremegold, PID: 11174
    java.lang.

[2021-10-12 18:39] ursusursus commented on #388
I also face this issue. What's the solution?

[2021-10-13 05:53] Kayuemkhan opened #1922 "Start another activity After lottie effect is Finish!"
I used lottie Animations in ### SplashScreen. But, I want to **change the activity** when the lottie animations are finished !

[2021-10-13 07:16] alorma commented on #1907
I've found a way for this:

Create a

[code]

And on test set it to *1*

[2021-10-13 14:51] klaus19 commented on #1922
Why don't you use Intent to go to another activity?

[2021-10-13 16:36] #1922 closed, assigned to nobody

[2021-10-14 14:00] mathiasnielsen commented on #1741
I experienced the same issue (animation worked on iOS but not android), and it turned that the file had some odd format (I guess, BOM or some odd Encoding).. I had some existing json lottie animations files which worked, copied one of them, and changed the content, and it worked... hard error to debug :) Hope it helps.

[2021-10-17 09:17] mbasaglia opened #1925 "Star Shape inconsistencies"
**Describe the bug**
I was testing the star shape (`"ty": "sr"`) It looks like the angle is handled inconsistently across lottie players

**What version of Lottie did you test this on?**
5.5.7

**What version of Android did you test this on?**
I could reproduce on Telegram android, which uses lottie-android. Not sure if there's an easy way of testing lottie-android myself

**Steps To Reproduce**

[2021-10-18 20:05] pablorengo opened #1926 "Unnecessary allocations in ColorKeyframeAnimation.getIntValue()"
**Link to fork with a repro in the issue-repro module**
https://github.com/pablorengo/lottie-android

**Describe the bug**
Several Integer allocations are being made for every frame of an animation that changes its color using a ValueCallback. This is making the GC to execute really often, having impact in app performance.

**Steps To Reproduce**
Steps to reproduce the behavior:

1. Start the issu

[2021-10-20 12:24] pablorengo opened #1928 "Calling Paint.setAlpha() generates several ColorSpace$Named[] allocations"
**Link to fork with a repro in the issue-repro module**
https://github.com/pablorengo/lottie-android

**Describe the bug**
Calling an Enum `values()` method clones the values of the enum, allocating memory. If this is executed in a loop, we can see a significant amount of allocations in a short period of time. Calling Paint.setAlpha() generates a ColorSpace which calls Named.values() where Named i

[2021-10-20 13:06] frankiesimon commented on #1758
Same here :(

[2021-10-21 08:57] snpmyn opened #1930 "Change the colors dynamic."
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrate

[2021-10-21 09:21] Kayuemkhan commented on #1922
Yes. But, When I need to use the intent ! That was unknown to me. Thanks @gpeal !

[2021-10-21 13:49] klaus19 commented on #1922
@gpeal One Shouldn't use Coroutines when displaying Lottie as a Splashscreen, it has high initialisation cost compared to Handler and Executor.

[2021-10-21 19:42] #1930 closed, assigned to nobody

[2021-10-22 01:33] greggiacovelli opened #1932 "Add Keypath to TextDelegate in order to have same cross platform behavior as iOS AnimationTextProvider."
*Lottie is supported and developed on nights and weekends. Issues from [Lottie sponsors](https://github.com/users/gpeal/sponsorship) will be prioritized.*

**If you don't use this template, your issue will be closed. Delete this text once completed.**

**Is your feature request related to a problem? Please describe.**
Currently if an animation is shared across Android and iOS the text layers are i

[2021-10-24 07:33] m-anshuman2166 opened #1933 "Provide a Jar-only compatible version for Lottie"
If its possible, I could make a plugin of lottie for MIT Appinventor, kindly have a look team

Regards,

[2021-10-26 17:24] #1933 closed, assigned to nobody

[2021-10-28 15:18] ansh2166 opened #1935 "Use Lottie with No Code on MIT Appinventor"
MIT App Inventor is a web application integrated development environment originally provided by Google, and now maintained by the Massachusetts Institute of Technology and is used for Android Development.

https://community.appinventor.mit.edu/t/lottie-animations-add-cool-animations-to-your-apps/44483

![image](https://user-images.githubusercontent.com/72782632/139285403-76a732a7-7215-469b-b5ed-cd

[2021-11-01 07:57] starlightjy opened #1936 ""signal: 6, code: -6, hint: abort" on Android 7.1.1"
I use lottie-android for app.  On Android 7.1.1 mobile phone: (Oppo CPH1723,CPH1725,CPH1727):
`implementation 'com.airbnb.android:lottie:3.5.0'
`

but it get an abort signal 6,  how can I fix this? Could you help me

`
signal: 6, code: -6, hint: abort

#00 pc 000000000006dcb4 /system/lib64/libc.so (tgkill+8).. (.java)
#01 pc 000000000006b0d4 /system/lib64/libc.so (pthread_kill+64).. (.java)
#02 pc

[2021-11-01 09:28] daihang1229 opened #1937 "Lottie Cache Reflection"
Hello dear:
   I am an android developer.Recently i had read source code about lottie.When i read LottieCompositionFactory#cache().Some question occured to me.
   First,Create a LottieTask will produce a thread too, so why run taskCache.get(contiansKey) first.And why remove cache from Map(taskCache) after success/fail.

   Then, Why must be build a LottieTask for View,Actually LottieComposition is

[2021-11-01 19:56] gpeal commented on #1936
You probably need to set the renderMode to software for affected devices.

[2021-11-01 19:56] #1936 closed

[2021-11-02 20:57] #1932 closed

[2021-11-03 05:20] #1794 closed

[2021-11-03 05:32] gpeal commented on #1937
@daihang1229 The task cache is implemented so that if you try and parse the same animation multiple times before it finishes parsing, all requests will join the same parsing task. For example, if you have an animation in a RecyclerView item and it gets requested 5 times right away, it will only get parsed once.

Once the task is completed, Lottie will rely on the LottieCompositionCache to retrieve

[2021-11-03 05:32] #1937 closed

[2021-11-03 05:32] gpeal commented on #1935
The documentation is hosted at https://github.com/airbnb/lottie
Feel free to put up a PR there. All you have to do is propose a change to the markdown file 😄

[2021-11-03 05:32] #1935 closed

[2021-11-03 05:34] gpeal commented on #1925
I just tested your animation and this is how lottie-android renders it which looks correct.
![image](https://user-images.githubusercontent.com/1307745/140014046-52477421-5fc8-42b2-997b-6acb99df1f17.png)

[2021-11-03 05:34] #1925 closed

[2021-11-03 05:36] gpeal commented on #1889
@kshitiz-dunzo I'm going to have to close this because I don't think there is anything actionable to be done on the Lottie side here.

[2021-11-03 05:36] #1889 closed

[2021-11-03 05:39] gpeal commented on #1921
There is a solid layer with a missing color. You can see it in the json where it says `sc: ""` That should have a color value. Either your json has been manipulated or there is a bug in whatever tools or plugin you used to manipulate it. As a test, I replaced it with `sc: "#ff0000"` and it rendered just fine.