[2018-07-15 21:57] gpeal opened #838 "Add a cacheKey option to LottieCompositionFactory"

[2018-07-16 01:29] gpeal commented on #733
@maxbaldrighi @zsoltk @RadoVidjenGost Can you attach your animations? I can't debug without that.

[2018-07-16 02:18] gpeal commented on #833
@bodymovin what is the exact spec for how gradients are rendered to the values array in the json?

[2018-07-16 05:06] gpeal commented on #719
@AndroidDeveloperLB Just tried forcing the layout preview to render Lottie and it seems like its rendering is clearly limited in functionality. This is what the lottie logo looks like:
![image](https://user-images.githubusercontent.com/1307745/42743727-41f904e6-887b-11e8-99a8-74ddbd810aee.png)

[2018-07-16 05:06] #719 closed

[2018-07-16 05:09] AndroidDeveloperLB commented on #719
What am I seeing?
And why close it? Have you added this feature?

[2018-07-16 06:07] gpeal commented on #812
Add `android:scaleType="centerCrop"`

[2018-07-16 06:07] #812 closed

[2018-07-16 06:18] #797 closed

[2018-07-16 06:21] gpeal commented on #710
Fixed by #830

[2018-07-16 06:21] #710 closed

[2018-07-16 06:35] gpeal commented on #667
As of #830, you can now have separate success and failure handles. Failures will now bubble up to there instead of crashing on a background thread. If this is a device specific issue/platform issue with JsonReader, your best best is to use these new APIs to retry or just drop the animation in those cases.

I'm going to close this for now unless there is more than needs to be done on the lottie sid

[2018-07-16 06:44] #825 closed

[2018-07-16 06:45] #784 closed

[2018-07-16 06:46] gpeal commented on #822
Fixed in https://github.com/airbnb/lottie-android/commit/17b64db1b082b11397b122f43179de7e9ddf791c

Will release 2.6.0 soon.

[2018-07-16 06:46] #822 closed

[2018-07-16 09:38] maxbaldrighi commented on #733
@gpeal, sure!
could you share your email so that I can send it in private, please?

[2018-07-16 09:50] yk3372 commented on #759
this maybe help you #351

[2018-07-16 16:31] leleliu008 commented on #812
Add android:scaleType="centerCrop" not work well as iOS. I will find other way to resolve this problem, thank you!

[2018-07-18 01:58] jonathanisaac commented on #837
Hi @gpeal ,

Sorry for the delay, I ended up converting the image to vectors and solved my problem.

But I believe that this information can help in some way, so I decided to recreate the same experience.
**Attached files**, in case you need any additional information, please contact me.

Just an additional info: I'm using Kotlin and on iOS I had no problem.

[testing_purpose.aep.zip](https://gith

[2018-07-18 15:56] jonfinerty opened #843 "Inconsistent/out of date android versions in documentation"
Hi,

I was just poking around and I noticed http://airbnb.io/lottie/android/android.html# lists `2.5.1` as the library version to reference and https://github.com/airbnb/lottie-android lists `2.5.5`

There seems to be a `2.5.6` available (and even a `2.5.7` and `2.6.0`) listed in `CHANGELOG.md`

Thanks for your efforts, really useful library

[2018-07-18 20:01] gautamjain opened #844 "Render Graph vs. Android GPU rendering profiler"
I'm trying to better understand rendering performance.

To test an animation - I opened Render Graph and turned on the Android Profile GPU Rendering tool at the same time.

![screenshot_20180718-120530 1](https://user-images.githubusercontent.com/1161630/42904600-5f3fc56a-8a8a-11e8-9f07-b028a591570c.png)

The graphs seem contradictory.  The Android tool shows the 16 ms target is not being met, whe

[2018-07-18 20:54] samiam2017 commented on #833
Hey thanks for looking into this @gpeal. I don't fully understand what you mean. Want this traveling gradient that goes from 0% opacity--> 70%--> 0%. I added in the extra points because it was banding and transitioning slow enough between the 70% and 0%. Also was seeing a hard clipping edge so I pulled the 0% away from the edge of the shape to try to guarantee that it wouldn't she the shape layer'

[2018-07-19 03:11] BUPT-LXP commented on #667
I got the same problem on 7.X and 8.X with Lottie 2.5.1. So sad that Google said that they will not fix this because no one can reproduce this bug steadily.

[2018-07-20 00:44] gpeal commented on #844
@gautamjain the render graph measures the time from the beginning of drawing to the end of drawing. The bars show the value for the entire screen which may have additional overhead.

[2018-07-20 00:44] #844 closed

[2018-07-20 06:13] JaySX commented on #794
2.5.5 is not working too

[2018-07-20 06:41] JaySX opened #845 "Failed to resolve: com.airbnb.android:lottie:2.5.5"
Android Studio 3.1.3
Gradle 3.3
compileSdkVersion = 25
compile 'com.airbnb.android:lottie:2.5.5'

[2018-07-20 06:50] gpeal commented on #845
2.5.5 and 2.5.6 are both on [maven central](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.airbnb.android%22%20AND%20a%3A%22lottie%22).

[2018-07-20 06:50] #845 closed

[2018-07-20 17:05] octivia commented on #794
same problem . how can we solve this problem. 2.5.5 is also not working

[2018-07-21 01:42] JaySX commented on #794
@octivia you can change 2.5.5 to 2.5.6,but you must update your compileSdkVersion,and then update your java version,and update your gradle version,and update all of your thrid-sdk version

[2018-07-21 02:56] JaySX commented on #794
compile('com.airbnb.android:lottie:2.5.5') {
        exclude group: 'com.android.support'
    }
It works for me

[2018-07-21 11:35] jygzdx commented on #77
@muthuraj57 after remove appcompact_v7,you can use LottieAnimationView (extends AppCompatImageView)?

[2018-07-22 12:30] PaulWoitaschek commented on #835
Why is not out yet? There is a release tag as @Kevinrob mentioned. (15 days ago)

[2018-07-23 12:33] OfekAshkenazi opened #847 "Animation lags in android but runs perfectly on ios"
we are using the same json file animation on Android and IOS, in IOS the animation runs perfectly but in android the animation has lags(tested on multiple device). any idea?

[2018-07-23 14:16] tsdmrfth opened #848 "Getting this issue for several times in production release (Caused by java.util.concurrent.RejectedExecutionException)"
#################################################
Fatal Exception: android.view.InflateException: Binary XML file line #36: Binary XML file line #36: Error inflating class <unknown>
       at android.view.LayoutInflater.inflate(LayoutInflater.java:539)
       at android.view.LayoutInflater.inflate(LayoutInflater.java:423)
       at ui.careprodashboard.adapter.SuggestedJobPostsAdapter.onCreateViewH

[2018-07-24 19:08] gpeal commented on #847
http://airbnb.io/lottie/android/performance.html

[2018-07-24 19:08] #847 closed

[2018-07-24 19:11] gpeal commented on #848
@tsdmrfth Use LottieComposition.Factory and parse the composition on its own first. Something is causing you to try and deserialize 17 compositions simultaneously.

Lottie 2.6.0 coming out soon will have improved APIs to pre-warm the composition cache.

[2018-07-24 19:11] #848 closed

[2018-07-24 19:11] gpeal opened #849 "Provide an API to warm the composition cache"

[2018-07-24 19:11] gpeal commented on #848
https://github.com/airbnb/lottie-android/issues/849

[2018-07-24 23:43] eygraber opened #850 "Lottie2.6.0 not found"
Failed to resolve: com.airbnb.android:lottie:2.6.0

[2018-07-25 01:15] anthonyfr opened #851 "java.lang.NullPointerException when opening file for preview"
When I open the Sample App preview -> Open a file and select my [json file,](https://gist.github.com/anthonyfr/92cdd6658d0f090377949a6abb7f95e0#file-animation-json) the app crashes with a NullPointerException.
I see from the logs and the code that when the json file has a "shape" without a name "nm", it passes a null String to KeyPath, causing the crash when calling .equals.

The crash logs are:
`

[2018-07-25 14:38] AndroidDeveloperLB opened #852 "Request: add Android-Studio plugin, to preview Lottie Json files"
Currently the only way to go through the animations files (in `/res/raw/...`) , is via the device.
Please allow to preview the files within the IDE itself.
Maybe also have a gallery view of them, similar to this plugin, which shows VectorDrawable files in a gallery style :

https://plugins.jetbrains.com/plugin/10741-vector-drawable-thumbnails

[2018-07-25 15:12] klamborowski opened #853 "Android frame drop after updating from 2.3.0 to 2.5.5"
I have problem with frame drop/animation lag in my app tutorial. Everything was fine, when I was using version 2.3.0, but after updating to 2.5.5 animation starts lagging and lost frames.

This bug can be reproduced with sample app "Animated App Tutorial". Open app tutorial and swipe page slowly.

Below two screen records showing diffrence in behaviour.

[2_3_0.zip](https://github.com/airbnb/lotti

[2018-07-26 02:00] gpeal commented on #852
@AndroidDeveloperLB The canvas APIs in IntellJ don't render accurately enough. Most have serious rendering errors.

[2018-07-26 02:00] #852 closed

[2018-07-26 02:50] gpeal commented on #850
Lottie 2.5.6 is the latest released version

[2018-07-26 02:50] #850 closed

[2018-07-26 05:18] AndroidDeveloperLB commented on #852
How come the Vector plugin succeeded?
It also handles vectors...
And how come Google succeeded showing VectorDrawables...

Please re-consider.
It's impossible to manage Lottie files this way, especially when we have a lot of them...

At the very least, make a plugin that I will tell it to show which image for each lottie file. An image shouldn't be a problem, right?

[2018-07-26 05:40] gpeal opened #856 "Animation Crashes"
https://www.lottiefiles.com/2357-dpf

[2018-07-26 08:41] dujp opened #857 "Android frame drop 2.2.0 to 2.5.5"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-07-26 10:45] anthonyfr commented on #851
@gpeal The designer made the animation on Haiku. I will send the files I get by email.

[2018-07-26 11:21] CotunaAurelian opened #858 "Flicker on animation change in an LottieAnimationView"
Hello guys I have a question.
I am adding `LottieAnimationView` to a `TabBar`. When I select a tab, I have to change the `JSON` to another one that is coloured (to highlight the selected tab).
The animation won't start right away, it will be triggered at some point after an event, so I can't play the animation right after it has been drawn in order to force frame redrawing mechanism.

When I do th

[2018-07-26 14:33] AndroidDeveloperLB opened #860 "Question: lottie_autoPlay not available at runtime?"
Currently we can use LottieAnimationView within a layout, as such:

        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/animationView" android:layout_width="match_parent" android:layout_height="match_parent"
            android:background="#000" android:scaleType="centerCrop" app:lottie_autoPlay="true" app:lottie_loop="true"
            app:lottie_rawRes="@raw/flow" tools:a

[2018-07-26 16:07] vsay01 commented on #802
@gpeal I used implementation 'com.airbnb.android:lottie:2.5.5' and experiences the same issue once upgrade to Android P. I would appreciate if this fix got released. Thanks

[2018-07-26 16:07] gpeal commented on #851
@anthonyfr We don't officially support Haiku but it looks like they are exporting shapes that change their number of vertices which Lottie doesn't support. Please file an issue with them.

[2018-07-26 16:07] #851 closed

[2018-07-26 16:18] vsay01 commented on #802
@ColtonIdle  Looks like there are the release v2.5.6 and v2.5.7.

I tried to add v2.5.7 but I got error that the link not resolved.

For v2.5.6, it's working fine and no more crash.

@gpeal might want to update in the wiki page the latest version since current version shown v.2.5.5 which not include this fix.

Thanks

[2018-07-26 16:20] scott-u-texas commented on #733
Was there a resolution to this issue? I tried the sample code as well and have the same issue.

[2018-07-26 16:57] gpeal commented on #860
If you just call `playAnimation()` it will queue it up for when the composition loads and have the same effect.

[2018-07-26 16:57] #860 closed

[2018-07-26 16:59] gpeal commented on #858
It probably has to do with the asynchronous parsing of json.
You can use `LottieComposition.Factory` (deprecated and replaced with `LottieCompositionFactory` in the soon to be released 2.6.0) to parse the composition ahead of time.

[2018-07-26 16:59] #858 closed

[2018-07-26 17:03] ColtonIdle commented on #857
:eyes:

[2018-07-26 17:04] Xexiz commented on #802
Yeah, 2.5.7 seemed to be broken for me too, and had nothing more than 2.5.6 so I did take 2.5.6 too to fix the problem.

[2018-07-26 20:44] AndroidDeveloperLB commented on #860
Why the different naming? It's confusing ... :(

[2018-07-27 00:34] #838 closed

[2018-07-27 01:54] leonsimple commented on #363
same crash
  | Caused by: java.lang.IncompatibleClassChangeError:Expected 'byte[] Decoder.BASE64Decoder.decode_buffer' to be a static field rather than a instance field (declaration of 'com.airbnb.lottie.parser.LayerParser' appears in /data/user/0/com.xxxxxx.xxxxxx/.cache/classes.jar)
-- | --
1 | at com.airbnb.lottie.parser.LayerParser.parse(SourceFile:54)
2 | at com.airbnb.lottie.parser.LottieCom

[2018-07-27 02:03] leonsimple commented on #363
but i edit com.airbnb.lottie.parser.AsyncCompositionLoader to close IO
it's wrong？
`
  @Override protected LottieComposition doInBackground(JsonReader... params) {
    try {
      return LottieComposition.Factory.fromJsonSync(params[0]);
    } catch (IOException e) {
      throw new IllegalStateException(e);
    } finally {
      JsonReader param = params[0];
      if (param != null) {
        try

[2018-07-27 07:30] scsfwgy commented on #801
If the LottieAnimationView is in full-screen mode, some mobile devices may have an adaptation problem. such as:Some have built-in keyboards at the bottom of the screen, as this results in an error in the aspect ratio.

[2018-07-30 11:46] cristan commented on #822
This is fixed in [2.5.7](https://github.com/airbnb/lottie-android/releases/tag/v2.5.7), but somehow 2.5.7 [never made it into the maven repository](https://mvnrepository.com/artifact/com.airbnb.android/lottie). So either we'll have to wait for 2.6.0 or 2.5.7 should be properly released.

[2018-07-31 07:35] scsfwgy opened #862 "How to download and apply multiple images?"
If this is a feature request:

I want apply multipe imges,but this method just return a Bitmap:

`animationView.setImageAssetDelegate(new ImageAssetDelegate() {
  @Override public Bitmap fetchBitmap(LottieImageAsset asset) {
    if (downloadedBitmap == null) {
      // We don't have it yet. Lottie will keep
      // asking until we return a non-null bitmap.
      return null;
    }
    return down

[2018-08-01 07:50] TobiasReich commented on #667
We are having the same issues (Lottie 2.5.5) - only Android 8. So hope to find a fix soon.

[2018-08-01 22:51] MohamedHajr commented on #794
I'm having the same issue with 2.5.5

[2018-08-03 09:04] zhenliang365 opened #863 "How to empty the animation effect？"
cancelAnimation () can stop animation, but cannot clear the screen.

[2018-08-04 16:32] shipcake opened #864 "Expo XDE where is Assets Folders?"
1.) i have a json file and i export (babymovin in Adobe AF) with images Assets . Jpg Because if i include the shape. file is too big (about 215KB) render so a liite lag (Real Samsung S8+)
2.) i use expo XDE and run on android simulator i can't find Assets in my project folders same the Lottie Guidebook

<Lottie
          source={require('./img/data.json')}
          ref={animation => {this.animati

[2018-08-04 17:16] gpeal commented on #864
Please post this on [lottie-react-native](https://github.com/react-community/lottie-react-native)

[2018-08-04 17:16] #864 closed

[2018-08-04 17:17] gpeal commented on #863
@zhenliang365 I recommend just setting the alpha to 0 or changing the visibility of your view. Lottie doesn't need to do this itself.

[2018-08-04 17:17] #863 closed

[2018-08-04 17:18] gpeal commented on #862
@scsfwgy Each image has an id. You can only have one image per id.

[2018-08-04 17:18] #862 closed

[2018-08-04 17:32] #857 closed

[2018-08-04 18:01] gpeal commented on #853
@klamborowski I cannot reproduce this. This is the render graph of the animation on master:
<img width="562" alt="screen shot 2018-08-04 at 10 59 34 am" src="https://user-images.githubusercontent.com/1307745/43679175-9e76be98-97d5-11e8-91fc-cdf4cefb1214.png">

If you could create an actual sample project that reproduces this, I can take another look.
Lottie has many systrace markers so if you coul

[2018-08-04 18:01] #853 closed

[2018-08-04 20:30] gpeal commented on #837
@jonathanisaac It probably won't render because your image is 1024x1024. That will get converted to dp on device and will try to render it at ~3000x3000. That's too large to fit in a software graphics buffer and Android will silently drop it.

[2018-08-04 20:30] #837 closed

[2018-08-04 22:18] bkhezry opened #867 "java.lang.IllegalStateException: Cannot invoke setValue on a background thread"
I just run sample and get this error for each item click:

`
08-05 02:46:33.045 25265-25320/com.airbnb.lottie E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.airbnb.lottie, PID: 25265
    java.lang.IllegalStateException: Cannot invoke setValue on a background thread
        at android.arch.lifecycle.LiveData.assertMainThread(LiveData.java:435)
        at android.arch.lifecycl

[2018-08-04 23:06] #867 closed

[2018-08-05 05:40] bkhezry commented on #867
error just change to
`
08-05 10:09:20.415 3705-3705/com.airbnb.lottie E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.airbnb.lottie, PID: 3705
    android.os.NetworkOnMainThreadException
        at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1166)
        at libcore.io.BlockGuardOs.recvfrom(BlockGuardOs.java:163)
        at libcore.io.IoBridge.recvfrom(IoBridge

[2018-08-06 07:44] AndroidDeveloperLB opened #869 "Bug: in docs, it says the SDK can "Download animations from the network""
This:

http://airbnb.io/lottie/android/avd.html

![image](https://user-images.githubusercontent.com/5357526/43703540-b22a49fa-9965-11e8-9b2e-09a613de9558.png)

This is incorrect, as is shown here:
https://github.com/airbnb/lottie-android/issues/338

You can't set a url just in a single line. Some work need to be done first.

[2018-08-06 08:28] scsfwgy commented on #862
@gpeal  Thx, I know the concept of "Each image has an id".    But, when I download  a jsop file with mulitpe images from service,like this:
![image](https://user-images.githubusercontent.com/16045179/43705514-4460c5b8-9995-11e8-9ff9-7ddddf3e7ba1.png)   ,   how can i load the mulitpe images by below method,or there are other ways to load multiple images downloaded from the network?

animationView.s

[2018-08-06 15:26] gpeal commented on #869
@AndroidDeveloperLB As of the latest release, you can do it by passing in the json string from the response. We do it all the time. In fact, the Lottie sample app does it.

Coincidentally, I have been working on this though:
https://github.com/airbnb/lottie-android/pull/868

[2018-08-06 16:10] AndroidDeveloperLB commented on #869
Passing the json string from the response doesn't make the library "download animations from the network". The response you write about is after I already got the access from the network. The network access is something that's not a part of the library.
Currently, the description brings a false claim, that this library can download the animation. It can't.

[2018-08-06 17:08] gpeal commented on #869
@AndroidDeveloperLB is this how you normally communicate with your coworkers?

I work on Lottie on nights and weekends because I enjoy enabling new things for other people. I don't get paid for Lottie and 99% of the work I do on it isn't for things that Airbnb needs.

Working on Lottie has been one of the most rewarding experiences of my career and I have gotten to meet some amazing people as a re

[2018-08-06 17:08] #869 closed

[2018-08-06 17:19] AndroidDeveloperLB commented on #869
Where exactly have I shown disrespect?
I state a clear explanation:
This is a bug. It's not supposed to be written there.

[2018-08-06 17:19] AndroidDeveloperLB commented on #869
And why close it? It's still in the description there.
Is it now available to use it using a URL alone? Does it now download the animation?

[2018-08-07 01:54] Goudri opened #870 "Animation doesn't work when positioned above enabled Button"
in the attached XML layout file, when i change the button state to enabled="true", the animation doesn't work, else when i change it to false it's work properly.
this problem occur in android api 20+
when i test it in android api 19 it's work without any problem.
what i found is that i shouldn't put the animation above the button.
Xml layout:
--------------
<?xml version="1.0" encoding="utf-8"?>
<

[2018-08-07 05:59] kbz066 opened #871 "Lottie2.5.5 cannot display animation in viewpager fragment."
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-08-07 08:02] scsfwgy commented on #862
ref :https://github.com/airbnb/lottie-android/commit/8439bdc370a9ca9a8d6f9e9272fd24774aacacfd

[2018-08-07 11:18] minudf opened #872 "setMinAndMaxFrame isn't working 2.5.5"
Hello.
In 2.5.5 version, setMinAndMaxFrame isn't working properly.
        animationView.setMinAndMaxFrame(50, 100);
        animationView.setRepeatCount(-1);
        animationView.playAnimation();
It doesn't repeat 50~100 frame, it's repeating whole frame.
It's working properly in 2.5.4 version.

Thank you.

[2018-08-07 14:18] fb64 opened #873 "this method should be protected or public to be overridden in subclass"
https://github.com/airbnb/lottie-android/blob/f675a5575db138e759f09e71806d1a913539ecd0/lottie/src/main/java/com/airbnb/lottie/TextDelegate.java#L47

[2018-08-07 20:24] stanbar opened #874 "LottieToggleView implementation ?"
Hello,
Since I don't like to reinvent wheel, is there any ToggleView implementation for LottieAnimationView ? Uncheck could be reverse animation, or even better custom check and uncheck animation. I think it's quite common for "Like" button

[2018-08-07 21:22] #874 closed, assigned to nobody

[2018-08-07 22:37] eygraber commented on #835
Can this please be released? Devices on Android P crash on versions less than 2.5.6, and 2.5.6 doesn't build if minSdk is lower than 24 (because of Java 8 changes).

[2018-08-08 00:59] minudf commented on #872
@gpeal You can use any JSON file for this case.
And code is very simple.
   animationView.setMinAndMaxFrame(50, 100);
   animationView.setRepeatCount(-1);
   animationView.playAnimation();
Thank you.

[2018-08-08 04:36] sriranjanr opened #875 "How do we interact with animations in lottie?"
I came across lottie and lottie just blew my mind away. Such fast and nice animations we can do in android now with lottie but one question has been troubling my mind since yesterday and I was unable to sleep. My question is how can we make interactive animations like the bulls eye example in lottie app? How can we interact with the elements in animation or part of the animation using lottie? I wa

[2018-08-08 05:46] gpeal commented on #875
Glad you're excited for Lottie 😄
[Here](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/BullseyeActivity.kt) is the code for the bullseye demo!

[2018-08-08 05:46] #875 closed

[2018-08-08 05:58] sriranjanr commented on #875
So what you are saying is this bulleye demo has got nothing to do with adobe after effects animation? How do I create an animated button (animation done in after effects,imported by lottie to android) and interact with it? Please let me know.

[2018-08-08 06:01] sriranjanr opened #876 "How do I create an animated button in lottie?"
How do I create an animated button in lottie? Are there example codes and tutorials for this? What I want to do is create the button animation in after effects but when I import with lottie in android, I want to interact with it. Like I click on the button, it should play the button animation and also it should run a subtask, or another function in android. Please let me know.

[2018-08-08 08:32] panzhi1 opened #878 "text animation add textview"
can i add a textview to LottieAnimationView  Similar to ios?

[2018-08-08 13:28] islamassi opened #879 "Listen to layer (object) position"
Is there any way to listen to an object position that is part of the lottie animation? I can change its position by applying a value callback to its keypath. What I need is to listen to its position without modifying it.

If not, will you handle it in future releases?

I tried to use LottieValueCallback to get the position:

[code]

The problem is that `super.getValue(frameInfo)`  always  returns

[2018-08-08 14:53] gpeal commented on #879
@islamassi Can you attach a sample project that reproduces this?

[2018-08-08 14:55] gpeal commented on #878
No, Lottie is rendered inside of a drawable. You could add a LottieDrawable to a TextView though or a [DynamicDrawableSpan](https://developer.android.com/reference/android/text/style/DynamicDrawableSpan).

[2018-08-08 14:55] #878 closed

[2018-08-08 14:56] gpeal commented on #876
Hi @sriranjanr you can use standard APIs like `playAnimation()` and `reverseAnimationSpeed()` to achieve this.

And use LottieDrawable instead of LottieAnimationView.

[2018-08-08 14:56] #876 closed

[2018-08-08 14:58] gpeal commented on #873
That's actually not how the API works. There is [an example](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/DynamicTextActivity.kt) in the sample app.

The input text is the text in the original animation. The output text is what it should be replaced with.

[2018-08-08 14:58] #873 closed

[2018-08-08 15:43] fb64 commented on #873
Ok, thanks.
Class comment misled me:
[code]

[2018-08-08 16:58] islamassi commented on #879
[LottieSample.zip](https://github.com/airbnb/lottie-android/files/2271097/LottieSample.zip)

I attached a sample project contains the code and the json file. I tried to use different json files but still getting `super.getValue(frameInfo)` null.

[2018-08-08 18:02] sriranjanr opened #880 "How can the animation itself in its whole be a button or a part of it"
I understand that adobe effects will help with creating the animation. But my question is how can the animation that is **imported from after effects** itself be a button or some elements of the animation be a button? How to implement this. Any example code would help.

[2018-08-09 17:43] eygraber opened #882 "Stuck with a bad Lottie version"
I use Lottie version 2.5.5 in my app. I recently started targeting API 28, and [Lottie crashes](https://github.com/airbnb/lottie-android/issues/747) on devices running P. This was fixed in Lottie version 2.5.6, but that also introduced a change that [requires mindSdk >= 24](https://github.com/airbnb/lottie-android/issues/822) which I don't have, and so I can't build my app if I'm using Lottie 2.5.

[2018-08-10 05:39] kofboy2000 commented on #882
I have a same issue on P OS. May I know release(registration) schedule of 2.5.7 on Maven?

[2018-08-10 08:06] panzhi1 commented on #878
thank you

[2018-08-10 09:06] panzhi1 opened #883 "How to intercept each frame of the animation"
I need intercept each frame of the animation,how can i do?
I try to animationView.draw(canvas),but it occasionally cause memory problem.
such as Fatal signal 11 (SIGSEGV), code 1, fault addr 0x18 in tid 5839.how can i do ?thank you

[2018-08-10 09:09] panzhi1 commented on #883
Only slightly more complicated text type animations will happen

[2018-08-10 11:04] webyouling opened #884 "How to animate adaptive control size and default display animated images"

[2018-08-10 11:07] webyouling opened #885 "动画图片资源如何实现根据不同分辨率加载不同的资源文件"

[2018-08-10 14:50] jacek-marchwicki commented on #882
You can use the version from jitpack: https://jitpack.io/#airbnb/lottie-android/v2.5.7

[2018-08-11 10:49] myfknoll opened #886 "Android 9 Crash"
Androdi App Targeting API 28 crashes with following message:

08-11 12:43:36.130 21615-21615/my.package E/AndroidRuntime: FATAL EXCEPTION: main
    Process: my.package, PID: 21615
    java.lang.IllegalArgumentException: Invalid Layer Save Flag - only ALL_SAVE_FLAGS is allowed
        at android.graphics.Canvas.checkValidSaveFlags(Canvas.java:378)
        at android.graphics.Canvas.saveLayer(Canvas

[2018-08-11 10:53] myfknoll commented on #886
Ok must be some kind of duplicate of
https://github.com/airbnb/lottie-android/issues/802

[2018-08-11 10:53] #886 closed

[2018-08-11 17:16] Goudri commented on #870
nothing, still the same prblm.

[2018-08-11 17:58] sriranjanr commented on #880
Guys...any idea on how to achieve this. I want to start my development with lottie. Please share some ideas on this.

[2018-08-11 19:34] gpeal commented on #880
There is an entire [sample app](https://github.com/airbnb/lottie-android/tree/master/LottieSample) in the repo and a site with lots of documentation [here](http://airbnb.io/lottie/).

[2018-08-11 19:34] #880 closed

[2018-08-11 19:34] gpeal commented on #870
@Goudri This is unlikely a Lottie issue since it's just a Drawable and doesn't do anything pertaining to layout. If you can create a sample project that repros this, please attach it as a zip file and reopen.

[2018-08-11 19:34] #870 closed

[2018-08-11 19:38] #885 closed

[2018-08-11 19:38] #884 closed

[2018-08-11 20:58] gpeal commented on #883
You can use the dynamic properties API
http://airbnb.io/lottie/android/dynamic.html

[2018-08-11 20:58] #883 closed

[2018-08-11 22:16] krishom commented on #872
I experienced the same problem with 2.5.5 on Android only. iOS plays the specified frames correctly.

Downgrading to 2.5.4 in my build.gradle with the resolutionStrategy below makes it work again on Android.

subprojects { subproject ->
    configurations.all {
        resolutionStrategy {
            force 'com.airbnb.android:lottie:2.5.4'
        }
    }
}

[2018-08-12 15:46] panzhi1 commented on #883
Thank you! But this doesn't seem to solve my problem.how can i do ?

[2018-08-12 15:49] panzhi1 commented on #883
I try it in lottie 2.5.5 .but the valuecallback without effect.please you help me!

[2018-08-13 00:37] #872 closed

[2018-08-13 00:37] gpeal opened #888 "Expose url APIs to LottieDrawable and LottieAnimationView"

[2018-08-13 01:07] gpeal opened #889 "Make cache size configurable"

[2018-08-13 02:10] webyouling opened #890 "Fixed the width and height of the LottieAnimationView. The animation display is incomplete."
My layout is like this
<com.airbnb.lottie.LottieAnimationView
        android:layout_below="@+id/iv_refresh_header"
        android:id="@+id/lottieAnimationView"
        android:layout_width="@dimen/dp_50"
        android:layout_height="@dimen/dp_50"
        android:scaleType="centerCrop"
        android:layout_centerHorizontal="true"
        app:lottie_cacheStrategy="strong"
        app:lottie_re

[2018-08-13 03:04] gpeal commented on #890
Use `centerInside`. If that doesn't resolve it. Attach a sample project that repros this.

[2018-08-13 03:04] #890 closed

[2018-08-13 03:04] gpeal commented on #882
I just released 2.6.0-rc2

[2018-08-13 03:04] #882 closed

[2018-08-13 03:57] prasadsunny1 opened #891 "Is there a ways to insert data into animations made by lottie."
Like an animated barchart that animates to show given data.

[2018-08-13 06:58] panzhi1 opened #892 "Text Layer can not use dynamic properties?"
I try add a colorfilter properties to text layer,but it is invalid.
 sticker.getAnimationView().addValueCallback(keyPaths.get(0), LottieProperty.COLOR_FILTER, new LottieValueCallback(colorFilter);
the keyPaths.get(0) is a text layer.

[2018-08-13 09:45] StefMa opened #893 "[Feature Request] Support sub dirs in assets"
I would like to see support for sub-dirs in the assets directory.

Currently I have multiple *.json files in the assets.
Eg.
[code]

It would be cool if I can group them in the following way:
[code]

I know I could move the *.json files into the `res/raw` dir and modify the `raw` dir with some Gradle scripting. But at the end I want to have an easy to use lottie and I think it would be totally eas

[2018-08-13 12:27] StefMa commented on #893
Well.
Since Lottie uses only [`AssetManager.open(String)`](https://developer.android.com/reference/android/content/res/AssetManager.html#open(java.lang.String,%20int)) it is possible to have sub dirs in assets 🤦‍♂️ 🙃

https://github.com/airbnb/lottie-android/blob/6e0b13adcbb3dac5ddc720a0cbfa354d7f30d4a5/lottie/src/main/java/com/airbnb/lottie/LottieCompositionFactory.java#L98

[2018-08-13 12:27] #893 closed

[2018-08-13 17:00] gpeal commented on #892
Text does not support color filters. I would accept a pull request for this though.

[2018-08-13 17:00] #892 closed

[2018-08-13 17:02] gpeal commented on #891
You can use the [dynamic properties API](http://airbnb.io/lottie/android/dynamic.html) to change the scaleY of a rectangle.

[2018-08-13 17:02] #891 closed

[2018-08-13 17:02] gpeal opened #894 "Add value callbacks for RectangleContent"

[2018-08-14 00:59] #888 closed

[2018-08-14 01:00] Daeho-Song opened #895 "I want to display only 1 frame."
Hello.

I have a question.
I want to display only 1 frame(for still image)
Should I set LottieDrawable.Frame value?
Could you provide sample code?

Thanks.

[2018-08-14 01:57] gpeal commented on #895
Yup, just call `setFrame(...)`

[2018-08-14 01:57] #895 closed

[2018-08-14 12:40] ArtisanM opened #896 "text deformation in bitmap"
this is my origin bitmap provided by ImageAssetDelegate
my debug screenshot:
[http://7xt2sn.com1.z0.glb.clouddn.com/1.jpg](url)
text in bitmap is normal,but after canvas.drawBitmap(bitmap, src, dst , paint); excuted
the text  transformed
debug screenshot:[http://7xt2sn.com1.z0.glb.clouddn.com/2.jpg](url)

why?how can i fix it

[2018-08-14 21:05] Jcongdon91 opened #897 "Animation stays in final state in Android, works fine on iOS and web"
The animation stays in its final state, but “animates” for the time set in the duration (verified in Android Lottie Preview app).  No warnings are provided in the Preview app. It works perfectly fine in iOS and on web.

[hired.json.zip](https://github.com/airbnb/lottie-android/files/2288478/hired.json.zip)

After Effects file:
[hired.zip](https://github.com/airbnb/lottie-android/files/2288499/hire

[2018-08-15 08:28] mehhrad opened #898 "is it possible to use lottie with androidx support library ?"
i use androidx support library and this is my app build.gradle:

`apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "me.semycolon.infotorbat"
        minSdkVersion 19
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
        testInst

[2018-08-15 11:40] AndroidDeveloperLB opened #899 "Question: is it possible to show Lottie animation in live wallpaper?"
If so, what's the best way to do it?

[2018-08-16 08:09] D4rkness commented on #793
How have you solved the problem, because i'm can't work it out ?

[2018-08-16 16:55] gpeal commented on #898
Yes, I'll do an androidx migration soon.

[2018-08-16 16:55] gpeal commented on #898
I'll release 2.6.0 without it and 3.0.0 with it

[2018-08-16 16:55] gpeal commented on #899
I have never used a live wallpaper. Lottie is just a drawable so you should be able to use it anywhere you can use a drawable.

[2018-08-16 16:55] #899 closed

[2018-08-16 16:57] AndroidDeveloperLB commented on #899
Why close the issue?
Can a drawable really be used in a live wallpaper ? Can you please show how?

[2018-08-17 08:46] kenneth2008 opened #900 "[Bug]When application closed, open again will crash"
The application start like this:
SplashScreenActivity-> LoginActivity(Animation in this activity)

Dismiss the application at LoginActivity can reproduce the problem.
- the application must dismiss by Activity.finish( ) command
- it will not happened if dismiss at Register page or others
- it will not happened if clean every thing on Android application manager

json file:
`{"v":"5.1.20","fr":24,"

[2018-08-17 09:51] Mikerr1111 commented on #897
What version of Android and Gradle are you running?

[2018-08-17 20:07] AndroidDeveloperLB commented on #899
I don't see that drawing a Drawable is mentioned there. Are you sure they talk about it?

[2018-08-20 06:39] kenneth2008 commented on #900
[code]
Above is how I setup in activity

[code]
In XML file

Besides, my assets has a file names login_bg_v2.json,  and directory images.
![test](https://user-images.githubusercontent.com/5935483/44324021-c60b4380-a486-11e8-838e-f2de1a78f1ba.png)

[2018-08-20 08:01] alexhorsa commented on #444
How would you implement touchable support?

I imagine there will be a way to set a layer as touchable and then compare the touch point with layer's bounds?

[2018-08-20 14:42] Jcongdon91 commented on #897
API 27 & 28 and Gradle 4.9. The animation also didn't work in the Lottie Preview app on API 28

[2018-08-20 23:22] sharonyu822 opened #901 "3D Layers and trim paths not exporting"
Hi,
I'm having trouble with exporting strokes and getting recognition of 3d layers on this file.. It works fine on the Lottie's web preview but on Android it shows up as 2d layers and without a stroke. The trim paths seem to not be working as well.

[ANIMATE.aep.zip](https://github.com/airbnb/lottie-android/files/2304132/ANIMATE.aep.zip)

[2018-08-21 07:11] vivekjha1990 commented on #900
We are getting the same crash on a lottie containing only shape layers.

[2018-08-21 15:06] nima-ahmadi opened #902 "Animations with transparency transitions are rendered differently in Android"
In a transparency transition (like a fade-out), Android seems to be adding up the overlapping layers (in the same group) while it is not happening in iOS/web. I think the iOS/web behaviour in expected.

[files.zip](https://github.com/airbnb/lottie-android/files/2306869/test.for.lottie.zip)

![lottie](https://user-images.githubusercontent.com/5301577/44410219-f2c86500-a531-11e8-8598-56551c82caa4.pn

[2018-08-21 15:06] riclage opened #903 "Regression from version 2.5.5 to 2.5.6: Wrong animation for KitKat devices"
I recently upgraded to version 2.5.6 and the animation partially "broke" on KitKat devices. It doesn't show the gradient background.

[2018-08-21 15:08] riclage commented on #903
Closing as the console message was unrelated to the problem. Will try to setup a reproduction sample and open a new issue.

[2018-08-21 15:08] #903 closed

[2018-08-21 17:26] gpeal commented on #444
@alexhorsa Yes, it would have to do some math to find the KeyPaths being touched. This hasn't been prioritized though.

[2018-08-21 17:27] gpeal commented on #902
This is a limitation of the way opacity works on Android. To achieve the correct behavior would incur a huge performance penalty unfortunately.

[2018-08-21 17:27] #902 closed

[2018-08-22 11:04] alexhorsa commented on #444
@gpeal I am new to the library, which are the position properties for KeyPaths?

[2018-08-22 16:53] gpeal commented on #444
@alexhorsa http://airbnb.io/lottie/android/dynamic.html

[2018-08-23 00:58] daniel0x7CC opened #904 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.graphics.Bitmap.recycle()' on a null object reference"
[code]
Keep in mind that: **animationdog** is the lottieview
I am getting an error on lottie when I start a new Intent:

 java.lang.NullPointerException: Attempt to invoke virtual method 'void android.graphics.Bitmap.recycle()' on a null object reference
        at com.airbnb.lottie.b.b.a(ImageAssetManager.java:125)
        at com.airbnb.lottie.f.c(LottieDrawable.java:185)
        at com.airbnb.lo

[2018-08-23 06:14] zhaoqianglulu commented on #389
这个问题在后面的2.5.5版本上有修改吗？目前使用还是会报错上述错误啊

[2018-08-23 07:59] lsp9876 commented on #586
@gpeal i use 'com.airbnb.android:lottie:2.6.0-beta19',and it reproduce

[2018-08-23 11:20] D4rkness opened #905 "Dynamic Propperties for Gradient Strokes"
Hello I tried to change the color for gradient stroke but it didn't work. So  i was going trough the documentation and couldn't find any reference.

So is there a possible way to change the color of a gradient stroke or is there any plan for later implementation ?

[2018-08-23 14:09] azharrafiq opened #906 "Error when using > 50kb json file."
The only different between the files that error or not is that the error one have json file size > 50kb. I don't think the size is problem, but it is in my case. please help, thank you,.

[error.zip](https://github.com/airbnb/lottie-android/files/2314801/error.zip)

[code]

[2018-08-24 00:27] ngsilverman opened #907 "The LottieTask EXECUTOR is final and can't be changed"
See https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieTask.java#L34, the documentation implies that the `EXECUTOR` should be modifiable but it is `final`.

[2018-08-24 11:49] D4rkness opened #908 "Textfield not shown right in Android"
There is a kind of strange issue with the Textfield.

When exporting centered text from after effects, it is displayed left aligned in android. It is also positioned with an offset to the right (half of the width of the textfield to the right).
But in the preview it looks totally fine.

Here the AE and the json files:
[sample_datar.zip](https://github.com/airbnb/lottie-android/files/2318175/sample

[2018-08-24 17:16] gpeal commented on #904
Duplicate of #586

[2018-08-24 17:16] #904 closed

[2018-08-24 17:48] evant opened #909 "Extract resource loading/caching logic out of LottieAnimationView"
There are cases where you want to use the `LottieDrawable` directly in a custom view instead of using a `LottieAnimationView`. To make this easier, it would be nice if the resource loading and caching logic can be reused. This would also allow a single cache to be shared between both.

Haven't thought about the api much, but something like:
[code]

[2018-08-24 18:15] evant commented on #909
Actually, seems like this might be in `2.6.0` with `LottieCompositionFactory`, is this going to be released soon?

[2018-08-26 19:54] daniel0x7CC commented on #586
where do I call the recycleBitmaps() method?

[code]

[2018-08-27 05:59] hitesh-dhamshaniya commented on #898
Have you released 2.6.0 with an androidx support?

[2018-08-27 06:54] martin25tung commented on #900
I have the same problem.
when I open activity again
it always crash like this

java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.Bitmap com.airbnb.lottie.LottieImageAsset.getBitmap()' on a null object reference
        at com.airbnb.lottie.manager.ImageAssetManager.bitmapForId(ImageAssetManager.java:69)
        at com.airbnb.lottie.LottieDrawable.getImageAsset(Lott

[2018-08-27 19:11] ghost1372 opened #910 "unicode support"
please add unicode support specialy RTL Language

[2018-08-29 11:05] janehoo commented on #900
I have the same problem.
when I open activity first,
everything is ok.
but When I click the back button,
then, it will crash when I enter again.

java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.Bitmap com.airbnb.lottie.LottieImageAsset.getBitmap()' on a null object reference

[2018-08-29 13:19] panzhi1 opened #911 "About text animation rotation problem"
The text animation rotation point is in the upper left corner, and the original animation rotation center is in the animation center. How to solve it?
Or someone can tell me the key corresponding to the rotation point in the json file exported in bodymoving

[2018-08-29 14:31] gpeal commented on #909
Yes, very soon! 2.6.0-beta19 is already on maven.

[2018-08-29 14:31] #909 closed

[2018-08-29 15:20] gpeal commented on #901
Lottie doesn't support 3d layers. If you're having issues with trim paths on 2d layers, you can reopen.

[2018-08-29 15:20] #901 closed

[2018-08-29 15:21] gpeal commented on #908
(closing duplicate)

[2018-08-29 15:21] #908 closed

[2018-08-29 15:21] gpeal commented on #911
The anchor point is what you want.

[2018-08-29 15:21] #911 closed

[2018-08-30 09:17] panzhi1 commented on #911
is the TRANSFORM_ANCHOR_POINT?

[2018-08-30 16:35] #586 closed

[2018-08-31 05:48] ValuesFeng opened #913 "java.lang.AssertionError"
java.lang.RuntimeException:An error occurred while executing doInBackground()
--
2 android.os.AsyncTask$3.done(AsyncTask.java:353)
3 ......
4 Caused by:
5 java.lang.AssertionError:
6 android.util.JsonReader.peek(JsonReader.java:363)
7 android.util.JsonReader.expect(JsonReader.java:308)
8 android.util.JsonReader.beginObject(JsonReader.java:293)
9 com.airbnb.lottie.d.u.a(LottieCompositionParser.java

[2018-08-31 05:53] panzhi1 opened #914 "modify TextAnimation anchor point."
hello ,I need modify textAnimation anchor point .please tell me how to modify it?
I use Dynamic Properties .but no effect.
`InputStream is = new ByteArrayInputStream(displayAnimation.getBytes());
        LottieComposition.Factory.fromInputStream(is, new OnCompositionLoadedListener() {
            @Override public void onCompositionLoaded(@Nullable LottieComposition composition) {
                i

[2018-08-31 06:53] zijing07 commented on #314
Not working for me either. version 2.5.4. Code:

[code]

When I reach the code for the second time, the `Completable` directly emits `onComplete`.

[2018-08-31 09:18] panzhi1 commented on #914
And  how do I know the type of text animation that lottie supports now?please tell me,thank you.

[2018-08-31 10:16] Anthony-Reboul commented on #898
No they haven't. @gpeal would it be possible to release 3.0.0 beta version at the same time as the 2.6.0 beta version ?

[2018-09-01 15:33] gpeal commented on #913
@ValuesFeng Please attach the crashing animation.

[2018-09-02 23:50] #907 closed

[2018-09-03 05:53] panzhi1 commented on #481
Is there a solution to this problem?

[2018-09-03 08:33] panzhi1 opened #918 "lottie replace the image in animation"
Can lottie dynamically replace the images in the animation with local images or bitmaps?
I try use the image in assets replace animation's image,it is effective.now I want use local image ,how i can do?thank you

[2018-09-03 23:53] gpeal commented on #918
Use [ImageAssetDelegate](http://airbnb.io/lottie/android/images.html#providing-your-own-images)

[2018-09-03 23:53] #918 closed

[2018-09-03 23:53] #913 closed

[2018-09-04 00:04] gpeal commented on #733
@maxbaldrighi @scott-u-texas You can create a minimal-repro animation (ie delete extra layers and simplify shapes) to repro it without uploading your animation

[2018-09-04 07:20] hejiaun opened #922 "Influency in recyclerView"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-09-04 16:43] bmc08gt opened #925 "CompositionLayer is using Canvas#clipRect with invalid Region.Op on Android Pie"
Fatal Exception: java.lang.IllegalArgumentException: Invalid Region.Op - only INTERSECT and DIFFERENCE are allowed
       at android.graphics.Canvas.checkValidClipOp(Canvas.java:779)
       at android.graphics.Canvas.clipRect(Canvas.java:826)
       at com.airbnb.lottie.CompositionLayer.drawLayer(CompositionLayer.java:91)
       at com.airbnb.lottie.BaseLayer.draw(BaseLayer.java:175)
       at com

[2018-09-04 19:37] SeekerG95 commented on #925
I was having the same problem, but I was using a older version of the library, 2.0.0-rc1, when I updated to 2.6.0 I started to have the problem below:

java.lang.NullPointerException: Attempt to read from field 'int android.graphics.Path$FillType.nativeInt' on a null object reference
at android.graphics.Path.setFillType(Path.java:268)
at com.airbnb.lottie.animation.content.GradientFillContent.<ini

[2018-09-05 02:00] gpeal commented on #925
@bmc08gt @SeekerG95 Can you attach crashing animations?

[2018-09-05 02:00] #922 closed

[2018-09-05 02:05] hejiaun commented on #922
i code autoPlay="true" in xml,the problem has been sovled.

[2018-09-05 12:29] panzhi1 opened #927 "can lottie support for identifying text line breaks"
There are two lines of text in the ae text animation, but only one line is displayed on the lottie side, and the & character is not recognized.please tell me how to solve this problem?

[2018-09-05 12:59] gpeal commented on #927
Lottie's text support is *very* limited. Could you attach a failing animation for testing if support is added?

[2018-09-05 13:45] SeekerG95 commented on #925
@gpeal the app crashes and restart before the animation is show in the screen.
Below i took a few screenshots, the problem seems to be in "fill.getFillType()" where "fillType" is null

airbnb/lottie/model/content/GradientFill.java
<img width="574" alt="image_03" src="https://user-images.githubusercontent.com/42980433/45096876-ecbcb180-b0f7-11e8-8994-a2ca1dc77529.png">

airbnb/lottie/animation/cont

[2018-09-05 14:21] dlamande opened #929 "Mistakes in documentation for Dynamic"
http://airbnb.io/lottie/android/dynamic.html

In the code sample of this documentation you have to replace `LottieProperty.COLOR_FILTER` by `LottieProperty.COLOR`

Cheers.

[2018-09-05 15:05] gpeal commented on #925
@SeekerG95 Please attach an animation that repros this.

[2018-09-05 15:19] gpeal commented on #929
Fixed. Thanks!

[2018-09-05 15:19] #929 closed

[2018-09-05 18:15] elihart opened #930 "Threading issue in LottieTask"
Crash
[code]

Looks like on a single thread this can't happen as the thread is checked for null a few lines before:
https://github.com/airbnb/lottie-android/blame/master/lottie/src/main/java/com/airbnb/lottie/LottieTask.java#L216

So it seems that access to the thread isn't properly synchronized

[2018-09-05 18:27] dinorahtovar commented on #900
Hello, one question, Is this bug solved and merged? We are still facing this over DialogFragments
Using:
`
    implementation 'com.airbnb.android:lottie:2.6.0-beta19'
`

Every time we try to open the same dialog from a RecyclerView it crash

[2018-09-05 20:52] SeekerG95 commented on #925
@gpeal you're talking about the json file of the animation, right? Unfortunately I wasn't authorized by my company to share files of the project, I know that this does not make your life easy to help us and I'm sorry for this. But i found the error and I will try my best to explain it.

In GradientFileParser.Java there is a static method called "parse", in this method there is a switch that sets f

[2018-09-05 21:25] dinorahtovar opened #931 "DialogFragment crash when we reopen the view"
This bug was closed, here: [Bug #900]( https://github.com/airbnb/lottie-android/issues/900)
But is still happening on the version:

`implementation 'com.airbnb.android:lottie:2.6.0-beta19'`

This is the log from Android Studio

`java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.Bitmap com.airbnb.lottie.LottieImageAsset.getBitmap()' on a null object reference

[2018-09-05 23:02] nehagr opened #932 "airbnb:lottie:2.6.0 doesn't work for android"
The latest version of airbnb:lottie:2.6.0 doest work in Android,

I have the images and json file in my assets
My XML file includes
[code]

when I load the screen for very 1st time , the animations show up and when go to background and open the screen again , I cannot see any animations on the screen
It is just blank .
 I had to Ignore MissingRegistered because for some strange reason Lint is unab

[2018-09-06 00:12] gpeal commented on #932
@nehagr Did this happen with an older version of Lottie?

[2018-09-06 00:18] gpeal commented on #930
Thanks! I'll publish a dot update

[2018-09-06 00:26] gpeal commented on #931
This is fixed in 2.6.0

[2018-09-06 00:26] #931 closed

[2018-09-06 00:26] gpeal commented on #932
This behavior works fine in the Lottie sample app for what it's worth.

[2018-09-06 01:17] panzhi1 commented on #927
[合成1.zip](https://github.com/airbnb/lottie-android/files/2355112/1.zip)
ok.

[2018-09-06 13:23] NithinJohn opened #936 "Aapt2Exception in android 3.2.0 with lottie:2.6.0"
Implemented app bundle in the app, and com.airbnb.lottie.LottieAnimationView is using attr name="animationDirection" which is the same name used by android lib. Since its having the same name its throwing crash in 3.2.0. Below is the crash logs.

For the fix, need to rename the attr name "animationDirection".

=====================
Caused by: org.gradle.internal.UncheckedException: java.util.concu

[2018-09-06 13:57] kakinIA opened #937 "IllegalStateException("A task may only be set once.")"
i used the lottie animation in recyclerview. However,there was a crash "A task may only be set once" happened in sometime.I wanted to know the situation about it. When is the LottieTask#result not null but execute "startTaskObserverIfNeeded()" ?

here is the layout
[code]
and i just use custom animator when i click the view, like this
[code]
at the same time, set the progress according to the stat

[2018-09-06 14:21] gpeal commented on #937
@kakinIA Please attach the full stacktrace

[2018-09-06 14:22] gpeal commented on #936
`animationDirection` isn't part of lottie.

[2018-09-06 14:22] #936 closed

[2018-09-06 15:47] kakinIA commented on #937
@gpeal

[code]

[2018-09-06 15:51] gpeal commented on #937
@kakinIA That's not helpful. Can you provide one with an unobfuscated stack trace?

[2018-09-06 16:05] kakinIA commented on #937
i'm sorry, because the version is release and catch the stack trace in tencent bugly which is statistics exception platform.
[code]

[2018-09-06 16:10] gpeal commented on #937
@kakinIA I've  added some additional protection against this in https://github.com/airbnb/lottie-android/pull/933

I'll release 2.6.1 today

[2018-09-06 16:32] #930 closed

[2018-09-06 16:33] #937 closed

[2018-09-06 16:33] gpeal commented on #937
Fixed by #933

[2018-09-06 17:01] nehagr commented on #932
no , the version 2.5.5 works fine , and 2.6.0 doesn't work on android

[2018-09-06 17:01] nehagr commented on #932
@gpeal

[2018-09-06 18:05] gpeal commented on #932
I'm pretty sure this should be fixed by https://github.com/airbnb/lottie-android/commit/604299aa4f15a191cc7f8247dfd0724d8324aed0

Can you try 2.6.1?

[2018-09-06 18:05] #932 closed

[2018-09-06 18:06] gpeal commented on #925
@SeekerG95 Can you attach an aep file that reproduces this? It doesn't have to be the full animation. Delete all other layers and everything other than the gradient fill and a rectangle or some simple shape.

[2018-09-07 15:02] miguelnserra commented on #606
Same problem here. I usually use the pathfinder in Illustrator so separate the shapes or do it manually in After Effects.

[2018-09-07 16:52] nehagr commented on #932
@gpeal 2.6.1 works
Thank you

[2018-09-07 23:01] azchohfi commented on #397
This JSON is not even working anymore. That's because on your file, "sw" is 0.00999999977648 but we are reading it as an int. @gpeal Should this be read as a double? The only usage of this variable is already being multiplied by the scale so it is returning a float anyway.

[2018-09-08 10:04] chinahyong opened #939 "Lottie can't fill the screen"
data.Json sets the width and height to 1080 * 1920, but there are borders on the left and right sides of the screen. What should I do?

[2018-09-10 20:50] Thisisgodzilla opened #941 "Lottie and Android battery saver mode"
Would a phone in battery saver mode prevent lottie animations from playing in android apps?
If so, what is the prefered implementation method to circumvent this?
Fallback to .svg? ability to display static lottie?

[2018-09-11 07:07] panzhi1 opened #942 "setFontAssetDelegate didn't work"
I try use setFontAssetDelegate  modify animation's font,but it doesn't work.
` mAnimationView.setFontAssetDelegate(new FontAssetDelegate(){
                            @Override
                            public Typeface fetchFont(String fontFamily) {
                                return TypefaceCache.getInstance().getFont(fontname);
                            }
                        });`
ho

[2018-09-11 07:16] #942 closed

[2018-09-12 17:50] ngsilverman opened #943 "LottieTask.EXECUTOR isn't static"
@gpeal following up on #907, is `LottieTask.EXECUTOR` meant to be static as well?

[2018-09-13 07:21] alloflow opened #944 "Distortion only on Android"
Hi there,

before anything, thanks for sharing this incredible library ! It's just awesome for a designer like me to be able to create animations like that without any line of code !

Here is my problem: I created a simple scene where i just use scale, translate, rotation and opacity. Everything works fine on AE and on web version. But when it comes on Android, i got a strange distortion. I assume

[2018-09-13 13:35] softcrafter commented on #759
@gpeal, I found out the strange thing about this bug, so it only reproduces when you convert the animation string to JSONObject and convert it back:
[code]

The UI component that I provide gets the animation as in a JSONObject and when I convert the json back to a string the order of the fields are not the same? Is the order important ?

Thanks,
Cristian

[2018-09-13 13:44] softcrafter commented on #759
PS. The order is only messed up on devices using API <=19

[2018-09-13 14:13] softcrafter commented on #759
P.S. 2:
Looked into the code and tried to see what is wrong. So after converting to json and back this element looks like this:
Before
[code]
After
[code]

What is important here is the position of the "ty": "st" because all the fields before that element will be lost (This is how the algorithm work from ShapeStrokeParser). This is why the width is not set and NPE is happening.

[2018-09-13 15:01] JosueB opened #945 "Updating Textview during animation?"
Hello,

I was wondering if there's a way to update a textview during an animation.
My team and I are creating a tutorial guide where we would like to update the content
of a textview at a given time when the animation is played.

 Ei: at x seconds of the animation being played, change the text to "Well done!" etc

[2018-09-13 18:54] MONIKA-KUMAR-JETHANI commented on #945
@gpeal  Can I work on this?

[2018-09-13 18:54] MONIKA-KUMAR-JETHANI commented on #944
@gpeal Can I work on this?

[2018-09-13 18:55] MONIKA-KUMAR-JETHANI commented on #941
@gpeal Can I work on this?

[2018-09-13 21:53] gpeal commented on #944
@alloflow Hah, sure looks funky. Can you attach the aep? Even better would be a minimal aep that reproduces just this.

@MONIKA-KUMAR-JETHANI Sure, if you would like.

[2018-09-13 22:01] alloflow commented on #944
@gpeal @MONIKA-KUMAR-JETHANI Here is the .aep file (that's actually the same scene) : https://www.dropbox.com/s/ap5ut9oaxdesmsw/loader.aep?dl=0

Thanks for your feedback, i really appreciate it

[2018-09-14 05:20] zjupure opened #947 "Lottie animation still plays and wastes cpu when the view becomes invisible"
Use LottieImageView to play lottie animation and set it invisible or gone, the animation will not auto stop according to the view state. I must call stop by myself everywhere it was used.

I think the `LottieAnimationView` should override the `onVisibilityChanged` to start or stop the animation automatically.

[2018-09-14 10:00] silviugeorgian77 commented on #879
After much much research I have reached to this code.
Essentially, you have to insert that frameInfo that you receive in the callback inside LottieRelativePointValueCallback which actually does the computation of the animated value, given the startValue, endValue and current animation time.

`lottieAnimationView.addValueCallback(
                                                    resolvedKeyPath,

[2018-09-14 10:06] silviugeorgian77 commented on #879
Anyway, the above approach does not give us correct positions for nested layers. Inside the Java library, what are the positions received in the callback relative to?

[2018-09-14 12:35] rogererill commented on #731
For further reference if someday someone has this issue again: https://engineering.21buttons.com/how-to-generate-videos-using-lottie-in-android-2db6ecceb2a

[2018-09-14 14:45] matheuaviczki opened #948 "Have Androix Support ?"
Do you have any predictions on when Androidx will be supported? If it is already available, could it show the settings?

[2018-09-15 17:28] jaykapoor24 opened #949 "Red dot issue"
I don't what I am doing wrong but there is a red glitch in the android render wheras it looks fine in after effects lottie player.

AE FILE https://www.dropbox.com/s/44lfxa5j1msdbln/11%20-%20Tag.aep?dl=0

JSON FILE:https://www.dropbox.com/s/kkthre3mprz7pza/data.json?dl=0

![image](https://user-images.githubusercontent.com/11388709/45588937-c8a07200-b93a-11e8-9cd6-7f0a375a276b.png)

[2018-09-15 20:08] gpeal commented on #947
This seems reasonable but I am hesitant to change the existing behavior because people use Lottie all sorts of ways and this could break their assumptions. It is easy enough to override this for your own project though.

[2018-09-15 20:08] #947 closed

[2018-09-16 13:24] pedroRelvas opened #950 ""Could not get unknown property 'lottieVersion'""
Hi!

When I try to implement the dependency the follow error occurs:
**"Could not get unknown property 'lottieVersion' for DefaultConfig_Decorated{name=main, dimension=null, minSdkVersion=DefaultApiVersion{mApiLevel=22, mCodename='null'}, targetSdkVersion=DefaultApiVersion{mApiLevel=28, mCodename='null'}, renderscriptTargetApi=null, renderscriptSupportModeEnabled=null, renderscriptSupportModeBlasE

[2018-09-17 02:05] yanxinmiao commented on #939
Do you set the screen full ? if no , please try

[2018-09-17 15:27] alexhorsa commented on #945
Here is how you can listen to the animation progress
[code]

[2018-09-18 08:53] alexhorsa commented on #945
@JosueB Yes, use these methods from **LottieAnimationView** or **LottieDrawable** to play a part of the animation

`setMinAndMaxFrame(int minFrame, int maxFrame);`

or specify a progress from 0.0 to 1.0

[code]

[2018-09-18 09:44] OleksandrKucherenko opened #951 "layerName can be NULL"
https://github.com/airbnb/lottie-android/blob/c567cbb970b747ce29a8f46ca115934a4a2aa9e3/lottie/src/main/java/com/airbnb/lottie/parser/LayerParser.java#L216

Example of the animated icon that make a problem for parser:
[code]

exception callstack:
[code]

[2018-09-18 16:42] JosueB commented on #945
@alexhorsa Thansk for the help! Min and max have been working for me. I do have a JSON file that references images in the assets folder. Is there a way to programmatically choose the start progress based on the change of images from the json file?

[2018-09-18 21:29] gpeal commented on #951
@OleksandrKucherenko Was this exported with after effects?

[2018-09-18 21:30] gpeal commented on #950
This is an issue with your gradle project setup, not Lottie.

[2018-09-18 21:30] #950 closed

[2018-09-18 21:30] gpeal commented on #948
Duplicate of #898

[2018-09-18 21:30] #948 closed

[2018-09-18 21:31] gpeal commented on #945
@JosueB It seems like you can use min/max setFrame/setProgress/listeners or any combination of these to achieve what you need. If not, you may reopen this.

[2018-09-18 21:31] #945 closed

[2018-09-19 05:46] a141199 commented on #348
i really could use something like this

[2018-09-19 06:05] aaronbond opened #952 "Why is it that when i make the lottie animation larger performance suffers?"
I'm trying to figure out what i'm doing wrong here, I wanted to make the animation larger.
lottieview sites within a constraint layout and i set the height to match a constraint so that the animation will fill any available space between two views (and thus be larger)

but this one change causes a huge amount of extra resources to be used bringing the fps down and causing a lot of jank.

I would n

[2018-09-19 06:14] martin-huang opened #953 "why lottie textLayer do not use the spannable and Layout to draw Text?"
it could be support more effect by use the spannable and Layout 。

[2018-09-19 11:35] OleksandrKucherenko commented on #951
Yes, and after that was used some kind of open source size optimization tools... will try to find the name of it. anyway, the tool simply removes non-critical for after effect attributes from JSON.

[2018-09-19 16:02] luismts opened #954 "Error inflating class com.airbnb.lottie.LottieAnimationView - Xamarin.Android"
I have downloaded the json file from the Lottie page and add it in Assets Folder as an 'AndroidAsset'. And I have this code:

[code]

In my activity I have this:

[code]

Message:

Package: Com.Airbnb.Android.Lottie
Version: 2.6.0

[2018-09-19 18:33] Jazeem commented on #930
I'm getting the same error even with the synchronized method update. @elihart can you comment whether it was fixed for you with the latest version?

![screen shot 2018-09-19 at 11 56 26 pm](https://user-images.githubusercontent.com/7645229/45773370-c3f3fa80-bc67-11e8-8df6-9ee712096818.png)

[2018-09-20 06:42] kouhengsheng opened #955 "Expression 'marquee' of type 'Int' cannot be invoked as a function. The function 'invoke()' is not found"
Expression 'marquee' of type 'Int' cannot be invoked as a function. The function 'invoke()' is not found

how can I solve this problem in kotlin file

[2018-09-20 13:28] rksinghj4 commented on #382
public static void animate(final LottieAnimationView view) {
        Animator.AnimatorListener listener = new AnimatorListenerAdapter() {
            @Override
            public void onAnimationEnd(Animator animation) {
                view.removeAnimatorListener(this);
                view.setAnimation("teliscope.json", LottieAnimationView.CacheStrategy.Weak);
                view.loop(true);

[2018-09-20 15:35] casolorz opened #956 "Unable to parse composition"
My graphics designer generated a lottie file using haiku.app. The json file seems to work here https://www.lottiefiles.com/preview but when I put it on Android I get an error. I tried other lottie files from the web and they worked fine on Android so I'm guessing my implementation is fine, I mean it is just pretty much a copy paste so I don't know what could be wrong with it.

This is the stack tr

[2018-09-20 15:40] casolorz commented on #956
Just realized it is doing `nextInt` and my value for `width` is not an `int`. Is this something I should report to haiku.app then?

[2018-09-20 18:50] JosueB opened #957 "Image referenced in JSON loads sometimes"
Currently I have a fragment with this
on the onViewCreated

if (mDeviceAnimTutorialHolder != null) {
            mLottieAnimationView.setAnimation(mDeviceAnimTutorialHolder.getRawResJsonId());
            loadIndexAnimation();
 }

inside the

loadIndexAnimation

mLottieAnimationView.setMinAndMaxFrame(pair.first, pair.second);
mLottieAnimationView.playAnimation();

My json file contains a reference

[2018-09-21 11:22] carlosefonseca opened #958 "RawRes caching uses two different key names"
Was trying to figure out how to warm the composition cache and it seemed to not be working correctly for some reason and went digging through and I think the cache is being filled with the same composition twice when loading, since `fromJsonReaderSync(JsonReader reader, String cacheKey)` puts the composition with the key `"rawRes_" + resId` and then `LottieAnimationView.setAnimation(int rawRes)` a

[2018-09-21 16:03] gpeal commented on #759
@softcrafter oh wow, very interesting. I'll reopen this but I'm not sure I'll be able to get to it that soon. Can you try and use the string directly in the meantime?

[2018-09-21 16:05] gpeal commented on #879
Thanks for the investigation. I'll try to look in to this further for a future release.

[2018-09-21 16:05] softcrafter commented on #759
@gpeal, thanks. Yes we will use the String as it is for know.

[2018-09-21 16:06] gpeal commented on #348
@a141199 You could implement something like this by extending LottieAnimationView, overriding `draw` and storing a cache of the progress to the rendered frames for your own use case.

[2018-09-24 04:28] gpeal commented on #956
@casolorz Yes, this is probably Haiku specific. Could you file a bug there. I would like to avoid making specific changes for non-After Effects platforms if possible. If they have a good reason for making width/height a non-int, have them open a subsequent issue here.

[2018-09-24 04:28] #956 closed

[2018-09-24 04:32] gpeal commented on #955
This seems like a Kotlin compilation issue in your project. If you attach a sample project that reproduces this, I can try and help.

[2018-09-24 04:32] #955 closed

[2018-09-24 04:52] gpeal commented on #954
@luismts We don't officially support Xamarin so you'll have to debug this one on your own. Sorry.

[2018-09-24 04:52] #954 closed

[2018-09-24 04:53] gpeal commented on #953
@martin-huang Text rendering is very primitive right now. If somebody wants to take ownership of it, that would be great but it hasn't been at the top of our priority list.

When we do another text pass, we'll take some time to look into performance and supporting more features. You can take a look at other issues with the Text label here to see some of them.

[2018-09-24 04:53] #953 closed

[2018-09-24 04:55] gpeal commented on #952
@aaronbond Masks have a very large performance overhead that is proportional to their size.  For starters, I would try and eliminate them if possible. If not, you can try to render the view small but use the Android scaleX and scaleY translations to do a post-render scale. It will be pixelated but the tradeoff against performance may be worth it and you can tweak how much to scale by.

[2018-09-24 04:55] #952 closed

[2018-09-24 05:19] gpeal commented on #925
@SeekerG95 Are you exporting from After Effects with bodymovin? If you are, could you ask your designers to come up with a minimal-repro aep that reproduces this? You can send that over without sending your actual animation.

I'm going to close this for house keeping now but feel free to reopen if you can do this.

[2018-09-24 05:19] #925 closed

[2018-09-24 05:26] gpeal commented on #944
@alloflow this seems to be a bug with bodymovin/javascript. Your json has this:
[code]

This likely works on lottie-web because of some javascript artifact of the way the exporter/web player work.
Can you file a bug on lottie-web?

cc @bodymovin

[2018-09-24 05:26] #944 closed

[2018-09-24 05:30] #958 closed

[2018-09-24 05:34] gpeal commented on #941
@Thisisgodzilla Lottie works with battery saver mode because it has its own Choreographer based animation and handles timing itself rather than relying on the platform for animation.

[2018-09-24 05:34] #941 closed

[2018-09-24 05:34] #943 closed

[2018-09-24 05:35] #889 closed

[2018-09-24 05:52] gpeal commented on #879
I now allow returning null from the callback in #960.

Regarding the interpolation thing, I thought about it for a bit and it wouldn't be trivial to do because of type erasure in Java which makes it hard to know how to do the interpolation in a generic way. You don't need to do what you are doing. Just interpolate between the start and end values by `frameInfo. getInterpolatedKeyframeProgress()` f

[2018-09-24 06:03] gpeal commented on #897
@Jcongdon91 in Lottie Android, a shape can only have one trim path. Delete "Trim Paths 1" and it works perfectly.

[2018-09-24 06:03] #897 closed

[2018-09-24 06:04] gpeal commented on #759
I'm going to close this as the above seems like a platform bug that Lottie can't do anything about. The next version of Lottie won't even accept JsonObjects anymore and it is discouraged to use them at any point in the pipeline because it purely adds overhead.

[2018-09-24 06:04] #759 closed

[2018-09-24 06:11] gpeal commented on #758
Thanks! Docs have been updated.

[2018-09-24 06:11] #758 closed

[2018-09-24 06:17] #951 closed

[2018-09-24 06:17] #879 closed

[2018-09-24 06:28] gpeal commented on #896
@ArtisanM You'll need to attach an AEP file that reproduces this. If this is still an issue, feel free to do so and reopen.

[2018-09-24 06:28] #896 closed

[2018-09-24 06:33] gpeal commented on #949
@jaykapoor24 I re-exported your animation and it seemed to work fine:
![hashtag](https://user-images.githubusercontent.com/1307745/45939631-f57f0580-bf88-11e8-8ee4-d68fb46ea2ea.gif)

[code]

[2018-09-24 06:33] #949 closed

[2018-09-24 06:53] OleksandrKucherenko commented on #951
👍

[2018-09-24 07:44] silviugeorgian77 commented on #879
This does resolve anything.

You don't understand the problem. Please read again what @islamassi wrote.
At the moment, the so called 'LottieValueCallback' is more of a dynamic getter than a callback. Lottie uses this getter in order to change the animated values for each frame.

We need a callback with the animated value without changing the value returned by the getter. For this, we need to use t

[2018-09-24 14:12] shoeguy commented on #725
The link is to the "getting started" page and does not appear to address how to preload the cache with images.  Can someone provide an updated link (or better yet, describe what to do here in the issue?).  Thanks.

[2018-09-24 16:00] gpeal commented on #898
@Anthony-Reboul @mehhrad  I've decided to make it 2.7.0 and 2.8.0.
I publushed 2.7.0 as the last non-androidx release.
I started this migration last night on the `gpeal--28` branch but it isn't building yet.

[2018-09-24 17:01] shoeguy opened #961 "Broken link for documentation"
The documentation link (referenced in readme) is not working:

http://airbnb.io/lottie/

It returns a 404

[2018-09-25 06:19] #898 closed

[2018-09-25 14:13] shoeguy opened #963 "Animation is janky on first display in Android"
The first time an animation is shown on Android, it is slow and janky.  Can it be pre-cached?  Can the bitmaps be build in advance.

There was an issue on this which was closed, but it did not answer the question:  https://github.com/airbnb/lottie-android/issues/725

[2018-09-25 14:48] shoeguy commented on #963
Just to clarify.  The link points to the "getting started" documentation but does not seem to specifically describe how to preload cache with bitmaps.  There is a section that related to caching but does not describe the specific technique:

    http://airbnb.io/lottie/android/android.html#caching-animations

[2018-09-25 16:09] gpeal commented on #963
@shoeguy Lottie doesn't do render caching and if everything else is equal, performance will be the same on every loop. The only reason it would be janky at first is if your device is doing other things that coincide with it or Android takes time to ramp up the CPU governor.

Doing render caching would take orders of magnitude more RAM so we don't do it.

[2018-09-25 16:09] #963 closed

[2018-09-25 22:56] gpeal commented on #725
@shoeguy If you call any of the `LottieCompositionFactory` methods with your resource/json/whatever, that will work.

Any subsequent requests will rejoin the original task or pull from cache.

[2018-09-26 00:10] bodymovin commented on #944
@alloflow this is related to having two consecutive keyframes with the same value.
For example, if you change the value of the keyframe from 100 to 99.9 on the layer "body" on the 4th keyframe, it will export correctly.

[2018-09-26 09:06] pattagobi commented on #802
its not working or me :/

[2018-09-26 12:31] mucyomiller commented on #898
@gpeal thanks

[2018-09-26 15:42] pattagobi commented on #802
@AndroidDeveloperLB Status: Won't Fix (Intended Behavior) this is google

[2018-09-27 02:08] perdubug opened #964 "2.8.0 POM file on Maven is wrong"
The 2.8.0 Maven is at https://search.maven.org/artifact/com.airbnb.android/lottie/2.8.0/aar. As you can see that the version of appcompat dependency is wrong, which caused build error when import 2.8.0 in gradle project.

 _<dependencies>
    <dependency>
      <groupId>androidx.appcompat</groupId>
      <artifactId>appcompat</artifactId>
      <version>1.0.0</version>
      <scope>compile</scope>

[2018-09-27 07:31] dengzhao7053 opened #965 "use lottie in kotlin, i got a error : Failed to process resources,"
this is the detail:

AGPBI: {"kind":"error","text":"error: resource android:attr/dialogCornerRadius not found.","sources":[{"file":".gradle/caches/transforms-1/files-1.1/appcompat-1.0.0.aar/ddd7ec876db44ff77f6935a92aadfb11/res/values-v28/values-v28.xml","position":{"startLine":8,"startColumn":4,"startOffset":447,"endLine":11,"endColumn":12,"endOffset":684}}],"original":"","tool":"AAPT"}

i have tr

[2018-09-27 08:38] AndroidDeveloperLB commented on #802
@pattagobi So what should we do?
How was it fixed?

[2018-09-27 13:27] richjhart commented on #965
Same issue using Java only. Between this and the other issue raised, it looks like 2.8.0 could be broken.

[2018-09-27 15:32] renasti commented on #685
Solved my problem

[2018-09-27 18:02] elihart commented on #930
Just want to say that this isn't happening at all anymore, so the fix seems to work great

[2018-09-28 07:44] panzhi1 opened #966 "can lottie support video?"
HI.
In my ae,there is a video in animation.Can lottie support  that video play in animation?
THank you.

[2018-09-29 08:35] martin-huang commented on #927
why lottie doesn't use staticLayout to draw  two lines or more lines text ? ?  could you support it? thank you  very much

[2018-09-29 18:17] slhddn commented on #964
@gpeal The error is:
Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appComponentFacto

[2018-09-30 03:07] dengzhao7053 commented on #965
emmmm.......so how can i solve this problem ?

[2018-09-30 18:05] gpeal commented on #966
@panzhi1 No, just static images.

[2018-09-30 18:05] #966 closed

[2018-09-30 18:09] gpeal commented on #964
@slhddn Is your project on androidx?

[2018-09-30 18:10] gpeal commented on #965
@dengzhao7053 @richjhart @HelenaSewell Have you all migrated your projects to androidx?

[2018-09-30 18:13] gpeal commented on #397
@azchohfi Update your bodymovin plugin

[2018-09-30 18:39] slhddn commented on #964
@gpeal not yet. All the libraries I use in my project is still on support. I can't migrate directly. Can't I use 2.8.0 without x?

[2018-10-01 05:47] gpeal commented on #964
@slhddn Nope, androidx is not backwards compatible. 2.7.0 is the final appcompat release.

[2018-10-01 05:47] #964 closed

[2018-10-01 10:11] GuilhE commented on #802
`implementation 'com.airbnb.android:lottie:2.7.0'` fixes the issue

[2018-10-01 10:30] AndroidDeveloperLB commented on #802
@GuilhE OK thanks.

[2018-10-01 15:15] richjhart commented on #965
@gpeal No. Because migrating is far from a trivial process for some projects (a very big library I use does not yet work properly with AndroidX). I am looking into migrating, but IMHO libraries shouldn't be forcing the switch yet - the official release is still too recent

[2018-10-01 15:17] richjhart commented on #965
@dengzhao7053 The best solution I have so far is this:

    // 2.8.0 requires androidx. Do not upgrade to it
    //noinspection GradleDependency
    implementation 'com.airbnb.android:lottie:2.7.0'

[2018-10-02 08:49] AndroidDeveloperLB opened #967 "Bug: can't use v2.8.0, while 2.7.0 builds just fine"
Android Studio 3.3 Canary 12
Build #AI-182.4505.22.33.5026711, built on September 24, 2018
JRE: 1.8.0_152-release-1248-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Steps:
1. Create a new project.
2. Just add this:
    implementation 'com.airbnb.android:lottie:2.7.0'
3. Note that it builds and runs fine.
4. Update to 2.8.0 :
    implementation 'com.airbnb.android:lott

[2018-10-02 08:49] AndroidDeveloperLB commented on #802
@GuilhE I've noticed there is a new version 2.8.0, but it causes build issues, while 2.7.0 don't. How come?
I decided to report about this here:

https://github.com/airbnb/lottie-android/issues/967

[2018-10-02 09:02] GuilhE commented on #967
I don't believe this is an error, I believe version 2.8.0 is probably using **[androidx](https://developer.android.com/jetpack/androidx/)** while your project isn't.

[2018-10-02 09:05] GuilhE commented on #802
I've replied in your thread but I will leave it here as well:

https://github.com/airbnb/lottie-android/issues/967#issuecomment-426201610

[2018-10-02 09:32] AndroidDeveloperLB commented on #967
@GuilhE It doesn't let me build&run, while 2.7.0 did...
Does 2.8.0 require to use android-x ?

[2018-10-02 09:33] AndroidDeveloperLB commented on #802
@sh3r1 Please write on the issue I created. And now that I look at the changes, I think 2.8.0 does require android-X.
Well it was a matter of time till such issues would come, in one library or another...

[2018-10-02 09:43] GuilhE commented on #967
@AndroidDeveloperLB I believe it does.

[2018-10-02 12:16] AndroidDeveloperLB commented on #967
@GuilhE I see.
I think this one is also related, and easy to check:

https://issuetracker.google.com/issues/116542121

[2018-10-02 13:41] koehleru commented on #967
@AndroidDeveloperLB
2.8.0 is for androidX
if you want to use 2.8.0 you have to remove all dependencies to android support libs

[2018-10-02 13:46] AndroidDeveloperLB commented on #967
@koehleru I see, but why didn't they write about this on the main page?
Anyway, I close this now.

[2018-10-02 13:46] #967 closed

[2018-10-02 16:49] gpeal commented on #965
@richjhart It's a chicken and egg problem. Libraries have to migrate to allow app developers to upgrade. 2.7.0 is the last appcompat release but you can stay on it for as long as you need to. When you are ready to upgrade, you can switch to 2.8.0+

[2018-10-02 16:49] #965 closed

[2018-10-02 16:50] gpeal commented on #802
@sh3r1 Yes, 2.8.0 requires androidx.

[2018-10-02 22:20] vlntdds commented on #879
So, there no way of getting the object absolute position on screen?

[2018-10-02 23:01] AndroidDeveloperLB commented on #802
@gpeal Can you please mention it on the main page of the repository? I didn't see it mentioned, and was wondering what I'm doing wrong...

[2018-10-03 11:33] silviugeorgian77 commented on #879
You can get the correct absolute position on screen via the method above only for non parented layers (layers that are parented directly to the composition).
If you have layers with a parent, then you will have a rough time. The above method returns some values for these children layers, but I could not figure out what are they relative to. I tried taking into account the children layers' anchor p

[2018-10-04 01:51] JSpiner commented on #964
same here `2.8.0`
[code]

[2018-10-04 04:01] gpeal commented on #802
@AndroidDeveloperLB I added some information in the README and CHANGELOG for it.

[2018-10-04 04:02] gpeal commented on #964
@JSpiner 2.8.0 is not compatible with android.support.*. You must [migrate to androidx](https://developer.android.com/jetpack/androidx/migrate) to use 2.8.0 or above.

[2018-10-04 05:04] JSpiner commented on #964
https://github.com/airbnb/lottie-android/commit/65c5ee8ccb6c7258e644a99df729552890706108 good 👍

[2018-10-04 05:18] AndroidDeveloperLB commented on #802
@gpeal Thank you!
I suggest updating the docs too:
http://airbnb.io/lottie/android/android.html

[2018-10-04 09:16] alloflow commented on #944
Thanks for your feedback gentlemen ! I'll try asap and open an issue on lottie-web

[2018-10-04 11:04] yaminijain commented on #473
configurations.all {
    resolutionStrategy.eachDependency { DependencyResolveDetails details ->
        def requested = details.requested
        if (requested.group == 'com.android.support') {
            if (!requested.name.startsWith("multidex")) {
                details.useVersion '26.0.2'
            }
        }
    }
}
NOTE :Add this to your build.gradle and **make sure** you are using the

[2018-10-04 11:20] ZachinAl opened #968 "Developer is facing lag in loop animation"
The developer is facing a lag issue while playing in android suite. The animation is a loop animation

[2018-10-04 16:59] MickeyPickles commented on #743
Hi I solved this by going to the project root directory in the terminal and doing this :
git init
git add .
git commit -m "why do I have to do this?"

[2018-10-05 08:13] iuliuvisovan commented on #312
For me there's not `setProgress` function on `LottieView`.

The one that worked for me was `reset`.

[code]

[2018-10-05 08:13] iuliuvisovan commented on #314
For me there's not `setProgress` function on `LottieView`.

The one that worked for me was `reset`.

[code]

[2018-10-06 02:41] gpeal commented on #314
@iuliuvisovan You're using React Native. This thread is for Android.

[2018-10-06 03:30] hixguru opened #970 "lottie show weird color"
origin lottie file is https://www.lottiefiles.com/share/qUva05
but after applying it to android, it show a strange yellow color at the end.
why is this happening and how can i fix it?

![ezgif com-crop](https://user-images.githubusercontent.com/24384662/46567279-694ae600-c96b-11e8-91a6-02553a6bc319.gif)

[2018-10-09 09:25] wypa opened #972 "Possible to animate single layers?"
Hi,

Our designer made some animations which have composition and layers.
I'm struggling with animations which have layers. Is it possible to play a layer from the composition? The only i can set is min/max progress and min/max frame

[2018-10-09 19:56] iuliuvisovan commented on #314
Oh well. This is awkward.

I can just hope other RN devs will be as distracted as I was and find this helpful. 💃

[2018-10-10 03:04] dokiKit opened #973 "Animation on android looks inconsistence with web"
I used aep from https://pixelbuddha.net/freebie/free-animated-flat-emojis-aep to output json file.

Previewing it on lottiefiles is fine, but when I test it on android lottie preview app I find out that all the path seems surrounded by a white margin. What may caused it? It shows no warning though on the app.

https://www.lottiefiles.com/share/NVRz8j

[2018-10-11 10:20] v-silin opened #974 ""lottie resolve key path process" can't find matte layer"
Hi, guys.

My issue is the following:

Animation has three layers:
layer_1
layer_2
layer_3

I am trying to set custom value callback, as I did in iOS Application, but can't because:

public class CompositionLayer line 50-69: layer_2.matteLayer = layer_1
especial lines 58-59
CompositionLayer doesn't add layer_1 to array of layers.

And when I am trying to use KeyPath("layer_1", "Group", "Transform"

[2018-10-11 19:07] elihart opened #975 "Setting progress on restored state LottieAnimationView with async composition does not work"
**The issue:** A LottieAnimationView (in a recyclerview) does not show the correct frame when restoring state, when the animation is not playing and the composition is loaded async.

In my case the animation has already played and I want progress to be reset to 1 to show the final frame of the animation. I don't want it to play again, but instead freeze on that last frame. Instead, nothing is draw

[2018-10-12 08:52] nightq opened #976 "NullPointerException in LottieDrawable.recycleBitmaps() when set the property "android:src" for LottieAnimationView in layout.xml"
Exception Message:
       `Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.airbnb.lottie.LottieDrawable.recycleBitmaps()' on a null object reference
        at com.airbnb.lottie.LottieAnimationView.recycleBitmaps(LottieAnimationView.java:256)
        at com.airbnb.lottie.LottieAnimationView.setImageDrawable(LottieAnimationView.java:176)
        at com.airbnb.l

[2018-10-12 13:53] Ribesg commented on #965
That's wrong. I'm an app developer and I'm waiting for some libraries to update to AndroidX. I can't upgrade to AndroidX if a library doesn't support it. On the other hand, I can stay at older version of libraries who upgraded. The situation is the exact opposite of what you described: I need all libraries depending on Android Support to upgrade before I can.

[2018-10-12 14:13] handstandsam commented on #163
The `minSdk` is now 16 as of Feb 14, 2018.

Commit: https://github.com/airbnb/lottie-android/commit/a212bc8d8c5737a46deafb098e273937d77477b9

`I had to bump the minSdk to 16 to support Choreographer.`

[2018-10-12 14:33] nhaarman commented on #965
You can just use the Jetifier tool, right?

[2018-10-12 14:47] richjhart commented on #965
@Ribesg Do you have an example of a library that needs to be upgraded? I use quite a few libraries, and this is the only one that forced me to upgrade to androidx. I have now done it on this project, and there was a bit of pain because the migration tool missed a couple of things that needed to be corrected, but otherwise:

[code]

(in `gradle.properties`) worked fine for me

[2018-10-15 19:49] gpeal commented on #965
@richjhart Butterknife did as well. It was intentional as a forcing function to help get the community to migrate.
https://github.com/JakeWharton/butterknife/blob/master/CHANGELOG.md

If you really don't want to upgrade, just stick with 2.7.0.

[2018-10-15 21:09] nhaarman commented on #965
Except butterknife did a major version bump instead of a minor.

[2018-10-16 02:40] gpeal commented on #965
@nhaarman That's fair. I went back and forth on whether to do a 3.0.0 release. I decided to keep it 2.x to stay in line with iOS though.

[2018-10-16 03:44] panzhi1 opened #977 "What caused the lottie animation caton?"
In ae, the animation plays very smoothly, and some of the caton played in lottie android.
This is the json.
[story8.txt](https://github.com/airbnb/lottie-android/files/2481330/story8.txt)
Please tell me how I can  solve it?

[2018-10-16 07:36] panzhi1 commented on #977
It seems that a frame skip occurred。

[2018-10-16 07:40] #977 closed

[2018-10-16 15:58] gpeal commented on #965
@Ribesg You can use 2.7.0 until you are ready to upgrade.

[2018-10-18 10:47] zany1 commented on #932
How do you get 2.6.1 in nuget. All I see is 2.6 as the latest even checking the prerelease option doesn't show up.

[2018-10-19 02:27] yjiang2009 opened #978 "LottieCompositionFactory.fromUrl has no Memory cache of composition"
can you give me some suggest?  i use lottieview.setAnimationFromUrl( ) to load animation from net(is zip,contains json and images)，i saw the source has use  disk cache 。but  i want first use  memory cache ,then use disk cache .last  from net .if
i just use setAnimationFromUrl  or  LottieCompositionFactory.fromUrl，it there have two same url  ,they have no memory cache ,they will load from net once

[2018-10-19 07:28] dingshaoran opened #979 "LottieDrawable invalidateSelf much times"
every layer receive  setProgress then call onValueChanged ,this final invalidate view.although refresh one times，but calculate rect much times

[2018-10-19 18:53] samiam2017 commented on #833
@gpeal has an update been created for this issue?

[2018-10-20 23:44] gpeal commented on #833
No update yet. I would accept a PR though.

[2018-10-20 23:44] gpeal commented on #932
@zany1 use 2.7.0 (android.support) or 2.8.0 (androidx)

[2018-10-21 01:53] samiam2017 commented on #833
@gpeal what is a PR?

[2018-10-21 01:58] samiam2017 commented on #833
@gpeal is that a "pull request"? Im just a motion designer trying to use the tool. More than happy to try to learn the basics of coding to help out but don't really know where to start. What is the code base for the plugin and library?

[2018-10-22 08:30] alvaromarco opened #980 "Lottie animation not work in RecyclerView item"
Hi, I use Lottie 2.7.0 and I have a Recyclerview where each item has a LottieAnimationView that play animation when create. So, when I have 20 items (for example) in my Recyclerview and make scroll, the animation in the first items isstopped. I detect with a AnimatorListener that each item enter in `onAnimationCancel ()` when stop.

The problem is, **how to work with Recyclerview when each item ha

[2018-10-22 11:19] #980 closed

[2018-10-22 11:22] alvaromarco commented on #980
The solution is overried onViewRecycled() and cancel the animation as:
[code]

Dont edit `setIsRecyclable (false)`

[2018-10-22 12:26] v-silin commented on #974
There is possible another issue with scaling:
class LottieCompositionParser line 91: width and height for bounds are multiplied by scale (not sure why. iOS doesn't multiply)
class LottieDrawable line 716: if I set AnimationView scale to screen density, then bounds multiplied again.

[2018-10-23 14:04] usmanrana07 opened #981 "setProgress doesn't seem to work in some cases"
setProgress doesn't seem to work in some cases. Specially when cell is just created and it updates when item is recycled on scroll

[2018-10-24 02:47] andyxialm commented on #667
I'm seeing the same issue on 8.0.0 / 8.1.0 with Lottie 2.6.0-beta19 / 2.7.0.

com.airbnb.lottie.LottieAnimationView$2.onResult(Unknown Source:5)

`1 java.lang.IllegalStateException:Unable to parse composition
2 com.airbnb.lottie.LottieAnimationView$2.onResult(Unknown Source:5)
3 ......
4 Caused by:
5 java.lang.AssertionError:
6 android.util.JsonReader.peek(JsonReader.java:363)
7 android.util.JsonR

[2018-10-24 13:55] awenger commented on #667
@TobiasReich , I think there is no way that this can be circumvented by just catching the exception. The json is parsed for a reason, something depends on the data being parsed. If the exception is thrown you don't have the data, so you can't proceed.
In general the next steps are what was already mentioned in the ticket:

[2018-10-29 06:36] JVAndroidDeveloper opened #984 "Don't set Speed from Xml"
Don't set Speed from Xml. please add speed attribute so we can manage easily. Thanks in Advance

[2018-10-29 07:24] #972 closed, assigned to nobody

[2018-10-29 14:55] galazkapatryk opened #985 "Can't change animation at runtime in the LottieAnimationView"
I am trying to change animation file in LottieAnimationView with method setAnimation and pass there animation filename. After that, nothing happend.

[2018-10-29 20:40] handstandsam commented on #872
Thank you!  I got a codebase with `2.5.1` that had this problem, and upgrading to `2.7.0` fixed it!  Upgrading to 2.8.0 threw all kinds of `androidx` exceptions, but luckily `2.7.0` has everything I need regarding this.  Thanks!

[2018-10-31 13:40] florianPOLARSTEPS opened #987 "Looping animations continue when LottieAnimationView is invisible"
I recently did some benchmarking on an app which uses lottie to do some animations (autoplay and looping). I noticed that there is quite some CPU usage when the app is in the background and tried to investigate.

It seems to me looping animations do not pause/stop when the containing `LottieAnimationView` is off screen, and/or the Activity is paused.

I believe this is due to the cleanup code bein

[2018-10-31 14:49] florianPOLARSTEPS commented on #987
Overriding `LottieAnimationView` and doing the following solves the visibility issue for me and Lottie is paused when not visible.

[code]

[2018-11-01 01:56] oneuglybastard opened #988 "Exporting red (#ff000) into xml file."
Exporting a fairly simple animation and it's exporting red (#ff000) as a bg fill color for some reason. It looks fine in the browser demo but is rendering a red bg in production.

AE attached.
[AndroidExport.zip](https://github.com/airbnb/lottie-android/files/2536937/AndroidExport.zip)

[2018-11-01 09:43] gpeal commented on #985
@galazkapatryk There isn't enough information to debug this. Please reopen with a sample project.

[2018-11-01 09:43] #985 closed

[2018-11-05 03:32] yanbinbin opened #989 "NullPointException caused by setAnimation()"
5 Caused by:
--
6 java.lang.NullPointerException:Attempt to invoke virtual method 'boolean java.lang.String.contains(java.lang.CharSequence)' on a null object reference
7 android.view.View.setLayerType(View.java:17991)
8 com.airbnb.lottie.LottieAnimationView.u(LottieAnimationView.java:882)
9 com.airbnb.lottie.LottieAnimationView.setComposition(LottieAnimationView.java:489)
10 com.airbnb.lottie.Lot

[2018-11-05 03:33] yanbinbin commented on #989
Anyone alse has the exception ?

[2018-11-05 03:38] yanbinbin commented on #989
version 2.5.2_0

[2018-11-05 07:12] 11hhlin1 opened #990 "Lottie doesn't support layer effects"
Lottie doesn't support layer effects. If you are using them for " " fills, strokes, trim paths etc. then try adding them directly as contents " " in your shape

[2018-11-05 12:06] MrLizer opened #991 "Animations on top of Camera - Very Laggy"
Adding animations over the top of a live camera view on Android devices dont seem to work. Seems like the CPU cannot handle adding any animation. Has anyone find a fix?

Thanks

Liam

[2018-11-05 12:32] armanhi commented on #976
I can confirm this issue using version 2.8.0. Reverting back to 2.6.0 has solved the problem.

My XML:

<com.airbnb.lottie.LottieAnimationView
        android:id="@+id/loading_lottie"
        android:layout_width="50dp"
        android:layout_height="50dp"
        android:layout_gravity="center"
        android:scaleType="fitCenter"
        android:src="@drawable/ic_pause_s"
        app:lottie_aut

[2018-11-05 14:54] carkchard commented on #991
Just leaving a bit of extra information here. It looks like on devices with better hardware there doesn't seem to be an issue, but on a mid range phone the camera preview becomes very laggy.

Was testing on a Nexus 5X running Android 8.1.0

[2018-11-06 17:05] gpeal commented on #991
@MrLizer Animations with mattes and masks incur a large performance overhead (although I may have a fix for that soon).
You can also enable hardware acceleration which should help. Unfortunately, this isn't really actionable on its own so I'm going to close it.

[2018-11-06 17:05] #991 closed

[2018-11-06 17:05] gpeal commented on #990
This is correct. Lottie doesn't support layer effects.

[2018-11-06 17:05] #990 closed

[2018-11-07 09:35] MrLizer commented on #991
Thanks for response, how soon is soon?!?!

[2018-11-07 16:01] gpeal commented on #989
@yanbinbin Can you start by updating lottie to 2.7.0 (non-androidx) or 2.8.0 (androidx)?

[2018-11-07 18:29] gpeal commented on #991
@MrLizer Depends on how much time I can find but _hopefully_ in the next month assuming it all goes well.

[2018-11-09 09:14] aliguvenc opened #993 "Fatal Exception: java.lang.RuntimeException: An error occured while executing doInBackground() Caused by java.io.EOFException: End of input"
Hi,
I am seeing this crash in production logs and not happening every time when animation is playing.
used lottie version is 2.5.5. Below is stacktrace and device/os info which are exposed that problem

<img width="764" alt="screen shot 2018-11-09 at 12 09 26" src="https://user-images.githubusercontent.com/18323018/48253655-e2c96e80-e418-11e8-8444-a24361bb4fbe.png">

 Crashed: AsyncTask #1

[2018-11-11 09:43] Algit73 opened #994 "Series of Issues with the version 2.8.0"
Hi,

I'm just new to Lottie and it is going to exhaust me with no clear answer.

I'm using Android SDK version 28 with the minimum SDK version 23. First, I just add  `implementation 'com.airbnb.android:lottie:2.8.0'` simply in my gradle. Syncing it arises no error.  Then Android studio tells me this:

	is also present at [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86 value=(androidx.core.

[2018-11-12 01:51] gpeal commented on #994
@Algit73 2.8.0 requires migrating to AndroidX. You must use 2.7.0 if you haven't upgraded.
[CHANGELOG](https://github.com/airbnb/lottie-android/blob/master/CHANGELOG.md)

[2018-11-12 01:51] #994 closed

[2018-11-13 00:51] koutarou-akiyoshi opened #995 "The Image does not switch to the image of set language when OS language is changed"
- Before changing the language setting（The language of the text matches the language of the image）
<img src="https://user-images.githubusercontent.com/38872271/48383499-50cba980-e729-11e8-9a5a-0c5d3697ceac.png" width="300">

<br />

- After changing the language setting（Text language and image language are different）
<img src="https://user-images.githubusercontent.com/38872271/48383510-5cb76b80-e7

[2018-11-13 05:52] gpeal commented on #995
@koutarou-akiyoshi Are you using a TextDelegate that returns a resource string?

[2018-11-13 06:40] koutarou-akiyoshi commented on #995
@gpeal

As pointed out,
I am using a TextDelegate in `MyFragmentPagerAdapter` class.

[code]

I think that the way to solve the problem I contacted will be the following, but how do you think?

1. `MyFragmentPagerAdapter#contens` Create a function to set a value for this variable

2. Make sure to call this function in the constructor of `MyFragmentPagerAdapter`

[2018-11-13 07:05] koutarou-akiyoshi commented on #995
@gpeal

I'm sorry.
I should have tried the solution described earlier and commented later.
As I mentioned earlier, I tried it, but it did not work.

[code]

Since I got a hint, I will try various things.
Thank you.

[2018-11-13 10:06] keliuyue commented on #993
I also has this issue in my app .

**Lottie Version : 2.5.7**

**Error log info**

java.lang.RuntimeException: An error occurred while executing doInBackground()

at android.os.AsyncTask$3.done(AsyncTask.java:353)
at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
at java.util.concurrent.FutureTask.setException(FutureTask.java:252)
at java.util.concurrent.FutureTask.run(Futur

[2018-11-13 10:16] dragonjia commented on #337
I'm interesting about this topic , has the  problem be solved eventually? @jonasdoliveira

[2018-11-13 11:36] Umar3x opened #996 "Animation disappears when app background and resume"
Hello,

REF : https://github.com/martijn00/LottieXamarin/issues/200

I'm posting here as I don't have any answer on the lottie xamarin repo.

I think here I can have some help. I'm referencing the issue, thus not to duplicate an entire post.

Thanks for your help.

[2018-11-13 22:01] apuli commented on #703
Same error but with setMinAndMaxProgress and setMaxProgress...
@gpeal I checked out your code and you are not testing 1f as maxProgress, still crashing for me:

`java.lang.IllegalStateException: Frame must be [16.000000,0.000000]. It is 16.000000
        at com.airbnb.lottie.utils.LottieValueAnimator.verifyFrame(LottieValueAnimator.java:278)
        at com.airbnb.lottie.utils.LottieValueAnimator.d

[2018-11-14 03:42] AsTheWorld opened #997 "Click RecyclerView different item, onAnimationEnd is called many times？"
Click RecyclerView different item, onAnimationEnd is called many times？

[2018-11-14 07:35] usmanrana07 commented on #586
Getting same issue.

[2018-11-14 10:16] iamdangerous opened #998 "Need Help when to call cancelAnimation() and recycleBitmaps() in RecyclerView"
When should I **call** **LottieAnimationView.cancelAnimation()** and **LottieAnimationView.recycleBitmaps()**

Scenario
I have a Recyclerview and LottieAnimationView is present inside one of its ViewHolder, I have to call notifydatasetChanged() on recyclerview's adapter. So after this call LottieAnimationView.onDetachedFromWindow() is called and because of this the animation freezes - because it i

[2018-11-14 11:26] Yahyaali1 opened #999 "Unable to catch exception due to parsing errors in json"
**Use Case:**
My use case revolves around allowing users to upload animation file.  However since on the server side user can provide a file that might not have correct animation format. I need to ensure in that case the app doesn't crashes or library throws appropriate exception that can be caught.
Currently app crashes on trying to parse the corrupted/invalid json.
Is there any way to catch this

[2018-11-14 13:15] RichardMaxd opened #1000 "Crash on Android 5.1.1 (API 22)"
Hello, my app crashes on Android 5.1 (API 22) when using Lottie animations. It occurs on an emulator, I do not have a device with this API version to test with. I did not test it on earlier API versions as 22 is our minimum.

The crash happens after a couple of seconds and not at a specific moment. I wonder if this only happens on emulators or also on devices.

The logs I get are:
`11-14 14:05:01.

[2018-11-14 14:13] Runman44 commented on #1000
I found some information about the stacktrace here:
https://source.android.com/devices/tech/dalvik/gc-debug

[2018-11-15 05:21] supbrosef opened #1001 "Animation not working correctly on android studio"
My animation works fine in the lottie preview as shown:
https://www.lottiefiles.com/share/6khKu9

However, when i run it on my android device it shows like the following:
https://gyazo.com/c757844fd29a51189413e3c059745119

I have created a simple animation manipulating a circle which works fine on my device.

My json file https://www.dropbox.com/s/n9571ykol75wnq7/test.json?dl=0

[2018-11-15 10:50] xiaobinghe commented on #999
The same case appeared in my project , and the expersion cannot be caught;

[2018-11-15 11:00] xiaobinghe commented on #999
The same case appeared in my project , and the exception cannot be caught;

[2018-11-15 11:17] Yahyaali1 commented on #999
Specially if class can prevent this crash by handling it in catch block or allowing to access the private listener throwable so that we can attach listener as per our need.

  private final LottieListener<Throwable> failureListener = new LottieListener<Throwable>() {
    @Override public void onResult(Throwable throwable) {
      throw new IllegalStateException("Unable to parse composition", throw

[2018-11-15 14:02] Yahyaali1 commented on #999
@xiaobinghe any approach towards resolving this issue ?

[2018-11-15 23:32] gpeal commented on #1000
@RichardMaxd Can you attach the sample project?

[2018-11-15 23:49] gpeal commented on #999
@Yahyaali1 @xiaobinghe If you are concerned with animations failing to parse, use the LottieCompositionFactory APIs and manually set the resulting composition on your LottieAnimationView.

You can add a failure listener on them.

[2018-11-15 23:49] #999 closed

[2018-11-15 23:50] gpeal opened #1002 "Remove bitmap recycling"
it is no longer necessary on newer versions of Android.

[2018-11-15 23:50] gpeal commented on #997
Please reopen this if you can attach a sample project that reproduces this.

[2018-11-15 23:50] #997 closed

[2018-11-15 23:52] gpeal commented on #996
I think this might be a Xamarin issue since it occurs on both platforms. If you can reproduce it in an Android sample app, I can take a look.

[2018-11-15 23:52] #996 closed

[2018-11-16 01:07] xiaobinghe commented on #999
thank you！
This method is perfect

[2018-11-16 01:18] xiaobinghe commented on #999
the method ` imageView.setAnimationFromUrl()` is called in other thread；so we could not catch exceptions; The solution of @gpeal provided is good ；

`LottieTask<LottieComposition> lottieCompositionLottieTask = LottieCompositionFactory.fromUrl(context, titleUrl);
            lottieCompositionLottieTask.addListener(new LottieListener<LottieComposition>() {
                @Override
                p

[2018-11-16 07:17] ahmdwaleed commented on #999
What about iOS?

[2018-11-18 00:15] gpeal opened #1004 "Support hidden ("hd")"

[2018-11-19 07:30] huyaoqing1995 commented on #925
Hello, in CompositionLayer.java line 91，you can change "canvas.clipRect(originalClipRect, Region.Op.REPLACE);" to "if (Build.VERSION.SDK_INT >= 26) {
                    canvas.clipPath(mPath);
                } else {
                    canvas.clipPath(mPath, Region.Op.REPLACE);
                }
"
in Android P

[2018-11-19 07:32] huyaoqing1995 opened #1005 "Invalid Region.Op - only INTERSECT and DIFFERENCE are allowed com.airbnb.lottie.CompositionLayer.drawLayer(CompositionLayer.java:91)"
Hello, in CompositionLayer.java line 91，you can change "canvas.clipRect(originalClipRect, Region.Op.REPLACE);" to "if (Build.VERSION.SDK_INT >= 26) {
canvas.clipPath(mPath);
} else {
canvas.clipPath(mPath, Region.Op.REPLACE);
}
"
in Android P

[2018-11-19 07:44] gpeal commented on #1005
@huyaoqing1995 Is this still an issue with the latest code?
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/model/layer/CompositionLayer.java#L96

[2018-11-19 07:47] huyaoqing1995 commented on #1005
Oh~ Thaks!  I need to update version ~

[2018-11-20 03:02] TerrenceYY opened #1006 "java.lang.RuntimeException: An error occured while executing doInBackground()"
java.lang.RuntimeException: An error occured while executing doInBackground()

	at android.os.AsyncTask$3.done(AsyncTask.java:300)

	at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)

	at java.util.concurrent.FutureTask.setException(FutureTask.java:222)

	at java.util.concurrent.FutureTask.run(FutureTask.java:242)

	at java.util.concurrent.ThreadPoolExecutor.runWorker(Thread

[2018-11-21 12:10] adityaarora1 commented on #987
I am trying to add/remove lottieAnimationView in a frame layout. However, lottie restores to last set frame after a remove/add. I need to reinitialise lottie on adding back.

[2018-11-21 12:10] adityaarora1 opened #1007 "Lottie restores state when lottie view is dynamically added to layout"
I am trying to add/remove lottieAnimationView in a frame layout. However, lottie restores to last set frame after a remove/add. I need to reinitialise lottie on adding back.

[2018-11-22 17:40] gpeal commented on #1007
@adityaarora1 This is the expected behvaior because Lottie can't distinguish between you adding/removing your view or it getting attached/detached in a scenario like a RecyclerView. Adding this functionality would likely break lots of other use cases. Can you just manually reset the view as you have been? You could also write your own wrapper around LottieAnimationView that does it automatically.

[2018-11-22 17:40] #1007 closed

[2018-11-22 17:40] gpeal commented on #1006
This isn't Lottie related. Your app was running out of memory and Lottie happened to be the one thing that put it over the edge.

[2018-11-22 17:40] #1006 closed

[2018-11-22 17:40] #1005 closed

[2018-11-22 17:44] gpeal commented on #968
@ZachinAl The animation renders fine and very quickly but Lottie doesn't support expressions on mobile.

[2018-11-22 17:44] #968 closed

[2018-11-22 17:44] gpeal commented on #968
https://airbnb.io/lottie/supported-features.html

[2018-11-22 17:47] gpeal commented on #973
Duplicate of #1004. Delete the stroke around the eyes for now.

[2018-11-22 17:47] #973 closed

[2018-11-23 07:17] xiaobinghe opened #1008 "OOM use in recyclerView"
I use it in the recyclerView, if too much animation, causing serious damage, and even lead to OOM. Is there any good solution? please help me.

[2018-11-26 04:34] gpeal commented on #1008
@xiaobinghe If you could attach a project that repros this or do the investigative work to figure out what is leaking, feel free to reopen this but there isn't enough information to act on here.

[2018-11-26 04:34] #1008 closed

[2018-11-26 06:50] xiaobinghe commented on #1008
I tried to add animation to each item in the recyclerview, but I found it very stuck. I wanted to find a solution that could optimize it. I never found it. I found in the profile detection that lottieAnimation caused a lot of CPU consumption and memory consumption. I think it may be that I don't know much about Lottie;

[2018-11-26 06:51] xiaobinghe commented on #1008
I tried to add animation to each item in the recyclerview, but I found it very stuck. I wanted to find a solution that could optimize it. I never found it. I found in the profile detection that lottieAnimation caused a lot of CPU consumption and memory consumption. I think it may be that I don't know much about Lottie;

[2018-11-26 07:13] xiaobinghe commented on #1008
I saw a lot of LottieTaskObser threads created in the android profile detection tool. I want to destroy these threads when they are not needed. Can you tell me what to do?

[2018-11-26 18:41] armanhi commented on #976
Why has this been closed?

[2018-11-26 22:11] wbonnefond opened #1009 "Loading cached .zip animation with images fails (and crashes app)"
When a `.zip` animation with images is loaded from the cache, the library does not reload the bitmaps. The issue happens because the library recycle the bitmaps when the view is detached from the screen. When attempting the load the animation again, it finds it in the cache, but the bitmaps are never reloaded. This causes the app to crash.

Lottie version: `2.7.0`
Lottie file: [puppy_run.zip](http

[2018-11-27 03:06] LeviWiz commented on #993
hey bro , have you fixed it?

[2018-11-27 13:52] sharathkumar-kl opened #1010 "Animation not working correctly on android studio"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-11-27 13:53] #1010 closed

[2018-11-27 14:00] sharathkumar-kl opened #1011 "Animation not working as expected"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-11-27 14:53] gpeal commented on #1009
This will be fixed by #1002

[2018-11-27 14:53] #1009 closed

[2018-11-27 14:54] #1011 closed

[2018-11-27 15:15] gpeal commented on #995
You could register a broadcast receiver to know when the language changes.
https://stackoverflow.com/a/43584678/715633

I think this is out of scope for Lottie though.

[2018-11-27 15:15] #995 closed

[2018-11-27 15:15] gpeal commented on #995
@'

[2018-11-27 15:15] gpeal commented on #995
@koutarou-akiyoshi

[2018-11-27 15:16] gpeal commented on #337
@Fereshtehnaji @dragonjia Mattes and masks incur a large performance overhead proportional to their size. There is some more [documentation here](http://airbnb.io/lottie/android/performance.html)

[2018-11-27 15:17] gpeal commented on #703
@apuli Could you put up a PR for this?

[2018-11-27 15:17] gpeal commented on #586
@usmanrana07 This will be resolved with #1002

[2018-11-27 15:19] gpeal commented on #1008
@xiaobinghe They will stop themselves when they are done parsing. Can you attach a sample project with the latest version of Lottie?

[2018-11-27 15:20] gpeal commented on #1008
Which version of Lottie did you test this on?

[2018-11-27 15:53] gpeal commented on #988
@oneuglybastard Can you attach a converted AEP? I have creative cloud and it won't open your project.
![image](https://user-images.githubusercontent.com/1307745/49093699-47af0200-f22a-11e8-982a-8a44cc59fbe5.png)

[2018-11-27 15:56] #984 closed

[2018-11-27 19:02] Jparrgam opened #1014 "Lottie support change color and add new shape from json ?"
Hello, Lottie supports from code changes on the .json file such as color change and add an image ?

regards

[2018-11-29 21:44] GorkemKarayel commented on #994
I agree. I'm getting this error in version 2.8.0.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2018-11-30 17:56] saurabhkpatel commented on #1000
Having the same issue, after androidx migration (v2.8)

`Tried to mark 0x2 not contained by any spaces
11-30 12:24:30.386 E/art     ( 5730): Attempting see if it's a bad root
11-30 12:24:30.386 E/art     ( 5730): Found invalid root: 0x2
11-30 12:24:30.386 E/art     ( 5730): Type=RootJavaFrame thread_id=1 location=Visiting method 'void com.airbnb.lottie.model.layer.BaseLayer.setProgress(float)' at

[2018-12-02 06:05] SAYEDALISINA93 opened #1015 "Can not open https://editor.lottiefiles.com/"
I have tried more 20 times from deferent computers to get access to Online Editor but always iIfaced with this message

Any one knows what is wrong with this site????

[2018-12-03 06:47] fang1994042128 commented on #331
Hello

[2018-12-03 06:53] fang1994042128 opened #1016 "java.lang.IllegalStateException"
Hello
I used version 2.70。 Some phones have crashed。
I used image resources。
mLottieAnimationView.setImageAssetsFolder("images");
mLottieAnimationView.setAnimation("data.json");

You must set an images folder before loading an image. Set it with LottieComposition#setImagesFolder or LottieDrawable#setImagesFolder
com.airbnb.lottie.manager.ImageAssetManager.bitmapForId(ImageAssetManager.java:107)

[2018-12-03 08:09] RichardMaxd commented on #1000
For me it occurs on v2.7.0 without androidx

[2018-12-03 23:55] saurabhkpatel commented on #1000
I was using `lottie:2.5.1` version, migrated to `lottie:2.8.0` and got this issue.
No code change

[2018-12-04 02:05] Simon1121 opened #1017 "java.lang.ClassCastException"
java.lang.ClassCastException
android.graphics.PointF cannot be cast to com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation

1 com.airbnb.lottie.model.layer.BaseLayer.setProgress(BaseLayer.java:427)
2 com.airbnb.lottie.model.layer.CompositionLayer.setProgress(CompositionLayer.java:139)
3 com.airbnb.lottie.model.layer.CompositionLayer.setProgress(CompositionLayer.java:139)
4 com.airbnb.lottie

[2018-12-04 02:10] Simon1121 opened #1018 "java.lang.IncompatibleClassChangeError"
java.lang.IncompatibleClassChangeError
interface not implemented

1 com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation.notifyListeners(BaseKeyframeAnimation.java:59)
--
2 com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation.setProgress(BaseKeyframeAnimation.java:55)
3 com.airbnb.lottie.animation.keyframe.TransformKeyframeAnimation.setProgress(TransformKeyframeAnimation.java:86)
4 com

[2018-12-05 00:40] gpeal commented on #331
@fang1994042128 http://airbnb.io/lottie/android/images.html

[2018-12-05 00:46] gpeal commented on #1000
@RichardMaxd It didn't repro for me. What are the exact repro steps and how frequently does it repro?

[2018-12-05 00:48] gpeal commented on #1015
@SAYEDALISINA93 lottiefiles isn't directly affiliated with the library. You'll have to contact them.

[2018-12-05 00:48] gpeal commented on #1016
http://airbnb.io/lottie/android/images.html

[2018-12-05 00:48] #1016 closed

[2018-12-05 00:49] gpeal commented on #1018
@Simon1121 Can you provide more repro steps and attach a sample project that repros this?

[2018-12-05 00:50] gpeal commented on #1017
@Simon1121 Can you provide more repro steps and attach a sample project that repros this?

It's strange that you got two separate unique compilation errors on the same line of code. That makes me thing it's something specific to your project.

[2018-12-05 00:51] gpeal commented on #1014
@Jparrgam http://airbnb.io/lottie/android/dynamic.html

[2018-12-05 00:51] #1014 closed

[2018-12-05 03:48] JPSiller opened #1019 "Animation's images not showing second time it is displayed (inside fragment)"
Hi,

I'm having an issue where the images used in my animation work perfectly the first time I load the fragment but then the second time they do not display BUT the animation does work. I also tried using the IImageAssets delegate to see debug the FetchBitmap method and I noticed the second time I opened the activity the fragment was created and the view inflated but the FetchBitmap method was ne

[2018-12-05 06:41] e9ab98e991ab commented on #994
在Androidx 导入lottie时 构建出现一下错误
Cannot convert a null value to an object of type Dependency.
The following types/formats are supported:
  - Instances of Dependency.
  - String or CharSequence values, for example 'org.gradle:gradle-core:1.0'.
  - Maps, for example [group: 'org.gradle', name: 'gradle-core', version: '1.0'].
  - FileCollections, for example files('some.jar', 'someOther.jar').
  - Projec

[2018-12-05 09:38] AmyNgithub commented on #1015
I had the same problem when I used Safari. Try opening the link in Chrome instead.

[2018-12-05 11:18] SAYEDALISINA93 commented on #1015
@AmyNgithub I tried but the same problem again. even I tried from the tablet, phone, and another computer but I got the same problem.

[2018-12-05 14:46] JPSiller commented on #1019
Turns out moving from 2.5.6 to 2.5.4 solved the issue so it seems like an issue in 2.5.6. It might be fixed in 2.5.7 but I can't update to that library yet due to my xamarin profile. I will close this for now.

Thanks

[2018-12-05 14:46] #1019 closed

[2018-12-06 09:46] Stonekity opened #1021 "io stream close is incorrect"
![issue](https://user-images.githubusercontent.com/3970392/49575739-65910b00-f97e-11e8-9978-0c20375072be.png)

decorate stream should close the outside stream, but not only inside stream ?
in the screenshot above, we should call JsonReader.close(), not InputStream.close()

[2018-12-06 10:22] RichardMaxd commented on #1000
I tested it on a real 5.1.1 device today and the crash did not occur.

The repro steps are quite simple:
- Run my test project on any emulator running Android 5.1.1 (API 22)
- Wait for it to crash (within 10-20 seconds) or use the garbage collector multiple times to make it occur more frequently

It happens every time. Seems like an emulator issue to me..

[2018-12-08 07:12] 2534290808 opened #1022 "Is there any plan to apply to flutter?"
Is there any plan to apply to flutter?

[2018-12-09 02:17] gusthavosouza commented on #1021
I think it's not incorrect.
Remember the principal InputStream is ALWAYS the same independently what's the inner class they are used for, because they share the same reference. So this principal InputStream we need ensure that resource is closed on this inner finally or on your method call.
I think this code can be replaced by a call to try-with-resources to close JsonReader and InputStreamReader

[2018-12-09 06:55] ashwindmk commented on #389
I am using androidx, hence I need to exclude support group. Still getting the error.

[2018-12-09 18:23] gpeal opened #1025 "Lottiefiles animation crashes"
https://www.lottiefiles.com/1754-graminsta-app

[2018-12-09 21:55] gpeal commented on #998
@iamdangerous recycleBitmaps will be removed from the next version of Lottie so you don't have to worry about it anymore.

[2018-12-09 21:55] #998 closed

[2018-12-09 21:56] gpeal commented on #988
@oneuglybastard bump

@bodymovin any reason why this would be happening?

[2018-12-09 22:06] gpeal commented on #774
Duplicate of #388

[2018-12-09 22:06] #774 closed

[2018-12-09 22:06] gpeal commented on #481
Duplicate of #388

[2018-12-09 22:06] #481 closed

[2018-12-09 22:08] #1025 closed

[2018-12-09 22:11] gpeal commented on #1021
@Stonekity @gusthavosouza Looking through the code, the only one that seems important to close is the original io stream. The others just null out values/set the state in such a way that they can't be used again.

I can't use try with resources since it was added in KitKat.

Do either of you think that further action is needed here?

[2018-12-09 22:41] #970 closed

[2018-12-10 03:07] gusthavosouza commented on #1021
@gpeal like I said the only one we need ensure to be closed is the original(principal) io stream.
I was thinking about that try with resources was added in android KitKat :)
I think is not necessary, maybe my answer was a little confused.
Let's wait Stonekity answer.
Thanks :_)

[2018-12-10 08:31] aliguvenc commented on #993
hey @LeviWiz , i found a work around for that.

I was loading lottie animation on pre versions 2.7.0 like
 `LottieComposition lottieComposition = LottieComposition.Factory.fromInputStreamSync("animationName", true)`

and on versions pre 2.7.0, if an any exception occurs, sdk was throwing runtime exception.

On versions greater than 2.7.0 they made some changes and if any exception occurs, composit

[2018-12-10 08:31] #993 closed

[2018-12-10 10:46] AmyNgithub commented on #1015
@SAYEDALISINA93 Not necessarily the device's fault. Which browser did you use?

[2018-12-10 19:23] Anzhi-Meiying opened #1028 "How does the anim width fill the screen？"
And scale and cling to the bottom or top of the screen at the same ratio, I really want to get the answer. **** Thank you…

[2018-12-10 22:29] gpeal opened #1029 "Clean up recycleBitmaps docs"
https://github.com/airbnb/lottie-android/pull/1013#issuecomment-444733574

[2018-12-11 01:56] bodymovin commented on #988
hi, can you try using the latest version 5.4.2?
The previous version was exporting hidden fills and strokes that were picked up by the native players.
If using the latest exporter doesn't work you can try removing the stroke and fill properties that are disabled from the AE composition.

[2018-12-11 02:45] Anzhi-Meiying commented on #1028
How to ensure the integrity of the animation view.I don't want to crop anim…

[2018-12-11 02:52] Anzhi-Meiying commented on #1028
Can setScale() solve this problem for me?

Sample.Is there a Java version of this code?

 val minScale = minScale()
                    val maxScale = maxScale()
                    val scale = minScale + progress / 100f * (maxScale - minScale)
                    animationView.scale = scale

[2018-12-11 15:26] hkchakladar opened #1030 "animationView.loop(true); deprecated, what is the replacement method for it?"
animationView.loop(true); method is showing deprecated in v2.8.0

What is it's replacement method to enable/disable loop?

[2018-12-12 03:14] gpeal opened #1032 "Crash in test"
[code]
Lamoda-anim_favourites

[2018-12-12 03:59] SAYEDALISINA93 commented on #1015
@AmyNgithub I am using Google Chrome and sometimes Safari.

[2018-12-12 06:56] AmyNgithub commented on #1015
OK. For me it worked in Chrome earlier. However when I try now I get the error that the file failed to load... But at least the editor loads.

[2018-12-12 07:45] gpeal commented on #1028
@Anzhi-Meiying `centerInside` then.

[2018-12-12 07:50] gpeal commented on #444
Closing this as it has not been a priority.

[2018-12-12 07:50] #444 closed

[2018-12-12 14:51] anitoledo opened #1034 "Animation doesn't play completely"
I was using AndroidStudio and thought that maybe there was something with my code because the last frames of the animation where not right, it was supposed to disappear, now I'm trying with react native and it does the same, for ios is working fine but for android the last frames are cut.

![image](https://user-images.githubusercontent.com/41924776/49877446-6baa4000-fdf3-11e8-9bb4-46469b380bba.png

[2018-12-12 15:34] gpeal commented on #1034
@anitoledo Can you attach the animation?

[2018-12-12 15:38] anitoledo commented on #1034
Sure, it's a json and didn't let me attached it but this is the code.

`{"v":"5.2.1","fr":25,"ip":0,"op":30,"w":2208,"h":2208,"nm":"Comp 1","ddd":0,"assets":[],"layers":[{"ddd":0,"ind":1,"ty":4,"nm":"logo contornos","sr":1,"ks":{"o":{"a":1,"k":[{"i":{"x":[0.833],"y":[0.833]},"o":{"x":[0.167],"y":[0.167]},"n":["0p833_0p833_0p167_0p167"],"t":21,"s":[100],"e":[0]},{"t":30}],"ix":11},"r":{"a":0,"k":0,

[2018-12-12 16:30] gpeal commented on #381
@talentqing I'm going to re-investigate this.

[2018-12-13 11:45] Sergio-Tomasa opened #1036 "Gradients Highlight Angle"
HI,

Is there a way or plan on supporting Highlight angle feature on lottie? It already works on Bodymovin but lottie always make the radial gradients from the center out.

Thanks

[2018-12-13 12:01] originx commented on #1034
I dont know if its related but we have an issue where AnimationEnd is called but the progress on the lottie view is not 1f but: 0.999175

[2018-12-13 14:50] matantedw opened #1038 "Android Animation Crashing"
Hoping someone will be able to help or advise as been struggling with this one for several hours/days now

We have a loader animation which works fine for Web & iOS but is crashing our app (as well as the Lottie Preview) app on Android

I have taken several steps already including removing layer from layer from the animation to isolate the issue and whilst it has been narrowed down - repeated upda

[2018-12-13 18:53] armanhi opened #1039 "NullPointerException in LottieDrawable.recycleBitmaps() when set the property "android:src" for LottieAnimationView"
When setContentView(R.layout.activity_home) is called, the following error is raised:

Exception Message:
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.airbnb.lottie.LottieDrawable.recycleBitmaps()' on a null object reference at com.airbnb.lottie.LottieAnimationView.recycleBitmaps(LottieAnimationView.java:256) at com.airbnb.lottie.LottieAnimationView.setImag

[2018-12-14 01:32] gpeal commented on #1039
Was fixed by https://github.com/airbnb/lottie-android/pull/1013

[2018-12-14 01:32] #1039 closed

[2018-12-14 05:30] NewOrin commented on #1032
I have this crash in my project, can u tell me how to solve this?
It's the json file's problem or lottie bug?
thx.

[2018-12-14 07:50] yalematta commented on #1038
How are you using your zip file? Inserting it in your assets folder? Which path are you using?

[2018-12-14 09:42] groenroos commented on #409
Is this planned to be supported soon? I'm once again finding myself in need of Skew support, and I haven't managed to come up with any workable alternatives or workarounds, either.

[2018-12-14 14:38] reallynattu commented on #1015
@AmyNgithub where are you loading your animation from?

[2018-12-14 16:17] eygraber opened #1041 "addAnimatorUpdateListener called with a null animatedValue"
I have a crash report from clients where `addAnimatorListener` is called with an `animation` that has an `animatedValue` of null.

I can't repro this, but it's happening on a Samsung  SM-G950U running 8.0.0

[code]

[2018-12-14 22:57] gpeal commented on #1041
@eygraber Can you attach the animation this happens with?

[2018-12-14 22:58] gpeal commented on #1041
@eygraber Do you have other information? Is it *always* the same device, always 8.0, always Samsung, etc?

[2018-12-14 23:00] gpeal commented on #1018
I'm going to close this as likely a build specific issue. If you can reproduce this, please attach a project that does.

[2018-12-14 23:00] #1018 closed

[2018-12-14 23:00] gpeal commented on #1017
I'm going to close this as likely a build specific issue. If you can reproduce this, please attach a project that does.

[2018-12-14 23:00] #1017 closed

[2018-12-14 23:01] gpeal commented on #978
This is fixed as of that PR.

[2018-12-14 23:01] #978 closed

[2018-12-14 23:07] gpeal commented on #1021
@Stonekity

[2018-12-15 21:05] #1032 closed

[2018-12-15 21:40] gpeal opened #1044 "Add optimizations for default transformation and static animations"

[2018-12-15 21:41] #1029 closed

[2018-12-15 23:31] #979 closed

[2018-12-16 01:15] #1044 closed

[2018-12-16 01:38] gpeal commented on #1021
Going to close this unless otherwise noted.

[2018-12-16 01:38] #1021 closed

[2018-12-16 01:39] gpeal commented on #381
Fixed by #1048

[2018-12-16 01:39] #381 closed

[2018-12-16 01:40] gpeal commented on #988
I think this is some combination of an old version of after effects and hidden layers (which Lottie now supports).

[2018-12-16 01:40] #988 closed

[2018-12-16 01:45] gpeal commented on #1001
@supbrosef Can you attach the aep for this? It is difficult to debug without it. You can zip it and attach it as a zip.

[2018-12-16 02:01] #1038 closed

[2018-12-16 18:48] AndroidDeveloperLB commented on #381
@gpeal So no need anymore for this API of enabling HA ?

[2018-12-16 20:14] gpeal opened #1055 "Add support for multiply blend mode"

[2018-12-16 21:33] #1001 closed

[2018-12-17 03:39] SAYEDALISINA93 commented on #1015
@AmyNgithub I earlier it works for me too and now it is not working but I have found this link:
https://bodymovin-editor.firebaseapp.com/

[2018-12-17 03:41] SAYEDALISINA93 commented on #1015
@reallynattu does it matter from where we are loading animations?

[2018-12-17 06:45] AmyNgithub commented on #1015
@reallynattu  I'm simply picking one from lottiefiles.com ex: https://www.lottiefiles.com/305-loader-4 and then I press the editor button (small paintbrush). Now it works for me from chrome again so was probably a temporary error I had before. Safari still doesn't work though.

[2018-12-17 07:47] gpeal commented on #381
@AndroidDeveloperLB Correct, this will now be automatic and no manual work will be needed. The existing APIs were also removed. It will be in the next version that I'm preparing. Stay tuned. Not sure if it will be 2.9 or 3.0.

[2018-12-17 07:50] AndroidDeveloperLB commented on #381
@gpeal Good. Last time you were pessimistic about when I should enable it. :)

[2018-12-17 09:42] SAYEDALISINA93 commented on #1015
@AmyNgithub, for now, it has a secure connection problem as I think their server is under maintenance

[2018-12-17 17:33] saurabhkpatel commented on #1000
@gpeal Is there any update on it? Any workaround? It happens on an emulator running Android 5.1.1 (API 22)

[2018-12-17 18:41] ionull commented on #795
Any idea how to combine another drawable to some element in LottieAnimationview? I read the document, and for now, only basic properties can be changed like color, opacity etc.

[2018-12-17 23:37] gpeal commented on #795
@ionull You could use an image with `ImageAssetDelegate` then render your drawable to a bitmap if it is static.

[2018-12-17 23:43] gpeal opened #1058 "Investigate hardware acceleration performance on older devices"
Test motorcycle on 5.1.1 (api 22)

[2018-12-17 23:46] gpeal commented on #1000
@saurabhkpatel I can't get this to crash. I've tried the attached project and also the motorcycle animation in the sample app.
I created a Nexus 5X API 22 x86_64 emulator.

[2018-12-18 03:19] gpeal opened #1059 "Drinks animation broken in sample app"
Broke in 72943d88

[2018-12-18 04:19] ionull commented on #795
@gpeal it's a moving element :(

[2018-12-18 06:46] bilalwarind955 opened #1060 "error while running this demo project"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2018-12-18 17:49] eygraber commented on #1041
@gpeal working on getting the animation. So far there's been 8 crashes for one user.

[2018-12-18 21:00] #1060 closed

[2018-12-18 21:00] gpeal commented on #1041
@eyegraber What % are we talking here? Is this one user out of millions?

[2018-12-18 21:31] #1059 closed

[2018-12-19 08:09] atif-afridi commented on #1000
i had no animation , the animation was not visible with 2.8.0 on lollipop api 22 and it was fine on O..  i am using 2.7.0 now for all versions

[2018-12-19 08:58] RichardMaxd commented on #1000
Just tested it on a Nexus 5X API 22 x86_64 without Google API's and it didn't occur to me either. Seems like it does not happen on all API 22 emulators. On a Nexus 5X API 22 x86 with Google API's it happens to me all the time.

[2018-12-19 09:30] romantiskt opened #1062 "setProgress crash"
This is a repetitive submission issue caused by a bad network.

[2018-12-19 09:30] romantiskt opened #1063 "setProgress crash"
genymotion simulator -5.1.0 -API 22   768*1280
Below is my lottie:2.5.5 code ,which works properly on **2.5.5**

[code]

When I update to **2.7.0** and change it to the following code, it will generate an exception on the emulator, but it will work properly on the real machine
[code]
The detailed log of the exception generation is as follows

[code]

[2018-12-19 09:38] #1062 closed

[2018-12-19 17:57] gpeal commented on #1041
@sanniou What KeyPath do you have a ValueCallback on?

[2018-12-19 22:09] gpeal commented on #1063
Duplicate of #1000

[2018-12-19 22:09] #1063 closed

[2018-12-21 06:51] baoti opened #1068 "LottieAnimationView.setAnimation leaks jsonReader not closed"
I pass a local json file reader to LottieAnimationView, then open StrictMode, I got a report from logcat:

[code]

[code]

[2018-12-21 13:18] rencsaridogan commented on #1068
I have just tried the same code, with *2.8.0* and the mentioned log was not present. Could you give some more information to re-produce @baoti?

[2018-12-22 10:33] LightSun opened #1069 "Animation works fine on ios. but not works well on android."
Hello, you are build a good project and effect with ae.  but i met a problem with it.
works fine on ios , but not works fine on android,
so i need help.  i had find by myself. so still not resolved.  here is the file, which contains 'json ' and ae files.

![lottie_android](https://user-images.githubusercontent.com/6840323/50389145-2413a480-0761-11e9-9b90-232edbc93dc9.gif)
the center point is stran

[2018-12-23 15:29] Navneet7k opened #1070 "Unable to parse composition, Caused by: java.lang.IllegalArgumentException: Shape data was missing information."
I was trying to create and export an animation from haiku.app . It runs successfully [like shown here](https://share.haiku.ai/fb8c1a48-cf29-4cfd-b73a-edd83d0015b8/latest) on all other formats, but when it is exported as json and added in my app, it is getting a crash and gives an "java.lang.IllegalStateException: Unable to parse composition" error. The error cause is shown as "Shape data was missi

[2018-12-23 16:35] bahmandamia6982 commented on #836
Not worked for me? another way?

[2018-12-24 01:52] LightSun commented on #1069
Anyone can help me?

[2018-12-24 04:19] gpeal commented on #1070
@Navneet7k Lottie only officially supports After Effects. You'll have to file a bug on Haiku for this one.

[2018-12-24 04:19] #1070 closed

[2018-12-24 07:54] pankaj89 commented on #900
Hello,
This is resolved in the latest version but my project is not androidx compatible so i used

``` implementation 'com.airbnb.android:lottie:2.7.0' ```

It worked

[2018-12-26 04:19] caiyoufei opened #1071 "more restores than saves"
lottie version 2.5.5
![image](https://user-images.githubusercontent.com/11989916/50431784-59a6c200-0908-11e9-85e4-d9dd885a5aa3.png)

[2018-12-26 14:18] eygraber commented on #1041
@gpeal there are two `LottieAnimationViews` visible when this crash occurs:

`{"v":"5.4.2","fr":60,"ip":0,"op":840,"w":414,"h":393,"nm":"CroppedAnimation with Image","ddd":0,"assets":[{"id":"image_0","w":1216,"h":686,"u":"images/","p":"img_0.png","e":0},{"id":"image_1","w":99,"h":99,"u":"images/","p":"img_1.png","e":0},{"id":"image_2","w":99,"h":99,"u":"images/","p":"img_2.png","e":0},{"id":"image

[2018-12-26 18:50] #388 closed

[2018-12-27 02:37] romantiskt commented on #1000
I was using lottie:2.5.1 version, migrated to lottie:2.7.0 and got this issue.
As mentioned above, it will crash only in the simulator now, but the real machine is only tested on its own phone, not in the production environment. This crash happens after the application is in the foreground for a period of time, and it will not crash immediately.
[code]

[2018-12-27 07:17] panzhi1 commented on #1071
if you use  lottieAnimatedView.draw(canvas) ,it mus must be used on UI thread .

[2018-12-27 09:50] heeya333 opened #1073 "rippledrawable is not supported because of LAYER_TYPE_SOFTWARE"
For support rippleDrawable as background for touch effect,
I have to set LottieAnimationView layer_type_hardware.
But because of below code,
always set layer_type_software without animating state.
I think it is better to change own view's layer type instead of LAYER_TYPE_SOFTWARE.

  private void enableOrDisableHardwareLayer() {
    boolean useHardwareLayer = this.useHardwareLayer && lottieDrawabl

[2018-12-27 11:14] yamabu commented on #1068
https://imgur.com/a/ZMMOpv8   See this

[2018-12-28 02:41] LightSun commented on #1069
@schleyfox @alexism @ljharb @dryganets

[2018-12-28 06:13] panzhi1 opened #1074 "How to draw each frame of lottie onto the canvas?"
Hello ,
I want to make the lottie content into a video. Is there any good way to draw the contents of lottie to the surfaceview?
please help me.

[2018-12-28 08:15] gulnazghanchi commented on #743
This helped me

git init
git add .
git commit -m "why do I have to do this?"

And then It asked me download build version tool 28. After downloading it. It worked.

[2018-12-28 15:03] alexrest commented on #713
I'm having frame dropping issues too... why was this ticket closed? Did you find a solution?

[2018-12-28 21:47] gpeal commented on #1041
@eygraber What keypaths are you setting callbacks for?

[2018-12-29 15:02] lzhgreat opened #1075 "bug: setProgress() not work somecase"
after setAnimation() with same json file, setProgress() with same value will not work .  My test code:

   mLottie.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                mLottie.setImageAssetsFolder("images/");
                mLottie.setAnimation(json_2);
                mLottie.setProgress(1f);
            }
        });

[2018-12-31 22:54] gpeal commented on #1075
@lzhgreat Can you attach a sample project that reproduces this?

[2018-12-31 22:56] gpeal commented on #1073
@heeya333 Lottie has to use software rendering for certain animations. Some animations (with large masks and mattes) will perform much much worse with hardware rendering than software rendering.

However, the next version of Lottie has a `setRenderMode` API which has `Hardware` `Software` and `Automatic` so you can use that.

[2018-12-31 22:56] #1073 closed

[2018-12-31 22:58] gpeal commented on #1074
@panzhi1 You can use LottieDrawable directly and call `draw(canvas)` on your SurfaceHolder's locked canvas.

[2018-12-31 22:58] #1074 closed

[2018-12-31 22:58] gpeal commented on #1071
@caiyoufei Can you attach your animation?

[2019-01-03 16:33] ntohill95 opened #1076 "Can't get lottie animation to play programmatically - fine in XML"
Hi,

I have added a lottie animation to a fragment. If i set app:lottie_autoPlay="true" in XML then the animation works. However, if I try to start it programmatically in Kotlin in my fragment class it does not play.

XML :
        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/lottie_film_animation"
            android:layout_width="match_parent"
            android:layout_he

[2019-01-04 08:33] LightSun commented on #1069
fix it with AE

[2019-01-04 08:33] #1069 closed

[2019-01-04 08:38] sollian opened #1077 "Mistake with LruCache"
The `LottieCompositionCache` class makes a mistake with`LruCache`.

Your code

[code]

Android doc
[code]

You need override `sizeOf` method to return the size of `LottieComposition`

[2019-01-04 17:03] gpeal commented on #1076
@ntohill95 Can you attach a sample project that repros this?

[2019-01-06 18:42] VitaminPSG opened #1078 "Sample app crashes"
`Stack trace: `
2019-01-06 21:38:03.568 4519-4519/com.airbnb.lottie E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.airbnb.lottie, PID: 4519
    java.lang.IndexOutOfBoundsException: Index: -1
        at java.util.Collections$EmptyList.get(Collections.java:4502)
        at com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation.getCurrentKeyframe(BaseKeyframeAnimation.java:86)
        a

[2019-01-07 07:59] matantedw commented on #1038
@gpeal - could you please give any indication as to when you may be creating a new release with the included (and latest) fixes?

[2019-01-07 16:39] gpeal commented on #1078
@VitaminPSG Can you include repro steps and the animation that caused this?

[2019-01-07 18:04] gpeal commented on #1038
@matantedw I published 3.0.0-beta1 today actually 😄 It's mostly beta just in name but it should be stable.

[2019-01-08 06:44] zhangruize opened #1079 "LottieDrawable set bounds not working"
For some special reasons, I need to use LottieDrawable like `View.getOverlay().add(lottieDrawable)`. But I found the animation content cannot be positioned in center though I set correct bounds via `lottieDrawable.setBounds(...)` after lottie composition loaded.

Is there any way to center LottieDrawable in `View.getOverlay()` ?

[2019-01-08 08:11] zhangruize commented on #1079
I've found a not quite good solution. I override `draw` method of LottieDrawable, and translate the canvas as I want. Is there any better idea?

[2019-01-08 10:47] Abelzzg commented on #913
why you close this ? It just happened in v2.6.0

[2019-01-08 18:02] gpeal commented on #913
@Abelzzg Forgot to link to this but https://github.com/airbnb/lottie-android/pull/1013

[2019-01-09 01:36] sixiangjun commented on #989
I also have the exception eventhought I update lottie to 2.7.0

[2019-01-09 02:00] gpeal commented on #989
@sixiangjun Can you attach the animation?

[2019-01-09 02:00] gpeal commented on #989
@sixiangjun That stack trace is obfuscated. Do you have one that is not?

[2019-01-09 06:20] NewOrin commented on #667
兄弟你解决这个问题了吗？

[2019-01-09 06:39] NewOrin opened #1080 "Unable to parse composition"
Hi, gays. I have a crash on my release app. Crashes rarely happen, I can't reproduce myself. Lottie version is v2.7.0.  and it's only happened in android 8.0 devices.
Here is the log.

` Crashed: main
       at com.airbnb.lottie.LottieAnimationView$2.onResult(LottieAnimationView.java:68)
       at com.airbnb.lottie.LottieAnimationView$2.onResult(LottieAnimationView.java:66)
       at com.airbnb.lo

[2019-01-10 02:31] xiexuesong commented on #731
how do it?

[2019-01-10 02:32] xiexuesong commented on #731
@AhmadKabi how do it to slove blank video?Can you tell me?

[2019-01-10 09:16] xiaofengfeng110 opened #1081 "C++ rewrite"
Lottie now has Android, iOS, web and other versions。 So we want a unified version, how to rewrite with C++?

[2019-01-10 10:25] yudikarma opened #1082 "play animation to slowly (Feature request)"
hi thanks for create animation third party android library for animation .
i want to create some aplication like "Hours Glass"
can i play json animation slowly to same with setting duration.

ex : my hourglass animatin.json have 5 minute duration. then i wan play that to end at 10 minute.
how i do that ?

if want to play in 2.5 minut i just setting speed ;
and if i want to play backward i just set

[2019-01-10 17:10] gpeal commented on #1082
@yudikarma You can call `setProgress(...)` with whatever values you want from 0 to 1 so you can create your own animator/timer/whatever you want to manually control the animation.

[2019-01-10 17:10] #1082 closed

[2019-01-10 17:11] gpeal commented on #1081
@xiaofengfeng110 C++ alone wouldn't give it universal compatibility. If you want to write an opengl/metal/vulkan renderer, that would be a totally separate project. [This](https://skia.org/user/modules/skottie) is the closest thing to that right now.

[2019-01-10 17:11] #1081 closed

[2019-01-10 17:12] gpeal commented on #1079
@zhangruize Can you attach a sample project?

[2019-01-10 22:18] VitaminPSG commented on #1078
@gpeal Steps: Open app -> choose `Dynamic Properties`
this is video: https://vimeo.com/user93762018/review/310664567/c7b8a3b1e2
**lottie_fileName**="AndroidWave.json"

[2019-01-11 02:12] yudikarma commented on #1082
@gpeal i was setProgress(0.5f) but that not make animatin play realy slow.

[2019-01-11 16:10] gpeal commented on #1082
@yudikarma What do you mean? All that happens when you play an animation is that LottieValueAnimator calls `setProgress()` many times. You could write your own timing and call setProgress with whatever values whenever you want.

[2019-01-12 00:39] jianjonathanyang commented on #425
@gpeal What is the API added for looping from a specific frame?

[2019-01-12 02:44] gpeal commented on #425
@jianjonathanyang `setMinFrame` and `setMaxFrame`

[2019-01-12 04:13] nikulcears commented on #174
why this issue has been closed. still there is no solution to play animation **2nd time**

[2019-01-13 08:54] rasoulmiri commented on #667
i have issue to

Caused by java.lang.AssertionError
       at android.util.JsonReader.peek(JsonReader.java:363)
       at android.util.JsonReader.expect(JsonReader.java:308)
       at android.util.JsonReader.beginObject(JsonReader.java:293)
       at com.airbnb.lottie.parser.LottieCompositionParser.parse(SourceFile:42)
       at com.airbnb.lottie.LottieCompositionFactory.fromJsonReaderSync(SourceF

[2019-01-13 15:50] TobiasReich commented on #667
So could we please get an exception wrapping around that? I still hope this might be possible.

[2019-01-14 18:24] mattkenefick commented on #487
Any progress on this?

[2019-01-14 23:40] gpeal commented on #487
@mattkenefick nothing yet

[2019-01-15 17:30] gpeal commented on #1080
@NewOrin Please attach the animation

[2019-01-15 17:31] gpeal commented on #1078
@VitaminPSG The link 404s

[2019-01-15 21:50] Umar3x commented on #647
@gpeal  Im having a similar issue. On android, when displaying more than 4 lotties at the same time, there is a massive fps drop on the app that I don't meet on iOS with same animation. Ive got not warning at all, the animation was designed by a designer that followed what need to be done to have a smooth animation. Btw, with one or two animations its perfectly smooth.
I know my test device is not

[2019-01-16 01:08] gpeal commented on #647
@Umar3x please try 3.0.0-beta1

[2019-01-16 03:59] B100402352 commented on #667
I met the same problem in Android8.0.0,荣耀BND AL10，but i don't know how to fix it.

1 java.lang.IllegalStateException:Unable to parse composition
--
2 com.airbnb.lottie.LottieAnimationView$2.void onResult(java.lang.Throwable)(LottieAnimationView.java:68)
3 ......
4 java.lang.AssertionError:
5 android.util.JsonReader.peek(JsonReader.java:363)
6 android.util.JsonReader.expect(JsonReader.java:308)
7 a

[2019-01-16 04:16] B100402352 commented on #667
May be it's because "context.getResources().openRawResource" cannot work correctly in background thread when starting?

[2019-01-16 06:12] yudikarma commented on #1082
Hi @gpeal, first i want to say sorry because i don't know if we can use AnimatorValue that corresponds to the duration parameter we gave. Now I have implemented the Animator value with Lottie animation, nut now I have a  Confusion on how to apply reverse in it. because when I call animatorvalue.reverse (); my lottieanimation not play reverse.

this my code for Animator value and lotttieanimationvi

[2019-01-16 07:09] askarali opened #1085 "How to restart the animation.I want to start the animation when i click a button and when i click it again i need to restore the animation to first state. I have set the progress is 0 and paused but i doesn't work for me"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Simplify your animation to the simplest animation that reproduces the issue.
* Attach your After Effects file.

If this is a feature request:
* Explain what feature you would like and why you need it. There are usually After Effects
workarounds that we can provide

[2019-01-16 13:21] guaard commented on #61
Hello, I have a problem when I do the exportation. I have only a fix background ...
I think is related to my precomps. I have the version 5.3.4.
Thank you in advance for your help !

[test.aep.zip](https://github.com/airbnb/lottie-android/files/2764311/test.aep.zip)

[2019-01-17 15:44] saketkumar opened #1086 "Lottie Animation in Styles.xml file"
When my app starts MainActivity launches but before launching  I have added a theme in my launcher activity as  **android:theme="@style/AppLauncherTheme"**

AppLauncherTheme has the drawable which I am using as full screen and changing the theme after 3 seconds dynamically. So there is no SplashActivity. Now I want to have a lottie animation when launched.

So how can I add the lottie in my styles

[2019-01-17 19:41] gpeal commented on #1086
@saketkumar You would need a `LottieAnimationView` or programmatic access to a drawable. You would probably need a SplashActivity to achieve this.

[2019-01-17 19:42] #1085 closed

[2019-01-18 04:41] pan8082 opened #1087 "Android lottie renders different with json file"
Hello,

We are facing a issue of the animation of json file works fine,
https://www.lottiefiles.com/share/QPZYg2#
but on android lottie the trim path animation is not working.
![ezgif com-crop](https://user-images.githubusercontent.com/13531828/51365980-b7988500-1b15-11e9-9c76-47b45da9bcf0.gif)

Here is the AEP file
[Clock-AE.zip](https://github.com/airbnb/lottie-android/files/2771629/Clock-AE.zip

[2019-01-18 10:20] amid67 commented on #747
I received this error on android P and be crashed

Invalid Layer Save Flag - only ALL_SAVE_FLAGS is allowed com.airbnb.lottie.model.layer.BaseLayer.draw

[2019-01-18 16:32] gpeal commented on #747
@amid67 Upgrade Lottie

[2019-01-20 21:21] belka0107 opened #1088 "Play animation back and forward continuosly"
Hello.
Please help me to understand how is possible play animation forward and back continuosly? Now with code:

intervals:
`descriptionAdapter.intervals = arrayListOf(
Triple(0.0f, 0.12f, 0.28f),
Triple(0.3f, 0.36f, 0.56f),
Triple(0.64f, 0.85f, 0.95f)
)`

`
val holder = p0 as DescriptionItem
var loopCount = 0
holder.descriptionAnimationView.clearAnimation()
    if (position == -1) {
        holde

[2019-01-21 04:03] wangkaitutu opened #1089 "JsonRead java.lang.AssertionError"
The version I used is 2.5.4, and there are the following problems. I have checked the question bank and found similar problems, but I did not explicitly say whether they have been solved.

01-21 10:44:37.221 29312 29503 E AndroidRuntime: FATAL EXCEPTION: AsyncTask #4
--
13901-21 10:44:37.221 29312 29503 E AndroidRuntime: Process: com.esky.echat, PID: 29312
14001-21 10:44:37.221 29312 29503 E Andro

[2019-01-21 18:41] akshaymathur90 commented on #1071
I am also getting the same crash, only on **Huawei phones** running **Android 9**
Lottie Version: 2.5.5

java.lang.IllegalStateException: Underflow in restore - more restores than saves
	at android.graphics.Canvas.restore(Canvas.java:605)
	at com.airbnb.lottie.model.layer.CompositionLayer.b(CompositionLayer.java:75)
	at com.airbnb.lottie.model.layer.BaseLayer.a(BaseLayer.java:127)
	at com.airbnb.l

[2019-01-22 17:18] gpeal commented on #1088
@belka0107 Instead of relying on Lottie's animator, you can handle the animation timing yourself just just call `setProgress(...)` with whatever values you want in your animator. That's all Lottie does under the hood.

[2019-01-22 17:18] #1088 closed

[2019-01-22 20:30] gpeal opened #1090 "Support polystar direction"

[2019-01-23 16:54] baoti commented on #1068
@rencsaridogan I wrote a test case:

[code]

[2019-01-23 19:29] tomblenz opened #1091 "Large animation occasionally does not play"
I've got a 615kb animation file which is loaded into a recyclerview item (which is not reused) and played via:
[code]

Half of the time it works, the other half of the time it does not begin playing and sits at 0%.

The anim contains merge paths and this error comes up a few times while the animation is being loaded.
[code]
Adding either of the following to the view does not supress the error or a

[2019-01-25 05:45] gpeal commented on #778
@EmilAlipiev Lottie has no default background. It is transparent by default.

[2019-01-25 05:47] gpeal commented on #1091
@tomblenz the xml and calling playAnimation() do pretty much the same thing and either should work before the animation is finished loading. I've never seen or heard of anybody having this problems so it's tough to debug without an animation. You can try changing some values in the animation and posting it or trying an animation from lottiefiles in your app to see if it behaves the same.

If you c

[2019-01-25 05:48] gpeal commented on #1089
@wangkaitutu Please attach the animation

[2019-01-25 06:07] wangkaitutu commented on #1089
Only some mobile phones have this problem, and the mobile version is basically above 8.0

[2019-01-25 06:08] wangkaitutu commented on #1089
Only some mobile phones have this problem, and the mobile version is basically above 8.0

[2019-01-25 23:29] inemnitable opened #1092 "Multiple successive calls to LottieCompositionFactory.cache() with a null cacheKey return the same LottieTask"
This is making multiple successive calls to LottieComposition.Factory methods for different input streams return the same composition, preventing easy upgrade.

[2019-01-26 17:21] harshrajpurohit commented on #936
Sometimes cleaning the project might not work and so will reinstalling anything (be in Android Studio or any other component). In my case, Aapt2.exe was renamed from a virus. Deleting the folder of aapt2-3.2.0-(version) from the directory from where the gradle was building (from the cached state).Building the project after that solved the error.

[2019-01-27 19:16] tomblenz commented on #1091
@gpeal Unfortunately I don't have the time right now to dedicate to this - I just thought I'd bring the bug to your attention.  The workaround (autoPlay) works fine for me.  Feel free to close if not bothered :)

After release I may be able to get my client to release the asset for debugging (or I may have time to do it myself).

[2019-01-28 01:05] gpeal commented on #1091
Okay. Unfortunately this isn't actionable as is but I'll keep an eye out for it.

[2019-01-28 01:05] #1091 closed

[2019-01-28 01:07] gpeal commented on #1089
@wangkaitutu What pattern/specific brands, etc?

[2019-01-28 16:25] robbbsen commented on #740
Depends on the animation. Learning after effects is a bit like cracking a nut with a sledgehammer. My first try would be opening the animation in something like notepad++ and search for the _current_ text. If you are lucky you can just replace it.

Answering generally "learn AE" is a bit too much.

[2019-01-28 18:15] KennyGoers opened #1093 "enableMergePathsForKitKatAndAbove not working"
The attached animation plays perfectly fine when enableMergePathsForKitKatAndAbove
 is set to false or not specified at all but prints a warning that the animations contains merge paths. When enableMergePathsForKitKatAndAbove == true the animation animates but  looks incorrect.  I've attached the animation and I have a basic app package, but the "bad image" is reproduced in all variants I've seen.

[2019-01-29 13:56] jeremybviseo commented on #1034
I've experienced the same behaviour on Android with lottie-react-native.
In my case, I have to use "play" method with start/end frame parameters :

`this.animation.play(0, jsonAnimation.fr);`

[2019-01-29 18:51] MONIKA-KUMAR-JETHANI commented on #1076
Hi @ntohill95 , Is the issue still occurring?

[2019-01-29 18:52] MONIKA-KUMAR-JETHANI commented on #894
Hi @gpeal , Is this issue open?Can you please describe the issue?

[2019-01-29 18:53] MONIKA-KUMAR-JETHANI commented on #401
Hi @gpeal , Is this issue open? Can I start work on this?

[2019-01-29 19:30] gpeal opened #1094 "Harden Zip Downloading"

[2019-01-30 01:48] gpeal commented on #401
@MONIKA-KUMAR-JETHANI Sure

[2019-01-30 01:48] #1076 closed

[2019-01-30 01:50] gpeal commented on #894
@MONIKA-KUMAR-JETHANI [This](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/animation/content/RectangleContent.java#L158) was never implemented.

[2019-01-30 11:09] Umar3x commented on #647
@gpeal

Can't do that, cause I'm on Xamarin .NET and 3.0.0-beta1 not available on this package. Just one question, what could cause that in actual version, if may be fixed in 3.0.0-beta1 ?

[2019-01-30 14:10] saketkumar commented on #284
@gpeal I'm using the LottieAnimationView in my splash screen. How to load the json fast to avoid white screen.

Currently the flow is :

White screen(for max 2-3 seconds) -> LottieAnimationView -> MainActivity.

How to solve this ?

[2019-01-30 19:12] saketkumar opened #1095 "Animation takes a long time to appear"
I'm trying to show the lottie animation on my splash screen. Below is the code for my SplashActivity. I'm adding delay of 2.5 secs to display the splash and firing an intent to MainActivity after this. But still no animations shows up till 2.5 secs. It just shows white screen. I added 5 secs then it shows up. But I don't want to do like this. I just want to show the animation in 1 sec.

    super.

[2019-01-30 21:16] shonshampain opened #1096 "Larger Animation w/ Merge Paths does not start/play"
Minimum app showing the issue is here:
https://github.com/shonshampain/LottieSandbox
Run the apk, notice that one animation does not start
Remove the app:lottie_enableMergePathsForKitKatAndAbove="true" lines from activity_main.xml and re-run and notice that the animation that does not start has its background covering up "something"
Change copy "transparent.png" in the assets folder over "img_0.pn

[2019-01-31 01:42] gpeal commented on #1095
@saketkumar Lottie has to parse your json file prior to rendering it. You can try to simplify the json file by reducing keyframes, vertices, and making sure that you don't bake in keyframes. How big is your json file?

[2019-01-31 01:42] gpeal commented on #647
@gpeal Mattes and masks are 2-10x faster with 3.0

[2019-01-31 01:43] gpeal commented on #1071
@caiyoufei @akshaymathur90 Are you both seeing this exclusively on Huawei phones running P?

[2019-01-31 02:04] Abelzzg commented on #1080
I have the same crash,this's my animation

`{"v":"5.4.1","fr":30,"ip":0,"op":20,"w":60,"h":42,"nm":"1","ddd":0,"assets":[],"layers":[{"ddd":0,"ind":1,"ty":4,"nm":"不动腿","parent":5,"sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":0,"k":[44.125,468.375,0],"ix":2},"a":{"a":0,"k":[0,0,0],"ix":1},"s":{"a":0,"k":[100,100,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"d":1,"t

[2019-01-31 05:15] saketkumar commented on #1095
@gpeal All my json files are < 100kb. Still taking too much time.

[2019-01-31 11:48] saketkumar commented on #1095
Still facing the same issue. Is there any way that we can avoid it after first launch ? on every launch it is rendering slow. @gpeal

[2019-01-31 12:42] smborgesMobile commented on #925
This issue is already fixed in V2.7.0.
Thank you so much.

[2019-01-31 17:08] akshaymathur90 commented on #1071
@gpeal Yes, We are seeing this exclusively on Huawei and Honor Devices running Android P.

[2019-02-01 01:55] gpeal commented on #1095
@saketkumar For subsequent launches, you warn the cache just by using the `LottieCompositionFactory` methods with a cache key. The next time you call it, it'll just return the pre-parsed composition.

[2019-02-01 01:56] gpeal commented on #1071
@akshaymathur90 Do you have any test devices you can test with yourself? It's not easy for me to get a hold of one of them.

[2019-02-01 06:04] saketkumar commented on #1095
Is this the method https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieCompositionFactory.java#L99 ? Can you please explain more ? @gpeal

[2019-02-02 03:46] Ma-lian commented on #1080
I also have this crash,because I have two json files in raws and i load them in the same time,this will cause two threads operate one arrayList in the same time。so the solution is i load them by using LoadAnimationView.addLottieOnCompositionLoadedListeneadd to make sure load them in order!

[2019-02-02 17:17] neuberfran commented on #955
https://github.com/neuberfran/firebase

[2019-02-02 20:03] gpeal commented on #1095
@saketkumar If you use the file name method, it will automatically put the serialization task and composition in a cache. So, you can just call that function with no listeners when you want to start getting it ready for the cache then call it again when you actually need it.

[2019-02-02 20:04] gpeal commented on #1071
@akshaymathur90 Okay, if you get a hold of one and are able to reproduce, I may ask for your help debugging here as the code should run exactly the same on different devices.

[2019-02-02 20:04] gpeal commented on #1071
@akshaymathur90 Also, try disabling hardware acceleration if you have turned it on.

[2019-02-02 20:06] gpeal commented on #1080
@Ma-lian which ArrayList are you referring to?

[2019-02-02 23:13] gpeal commented on #1078
Fixed by #1084

[2019-02-02 23:13] #1078 closed

[2019-02-02 23:20] gpeal commented on #987
@florianPOLARSTEPS Thank you very much!

[2019-02-03 00:02] #1092 closed

[2019-02-03 00:06] gpeal commented on #733
@maxbaldrighi Are you still having an issue with this?

[2019-02-03 00:17] gpeal commented on #1079
I think translating for your specific use case is fine. Most of the time, ImageView scaleType is what you would use to achieve this.

[2019-02-03 00:17] #1079 closed

[2019-02-03 00:30] #1075 closed

[2019-02-03 00:37] #987 closed

[2019-02-03 06:43] #1077 closed

[2019-02-05 11:51] Mennattu opened #1102 "white line appears in the middle of objects in lottie animation"
I'm working on animations for ios and android applications
I recently exported an ae animation with bodymovin to a json file. The export shows white lines in the middle of some objects in my file.
when the json file was imported into android studio the lines appeared as shown in the image provided  and the developers sent screenshots showing this problem, so I checked if the transformation with sc

[2019-02-05 22:04] akshaymathur90 commented on #1071
@gpeal i was able to reproduce the issue on a Huawei P20 Pro running Android P with a Test App containing the animation.
Along with the above mentioned crash i saw the below Native crash. I have attached the logs

[Huawei_Native_Crash.txt](https://github.com/airbnb/lottie-android/files/2834064/Huawei_Native_Crash.txt)

Also hardware acceleration is turned off.

[2019-02-05 22:23] gpeal commented on #1071
@akshaymathur90 Interesting. Does this happen 100% of the time?
I could really use your help here if you have some time to help debug this.
It would be great if you could pare down the animation until you can find the exact root part of the animation that is causing the crash.

[2019-02-05 23:06] akshaymathur90 commented on #1071
@gpeal Yes, it happens 100% of the time. I can work with you to debug this.
let me nail down the root part of the animation.

[2019-02-06 00:52] gpeal commented on #1071
@akshaymathur90 Thank you very much!

[2019-02-06 23:13] akshaymathur90 commented on #1071
@gpeal I took the latest source code from github and imported it in my project. The app does not crash anymore on Huawei phone while playing the animations. Do you know when the next version will be released? Also, what would have fixed the issue?

[2019-02-07 14:46] mavesonzini opened #1106 "Load multiple images simultaneously at run time"
I have a AE animation with many assets that I want to replace at run time with client images. I've tried doing it with setImageAssetDelegat, but this only returns a bitmap, replacing ALL my placeholders with the SAME image. Is there a way to do this with different images, all loaded to the animation at the same time to be displayed together? thanks

[2019-02-07 16:15] gpeal commented on #1071
@akshaymathur90 Hah, that's great! Quite a lot has changed under the hood but the biggest one is that it saves and restores a much smaller surface area when you use masks and mattes which has a huge performance and memory benefit. Does your animation have masks or mattes?

I'll be releasing an rc in the coming weeks. However, beta1 is very stable and passes all tests so you may upgrade if you want

[2019-02-07 16:15] #1071 closed

[2019-02-07 17:59] gpeal commented on #1106
@mavesonzini Can you give them unique assets in the original after effects animation?

[2019-02-08 10:17] mavesonzini commented on #1106
The original AE animation has png placeholders. This placeholders need to be replaced with images from the client phone when the animation starts running.

[2019-02-08 10:56] hoyeolee opened #1107 "W/LOTTIE: Unable to open asset."
Hi, great job with the lottie,

W/LOTTIE: Unable to open asset.
    java.io.FileNotFoundException: images/bird_img_4.png

It worked 30 minutes ago, but now it doesn't work. I don't know why..
I set the images folder, images are not big.
I'm using the 2.7.0 version.
Any idea for this?

[testtest.zip](https://github.com/airbnb/lottie-android/files/2844706/testtest.zip)

[2019-02-08 15:18] bijuC1983 commented on #482
@OzgurSe We are facing the same issue & I am curious how you were able to get past it.

[2019-02-08 15:31] disparate opened #1108 "Problem with drawing lotties with raster images on locked canvas."
I can't draw lotties with raster images on locked canvas (I'm trying to do it on live wallpapers). It seems like no images are drawn, only vector parts.
It works ok on simple lotties and no bug is reproduced when using LottieAnimationView.
Here is the SSCE: https://github.com/disparate/Lottie-surface-issue/tree/master/app/src/main/java/wallpapers/appcraft/com/lottieimagesissue
Version : 3.0.0-beta

[2019-02-08 15:34] OzgurSe commented on #482
Sorry, I don't remember how did I solved that exactly, I guess I removed mask effects.

[2019-02-10 09:55] voidstarfire commented on #802
Upgrading to 2.7.0 causes a whole load of build errors for me.`private LottieAnimationView.CacheStrategy cacheStrategy;` just one example.

Any ideas?

[2019-02-10 10:02] AndroidDeveloperLB commented on #802
@voidstarfire Better ask this in a new issue...

[2019-02-10 18:14] gpeal commented on #1106
@mavesonzini Right, but you should have a unique placeholder for each image you want to replace so you can identify it.

[2019-02-10 18:15] gpeal commented on #802
@voidstarfire The API changed in 2.7.0 and caching now happens automatically and with a LRU cache. You can remove those calls.

[2019-02-10 18:20] voidstarfire commented on #802
They only way I could fix this way by also forcing support libs for 28

[code]

[2019-02-10 23:24] jossuediazperez commented on #626
Entiendo cual es tu inquietud, es lo mismo que necesito pero no creo que con Lottie no lo puedas conseguir, debes encontrar una animación que contemple los casos de éxito y error sin que el cambio para cada caso en la animación se brusco, ademas debe tener en cuenta que la carga puede ser por un tiempo indefinido.

[2019-02-11 01:02] petma opened #1109 "LottieSample crash"
I clicked "Dynamic properties",then crashed, I used genymotion's android 9.0 to test the app

  java.lang.IndexOutOfBoundsException: Index: -1
        at java.util.Collections$EmptyList.get(Collections.java:4502)
        at com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation.getCurrentKeyframe(BaseKeyframeAnimation.java:86)
        at com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimati

[2019-02-11 05:24] gpeal commented on #1109
Duplicate of #1078

[2019-02-11 05:24] #1109 closed

[2019-02-11 05:25] gpeal commented on #1108
@disparate I don't have time to investigate this for live wallpapers right now. If you are able to solve it, I would probably accept a PR though 😄

[2019-02-11 05:27] #487 closed

[2019-02-11 05:28] muchen1 commented on #1089
@gpeal ，I have the same problem。My version is 2.5.5.1，the crash was happened on Andorid 8.1 and 8.0。Will this problem resolve if I upgrade the version to 2.6.0？ https://github.com/airbnb/lottie-android/issues/667

[2019-02-11 06:08] gpeal commented on #1089
@muchen1 Will you try 3.0.0-beta1?

[2019-02-11 06:14] wangkaitutu commented on #1089
The highest version is 2.8.0, not seen 3.0.0-beta1

[2019-02-11 06:45] muchen1 commented on #1089
But our supports projects have not been migrated to androidx，we can't upgrade the version above 2.8.0。Only upgrade 3.0.0-beta1 can resolve this problem？

[2019-02-11 07:00] muchen1 commented on #1089
Or can you tell me how to find the place that cause the problem in my animation files？

[2019-02-11 08:24] disparate commented on #1108
I investigated a bit and found out that it happened because Callback was not set for lottie drawable. And because of that LottieDrawable couldn't create imageAssetManager to get bitmaps.
The issue was fixed after setting callback.

[2019-02-11 08:24] #1108 closed

[2019-02-11 18:32] nichojo89 commented on #802
This is also effecting our app and we use a ton of lottie hence if lottie doesnt fix this soon we will have to delete over a dozen lottie animations. Is Xamarin Lottie dead or is there a delayed fix?

[2019-02-11 18:33] nichojo89 commented on #802
Only on Android P

[2019-02-11 20:51] gpeal commented on #1089
@muchen1 It is on maven central

[2019-02-12 05:59] MrNinja commented on #106
@gpeal Could I programmatically create an rounded corner LottieAnimationView in Android like iOS?

[code]

[2019-02-12 07:12] gpeal commented on #106
@MrNinja Yes, you can use an [OutlineProvider](https://developer.android.com/reference/android/view/View.html#setOutlineProvider(android.view.ViewOutlineProvider)) on which you can [setRoundedRect](https://developer.android.com/reference/android/graphics/Outline#setRoundRect(android.graphics.Rect,%20float))

[2019-02-12 09:57] MrNinja opened #1111 "Round-able LottieAnimationView request"
According `lottie-ios` and `lottie-web`, developer could update the corner of `LottieAnimationView` by default. In Android application, I have to create a new `View` to apply the same effect.

I have an `ImageView` which have a rounded shape for display user's avatar (feature image). However, this `ImageView` could be settled by any animations shape from user. Could you help me by adding some prop

[2019-02-12 15:19] zhangxy1219 commented on #989
Also have the same exception, here is the stack trace:
[code]

[2019-02-13 05:06] MrNinja commented on #106
Thank you for your suggest. Let me read more about it.

[2019-02-13 05:31] guncve opened #1112 "LottieCompositionFactory.java have security issue"
VULNERABILITY DETAILS:
     The unzipped code,like "else if (entry.getName().contains(".json"))" ,it does not do security check on filename in zip file,it could lead to path travel, even cause arbitrary file write into code execution.

REPRODUCTION CASE:
     Because the zip assets may be downloaded or saved in the SD card, it could be malicious tempered by malicious app,
     Suppose a scene，the

[2019-02-13 06:02] #1111 closed

[2019-02-13 06:03] MrNinja commented on #1111
#106 I got the solution at this issue.

[2019-02-13 07:33] gpeal commented on #1112
@guncve I opened #1094 to investigate whether Lottie could be vulnerable to ZipperDown. However, I don't think that it would be an issue for Lottie. Lottie never actually unzips anything to the file system, it just reads the bytes with a ZipInputStream. Looking through the code, do you see a way that this could actually be exploited?

[2019-02-14 03:56] xueweiyang opened #1113 "Listview item will flicker when update to 2.7.0"
I want to support praise function，and after I update to 2.7.0，when I scroll the listview，lottieview will flicker and the state will be wrong.

[2019-02-14 09:09] guncve commented on #1112
I reviewed LottieCompositionFactory.java again,it didn't unzip zipfile or use zipfile name to new file,so it couldn't  vulnerable to ZipperDown.

[2019-02-15 01:07] pparkppark opened #1114 "cache not enabled"
i use lottie 2.8.0.
and load json from url, so i use lottie.setAnimationFromUrl(jsonPath).

in FromUrl Mode, use fileCache but save fileName and load fileName are different.

originUrl : http://front.happypointcard.com/upfiles/appMain/banner/floating/201901071104268207852284518544.json

save fileName : lottie_cache_httpfronthappypointcardcomupfilesappMainbannerfloating20190107110426820785228451854

[2019-02-15 01:30] gpeal commented on #1114
Fixed by https://github.com/airbnb/lottie-android/pull/1040

This is already released in 3.0.0-beta1 (it is stable)

[2019-02-15 01:30] #1114 closed

[2019-02-15 01:31] #1112 closed

[2019-02-15 01:31] gpeal commented on #1113
@xueweiyang Can you create a sample project that reproduces this?

[2019-02-15 03:42] xueweiyang commented on #1113
When I move the invocation of function setAnimation from onViewHolderBind to onViewHolderCreate,the problem has resolved.Thanks for your help and happy new year!

[2019-02-15 03:42] #1113 closed

[2019-02-15 06:16] wxjer commented on #731
@rogererill  Hi, Could you please give me some advice to reslove the blank video with black background?

[2019-02-15 08:17] 456838 opened #1116 "Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.airbnb.lottie.LottieDrawable.recycleBitmaps()' on a null object reference"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.airbnb.lottie.LottieDrawable.recycleBitmaps()' on a null object reference
        at com.airbnb.lottie.LottieAnimationView.recycleBitmaps(LottieAnimationView.java:256)
        at com.airbnb.lottie.LottieAnimationView.setImageDrawable(LottieAnimationView.java:176)
        at com.airbnb.lottie.LottieAnimationView.s

[2019-02-16 03:25] #1094 closed

[2019-02-16 18:16] #1106 closed

[2019-02-16 18:22] gpeal commented on #1093
@KennyGoers Can you attach the aep?

[2019-02-16 18:24] gpeal commented on #1102
@Mennattu I can't open that aep file with after effects cc on a mac. Can you try exporting differently?
![image](https://user-images.githubusercontent.com/1307745/52903626-17498500-31d5-11e9-831b-9ceff5d8a8f7.png)

[2019-02-16 18:25] #1095 closed

[2019-02-16 18:26] gpeal commented on #1096
@shonshampain Can you attach the original AEP?

[2019-02-16 18:41] gpeal commented on #1089
I'm pretty sure that this is related to multiple reads of the same file at the same time. 2.6.0 and above will join existing composition tasks and I'm pretty sure this problem will go away. Let me know if you see this on 3.0.0-beta1 (beta2 coming out soon).

[2019-02-16 18:41] #1089 closed

[2019-02-16 20:34] #409 closed

[2019-02-16 21:14] #1087 closed

[2019-02-16 22:40] gpeal opened #1121 "Make all transform properties nullable"

[2019-02-17 00:34] #733 closed

[2019-02-17 00:34] gpeal commented on #646
Fixed by https://github.com/airbnb/lottie-android/commit/2ca335a47fc97835b7c3ceaf44301b13e2bc0283

[2019-02-17 00:34] #646 closed

[2019-02-17 00:35] gpeal commented on #927
Duplicate of #401

[2019-02-17 00:35] #927 closed

[2019-02-17 00:38] gpeal commented on #975
@elihart Can you try this again on master? There have been a number of fixes to various things.

[2019-02-17 21:56] gpeal opened #1123 "Loader doesn't animate when switching to lottiefiles fragment"

[2019-02-18 02:05] gpeal commented on #1107
Your animation works fine. You can even put the zip directly in assets and load the composition as a zip file rather than a json with image asset folder.

[2019-02-18 02:05] #1107 closed

[2019-02-18 02:05] gpeal commented on #1107
Looking at your animation, you shouldn't need images though. Try converting your layers to shape layers in After Effects rather than using images.

[2019-02-18 02:16] gpeal commented on #1116
Lottie 3.0.0-beta1 (beta2 coming out today or tomorrow) no longer has this code path.

[2019-02-18 02:16] #1116 closed

[2019-02-18 02:35] #1123 closed

[2019-02-18 07:26] gpeal commented on #989
@yanbinbin @zhangxy1219 Does this only occur on specific phones or OS versions?

[2019-02-18 07:26] gpeal commented on #989
String.contains is not called from View.setLayerType on AOSP.

[2019-02-18 18:20] elihart commented on #975
I kind of forget where I was having this problem, but if the url loading hits the memory cache in the same way now it is probably fixed 👍

[2019-02-18 19:14] gpeal commented on #975
Nice! Will close this for now. Let me know if this comes back up. I published 3.0.0-beta2. It should be as stable as any other release but has a *ton* of fixes so try it out!

[2019-02-18 19:14] #975 closed

[2019-02-18 19:42] gpeal commented on #833
@samiam2017 Upon further inspection, I see that you used separate opacity and color stops. The correct thing to do here is to just use opacity on each color in the color stop. Lottie doesn't support opacity stops.

[2019-02-18 19:42] #833 closed

[2019-02-18 19:43] gpeal commented on #1036
Unfortunately, there is no trivial way to support this at this time.

[2019-02-18 19:43] #1036 closed

[2019-02-19 03:52] AnkitKadam567 opened #1127 "java.lang.RuntimeException: An error occured while executing doInBackground()"
`package com.example.ankitkadam.map;

import android.os.AsyncTask;
import android.util.Log;

import com.google.android.gms.maps.CameraUpdateFactory;
import com.google.android.gms.maps.GoogleMap;
import com.google.android.gms.maps.model.BitmapDescriptorFactory;
import com.google.android.gms.maps.model.LatLng;
import com.google.android.gms.maps.model.MarkerOptions;

import java.io.IOException;
impor

[2019-02-19 04:23] AnkitKadam567 commented on #1006
My Code:
`package com.example.ankitkadam.map;

import android.os.AsyncTask;
import android.util.Log;

import com.google.android.gms.maps.CameraUpdateFactory;
import com.google.android.gms.maps.GoogleMap;
import com.google.android.gms.maps.model.BitmapDescriptorFactory;
import com.google.android.gms.maps.model.LatLng;
import com.google.android.gms.maps.model.MarkerOptions;

import java.io.IOExcepti

[2019-02-19 06:02] gpeal commented on #1006
@AnkitKadam567 that is also unrelated to Lottie.

[2019-02-19 06:17] #1034 closed

[2019-02-19 07:00] AnkitKadam567 commented on #1006
what is the reason behind this? Why am I getting this error?

[2019-02-19 18:52] gpeal commented on #1127
@AnkitKadam567
[code]

That is your code and is not related to Lottie.

[2019-02-19 18:52] #1127 closed

[2019-02-20 14:55] shonshampain commented on #1096
@gpeal Here you go. Thanks for taking a look at this.
[Evite_Level-Up.zip](https://github.com/airbnb/lottie-android/files/2885070/Evite_Level-Up.zip)

[2019-02-21 03:00] Abelzzg commented on #1089
My project has the same crash with v2.7.0,but my project hasn't migrate to Androidx,how can i fix this problem with v2.7.0?

[2019-02-21 03:12] Abelzzg commented on #667
Has this bug fixed?

[2019-02-21 11:11] sangsais opened #1128 "There is such a problem that needs help"
Problem Description
<com.airbnb.lottie.LottieAnimationView
        android:id="@+id/lottie_animation_view"
        android:layout_width="match_parent"
        android:layout_height="wrap_content" />
![screenshot_2019-02-21-18-36-49-392_com cottontown zsh](https://user-images.githubusercontent.com/6415942/53164646-a7d7f900-360b-11e9-9fa4-1eb237f8cb76.png)

1 Android phone loading json file LottieAn

[2019-02-21 14:19] BoD opened #1129 "Animations run when system animations are disabled"
I didn't find this documented except in the changelog but it looks to me that animations shouldn't run when system animations are disabled on the device - however in my case I see them running.

We use `app:lottie_autoPlay="true"` in our layout XML, could it be related to that?

Note: we currently use 2.6.0 (because we can't use AndroidX yet, and also can't use 2.7.0 because of  issue #976)

[2019-02-21 15:07] lordplagus02 commented on #1128
I'm experiencing a similar issue, in which the animation plays perfectly well on lottiefiles but cuts off halfway through in my android app. Have exhausted all ideas on how to fix it on my end.

[2019-02-21 16:30] gpeal commented on #1080
Duplicate of #667

[2019-02-21 16:30] #1080 closed

[2019-02-21 16:30] gpeal commented on #1089
Duplicate of #667

[2019-02-21 16:31] gpeal commented on #667
It's not clear to my why/how this could happen inconsistently and I've never been able to repro it. I'll take a look at it but if anybody has some time to investigate, that would be great.

[2019-02-22 08:02] bijuC1983 opened #1130 "animation not smooth & direction is incorrect"
Hello,
          I have seen couple of similar issues here but I am facing this issue on both Android & iOS.
The animation is too jittery and skips frames. Also the direction of the animation is incorrect. I cannot attach the original animation due to branding issue, but the designer has recreated the same animation with placeholder text. The demo web preview works correctly.
The demo file, json f

[2019-02-22 09:25] ujjwalnitw opened #1131 "App crashes on android API 21 and 22"
Hello,
The app crashes on when the animation is run on Android devices with API 21 and 22.
Could you please help me on this? I am using 2.7.0 lottie version.
I have also attached zip file consiting of json and image.
Following  are the logs

`02-22 14:42:11.975 5404-5404/com.example.ujjwalgoyal.lottiesample E/art: Tried to mark 0x3 not contained by any spaces
    Attempting see if it's a bad root

[2019-02-22 16:45] sy4tech opened #1132 "how can i change text lottie json file dynamically"
**Read this or your issue will be closed**
hello
I want to change text lottie json file from android .
I did not find it in lottie documentation .
this json file Which I want to modify
https://lottiefiles.com/2283-angel
this text "HALLELUJAH" in the previous file which I want to edit
I tried this code and did not work with me 👍
`        lottieAnimationView.addValueCallback(new KeyPath("hallelujah"

[2019-02-23 02:01] gpeal commented on #1132
Use a TextDelegate

[2019-02-23 02:01] #1132 closed

[2019-02-23 02:02] gpeal commented on #1131
Duplicate of #1000

[2019-02-23 02:02] #1131 closed

[2019-02-23 02:02] gpeal commented on #1131
@ujjwalnitw Does this happen 100% of the time for you?

[2019-02-23 19:42] gpeal commented on #894
![image](https://user-images.githubusercontent.com/1307745/53290939-247bec00-3760-11e9-8eb5-536b3a120c18.png)

[2019-02-25 01:06] CameronStuartSmith opened #1134 "Dynamic coloring doesn't work with alpha"
Alpha with dynamic color changing does not work

Example code:

`animationView.addValueCallback(
                        new KeyPath(keyPaths),
                        LottieProperty.COLOR,
                        new LottieValueCallback<>(Color.argb(25, 0, 0,255))
                );`

Produces this: ( The object changing is the base of the present )
![screen shot 2019-02-24 at 6 02 04 pm](https:/

[2019-02-25 03:35] gpeal commented on #1134
In After Effects, color and opacity are two separate properties. You can use the OPACITY property to affect the opacity
![image](https://user-images.githubusercontent.com/1307745/53312794-50d05f00-386b-11e9-9ae0-56f8e95f33f6.png)

[2019-02-25 03:35] #1134 closed

[2019-02-25 03:35] gpeal commented on #1134
A admit that it can be confusing, however.

[2019-02-25 05:53] ujjwalnitw commented on #1131
@gpeal
Yes, it is 100% reproducible.

[2019-02-25 06:17] CameronStuartSmith commented on #1134
yes it can be a bit confusing only because the iOS version of lottie will actually respond to colors with alpha. working on a lottie wrapper for flutter so I was just trying to be consistent with the two implementations. Thanks for the help and clarification.

[2019-02-26 09:23] canyara commented on #930
still happen on lottie-react-native 2.5.11 which is "com.airbnb.android:lottie:2.6.0'"

[2019-02-27 10:04] Glurt commented on #1130
I'm having similar issues with performance, it seems completely random in that the animation jitters on some high end devices and works perfectly on lower spec devices. Does anyone have any suggestions on where to start trying to fix this?

[2019-02-27 16:21] nico-gonzalez commented on #667
@gpeal having the same problem using lottie 2.7.0, but as many said I cannot reproduce it. Crashlytics reports shows that is happening in a variety of manufacturers and android 7.1.2 and 8.x. Unfortunately, I don't have time to investigate this. Let me know if I can provide any useful info

[2019-02-27 22:26] laustdeleuran commented on #875
+1. The documentation is incredibly sparse, for all platforms. I'm mostly interested in how to do this for web, but it's hard to find this documentation regardless of platform. Thanks!

[2019-02-28 04:32] gpeal commented on #930
@canyara This was fixed in 2.6.1

[2019-02-28 17:17] eygraber commented on #1041
@gpeal sorry for the delay, not sure about keypaths. Only thing we do is call `useHardwareAcceleration(true)` and `addAnimatorUpdateListener { animation -> /* do something */ }`

[2019-03-02 18:14] ujjwalnitw commented on #1131
@gpeal Anu update regarding this issue?

[2019-03-03 03:59] bijuC1983 commented on #1130
Hello.. Any suggestions on this?

[2019-03-03 05:30] gpeal commented on #1130
@bijuC1983 I see that you have a ton of images and photoshop layers. Lottie will perform *much* better. You also have a number of masks. They will also perform *much* better on Lottie 3.0 (3.0.0-beta2 is out and is stable)

Finally, try turning on hardware acceleration with `setRenderMode` (Lottie 3 API)

[2019-03-03 05:30] #1130 closed

[2019-03-03 05:32] gpeal commented on #1128
@sangsais Can you try without hardware acceleration? Also try different sizes to see if it is a result of a fixed size or whether it has to do with the specific size you are using. Lottie definitely supports fixed size views in general. Finally, try and get your entire animation to be shape layers rather than images. Lottie works much better with shape layers than with images.

[2019-03-03 05:32] #1128 closed

[2019-03-03 08:46] gpeal commented on #1041
@eygraber @sanniou Hmm, a null animatedValue should be impossible from [the code](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/utils/LottieValueAnimator.java#L44).

Can you try Lottie 3.0.0-beta2?

[2019-03-03 08:51] gpeal commented on #1131
@ujjwalnitw I can't get this to reproduce on any of my devices or emulators. Any assistance in repro steps is welcome.

[2019-03-03 20:26] gpeal commented on #785
@moonsweel I just tried this on master and they render the same on both platforms. There have been a ton of improvements, especially to masks which may have fixed this.

[2019-03-03 20:26] #785 closed

[2019-03-04 02:55] #1121 closed

[2019-03-04 02:59] gpeal commented on #974
@v-silin I would accept a PR for this. I wouldn't add the layer to the list of layers as that would cause all sorts of other issues. However, resolveKeyPath should check matte layers.

[2019-03-04 03:01] gpeal commented on #1041
I'm going to close this for now since a lot has changed in 3.0 but feel free to reopen it if you see this in 3.0. I have never heard of this happening to anybody else though so any work you can do to debug it would be great.

[2019-03-04 03:01] #1041 closed

[2019-03-04 04:46] wahyip opened #1139 "Process 'command 'E:\AndroidStudio\jre\bin\java.exe'' finished with non-zero exit value 1"
After adding implementation 'com.airbnb.android:lottie:2.3.1' not able to compile the project the throw below error Process 'command 'E:\AndroidStudio\jre\bin\java.exe'' finished with non-zero exit value 1

Details Log

`org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:transformClassesWithDesugarForSoonest_googleplayDebug'.
	at org.gradle.api.internal.tasks.execution.Ex

[2019-03-04 09:02] jemshit opened #1140 "IllegalStateException: Unable to parse composition"
Hi, i get this crash from **only Android 8** devices, app is on foreground (55% samsung):
[code]
I load the `.json` file from _assets_ folder: `app:lottie_fileName="filename.json"`. I am not sure which .json causes the problem, because there is not line number of my code. We have two `<com.airbnb.lottie.LottieAnimationView/>` in the same xml file. Only crashes on some random Android 8 devices.

Fr

[2019-03-04 19:06] derrickrc opened #1141 "Android memory growth when loop="true" - expected behavior?"
Hi Gabriel,

I think my question/issue is similar to this one, but perhaps more specific: https://github.com/airbnb/lottie-android/issues/746

I am developing a kiosk-like tablet Android app and was hoping to have a Lottie animation loop as an "attract screen" to draw in customers. I am using the below animations in different activities and in the Android profiler I see that both increment Memory

[2019-03-04 19:20] derrickrc commented on #1141
Actually I realized forcing a GC doesn't work since the activity never finishes. It looks like one workaround is writing a handler that restarts the welcome screen every couple of minutes and effectively destroys / restarts the activity (GC seems to kick in shortly after each time), but not sure if there's a better option. Thanks again!

[2019-03-04 19:31] donhatanh opened #1142 "Android animation show extra black line compare with Ios"
Android Lottie version 2.7.0

IOS and aep file are both showing the animation correctly but not on android
[CMA Animated House Ver.12-2 (converted).aep.zip](https://github.com/airbnb/lottie-android/files/2927787/CMA.Animated.House.Ver.12-2.converted.aep.zip)

There are 2 Extra black underlines show up on Android.
It seems like the chimney in the animation is not being properly removed however, I c

[2019-03-05 02:33] wahyip commented on #1139
oh~ it's v7 jar repeat~
    implementation ('com.airbnb.android:lottie:2.3.1'){
        exclude module: 'com.android.support:appcompat-v7'
        exclude module: 'com.android.support:appcompat-v4'
    }

[2019-03-05 02:33] #1139 closed

[2019-03-05 03:20] gpeal commented on #1141
This will probably be fixed by https://github.com/airbnb/lottie-android/commit/ef330316af45ea383732ed9e0c183a8b171ca190.

Can you try 3.0.0-beta2?
If not, can you track memory allocations with the profiler to find the root cause in your case?

[2019-03-05 03:21] gpeal commented on #1141
Closing for now in case it is fixed by that that commit. You can reopen this if you need to.

[2019-03-05 03:21] #1141 closed

[2019-03-05 06:00] derrickrc commented on #1141
Thanks Gabriel. It looks like Lottie 3.0.0-beta2 has a dependency on androidx.appcompat:appcompat:${androidXVersion}, right? I'm still on 28.0.0 and I got a lot of gradle build errors (I believe due to dependency conflicts) and tried excluding the androidx. files through packagingOptions - and then I got this error:

Error: Program type already present: com.airbnb.lottie.animation.content.BaseStro

[2019-03-05 10:00] ductranit opened #1143 "NullPointerException on android 4.3"
I got the `NullPointerException` when upgrade lottie to version `3.0.0beta2`. It works on android 8,9 but not 4.3, 5 ( I don't have other devices to test)
Here is my view:
[code]
The json animation file is downloaded from here https://lottiefiles.com/222-trail-loading
And the crash log:

[code]

I wonder could the problem is that lottieview is in viewpager item? Because it works well on other scre

[2019-03-05 17:47] #401 closed

[2019-03-06 08:07] ArthurVimond commented on #707
@gpeal Hi! I'm currently working on this feature, and I have a few questions:

1- Should we detect the direction for each TextLayer input and draw them independently or just getting the device current language setting and apply the same direction for all texts?

2- Regarding the text justification, drawing RTL texts with Justification.LEFT_ALIGN should start from the right (not from the left), rig

[2019-03-06 08:23] AndroidDeveloperLB commented on #707
@ArthurVimond What you wrote doesn't belong here... Please make a new thread about it.

[2019-03-06 14:10] LiLiLiLiSi opened #1144 "how to get bitmap from one frame of lottieAnimationView"
I have setProgress in LottieAnimationView, than I want to get this progress of Lottie's Bitmap

[2019-03-06 21:59] ArthurVimond opened #1145 "Add RTL text support"
Hi!
I'm currently working on adding RTL text support, and I have a few questions:

1- Should we detect the direction for each TextLayer input and draw them independently or just getting the device current language setting and apply the same direction for all texts?

2- Regarding the text justification, drawing RTL texts with Justification.LEFT_ALIGN should start from the right (not from the left),

[2019-03-07 20:33] ArthurVimond commented on #1144
You first have to get the Drawable from the LottieAnimationView (use getDrawable()), then convert this Drawable to a Bitmap, by using a Canvas.
Please have a look on this link to convert a Drawable to a Bitmap: https://stackoverflow.com/questions/3035692/how-to-convert-a-drawable-to-a-bitmap.

[2019-03-07 22:03] gpeal commented on #1141
Nope, you have to upgrade to androidx to use anything beyond 2.7

[2019-03-08 19:20] gpeal commented on #1144
^ This is correct. We do it in testing [here](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/androidTest/java/com/airbnb/lottie/LottieTest.kt#L597).

[2019-03-08 19:20] #1144 closed

[2019-03-09 18:32] gpeal commented on #1145
@ArthurVimond Awesome!
1- What information would you use to detect the direction on a layer by layer basis?

[2019-03-09 18:33] gpeal commented on #1140
Duplicate of #667

[2019-03-10 02:04] Bigbigann opened #1147 "Stroke circle showing a solid fill inside"
Hi I have created a simple loading animation using the basic trim effect.

The animation looks good when preview in lottie on web however when it is tested on IOS and Android the stroke circle have a solid shape inside it.

I am not using any effect and the round shape is just a round only with stroke so not sure what is going on here.

Would anyone know what causes the issue?

Here is the json fi

[2019-03-10 03:07] gpeal commented on #1147
@Bigbigann This seems fine as of lottie 3.0.0-beta2. Likely because we added support for hidden contents.

[2019-03-10 03:07] #1147 closed

[2019-03-10 03:54] gpeal commented on #910
Duplicate of #1145

[2019-03-10 03:54] #910 closed

[2019-03-10 07:44] Bigbigann commented on #1147
@gpeal thank you for the reply.

Sorry I am still feeling a little confused could you elaborate a little bit? So is there a solution to the problem? Does the dev need to upgrade lottie version to solve the issue?

[2019-03-10 17:13] #1143 closed

[2019-03-10 19:53] #1142 closed

[2019-03-10 19:55] #894 closed

[2019-03-10 20:35] ArthurVimond commented on #1145
@gpeal
1- For each layer (and maybe even for each line of a TextLayer), I was thinking about iterating on each character by using Character.getDirectionality(char ch) to determine the direction, and if all characters have the same RTL direction, the line will be RTL, otherwise, it will fallback to LTR.
By watching [this video](https://vimeo.com/213207025), After Effects' text direction detection i

[2019-03-11 00:07] gpeal commented on #1145
@ArthurVimond Sounds good :) Rebase on master as I did some work in TextLayer for unicode support today.

[2019-03-11 00:07] gpeal commented on #1147
@Bigbigann Yes, try 3.0.0-beta3.

[2019-03-11 07:54] Bigbigann commented on #1147
@gpeal sorry being such a trouble. I am not sure if I could keep replying you here or open a new ticket. I have checked with our developer for some reason it is not possible for us to use the latest version of lottie in app ( we are using lottie 2.7.0).

I have removed the hidden contents but the problem keeps showing up. I think I am only using trim path ( start / end point and offset ) in the an

[2019-03-11 15:16] gpeal commented on #1147
@Bigbigann Unfortunately, you're going to have to ask your developer to upgrade your app to androidx to use the latest version. They're going to start getting stuck on lots of old libraries if they don't.
Here is what it looks like on the latest version.
![Loading](https://user-images.githubusercontent.com/1307745/54134850-ede7d780-43d5-11e9-8baa-4af2a81faf3b.gif)