[2017-12-15 02:56] gpeal commented on #546
@456838 Call `updateBitmap(yourImg, null)` to clear the cache for a given image. This is a bandaid on a larger problem which is that your animation has too many images.

[2017-12-15 02:56] gpeal commented on #546
You shouldn't have to load bitmaps in and out of memory during the animation just to make it run

[2017-12-15 18:51] azchohfi opened #569 "Can only enable/disable trace between frame draws."
setTraceEnabled can only be called between frames.
In that method (https://github.com/airbnb/lottie-android/blob/2df1c2bac1cb886dce38d64e0b3a80d603e8dc51/lottie/src/main/java/com/airbnb/lottie/L.java#L24), it changes the instance of the sections and startTimeNs variables, making a next call to endSection throw due to traceDepth == -1.

One possible fix is to delay the sections and startTimeNs recr

[2017-12-16 18:59] gpeal commented on #569
@azchohfi Why are you enabling the traces in the middle of animating?

[2017-12-17 01:03] azchohfi commented on #569
I'm just toggling it on/off with a button click.

[2017-12-18 05:55] gpeal commented on #569
@azchohfi That wouldn't be enough because then it would crash when it tries to end a section at a shallower depth than when you started tracing. Why do you need UI to enable/disable systrace markers? I suggest either just enabling them as a one off build or in your application code, pause the animation and post the maker enable call.

[2017-12-18 05:55] #569 closed

[2017-12-18 07:09] Pluckypan opened #571 "Terrible error when setScaleX!!!!!!!!!!!Help!!!!!!!!!!!!!!!!!!!!!!"
![lottie](https://user-images.githubusercontent.com/12028060/34093807-5053e06c-e405-11e7-9efa-1eddad941d72.png)

![lottie scale](https://user-images.githubusercontent.com/12028060/34093950-0259f40e-e406-11e7-9a90-5f1ce421ddb4.png)

Here is my code.
![lottie code](https://user-images.githubusercontent.com/12028060/34093979-2a27ca9c-e406-11e7-84c2-dd434beb6ee9.png)

[2017-12-18 07:17] Pluckypan commented on #571
And Here it's the lottie file.
[ar_download.zip](https://github.com/airbnb/lottie-android/files/1566967/ar_download.zip)

[2017-12-18 07:18] Pluckypan commented on #571
@gpeal i need your help.

[2017-12-18 07:50] Pluckypan commented on #571
what's more,when i use hardware,lottie display nothing on Android4.4 Devices

[2017-12-18 16:16] gpeal commented on #571
@Pluckypan `lottie_scale` is the attribute you want. You can also use `scaleType="centerInside"`

I just tested your animation in the sample app in the repo with hardware acceleration on on an api 19 device and it rendered just fine. Please attach a sample project that reproduces this if you want me to take a look. No need to include 500 exclamation marks in the title though.

[2017-12-18 16:16] #571 closed

[2017-12-18 19:01] azchohfi commented on #569
That's actually the bug I'm facing right now. I've already ported this code to LottieUWP a while ago, so I was just trying to keep it updated with the Android source. If that's a "by design" scenario, then I'll change it in the C# code.

[2017-12-19 02:01] Pluckypan commented on #571
@gpeal  I want to express that if you setScaleX or setScaleY to lottie parent view.the problem happended.

i use lottie in recyclerview with viewpagerlayoutmanager (compile 'rouchuan.viewpagerlayoutmanager:viewpagerlayoutmanager:2.0.0').when scroll to center position,the itemview will be scale.this is my scene.

if you want to reproduces this problem.you just try the code below.
'<LinearLayout

[2017-12-19 17:51] gpeal commented on #571
What's the actual problem?

On Tue, Dec 19, 2017, 4:01 AM Plucky <notifications@github.com> wrote:

[2017-12-19 18:52] azchohfi commented on #569
In case you want to support this on Lottie Android, this is the C# version: https://github.com/azchohfi/LottieUWP/commit/acdb1e338fb0cbbc516e43653ce54beede210b73

[2017-12-20 02:33] Pluckypan commented on #571
@gpeal
 if you setScaleX or setScaleY to lottie parent view. lottie perfermence like the image below.

![lottie scale](https://user-images.githubusercontent.com/12028060/34093950-0259f40e-e406-11e7-9a90-5f1ce421ddb4.png)

[2017-12-20 16:50] gpeal commented on #571
Are you referring to the aliasing?

On Wed, Dec 20, 2017, 4:33 AM Plucky <notifications@github.com> wrote:

[2017-12-21 06:14] Pluckypan commented on #571
@gpeal yep!

[2017-12-21 16:19] gpeal commented on #571
Use lottie_scale or scaleType centerCrop. What you're using is an Api on
View itself which is why it's aliasing.

On Thu, Dec 21, 2017, 8:14 AM Plucky <notifications@github.com> wrote:

[2017-12-22 02:53] Pluckypan commented on #571
Here is my scene:
i use lottie in recyclerview with viewpagerlayoutmanager (compile 'rouchuan.viewpagerlayoutmanager:viewpagerlayoutmanager:2.0.0').when scroll to center position,the itemview will be scaled.

lottie is aliasing when the parent view is scaled.and I didn't scale Lottie itself.
it's useless when i use lottie_scale or scaleType centerCrop to lottie.

my english is poor,but i think you

[2017-12-22 13:41] gpeal commented on #571
@Pluckypan scaleX and scaleY are handled by Android and Lottie has no control over how it is done.

[2017-12-23 06:02] Pluckypan commented on #571
@gpeal  well,thank you all the same.

[2017-12-23 06:20] anujpant08 commented on #215
I had the same problem..I just forgot that I changed my animator scale to .5x in developer options!!Worked for me.

[2017-12-24 14:15] benlc opened #574 "Partial animation showing on Android"
Hey!

I'm new to AfterEffects and am struggling to understand what is wrong with this animation. I'm doing some pretty basic stuff (alpha and position changes) and only part of my animation is showing after exporting it. It however seems to work just fine in the browser. I read about the unsupported AE features and don't think I am using any of it.

Android-
![android](https://user-images.githubus

[2017-12-24 14:53] #574 closed

[2017-12-26 10:06] wlxyhy opened #575 "When first shown, it can't play animation"
for lottie2.5.0-beta1, on Android7.0
When it is first shown, the animation shows the first frame and stays, but it plays when I turned to another page and return again

[2017-12-26 12:13] rotman opened #576 "represent PNGs with base64 encoding"
I'm trying to use animation json file that contains PNGs that are represented with base64 encoding string.
Does the library support it?

[2017-12-27 01:15] wlxyhy commented on #575
For attrs"app:lottie_fileName",the LottieAnimationView does not support dataBinding, so I make a view extends LottieAnimationView, but there's the issue above, what's the matter? Or how can LottieAnimationView support dataBinding?

[2017-12-27 10:41] AndroidDeveloperLB opened #577 "Request: in the sample, allow to go to previous/next animation"
On this screen:

![image](https://user-images.githubusercontent.com/5357526/34379275-1e40313e-eb03-11e7-815b-94ea46eda6bd.png)

In addition to be able to choose from the list in the dialog that appears, I'd like to just go to the next one.
I request this because each time I open a sample animation from the video, the list goes to the top, so I have to scroll all the way to the one I've opened befo

[2017-12-29 22:49] gpeal commented on #577
@AndroidDeveloperLB Any suggestions on what the UI should be? I'd like to avoid cluttering it up if possible.

[2017-12-29 22:52] gpeal commented on #576
@rotman [Convert it to a Bitmap](https://stackoverflow.com/questions/4837110/how-to-convert-a-base64-string-into-a-bitmap-image-to-show-it-in-a-imageview/35799454) then use a BitmapAssetDelegate.

[2017-12-29 22:52] #576 closed

[2017-12-29 22:53] gpeal commented on #575
@wlxyhy Can you attach a sample project that repros this? I've never actually used data binding or tried it to be honest but nobody has reached out with issues in the past so it may be project specific rather than due to data binding.

[2017-12-29 23:11] AndroidDeveloperLB commented on #577
Yes you are correct. It starts to have too many buttons.
Maybe try putting some of the buttons you have, in the action bar, and the next&previous, near the "play" button.

[2017-12-30 20:47] anm8tr opened #578 "Wishlist: Please add support for expressions ;-) I spent an entire day setting up an animation with a lot of moving parts only to find out the hard way expressions were not supported. Thx, for an awesome program though!"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-01-02 20:42] alexjlockwood opened #579 "Make LottieDrawable implement the Animatable interface"
This would make it compatible with existing code that only understands how to work with Animatable objects.

[2018-01-02 23:00] gpeal commented on #579
@alexjlockwood Would you like to do a PR? :)

[2018-01-03 00:30] #577 closed

[2018-01-03 04:20] hongyangAndroid commented on #559
I also find some crashes about parse v("4.5.4") , can I change "4.5.4" to "4" to solve this temporarily until 2.5.0 Stable。

[2018-01-03 05:38] alexjlockwood commented on #579
Here's a pull request. :) #580

[2018-01-03 08:06] AndroidDeveloperLB commented on #577
@gpeal Why closed the issue?
I don't see it in newer version.

Also, I have a suggestion of how to handle the built in samples:
Allow to swipe between them, using a ViewPager, like a gallery app.
You might even be able to do it when choosing from storage, but I'm not sure it's possible.

[2018-01-03 22:30] krishnasajja opened #582 "Text Alignment properties from After Effects are being ignored issue"
In the After Effects file, we are setting the Text Alignment to Center. When we replace the text dynamically with a bigger(or smaller) text, the text alignment seems to be set to left-aligned.

[Text.zip](https://github.com/airbnb/lottie-android/files/1601898/Text.zip)

[2018-01-03 22:50] krishnasajja commented on #481
@gpeal I'm looking into the lottie code to find the issue. I'm not sure what different keys mean in the JSON file. Do you have a list of the key mappings? Like 'nm' is name, 't' is text etc.

I'm planning to track the usage of the keys to find out if there are any issues there. Thanks!

[2018-01-03 23:23] gpeal commented on #481
@krishnasajja https://github.com/airbnb/lottie-web/blob/master/docs/json/layers/text.json

[2018-01-04 12:34] AsheStarlight opened #583 "Help Android: Y axis rotation not workin, iOS: Ellipse repeater animation not working."
Android: Y axis rotation not working but ellipse repeater animation is working while iOS: Ellipse repeater animation is not working but Y axis rotation not working

[2018-01-05 01:55] gpeal commented on #575
@wlxyhy bump

[2018-01-06 04:01] #579 closed

[2018-01-06 04:21] alexjlockwood opened #584 "Optimization ideas for PathKeyframeAnimation"
I was taking a look at [`PathKeyframeAnimation`](https://github.com/airbnb/lottie-android/blob/2df1c2bac1cb886dce38d64e0b3a80d603e8dc51/lottie/src/main/java/com/airbnb/lottie/animation/keyframe/PathKeyframeAnimation.java) and although I haven't profiled it myself, I suspect that it could be optimized by avoiding the calls to `PathMeasure#getPosTan()` and `PathMeasure#getLength()` in `getValue()`.

[2018-01-06 15:39] shishram opened #585 "addColorFilter doesnt work with lottie:2.5.0-beta1"
.addColorFilter(new PorterDuffColorFilter(mContext.getResources().getColor(R.color.colorAccent), PorterDuff.Mode.LIGHTEN));

doesn't work with updated version, what should I use instead to change color dynamically.

[2018-01-07 04:32] AHerbel commented on #585
There's a method called .setColorFilter with 3 versions.
A: .setColorFilter(int color)
B: setColorFilter(int color, Mode mode)
C: setColorFilter(ColorFilter cf)

but it doesn't seem to do anything at all... it doesn't change the color overlay of the animation. This is for the latest version (2.5.0-beta1)

[2018-01-08 05:21] shishram commented on #585
@AHerbel Yes, I tried making these changes it didn't work, any other work around?

[2018-01-08 11:42] AHerbel commented on #585
@shishram I downgraded the version to 2.3.1 and use addColorFilter and it worked... It's not the ideal, but since the last version is in beta I think this solution is acceptable.

[2018-01-08 18:59] maxi182 commented on #35
Hi, does it work to load Json lottie file from local storage?

[2018-01-08 19:29] gpeal commented on #35
@maxi182 yes. You can view the source for the LottieSample app to see how.
https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/AnimationFragment.kt

[2018-01-09 07:56] gpeal commented on #577
@AndroidDeveloperLB Because I updated the asset picker to scroll to the current animation.
I may redesign the app in the future but I don't currently have plans to do more than this.

[2018-01-09 08:04] AndroidDeveloperLB commented on #577
@gpeal Please do consider adding this.
Even swiping like in a gallery could be nice.
Also, I see the new change only on the repo, but not on the Play Store app.

Speaking of the sample, I don't think the "full screen animation" shows animation. All I see is this:
![image](https://user-images.githubusercontent.com/5357526/34710538-6f76a3b4-f524-11e7-9426-a5270a96d9a0.png)

[2018-01-09 09:08] gaoyan10 opened #586 "recycleBitmaps throw NullPointerException while onDestroy after LottieAnimationView updateBitmap with a null bitmap"
LottieAnimationView throws NullPointerException while activity onDestoy. Because a bitmap in ImageAssetManager bitmaps is null.  I call LottieAnimationView updateBitmap(id, null) because I need clear the bitmap, after this the exception would occur while onDestroy.

`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.graphics.Bitmap.recycle()' on a null objec

[2018-01-09 10:26] olympikesoft commented on #586
btmp is null. There is no way that by using the attached code.Then, the value of btmp would be anything. But it's null!

If you want to clone Bitmap the use create method or any other of that sort.

`Bitmap btmp = Bitmap.create(drawable.getBitmap());`

[2018-01-09 15:56] gaoyan10 commented on #586
`public void recycleBitmaps() {
    Iterator<Map.Entry<String, Bitmap>> it = bitmaps.entrySet().iterator();
    while (it.hasNext()) {
      Map.Entry<String, Bitmap> entry = it.next();
      entry.getValue().recycle(); // if (entry.getValue() != null)
      it.remove();
    }
  }`
I think the method of ImageAssetManager should check the bitmap is null or not, because the bitmap may be null after

[2018-01-09 17:07] olympikesoft commented on #586
[code]

[2018-01-09 18:04] dustynl opened #587 "Animation works on iOS but looks strange on Android"
Hi,
This animation (attached) works perfectly on iOS, but behaves really strangely on Android.
Could you guys possibly give us an idea as to why?
[coffeanim.zip](https://github.com/airbnb/lottie-android/files/1616141/coffeanim.zip)

Kind Regards,
Dustyn

[2018-01-09 20:45] #39 closed

[2018-01-09 21:09] gpeal commented on #587
@dustynl Can you attach the aep?

[2018-01-09 22:07] gpeal commented on #39
@subtleGradient Only took a year but I finally got this working :)

[2018-01-09 22:16] gpeal commented on #575
Feel free to reopen if you create a sample project.

[2018-01-09 22:16] #575 closed

[2018-01-10 02:36] gpeal commented on #585
@shishram @AHerbel 2.5.0 replaces the existing color filter APIs with a *much* more powerful one that lets you update any property at runtime. You can view the docs for it [here](http://airbnb.io/lottie/android/dynamic.html). The API may change slightly before release but please try it out and let me know if it works for you!

[2018-01-10 02:36] #585 closed

[2018-01-10 02:55] wlxyhy commented on #575
Already resolved it by add playAnimation method for my setLottie_fileName()

[2018-01-10 16:30] tallesborges opened #590 "2.5.0-beta2 Crashing Android"
Hello the version 2.5.0-beta2 is crashing some android devices.
I was not able to reproduce the crash but I'm uploading a log image from fabric

<img width="1599" alt="screen shot 2018-01-10 at 12 55 39" src="https://user-images.githubusercontent.com/3486359/34783484-777728ea-f60a-11e7-8c72-d0c463977f49.png">

[2018-01-10 16:45] dustynl commented on #587
Hey Gabriel,

Yes sure ... here it is
[waiting_cup_simple.zip](https://github.com/airbnb/lottie-android/files/1619675/waiting_cup_simple.zip)

[2018-01-10 22:18] gpeal commented on #590
@tallesborges Can you attach the animation that is crashing?

[2018-01-10 22:56] gshysun opened #591 "setFrame and getFrame off by one"
In the 2.5-beta release i noticed some issues with frame level operations

1. setFrame does not accurately set current frame at indicated frame:
    to test: ```setFrame``` and then ```getFrame``` right after

2. play animations between a frame range does not stop at the indicted endFrame
   to test:
[code]
 get the frame onEnd of animation

[2018-01-11 07:56] RoyGuanyu commented on #388
Same issue here, any update?

[2018-01-11 12:07] dragonyhr opened #592 "Animation looks good in web but it was distorted in movil Andriod"
When I render out the animation with **Bodymovin** with selection  **GUIDES**, it works fine on web but when placed in mobile. The character start to get distorted. Any idea what may be the problem? Looked through the unsupported feature list and none of the unsupported features are being used in the animations so not too sure whats happening.
Is problem of the selection GUIDES in Bodymovin？ becau

[2018-01-11 17:25] gpeal commented on #592
I can't tell what this is supposed to be but Lottie doesn't support expressions or most effects
![image](https://user-images.githubusercontent.com/1307745/34837977-51adf16e-f6b1-11e7-984e-15b704681b42.png)

[2018-01-12 23:30] #591 closed

[2018-01-13 02:23] happymario commented on #552
https://www.lottiefiles.com/share/tgvRxz

Did you resolve it?

[2018-01-13 17:09] alexjlockwood opened #594 "Real time rendering graph doesn't show up on black in the animation viewer"
This is a bug in the sample app.

The real time rendering graph doesn't show up when you use the "view on black" setting.

![screenshot_20180113-090713](https://user-images.githubusercontent.com/1380747/34908227-698344ce-f841-11e7-8ad3-47f4e37873e2.png)

![screenshot_20180113-090726](https://user-images.githubusercontent.com/1380747/34908226-67381168-f841-11e7-968b-b2b127e0142e.png)

[2018-01-13 17:16] alexjlockwood commented on #594
The instructions don't display either.

![screenshot_20180113-091446](https://user-images.githubusercontent.com/1380747/34908319-5eca0ee0-f842-11e7-91a3-ff6184a2da69.png)

![screenshot_20180113-091451](https://user-images.githubusercontent.com/1380747/34908321-625536d4-f842-11e7-8440-4b992c625c19.png)

[2018-01-15 02:14] NoahZu commented on #587
@dustynl  can fix this bug by modify generated json file?

[2018-01-15 16:06] fweigl opened #595 "Interact with elements from animation"
Hi, is there a possibility or feature planned to interact with certain elements in an animation?
For instance, find a "button" (as a shape in the animation, not a native button) via some sort of ID and set an Android onClickListener to it?

[2018-01-15 20:51] gpeal commented on #595
@fweigl Yes, I plan to add support for this in the future but it doesn't support it yet.

[2018-01-15 20:53] gpeal commented on #587
@NoahZu I don't understand your question.

[2018-01-16 00:27] #592 closed

[2018-01-16 00:48] gpeal commented on #584
@alexjlockwood Interesting idea. How would you suggest handling the memory for all of the path approximations considering that there could be hundreds of paths that all animate?

I just did a benchmark and on a relatively complex animation (the star wars one in the sample app), each frame spends 0.1-0.15ms in the getPosTan method which doesn't seem all that bad to me.

[2018-01-16 00:50] #587 closed

[2018-01-16 07:02] gpeal commented on #582
Duplicate of #481

[2018-01-16 07:02] #582 closed

[2018-01-17 02:45] mm46468648 opened #599 "。git diretory found!"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-01-17 03:45] ChenSiLiang commented on #116
![cpu_profilier](https://user-images.githubusercontent.com/9266250/35024607-6d1b5396-fb7b-11e7-9bb8-3ef9480edd2f.png)
I use Android Profiler in AS to record about 5s video about CPU usage, It costs about 1/3 more CPU usage than normal.

[2018-01-17 10:56] dragonyhr commented on #592
@gpeal  hi  thank you very much , sorry to respond so late

[2018-01-17 11:02] perky commented on #388
I can reproduce this bug:

1. Create a text layer in AE by selecting Layer/New/Text.
2. Create another text layer by selecting the Horizontal Type Tool and dragging a text box in the composition.
3. Position both text layers so that they are aligned.

When you render via bodymovin you will see that the 2nd text layer has been shifted to the right and is now out of alignment with the 1st layer.

**

[2018-01-17 11:32] Bridouille commented on #524
Hi! I'm also getting this errors in my FirebaseCrashReporting logs.

[code]

It only happens on devices running API 19 (4.4), not all the time apparently and I don't know for which annimation in perticular as this is the only stacktrace I have (happens on various screens).

Previously I was setting the `app:lottie_fileName ` in XML and got the error when the whole view inflates, now I moved the `s

[2018-01-17 18:50] gpeal commented on #599
This is expected if you cloned the repo from github.

[2018-01-17 18:50] #599 closed

[2018-01-17 18:51] gpeal commented on #594
@alexjlockwood Would you like to submit a PR for this? Not sure I'll have time to get around to this since it's not a showstopper.

[2018-01-17 19:46] alexjlockwood commented on #594
I will if I have time. I've never written Kotlin code before... maybe now is a good opportunity to start. :D

[2018-01-17 19:51] gpeal commented on #594
@alexjlockwood Yes! Kotlin will change your life.

[2018-01-19 11:09] andersu opened #600 "LottieAnimationView height not respecting wrap_content"
We have a LottieAnimationView centered vertically on the screen with height wrap_content and a TextView below it.

In v2.0.0 this works as expected.
We recently upgraded to v2.3.1 and now the LottieAnimationView is taking up the entire screen, meaning we can't see the TextView anymore.

This is the xml for both cases. I made the background of the whole layout red and the animation background white

[2018-01-20 05:11] 103style commented on #488
java.lang.NumberFormatException
Invalid int: "4.9.0"
com.airbnb.lottie.e$a.fromJsonSync(Proguard)

I got the same crash  three times on Nokia N1

[2018-01-21 19:51] gpeal commented on #488
@103style What version of lottie?

[2018-01-22 06:07] gpeal commented on #600
@andersu Not much has changed here recently. The lottie sample app uses wrap_content.

Can you create a minimal repro sample project and attach it?

[2018-01-22 08:42] andersu commented on #600
@gpeal Thanks for the quick feedback.

I have attached a minimal project which reproduces of the issue. Run it first with lottie:2.3.1 and you see the whole background is white and you can't see the text (because the animation is taking up the full height).

Then switch to lottie:2.0.0 and the background will be red with the text visible below the animation (because wrap_content is not working as

[2018-01-22 23:22] mister11 opened #601 "Animations glitchy on Android"
There was an issue #558 which was similar problem to this one - animations work fine on iOS, but are glitchy on Android. In that issue, someone said issue was fixed in 2.3.2-SNAPSHOT but this version is not available anymore and the newest library version (2.5.0-beta3) still has some issues with some of the animations we use.

You can look at mentioned issue to see how view is defined and how anim

[2018-01-23 09:54] Heuid384 commented on #444
we would like you add more interactive features, the animation divided into several parts,for example, this file: https://www.lottiefiles.com/popular?page=5  , the boy and the bicycle,if we touch the boy only,and the boy moves alone,the bike stays.thanks if you understand what I said

[2018-01-24 07:22] PopFisher opened #602 "why use com.android.support:appcompat-v7:27.0.2?"
can remove com.android.support:appcompat-v7:27.0.2 dependency ?

[2018-01-24 07:26] gpeal commented on #601
@mister11 What are the issues with 2.5.0? I'm planning on releasing it soon

[2018-01-24 07:26] gpeal commented on #602
You can reference this (https://github.com/airbnb/lottie-android/issues/77) but there are no guarantees that things will work properly.

[2018-01-24 07:26] #602 closed

[2018-01-24 07:27] gpeal commented on #584
@alexjlockwood bump

[2018-01-24 07:27] gpeal commented on #590
@tallesborges bump

[2018-01-24 07:52] mister11 commented on #601
There are animation files attached in first message which you can download and run to see. Best way to describe it is "glichy" or, in the case of second animation, "broken" since part of it is completely wrong size

[2018-01-24 08:22] SwayChen opened #603 "performance problem"
Hi, I got high rate of `Slow Rendering` in Play Console. See the pictures of following, and I don't know to optimize it. The size of json is about 50KB.

![image](https://user-images.githubusercontent.com/6345749/35321148-46d48e04-0121-11e8-88fb-2ea6dff27a4a.png)
![image](https://user-images.githubusercontent.com/6345749/35321625-4dbd45f2-0122-11e8-81ef-95cba482ea4c.png)

Impacted sessions means:

[2018-01-24 19:26] alexjlockwood commented on #584
Hmm... I guess that is a good point. Does the star wars animation in the sample app animate hundreds of paths using PathKeyframeAnimation?

[2018-01-24 21:47] gpeal commented on #584
@alexjlockwood I picked it because it's one of the most complicated in the app. I tried a few others and they were all very small.

[2018-01-24 22:43] tallesborges commented on #590
Sorry guys, I rollback to version 2.3.1 and this crash was fixed, I was not able to reproduce this error on my tests.
I have a lot of animations on my app and I don't know which animation make it crash

[2018-01-25 07:44] andersu commented on #600
@gpeal
Some more information.
The actual animation is big (bigger than the screen):
[code]

This is how it looks with height and width set to `wrap_content` and `scaleType=centerCrop`:
<img width="309" alt="screen shot 2018-01-25 at 8 42 23 am" src="https://user-images.githubusercontent.com/2194905/35376494-b0f37626-01ab-11e8-858b-d13fab8107ab.png">

Could it be that in Lottie 2.0.0 the AnimationV

[2018-01-25 16:10] centerzx opened #604 "Bug of AnimatorListener ."
Hi,guys! The 2.5.0-beta version of the AnimatorListener callback method will continue without stopping.

[2018-01-25 17:10] #604 closed

[2018-01-26 23:01] gpeal commented on #600
@andersu This is completely expected. You want `centerInside` not `centerCrop`.
Scaling actually never worked properly until 2.2.4. (https://github.com/airbnb/lottie-android/pull/461)

Lottie converts all px values to dp so your animation is actually 1032x1440*dp*!

[2018-01-26 23:23] andersu commented on #600
@gpeal Thanks for the feedback again.

I'm not using centerCrop. That was some information I added to help explain the problem. But it didn't help. Sorry :)

If you look at the minimal project I attached in the comment 5 days ago, you see that the exact same xml with no `scaleType` set works as intended in 2.0.0 while the animation takes up the whole screen height in 2.3.1. This is also shown in t

[2018-01-27 00:14] gpeal commented on #600
Got it, I'll look in to this.

[2018-01-27 08:42] Fereshtehnaji commented on #337
hello , I have the same problem. I use Lottie and some other animation, but i see lag on every animation on my app, even opening navigation bar.

[2018-01-29 02:56] jeffsteinmetz opened #606 "Overlapping shapes with opacity keyframe fades have an artifact where overlapped"
Works on iOS
opacity fades show overlap on Android
(ignore the gradient background in this screen capture, the test was the overlapping circles)
<img width="264" alt="android_emulator_-_nexus_5_api_26_5554" src="https://user-images.githubusercontent.com/5488059/34169743-3aef4d7c-e49d-11e7-9f38-5b3ccae75f15.png">

Attaching .json and After Effects

This example uses a child composition with overlap

[2018-01-30 07:32] gpeal commented on #606
Duplicate of #223

[2018-01-30 07:32] #606 closed

[2018-01-30 15:38] tallesborges commented on #590
`
                                                                     Process: com.opalastudios.pads, PID: 5884
                                                                     java.lang.NullPointerException
                                                                         at com.airbnb.lottie.model.layer.CompositionLayer.<init>(CompositionLayer.java:50)

[2018-01-30 16:44] gpeal commented on #603
This isn't actionable and that graph can't be attributed to lottie. I have written some [docs on performance](http://airbnb.io/lottie/android/performance.html) though.

[2018-01-30 16:44] #603 closed

[2018-01-30 17:27] #590 closed

[2018-01-30 18:00] #601 closed

[2018-01-30 19:11] gpeal commented on #600
@andersu I just did a test with a png drawable that is the same size as your animation with the same view parameters and the view behaved the same so it appears that the behavior is consistent with ImageView. The behavior before (although it may have seemed correct), was not. This is the [relevant code in View.java](https://github.com/aosp-mirror/platform_frameworks_base/blob/master/core/java/andr

[2018-01-30 19:11] #600 closed

[2018-01-30 19:13] gpeal commented on #584
@alexjlockwood I'm going to close this for now. If you think this is still valuable, we can discuss it more.

[2018-01-30 19:13] #584 closed

[2018-01-30 19:20] gpeal commented on #524
@yangheng09103 yours is https://github.com/airbnb/lottie-android/issues/590

[2018-01-30 19:24] #524 closed

[2018-01-30 19:25] gpeal commented on #583
@AsheStarlight Can you attach an animation that repros this?

[2018-01-30 19:32] andersu commented on #600
@gpeal Thanks for looking into it and for the detailed explanation 👍

[2018-01-30 19:33] gpeal commented on #402
@bearprada I just did a test and it worked. Can you try again with the latest version and reopen with an example if it still fails?

[2018-01-30 19:33] #402 closed

[2018-01-30 19:35] gpeal commented on #555
@RobertoIDL This API has been deprecated in 2.5.0. I'm going to release an rc today. Can you try it again and reopen if there is still an issue?

[2018-01-30 19:35] #555 closed

[2018-01-30 19:48] gpeal commented on #552
@happymario Can you attach the aep as a zip file? Looking at the json, the X shape has a trim path with a static start value of 0 and end value of 100 so this is actually what I would expect to see.

[2018-01-30 19:52] gpeal commented on #491
@asuszek I'm going to release 2.5.0-rc1 later today. Can you test this on that release?

[2018-01-31 09:06] zoky2017 opened #609 "compile 'com.airbnb.android:lottie:2.5.0-rc1' Failed"
change compile 2.5.0-rc1 failed, but compile 2.5.0- beta3 is available
![image](https://user-images.githubusercontent.com/14806642/35613096-f195d3fa-06a5-11e8-9f4a-1089d278fec5.png)

[2018-01-31 15:59] gpeal commented on #609
Sorry about that, I'll try and get it up today

[2018-02-01 09:52] gshysun opened #610 "setMinAndMaxFrame may be off by one frame for the min value"
i found that when i had to update the `playAnimation` call - previously we could pass a frame range, now to effect the same i needed to `setMinAndMaxFrame` before calling `playAnimation`, here i note that i was needing to add +1 to the min frame value. could this also need the same fix you had implemented for set/get frames?

Thanks,
Shyam

[2018-02-01 16:02] gpeal commented on #609
This is available now!

[2018-02-01 16:02] #609 closed

[2018-02-02 06:50] iamarjunmk opened #611 ".svg shows borders on animation previews"
Hey, so I animated a simple face, was all cool and done with it.
AE previews were on point, but after converting it into a .json with Bodymoving and then previewing it on the Lottie viewer the animation shows borders, even though .svg removes borders and the borders did not show up in AE either.
I couldn't understand the issue here so I made the same file in AE with shape layer and voila!, no bord

[2018-02-02 16:40] gshysun opened #612 "add back LottieComposition.Factory.fromJsonSync (regression from prev release?)"
With the 2.5.0 release `LottieComposition.Factory.fromJsonSync` has disappeared could you look into adding it back?

Thanks,
Shyam

[2018-02-03 02:07] rjaylwar opened #613 "Crash when loading json on upgrade from 2.3.1 to 2.5.0-rc1 | Calling .createAnimation() on null"
I have some Json which plays perfectly fine on v2.3.1 but when I upgraded to v2.5.0-rc1 I get a warning in the logs and then it crashes.

[red_equalizer.json.zip](https://github.com/airbnb/lottie-android/files/1691298/red_equalizer.json.zip)

[code]

[code]

The animation was created using https://www.haiku.ai/ so I do not have an after-effects file

[2018-02-05 13:35] taylorling commented on #606
@gpeal I think I might have the same issue, and I am using pre-comp. The opacity change in the comp renders correctly in web and iOS, but in Android, it has this overlapping transparent effect.

Attached below is the comparison of iOS and Android:
![media-20180205](https://user-images.githubusercontent.com/7766387/35806994-58ec98b2-0abc-11e8-88c2-45d46e8befa2.png)
![img_0484](https://user-images.g

[2018-02-05 15:19] mister11 commented on #601
@gpeal I've tried with the 2.5.0-rc1 and it fixed the issue with animation-5 from the zip, but animation-4 is still glitchy. Can you take a look at it?

[2018-02-05 17:57] mateusgrb commented on #555
@gpeal any ETA for 2.5.0?

[2018-02-05 22:58] geolyth opened #614 "app:lottie_imageAssetsFolder not work?"
I'm using latest version of Lottie (com.airbnb.android:lottie:2.5.0-beta3) but I receive an error when I try to put animation in a folder inside assets (assets/animations/notification.json)

[code]

I use this code:
[code]

If I put this in assets it works.

[2018-02-06 17:30] gpeal commented on #614
@geolyth imageAssetsFolder is if your animation has actual images (which is rarely necessary).
Just put your json in `assets/` and remove that attribute.

[2018-02-06 17:30] #614 closed

[2018-02-06 17:40] geolyth commented on #614
@gpeal Ah ok.
So If I would like to organize my animations in folders inside "Assets"? Is possibile?

[2018-02-06 18:10] gpeal commented on #614
No, you can also put your animations in res/raw and reference them though `@raw/animationName`

[2018-02-06 18:10] gpeal commented on #614
This is the same for any Android resource though.

[2018-02-07 02:51] Ahmed3Elshaer opened #615 "Appintro Animation start progress is not the same on different devices"
On testing my appIntro animation it works well on my Xiaomi Mi A1  Android Oreo, it starts on the expected progress which is 0.20f shown in [this screenshot](https://drive.google.com/open?id=1-ejQkg19QUGuD2lSytlTuOUAdHuBc0eg).
But on testing on a Samsung Galaxy S4 Android Lollipop 5.0.1 it starts on a different Progress shown in [this screenshot](https://drive.google.com/open?id=1FQHHv6EEwg9ALC5jb

[2018-02-07 07:48] vinnyHero opened #616 "lottie animation doesn't show up in react native android build ."
react-native : "0.48.3"
lottie-react-native : "^2.3.2"

when ever i run my project, it shows blank page . no animation.
integrated successfully , linked with android studio .
have put my json file into assets folder but no luck

here is my code snippet

`import LottieView from 'lottie-react-native';`

`  componentDidMount(){
   this.animation.play()
  }`

 render(){
    return(
      <LottieView

[2018-02-07 08:28] gpeal commented on #616
Please file this on airbnb/lottie-react-native.
There are a few paths in docs that I need to update. Check https://github.com/airbnb/lottie-react-native/issues/242 for more info.

[2018-02-07 08:28] #616 closed

[2018-02-07 08:34] thejay01 opened #617 "Newton2 Plugin and bodymovin"
Hello everybody,
in one of the comments it says that not all the features of the Newton Plugin can be exported to a svg with bodymovin. I am about to buy Newton2 and I want to be sure what works or not ☺
Can you tell me which effects do you mean?

Thank you very much in advance,
J

[2018-02-07 23:04] gpeal commented on #617
We have no connection to Newton so you'll have to ask them.

[2018-02-07 23:04] #617 closed

[2018-02-08 00:26] geolyth opened #618 "Animation on click works only after the first try?"
I'm using Lottie 2.5.0-rc1.

I'm trying to do a simple change of animation (selected/unselected) after a click on an object like so:
[code]
On first click on object the animation is "empty" (I am not able to see nothing), but after this one the animation works perfectly.

Some ideas on why this happens?

P.S. If I use Lottie 2.3.1 this behaviour not happen (so all works well)

[2018-02-08 00:27] geolyth commented on #614
@gpeal Ok, I put all animations in /assets, so all animations works well.
Thanks you

[2018-02-08 02:04] gpeal commented on #618
@geolyth Can you attach a sample project that repros this?

[2018-02-08 12:45] geolyth commented on #618
@gpeal I am using in a personal project so in this moment it is difficult to clone in sample project.
I'm using that snippet in a BindingAdapter (from DataBinding).

[2018-02-08 16:12] AroundPixels opened #620 "LlottieAnimationView addColorFilterToLayer removed in version 2.5.0-rc1"
Hi,

Using addColorFilterToLayer to change animation layer colors dinamically, I'm updating library to 2.5.0-rc1 but can't find LlottieAnimationView.addColorFilterToLayer. There is any new method to do the same?

Thank you
Ruben

[2018-02-08 21:41] digitalbuddha opened #621 "Scrolling Jank when a full screen animation is in a RecyclerView"
I'm using lottie with a recyclerview that has 2 views that are each full screen.  I am putting  a `LottieAnimationView` at the root of one of my views with height and width equal to parent.  It is observed that when the recyclerview scrolls frames are being skipped. The behavior goes away if I instead make the lottie view 200x200dp.  It seems like large lottie views do more work than android can h

[2018-02-09 13:05] margauxdivernois opened #622 "IndexOutOfBoundsException in interpolateBetween()"
Hello Lottie Team,

I currently have a crash in my application when setting a local animation file. Please note that the animation file is correctly working with the iOS Lottie SDK, and that the whole Android code is working with another animation.

[code]

After looking for a short while, it seems that your code in the function interpolateBetween() in ShapeData contains :

[code]

In my case, cur

[2018-02-10 21:28] vujma opened #623 "after effect animation to lottie for android not working"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-02-10 22:04] gpeal commented on #623
Please fill out the information requested above.

[2018-02-10 22:04] #623 closed

[2018-02-10 22:05] gpeal commented on #620
http://airbnb.io/lottie/android/dynamic.html#migrating-from-the-old-addcolorfilter-api

[2018-02-10 22:05] #620 closed

[2018-02-10 22:30] gpeal commented on #613
I see. I just took a look and I switched to a streaming json parser in 2.5. Due to that, the "ty" type property **must** be the first key in each object. I'll email the Haiku dev and give him a heads up. I'm going to close this here though since there is nothing I can do about it.

In the mean time, go in your json and move an "ty" keys to the beginning of their respective objects.

[2018-02-10 22:30] #613 closed

[2018-02-10 22:31] gpeal commented on #613
@zackbrown fyi

[2018-02-10 22:32] gpeal commented on #618
Without a sample project, I won't be able to repro this. One thing to note is that animations are loaded async so it may have to do with an animation not being loaded.

[2018-02-10 22:32] #618 closed

[2018-02-10 22:33] gpeal commented on #612
@gshysun Ah, I just removed the factory method.

[2018-02-10 22:33] #612 closed

[2018-02-10 22:33] gpeal commented on #612
`LottieComposition.fromJsonSync`

[2018-02-10 22:34] gpeal commented on #612
Actually, I'll revert it so the API doesn't change

[2018-02-11 19:48] MadGraph commented on #344
Hey guys, I know why it's black and white !!

I spent 2 hours playing with the json file.

which renders
"k":[0,1,1,1,1,1,1,1]
=> positionColor1,r,g,b,positionColor2,r,g,b

I replaced that using my RGB colors:

Taking R / 255, then G / 255 etc...
I got that:
"k":[0,0.85,0.27,0.98,1,0.26,0.93,0.99]
![capture d ecran 2018-02-11 a 20 47 32](https://user-images.githubusercontent.com/8480975/36077567-d

[2018-02-12 07:34] gpeal commented on #595
Duplicate of #444

[2018-02-12 07:34] #595 closed

[2018-02-12 07:35] gpeal commented on #583
@AsheStarlight bump

[2018-02-12 07:40] gpeal commented on #622
@margauxdivernois Your animation is trying to animate from one shape to another that has a different number of bezier vertices. Lottie has no way of accurately animating between the shapes unless the vertices are 1:1. I would suggest re-working your animation such that all shapes have the same number of vertices throughout the animation.

If you are unsure which one is breaking, try exporting indi

[2018-02-12 07:40] #622 closed

[2018-02-12 16:48] mhdtouban commented on #524
Did you solve this issue? it's still being reported on v2.3.1
Android 4.4.2
smartphone HTC Desire 820G PLUS dual sim

[2018-02-12 18:08] gpeal commented on #524
@mhdtouban The fix is in 2.5.0-rc1. rc2 will come out this week.

[2018-02-13 07:04] gpeal commented on #583
Feel free to reopen if you attach a repro animation.

[2018-02-13 07:04] #583 closed

[2018-02-13 13:57] nitin9096 commented on #269
i  need one help i have json  file and there are multiple layers or componants and i need to handle click of the componants diffrently how can i do this?

[2018-02-13 16:20] Phoca commented on #287
I have the same problem. I want to play three jsons in sequence.
When I set the new Animation file in the `onAnimationEnd`-Callback and call `playAnimation` afterwards, the new animation can be seen for a split second, after that `onAnimationEnd` is called again. The workaround with the Handler from @franrc works, however it either causes an unnecessary delay worsening user experience if chosen to

[2018-02-13 16:54] Phoca commented on #287
I've been digging in the sources and found out that the public method `setComposition` is called as soon as the json is loaded. I've overridden the LottieAnimationView with the following (Kotlin) code:

[code]
Now I just set `playWhenReady` to true instead of calling `playAnimation` and it works like a charm :)

[2018-02-14 06:13] gpeal commented on #287
@Phoca https://github.com/airbnb/lottie-android/pull/625

[2018-02-14 06:17] #491 closed

[2018-02-14 06:17] #610 closed

[2018-02-14 06:17] #615 closed

[2018-02-14 07:09] #621 closed

[2018-02-14 09:46] Phoca commented on #287
@gpeal Thanks for the super fast fix! Calling `playAnimation` works as expected now with 2.5-RC2.

[2018-02-14 23:18] FabioMorcillo opened #626 "Change animation success to fail ?"
Hi,

I am trying to change animation to fail in android studio, but i not found this way, anyhere can help me ?

https://www.lottiefiles.com/627-loading-success-failed

Thank you,

[2018-02-16 02:07] azchohfi opened #628 "setProgress going to wrong frame when startFrame > 0"
This is happening after #624.
https://github.com/airbnb/lottie-android/blob/05df617dc2c1656b0db2dc5f24f2bde0eb4c2c8c/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L514is not considering the startFrame.

[2018-02-16 04:51] gpeal commented on #626
Sorry, I don't understand your issue.

[2018-02-17 19:28] Alexef910 opened #630 "Can't get control progress in "Lottie Animation" to work"
Hi guys I have an issue regarding the progress of an animation in Xcode.
My code is this:

let animationView = LOTAnimationView(name: "AnimationOne")
        animationView.frame = CGRect(x: 100, y: 100, width: 250, height: 250)
        animationView.contentMode = .scaleAspectFill

        self.view.addSubview(animationView)
        animationView.play(fromProgress: 0.25, toProgress: 0.5, withComple

[2018-02-18 01:27] gpeal commented on #630
@Alexef910 This is the wrong repo. Please post this on airbnb/lottie-ios

[2018-02-18 01:27] #630 closed

[2018-02-18 01:40] #628 closed

[2018-02-19 10:30] PaulWoitaschek opened #636 "2.5.0: Visibility issues"
The migration guide suggests to use:

[code]

instead  of `animationView.addColorFilterToLayer("hello_layer", colorFilter);`

However `LottieValueCallback` is marked as `@RestrictTo(RestrictTo.Scope.LIBRARY)`

[2018-02-19 10:53] PaulWoitaschek opened #638 "Can't remove a color filter."
Pre `2.5` i was using `addColorFilterToLayer("LayerName", filter)` to add a color filter and cleared it by passing `null`.

In 2.5 I can't do that any longer. I can use `LottieValueCallback#setValue(null)`, but then it crashes at runtime with:.
`You must provide a static value in the constructor , call setValue, or override getValue.`

Also I think the case that a value must be set, should be docu

[2018-02-19 13:22] Kevinrob opened #639 "ConcurrentModificationException in BaseLottieAnimator since 2.5.0"
Since I have updated to `2.5.0`. I have a `ConcurrentModificationException`.

[code]

In `BaseLottieAnimator`, maybe we can change `updateListeners` and `listeners` for a thread safe type? Like `CopyOnWriteArraySet` ?

I can do a PR with pleasure 👍

[2018-02-19 14:02] PaulWoitaschek opened #640 "Updating value does not work"
Calling `setValue` on `LottieValueCallback` has no effect when the view is not laid out yet.

Here is a project for reproducing this:

[code]

[HamburgerArrow.json](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/assets/HamburgerArrow.json)

A3 is the top bar. I expect the bar to be shown as I call `setValue(100)`. However it is not shown and hidden through the value spe

[2018-02-19 14:38] mateusgrb opened #641 "onStop() of previous activity is called only after 10 seconds"
I have an Activity A that starts an activity B, which contains a fragment, which in turn has a fullscreen `LottieAnimationView`. I display that animation while data is being fetched from the network.

I've noticed that the `onStop()` method from Activity A takes about 10 seconds to be called after B is started. In contrast, when we navigate from A to other activities, the method is called right af

[2018-02-19 22:48] gpeal commented on #641
@mateusgrb This is very bizarre... Can you create a minimal project that repros this? We haven't experienced anything like this before.

[2018-02-19 22:49] gpeal commented on #641
As a test, try calling [useHardwareAcceleration](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L297)

[2018-02-19 22:53] gpeal commented on #636
Ah, I meant to remove that before release. Feel free to use it and suppress/ignore it until 2.5.1 is out.

[2018-02-19 23:00] #636 closed

[2018-02-19 23:05] gpeal commented on #639
@Kevinrob I would accept a PR for this.

[2018-02-19 23:15] gpeal commented on #640
@PaulWoitaschek This code worked for me. If you can recreate this in a sample project, feel free to reopen it.

(I set A3 to 50)
![image](https://user-images.githubusercontent.com/1307745/36400721-ab6afef0-1587-11e8-991d-9c5bb2c46cb6.png)

[2018-02-20 10:24] PaulWoitaschek commented on #640
Sure. Actually it is already the sample project, there is nothing more.

So here  a full repo: https://github.com/PaulWoitaschek/LottieBug/blob/master/app/src/main/java/de/paul_woitaschek/lottiecallbackbug/MainActivity.kt

[2018-02-20 14:11] brystel opened #643 "Rotate animation element independently"
Hi,

I want to rotate one element from animation independently.
I follow *Updating Properties Dynamically* tutorial and tried to use `LottieAnimationView.addValueCallback` methods, but them allow only to change element parameters during animation progress change.

Is there a way to get animation element (for example using `KeyPath`) and rotate it infinitely (for example using handler which will ch

[2018-02-20 16:02] PaulWoitaschek commented on #640
@gpeal Did you read this?

[2018-02-20 17:24] #639 closed

[2018-02-21 09:53] hearsilent commented on #594
@gpeal I just create PR (#644) to fix this issue 👍

[2018-02-21 15:15] itsDanLEL opened #645 "How to convert .aep to .json"
Can you teach me how to convert ?

[2018-02-21 16:16] fabionuno commented on #645
I hope the [Installing Bodymovin](http://airbnb.io/lottie/after-effects/bodymovin-installation.html) tutorial and the [How to export an animation with Bodymovin](https://www.youtube.com/watch?v=5XMUJdjI0L8) video  can help you.

[2018-02-22 03:12] bodymovin opened #646 "Support new json format"
The new json format is considerably lighter by removing the end property of each keyframe.
Here are some samples to use as reference.
[render.zip](https://github.com/airbnb/lottie-android/files/1746512/render.zip)

[2018-02-22 07:32] gpeal commented on #645
Thank you @fabionuno

[2018-02-22 07:32] #645 closed

[2018-02-22 07:34] #594 closed

[2018-02-22 07:35] gpeal commented on #643
@brystel Call setValue on your ValueCallback.

[2018-02-22 07:35] #643 closed

[2018-02-22 08:52] brystel commented on #643
Unfortunately it does not work.
I am playing animation using `ValueAnimator` via `setProgress(float progress)` method.
So when there are no updates from ValueAnimator then `setValue` on `ValueCallback` method has no impact.

Maybe there is different way to do this?
Can I get drawable or ImageView from animation and rotate it manually?

[2018-02-22 08:59] taylorling commented on #606
@gpeal Sorry for the follow up - should I file this as another issue, or this will not be fixed?

[2018-02-22 22:19] gpeal commented on #606
@taylorling This will not be fixed. The performance overhead would be too high. If you have ideas of efficient ways of solving it, let me know.

[2018-02-22 22:45] cshalysongoncalves opened #647 "Frame Drop"
@gpeal  My animations are dropped frame. Currently I have an onboarding screen in which it has four 4, each with an animation.

*Pixel 1 - Android Oreo
*Lottie 2.5.0
[raw.zip.zip](https://github.com/airbnb/lottie-android/files/1749837/raw.zip.zip)

[2018-02-23 00:54] cshalysongoncalves commented on #647
The animation is catching (league)

[2018-02-23 01:20] gpeal commented on #647
@cshalysongoncalves Sorry, I don't understand.

[2018-02-23 05:53] nabrozidhs commented on #647
From what just happened to me I guess something changed from `lottie:2.5.0-rc1` to `lottie:2.5.0` and is causing the same animation to look like is dropping frames.

[2018-02-23 07:59] gpeal commented on #647
@nabrozidhs Lottie now respects the framerate set in After Effects instead of trying to render everything at 60fps. I can add an API to force it to try and render at 60fps if you want though.

[2018-02-23 08:06] nabrozidhs commented on #647
I don't think it's needed, I'll ping my designer and update my source animations.

I'll let you know if it works!

[2018-02-23 11:09] cshalysongoncalves commented on #647
Exactly as @nabrozidhs mentioned!

[2018-02-23 17:53] azchohfi commented on #647
I did this for LottieUWP. It now has a FrameRate property that by default has the value set inside the main file, but it can be changed by the developer, if wanted.

[2018-02-24 03:45] sin3hz opened #648 "setAnimation not working after another drawable was set"
Steps to reproduce
[code]

The problem is [setComposition](https://github.com/airbnb/lottie-android/blob/c6c1a966b746881a22732ac93dbddf90be101ac3/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L470) does not reapply the lottieDrawble after drawable changed.
I think call `clearComposition` in `setImageDrawable` will fix this.

[2018-02-24 14:46] rosconabn commented on #648
Try to set LottieAnimationView.setImageDrawable to null because I think it doesn't change if is the same.
e.g.
lottieAnimationView.setImageDrawable(null);
lottieAnimationView.setImageDrawable(R.drawable.drawable);

[2018-02-24 14:48] rosconabn commented on #487
They should add some Key frame naming and so also the time.
 I had to do this manually until now and I agree is a pain!

[2018-02-24 14:57] rosconabn opened #649 "Stuck with weird speed bouncing animation behaviors on different devices. more info inside"
Hello,
 as stated in the title I'm seeing different behaviors while playing the same file.
I'm testing this on an old kind phone LG4 and on a new one S8+.

The problem is simple when I play the animation on the LG4 (very slow phone) it actually plays smoothly.
On the other device instead (S8+) I see the animation going like is bouncing back few frames and then moving forward.

I don't think there

[2018-02-25 07:34] gpeal commented on #649
@rosconabn Can you attach the animation? It'll be hard to reproduce this without it.

[2018-02-25 08:50] zoky2017 opened #650 "compileSdkVersion"
hello, I had some problems when compile 'com.airbnb.android:lottie:2.5.0-rc1' to my project
because other reason, my project compileSdkVersion is 22 , but the lottie compileSdkVersion  is 27
Do I have to  upgrade my compileSdkVersion to 27 for using lottie?

[2018-02-25 20:41] rosconabn commented on #649
As I said before just try to run any animation with an S8+ and let me know if you see the same animation issues.

[2018-02-25 20:43] rosconabn commented on #650
Yes use
    compileSdkVersion 27
    buildToolsVersion '27.0.2'

it's "fine"...

[2018-02-25 23:12] gpeal commented on #649
It looks fine on my S8. Can you attach a video?

On Sun, Feb 25, 2018, 12:41 PM rosconabn <notifications@github.com> wrote:

[2018-02-26 02:54] gpeal commented on #650
@zoky2017 You should keep your compileSdkVersion up to date.
https://medium.com/google-developers/picking-your-compilesdkversion-minsdkversion-targetsdkversion-a098a0341ebd

[2018-02-26 02:54] #650 closed

[2018-02-26 03:08] min0623 opened #651 "minSDK still seems to be 16"
Hi, I saw that since version 2.5.0 Lottie supports minSDK version of 14.

When I tried building my app with 2.5.0-rc1, it worked well with minSDK of 14, but as I upgraded Lottie to stable version 2.5.0, it says that Lottie supports minSDK of 16. Is the change rollbacked, or am I doing something wrong?

Thanks

[2018-02-26 07:19] geeksammao commented on #641
@mateusgrb I have experienced this before on an Android 7.0 device, but I didn't use Lottie and use a infinite view animation instead.I solved the problem by stopping the animation in `onPause` and resuming it in `onResume`.I guess Android 7.0 changed some behavior about animation.

[2018-02-26 08:38] sin3hz commented on #648
@rosconabn It's not working.

[2018-02-26 11:53] rosconabn commented on #649
I will add a video but can you also confirm that you are compiling with
    compileSdkVersion 27
    buildToolsVersion '27.0.2'

    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile 'com.android.support:multidex:1.0.2'
    compile 'com.android.support:design:27.0.2'
    compile 'com.android.support:customtabs:27.0.2'
    compile 'com.android.support:recyclerview-v7:27.0.2'
    compile

[2018-02-26 12:03] rosconabn commented on #649
Can you add an email where to send you the videos since I don't feel comfortable adding these videos here. Thank you

[2018-02-26 12:32] rosconabn commented on #649
A small update, I just tried with the     compile 'com.airbnb.android:lottie:2.5.0-rc1' because I heard from someone in the forum that something was different and surprisingly it magically works with that.
So there is something that didn't get in  2.5.0 ? or got removed ?
meanwhile I will use the 2.5.0-rc1

[2018-02-26 14:17] fredydoss opened #652 "Animation not same on iOs and Android. Animation reversed. Rotated 180"
I have a custom progress bar and it does not behave the same on Android and iOs.

On iOs it rotates clockwise(desired direction) but on android it is completely the opposite.
The rotation is anti-clockwise and it is rotated 180degree.

I used the com.airbnb.android:lottie:2.5.0-rc1 to use the setSpeed(-1) to reverse the animation.
Even the setSpeed(-1) is not working on the stable version.

[2018-02-27 00:33] gpeal commented on #652
@fredydoss Can you attach the animation?

[2018-02-27 00:34] gpeal commented on #649
@rosconabn lottie a_t airbnb.com

It is likely related to https://github.com/airbnb/lottie-android/pull/624

[2018-02-27 00:35] gpeal commented on #651
The minSdk had to be raised to 16 for https://github.com/airbnb/lottie-android/pull/624

I tried to support 14 for as long as possible but I had to raise it for this change.

[2018-02-27 00:35] #651 closed

[2018-02-27 03:51] nijian81 opened #653 "Android LottieAnimationView setAnimation crash"
java.lang.IllegalStateException: Unable to find file loading_common.json
	at com.airbnb.lottie.LottieComposition$Factory.fromAssetFileName(LottieComposition.java:115)
	at com.airbnb.lottie.LottieAnimationView.setAnimation(LottieAnimationView.java:326)
	at com.airbnb.lottie.LottieAnimationView.setAnimation(LottieAnimationView.java:299)
	at org.iqiyi.video.ui.PanelMsgLayerImplLoading.initUi(PanelMsg

[2018-02-27 06:15] min0623 commented on #651
@gpeal Oh okay. Hope you get to update the documentation soon! Thanks

[2018-02-27 08:39] DrankoLQ commented on #653
Is your json file localized in the assets folder?

[2018-02-27 14:56] LaurensVandevyver opened #654 "Lottie isn't rendering stars correctly"
Hello

First of all, thank you for creating this amazing kick-ass library the work it does is amazing!

Now, I drew this in illustrator and animated it in after effects. I created shapes from all my vector layers and exported this using the bodymovin extension.

<img width="404" alt="screen shot 2018-02-27 at 15 49 57" src="https://user-images.githubusercontent.com/23653318/36735218-ec9803ce-1bd5-

[2018-02-27 18:06] Sirvanalie opened #655 "Fatal Exception: java.lang.OutOfMemoryError"
I receive an error from Huawei  G750-U10 device in my Firebase console.

**Fatal Exception: java.lang.OutOfMemoryError
com.airbnb.lottie.model.layer.BaseLayer.buildParentLayerListIfNeeded**

[code]
My version lottie library is **2.5.0.** How can I resolve this issue ?

Device info :

Brand: **HUAWEI**
Model: **G750-U10**
Version : 4.2.2

[2018-02-28 06:41] gpeal commented on #655
@Sirvanalie When you see a crash like that, it's not specifically lottie that is the issue, it's the sum of all memory used by your app and just happened to fail on Lottie.

[2018-02-28 06:41] #655 closed

[2018-02-28 06:42] gpeal commented on #653
@nijian81 Your json file should be in src/main/assets like @DrankoLQ indicated.

[2018-02-28 06:42] #653 closed

[2018-02-28 08:57] nihalp opened #656 "LottieValueAnimator doesn't respect startFrame on LottieComposition"
For a composition with a nonzero startFrame, LottieValueAnimator starts at frame 0 instead of the correct value. This issue can be seen in this modified Countdown file with `"ip":30`. Instead of starting at "2" (frame 30), the animation starts at "3" (frame 0).

[lottiefiles.com - Countdown.json.zip](https://github.com/airbnb/lottie-android/files/1766307/lottiefiles.com.-.Countdown.json.zip)

| cu

[2018-03-01 02:00] elihart opened #658 "Update documentation to demonstrate resource access"
Documentation still shows the old way of loading a file by explicit string name. Would be nice to update it to the newer way of accessing a resource

[2018-03-01 09:33] rosconabn commented on #649
So are you pushing a new build for it or what?

[2018-03-01 09:47] TJHello opened #659 "组件未能正确适应大小"
如题，json标注的大小是"w":1080,"h":800,"，但使用lottie显示之后，高度和宽度远远大于json标注的大小，这是不正常的，而且，有时候，json是长方形的，而lottieview却是正方形的(自动补全为正方形？)

[2018-03-01 11:33] cshalysongoncalves commented on #647
@gpeal Any news?

[2018-03-01 13:45] mateusgrb commented on #641
@gpeal  Here's a minimal project that reproduces the issue. I'm running on a Nexus 6P Android 8.1.0

Note that `LottieManager` is a class that loads the composition on startup, so that it's potentially already loaded when requested. That's the strategy I'm using on my main app.

The animation used here is https://www.lottiefiles.com/1505-beauty

[LottieIssue.zip](https://github.com/airbnb/lottie-a

[2018-03-01 15:12] fredydoss commented on #652
@gpeal  It works well on iOs but not on android <br>
[test.json.zip](https://github.com/airbnb/lottie-android/files/1771630/test.json.zip)

[2018-03-01 16:14] gpeal commented on #649
No, you never sent a video and I don't know what the issue is.

On Thu, Mar 1, 2018, 1:33 AM rosconabn <notifications@github.com> wrote:

[2018-03-01 16:14] gpeal commented on #647
I will add this in the next few weeks or will accept a pr sooner.

On Thu, Mar 1, 2018, 3:33 AM Halyson Lima Gonçalves <
notifications@github.com> wrote:

[2018-03-01 17:03] maozleta commented on #552
Hi, How did you resolve this issue?
I have the same problem, in iOs and web, Json animation looks fine, but in Android appears a little blink.
I'm using 2.2.5 library version, with 2.5.0 animations go too slow.

[2018-03-01 17:59] gpeal commented on #552
@maozleta 2.5.0 shouldn't have a performance regression per-se but you may be affected by https://github.com/airbnb/lottie-android/issues/647

I think I'm going to switch it back to default to 60fps for the next release

[2018-03-01 17:59] gpeal commented on #552
@maozleta Every animation is different. Can you open an new issue and attach your animation?

[2018-03-01 18:00] gpeal commented on #659
Lottie converts px to dp so your animation will be 1080x800dp
http://airbnb.io/lottie/android/performance.html#sizing-px---dp

You can also use scaleType like you would on an ImageView

[2018-03-01 18:00] #659 closed

[2018-03-01 18:12] maozleta commented on #552
@gpeal ok, thanks.

[2018-03-01 18:20] maozleta commented on #552
@gpeal by the way, in 2.5.0 the blink effect dissapears.

[2018-03-01 20:38] MNDaveC opened #660 "setProgress on LottieAnimationView doesn't always reflect without playAnimation"
For a LottieAnimationView I often want to set the progress 0.5f without playing any animation. I have found that this is not reliable without also calling playAnimation and setting setMaxProgress to 0.5f and calling playAnimation. This workaround seems to cause some extra flicker of the view. Ideally, I'd like setProgress to immediately render the desired progress point.

For background my animati

[2018-03-01 20:42] MNDaveC opened #661 "LottieAnimationView setMaxProgress without setMinProgress doesn't stop at max"
If I call the following on my LottieAnimationView, the animation goes past the max and wraps past the end of the animation and starts to play the beginning of the animation:
setProgress(0.5f)
setMaxProgress(1.0f)
playAnimation()

Adding in a setMinProgress(0.5f) seems to be a successful workaround...  despite it seeming unnecessary.

[2018-03-02 04:08] gpeal commented on #661
@MNDaveC I'm unclear as to what the issue is here. Why would it not wrap back to the beginning in this case?

[2018-03-02 04:09] gpeal commented on #660
@MNDaveC You should just be able to call setProgress. Can you attach a sample project that repros this?

[2018-03-02 04:13] gpeal commented on #552
@happymario You didn't attach the aep file. I'll need that to debug it.

[2018-03-02 04:13] gpeal commented on #649
I'm going to assume this is a duplicate of #657

[2018-03-02 04:13] #649 closed

[2018-03-02 04:40] gpeal commented on #654
@LaurensVandevyver Merge paths are only supported on KitKat and above so it's an opt-in API that you have to manually enable. There is also performance overhead with them so I recommend making the stars with shapes instead.

[2018-03-02 04:40] #654 closed

[2018-03-02 04:40] gpeal commented on #654
Polystars are supported as well

[2018-03-02 09:06] Moes81 commented on #658
Also an API doc/method docs would also be nice. Currently it's just browsing through autocomplete to find a method that might do what you need.

[2018-03-02 10:31] VinoliyaPrincy opened #662 "Second time enabling visibility it's not showing animation"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-03-02 10:49] Moes81 opened #663 "setting new values for setMinAndMaxProgress in onAnimationEnd, new animation segment is not starting"
I have a json that contains different "segments" for serveral states of the app. On certain states, I have to play different segments after each other. I ensured, that `loop` is always false, if there is a follow up animation. However, with the code example below (simplified), the very first animation runs fine, but the next animation segment doesn't show. The `AnimatorListener.onAnimationStart()`

[2018-03-02 12:38] Moes81 commented on #662
Hm, you probably should replace the default text with your own description and a code example. Chances might increase for receiving help.

[2018-03-02 14:08] MNDaveC commented on #661
In the example above I want to start the animation in the middle (set progress to 0.5f) and play it to the end without having it wrap back to the beginning. My assumption is by setting max progress to 1.0f should stop it at the end.

[2018-03-02 14:31] rosconabn commented on #649
Oh I'm glad you can read and then assume what's the issue.

[2018-03-02 14:46] MNDaveC commented on #660
I see this behavior when the view containing the LottieAnimationView is in a RecyclerView.ViewHolder when I scroll the RecyclerView and the affected view gets recycled and recreated. Changing the cacheStrategy seems to have no impact. So the first time the ViewHolder binds the setProgress seems to work, but subsequent binds seem unreliable.

Example gist: https://gist.github.com/MNDaveC/0ebf0179c4

[2018-03-02 15:34] happymario commented on #552
Yes.
It showed it. I attached.
[tgvRxz.zip](https://github.com/airbnb/lottie-android/files/1775683/tgvRxz.zip)

[2018-03-02 15:35] happymario commented on #552
iOS result is not same with android.

[2018-03-02 16:58] Moes81 commented on #661
@MNDaveC max progress sets the "upper border" in case you only want to play a "segment" from your animation, e.g. from 10% to 70% you set the max progress to `0.7f`. If the animation is running in a loop, you should check the `repeatCount` and `repeatMode` values.

[2018-03-02 17:25] MNDaveC commented on #661
I had not set either of those values... could have been due to the other issue I posted about setProgess not taking effect... ?

[2018-03-02 18:50] gpeal commented on #661
@MNDaveC Have you tried using the repeatCount api?

[2018-03-03 00:03] MNDaveC commented on #660
BTW this is using com.airbnb.android:lottie:2.5.0

[2018-03-04 22:29] Philipp97714 opened #664 "setScale doesn't work"
I'm trying to execute this code:
`animationView.cancelAnimation();
animationView.setAnimation("empty.json");
animationView.setRepeatCount(LottieDrawable.INFINITE);
animationView.setScale(1);
animationView.playAnimation();`

Unfortunatelly, the animation isn't shown if I include the line `animationView.setScale(1);`. Isn't it possible to change scale at runtime?

The XML File looks like that
`<com.

[2018-03-05 00:11] #656 closed

[2018-03-05 04:39] gpeal commented on #664
@Philipp97714 This is most likely due to your ConstraintLayout constraints causing the view to remain a certain size. Try adjusting your constraints or as a test, try setting a different image drawable on the LottieAnimationView (it extends ImageView so you can use it like you would anything other ImageView).
If you can't figure it out, attach a sample project.

[2018-03-05 04:39] #664 closed

[2018-03-06 00:50] MNDaveC commented on #661
I have found a particular json file that always seems to replay when it animates, while the same code with a different lottie json animation works fine (does not replay). For now I have gone back to Lottie 2.1.0 where the problematic json animation plays fine. I can send you the problem json file if you let me know best way to send it to you. I don't want to post it publicly. Thanks

[2018-03-06 05:30] gpeal commented on #661
@MNDaveC You can send it to lottie_at_airbnb_dot_com

[2018-03-07 16:57] dnfield opened #665 "MergePaths bug for LottieFiles:motorcycle.json"
Using this file:
https://www.lottiefiles.com/29-motorcycle

with merge paths enabled on a KitKat+ phone in Lottie preview, the motorcycle doesn't render properly.  Something seems to go off with the PathOp.Intersect.

I'm finding this while working on a Flutter port of Lottie that's largely based off of the Android code.  It renders fine if I force it to go to PathOp.Union.  It makes me suspect th

[2018-03-08 01:10] gpeal commented on #665
@dnfield I'm not sure that the lottie merge paths 100% map the AE ones. In fact, it's possible that there are some inconsistencies. This is where the logic is on the lottie side
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/animation/content/MergePathsContent.java#L53

[2018-03-08 11:57] hussanirizvi2 opened #666 "first build of lottie-android"
Hi,

this is probably a very silly issue that is extremely simple (as I have googled everywhere and found nothing)

Trying to use Android studio with this project on git hub

https://github.com/airbnb/lottie-android

every time I run it I get this error at the build stage:

Executing tasks: [assemble]

Configuration on demand is an incubating feature.

FAILURE: Build failed with an exception.

* W

[2018-03-08 14:02] jda-tid commented on #661
Starting in Lottie 2.5.0, my animations are not starting in "progress  == 0" so I have to find where it should start. A workaround is to do something like `lottieView.setMinProgress(16.2f)` for every animation.

In Lottie 2.3.1 it works as expected.

[2018-03-08 14:11] MNDaveC commented on #661
What does the `16.2f` represent? Do these values come from After Effects? How are these determined for beginning, middle and end of the animation?

Also, I'm not clear how this is resulting in the animation playing twice?

`In Lottie 2.3.1 it works as expected.` Are you implying this is a bug in 2.5 or has the functionality changed with 2.5?

[2018-03-08 14:27] jda-tid commented on #661
The value is different for each animation. I have found these values logging the animation and I saw that iit was playing some weird stuff before the actual animation which is fixed using an offset of X.

I am no designer, I just receive animations and insert them in an Android app.

I think that it is a bug in 2.5.0. It also works as expected in https://www.lottiefiles.com/preview

[2018-03-08 14:43] Akshshr commented on #647
Hey,
Running this on Motorola Play Z, and I see a lot of lag/dropped frames in every animation.

Dont think this issue is device specific, but it appears lottie as a library isnt very friendly to phones that are slightly older.

Needs to be lighter as far as I can tell, do you guys have any suggestion?

[2018-03-08 15:38] fertwo opened #667 "JSON Reader AssertionError when doInBackground (Android 7, 8)"
Hi guys, in latest Lottie Android version (2.5.0) we are having several crashes at doInBackground() method. This crash is only happening on Android 7 and 8 versions.

Here is our animation preloading code:

[code]

Here is the StackTrace:

Any ideas?

Tnx in advance

[2018-03-08 20:38] lawloretienne opened #668 "Scale best practice"
Is it best practice to have a different dimension for the `app:lottie_scale` attribute?  Right now i have a dimension declared in a `dimens.xml` file that is in `/values-hdpi`, `/values-xhdpi`, `/values-xxhdpi`, `/values-xxxhdpi`.  Is that the right approach?

[2018-03-09 03:10] AIlll opened #669 "progress"
why no progress listener?

[2018-03-09 03:18] #669 closed

[2018-03-09 06:04] gpeal commented on #647
@Akshshr I think any dropped frames regression in 2.5.0 is actually due to it following the framerate specified in After Effects rather than trying to always run at 60fps. I may revert this behavior change, however.

Lottie was written with performance in mind. However, many performance issues can be solved by re-working parts of your animation, particularly if they have many or large mattes or ma

[2018-03-09 06:05] gpeal commented on #661
@jda-tid Your issue is likely solved by https://github.com/airbnb/lottie-android/commit/3869e29ff221b586580a1e6a30e2ed0c36aac53b

[2018-03-09 07:29] namgungsook opened #670 "NPE - FontFragment aren't binded."
After commit 79c6471, NPE is occurred when FontFragment launch.
It happens because butterknife can not bind FontFragment.
butterknife log is as follows:

03-09 16:15:36.652 3662-3662/com.airbnb.lottie D/ButterKnife: Looking up binding for com.airbnb.lottie.samples.FontFragment
03-09 16:15:36.652 3662-3662/com.airbnb.lottie D/ButterKnife: Not found. Trying superclass android.support.v4.app.Fragment

[2018-03-09 07:37] namgungsook commented on #670
You guy should change it
annotationProcessor 'com.jakewharton:butterknife-compiler:8.8.1'  ->
kapt com.jakewharton:butterknife-compiler:8.8.1'

[2018-03-09 21:45] gpeal commented on #668
@lawloretienne You shouldn't ever need this. All values in your composition get converted to dps. If you want the animation to be a specific size, just set a fixed size on your LottieAnimationView and use `scaleType="centerInside"` or `centerCrop`

[2018-03-09 21:45] #668 closed

[2018-03-09 21:45] gpeal commented on #667
@fertwo can you attach the animation?

[2018-03-09 21:46] gpeal commented on #666
@hussanirizvi2 Make sure to clone the repo with git. Don't just download an archive of it with a zip file or something. Somehow your lottie directory isn't a git repo.

[2018-03-09 21:46] #666 closed

[2018-03-10 08:28] iweey opened #672 "recyclerview onBindViewHolder lottie reanim bug"
recyclerview  onBindViewHolder  lottie reanim bug

package com.baidu.adu.hmi.pilothud.ui.adapter;

import android.animation.Animator;
import android.content.Context;
import android.support.v4.content.ContextCompat;
import android.support.v7.widget.RecyclerView;
import android.util.Log;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.view.

[2018-03-10 23:26] #647 closed

[2018-03-10 23:36] gpeal commented on #672
@iweey Can you explain the problem more specifically and provide the broken animation or a sample app the reproduces this?
I'm going to close this for now but feel free to reopen this if you can provide more specific information.

[2018-03-10 23:36] #672 closed

[2018-03-11 05:34] gpeal commented on #663
@Moes81 I'm pretty sure your issue will be fixed by https://github.com/airbnb/lottie-android/commit/8c3339906ef8a6349e7efed60923097e5fcbe425

This will be released as 2.5.1 this week.

[2018-03-11 05:39] gpeal commented on #670
This is now fixed.

[2018-03-11 05:39] #670 closed

[2018-03-11 05:46] gpeal commented on #665
@dnfield I think in this case, it may be that they are using a puppet or fill effect, neither of which are supported by Lottie. It would be hard to debug this without the original animation though so I'm going to close this issue for now. Merge paths are also inadvisable because they are only supported on KitKat and above.

Neat that you're working on a Flutter port though! I've never used it but

[2018-03-11 05:46] #665 closed

[2018-03-11 05:48] gpeal commented on #660
I think your issue will be solved by https://github.com/airbnb/lottie-android/commit/d2c47a78f4579b1eb25a3417a3a8902521263994 or https://github.com/airbnb/lottie-android/commit/7c65f1f0913000e160121e495e76eea3958fbd1e

This will be released in 2.5.1 this week

[2018-03-11 05:48] #660 closed

[2018-03-11 05:49] gpeal commented on #662
Probably a duplicate of #672

[2018-03-11 05:49] #662 closed

[2018-03-11 06:10] gpeal commented on #652
@fredydoss For the trim path in your animation, I see:
offset: 178 degrees
Start: 51% -> 0%
End: 100% -> 0%

Based on this, I would expect it to go counter clockwise and just confirmed that in After Effects. If you think otherwise, can you attach the aep file?

I also tried reversing the speed which correctly made it go clockwise.

I did, however fix looping while the animation speed is reversed h

[2018-03-11 06:10] #652 closed

[2018-03-11 06:15] gpeal commented on #648
@sin3hz It does reset the drawable [here](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L494)

I tried equivalent code to yours and it worked fine. Can you attach a sample project that repros this?

[2018-03-11 06:56] gpeal commented on #641
@mateusgrb Thanks for the sample! I figured it out.
Your animation actually runs significantly worse with hardware acceleration turned on. As a result, every frame was taking more than 16ms which caused Choreographer to post a vsync message at the front of the queue and prevented the onStop message from ever getting to the front until the animation stopped or a frame finished in time for the messa

[2018-03-11 06:56] #641 closed

[2018-03-11 07:34] #626 closed

[2018-03-11 07:35] gpeal commented on #552
@happymario You still didn't attach the aep

[2018-03-11 07:35] #661 closed

[2018-03-11 07:41] #640 closed

[2018-03-11 08:45] #638 closed

[2018-03-11 11:05] sin3hz commented on #648
@gpeal The issue happened when the composition cached, check the right code or sample.
[code]

[LottieIssue648.zip](https://github.com/airbnb/lottie-android/files/1800233/LottieIssue648.zip)

[2018-03-11 11:55] dnfield commented on #665
The thing is it breaks if you enable merge paths but doesn't if you turn them off.  I have the same behavior in my flutter port and I'm looking for clarification on these mappings.

Flutter's been great.  I nearly have parity with the Android version and I'm hoping to release an initial version soon (need a PR I have open in the engine to land that enables path measure and path operations).

[2018-03-11 11:56] dnfield commented on #665
There's definitely some issue with effects on it as well though.

[2018-03-11 21:59] #648 closed

[2018-03-11 23:20] bkhezry opened #677 "android.content.res.Resources$NotFoundException ic_player_pause.xml"
I run the sample on the Android 4.4.2 and get this error in the `PlayerFragment.kt`
`Caused by: android.content.res.Resources$NotFoundException: File res/drawable/ic_play_pause.xml from drawable resource ID #0x7f070090`
for fixed it, I just add `AppCompatDelegate.setCompatVectorFromResourcesEnabled(true)` to the MainActivity.kt
in this issue #300 mentioned this error but didnot resolved.

[2018-03-12 00:42] #677 closed

[2018-03-12 00:43] gpeal commented on #658
I've added this to airbnb.io

[2018-03-12 00:43] #658 closed

[2018-03-12 00:44] gpeal commented on #658
@Moes81 I haven't added 100% API docs because the docs repo is a separate repo and keeping them in sync across all platforms is difficult. However, I just added a lot of content to the docs that explains many more of the APIs.

[2018-03-12 11:44] Akshshr commented on #647
@gpeal  Hey, thanks for that! looks like it was my test device that was causing some trouble, phone just needed a restart!
Thanks for the help anyway

[2018-03-12 12:32] Akshshr commented on #575
@wlxyhy  I think it would be helpful to all others if you details your solution

[2018-03-12 12:55] fertwo commented on #667
[animation.zip](https://github.com/airbnb/lottie-android/files/1802788/animation.zip)

[2018-03-12 14:50] gpeal commented on #575
Can you try 2.5.1?

On Mon, Mar 12, 2018, 5:32 AM Akash <notifications@github.com> wrote:

[2018-03-12 15:02] Akshshr commented on #575
@gpeal Gave it a go, no good with databinding

[2018-03-12 15:46] mpeng3 opened #678 "2.5.1: More visibility issues"
Following up on issue #636, there is an additional class visibility issue.

When using Lottie v2.5.1 in a project in Android Studio 3.0.1, the `KeyPath` class constructor also shows a library-only API restriction warning:
KeyPath constructor can only be called from within the same library

[2018-03-13 00:02] lawloretienne commented on #668
But if this ends up clipping the lottie animation it is not what our designers had intended.

[2018-03-13 00:18] gpeal commented on #668
@lawloretienne it won't if you use `centerInside`

[2018-03-13 23:10] mbc4srf opened #679 "Errors on Android: Unexpected gradient length"
I'm getting errors reported by my developer, and I don't know if they are critical or not. I have no idea what they mean nor how to fix them. They apparently only show up in Android, not iOS, and viewing it in the Lottie Previewer looks fine.

For example:

[Beacon Searching 2.zip](https://github.com/airbnb/lottie-android/files/1808991/Beacon.Searching.2.zip)

What does "26" mean? How would I get

[2018-03-13 23:11] gpeal commented on #678
@mpeng3 [this](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/model/KeyPath.java#L48) constructor? It's not restricted.

[2018-03-14 08:32] cuixbo opened #680 "compile error happens when compileSdkVersion<26,because the code in BaseLottieAnimator.java "Build.VERSION.SDK_INT >= Build.VERSION_CODES.O""
Compile error happens in BaseLottieAnimator.java

void notifyStart(boolean isReverse) {
    for (Animator.AnimatorListener listener : listeners) {
      if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O) {
        listener.onAnimationStart(this, isReverse);
      } else {
        listener.onAnimationStart(this);
      }
    }
  }

In my project ,the compileSdkVersion must small than 26,while when

[2018-03-14 08:50] AndroidDeveloperLB opened #681 "can't import"
I get this error, even though I've tried to update all :

![image](https://user-images.githubusercontent.com/5357526/37391941-81e9b2ec-2775-11e8-8239-5334e924e7e9.png)

[2018-03-14 10:29] AndroidDeveloperLB opened #682 "Is there a safe version to enable hardware acceleration ?"
I've tried now on an old device (Nexus 4) with Android Kitkat, and the sample app (from the Play Store) crashes on the "Animation Viewer" screen.
When I create a POC app, which shows an Lottie animation, enabling hardware acceleration hides the animation completely.

I use this:

        animation_view.useHardwareAcceleration(true)

I've also tried this:

        animation_view.enableMergePathsFor

[2018-03-14 12:04] AndroidDeveloperLB commented on #682
According to my tests on the few various devices and Android versions I have, I think it's safe to use hardware-acceleration starting from Android L (API 21).

[2018-03-14 12:05] AndroidDeveloperLB commented on #381
@gpeal But how could we know when it's safe to enable it?
According to what I've found (written about it [here](https://github.com/airbnb/lottie-android/issues/682)) , I think it's safe to use it starting from Android L (API 21)

[2018-03-14 17:03] thitu opened #683 "Resurfacing issue: anti clockwise rendering instead of clockwise"
This issue appears to be back in the latest version 2.5.1

https://github.com/airbnb/lottie-android/issues/500

[2018-03-14 17:05] thitu commented on #683
Attaching app file: [circle-accept.aep.zip](https://github.com/airbnb/lottie-android/files/1812160/circle-accept.aep.zip)

[2018-03-14 17:08] gpeal commented on #682
Duplicate of #381
@AndroidDeveloperLB there are two problems:
1) Not everything is supported (like dash path effects): https://developer.android.com/guide/topics/graphics/hardware-accel.html
2) [It isn't always faster ](https://developer.android.com/guide/topics/graphics/hardware-accel.html)

[2018-03-14 17:08] #682 closed

[2018-03-14 17:34] AndroidDeveloperLB commented on #682
@gpeal How is it duplicate?
I ask from which version is it safe to use it, so that I could add a check to enable it when it's ok.
He asks for auto-enabling it.
In my case, I need it to run as smooth as possible, because it's intended to be used as a progress animation, while the app does something in the background, which might be "heavy".

[2018-03-14 20:19] testArena opened #684 "id collision in your showcase data. Sample app crashes"
`FATAL EXCEPTION: main
                                                                   Process: com.airbnb.lottie, PID: 28102
                                                                   java.lang.IllegalStateException: Two models have the same ID. ID's must be unique! Model at position 41: ShowcaseAnimationItemViewModel_{previewUrl_String=http://www.lottiefiles.com/storage/previews/1505.

[2018-03-14 22:49] #684 closed

[2018-03-14 22:52] gpeal commented on #682
@AndroidDeveloperLB Sorry, the second link didn't paste correctly.
I have some docs explaining it in more detail here: http://airbnb.io/lottie/android/performance.html#hardware-acceleration

[2018-03-14 22:52] gpeal commented on #681
@AndroidDeveloperLB Did you resolve this? This is most likely specific to something on your computer and it would be hard for me to know what to do (if anything) on my end.

[2018-03-15 00:58] leandro1995 opened #685 "conflict problem from 26 to 27 sdk version"
in the last version of lottie there is a conflict of versions use version 27, when updating android to version 3.0.1 it is still generated with the version 26 debito that is the version of android oreo version 27 is of android P that is still in beta that's why I can suggest that the version they have is down to version 26 debit that even the majority of programmers are still in 26 per oreo and ch

[2018-03-15 02:22] martin-huang opened #686 "the key path and anchor point means ，i want to find a position of icon of one frame， how can i get it？"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-03-15 02:24] martin-huang commented on #686
how can i get it ，the icon position on the frame

[2018-03-15 03:36] 7heaven commented on #667
same error happens to me after I upgraded lottie from 2.3.0 to 2.5.0

[2018-03-15 05:05] gpeal commented on #686
@martin-huang it's in the FrameInfo of the LottieValueCallback
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/value/LottieValueCallback.java#L33

[2018-03-15 05:05] #686 closed

[2018-03-15 05:19] gpeal commented on #667
@fertwo @7heaven Can either of you attach a sample project that reproduces this? The animation posted above doesn't crash for me.
![image](https://user-images.githubusercontent.com/1307745/37445497-9fc7b466-27d5-11e8-8da7-4ed00a89c607.png)

@fertwo why does you animation use images? It looks like they can all be shape layers. Please refer to the images documentation [here](http://airbnb.io/lottie/

[2018-03-15 05:22] gpeal commented on #685
@leandro1995 26 is 8.0, 27 is 8.1. Both are Oreo. 28 is P.

You should actually update to 27. However, you can exclude dependencies if you need like this:
`compile ('com.airbnb.android:lottie:2.5.1'){ exclude group: 'com.android.support' }`

[2018-03-15 05:22] #685 closed

[2018-03-15 05:23] gpeal commented on #680
This code should be precompiled in the lottie library. If this isn't the case for you, attach a sample project that repros this and reopen.

[2018-03-15 05:23] #680 closed

[2018-03-15 06:28] AndroidDeveloperLB commented on #681
@gpeal No, that's why I wrote this thread.
I've tried on another PC. Still got the same issue:

![image](https://user-images.githubusercontent.com/5357526/37447437-ca811a9e-282a-11e8-8d10-5dc001acf4a3.png)

Just install the latest IDE version on Windows:
Android Studio 3.2 Canary 6
Build #AI-173.4640885, built on March 8, 2018
JRE: 1.8.0_152-release-1136-b01 amd64
JVM: OpenJDK 64-Bit Server VM by

[2018-03-15 06:29] AndroidDeveloperLB commented on #682
I've already read this.
And it's incorrect. API 19 is not safe to enable it, as I've written.
On API 19, enabling HA could result in not showing the animation.
Not only that, but running the sample from the Play Store crashes for some reason on API 19, when reaching the viewer.

[2018-03-15 06:35] gpeal commented on #682
@AndroidDeveloperLB What is the stack trace for the KitKat crash?

Sorry, I'd like to help out with the ResourceSet issue but I can't repro it and the internet doesn't leave many clues. If other people start having this problem, I'll spend more time investigating though. Do try clearing your global gradle caches. I'm not sure what the path on Windows is.

[2018-03-15 06:35] gpeal commented on #681
Sorry, I'd like to help out with the ResourceSet issue but I can't repro it and the internet doesn't leave many clues. If other people start having this problem, I'll spend more time investigating though. Do try clearing your global gradle caches. I'm not sure what the path on Windows is.

[2018-03-15 06:36] gpeal commented on #682
@AndroidDeveloperLB What is the stack trace for the KitKat crash?

The safety depends on your animation and the api version.

[2018-03-15 07:57] AndroidDeveloperLB commented on #682
Can you please investigate the animation on API 19 though? I can send the file to you if you wish via email, but just keep it privately since it's of the office.
I've looked at it further, and the animation does get shown, but only a tiny part of it compared to without HA.

Have you tried to run the sample from the Play Store, on emulator with Android 4.4, and tried the viewer ?
It crashes right t

[2018-03-15 08:29] AndroidDeveloperLB commented on #681
Path of what?
And by gradle cache, I used file->invalidate-cache/restart .
Still occurs.
Here's more information:

![image](https://user-images.githubusercontent.com/5357526/37450695-945dcf86-2837-11e8-8500-e7f499c19403.png)

I've now tried to use a stable version of gradle (3.0.1), and it works fine.
This is very different than what we have on the Play Store.
Seems to be an issue with preview ver

[2018-03-15 08:29] #681 closed

[2018-03-15 08:30] AndroidDeveloperLB commented on #682
I've succeeded importing the repository and ran it on Android 4.4.
Seems it fails to show various animations correctly when HA is enabled.
See attached video file.

[device-2018-03-15-102936.zip](https://github.com/airbnb/lottie-android/files/1814517/device-2018-03-15-102936.zip)

So you don't need to use the file I have. It occurs even on the sample of the repository.

[2018-03-15 09:02] AndroidDeveloperLB commented on #682
When using HA, it can even crash on Android 4.4  on the sample of the repository.
Just try the one called "MailSent", and enable HA.

[2018-03-15 11:54] bkhezry opened #689 "Two models have the same ID. ID's must be unique!"
I got this error today
[code]

UPDATE: after uninstalling app and run it again, error fixed.

[2018-03-15 12:03] #689 closed

[2018-03-15 16:02] gpeal commented on #682
@AndroidDeveloperLB That crash is fixed on master. I'm almost done with an entirely new sample app and it works on KitKat. I also tried mailsent on KitKat and it worked. Can you attach the stack trace?
You can also email animations to lottie [at] airbnb.com

[2018-03-15 16:03] gpeal commented on #681
@AndroidDeveloperLB Sounds like you got this resolved, correct?
What was the problem?

[2018-03-15 18:56] AndroidDeveloperLB commented on #682
@gpeal You tried on the version of the sample that I didn't?
I will try again on Sunday.

[2018-03-15 19:03] gpeal commented on #681
@AndroidDeveloperLB Which preview version are you referring to? This project uses [Gradle 4.4 stable](https://github.com/airbnb/lottie-android/blob/master/gradle/wrapper/gradle-wrapper.properties).

[2018-03-15 19:09] AndroidDeveloperLB commented on #681
@gpeal The one you get from :

 classpath 'com.android.tools.build:gradle:3.2.0-alpha06'

[2018-03-15 19:56] gpeal commented on #682
@AndroidDeveloperLB Yes, the sample app on master on the repo is a totally new app :)

[2018-03-15 20:15] AndroidDeveloperLB commented on #682
I mean not just the one from the Play Store. I mean one that here on the repository. Was it updated recently?

[2018-03-16 01:35] #683 closed

[2018-03-16 07:17] azchohfi opened #690 "colorFilterAnimation progress are never updated."
For example, on FillContent, the colorFilterAnimation is created, stored to a field, the getValue method is called, but this animation is never updated, meaning that it's progress is never updated. Is this not supposed to be set (not supported by design)?

I'm trying to add a valueCallback with a SimpleLottieValueCallback (lambda), with a ColorFilter, which will use the ValueCallbackKeyframeAnimat

[2018-03-16 07:25] azchohfi commented on #690
It works fine using a Color, btw, because it is not wrapping it on a ValueCallbackKeyframeAnimation, or even better, because it is added to the layer's animation list.

[2018-03-16 13:51] Moes81 commented on #663
Sorry, I cannot confirm it's working. Still, the second animation is not played. `animatorListener.onAnimationStart()` is called, but that's it. No new animation segment played on the screen. Any hints? Do you have a sample animation with different segment, I can use for testing?

[2018-03-16 15:01] gpeal commented on #682
Yes.

On Thu, Mar 15, 2018, 1:15 PM AndroidDeveloperLB <notifications@github.com>
wrote:

[2018-03-16 15:36] AndroidDeveloperLB commented on #682
Oh ok.

[2018-03-16 15:57] gpeal commented on #663
@Moes81 Can you attach a sample project? Maybe your project is doing something differently than mine.

[2018-03-16 16:47] Moes81 commented on #663
@gpeal I really hope I can do it next week. But unfortunately, as I said, I cannot attach the animation json because the feature is still under NDA. But I'll try to recreate the issue with a "clean" project. Good point.

[2018-03-16 18:31] gpeal commented on #663
@Moes81 You can email it to Lottie [at] airbnb.com if you want

[2018-03-18 08:05] AndroidDeveloperLB commented on #682
I've now wanted to try it out, but 2.5.1 is still the latest version.
So I've cloned the repository instead, and tried the sample.
I've ran it on both emulator and Nexus 4 (with Android 4.4).
On the emulator, the "mailsent" sample works fine even if I enable HA.
On the Nexus 4, however, it crashes.
Also, the "Lottie Logo 1" sample doesn't show well on the Nexus 4 when I enable HA.
Attached video t

[2018-03-19 01:33] gpeal commented on #682
@AndroidDeveloperLB One of my other hesitations about automatically recommending hardware acceleration is that it could be theoretically supported on any device but actually broken on certain devices. I've had strange device specific issues in the past. Facebook doesn't use hardware acceleration for their reactions for exactly this reason.

What is the stack trace when it crashes? If you see that

[2018-03-19 04:03] jordansilva commented on #253
Is there some way to change color filter programmatically?

[2018-03-19 04:13] jordansilva commented on #253
Looking through the LottieAnimationView I found a way to change color filter programmatically but I don't think it's the best way to do it.
`val filter = SimpleColorFilter(Color.parseColor("#fe3144"))
val keyPath = KeyPath("**")
val callback = LottieValueCallback<ColorFilter>(filter)
lottieAnimationView.addValueCallback<ColorFilter>(keyPath, LottieProperty.COLOR_FILTER, callback)`

[2018-03-19 09:06] AndroidDeveloperLB commented on #682
@gpeal I've already sent you the logs. Didn't you see them?

Here it is again, from the time of launching the app, to the time it crashes. The filtering is by warning level :

[code]

[2018-03-19 09:42] kuoliangkwong opened #692 "Animation flashes in middle of animation (when morphing shape)"
[test.zip](https://github.com/airbnb/lottie-android/files/1824418/test.zip)

It happens when i use 2.5.1. It also happens when i try it at https://www.lottiefiles.com by drag and drop the json file. Strangely, when i use lottie demo app from Google Play, it works fine, but terrible performance. I'm guessing the reason Lottie demo app works is tat it's using software rendering by default instead of

[2018-03-19 10:29] BugaIulian opened #693 "Lottie animation works fine on the demo and player but on my phone it's still."
Hey guys, I'm trying to get this working but I couldn't find any explanation on this matter. My animation it's pretty simple and it's working fine in the bodymovin player and on the web. I've even tried on lottie samples and it's working fine, but everytime I'm running it on the phone it stay's still and not playing.
I've attached a screenshot of the comp.
<img width="625" alt="screen shot 2018-03

[2018-03-19 16:57] gpeal commented on #693
@BugaIulian If it works in the lottie sample app on Android but not in your app, you'll have to attach a sample project that repros this.

[2018-03-19 17:02] gpeal commented on #692
There is some performance overhead to mattes and masks and you have an alpha inverted mask on Layer 1 Outlines 2. As a result, 2/3 of the total rendering time is on that layer.

I'm about to update the sample app on the play store with a totally new one that will show you the [render times per layer](http://airbnb.io/lottie/android/performance.html#render-times-per-layer).

Regarding the flashes,

[2018-03-19 17:18] dryganets opened #695 "Templates of animation JSON for android."
I have an extension of Lottie for android that I did for Skype. We would like to contribute it back to Lottie.

We had a plenty of the animations which are stored as assets in order to don't pass all of the animation data over the bridge again and again. The trick is that we have many animations which are different only in color scheme. In order to simplify the maintenance, I added templates suppo

[2018-03-19 18:26] BugaIulian commented on #693
Thank you very much for your reply. I've attached the AE Project, the animation and the demo. I've spent hours on get it right but I can't find what's the problem.
[Archive.zip](https://github.com/airbnb/lottie-android/files/1826401/Archive.zip)

[2018-03-20 01:48] ericfjl opened #696 "can't debug in my android project"
Error:Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2018-03-20 07:54] kuoliangkwong commented on #692
[2018_03_20_15_42_13.zip](https://github.com/airbnb/lottie-android/files/1828362/2018_03_20_15_42_13.zip)

It has a very short flash, at about 00:00:02 s

[2018-03-20 10:10] AhmadNemati opened #697 "exported json show perfect in ios but not in android"
why all my exported project show perfect in ios but in android not perfectly?
my json
[data.json.zip](https://github.com/airbnb/lottie-android/files/1828791/data.json.zip)

[2018-03-20 11:16] AndroidDeveloperLB opened #698 "Request: in Showcase section, show how to use a progress-like animation that ends with a result"
Sometimes, we have a progress animation that contains the ending result.
For example:
Suppose you have 100 frames, and the last 10 frames are for the ending result.
The animation would keep playing 0..89 , and when we decide we want to finish with a result, we play frames 90..99 (after we reached 89, to have a smooth transition).

We could even have multiple endings : success, error, ...

Can you

[2018-03-20 11:18] vashisthg opened #699 "2.5.2 isn't available yet"
Seems like lottie 2.5.2 isn't pushed to maven yet .
`Could not find com.airbnb.android:lottie:2.5.2.`

[2018-03-20 11:44] Birdy1234 commented on #699
Ok

[2018-03-20 12:23] AndroidDeveloperLB commented on #698
I know I can use something like that:

        animation_view.addAnimatorUpdateListener(object : ValueAnimator.AnimatorUpdateListener {
            var count = 0
            override fun onAnimationUpdate(animation: ValueAnimator?) {
                if (animation_view.frame == 30) {
                    if (count == 5) {
                        // just a simulation of finishing the progress

[2018-03-20 12:33] AndroidDeveloperLB commented on #191
@pensokha Why is it needed to call `playAnimation` , even if the `lottie_autoPlay` is set to true?

[2018-03-20 13:18] AndroidDeveloperLB commented on #698
The next code, for example, doesn't work well:

in xml:

        lottie_loop="true"

in code:

        animation_view.setOnClickListener {
            animation_view.removeAllUpdateListeners()
        }

        animation_view.addAnimatorUpdateListener(object : ValueAnimator.AnimatorUpdateListener {
            override fun onAnimationUpdate(animation: ValueAnimator?) {
                if (animati

[2018-03-20 16:59] Moes81 commented on #663
I was able to reproduce the error with the attached json (from www.lottiefiles.com).
The code is identical to the one from my first comment here. I also attached a screen record, where you can see that the animation stops instead of looping the second part.
[motorcycle.json.zip](https://github.com/airbnb/lottie-android/files/1830316/motorcycle.json.zip)
[animation_stops.mp4.zip](https://github.com

[2018-03-21 01:36] gpeal commented on #699
@vashisthg 2.5.2 was an update just for the sample app. Continue using 2.5.1. This is the only release where they will be out of sync.

[2018-03-21 01:36] #699 closed

[2018-03-21 01:38] gpeal commented on #698
@AndroidDeveloperLB Use the setMinAndMaxFrame or Progress API then update the max progress to 1f and set repeatCount to 0 when it's done.
I don't have time right now to make a showcase for this but I would accept a PR.

[2018-03-21 01:38] #698 closed

[2018-03-21 01:39] gpeal commented on #697
@AhmadNemati What is wrong with it?

[2018-03-21 01:42] gpeal commented on #696
I don't think this is lottie related

[2018-03-21 01:42] #696 closed

[2018-03-21 01:46] gpeal commented on #695
@dryganets Android and iOS just added full and comprehensive dynamic property APIs
[Android docs](http://airbnb.io/lottie/android/dynamic.html)
[iOS docs](http://airbnb.io/lottie/ios/dynamic.html)

How about bridging those APIs for React Native instead? That would be a contribution that would be great for the community.

[2018-03-21 01:54] gpeal commented on #693
@BugaIulian text support in lottie is pretty basic right now. I plan on improving in in the future though.
In this case, the range selectors are likely the issue.
Duplicate of #485

[2018-03-21 01:54] #693 closed

[2018-03-21 02:50] dryganets commented on #695
@gpeal, looks pretty similar to what I'm doing. The PR I made will be pre-requirement anyway. Will do the similar change for iOS. The dependent properties should be applied to the view simultaneously.

[2018-03-21 07:36] AndroidDeveloperLB commented on #698
@gpeal The function `setMinAndMaxFrame` doesn't seem to do anything.
The animation I use has 0..179 frames.
When I use this:

    animation_view.setMinAndMaxFrame(0,119)

- it will still play to the end (meaning it reaches frame 179).

About Progress API, I haven't read about it yet. Where can I read about it?

[2018-03-21 07:41] AndroidDeveloperLB commented on #698
I've searched now in the docs. There is no Progress API. Maybe you mean something else.
There is also no mention of the case I'm talking about.
That's why I think it's best to create a sample for this.

[2018-03-21 08:52] hendra4ditya commented on #698
qw8LMZ

[2018-03-21 09:03] AndroidDeveloperLB commented on #698
@hendra4ditya I don't understand. Wrong post?

[2018-03-21 10:29] hyne-shan opened #700 "turn on the hardware acceleration,animation will be very stuck"
Hi

I am very happy to use lottie, which greatly reduced my workload. Currently, I am optimizing performance issues. I have found some problems with the animation of attachments, but I do not know how to optimize! When I turn on the hardware acceleration, this animation will be very stuck. The lottie version  is 2.5.1. I hope you can tell me where the problem is.

Best or Best Wishes

json file
ht

[2018-03-21 10:35] hyne-shan commented on #700
Please forgive me create issue. I sent an email the day before yesterday, but no one responded to me.

[2018-03-23 06:20] gpeal commented on #700
@hyne-shan Hardware acceleration is not always more performant. It depends on the animation itself.
http://blog.danlew.net/2015/10/20/using-hardware-layers-to-improve-animation-performance/

[2018-03-23 06:20] #700 closed

[2018-03-23 06:21] gpeal commented on #695
I'm going to close this here since there is nothing actionable on Android.

[2018-03-23 06:21] #695 closed

[2018-03-23 19:49] agrosner opened #701 "Push 2.5.2 to Maven centeral"
it appears that lottie 2.5.2 is not published and thus gradle cannot find the version: https://mvnrepository.com/artifact/com.airbnb.android/lottie

[2018-03-24 09:57] boyw165 commented on #696
@ericfjl : You could try the answer under this thread, https://stackoverflow.com/questions/49044782/duplicate-zip-entry-classes-jarandroid-support-design-widget-coordinatorlayout

I guess it is the duplicate of `CoordinatorLayout$Behavior`.

Following is my solution
---

I upgraded the support library version to almost latest (e.g. `27.1.0`) and it was yet enough. Then I checked the dependencies a

[2018-03-24 17:36] gpeal commented on #696
@boyw165 You should always use the latest support library. If you need to exclude it, you can as with any other gradle dependency:
compile ('com.airbnb.android:lottie:2.5.1'){ exclude group: 'com.android.support' }

[2018-03-24 17:37] gpeal commented on #701
2.5.2 was a release just for the sample app. I realize it's confusing but it's a one time thing.

[2018-03-24 17:37] #701 closed

[2018-03-24 17:37] gpeal commented on #701
2.5.1 is the latest

[2018-03-24 19:19] Godwyyn opened #702 "Lottie App Crashes at the Lottiefiles Activity-Recent tab"
#### Expected behavior
After navigating to the the Recent tab of the Lottiefiles Activity by clicking on  the lottiefiles option at the bottom navigation menu at the Home Activity, I should be able scroll through the list of the recent files without issue.

#### Actual behavior
At the Lottiefiles activity of the app and by selecting  the recent tab. Scrolling through the list of recent files till

[2018-03-24 22:20] gpeal commented on #702
@Godwyyn Can you post the stack trace? This doesn't repro for me.

[2018-03-25 02:55] gpeal commented on #702
There was an animation that caused this a few days ago but it's fixed now

[2018-03-25 07:10] Godwyyn commented on #702
Yeah...it has been fixed,am not getting the error again and before then I
had already posted the bug report.

On Mar 25, 2018 3:55 AM, "Gabriel Peal" <notifications@github.com> wrote:

[2018-03-26 01:53] #702 closed

[2018-03-26 07:46] Moes81 commented on #663
I found out, that it works fine if I load and set the `composition` anew on the `animationDrawable` / `animationImageView` before the next segment is played.

[2018-03-26 09:45] headsvk opened #703 "Setting min and max progress doesn't respect start frame and crashes"
#628 **setProgres going to wrong frame when startFrame > 0** fixed only the setProgress function but not related setMinProgress, setMaxProgress and setMinAndMaxProgress setters.

This results in a crash when you try to use, e.g. setProgress(0.5f):
`java.lang.IllegalStateException: Frame must be [71,000000,23,000000]. It is 23,000000
at com.airbnb.lottie.utils.LottieValueAnimator.verifyFrame(Lottie

[2018-03-26 13:08] agrosner commented on #701
it says in the read me:
[code]
which then is wrong.
It should instead say:
[code]
if 2.5.1 is the latest and `compile` is deprecated.

[2018-03-26 13:34] agrosner opened #704 "Min and Max Frame on View not Respected on initial load."
I am setting a min and max from on the animation (as I've segmented it off into 3 separate pieces as part of a `ViewPager`)
[code]

when the composition is loaded by lottie, it overrides the preselected `minFrame` and `maxFrame` here:
[code]
We need it to A): respect the values when set before image loads. or B): provide a callback for the internal `OnCompositionLoadedListener` in the `LottieAnima

[2018-03-26 13:52] Moes81 opened #705 "New animation segment is sometimes played backwards"
See the attached sample project.
Press the button "Play first segment". The first segment is supposed to be played in a loop `REVERSE`.
Then press "Next Segment". Depending on WHEN you press it, the next segment is most often played backwards.
But, if you press "Next Segment (new LottieDrawable)" then the animation is played correctly, but of course you get a little flicker, when the new drawable

[2018-03-26 14:01] Moes81 commented on #663
@gpeal A sample project, where you can see, that the next animation segment is not played.
[LottieTest_NextSegmentNotPlaying.zip](https://github.com/airbnb/lottie-android/files/1848097/LottieTest_NextSegmentNotPlaying.zip)

[2018-03-26 17:31] AndroidDeveloperLB opened #706 "Bug: sample app "bullseye" doesn't have its moving point going to the precise location"
I get this:

![image](https://user-images.githubusercontent.com/5357526/37922242-b79a1e4a-3134-11e8-9806-d750194a2a98.png)

[2018-03-26 17:32] AndroidDeveloperLB opened #707 "Bug: sample app doesn't handle correct direction of text, in "Animated text""
I get this when writing in Hebrew :

![image](https://user-images.githubusercontent.com/5357526/37922291-d79f3efa-3134-11e8-9359-3d14ec5592ed.png)

[2018-03-26 19:37] hendra4ditya commented on #701
Pada tanggal Sen, 26 Mar 2018 20.08, Andrew Grosner <
notifications@github.com> menulis:

[2018-03-26 22:32] gpeal commented on #701
I'm aware. I pushed 2.5.2 for the sample app. I'll push a release or update the docs but just use 2.6.1

[2018-03-27 01:49] gpeal commented on #707
Lotte doesn't support RTL. Text support is pretty basic for now and it may be quite a while before RTL is supported unless someone does a PR for it

[2018-03-27 01:49] gpeal commented on #706
It's just a placeholder demo with some sample code.

[2018-03-27 01:49] #706 closed

[2018-03-27 05:16] AndroidDeveloperLB commented on #706
@gpeal  Well it looks bad

[2018-03-27 05:17] AndroidDeveloperLB commented on #707
@gpeal Can you please set it as a feature request then?

[2018-03-27 13:02] apoorvasavant opened #708 "Animation working on the web but not on mobile"
The two major things that show on the web animation but not on mobile are these:

- Text box that has a break line shows up in a single line

- Track matte mask doesn't seem to work

I've uploaded the .aep file and the latest json render.

[Lottie-issue.zip](https://github.com/airbnb/lottie-android/files/1852064/Lottie-issue.zip)

[2018-03-27 17:13] gpeal commented on #706
Yup, it's still a WIP. Thanks for the feedback.

[2018-03-27 23:24] Godwyyn opened #709 "App Crashes when trying to search at the Lottiefiles Activity"
#### Expected behavior
After navigating to the Lottiefiles activity of the app,and selecting the search tab. When i typed in a word at the edit text and click on the search icon, I expected the app to show me the search result.

#### Actual behavior
When I type in any  text at the edit text and click on the search icon the app crashes and exit.

#### How to reproduce
   - Download the Lottie App f

[2018-03-28 21:54] Godwyyn opened #710 "App Crashes when choosing a file for Preview"
#### Expected behavior
After launching the app and navigating to the Preview Activity,when I clicked on the "Open a file" option to select a file for preview and select on an image file or a text file I was expecting the app to either load the file for preview or prompt a message that I have selected the wrong file format. Also when I click on the "Scan a QR code " option was expecting a preview o

[2018-03-29 09:29] 1zaman commented on #303
@joemartins: Was this resolved? We're having similar issues on our app after deploying a new Lottie animation.

[2018-03-29 11:00] joemartins commented on #303
Guess it did. It stopped happening.

[2018-03-29 14:24] gpeal commented on #709
@Godwyyn what is the stack trace? That doesn't repro for me.

[2018-03-30 09:14] kdblue opened #711 "'com.airbnb.android:lottie:2.5.2' not compiling"
//Not Compiling
[code]
change to
[code]
Thank You !

[2018-03-31 13:13] wanizubair opened #712 "App suddenly stopped While Loading a URL."
#### Expected behavior

+ The App should be able to Load URL.

#### Actual behavior

+ The App is not able to load URL, When I enter URL and click on load app suddenly stopped after few seconds of loading.

#### How to reproduce

+ Launch the App.

+ Click on Preview icon.

+ Click on Enter a URL to a jason or zip file

+ Enter URL

+ Click on load option, after few seconds of loading app suddenly

[2018-04-02 00:55] irfaan008 commented on #711
I am also facing the similar issue

[2018-04-02 10:36] md0092651 commented on #711
Failed to resolve: com.airbnb.android:lottie:2.5.2

Solved it using Failed to resolve: com.airbnb.android:lottie:2.5.1

[2018-04-02 22:34] gpeal commented on #710
@Godwyyn Why are you trying to do that?

[2018-04-02 22:54] gpeal commented on #711
2.5.3 is out

[2018-04-02 22:54] #711 closed

[2018-04-02 22:54] #678 closed

[2018-04-02 23:12] ctgstudios opened #713 "Android having lag issues"
Creating an animation using After Effects (CC 2018) and, though the animation is smooth in iOS, the frame rate drops in Andriod
File can be found here: [www.colorthegrayscale.com/tmg-hollyanimationFINAL.aep](url)
File isn't using anything that isn't supported, so I'm not sure what to make of it.

I am using the Lottie player on my Andriod device to view the animation.

[2018-04-03 03:30] 275288698 commented on #679
i got the same error when use gradient effect. here is stacktrace:

  java.lang.IllegalArgumentException: needs >= 2 number of colors
                                                                        at android.graphics.LinearGradient.<init>(LinearGradient.java:55)
                                                                        at com.airbnb.lottie.GradientStrokeContent.getLinearGrad

[2018-04-03 17:08] gpeal commented on #679
@275288698 If it looks fine, you can ignore it. If it doesn't make sure to save the composition before exporting it with bodymovin.

[2018-04-03 18:45] Dsudzy commented on #523
Im having the same problem, not sure why this was closed. When I call the function `anim.playSegments([[1,2], [3, 4]], true);` when I play another segment say `anim.playSegments([5,6], true);`  it plays the 3,4 frames quickly before playing the next segment 5,6.

[2018-04-04 10:18] shishram opened #714 "Fatal Exception: android.os.BadParcelableException ClassNotFoundException when unmarshalling: com.airbnb.lottie.LottieAnimationView$SavedState"
Version used: com.airbnb.android:lottie:2.5.1

stack trace:-

android.os.Parcel.readParcelableCreator (Parcel.java:2295)
android.os.BaseBundle.putBoolean (BaseBundle.java:333)
android.support.v4.app.Fragment.setUserVisibleHint (Fragment.java:960)
 android.support.v4.app.FragmentStatePagerAdapter.instantiateItem (FragmentStatePagerAdapter.java:121)
 com.android.internal.os.ZygoteInit.main (ZygoteIn

[2018-04-04 12:56] moni890185 commented on #714
Are you running the support library version 27.1.0? I have faced a similar issue, it does not look related to lottie but it seems to be a bug on that specific support lib Version. Ref. https://issuetracker.google.com/u/0/issues/74130311. Hope that helps.

[2018-04-04 15:13] shishram commented on #714
@moni890185 Yes, support library version is 27.1.0. so any fix you have found? degrading the version or something?

[2018-04-04 15:13] #713 closed

[2018-04-04 17:28] moni890185 commented on #714
@shishram for now just degraded the version and waiting for a stable release with that fixed.

[2018-04-04 19:13] yoshisada opened #715 "Cant Get animation to display on simulator"
Trying to implement the lottie json animation on a new android app.
Have followed every tutorial I can find and it still does not work.
It has compiled and built with no errors but when in simulator it just crashes the simulator stating that my app has Stopped.
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    defaultConfig {
        applicationId "com.example.androi

[2018-04-05 11:00] IveSix commented on #697
same issue, they don't scale correctly

[2018-04-05 14:37] #714 closed

[2018-04-07 17:26] Godwyyn opened #716 "Crash occurs when trying to increase "Max frame" in Showcase - Trim tab"
#### Expected behavior
When I click on the Max frame and try to increase the value, I expected the value to change successful or show a toast that the value cannot be changed or increase further.

#### Actual behavior
When I increase the max frame value and click on "Load" the app crashes and exit

#### How to reproduce
- Download Lottie app from play store
- Launch the app
- At the "Showcase Acti

[2018-04-07 23:52] gpeal commented on #715
Please attach the stacktrace and animation and reopen if it's still an issue.

[2018-04-07 23:52] #715 closed

[2018-04-08 00:03] gpeal commented on #697
@AhmadNemati @IveSix can you attach the aep?

[2018-04-08 00:05] #679 closed

[2018-04-08 00:05] gpeal commented on #679
I'm removing this warning from future versions because it normally isn't problematic

[2018-04-08 00:10] #709 closed

[2018-04-08 00:10] #716 closed

[2018-04-08 00:10] gpeal commented on #712
Duplicate of #710

[2018-04-08 00:10] #712 closed

[2018-04-08 00:43] gpeal commented on #704
Fixed by https://github.com/airbnb/lottie-android/pull/694

[2018-04-08 00:43] #704 closed

[2018-04-08 01:43] gpeal commented on #381
I've decided to not do this because some animations perform much worse with hardware acceleration even when it supports it. It should continue to be used on a case by case basis.

[2018-04-08 01:43] gpeal commented on #381
http://airbnb.io/lottie/android/performance.html#hardware-acceleration

[2018-04-08 06:39] AndroidDeveloperLB commented on #381
@gpeal Can you please provide an example (animation file) that enabling hardware acceleration makes it perform worse?
Also, do you really thing the default behavior, of having it disabled - is usually performing better ?
If not, why having this as the default behavior?
After all, even choosing not to do anything still have a default behavior, which is having it disabled.
This was the case on Andro

[2018-04-08 15:15] siaaha commented on #645
Hi there! how to implement this animation for both success and failure
https://www.lottiefiles.com/search?q=success+failed

[2018-04-08 16:23] AndroidDeveloperLB opened #718 "Suggestion: set hardware acceleration turned on by default, starting from certain API"
According to my tests, it's safe to enable it from  Android L (API 21) .
But I think it's best to investigate it, to see from which it's the safest.

This is essential for smoother animations, as the default behavior currently is to have it disabled.

Just like on Android, where Google decided to have hardware acceleration optional till they decided it's stable and good enough, so they've set it e

[2018-04-09 08:40] AndroidDeveloperLB opened #719 "Request: allow to view a single animation frame in layout editor"
Currently, if I use `LottieAnimationView` in XML, that has its `lottie_rawRes` defined, I still see an empty content.

Please allow to view it somehow in the layout editor.

Maybe add `tools:frameToShow` attribute, to let us choose which frame of the animation to show on the layout editor.

[2018-04-09 09:08] kloskow opened #720 "Json animation not working when masks applied"
Hi there, my .json file does not appear in Lottiefile preview nor standalone LottieUWP.sample. On the other hand everything looks totally in order when I run html via a browser. I use subtract masks to achieve the reveal effect. When the mask layer is fully removed from the composition within AE and exported with no mask layer, image shows up with no issues.
any help would be greatly appreciated.

[2018-04-09 12:38] AndroidDeveloperLB opened #721 "Request: in sample app, allow to see time instead of frames"
Have a toggle or something, to show time instead of frames, including how long exactly is the animation duration.

I'm talking about this:

![image](https://user-images.githubusercontent.com/5357526/38498058-e3525a48-3c0b-11e8-98a4-385ca2d1b21c.png)

Frames aren't enough to know how long the animation takes. It can be 60FPS, and can be 2FPS...
Maybe it's a good idea to show the FPS too :)

[2018-04-09 16:25] #663 closed

[2018-04-09 16:25] #703 closed

[2018-04-09 16:27] gpeal commented on #718
Duplicate of #381

[2018-04-09 16:27] #718 closed

[2018-04-09 16:30] gpeal commented on #381
@AndroidDeveloperLB Please [read the article](http://blog.danlew.net/2015/10/20/using-hardware-layers-to-improve-animation-performance/) linked to in the docs.
There are also cases where certain phones have GAIA bugs that cause things to render incorrectly with hardware acceleration even if they are supported. Facebook stopped using hardware acceleration to render reactions for this exact reason.

[2018-04-09 16:57] AndroidDeveloperLB commented on #381
This article is very old, and I've read it already. In fact some of my comments are there.

Question is, if it's safe to use now starting from certain Android version, why not enable by default?
I've noticed it's so slow (frame skips) on some cases without hardware acceleration.

Do you think the " GAIA bugs" still occur on today's smartphones?  Even on Android 5, 6, 7, 8 ... ?
Can you please show

[2018-04-09 17:12] AndroidDeveloperLB commented on #381
@gpeal What's the logic you've chosen on your apps that use Lottie, of determining when to enable HA and when to disable it ?
It's impractical to test on all devices, so I think you've chosen some arbitrary solution, right?

[2018-04-11 02:28] YaweiWang commented on #552
I have the same problem，when I improve the version to 2.2.4， the  problem fixed.

[2018-04-11 09:45] DominikusKrueger commented on #678
I have the very same problem using Intellij 2018.1. Strangely, when I look into the code the constructor does not seem to be restricted (I do not see the anticipated annotation).

[2018-04-11 23:05] adidazzler16 opened #723 "editing text in the json file"
Hi
I am trying to update the text embeded in the lottie json files. Can I do that directly in json files, unfortunately I do not have access to original AEP files. Though I have already made the changes in json file for the text but it doesn't reflect.

I am sorry I am pretty new to Lottie.
I am using latest lottie version 2.5.4
Thanks,
Adi

[2018-04-11 23:16] M-Khay opened #724 "LottieAnimationView holding reference to animation file name even after calling lottieAnimationView.cancel(), clear() and invalidate()."
Background:

Activity start and loads a Viewpager with 3 fragments.
Ive 4 animation file, Fragment 1 contains animationfileA.JSON, Fragment 2 contains TWO (First file plays NO LOOP and Second file starts and keeps looping) animationFileB.json, animationFileC.json, Fragment3 contains animationFileD.json.

Now whenever my 2nd fragment goes out of view ie.. onWindowFocusChanged() or onBackPreseed() o

[2018-04-12 09:43] paradise0love opened #725 "cache"
It takes a while to show the animation for the first time,Can it be cached in advance in some places?

[2018-04-12 13:42] rogererill opened #726 "Add the option to use assets in a Drawable outside of a View"
Hello,

I need to use a `LottieDrawable` that is not attached to a `View`. So far is working ok for me but now I found that I cannot see any text on it, because the drawable is not able to get an `AssetManager`

Looking at the code, I've seen that:

From LottieDrawable

[code]

From FontAssetManager
[code]
In my case, `getCallback()` is null since it is not attached to any `View`. The callback is

[2018-04-12 14:03] parthmg opened #727 "NumberFormatException on latest master"
Stacktrace:
com.airbnb.lottie, PID: 3932
    java.lang.RuntimeException: An error occured while executing doInBackground()
        at android.os.AsyncTask$3.done(AsyncTask.java:300)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
        at java.util.concurrent.FutureTask.setException(FutureTask.java:222)
        at java.util.concurrent.FutureTask.run(FutureTask.ja

[2018-04-12 14:11] parthmg commented on #727
@avadhbsd

[2018-04-12 16:01] gpeal commented on #727
@parthmg @avadhbsd Can you attach the animation?

[2018-04-12 17:28] gpeal commented on #726
@rogererill That should be set once you add your Drawable to a View.

[2018-04-12 21:50] Tywholland commented on #678
I'm also seeing the same thing when starting a fresh project in Android Studio (v3.1.1) and Lottie 2.5.3. I'll create a new issue as well since it's in 2.5.3 now.

[2018-04-12 21:55] Tywholland opened #728 "2.5.3: KeyPath Constructor can only be called from within the same library"
Same problem as #678, and it is still present in 2.5.3.

When using Lottie v2.5.3 in a project in Android Studio (repro'd in 3.0.1 and 3.1.1), the KeyPath class constructor also shows a library-only API restriction warning:
`KeyPath constructor can only be called from within the same library`

Example project: https://github.com/mpeng3/lottie-example
![screen shot 2018-04-12 at 2 53 40 pm](https:/

[2018-04-13 06:58] parthmg commented on #727
@gpeal I have mailed the animation files to lottie@airbnb.com

[2018-04-13 07:48] avadhbsd commented on #727
@parthmg I am not sure  if @gpeal can access the lottie@airbnb.com @gpeal please let me know if we shall attach the AE here at github?

[2018-04-13 11:14] rogererill commented on #726
In my use case, I don't use my Drawable inside a View, I just draw it in a canvas. That's why in this case I never call `LottieDrawable.setCallback()`

[2018-04-13 15:51] gpeal commented on #727
I received it. Thanks.

On Fri, Apr 13, 2018 at 12:48 AM Avadh <notifications@github.com> wrote:

[2018-04-14 15:27] gpeal commented on #723
You can do it with a TextDelegate. There is an example [here](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/FontFragment.java#L40).

[2018-04-14 15:27] #723 closed

[2018-04-14 15:28] gpeal commented on #725
Yes, you can. There are some docs [here](http://airbnb.io/lottie/android/android.html#getting-started).

[2018-04-14 15:28] #725 closed

[2018-04-14 20:08] vipafattal opened #730 "is there is any way to get the image of the animation?"
I want to make LottieAnimationView draggable so when the user touches on the animation I want to display the last displayed frame of the animation before the user touches the view is that possible?

View.DragShadowBuilder(/*the frame image from the Animation*/getImage)

[2018-04-15 06:24] gpeal commented on #730
@vipafattal why not just set the progress to 1?

[2018-04-15 14:52] vipafattal commented on #730
Great idea thanks @gpeal

[2018-04-15 14:54] vipafattal commented on #730
so as a solution I can get the progress of the animation

[2018-04-15 14:54] #730 closed

[2018-04-15 18:06] parthmg commented on #727
@gpeal Any update?

[2018-04-16 07:14] AhmadKabi opened #731 "feature request: gif/mp4 output"
thanks for an amazing library
i have an expectation about this library, that we can convert our animation played by LottieAnimationView to become gif/mp4. So that we can share this animation file through social media, or the others.
btw, i am using lottie 2.5.1

thanks a lot for your awasome work.

[2018-04-16 16:26] rogererill commented on #731
Hi @AhmadKabi, I currently have a very similar problem to yours. I'm currently working on a solution to generate a .mp4 out of a lottieDrawable.

The approach I'm using is to iterate through every frame in your LottieDrawable, by using `setFrame(int frame)`. Once the frame is set, send your LottieDrawable to a "FrameRecorder" or similar that you'll need to create.

This Recorder is based on [this

[2018-04-17 04:14] AhmadKabi commented on #731
I still wonder, what is LottieDrawable? I guess that the animation played is a collection of bitmap/vector. and my next question is how to get this single vector, so we can collect those to become one gif/mp4.?

If I don't bother you, could you give me step by step guide to do this.
thanks a lot

[2018-04-17 04:52] gpeal commented on #731
You can just record it in your app with:
`adb shell screenrecord --size 720x1280 /sdcard/recording.mp4`
Then pull it with `adb pull /sdcard/recording.mp4 ~/Downloads/`

I also have a little bashrc alias handy for converting it to a gif
[code]
WIth that, you'd run `gif recording mp4`
Then, there are a multitude of ways of cropping it.

[2018-04-17 04:52] #731 closed

[2018-04-17 07:37] avadhbsd commented on #727
@parthmg can you please confirm if you can play another Lottie .json file that has float values? or that crashes it too?

[2018-04-17 08:13] AhmadKabi commented on #731
Actually I intent tho make users have this feature too, that they can save animation they look into an gif/mp4 so that they can share to their friends easily. could you give some programmaticaly way to achive this point.?

[2018-04-17 08:46] rogererill commented on #731
@AhmadKabi I plan on writing a post on Medium explaining the solution once I finish it :) I'll make sure to let you know once it's done, but the basics are the ones I told you before. Create a `LottieComposition` out of your Json file, attach that composition to your newly created `LottieDrawable` and then iterate frame by frame and send those frames to your [MediaCodec](https://developer.android.

[2018-04-18 02:46] AhmadKabi commented on #731
owh, Thanks a lot for your kindness :)

[2018-04-18 06:44] paulingit opened #733 "java.lang.IllegalArgumentException: The Path must start at (0,0) and end at (1,1)"
I am getting an IllegalArgumentException when using Lottie library on Android 7.

Lib Version: 2.5.1

Stack Trace:
Caused by java.lang.IllegalArgumentException: The Path must start at (0,0) and end at (1,1)
       at android.view.animation.PathInterpolator.initPath(PathInterpolator.java:164)
       at android.view.animation.PathInterpolator.initCubic(PathInterpolator.java:154)
       at android.vi

[2018-04-18 13:08] DominikusKrueger commented on #728
Same holds for Intellij 2018.1 with 2.5.3 and 2.5.4.

[2018-04-19 10:29] parthmg commented on #727
@avadhbsd Yes, Other files with float values work as expected. Even [material_wave_loading](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/res/raw/material_wave_loading.json) has float values and that works as expected. Have tried few others aswell.

[2018-04-20 08:11] leilu000 opened #734 "Invalid setting height"
Excuse me, when the picture is a rectangle, the setting height is invalid. Here is the code:

   <com.airbnb.lottie.LottieAnimationView
         Android:id="@+id/path_lottie_view"
         Android:layout_width="200dp"
         Android:layout_height="50dp" />

[2018-04-20 08:16] jemaystermind commented on #734
Use `android` instead of `Android` namespace?

[2018-04-20 09:36] AhmadKabi commented on #731
Hi, @rogererill, I have tried your guide above. and I have obstacle when iterating frame of `LottieDrawable`. My code looks like :
[code]

no error occured when compiling those codes actually. But mp4 rendered was just a blank video. it just plays black screen video. any suggestion to resolve this problem?. Thanks a lot

[2018-04-20 10:14] youxiachai opened #735 "ConcurrentModificationException in RecyclerView"
lottie version 2.5.1

[code]

can use ConcurrentHashMap avoid ConcurrentModificationException ?

[2018-04-20 15:56] #734 closed

[2018-04-24 02:57] SwayChen opened #736 "There is Frame Skip using v2.5.4 (the same Lottie file)"
The Lottie file shows normal using v2.2.3, but appear frame skip in v2.5.4.

I've attach the file & issue video as attachment. Please take a look, thanks!
[attachments.zip](https://github.com/airbnb/lottie-android/files/1940686/attachments.zip)

[2018-04-24 20:54] lyew-phunware opened #737 "2.5.4 Setting LottieAnimationView Visibility doesn't work"
How to reproduce: (Basic fragment with Relative Layout)
2 LottieAnimationView's in the same layout (RelativeLayout)
1 view will show and then when the animation finishes, the second view will show and the first will be hidden.
Programmatic change in visibility is not working.
LottieAnimationView.visibility = View.GONE / View.INVISIBLE / View.VISIBLE is not working

Lottie Version: 2.5.4.
Verified

[2018-04-25 09:22] chenggoi opened #738 "NullPointerException when I upgrade from 2.3.1 to 2.5.4"
This is Error Log :
[code]
And this is my AE file and JSON file
[anim.zip](https://github.com/airbnb/lottie-android/files/1946345/anim.zip)

Thank you.

[2018-04-25 14:07] borwoj opened #739 "Progress set by setMinProgress() is ignored when playing animation"
Lottie 2.5.4, Android 8.1, Nexus 5X
[code]
[code]
Javadoc:

Expected result:
Animation starts from progress 0.5.

Actual result:
Animation starts from the beginning.

[tick.zip](https://github.com/airbnb/lottie-android/files/1947322/tick.zip)

[2018-04-25 14:29] borwoj commented on #739
Seems to work fine on 2.5.0.

[2018-04-25 17:38] AlexLutinNoir opened #740 "Change text in any lottie text animation ?"
Hello there,
thank you for making such a great project available for everyone, I'm trying to learn android, so I'm working on a small application that uses some of the lottie animations found in [https://www.lottiefiles.com/](url)
I'm interested in customizing the animations that animate a certain text like this one:
[https://www.lottiefiles.com/16-body-movin](url)
I searched a bit on the lottie t

[2018-04-26 15:08] PaulWoitaschek opened #741 "Cache not working concurrent"
I use Lottie to show about 15x the same animation in a recyclerview. Because setAnimation does not check for pending requests, creating 15 views with the same animation leads to the animation be parsed 15 times and then be put 15 times into the cache.

Instead Lottie should check  if there are pending requests and join them instead of creating new ones.

[2018-04-26 17:42] rogererill commented on #401
Are there any news on this? It could be a very useful feature for us :)

[2018-04-26 18:54] PaulWoitaschek commented on #739
It's because of https://github.com/airbnb/lottie-android/pull/717

setMinProgress is calling:
[code]

Whereas lerp is defined as
[code]

Which does not make any sense.
If startFrame is 0 and endFrame is 100 and minProgress is `0.2F` then that would evaulate to:
`lerp(0.2F, 0, 100) = 0.2F + 100 * (0 - 0.2)=-19,8`

[2018-04-30 03:49] gpeal commented on #740
Lottie just renders animations exported with bodymovin in After Effects.

The animation you linked to was custom made. It's not a font or anything like that. If you want something similar, you would have to learn how to animate it yourself with After Effects.
You can start with some fonts on [Animography](https://animography.net/) and play around with them if you want.

Making your own, high quali

[2018-04-30 03:49] #740 closed

[2018-04-30 03:49] gpeal commented on #401
@rogererill I haven't been able to find the time to make it happen. I would accept a PR though.

[2018-04-30 03:51] gpeal commented on #741
@PaulWoitaschek I've avoided doing this because it adds significant code complexity and maintainability of the code. If possible, for you use case, can you create the LottieComposition yourself ([docs](http://airbnb.io/lottie/android/android.html#using-lottiecomposition-to-preload-an-animation)). That would solve your problem.

[2018-04-30 03:51] #741 closed

[2018-04-30 03:53] gpeal commented on #736
@SwayChen what does frame skip mean?

[2018-04-30 09:06] luhui2014 opened #742 "Log print frequent"
The JSON animation exported by AE can run normally, but the Lottie log has been printed.
The frequency of occurrence is too frequent, but I did not find the corresponding way to shield it. I look at the other logs.

`choiassociatedpress W/LOTTIE: Animation contains intersect masks. They are not supported but will be treated like add masks.
04-30 17:00:51.143 24325-24325/com.lanjinger.choiassociate

[2018-05-01 06:01] vinayakgupta02 commented on #116
Hi guys,
 am using this version "compile 'com.airbnb.android:lottie:2.5.4" I tried multiple animations they were absolutely great, but its true it shoots up the CPU usage once active.
Actually its not same for all animations, some shooting up to 32% while some shooting up to 5-7% only
Is there any way we could handle it?

[2018-05-01 12:41] SwayChen commented on #736
As the video in attachment shows.

It seems lottie sometimes skips the last serveral frame then play from beginning.

[2018-05-01 16:13] gpeal commented on #742
It means you are using the unsupported feature, intersect masks. I should make this less noisy though.

[2018-05-02 01:07] huangsai opened #743 "No .git directory found!"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-05-02 07:13] #743 closed

[2018-05-03 00:02] borysboyko opened #744 "Example4.gif in README.md contains an error"
Context:

![Example4](https://github.com/airbnb/lottie-android/blob/master/gifs/Example4.gif)

The animations writes, "THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG"

This sentence is missing the letter 'S', which is typically part of the sentence that includes every letter of the English language alphabet.

The sentence should be as follows: "THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG"

Please se

[2018-05-03 09:35] dmallcott opened #745 "[request] Combining animations"
Hey good people, hope you're all well.

Recently I could've used some support for combining different animations and playing them as a whole. Something along the lines of combining the jsons programmatically and then using the result as the actual animation. Is this possible at the moment? If not, is there interest in making this a feature?

[2018-05-04 00:26] gpeal commented on #745
@dmallcott You have a few options:
1) Overlay multiple LottieAnimationViews on top of eachother then call play on each of them. You could also wrap then in a parent view so that you call play on the parent ViewGroup and it delegates to each of its children.
2) Use a LayerDrawable with an array of LottieDrawables.

I don't see a reason to add this to the core library though.

[2018-05-04 00:26] #745 closed

[2018-05-04 00:26] #744 closed

[2018-05-04 00:27] gpeal commented on #744
Ours is unique 😄

[2018-05-04 00:36] borysboyko commented on #744
Ok :+1: :smiley:

[2018-05-04 07:49] GcsQin opened #746 "Memory growth"
I found the memory growth when I use the lottie 2.5.4.Do you hava a good solution？android

[2018-05-04 09:34] GcsQin commented on #746
LottieAnimationView lav = new LottieAnimationView(JDHttpTookit.getEngine().getApplicationContext());
            lav.setLayoutParams(params);
            lav.setAnimation("7.0loading.json", LottieAnimationView.CacheStrategy.Strong);
            lav.loop(true);
            lav.playAnimation();

[2018-05-04 09:35] GcsQin commented on #746
LottieAnimationView lav = new LottieAnimationView(getApplicationContext());
            lav.setLayoutParams(params);
            lav.setAnimation("loading.json", LottieAnimationView.CacheStrategy.Strong);
            lav.loop(true);
            lav.playAnimation();

[2018-05-04 14:14] sorotokin opened #747 "Migrate from deprecated Canvas.saveLayer"
Canvas.saveLayer with 3 parameters is deprecated in API level 26. Replacement is 2-parameter version which is available in level 21. To start the process, all flags, except ALL_SAVE_FLAG could be eliminated.

[2018-05-04 14:28] gpeal commented on #746
@GcsQin Can you attach your animation?

[2018-05-04 15:08] sorotokin commented on #747
https://github.com/airbnb/lottie-android/pull/748

[2018-05-04 15:37] paulsowden commented on #747
Worse than just being deprecated this method will throw IllegalArgumentException when the targetSdkVersion is >= 28 (P).

[2018-05-04 17:32] sorotokin commented on #747
With ALL_SAVE_FLAG it would not (yet)

[2018-05-06 06:30] EladJarby opened #750 "Repeat animation take the shortest time"
Hi,
First i set lootie for loop "true"`
i have a few animations that i set to same view.
For example, first animation duration is 4000.
After i cancel and clear animation and set the second animation with duration of 800 all working great,
But when i set first animation again (duration of 4000) "onAnimationRepeat" is executing every 800 and not 4000..
So i think that when we change animation it ta

[2018-05-07 02:37] GcsQin commented on #746
{"v":"5.1.3","fr":25,"ip":0,"op":50,"w":100,"h":100,"nm":"合成 1","ddd":0,"assets":[],"layers":[{"ddd":0,"ind":1,"ty":4,"nm":"“jd”轮廓","sr":1,"ks":{"o":{"a":1,"k":[{"i":{"x":[0.667],"y":[1]},"o":{"x":[0.333],"y":[0]},"n":["0p667_1_0p333_0"],"t":19,"s":[0],"e":[70]},{"t":33}],"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":0,"k":[47.991,50,0],"ix":2},"a":{"a":0,"k":[47.991,50,0],"ix":1},"s":{"a":1,"k":[{"

[2018-05-07 02:38] GcsQin commented on #746
thanks for you help

[2018-05-07 02:38] GcsQin commented on #746
thanks for your help!

[2018-05-07 06:11] msuhl opened #751 "blue"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-05-07 07:39] wanggang0813 commented on #746
I found the repeat animation in sample code have the same problem...

[2018-05-07 13:49] msuhl commented on #751
Not sure how this happened?
but sorry for the spam

[2018-05-07 13:51] gpeal commented on #692
@kuoliangkwong Lottie plays everything at 60fps. What you are seeing is the opacity on frame 25-26 for "Layer 2 Outlines" in between 25 and 26 which AE does not render. You have a keyframe on frame 25 with opacity 0 and 26 with opacity 1 which causes it to fade in (and same with the letters fading out). As a result, the flash you are seeing is a crossfade between the letters and square.

I suggest

[2018-05-07 13:51] #692 closed

[2018-05-07 13:51] #697 closed

[2018-05-07 13:55] gpeal commented on #720
It seems to render fine for me
![recording](https://user-images.githubusercontent.com/1307745/39705589-20ab602e-520f-11e8-9148-65a9b0f174f7.gif)

[2018-05-07 13:55] #720 closed

[2018-05-07 14:00] gpeal commented on #724
@M-Khay I think this may be down to the specific implementation of your app. Can you attach a simple project that reproduces this?

[2018-05-07 14:00] gpeal commented on #733
@paulingit Can you attach your animation

[2018-05-07 14:04] gpeal commented on #726
@rogererill Since this is a pretty edge-case. It may be easier to just create a fake View to give it rather than to add more code to the library that ships to billions of devices for this. However, if you want to discuss other options or put up a PR yourself, you may reopen this.

[2018-05-07 14:04] #726 closed

[2018-05-07 14:33] gpeal commented on #737
@lyew-phunware I can't repro this. I modified BullseyeActivity in the sample app to test this:
I modified activity_bullseye:
[code]

and added this in BullseyeActivity#onCreate
[code]

and it worked as expected
![bullseye](https://user-images.githubusercontent.com/1307745/39707274-3e789a5e-5214-11e8-913c-507d11e010d6.gif)

If you can make a sample project that repros this, feel free to reopen it.

[2018-05-07 14:33] #737 closed

[2018-05-07 16:10] #727 closed

[2018-05-07 16:15] #742 closed

[2018-05-07 16:16] gpeal commented on #736
@SwayChen I ran this through systrace and can't find anything suspicious.

[2018-05-07 16:16] #736 closed

[2018-05-07 16:17] gpeal commented on #738
It seems to load fine for me on the latest master
![recording](https://user-images.githubusercontent.com/1307745/39712320-e4bd0522-5222-11e8-958a-34cec6b412d1.gif)

If it is still broken, reopen this with a repro project.

[2018-05-07 16:17] #738 closed

[2018-05-07 16:38] #750 closed

[2018-05-07 16:44] gpeal commented on #746
This is the memory profiler for 30 seconds. There was a very slight increase but after garbage collection, it returned to the original value.
![image](https://user-images.githubusercontent.com/1307745/39713322-aa26d88a-5226-11e8-884d-0530f218ea69.png)

[2018-05-07 16:44] #746 closed

[2018-05-07 17:03] #690 closed

[2018-05-07 17:17] gpeal commented on #552
Closing until you attach the aep.

[2018-05-07 17:17] #552 closed

[2018-05-07 18:12] young1872 opened #755 "Lottie file in a Dialog Android"
Hello there,
I'm developing an app in android, and I want to use lottie for a Dialog that could have an animated icon of checked-done or fail. Wellcome some examples or ideas. I guess this is possible.
Thanks

[2018-05-07 18:47] Frank1234 commented on #667
same here

[2018-05-07 19:06] Frank1234 commented on #667
I'm having this on Lottie 2.5.4 and Android 8.0 and 8.1. In my crash logs, I cannot reproduce.

[2018-05-08 03:34] jhwsx commented on #77
Here is my error.
`Error:Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

Thank you @muthuraj57 ! for saving me!

[2018-05-08 06:47] ranjithrayapati commented on #711
same issue with 2.5.3

[2018-05-08 11:13] chronvas opened #757 "KeyPath constructor warning"
Trying to do:

`loadingView.addValueCallback(new KeyPath("**"), LottieProperty.COLOR_FILTER, lottieValueCallback);
`

The IDE gives me a warning for "new KeyPath..." stating:

using 2.5.4 from the related [docs](http://airbnb.io/lottie/android/dynamic.html)

[2018-05-08 11:23] chronvas opened #758 "Migrating from the old addColorFilter API clarification"
From the [documentation](http://airbnb.io/lottie/android/dynamic.html)
`animationView.addValueCallback(new KeyPath("**"), LottieProperty.COLOR_FILTER, new LottieValueCallback(colorFilter));`

And adopted it this way:
`loadingView.addValueCallback(new KeyPath("**"), LottieProperty.COLOR_FILTER, new LottieValueCallback(new SimpleColorFilter(getResources().getColor(android.R.color.black))));`

I get

[2018-05-08 22:27] gpeal commented on #757
Fixed by https://github.com/airbnb/lottie-android/commit/c9bb8384fd0ccc33dafe775487e045a865f34921

[2018-05-08 22:27] #757 closed

[2018-05-08 22:29] gpeal commented on #667
@Frank1234 you're seeing it in production logs? Can you paste the exact stack?

[2018-05-08 22:29] gpeal commented on #755
http://airbnb.io/lottie/android/android.html#getting-started
and
https://github.com/airbnb/lottie-android/tree/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples

[2018-05-08 22:29] #755 closed

[2018-05-09 13:05] softcrafter opened #759 "Crash in Lottie with NPE in BaseStrokeContent"
**Environment:**
Lottie: 2.5.0
Android OS: 4.3.1
Device: Galaxy Nexus (Emulator)

**Steps**
Just load the load the animation: https://www.lottiefiles.com/download/1830

[code]

[2018-05-09 17:45] #739 closed

[2018-05-10 06:17] AnkitAndroaid opened #761 "ArrayIndexOutOfBounds exception Lottie Layer Parser"
[Circle.json.zip](https://github.com/airbnb/lottie-android/files/1990556/Circle.json.zip)

I was trying to test Lottie Animation in my app. But Got this following error. I Used Lottie version 2.5.4 in Android app.

java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:588)
                                                                  at java.lang.Thread.run(Thread.java:818

[2018-05-10 13:47] Frank1234 commented on #667
Yes, in production logs. Here are the details:

[code]

**Device**
Brand: samsung
Model: SM-A520F
Orientation: Portrait
RAM free: 203.76 MB
Disk free: 4.89 GB
plat_android Operating System
Version: 8.0.0
Orientation: Portrait
Rooted: No
bug_report Crash
Date: May 10, 2018, 9:36:00 AM
App version: 4.1.0 (2023180)

[2018-05-10 15:37] falcon4ever commented on #667
I'm seeing the same crash bug occur in Crashlytics/Firebase for our app in prod. Unfortunately I've been unable to reproduce the issue so far with any of my test devices.

My stacktrace is similar to the ones posted above:
`

Devices
-------

# Date: 2018-05-05T05:56:00Z
# OS Version: 8.1.0
# Device: Nexus 6P
# RAM Free: 100%
# Disk Free: 100%

# Date: 2018-05-06T15:21:00Z
# OS Version: 8.0.0
# De

[2018-05-10 17:38] gpeal commented on #667
@Frank1234 @falcon4ever Are there any commonalities like specific versions of Android?

[2018-05-11 16:07] alliecurry commented on #667
Hi, I've been experiencing this same issue... @gpeal seems to be only on `8.0.0` and `8.1.0` devices, in my case (over 25 reports, so far). Matching stacktrace to those reported, above.

[2018-05-11 21:35] bwill opened #762 "Autoplay LottieAnimationViews animate even when not attached to window"
When running the profiler, I noticed that I had a LottieAnimationView which was animating, even though it had no parent and was not attached to a window.

I believe the view had been inflated, but never attached to a window (it was a view that would be used in a RecyclerView).

Why does LottieAnimationView start the animation in the constructor, and not do it in onAttachedToWindow?

https://github

[2018-05-11 22:50] benjamincassidy opened #763 "setMinAndMaxProgress uses a different method of calculating frame than setMinProgress and setMaxProgress"
Currently `LottieDrawable#setMinAndMaxProgress` use the broken version of calculating the the frame which was fixed in https://github.com/airbnb/lottie-android/pull/754.

Update `LottieDrawable#setMinAndMaxProgress` to use lerp based method method.

[2018-05-12 00:08] #763 closed

[2018-05-12 01:44] gpeal commented on #762
@bwill Good fix. I'll correct this.

[2018-05-12 01:45] #762 closed

[2018-05-13 10:29] dommerq opened #767 "Use new .androidx package from Android Jetpack instead of android.support"
At Google io18 was announced Android Jetpack.
The main issue now is libraries using the old support libraries.
I'd suggest moving to jetpack.

[2018-05-13 14:56] gpeal commented on #667
@alliecurry @falcon4ever Any other patterns you can deduce from your crash logs? Samsung, etc?

[2018-05-13 20:50] gpeal commented on #767
@dommerq moving to androidx right now would prevent the many apps that will inevitably take a while to upgrade from upgrading Lottie. I will definitely upgrade but I'll give apps time to update before updating Lottie.

I'll tentatively do this at the end of 2018.

[2018-05-13 20:50] #767 closed

[2018-05-14 07:31] basithnewscorp commented on #662
is this issue fixed??

[2018-05-14 09:53] arvrschool opened #768 "Lottie crash in Android P Preview"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-05-14 10:57] myfknoll opened #769 "Crash Samsung Galaxy J7"
We have issues running lottie on an Samsung Galaxy J5, the file cannot be found

# Date: 2018-05-11T07:34:15Z
# OS Version: 7.0
# Device: Galaxy J7(2016)
# RAM Free: 18.1%
# Disk Free: 7.4%

Caused by java.io.FileNotFoundException: filename.json
       at android.content.res.AssetManager.openAsset(AssetManager.java)
       at android.content.res.AssetManager.open(AssetManager.java:423)
       at a

[2018-05-14 11:55] borwoj opened #770 "The last frame is never reached"
**Given:**
Lottie 2.5.5, Android 8.1, Nexus 5X
[code]
[code]

**Expected result:**
Animation finishes on the last frame.

**Actual result:**
Animation finishes, but does not reach the last frame.

Seems to work fine on 2.5.0.

When debugging, I found out that on 2.5.0, for the attached animation, after `onAnimationEnd()` is called, the `frame` property of `ValueAnimator` is set to 20, while on 2.5

[2018-05-14 15:23] kinber95 opened #771 "Unable to open asset. java.io.FileNotFoundException: open/img_0.png"
Hello,

I get this error then I wan't to animate my json file:

[code]

I loading the animation via xml :

[code]

The json file is in my res/raw folder and the png files for the json are in the src/main/assets/open folder. This is how my json looks : http://app.ilockit.bike/data.json.

I search for a while in the internet, but no solution helps...

[2018-05-14 16:13] falcon4ever commented on #667
@gpeal I don't see any particular thing that stands out, just those devices above.

btw, I also noticed v2.5.5 got release 3 days ago without a change log updates. Is that version including important changes?

[2018-05-14 21:24] #771 closed, assigned to nobody

[2018-05-14 21:25] gpeal commented on #769
@myfknoll This isn't a Lottie issue. It appears as if the file doesn't exist within your app for those phones. Lottie just passes through to Android to handle that.

[2018-05-14 21:25] #769 closed

[2018-05-14 21:25] gpeal commented on #768
Duplicate of #747

[2018-05-14 21:25] #768 closed

[2018-05-15 02:33] georgeyang1024 opened #772 "java.lang.NullPointerException when i load full screen animation"
java.lang.NullPointerException: Attempt to read from field 'int android.graphics.Path$FillType.nativeInt' on a null object reference
                                                                         at android.graphics.Path.setFillType(Path.java:240)
                                                                         at com.airbnb.lottie.animation.content.GradientFillContent.<init>(Gra

[2018-05-15 03:39] guoqj opened #773 "编译出错"
编译出错：
尝试了网上的方法都没有解决，报Errors while building APK. You can find the errors in the 'Messages' view.

[2018-05-15 04:17] AhmadKabi opened #774 "Json File is incorrectly rendered, but perfect in web"
Hi, I'm impressed with this great work. thanks for eye catching effect for the users by using your library.
but i have bug here. I have an bodymovin converted json file that is rendered incorrectly in android app, but it looks perfect if we play this json in web. i have attached the file below.

Thanks a lot

aep file : https://drive.google.com/file/d/1vn4AU9rJiAXLp1p16kKLWFEM0a-W3GWO/view?usp=sha

[2018-05-15 07:13] AhmadKabi commented on #723
I have tried TextDelegate but animation plays uncorrectly.
when i don't use this class, animation is perfectly played
#774

[2018-05-15 08:08] #773 closed

[2018-05-15 08:08] gpeal commented on #772
@georgeyang1024 Please attach your aep file (zipped)

[2018-05-15 08:27] borwoj commented on #770
Ah, makes sense, thanks!

[2018-05-15 16:49] alliecurry commented on #667
Seems to affect a multitude of devices:
<img width="700" alt="screen shot 2018-05-15 at 11 48 17 am" src="https://user-images.githubusercontent.com/1874089/40071295-f428ea58-5835-11e8-8d34-df5c025e0152.png">

[2018-05-15 22:03] #770 closed

[2018-05-16 01:58] georgeyang1024 commented on #772
[sign.zip](https://github.com/airbnb/lottie-android/files/2007254/sign.zip)
please check

[2018-05-16 02:26] huangyulai opened #776 "please help me what's hapen"
05-16 10:13:08.356 24871-24871/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: xiangbo.xld.com.mytencentview, PID: 24871
    java.lang.NullPointerException: Attempt to read from field 'int android.graphics.Path$FillType.nativeInt' on a null object reference
        at android.graphics.Path.setFillType(Path.java:255)
        at com.airbnb.lottie.animation.content.GradientFillContent.<init>(G

[2018-05-16 02:27] huangyulai commented on #776
How to solve this problem?

[2018-05-16 05:27] makkhay commented on #377
@gpeal can we access the source code for MOBILO animation?  I want to include multiple letters in my app. Thanks.  Here's the gif that I'm referring to.
https://github.com/airbnb/lottie-android/blob/master/gifs/Community%202_3.gif

[2018-05-17 12:46] usmanrana07 opened #777 "Animation is running in iOS but causing jerks in Android"
I'm using a json for showing animation. It is running smoothly in iOS but in Android it crashes and works when i add view.setImageAssetsFolder("images/");  line . But it causes jerks even when harware accelration is on.

[2018-05-17 16:04] Anmolk22 opened #778 "Lottie Animation background"
I am trying to make the lottie animation background transparent but couldn't find any configuration to do the same. I've tried the online bodymovin but the color background is not changing.
Please suggest
https://editor.lottiefiles.com/?src=https://www.lottiefiles.com/download_public/305

[2018-05-17 17:37] awenger commented on #667
We don't use lottie-android, but see a similar crash in our app:
[code]
So far we only observed crashes on devices with 8.0.0 and 8.1.0. I currently assume it is a bug in `JsonReader`, so I opened a bug report here: https://issuetracker.google.com/issues/79920590

[2018-05-18 01:16] gpeal commented on #778
@Anmolk22 the background is transparent. You can tell by dragging the json over lottiefiles, scanning the qr code with the Lottie app on the play store and changing the background color.

The background is probably on your view itself.

[2018-05-18 01:16] #778 closed

[2018-05-18 05:36] mxia commented on #388
Any update on this and #481 (seems to be a duplicate)? Or any suggestion on how to work around the issue is greatly appreciated too!

[2018-05-18 12:47] RadoVidjenGost commented on #733
I have tried the example at https://developer.android.com/training/animation/reposition-view with path, but it throws the same exception. Please help.

[2018-05-19 16:28] rezamusic881 opened #779 "Crash App, If display "Featured Lottiefiles" in "Recent menu" in scroll down"
#### Expected behavior
Supposedly, The "Lottiefiles Feature" feature in the "Recent" menu does not cause the Crash application when scrolling down.

#### Actual behavior
When I go to "Lottiefiles Feature" in the "Current" menu causes the Crash app when scrolling down.

#### How to reproduce
1. Instal App [here](  https://play.google.com/store/apps/details?id=com.airbnb.lottie)
2. Run the app
3. Go

[2018-05-22 03:18] gpeal commented on #779
This is now fixed

[2018-05-22 03:18] #779 closed

[2018-05-22 04:42] kr-nahid opened #780 "Animated text and Dynamic text not compleat"
#### Expected behavior
it expected that user able to typing when click on Animated text and also see the result when typing on Dynamic text button .

#### Actual behavior
in Animated text i cant able to typing and in Dynamic text it cant able to complete Dynamic text when click on done

#### How to reproduce
* download the app
* open it and go to Animated text then start typing
* and then go to Dy

[2018-05-22 15:45] Frank1234 commented on #667
I've added our details and log to the JsonReader issue report.

[2018-05-22 20:18] rezamusic881 opened #781 "The application crashes on the trim feature"
#### Project Information
* ###### Repository : https://github.com/airbnb/lottie-android
* ###### Title App : Lottie
* ###### Publisher App : Airbnb, Inc

***

#### Expected behavior
Supposedly, When I enter a larger number in the "Frame Min" feature rather than the "Max Frame" feature found on the "Showcase" menu, the Application does not stop.

#### Actual behavior
When I enter a larger number in

[2018-05-23 06:53] SunJenry opened #782 "Android---Rest the image asset but lottie still use the resource image assert before."
The problem is I want to display the animation from different resources, like assert and the download file . So I have to change the Image Asset by reset the  Image Asset Delegate. But no matter how i reset the image assert , once used the `setImageAssetDelegate()` , the lottie won't accept the`setImageAssetsFolder()` anymore. This is a bug or lottie just don't support change between them?

[2018-05-24 05:53] oncealong opened #783 "gradle build failed with error "No resource found that matches the given name""
I add `compile ('com.airbnb.android:lottie:2.5.4')` in my gradle, and build failed with error below.
[code]
my support v4, v7 library version is
[code]

I found two solution to solve this:
- first solution, change the v4, v7 version of my gradle:
[code]
- second solution, exclude support library from lottie:
[code]
At last, I choose the second solution. I want to know whether this is a suggest sol

[2018-05-24 06:10] HYlee-designer opened #784 "It's said "Animation contains intersect masks", which does not exist (android)"
<img width="1133" alt="2018-05-24 2 59 54" src="https://user-images.githubusercontent.com/21138364/40467029-28fae266-5f63-11e8-9be4-d445cc616152.png">

So I'm currently making the loading images for the new project.
But my developer told me the warning message saying "W/LOTTIE: Animation contains intersect masks. They are not supported but will be treated like add masks." keeps on appearing, and I

[2018-05-24 06:28] bukenov commented on #192
How to play animation over status bar?

[2018-05-24 11:32] moonsweel opened #785 "Animation looks correct on android 5 & 6, but incorrect on android 7 & 8"
I faced with a strange issue, my animation looks correct on android 5 & 6, but on android 7 & 8 it doesn't.

It draws 3 lines, on after another, and this's how it starts on android 5 & 6:
<img width="299" alt="screen shot 2018-05-24 at 15 24 29" src="https://user-images.githubusercontent.com/3405348/40482792-f8374cc4-5f66-11e8-9c80-48740a895d7a.png">

But on newer android versions it starts like t

[2018-05-29 13:38] tianshaokai opened #786 "Proguard question for lottie"
Warning: com.airbnb.lottie.utils.BaseLottieAnimator: can't find referenced method 'void onAnimationStart(android.animation.Animator,boolean)' in library class android.animation.Animator$AnimatorListener
Warning: com.airbnb.lottie.utils.BaseLottieAnimator: can't find referenced method 'void onAnimationEnd(android.animation.Animator,boolean)' in library class android.animation.Animator$AnimatorListe

[2018-05-30 00:04] murali5347 opened #787 "reverse animation stops at some point"
I am not able to use setSpeed() < 0 to reverse the animation. It works for some time but it stops completely again. Need help.

[2018-05-30 07:40] w401634075 commented on #772
do this can fix this bug
in this lottie\src\main\java\com\airbnb\lottie\parser\GradientFillParser.java class
change     Path.FillType fillType = null;    to   Path.FillType fillType = Path.FillType.EVEN_ODD;
sug:     change    GradientType gradientType = null;   to    GradientType gradientType = GradientType.Radial;

[2018-05-30 08:12] karlsimon opened #788 "Issue for android devices"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2018-05-30 09:53] tianshaokai commented on #786
It's good to add the following

-dontwarn com.airbnb.lottie.**
-keep class com.airbnb.lottie.** {*;}

[2018-05-30 12:04] vfurkana commented on #784
We're having the same issue.
This is also causing performance issues. I tried dozens of animations and the ones with "intersect masks" message have performance problems while others worked smoothly.
I asked our designer to remove the mask elements and messages were gone. Then we tried it with only 1 mask and I received messages again. So it's not related to having more than one masks.
Animations a

[2018-05-30 13:26] wangshuwen1107 commented on #664
you should set your LottieAnimationView wrapcontent then  setScale take effect

[2018-05-31 19:29] murali5347 commented on #787
Can anyone help me on this issue..!

[2018-06-01 10:19] TJHello opened #789 "第一次进入App时，动画不能显示。"
你好，我有一个问题：第一次进入App时，动画不能显示。
可能的原因：有大量的 Asynctask 或者 Thread 在运行。
请问你们是用到了Asynctask作为后台线程吗？因为我知道，如果Asynctask运行的数量过多的话，很有可能会无法进入Run。
希望你们可以解决这个问题，谢谢！

[2018-06-01 12:19] amKrish commented on #344
Ha, this really helped. I have been checking the json without saving the AE project file. After reading this, I saved the file and rendered a new json which renders gradient without any issue. Thanks a ton!!

[2018-06-04 15:28] zsoltk commented on #733
@gpeal +1 for this issue. Crashing on production with the same exception, and only on devices with Android 7+

[2018-06-06 02:24] tangdekun opened #791 "进入之后 动画不播放的情况 图片也会显示 旧版没有问题 新版有问题 怎么解决"
进入之后 动画不播放的情况 图片不会显示  旧版没有问题 新版有问题 怎么解决

[2018-06-06 02:27] tangdekun commented on #791
进入之后 动画不播放的情况 背景图片不会显示 旧版是有默认图片的  新版有问题 怎么解决

[2018-06-06 03:14] tangdekun opened #792 "Hello, when I use Lottie, I want to display a click animation. It is manual control of animation play, before loading a static picture, but the new version will not show anything, how to solve it."
Hello, when I use Lottie, I want to display a click animation. It is manual control of animation play, before loading a static picture, but the new version will not show anything, how to solve it.

[2018-06-06 08:27] bdndreams opened #793 "App crash- font not found in asset folder"
Application is crashed, I have view pager and add LottianimationView in each page, but when i scroll on view pager application get crashed, on random pages.

AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: com.lifescan.reveal.adhoctest, PID: 26977
                                                   java.lang.RuntimeException: Font asset not found fo

[2018-06-06 08:43] #793 closed

[2018-06-06 08:54] kmjyothish opened #794 "Failed to resolve: com.airbnb.android:lottie:2.5.1"
I export the unity project and import into android studio. i want show some lottie animation before launching the unity player.If i added this depedency  com.airbnb.android:lottie:2.5.1 it throws Error.(Failed to resolve: com.airbnb.android:lottie:2.5.1). for same depedency added for new project its working without unity.

[2018-06-07 02:59] jlimzynga opened #795 "Adding subviews at runtime"
My iOS counterpart has been able to implement the desired effect following the example detailed here: http://airbnb.io/lottie/ios/addsubviews.html

I see no capability to do that in Android - is this something that's available but not yet documented? We're on version 2.5.5.

[2018-06-07 06:33] tangyichao opened #796 "java.lang.NullPointerException: Attempt to read from field 'int android.graphics.Path$FillType.nativeInt' on a null object reference"
java.lang.NullPointerException: Attempt to read from field 'int android.graphics.Path$FillType.nativeInt' on a null object reference
        at android.graphics.Path.setFillType(Path.java:240)
        at com.airbnb.lottie.animation.content.GradientFillContent.<init>(GradientFillContent.java:62)
        at com.airbnb.lottie.model.content.GradientFill.toContent(GradientFill.java:80)
        at com.a

[2018-06-07 07:50] TJHello commented on #789
解决方法：
LottieComposition lottieComposition = LottieComposition.Factory.fromFileSync(context,"anim/unlock.json");
        if(lottieComposition!=null)
        {
            lottieAnimationView.setComposition(lottieComposition);
            lottieAnimationView.playAnimation();
        }

[2018-06-07 09:23] karip opened #797 "Line miter limit is not rendered correctly"
## Expected Behavior

When rendering the example json file (at the bottom of this message), the miter limit should create a beveled corner to the first path. Below is a screenshot from the Lottie web player.

![miter-web](https://user-images.githubusercontent.com/6185066/41090223-71c10c0c-6a4c-11e8-9591-a5c09826ee28.png)

## Actual Behavior

The first path has a sharp corner. Below is a screenshot

[2018-06-07 11:31] karip opened #798 "Dashes with offsets are rendered at wrong positions"
Dashes with dash offsets are not rendered at correct positions. It looks like the Android player moves the dashes less than the other players.

Here's a JSON file: [static-dash.json.zip](https://github.com/airbnb/lottie-android/files/2080137/static-dash.json.zip) - it contains black lines with dashes and offsets increasing from 0 to 240 (from top to bottom). The small blue ones are rectangles used

[2018-06-07 22:43] gpeal commented on #789
Please attach a repro project. There isn't enough information to go on here. Also, please translate it to English so others can understand.

[2018-06-07 22:43] #789 closed

[2018-06-07 22:44] #791 closed

[2018-06-07 22:44] #786 closed

[2018-06-07 22:44] gpeal commented on #794
Use 2.5.5

[2018-06-07 22:44] #794 closed

[2018-06-07 22:45] gpeal commented on #792
Please attach a repro project. There isn't enough information to go on here.

[2018-06-07 22:45] #792 closed

[2018-06-07 22:46] gpeal commented on #796
Duplicate of #772

[2018-06-07 22:46] #796 closed

[2018-06-07 22:47] gpeal commented on #795
The Android and iOs renderers work differently. Lottie Android uses a Drawable to do its rendering. A drawable can be rendered in a view but not vice versa. You may have to do some manual work to accomplish the same thing.

[2018-06-07 22:47] #795 closed

[2018-06-07 22:49] gpeal commented on #784
@HYlee-designer please attach the animation

@vfurkana [Here](http://airbnb.io/lottie/android/performance.html#masks-and-mattes) are some docs on performance.

[2018-06-07 22:51] gpeal commented on #783
The first solution is correct. You should keep an up to date compile sdk version and support lib version.

[2018-06-07 22:51] #783 closed

[2018-06-07 22:52] gpeal commented on #782
I recommend using a separate LottieAnimationView if you have some with an image delegate and some without.

[2018-06-07 22:52] #782 closed

[2018-06-08 04:38] woyelin opened #799 "LottieDrawable always draw on top-left"
Hi, I would want my lottieDrawable to draw on a ImageView as a foreground. Currently it always draws on the top-left of the lottieDrawable. I want to make it draw on the center of the ImageView. I try use lottieDrawable.setBounds(l, t, r, b) but that doesn't work.

How can I position my lottieDrawable on the ImageView?

[2018-06-08 08:56] vapour07 opened #800 "Developers having issue playing Lottie animation correctly"
Hi all,

This is one issue my developer encounters while embedding my lottie animation into android format
https://www.dropbox.com/s/xkonoaj34cy75ca/2018-06-08%2010.45.11.mp4?dl=0
Seems fine to be playing on browser but looks wonky in the android mobile.

I've tried previewing on Lottiefiles site and it seems to be working fine.

Then my developer sent me this error log regarding the issue:

`E  F

[2018-06-09 06:18] zjupure opened #801 "scale issue with fitXY scale type"
hi,

   I am using lottie to do animation, and when upgrade version to 2.3.1, the fitXY scale type not work as well. The animation will be scaled larger than the view bounds and only display part of images.
  [#461](https://github.com/airbnb/lottie-android/pull/461) seems to be related. This PR fix the scale issue with centerInside and centerCrop, but make the fitXY not match.

[code]

[2018-06-11 08:59] AndroidDeveloperLB opened #802 "Bug: Weird crash when showing a Lottie animation : "Invalid Layer Save Flag""
Tested on Pixel 2 with Android P DP3.
I tried to disable hardware acceleration. Didn't help.
Version 2.5.5 of the library, but also on 2.5.4  (updated because I was hoping it will fix it).
Doesn't seem to occur on older Android versions.
Also, file can be shown just fine via the sample Lottie app from the Play Store.
I see some logs of this sort, before the crash.

 E/AbstractTracker: Can't create

[2018-06-11 09:00] AndroidDeveloperLB commented on #802
Attached the POC I wanted to make...
[MyApplication7.zip](https://github.com/airbnb/lottie-android/files/2089278/MyApplication7.zip)

[2018-06-11 10:43] AndroidDeveloperLB commented on #802
If needed , here's the animation file:
https://ufile.io/orxu6

[2018-06-11 16:40] danivalvo opened #804 "Activity transition shared element"
Hello there!

I'm trying to implement transition between activities using an instance of `LottieAnimationView` as shared element using [android reference](https://developer.android.com/training/transitions/start-activity).

In my case the animation views have different sizes on their activities. Everything work fine about the centering. The issue is about the **scaling**: there's no interpolation

[2018-06-11 19:55] klinker24 commented on #802
I started seeing this on DP3, when I updated the target SDK to 28. Not all animations crash, but the one posted above, does.

Everything still works fine on older versions of Android, with the target SDK of 28.

[2018-06-11 20:07] AndroidDeveloperLB commented on #802
Why does it occur?
Have you reported to Google if needed?
https://issuetracker.google.com/issues

[2018-06-11 20:16] klinker24 commented on #802
I was just commenting to clarify that it happens when updating the target SDK to 28. I do not know why it happens yet and do not know enough to say if it is an issue with Lottie or with Android.

Since it happens on the target SDK update, it would appear that this is a new platform restriction that will either need implemented in Lottie, or, we will need more information on how to build animations

[2018-06-11 20:30] AndroidDeveloperLB commented on #802
I believe now it's the best time to investigate it, and not after Android P will become final.

[2018-06-11 20:48] maxbaldrighi commented on #733
With the same stacktrace, happening also on **Samsung Galaxy J1 Ace** running Android **5.1.1**.
Lottie version: **2.5.1**

[2018-06-12 07:52] HYlee-designer commented on #784
[loading.zip](https://github.com/airbnb/lottie-android/files/2093045/loading.zip)
This is the .ae and the json file.

[2018-06-12 17:59] gpeal commented on #804
Your best bet is to debug it with a [SharedElementCallback](https://developer.android.com/reference/android/app/SharedElementCallback.html#onCaptureSharedElementSnapshot(android.view.View,%20android.graphics.Matrix,%20android.graphics.RectF))

[2018-06-12 17:59] #804 closed

[2018-06-12 18:00] gpeal commented on #801
@zjupure Can you use centerInside or centerCrop instead? Lottie doesn't support non-original aspect ratio scale types.

[2018-06-12 18:00] #801 closed

[2018-06-12 18:29] gpeal commented on #800
@vapour07 Can you attach the json as a zip file directly? I can't access it there

[2018-06-12 18:30] gpeal commented on #799
@woyelin I don't think this is a lottie specific issue. If you think it is, can you attach a sample project?

[2018-06-12 18:30] #799 closed

[2018-06-12 18:31] gpeal commented on #788
The file was deleted

[2018-06-12 18:31] #788 closed

[2018-06-14 08:31] AndroidDeveloperLB opened #805 "Suggestion: remove "buildToolsVersion" from sample"
The IDE doesn't require it anymore.
It's automatically choosing the best one for the project.

[2018-06-14 08:59] ColtonIdle opened #806 "Lottie animation flashes white"
Not sure where to post this, but I have lottie working fine except that on every loop there is a quick white flash to fill out the rest of the image (fills in the transparency). This is weird because it doesn't happen when loading the exact file in the Lottie preview app. I checked out the source code and didn't see anything different that is being set to the animation_view. Any hints on what coul

[2018-06-14 09:00] AndroidDeveloperLB commented on #802
ok reported here:
https://issuetracker.google.com/issues/110178681

[2018-06-14 11:04] the-wr commented on #761
Same here. Not 100% reproducible.

[code]

[2018-06-14 16:02] gpeal commented on #802
Fixed by https://github.com/airbnb/lottie-android/commit/8ce2bef08477279a25cf357bf7ce4d325b0aab97

[2018-06-14 16:02] #802 closed

[2018-06-14 16:03] samiam2017 opened #807 "exporting dynamic text with custom font"
Attempting to output a determinate progress bar with a dynamic text counter of 0%->100%

goal is to have something that works for iOS and Android, but currently it's not even working for demo test.

After Effects Version 15.1.1
Bodymovin Version 5.1.10

I build the animated text using two different techniques for testing neither seems to work:

the Numbers Effect on a shape layer

an expression on

[2018-06-14 16:03] gpeal commented on #806
If you attach a sample project that repros this, I can take a look. Without that, there isn't much I can do. Sorry.

[2018-06-14 16:03] #806 closed

[2018-06-14 16:07] gpeal commented on #761
@AnkitAndroaid @the-wr Are there any trends in the devices? Manufacturers? OS versions?

[2018-06-15 08:01] karanmintzip commented on #388
RESOLVED: You need to convert text to Shape in order to render the text correctly.

[2018-06-15 08:08] TacB0sS commented on #388
Not a solution... text mostly is dynamic and should be rendered on the fly

[2018-06-15 08:57] karanmintzip commented on #388
Re: @TacB0sS But it's not rendering with proper allignment as a text. It worked for me after converting to shape.

[2018-06-15 09:00] TacB0sS commented on #388
True, this solves the problem.. but it is not a solution for the bug.. they have a bug and it needs a real fix

[2018-06-15 09:05] farazfaraz commented on #388
Converting text to shape just defeats the purpose of text feature. Plus the size also increases a lot.

Guys instead of dragging text box from tools to the canvas, just double click on text icon. And then start typing in the text box. Then you can move it to your desired place in the canvas. Ik its pretty weird but this way my alignment was fixed when I last tried it

[2018-06-18 17:08] gpeal commented on #807
Lottie [doesn't support](http://airbnb.io/lottie/supported-features.html) "Number Effect" or Expressions.

For Android, you should use a Text Layer and TextDelegate like [this](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/DynamicTextActivity.kt#L19).

[2018-06-18 17:08] #807 closed

[2018-06-18 17:08] gpeal commented on #787
@murali5347 Can you attach a sample project that reproduces this?

[2018-06-19 03:29] goldyonwar opened #810 "Error: Program type already present: android.support.v4.os.ResultReceiver"
Error: Program type already present: android.support.v4.os.ResultReceiver
   implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"
    implementation 'androidx.appcompat:appcompat:1.0.0-alpha3'
    implementation 'androidx.constraintlayout:constraintlayout:1.1.2'
    testImplementation 'junit:junit:4.12'
    androidTes

[2018-06-19 05:39] tahagit opened #811 "Error on show from url"
hi, i want to show json file from url but i have error "JsonReader near".
this is my code:
` JsonReader jsonReader = new JsonReader(new StringReader(response.toString()));
                animationView.setAnimation(String.valueOf(jsonReader));
                animationView.playAnimation();
`

[2018-06-19 05:42] ColtonIdle commented on #806
It's okay. I just thought maybe there was something simple I was missing. Unfortunately I can't post the animation since it's proprietary. I will try to resolve this myself.

[2018-06-19 05:43] ColtonIdle commented on #802
Any chance there will be a release at some point soon that includes this? @gpeal

[2018-06-19 05:57] leleliu008 opened #812 "display different on Android and iOS when screen orientation is landscape"
lottie-android version: 2.5.5
lottie-ios version: 2.5.0

here I have write a simple Demo(android and iOS)
[LottieDemo.zip](https://github.com/airbnb/lottie-android/files/2113982/LottieDemo.zip)

And I want the effect of ios, how to do in android?

[2018-06-19 06:17] leleliu008 commented on #805
@AndroidDeveloperLB  the real reason is here:
[https://developer.android.com/studio/releases/build-tools](https://developer.android.com/studio/releases/build-tools)
[https://developer.android.com/studio/releases/gradle-plugin#3-0-0](https://developer.android.com/studio/releases/gradle-plugin#3-0-0)

[2018-06-19 06:41] AndroidDeveloperLB commented on #805
@leleliu008 Well this is actually the reason of not putting it, so that it will use the latest there is.

[2018-06-20 22:01] macZielinski opened #813 "trimpath + multiple gradient strokes issues"
Hi,

I had to use 3 paths with trim path, and gradient that intermigle each other. Terrible effect is in lottie viewer. Gradient moves, flickers ....
Below I give You reproduced problem in json file, html and project file:
https://drive.google.com/file/d/1Px2AOLDJWvaDdgJ7Ui79Z-gkWiGWUCa1/view?usp=sharing

[2018-06-21 01:47] gpeal commented on #811
Use [this](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L463) version with your JsonReader directly, not `String.valueOf`.

[2018-06-21 01:47] #811 closed

[2018-06-22 09:31] the-wr commented on #761
@gpeal Upgrading to the latest release fixed the issue for me. Sorry for false alarm.

[2018-06-22 09:34] wangjinzhong opened #816 "NullPointerException occurs on devices which android version < 5"
Fatal Exception: java.lang.NullPointerException
com.airbnb.lottie.animation.content.BaseStrokeContent. (BaseStrokeContent.java:63)
com.airbnb.lottie.animation.content.StrokeContent. (StrokeContent.java:26)
com.airbnb.lottie.model.content.ShapeStroke.toContent (ShapeStroke.java:77)
com.airbnb.lottie.animation.content.ContentGroup.contentsFromModels (ContentGroup.java:30)
com.airbnb.lottie.animation

[2018-06-23 05:19] cassiohoffmann opened #817 "spring-android-rest-template + lottie"
Hello friends, I would very much like to use dependency on my project, my application does not work when I insert the lottie. Is there a problem with lottie and spring for android? how should I proceed?
everything related to spring stops working.
java.lang.NoClassDefFoundError: org.springframework.http.client.SimpleClientHttpRequestFactory

[2018-06-23 18:57] gpeal commented on #817
This is not lottie related. This library runs on Android. Spring is a backend web framework.

[2018-06-23 18:57] #817 closed

[2018-06-23 19:16] cassiohoffmann commented on #817
I'm talking about the spring to android in which all but all of the resources, annotagions like @REST, @APLICATION, etc.
You can learn more about spring to android at:
http://projects.spring.io/spring-android/

my project runs normally with spring porem, when I enter:
compile 'com.airbnb.android:lottie:2.5.5'
all of it.

Thank you for your help.

[2018-06-23 19:17] cassiohoffmann commented on #817
I would like to understand what has in the lottie project that is affecting the operation of my application with spring. maybe annotations, etc. .. can you help me? many people use spring for android.

[2018-06-25 02:21] vapour07 commented on #800
I think it's all good now! Thanks alot @gpeal

[2018-06-25 02:21] #800 closed

[2018-06-25 12:58] zhuzhumouse opened #818 "TargetSdk was upgraded to 28 and crashed on android 9.0 mobile"
The crash stack is as follows:

java.lang.IllegalArgumentException: Invalid Layer Save Flag - only ALL_SAVE_FLAGS is allowed
        at android.graphics.Canvas.checkValidSaveFlags(Canvas.java:378)
        at android.graphics.Canvas.saveLayer(Canvas.java:455)
        at com.airbnb.lottie.model.layer.BaseLayer.draw(Unknown Source:294)
        at com.airbnb.lottie.model.layer.CompositionLayer.drawLay

[2018-06-25 16:19] gpeal commented on #818
Duplicate of #768

[2018-06-25 16:19] #818 closed

[2018-06-25 20:52] cesards commented on #800
@vapour07 How did you fix it? Was it an error related to how the animation was done? I had a similar problem so I'm interested in the final solution. Thanks!

[2018-06-26 10:17] luobin23628 opened #819 "it doesn't look right"
在android上部分元素不能正常显示，但是在iOS和web上都是正常的，为什么呢？我查了不能显示的元素应该都是支持的。
文件预览地址：https://www.lottiefiles.com/share/Na1i46

[tianxiao.json.zip](https://github.com/airbnb/lottie-android/files/2136699/tianxiao.json.zip)

[2018-06-26 17:21] vapour07 commented on #800
The developers just told me things are ok now so I’m not too sure what they did on their end, I thought probably Gabriel did something to it though.

But its definitely not the animation problem since i didnt do anything fancy to it at all and one day my devs just told me everything is fine already!

[2018-06-26 17:54] cesards commented on #800
Cool! Thanks :)

[2018-06-27 06:00] balaje123 opened #821 "Some images in same image asset folder is not rendering - Native android"
I used JSON file to load animation which is provided by my UI designer. But some images getting rendering meanwhile some is not rendering and got following logs. I have gone through the JSON and image path is also same.

05-30 11:35:16.183 23030-23030/com.innovellent.lottiedemo W/LOTTIE: Animation contains intersect masks. They are not supported but will be treated like add masks.
05-30 11:35:16.2

[2018-06-27 16:37] gpeal commented on #821
@balaje123 Those logs are not related. If you attach a sample project that can reproduce this, please reopen this issue and attach it.

[2018-06-27 16:37] #821 closed

[2018-06-28 01:50] HunkD commented on #759
any update on this? our app reports much crash due to this issue.

[2018-06-28 11:01] Jakst commented on #759
@HunkD You can downgrade to 2.3.2 to avoid the crash

[2018-06-28 19:39] gpeal commented on #759
@HunkD Is there any chance that you are trying to load several Lottie animations at once?

[2018-06-28 19:39] gpeal commented on #759
@HunkD My suspicion is that some OEM implementations of JsonReader aren't thread safe.

[2018-06-28 19:42] gpeal commented on #819
@luobin23628 What doesn't look right? Please reply in English so others can use this as a reference.

[2018-06-28 19:42] #721 closed

[2018-06-28 19:45] AndroidDeveloperLB commented on #721
Why close it?

[2018-06-28 21:31] markstonehouse commented on #721
@AndroidDeveloperLB because it has been resolved now as per #814

[2018-06-28 21:35] AndroidDeveloperLB commented on #721
We have it now?
Cool!

[2018-06-29 02:56] gpeal commented on #759
@HunkD Can you attach a project that repros this?

[2018-06-29 07:01] HunkD commented on #759
@gpeal https://github.com/HunkD/LottieCrash

[2018-06-29 08:28] softcrafter commented on #759
Hi @gpeal,

Just a note here, I am not loading more than one animation at once and I still encounter the crash.

[2018-06-29 19:23] Thiago0803 commented on #810
gradle.properties:

android.useAndroidX=true
android.enableJetifier=true

[2018-07-01 01:34] PerspectivesLab opened #822 "Java 8 compilation error version 2.5.6"
lottie-react-native project target this library as 2.5.+ dependency,
as 2.5.5 we could compile fine since it was compiled with java 1.7.
now as 2.5.6:
Error:Error converting bytecode to dex:
Cause: Dex cannot parse version 52 byte code.
This is caused by library dependencies that have been compiled using Java 8 or above.

how to fix that ? thx

[2018-07-01 12:12] PaulWoitaschek commented on #822
Why was this change necessary? I use desugar=false because of a different issue and that means I can't use the latest lottie version.

[2018-07-01 14:36] PerspectivesLab commented on #822
adding
[code]
requires
[code]
and then this error appears:
[code]

i upgraded gradle etc to support java 8, but its a mess i broke the entire compilation
Java 8 API is min API level 24 ... which is quite high...
what are lottie-android lines necessary in the code to be Java 8 ?

[2018-07-02 11:40] AnujKosambi commented on #822
I temporary have solved issue by forcing gradle to take 2.5.5 version
[code]
by adding this in project's build.gradle file

[2018-07-02 12:51] ionut-movila commented on #822
For those using Lottie in react native, the best option at the moment is described here: https://github.com/airbnb/lottie-android/issues/822#issuecomment-401776909

[2018-07-02 13:53] WhiteHatTux commented on #822
I had to add the line from @AnujKosambi to
`android/app/build.gradle`
In the section
[code]
for it to work correctly.

[2018-07-02 16:38] Maneeshashokan commented on #822
I have same issue, with lottie 2.5.0

error
/////////

Running dex as a separate process.

To run dex in process, the Gradle daemon needs a larger heap.
It currently has 1024 MB.
For faster builds, increase the maximum heap size for the Gradle daemon to at least 1536 MB.
To do this set org.gradle.jvmargs=-Xmx1536M in the project gradle.properties.
For more information see https://docs.gradle.org/c

[2018-07-03 21:20] Lhoink opened #825 "Add Mask not rendering in Android/iOS"
When I preview my json file in [Lottie Preview](https://www.lottiefiles.com/share/Y1AJhQ), everything seems fine. However, once our Android (and iOS) developers apply it, I can now see the left ribbon the whole time.

[2018-07-03 21:21] Lhoink commented on #825
[BF_Survery_Animation_Medal_03.aep.zip](https://github.com/airbnb/lottie-android/files/2161055/BF_Survery_Animation_Medal_03.aep.zip)

[2018-07-05 07:06] da224 opened #826 "Lottie not showing onActivityResult"
First of all, Thank you for great library.

lottie animation is working well in my code except for code in onActivityResult.
 - implementation : 'com.airbnb.android:lottie:2.5.4'

My code in onActivityResult is as below,

  @Override
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
        if (resultC

[2018-07-07 07:00] gpeal commented on #822
I'll revert the java 8 upgrade

[2018-07-07 07:00] gpeal commented on #826
Can you attach a sample project the reproduces this? If so, feel free to reopen.

[2018-07-07 07:00] #826 closed

[2018-07-07 07:17] dahan224 commented on #826
It was my mistake. Sorry and Thank you for reply.

[2018-07-08 06:10] PerspectivesLab commented on #822
https://github.com/react-community/lottie-react-native/issues/345

[2018-07-08 13:10] AndroidDeveloperLB opened #829 "Question: Does Lottie-android library support all Lottie files?"
I ask this because a lot of times, when I download a lottie file (json file) from the Lottie-files website, it is faulty and I can't use it, even though the website seems to show it fine.

Example is this one:
https://www.lottiefiles.com/1786-profile

[2018-07-09 04:50] gpeal commented on #829
@AndroidDeveloperLB Different platforms support different features. For example, some animations work well with Lottie Web but not Android/iOS and vice versa.

Refer to [supported features](http://airbnb.io/lottie/supported-features.html) for specifics.

[2018-07-09 04:50] #829 closed

[2018-07-09 04:51] gpeal commented on #810
@goldyonwar You can try `compile ('com.airbnb.android:lottie:2.5.1'){ exclude group: 'com.android.support' }`

[2018-07-09 04:51] #810 closed

[2018-07-09 04:51] #819 closed

[2018-07-09 04:51] #787 closed

[2018-07-09 05:18] AndroidDeveloperLB commented on #829
Can you at least put a mark for each of the files, to show on which platforms it's supported, and add a filter so that we will see only those that are supported for the selected platform ?

Currently if I want to use a file there, I have to try each till I find one that works...

[2018-07-09 05:38] #805 closed

[2018-07-09 05:59] gpeal commented on #772
@georgeyang1024 The animation you attached is full of images that you didn't include.

Can you create a simple sample that reproduces this?

[2018-07-09 06:08] #781 closed

[2018-07-09 06:08] #747 closed

[2018-07-09 06:09] gpeal commented on #735
Fixed by #754

[2018-07-09 06:09] #735 closed

[2018-07-09 06:09] gpeal commented on #719
I would accept a PR for this.

[2018-07-09 06:12] gpeal commented on #348
Closing this because it has been deprioritized. If this seems like an important/valuable feature. Feel free to reopen it.

[2018-07-09 06:12] #348 closed

[2018-07-09 06:13] #761 closed

[2018-07-09 06:33] AndroidDeveloperLB commented on #719
Is it possible though?

[2018-07-09 06:34] AndroidDeveloperLB commented on #805
Why close this?
Was it applied?

[2018-07-09 06:41] gpeal commented on #759
@softcrafter I was unable to reproduce this down to API 16. Please attach a sample project.

@HunkD Your project pertains to https://github.com/react-community/lottie-react-native/

[2018-07-09 07:52] minudf opened #831 "I want to stay in first frame with no animation"
Hello.
If I call PlayAnimation with RepeatCount 0, animation is working one time.
But I want to stay in first frame with no animation.

ex.) no focus -> stay in first frame with no animation
      focus -> start animation

Please let me know how can I do.
Thank you.

[2018-07-09 09:31] AndroidDeveloperLB commented on #338
@gpeal Link is broken.
Can you please show how it's done in the sample perhaps?
Is it at least possible to set it to load from a file on the file system ? Meaning that I download the json file, and then view it?

[2018-07-09 10:45] georgeyang1024 commented on #772
@gpeal
 i try to remove the full image layer of the gradient,it work!

[2018-07-09 10:55] AndroidDeveloperLB commented on #338
OK never mind. Basic usage can be as such:

        object : Thread() {
            override fun run() {
                super.run()
                val url = "https://www.lottiefiles.com/download/478"
                val streamForUrl = StreamUtil.getInputStreamFromUrl(url)
                val reader = JsonReader(BufferedReader(InputStreamReader(streamForUrl)))
                Handler(Looper.getMa

[2018-07-09 16:12] gpeal commented on #831
Just set the composition and don't call playAnimation.

[2018-07-09 16:12] #831 closed

[2018-07-10 04:03] behnamdarzi commented on #796
hi guys, I have the same error while trying to share a text using the class rakroidsend
what is the reason?

[2018-07-10 07:44] jooleeanh opened #832 "Documentation error - # Play animation segments (methods)"
http://airbnb.io/lottie/android/android.html#play-animation-segments

The current text:

Should be:

[2018-07-10 23:33] samiam2017 opened #833 "Gradient and transparency"
[to_lottie.zip](https://github.com/airbnb/lottie-android/files/2182438/to_lottie.zip)

I'm having an issue with a linear gradient that is going from 0%--->100%----0% opacity. The json plays back correctly on the web demo, but when I play it back on the lottiefiles player on android one side does not go completely to 0% opacity before getting clipped by the shape.

Any help would be appreciated.

[2018-07-11 09:22] tahagit opened #834 "There is lagging on scrolling page when lottie is showing animation"
There is lagging on scrolling page when lottie is showing animation. i'm check all versions of this library but the problem hasn't resolved.

[2018-07-11 18:09] samiam2017 commented on #833
K figured it out. Lottie runs into issues with the placement of opacity markers and color markers in the gradient editor. This doesn't appear to be an issue on the json files when played via the bodymovin web library. just when they are read by the lottie native plugin, only have tested on android so not sure what iOS will reveal.  If you don't have an opacity market at the beginning and end there

[2018-07-12 06:55] gpeal commented on #834
This isn't actionable.

[2018-07-12 06:55] #834 closed

[2018-07-12 06:56] #772 closed

[2018-07-12 09:42] Kevinrob opened #835 "Release 2.5.7 not on Maven"
The last release `2.5.7` is not present on Maven.

https://mvnrepository.com/artifact/com.airbnb.android/lottie

[2018-07-12 11:51] scsfwgy opened #836 "Manifest merger failed"
Before opening a new issue:

minSdkVersion 15
targetSdkVersion 27
compileSdkVersion 27

If this is a bug:

[code]

[2018-07-12 17:46] markstonehouse commented on #832
@gpeal This issue can now be closed as it has been resolved.

[2018-07-13 04:08] gpeal commented on #835
@Kevinrob It's not out yet. Master is always ahead of maven.

[2018-07-13 04:08] #835 closed

[2018-07-13 04:10] gpeal commented on #836
@scsfwgy 2.3.1 is the last version that supported API 14 and 15. Very few apps have minSdk < 16. Most are on 19 or 21, even very large ones.

[2018-07-13 04:10] #836 closed

[2018-07-13 04:10] #832 closed

[2018-07-13 04:10] gpeal commented on #719
@AndroidDeveloperLB No idea. I haven't tried. Do you know?

[2018-07-13 04:47] Kevinrob commented on #835
Okay 👍
I thought that it was a mistake because I see `v.2.5.7` on https://github.com/airbnb/lottie-android/releases

[2018-07-13 07:22] scsfwgy commented on #836
@gpeal  some Multiple dex files define like:

`Multiple dex files define Landroid/support/constraint/solver/widgets/ConstraintWidget$DimensionBehaviour;
`

I try to sovle like this, It‘s still cann't work! :

[code]

thx!

[2018-07-13 14:13] AndroidDeveloperLB commented on #719
Well the docs don't talk about getting a single frame from the animation:
http://airbnb.io/lottie/android/android.html#sample-app
I've also tried to search for "bitmap" in the project, but I don't think any of what I've seen allows to get a single image out of a single frame from the Lottie animation.

So this is why I asked about it...

[2018-07-13 14:14] AndroidDeveloperLB commented on #719
Maybe consider adding an API to get a single Bitmap from a given animation?

[2018-07-13 18:40] gpeal commented on #719
There is a [setFrame](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L843) API.

If the layout preview only renders bitmaps then that will be out of the scope of Lottie. I think the layout preview can actually render a set of Android drawing commands so it may actually be able to just render

[2018-07-13 19:55] AndroidDeveloperLB commented on #719
Even better. You mean I can get a Drawable out of a specific frame of it?

[2018-07-13 20:22] jonathanisaac opened #837 "External image won't load"
Hi, great job with the lottie,

I have a problem with Android, the external image generated by bodymovim is not loading (the animation is loading normally), I've tried some things listed here, without success.

**Note:** Everything works perfectly well with the demo of bodymovim (html + javascript)

I'm working as follows:

[code]

Being my **assets** and **raw** (Android Folder):

[code]

Inside

[2018-07-15 21:35] gpeal commented on #837
@jonathanisaac Can you attach a sample project that repros this?