[2019-03-11 15:33] gpeal opened #1154 "Add getFrame for marker API"

[2019-03-11 18:25] Bigbigann commented on #1147
@gpeal cool thank you really appreciate the help!!

[2019-03-11 19:29] sahujaunpuri opened #1156 "how to add lottie animation programmable"
how to add lottie animation programmable in Android studio ?

any please guide me with example

[2019-03-11 20:28] gpeal commented on #1156
@sahujaunpuri http://airbnb.io/lottie/android/android.html#getting-started

[2019-03-11 20:28] #1156 closed

[2019-03-11 20:48] RhuanPacheco opened #1157 "setFrame not work properly when ListView scrolls"
I have a list view in which each item contains an icon created with lottie. The icon is used to add or remove items from the favorites list. The animation is composed in two halves, the add animation to delete and vice versa. I have added limits in the Frames to make the click animation in both directions. Clicking works correctly. The problem comes when you scroll and return that the icon does no

[2019-03-11 20:54] RhuanPacheco commented on #1157
If I make a print of the value of getFrame just after setFrame, many times the value is incorrect, it also seems random.

`System.out.println(favorite+" - "+itemButton.getFrame());`

The output can be:
[code]

I do not understand why sometimes it does not show the correct frame.

[2019-03-12 02:29] gpeal commented on #1157
@RhuanPacheco Can you try creating the composition manually using LottieCompositionFactory, then set the composition with that object rather than with an asset/resource name?

[2019-03-12 02:29] gpeal commented on #1157
Also, what version of Lottie?

[2019-03-12 03:24] sangsais commented on #1128
Thank you
This problem appears in version 2.2.0
Problem resolution after updating to 2.7.0

[2019-03-12 10:57] RhuanPacheco commented on #1157
I'm sorry, it was my fault. The problem was that I set the minimum and maximum frame when I click and when the scroll changes position making the ListItem content change the previously set frame range it was not valid for the new ListItem content. The solution has been to set the frame range both when clicking and in the getView of the Adapter.

itemButton.pauseAnimation();

if(favorite) {
    ite

[2019-03-12 15:29] #1157 closed

[2019-03-13 03:00] 1wayticket commented on #1080
I have the same usage with you--I have 3 LottieAnimationView loaded at the same time.But I didn't find the reason why crash happend. So can you give more details? Thanks a lot anyway.

[2019-03-13 07:42] caseyryan opened #1158 "Animations don't work with Lottie Forms 2.7.0"
I have installed Lottie Forms 2.7.0 to my Xamarin Forms project but I can't make animations play.
There is no AnimationViewRenderer in lottie's android library, there's no way to use it. Only the iOS version of the renderer is available. When I downgrade the version to 2.5.2.1 the renderer is there and after calling Init() on it, all animations work fine. I tried to reinstall the library twice wit

[2019-03-13 22:17] Bigbigann opened #1159 "Strange shape appears in the last frame of line animation"
Hi the animation I create is a line animation. It works well on IOS however on Android it shows a strange shape when the animation ends on the LAST frame (image attached).

We are currently using v 2.7.0 lottie library and are considering to update to the latest version in the near future. Just wondering if there is a workaround while using the old version of lottie?

![image](https://user-images.

[2019-03-14 10:15] shoushuai opened #1160 "change img color"
How to change the color of the img used,because i use Chameleon

[2019-03-15 13:40] furkanscream opened #1161 "Animation works on the web but does not work on the phone"
Hi, I made an animation using the Puppet Pin Tool with the Duik Bassel plugin, but after searching, I learned that Bodymovin did not support Puppet Pin Tool. I removed the Puppet Pins and used the Arm (or Front leg) Feature in Duik Bassel, I did my animation smoothly and I checked it on LottieFiles. However, my mobile app doesn't appear as it appears on the web.
Where am I making a mistake?

**Jso

[2019-03-15 17:49] gpeal opened #1163 "Add trim \r at the end of marker names."

[2019-03-15 18:14] gpeal commented on #1161
As indicated in the screenshot, Lottie Android doesn't support expressions. Feel free to refer to [supported features](http://airbnb.io/lottie/supported-features.html) for more info.

[2019-03-15 18:14] #1161 closed

[2019-03-15 18:22] gpeal commented on #1160
Use `LottieProperty.COLOR_FILTER` and use a `KeyPath` that targets your image layer.
http://airbnb.io/lottie/android/dynamic.html

[2019-03-15 18:22] #1160 closed

[2019-03-15 18:28] gpeal commented on #1159
This renders fine on Lottie 3.0.0-beta2 😄

[2019-03-15 18:28] #1159 closed

[2019-03-15 18:28] gpeal commented on #1158
You'll have to contact somebody who works on Xamarin about that.

[2019-03-15 18:28] #1158 closed

[2019-03-15 20:04] furkanscream commented on #1161
@gpeal Well, can't any character animation be played with Lottie using Duik Bassel?

[2019-03-16 05:19] caseyryan commented on #1158
Sorry :) Google lead me to the wrong repo

[2019-03-18 05:46] #1154 closed

[2019-03-18 05:53] gpeal commented on #1161
@furkanscream Yes, Lottie has some text support but if you animate it with expressions, the expressions will be ignored.

[2019-03-18 20:27] #1163 closed

[2019-03-18 22:31] mauriciogior opened #1165 "Feature request: add static image preview when in edit mode."
**This is a feature request.** I can work on it myself if a general agreement as useful exists.

Since it's hard to run animations on preview mode inside Android Studio, I'd like to suggest to show a static image of the first frame or a certain frame (using tools to set it) to render when `isInEditMode()` returns true.

What are your thoughts?

[2019-03-19 00:14] gpeal commented on #1165
The Android Studio renderer cannot render Lottie, unfortunately. I tried once and pretty much no animations rendered correctly.

[2019-03-19 00:14] #1165 closed

[2019-03-19 00:28] mauriciogior commented on #1165
@gpeal Did you read my suggestion at all? I'm suggesting to render a specific frame of the animation only, and not the animation itself.

[2019-03-19 23:01] gpeal commented on #1165
@mauriciogior I understand but even individual frames failed to render in most cases. This was about a year ago though so if you want to take another stab at it, feel free 😄

[2019-03-21 07:28] senlinxuefeng commented on #667
i met the same problem using lottie 2.5.1，on 魅族M5 Note
java.lang.RuntimeException: An error occurred while executing doInBackground()
at android.os.AsyncTask$3.done(AsyncTask.java:318)
at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)
at java.util.concurrent.FutureTask.setException(FutureTask.java:223)
at java.util.concurrent.FutureTask.run(FutureTask.java:242)
at java.util.

[2019-03-21 14:43] thierryd opened #1166 "Pausing an animation that was playing when hidden will play again on resume"
This is similar to issue [#987](https://github.com/airbnb/lottie-android/issues/987)

But the [fix](https://github.com/airbnb/lottie-android/pull/1098) proposed is incorrect, at least in my use case. I do think the fix is correct in some case: if the view is set from VISIBLE to GONE, then the animation must stop. But when the app is put in the background, `onVisibilityChanged` is **not** called. W

[2019-03-21 16:20] gpeal commented on #1166
@thierryd I just tried this on master. Can you provide more repro steps? I played an animation in the sample app in the repo on loop then pressed home and `onVisibilityChanged` was called.

[2019-03-21 16:20] gpeal commented on #1166
@thierryd If this is an issue, I'll fix it asap as 3.0 is coming out as soon as later today.

[2019-03-21 18:18] thierryd commented on #1166
@gpeal  I have create a project to replicate the issue:
https://github.com/thierryd/lottieVisibilityBug

I see that `onVisibilityChanged` is called with a value INVISIBLE on my device (api 26) when the app goes into the background. That's strange, as GONE would make more sense...

`onWindowVisibilityChanged` is called with the value INVISIBLE and then GONE.

Furthermore, I think that the [fix ](ht

[2019-03-21 19:22] gpeal commented on #1166
@thierryd I see, good point. Would simply moving the `onVisibilityChanged` logic to `onWindowVisibilityChanged` resolve this?

[2019-03-21 19:27] thierryd commented on #1166
@gpeal I think using `onWindowVisibilityChanged` would be valid! :)

[2019-03-21 20:23] gpeal commented on #1166
@thierryd your app uses 2.8.0. The onVisibilityChanged code was added in 3.0 (beta3 is out now, final is coming very soon). I just verified that it no longer runs in the background just by updating the dependency.

I think your case where you pause a GONE view but that is much less concerning.

[2019-03-22 06:02] ganeshpadhayay opened #1167 "cancelAnimation not working when trying to cancel one animation and starting a new animation on the same LottieAnimationView"
I have a LottieAnimationView

 <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/theme_animation"
            android:layout_width="wrap_content"
            android:layout_height="200dp"
            app:amount="5"
            app:animationDirectionbundle="left"
            app:duration="@android:integer/config_mediumAnimTime"
            app:endColor="@color/light_blue_A400"

[2019-03-22 06:15] ganeshpadhayay commented on #1167
First-time animation works perfectly fine and when I try to play the second animation on the same view, it doesn't run, only a static image from the applied json animation is displayed

[2019-03-22 07:03] #1167 closed

[2019-03-22 11:59] thierryd commented on #1166
@gpeal It is totally normal that the animation is paused when the app is put in the background when 3.0 is used since it contains the [onVisibilityChanged fix](https://github.com/airbnb/lottie-android/pull/1098).

When an app is put in the background, both `onVisibilityChanged` and `onWindowVisibilityChanged` is called.

I have given some more thought and I think you are correct. Ultimately, `onVi

[2019-03-22 11:59] #1166 closed

[2019-03-22 23:03] gpeal commented on #1166
@thierryd I would accept a PR that flips those flags in play/pause/resume/cancel

[2019-03-25 13:00] GeeJoe opened #1168 "onAnimationUpdate run even if the view is invisble when set autoPlay=true"
Recently，I found my app's rendering performance was very poor, After debugging, I found that a Lottie animation was running endless. Finally I found out that an invisible LottieAnimationView was running which was inconsistent with my expectations.

Here is my code

<com.airbnb.lottie.LottieAnimationView
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.an

[2019-03-25 20:32] Riyaz0001 commented on #810
I am already solved this problem: https://stackoverflow.com/questions/50676100/program-type-already-present-android-support-v4-os-resultreceivermyresultrecei/55345901#55345901

[2019-03-26 10:14] sunnnydaydev commented on #696
how do you resolve it ？

[2019-03-26 15:55] gpeal commented on #1168
@GeeJoe This should be fixed with 3.0. Can you upgrade and try again? Feel free to reopen and attach a sample project if that isn't the case.

[2019-03-26 15:55] #1168 closed

[2019-03-26 18:28] ThePixelBug commented on #1055
Are any of these blend modes supported on android lottie? Maybe with the 3.0 release?

AE blend modes
normal;
multiply;
screen;
overlay;
darken;
lighten;
color-dodge;
color-burn;
hard-light;
soft-light;
difference;
exclusion;
hue;
saturation;
color;
luminosity;

[2019-03-26 21:19] gpeal commented on #1055
@ThePixelBug Nope, not yet

[2019-03-26 21:20] gpeal commented on #696
@sunnnydaydev This is not lottie related.

[2019-03-27 07:26] onedreamyyc opened #1169 "Use json animation to report an error"
java.lang.IllegalArgumentException: Key times and values must be the same length [0.0, 0.22923589, 0.6112957, 1.0] vs [124]

Hello author, I don't know why this error occurred, can you explain

[2019-03-27 11:21] UdiOshi85 opened #1170 "Using Deer animation looks bad"
Hi,
I'm trying to use this lottie
https://lottiefiles.com/978-walking-deer

After downloading i'm setting this in XML:
`<com.airbnb.lottie.LottieAnimationView
                    android:id="@+id/lottie_animation"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    app:layout_constraintTop_toTopOf="@+id/title"

[2019-03-27 15:33] gpeal commented on #1169
@onedreamyyc Which version of Lottie and can you attach your aep file?

[2019-03-27 15:34] gpeal commented on #1170
Lottie Android doesn't support expressions.

[2019-03-27 15:34] #1170 closed

[2019-03-28 01:48] onedreamyyc commented on #1169
bgBoard.json  it is my Json file

[2019-03-28 01:48] onedreamyyc commented on #1169
[bgBoard.json](url)

[2019-03-28 03:00] onedreamyyc commented on #1169
[bgAnimation.zip](https://github.com/airbnb/lottie-android/files/3016023/bgAnimation.zip)

Hello author, this is my animation aep file, please help me to see what is wrong, thank you very much

[2019-03-28 15:23] gpeal commented on #1169
@onedreamyyc I just exported and played your animation with the latest bodymovin plugin and Lottie 3.0.
Lottie doesn't support gaussian blue effect though.

[2019-03-28 15:23] #1169 closed

[2019-03-29 01:12] onedreamyyc commented on #1169
Okey, I see  thank you .

[2019-03-29 04:10] OwnLeiX opened #1171 "Version 3.0.0 NullPointerException on some Device"
We updated Lottie Animation Version to 3.0.0, find there is some Exception on some devices.
1.Sansum S7 Android 7.0
2.Nubia X6 Android 4.4.2

And Here's the log.
03-29 11:51:21.659 22169-22169/com.*****.*****E/*******.CaughtExp: java.lang.NullPointerException
        at com.airbnb.lottie.animation.content.BaseStrokeContent.<init>(BaseStrokeContent.java:96)
        at com.airbnb.lottie.animation.co

[2019-03-29 18:07] Aluna145 commented on #950
add this: final lottieVersion = '2.7.0' to the top of your build.gradle

[2019-03-30 16:26] gpeal commented on #1171
@OwnLeiX Can you attach your aep file? Are there any steps to reproduce this?

[2019-03-30 16:28] gpeal commented on #1171
@OwnLeiX Something isn't right from your stack trace. It's not possible to get a NullPointerException on the line in your stack trace
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/animation/content/BaseStrokeContent.java#L96

[2019-04-01 15:21] CmoaToto commented on #1129
Hey!
I have the same problem, my lottie animations are running during my uitests and make them flaky. And as I set all system animation to 0, shouldn't them not be running?
For now, I need to detect that I am in a ui test and not starting the animation but it makes the code ugly and the use of lottie painful :(
Is it planned to support the system animation scale ?

[2019-04-03 14:40] LiLiLiLiSi commented on #1144
thank you~

[2019-04-04 03:51] GeeJoe commented on #1168
yes, It was already the 3.0. version.
I saw that it fixed the problem by override the onVisibilityChanged and pause the animation when the view is invisible.It worked perfectly when I set the view's visibility dynamically later. But when I set android:visibility="gone" in the xml and lottie_autoPlay="true", the animation was still running as soon as the view is inflated.

I think that it may won't

[2019-04-04 07:43] disparate opened #1172 "Create thumbnails for lottie composition."
In my application I have a lot of big lotties (some of them with raster images) that are intended to be shown in fullscreen. I was asked by designer to create a screen with thumbnails of lotties (in recyclerview), but it takes much time for them to render and much memory that leads to a lot of work for GC and frames skipping (sometimes even to OOM).

My question is how can I create bitmap previews

[2019-04-04 21:25] kartik1225 commented on #892
It seems like we are still not able to use `color filters` in `v3.0.0` .
Can you suggest alternative solution? If any !

[2019-04-05 15:30] gpeal opened #1173 "Animation plays with set to gone and autoPlay is set to true"

[2019-04-05 15:30] gpeal commented on #1168
@GeeJoe I've created https://github.com/airbnb/lottie-android/issues/1173 to track that

[2019-04-05 16:26] gpeal commented on #1172
You can just follow normal practices to render a drawable to a bitmap as demonstrated in https://github.com/airbnb/lottie-android/issues/1144

[2019-04-05 16:26] #1172 closed

[2019-04-08 23:35] Bekakk opened #1175 "Animation canceling inside recyclerView"
Hi
I'm using Lottie inside recyclerView.I put my json files inside asset folder.My goal is to play animation and when it finished then start activity.Here is a my source

`if (story.isRead)
            lottieAnimationView.setAnimation("story_archive_gray.json");
        else
            lottieAnimationView.setAnimation("story_archive_blue.json");
        rootView.setOnClickListener(view -> {

[2019-04-09 08:39] gpeal commented on #1175
@Bekakk Where are you setting that from, onCreatetViewHolder or onBindViewHolder?

[2019-04-09 08:40] gpeal commented on #1175
@Bekakk Does it happen when you scroll, and what do you mean by "sometimes"? How frequently, does it seems correlated with anything else?

If you could attach a sample project, that would be great.

[2019-04-09 08:49] nullopp commented on #1175
maybe you can set lottieanimation file in xml，like this `app:lottie_fileName="lottie/talentshow_give_like.json"`

[2019-04-09 08:51] nullopp commented on #1175
I also encountered this ， `  override fun onBindViewHolder(holder: MyViewHolder, position: Int) {
        val moment = momentList[position]

        holder.videoView.prepare(moment.videoUrl)
        if (moment.isOwner()) {
            holder.deleteImageView.visibility = View.VISIBLE
        } else {
            holder.deleteImageView.visibility = View.INVISIBLE
        }
        holder.deleteImage

[2019-04-09 12:36] Bekakk commented on #1175
@gpeal thanks your attention .in onBindViewHolder

[2019-04-09 12:49] Bekakk commented on #1175
@gpeal
https://pastebin.com/QYFjK26p here is a adapter's kotlin version
In item click I starting new activity and when I going back and try to click it again,lottie animation has stoped

[2019-04-09 12:51] Bekakk commented on #1175
@nullopp I also tested this case also,but I got same issue

[2019-04-09 13:05] Bekakk commented on #1175
@gpeal  I'm using 2.7.0 version

[2019-04-09 15:43] Bekakk commented on #1175
I try to update 3.0.0 ,but it's android x version.
My project does not support android X ,unfortunately.
Is a any way to use newest version without android X ?
best regards

[2019-04-09 22:30] joancolmenerodev opened #1177 "Missing values for keyframe"
I'm exporting my animation using BodyMovin and I'm getting this error
[code]

I also have problems when I try to click on "edit layer colors" it doesn't show the animation, what I'm missing?

[2019-04-10 05:58] aadishgoel2013 commented on #1177
This Error keeps on coming
` Process: com.example.lottietry, PID: 16998
    java.lang.IllegalStateException: Missing values for keyframe.
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:16)
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:8)
        at com.airbnb.lottie.animation.

[2019-04-10 08:48] RibinHaridas opened #1178 "inflate exception when using databinding in recyclerview"
2019-04-10 14:20:13.194 12972-12972/com.coookery.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.coookery.android, PID: 12972
    android.view.InflateException: Binary XML file line #56: Binary XML file line #56: Error inflating class <unknown>
    Caused by: android.view.InflateException: Binary XML file line #56: Error inflating class <unknown>
    Caused by: java.lang.reflect.I

[2019-04-10 09:07] meylinb commented on #1177
Same issue here, trying to figure out what is going on. Do you think it might be something with the update? (We still havent updated on Android to the latest lottie version since it requires Android X)

[2019-04-10 09:48] hlk-trkn commented on #1177
Hi I have also same issue today but then I founded this post and solve the problem.Now my animations working on android project.
https://github.com/airbnb/lottie-web/issues/1561
In sum,
bodymovin plugin has updated 5.5 recently so some animations have keyframe value issues. While exporting json from Ae you should have to change advanced export settings to old versions. Or you could update your pla

[2019-04-10 10:25] gpeal commented on #1175
@Bekakk No, you must upgrade to androidx but I suggest that you upgrade since most new libraries will require it. I *think* your issue will be fixed by some combination of that issue plus [this PR](https://github.com/airbnb/lottie-android/pull/1174)

[2019-04-10 10:25] #1175 closed

[2019-04-10 10:27] #1173 closed

[2019-04-10 10:28] gpeal commented on #1178
The root cause is `Caused by: java.io.FileNotFoundException: ic_hearts.json`
It looks like you are missing an animation.

[2019-04-10 10:28] #1178 closed

[2019-04-10 10:30] gpeal commented on #1177
@joancolmenerodev @hlk-trkn @meylinb @aadishgoel2013 that is correct. Lottie 3.0 and Bodymovin 5.5 has some significant json optimizations that will save upwards of 1/3 on the json size and parse speed. However, you must be on 3.0 or enable "export as old format" in bodymovin settings.

[2019-04-10 10:30] #1177 closed

[2019-04-10 15:03] florianPOLARSTEPS commented on #1102
Hi.

We are facing a similar issue currently on Devices running Android <= 8.0 with the lottie 3.0 for Android and Bodymovin plugin 5.5.1.

This is how it is rendered on device
<img width="140" alt="Screenshot 2019-04-10 at 17 01 03" src="https://user-images.githubusercontent.com/21218132/55890081-6054fe80-5bb2-11e9-923b-f609e3b95ca2.png">

The lottie file
[loader.zip](https://github.com/airbnb/lo

[2019-04-10 18:36] twobirabiron opened #1179 "Lottie JSON Animation Crashing"
Guys, I'm using an animation and it's crashing all the time. What could it be?

Process: sb.merchant, PID: 25373
    java.lang.IllegalStateException: Missing values for keyframe.
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:16)
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:8

[2019-04-10 18:40] marcelo15 commented on #1161
Ok, sorry Im new to this. Im having a similar problem.
So can I use Duik to animate characters and create json files for Lottie Android?

[2019-04-11 09:33] florianPOLARSTEPS commented on #1102
Update: I managed to fixed my issue by changing a mask around from
[code]

to
[code]

So there seems to be something wrong with the mask composition on Android 8.0

[2019-04-11 12:28] gpeal commented on #1102
@florianPOLARSTEPS Have you tried on 3.0? There were a ton of improvements to masks in 3.0

[2019-04-11 12:33] gpeal commented on #1179
Duplicate of https://github.com/airbnb/lottie-android/issues/1177

[2019-04-11 12:33] #1179 closed

[2019-04-11 12:33] gpeal commented on #1179
In short: upgrade to 3.0

[2019-04-11 12:44] LucianIacob opened #1180 "Lottie Animation Drawable Renders Incorrectly Inside a Floating Action Button on Android 5"
[loading_animation.zip](https://github.com/airbnb/lottie-android/files/3068603/loading_animation.zip)

I'm trying to set a `**LottieDrawable**` as _image drawable_ for a `FloatingActionButton`. The problem comes when I try to run the code on an Android 5 device: the animation is not centered within the button as it is in Android >= 6. Somehow it is losing padding or margin. Anyone has an answer fo

[2019-04-11 13:26] aadishgoel2013 opened #1181 "Support For Character Animator animations"
# Is there any way to use Character Animator animations inside android with lottie.
I have tried dynamically linking my character animator project to after effects and then to lottie but no success there.

### Only success i got is by
i can do it is by saving all the frames and then running frames by lottie and playing audio in sync by media player but that increases the size by beyond acceptable

[2019-04-11 16:16] luckyde opened #1182 "Text renders right aligned"
Hi there,
I'm trying to render centered text on lottie android and ios, on ios it's fine but on android it right aligns it. What am i doing something wrong? I tried to make the textbox be the full width of the file with no luck.
Also the rounded corners arent respected on android but that's not a big issue i can convert it to a path.
Everything else in the animation renders fine
I can't attach the

[2019-04-11 18:28] twobirabiron commented on #1179
Thanks @gpeal  a lot! I'm gonna upgrade and check it out.

[2019-04-12 02:45] bodymovin commented on #1181
Hi, I'm not sure what the format of character animator is, but as far as I know, it produces a deformation mesh on top of the drawing, which is not supported by the extension or the players unfortunately.

[2019-04-12 08:34] gpeal commented on #1182
@luckyde Have you tried with Lottie 3.0? This should be fixed.

[2019-04-12 08:37] gpeal commented on #1181
Unfortunately, the character animator is unlikely to be supported on Android in the near future, if ever so I'm going to close this for now.

[2019-04-12 08:37] #1181 closed

[2019-04-12 08:38] gpeal commented on #1171
I'm going to close this for now. The stack trace doesn't line up with production code and it hasn't been reported by anybody else yet. Feel free to reopen if you have more info.

[2019-04-12 08:38] #1171 closed

[2019-04-12 08:57] cplus2016 opened #1183 "TextLayer uses incorrect textLineWidth to draw"
Hi, I am trying to debug the TextLayer.java, I find the `textLineWidth` which used to do text justification may be incorrect.  The `textLineWidth` never consider the `documentData.tracking `value.
![image](https://user-images.githubusercontent.com/11784301/56024998-d9d02680-5d43-11e9-8609-8ee893a2bdc9.png)

[2019-04-12 08:59] ganeshpadhayay commented on #174
I am also facing this issue, please mark it open and look into it

[2019-04-12 09:02] ganeshpadhayay commented on #314
Why are you marking these as closed when you haven't posted the solution yet??? how to reset animation view so that a different animation can be played in the same container???? don't mark it closed till it is not closed properly

[2019-04-12 09:20] BoD commented on #1129
After digging more into this, it looks that this commit is the culprit: https://github.com/airbnb/lottie-android/commit/a212bc8d8c5737a46deafb098e273937d77477b9#diff-3fed8fdab23c1f8e4ddab55a92bb30f1

Basically all logic related to disabling the animations depending on the system settings simply seems to have been removed.

[2019-04-12 09:22] florianPOLARSTEPS commented on #1102
@gpeal Yes, we were encountering those issues with 3.0

[2019-04-12 09:22] ganeshpadhayay opened #1184 "playAnimation() is not working when called from onAnimationEnd callback???"
I am trying to run multiple animations in the same Lottie view
I am simply calling playAnimation() on the same view again, and it is internally giving onCancel callback then onEnd callback and from onEnd callback, I am again calling playAnimation with a new json.
Now, In Android version 8, 9, I am able to get the onStart Callback after these events and the second animation starts correctly but in

[2019-04-12 09:47] gpeal commented on #1129
@BoD @CmoaToto I can look in to re-adding this functionality. I would also accept a PR.

[2019-04-12 09:48] gpeal commented on #1183
@cplus2016 Would it be possible for you to make a PR for this?

[2019-04-12 09:53] CmoaToto commented on #1129
I'll work on a PR ;)

[2019-04-12 11:43] harshpatel2810 commented on #371
i'm facing issue with v 2.7.1 in xamarin forms android
in ios its showing perfect but in android its not showing properly its showing at out of screen i mean its showing at right bottom of the screen and also its not showing whole animation image
can any one help me with this ?
Thank You...!!!!
:)

[2019-04-12 14:40] LucianIacob commented on #1180
@gpeal any ideas on this, please?

[2019-04-12 20:50] gpeal commented on #1180
@LucianIacob I haven't seen this before so I'll have to do some debugging. Feel free to do some as well.

[2019-04-13 10:32] gpeal commented on #1182
Indeed, this is fixed in 3.0
![image](https://user-images.githubusercontent.com/1307745/56078431-3d139480-5de8-11e9-968e-58c0f1a9235f.png)

[2019-04-13 10:32] #1182 closed

[2019-04-13 22:52] iamcodder commented on #802
Thanks man.I am using the 3.0.0 version and I'm getting the crash error.I change it version (2.7.0) and worked my app.

[2019-04-15 10:09] mardann commented on #667
We are having a similar problem. Crashlytics is reporting several tens of crashes (amung an audience of 300K). Haven't been able to reproduce.

Lottie v. 2.7.0

Crash demogarphics:
![image](https://user-images.githubusercontent.com/13745861/56123492-38341980-5f7d-11e9-9cc4-be13fec1f543.png)

Lottie file:
[wave_bottom_padding.json.zip](https://github.com/airbnb/lottie-android/files/3079528/wave_bot

[2019-04-15 15:33] moelle89 opened #1185 "Cant control lottie animations via onChangeListeners through fragments of a slide-intro"
Hey,
this might sound like an annoying generic question, but I really tried to get it to work by myself for quite a while. - I am a graphic designer with no java development skills (which makes it really tough for me) . - I hope someone can help me.

**My issue:**
I got a fragment based java "slide-intro" and need to start each lottie animation based on the onChangeListeners of the actual fragment

[2019-04-16 05:29] ganeshpadhayay commented on #1177
How/where to change bodymovin settings in Android?? I can't update to 3.0 due to some other reasons
Please help me in changing bodymovin plugin settings

[2019-04-16 07:44] ganeshpadhayay commented on #1179
Can we somehow catch this exception in our code?? any listener for this???

[2019-04-17 03:06] qianjin1111 opened #1186 "Is there any demo for loading from NetWork by using com.airbnb.lottie.LottieCompositionFactory#fromZipStreamSync or com.airbnb.lottie.LottieCompositionFactory#fromZipStream"
**Read this or your issue will be closed**
* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through Go

[2019-04-17 15:32] CmoaToto commented on #1129
Here is the PR : https://github.com/airbnb/lottie-android/pull/1187 :)

[2019-04-17 18:37] moelle89 commented on #1185
can be closed. - i was able to do it using another app intro lib.

[2019-04-17 18:48] gpeal commented on #1179
@ganeshpadhayay You need to upgrade Lottie or check the setting for compatibility mode in Bodymovin. It will never succeed otherwise.

[2019-04-17 18:56] #1129 closed

[2019-04-17 20:16] #1186 closed

[2019-04-17 20:17] #1185 closed

[2019-04-18 12:56] joblolin95 opened #1188 "Animation Is Different On Android vs Web"
Hello!

I have an animation that loops without error in my Android app, as well as in the Android Lottie App. However, it looks noticeably different on Android than when it loops in the web browser.

[Here](https://lottiefiles.com/share/X40qBe) is the Lottie web preview for the file (note, the JSON file can be downloaded from there). I don't have the AE file readily at hand to provide, unfortunate

[2019-04-23 02:13] apue opened #1189 "Application is Not Responding (ANR)"
1. I am using the lottie 2.7.0 on my android app.
2. it causes ANR on production, about more than 1000 times per day, however I can't reproduce it on my phone.
3. The ANRs happen on from 4.4 to 8.1.0 phones, didn't see 9.0 ANR, however about 96% happens on 8.0
4. The ANR stack trace is typically look like:
[code]
finally, we have 2 lottie json files, I even don't know which of them caused this pro

[2019-04-23 14:14] thibmaek commented on #976
Still a valid issue, seeing this as well

[2019-04-24 02:08] gpeal commented on #1189
@apue Can you try with 3.0? We made some changes that may have mitigated this.

[2019-04-24 02:15] apue commented on #1189
Sure, is there any release notes that I can refer to?

[2019-04-24 06:47] apue commented on #1189
Since I can't migrate my project to androidx due to a lot of reasons, I'll try to fork a lottie 3.0.0 release and modify the code for android support package. It would be meaningless to keep this issue here, I'll close it. Thanks for your support!

[2019-04-24 06:47] #1189 closed

[2019-04-24 12:34] thirtyyuan opened #1191 "Repeated stripe on LottieAnimationView when it is full screen"
#### Device ####
Huawei P20 (Only)

#### Version ####
Android 9, EMUI 9.0.0

#### How About My Case ####
I use a LottieAnimationView which is full screen, and I only load it but did not play it, so, it's look like a image as a background. But I found and only found it's generate some repeated stripe on Huawei P20. and I does' not find this appearance on other device. If you have any idea, please t

[2019-04-24 15:42] gpeal commented on #1189
@apue https://github.com/airbnb/lottie-android/blob/master/CHANGELOG.md

[2019-04-24 15:43] gpeal commented on #1191
@thirtyyuan Try setting the renderMode to SOFTWARE

[2019-04-25 07:32] jhwsx opened #1192 "Can version3.0.0 work with android library?"
I do not use androidx, how can I use version 3.0.0?

[2019-04-25 10:00] MegBasutkar05 commented on #284
LottieComposition.Factory.fromAssetFileName is deprecated now

[2019-04-25 12:35] yigewo opened #1193 "LottieAnimationView setProgress not working for Lottie 2.7.0"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-04-25 12:38] yigewo commented on #1193
This is my code:

    fun updateLottView(isLike: Boolean, anim: Boolean = false) {
              mBottomLikeImg.setAnimation("anim.json")
            if (anim && isLike) {
                mBottomLikeImg.playAnimation()
            } else {
                mBottomLikeImg.progress = (if (isLike) 1 else 0).toFloat()
                mBottomLikeImg.cancelAnimation()
            }
        }
    }

[2019-04-25 15:51] gpeal commented on #284
@MegBasutkar05 The APIs have moved to `LottieCompositionFactory`

[2019-04-25 15:52] gpeal commented on #1192
@jhwsx You must upgrade to androidx. It is strongly recommended to do it anyway since many new libraries will start requiring it.

[2019-04-25 15:52] #1192 closed

[2019-04-25 15:52] gpeal commented on #1193
@yigewo Can you try again on 3.0 and reopen with a sample project if it is still an issue?

[2019-04-25 15:52] #1193 closed

[2019-04-25 16:18] iagorm commented on #802
This solution for me didin't worked, still receiving error on build `LottieAnimationView.CacheStrategy cacheStrategy`

[2019-04-26 08:30] WinKawaks opened #1194 "How to use LottieDrawable with View or Canvas?"
I tried use LottieDrawable without ImageView like this, but it doesn't work.

[code]

[2019-04-26 15:28] gpeal commented on #802
@iamcodder Can you attach a sample project that reproduces this?
@iagorm You'll have to post on lottie-react-native if this is a RN library issue. Otherwise, can you attach an Android sample project that reproduces this?

[2019-04-26 15:30] gpeal commented on #1194
@WinKawaks Set `mLottieDrawable.setCallback(this)` which will enable the drawable to notify the view when it has a new frame to render.
You also don't need to call `invalidate()` in `onDraw()`, `invalidate()` results in a draw call being made subsequently.

[2019-04-26 15:30] #1194 closed

[2019-04-27 08:55] jhwsx opened #1195 "why lottie exception doesn't point to my own code that invoked lottie anim?"
I have used lottie anim in my app vastly, but the problem that I faced is a lot of OOMs, which is very   frustrating.
The log collected by google vitals or U-App is the following:
[code]
In fact, I have read the log carefully, but I cannot find any line of my own code, which makes it diffult for me to pinpoint the root cause.

[2019-04-27 09:21] jhwsx commented on #1192
I am afraid that androix library is not stable.

[2019-04-27 10:38] Fatimamostafa opened #1196 "Using animation in dynamic position programmatically"
I want to programmatically change animation position in button click listeners. Any way to achieve that?

[2019-04-28 00:46] thirtyyuan commented on #1191
I'll try that, thx!

[2019-04-28 12:59] WinKawaks commented on #799
You can use LottieDrawable like this.

`

@Override
    public void invalidateDrawable(@NonNull Drawable drawable) {
        super.invalidateDrawable(mLottieDrawable);
        invalidate();
    }

    @Override
    public void draw(Canvas canvas) {
        super.draw(canvas);
        canvas.save();
        canvas.translate(100, 100);
        mLottieDrawable.draw(canvas);
        canvas.restore();

[2019-04-28 16:52] vinnusaurus commented on #1177
can someone convert this json to old format and post here ? [https://lottiefiles.com/5737-lock-and-unlock](url)

[2019-04-29 02:51] Airsaid opened #1197 "How do I get the position and size within the specified frame range?"
I'm now splitting the Lottie animation into a few paragraphs (through the start and end frames), each of which has no connection to the previous animation (and eventually forms a complete image). How do I get the exact location and size of the graphics in each animation?

[2019-04-29 19:55] gpeal commented on #1192
@jhwsx That's not true

[2019-04-29 19:56] gpeal commented on #1177
@vinnusaurus I recommend that you upgrade Lottie instead. There is no tool to do the backwards conversion.

[2019-04-30 00:47] pmecho opened #1199 "SIGSEGV on Android 7.0 with Lottie 3.0.1"
We saw a huge uptick in crashes after updating to `3.0.1`. I'm not 100% on the particular animation and will update when I find out what it is. This crashes primarily on 7.0 and I can reproduce using a 7.0 emulator. Rolling back to `2.8.0` fixes the issue.

Stacktrace:
[code]

[2019-04-30 18:20] gpeal commented on #1197
@Airsaid You can use dynamic properties. Their callback will give you the runtime value on each frame.
http://airbnb.io/lottie/#/android?id=dynamic-properties

[2019-04-30 18:20] #1197 closed

[2019-04-30 18:21] gpeal commented on #1195
@jhwsx Do your lottie animations have images?

[2019-04-30 18:21] gpeal commented on #1196
http://airbnb.io/lottie/#/android?id=dynamic-properties

[2019-04-30 18:21] #1196 closed

[2019-04-30 19:08] vinnusaurus commented on #1177
i am using xamarin, no luck

[2019-04-30 19:10] podarsmarty commented on #1199
Might be related to this guy https://stackoverflow.com/questions/19614526/android-crash-system-lib-libhwui-so

[2019-05-01 00:51] gpeal commented on #1199
@pmecho Can you attach a project that reproduces this?

[2019-05-03 12:00] DrKLO commented on #1199
I have the same issue on 7.0 when drawing drawable with this animation directly on canvas.

[chats_archive.zip](https://github.com/airbnb/lottie-android/files/3141743/chats_archive.zip)

[2019-05-03 12:01] mmakmw opened #1200 "Image asset size ignored, no scaling"
When using image assets in an animation, the _image size_ defined in the .json is _ignored_. The image is _not scaled_ to the defined width and height. It's displayed exactly as big as the image asset is.

In my example, the animation is `100x100` and the image asset is `100x100 px`. If I use an image asset with `200x200 px` (for a better resolution), only a part of the image is visible since it i

[2019-05-03 18:51] geoff-davis-smule opened #1201 "Possible impact on app startup time?"
Hey there,

I’m currently trying to integrate the Lottie SDK into my company's mobile apps. We have a pretty strict process in place for vetting third-party SDKs before we add them. One of these steps involves testing our app’s startup time both before and after integrating an SDK. (In our case, “startup” refers to a point where the OS has launched the app, plus we’ve done a fair amount of startup

[2019-05-05 03:17] jhwsx commented on #1195
yes，they do.

[2019-05-05 03:18] jhwsx commented on #1195
But I do not think that whether they have images is the point of this issue.

[2019-05-05 08:35] malinkang opened #1202 "App crash on android 6.0.1"
My Code

[code]

My log

[code]

[2019-05-05 13:41] thirtyyuan commented on #1191
Can I use `mLottieView.useHardwareAcceleration(false)` to replace `setRenderMode()` when version below 3.0.0? I find the `setRenderMode()` is added in 3.0.0, and the source code almost same with each other.

[2019-05-06 08:03] utkarshGithub commented on #777
404 on link

[2019-05-06 14:29] utkarshGithub commented on #291
please in detail how to use it

[2019-05-06 14:49] gpeal commented on #1195
@jhwsx It is because your app ran out of memory trying to allocate space for the images in your animations. How many images do you have and how large are they? Can you attach a zip with your animation?

[2019-05-06 14:49] gpeal commented on #1191
@thirtyyuan correct. I recommend upgrading to 3.0 though.

[2019-05-06 14:50] gpeal commented on #291
@utkarshGithub http://airbnb.io/lottie/#/android?id=performance

[2019-05-06 14:50] gpeal commented on #777
@utkarshGithub http://airbnb.io/lottie/#/android?id=performance

[2019-05-06 14:50] gpeal commented on #291
@utkarshGithub http://airbnb.io/lottie/#/android?id=looping plus you can read the documentation for each of the functions in Android Studio.

[2019-05-06 14:51] gpeal commented on #1201
@geoff-davis-smule Lottie doesn't run any code that you don't explicitly call. Are you trying to run an animation on app startup?

[2019-05-06 14:52] gpeal commented on #1202
@malinkang Are you sure this is from Lottie? There is no Lottie code in your stack trace?

[2019-05-06 15:09] thirtyyuan commented on #1191
OK, but I can't repeat this problem again, even use the device which I find the problem. If I find it again, I'll try. Maybe this issue could be close temporarily.
--
Sent from myMail for Android Monday, 06 May 2019, 10:50PM +08:00 from Gabriel Peal  notifications@github.com :

[2019-05-07 01:40] jhwsx commented on #1195
I choose three of them, which have more images:
- [sweep.zip](https://github.com/airbnb/lottie-android/files/3150418/sweep.zip)
- [notification.zip](https://github.com/airbnb/lottie-android/files/3150416/notification.zip)
- [battery.zip](https://github.com/airbnb/lottie-android/files/3150413/battery.zip)

Could you please help me detect something abnormal?

[2019-05-07 03:26] chongbo2013 opened #1203 "Why not apply for opengles rendering, hope later support"
Why not apply for opengles rendering, hope later support？

[2019-05-07 04:46] gpeal commented on #1203
@chongbo2013 Lottie supports hardware acceleration (which is what I assume you are referring to). It is actually on by default when appropriate on 8.0 and higher. However, you can set it manually with `setRenderMode`

[2019-05-07 04:46] #1203 closed

[2019-05-07 05:02] tantan89 opened #1204 "LottieView located wrong position when using setX,setY API"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-05-07 05:23] chongbo2013 opened #1205 "How to extend the blur effect that makes lottie support ae"
How to extend the blur effect that makes lottie support ae？
thank you.

[2019-05-07 06:53] cooliceman opened #1206 "Mulltiple LottieAnimationView with different image folder can't work at same time"
Scene:I have 4 LottieAnimationView in the same view. and they show four different lottie zip files. each zip contains it's own images folder and images.

If I let the views play again every 5 seconds(all of my lottie animations are less than 5 seconds), app will crash because of exception "You must set an images folder before loading an image. Set it with LottieComposition#setImagesFolder or Lotti

[2019-05-07 16:50] DrKLO commented on #1199
The problem is not in animation itself, there is a bug with canvas.clipRect

`
canvas.clipRect(tx, 0, getMeasuredWidth(), getMeasuredHeight());
translationDrawable.draw(canvas);
`

if clipRect intersects with drawable, it will crash on Android 7.0

[2019-05-08 01:31] martinez8859 opened #1207 "Frame is not at min frame when backward animation ends"
When an animation is run with a negative speed and reaches the min frame thus ending the animation the frame value is then being set to the max frame value without consideration of whether the animation was being played backward. This does not reflect that actual displayed frame which is the min frame.

Looks like a check for animation direction probably needs to be added to LottieValueAnimator.ja

[2019-05-08 14:41] kritikalST commented on #291
Hello @gpeal, I was more into how to chain animations like indefinitely play a set of animations, I saw in other responses that animation listener is used to accomplish this but wanted to confirm is there's another approach.

[2019-05-08 19:32] kartik1225 opened #1208 "TextDelegate is not rendering properly on below android pie devices"
I am having a strange issue when I delegate the text in this JSON file it changes the text just fine in android pie devices.

_In android pie devices_
![in pie](https://user-images.githubusercontent.com/21341192/57400174-893bd400-71f0-11e9-8ab2-3b34bb88e325.jpg)

But when I tested the same thing in lower than android pie devices text does not render at all!

_In oreo and below devices_
![in below

[2019-05-09 03:04] cooliceman commented on #1206
@gpeal You can use this demo project
https://github.com/cooliceman/LottieIssue.git

[2019-05-09 08:40] 1wayticket commented on #1089
We have the same problem with you. We have three LottieAnimationView in the same Xml. So can you tell me have you found the solution? Whatever,Thank you very much.

[2019-05-09 10:11] SubhanAli94 opened #1209 "Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.10 and higher."
While building lottie-android I am facing following error:

ERROR: The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.10 and higher.
The following dependencies do not satisfy the required version:
root project 'lottie-android' -> org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.0

[2019-05-10 01:03] gpeal commented on #291
@kritikalST That's your best bet

[2019-05-10 02:01] gpeal commented on #1206
I was able to reproduce this in your project. However, after migrating to androidx and upgrading to 3.0.1, it went away.

[2019-05-10 02:01] #1206 closed

[2019-05-10 02:04] gpeal commented on #1209
@SubhanAli94 I think you had local changes and must have changed the Android Gradle Plugin version locally. Master builds fine.

[2019-05-10 02:04] #1209 closed

[2019-05-10 10:29] yanbinbin commented on #989
yeah, on vivo 8.1.0

[2019-05-10 13:21] thirtyyuan commented on #1191
I have got this problem again, even if I added `useHardwareAcceleration(false)` to mLottieAnimationView.

[2019-05-10 16:05] gpeal commented on #989
@yanbinbin Does it only happen on that device?

[2019-05-10 16:06] gpeal commented on #1191
@thirtyyuan Can you attach a screenshot? Can you also try 3.0. That API has been replaced with `setRenderMode`

[2019-05-10 16:06] #1201 closed

[2019-05-10 16:57] geoff-davis-smule commented on #1201
Thanks for confirming. We are still investigating on our end. The issue might well be with our startup time testing procedures.

I swung by to close this ticket, but it looks like you beat me to the punch by an hour.

[2019-05-11 00:58] pagrawal1407 commented on #337
@gpeal I am seeing the same issue when I am trying to play several Lottie animations on the same Dialog screen (Each Lottie file is ~100KB).

PS: Above link of "documentation here" is not working anymore. It gives a 404 not found.

[2019-05-11 18:11] MonikaJethani commented on #1180
@LucianIacob @gpeal Is this still open? Can I work on this?

[2019-05-12 02:20] gpeal commented on #337
@pagrawal1407 http://airbnb.io/lottie/#/android?id=performance
Make sure you're on 3.0 and try hardware acceleration (setRenderMode)

[2019-05-12 02:20] gpeal commented on #1180
@MonikaJethani You are welcome to take a look

[2019-05-13 08:41] AndroidDeveloperLB commented on #253
How can I set the color to a specific part of the animation?

[2019-05-13 12:10] thirtyyuan commented on #1191
Here is a new screenshot about this issue, which is happened just now.
I really want to upgrade to 3.0, but I can't, cause our project have some dependencies still use low version `android.support` rather than `androidx`. I will try to upgrade to `androidx`.
![new_screenshot](https://user-images.githubusercontent.com/16081968/57620159-83f8d380-75ba-11e9-9ef1-3312e8dc0e1b.png)

[2019-05-13 20:22] sorotokin opened #1211 "LottieDrawable.setAlpha does not invalidateSelf"
LottieDrawable simply does this.alpha = alpha. BitmapDrawable does invalidateSelf when alpha changes. I think Lottie should do the same.

[2019-05-13 22:56] gpeal commented on #253
@AndroidDeveloperLB With a `KeyPath`

[2019-05-13 22:57] gpeal commented on #1191
@thirtyyuan It is _highly_ recommended to upgrade. Androidx alone is worth the upgrade. It is stable and all new improvements and security fixes will be done there.

[2019-05-13 23:14] AndroidDeveloperLB commented on #253
@gpeal Can you please provide a sample for this?

[2019-05-14 00:14] thirtyyuan commented on #1191
@gpeal OK，I'm already upgrade androidx for this issue, hope it won't happen ;) Can I ask some another question? Does the whole upgrade just need **Refector**  -> **Migrate to androidx** and add new proguard-rules? How to test or prove the upgrade is truly perfect done?

[2019-05-14 18:04] pagrawal1407 commented on #337
Thanks @gpeal for your help. I tried playing with hardware acceleration but didn't get much success. But my requirement didn't mandate all the animations to play at the same time, so I solved the issue by turning of autoplay animations. So, I didn't dive too deep into it.
I had another question. If I am downloading the json lottie file from network as a string, can I directly set it into the setAn

[2019-05-14 20:42] slimshader commented on #667
Just encountered this too after updating animation. It worked with first one but fails with new one, main difference is the size 8kb (is ok) vs 17kb (exception)

[2019-05-15 02:25] yanbinbin commented on #989
No,  not only this device.

[2019-05-15 03:03] hbzhzw opened #1212 "NullPointerException"
may be huawei device error, but if we can do something to avoid it ....

java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
at android.view.HwNsdImpl.checkAdBlock(HwNsdImpl.java:750)
at android.view.View.skipInvalidate(View.java:12713)
at android.view.View.invalidateInternal(View.java:12800)
at android.view.View.invalidate

[2019-05-15 11:33] 1wayticket commented on #1206
Can you share your tips about reproduce this problem. Thank  a lot.

[2019-05-15 11:43] chenjianping99 opened #1213 "NetworkFetcher:121 NullPointerException"
Caused by: java.lang.NullPointerException
        at com.airbnb.lottie.network.NetworkFetcher.fetchFromNetworkInternal(NetworkFetcher.java:121)
        at com.airbnb.lottie.network.NetworkFetcher.fetchFromNetwork(NetworkFetcher.java:93)
        at com.airbnb.lottie.network.NetworkFetcher.fetchSync(NetworkFetcher.java:62)
        at com.airbnb.lottie.network.NetworkFetcher$1.call(NetworkFetcher.jav

[2019-05-15 11:45] chenjianping99 commented on #1213
switch (connection.getContentType())    <--------------debug find this line, connection.getContentType() is null

[2019-05-15 13:56] diogojg commented on #1193
I'm setting progress to 1.0 and it does not work after onViewCreated() on version 3.0.1.
I have also tried in the XML.,

[2019-05-15 15:24] gpeal commented on #253
@AndroidDeveloperLB https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/kotlin/com/airbnb/lottie/samples/DynamicActivity.kt

[2019-05-15 15:25] gpeal commented on #1191
@thirtyyuan https://developer.android.com/jetpack/androidx/migrate

[2019-05-15 15:26] gpeal commented on #1191
I'll close this for now. Reopen it with a sample project and animation that can reproduce it if it does. If not, I won't be able to debug it myself.

[2019-05-15 15:26] #1191 closed

[2019-05-15 15:26] gpeal commented on #989
@yanbinbin Are there any patterns to the devices (specific manufacturers, OS versions, etc)?

[2019-05-15 15:28] gpeal commented on #337
@pagrawal1407 Nope! It'll be much slower if you do that. Lottie uses a json streaming parser so it works off of the raw string and is much, much faster than parsing the entire thing ahead of time.

[2019-05-15 18:16] tsuharesu commented on #870
I had the same _problem_ and what happens is that `Button` have elevation on API 21+. To overcome this, you have to set `android:elevation="Xdp"` on your `com.airbnb.lottie.LottieAnimationView`

Src: https://stackoverflow.com/a/28980908/1981356

[2019-05-15 19:47] boduan402 opened #1214 "Lottie 3.0.1 is incompatible with Robolectric test"
With Lottie 2.2.x, the unit test back by Robolectric works well with Lottie animation. But in 3.0.1, it starts to fail some test cases due to timeout(). Below is the root cause analysis:

The animation does be played for both version 2.2.x and 3.0.1 at unit test since the system animation scale is 1.0 instead of 0. And the way the LottieAnimation works in unit test is to cooperate with [ShadowLega

[2019-05-15 20:18] boduan402 opened #1216 "Animation is still played when attached even pause() is called."
When a LottieAnimationView is [attached](https://github.com/airbnb/lottie-android/blob/3004a3b9b6f6b9039ba2af68c640129f7b0bca2a/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L260) to window, it always play the animation even pause() is called before.

Below is how to reproduce the bug:
- set a LottieAnimationView to autoplay=true in layout.xml
- In activity's onCreate() callback,

[2019-05-15 21:24] #1214 closed

[2019-05-15 22:02] AndroidDeveloperLB commented on #253
@gpeal Thank you. I've actually found this too:
https://github.com/SolveSoul/lottie-android-colorfilter-sample

[2019-05-16 03:26] wanghaofei opened #1218 "The last part of the white screen, no animated pictures"
I use version 2.7.0, designed for JSON resource files, IOS can play normally, Android can not, play to the last part, white screen, what is the reason, the latest version 3.0.1, can you make a low version that does not support androdx? Thank you

[2019-05-16 03:38] lovechenghao commented on #1218
why Cannot repeat？

[2019-05-16 15:09] gpeal commented on #1218
@wanghaofei I recommend upgrading your app to androidx for many reasons, not just for Lottie.
https://developer.android.com/jetpack/androidx/migrate

[2019-05-16 15:10] #1093 closed

[2019-05-16 15:10] #1058 closed

[2019-05-16 15:12] #1140 closed

[2019-05-17 06:04] alla-dubovska opened #1219 "java.net.SocketException: Socket is closed"
Get `java.net.SocketException: Socket is closed` exception when trying to set animation via `setAnimationFromUrl()`.

[2019-05-17 08:42] scottruigrok commented on #710
How did you make the files used in After Effects? I also had this problem when I used files exported from Experience Design. I recreated them in Illustrator and now the phone wont crash when using  Lottie Preview.

The animation also couldn't be used in Xcode, but after using Illustrator for the screens it did work.

[2019-05-17 08:55] todo-fixme opened #1220 "3.0.3 - NullPointerException @ Samsung SM-G930f (Android 7.0，API 24)"
device:Samsung SM-G930f (Android 7.0，API 24)
lottie:3.0.2
The problem occurs in the constructor of BaseStrokeContent.java
Like this:widthAnimation = width.createAnimation();
The width is null

--------------------------------------------
[22.zip](https://github.com/airbnb/lottie-android/files/3190662/22.zip)

![image](https://user-images.githubusercontent.com/48200410/57915606-b446b780-78c3-11e9-8

[2019-05-17 08:57] todo-fixme commented on #1212
try turning off hardware acceleration

[2019-05-18 23:48] gpeal commented on #1219
@alla-dubovska Can you provide more information? This isn't enough for me to action on.

[2019-05-18 23:50] gpeal commented on #1220
@todo-fixme Ar eyou sure you are on 3.0.2? That line of code doesn't match the actual source
https://github.com/airbnb/lottie-android/blob/v3.0.2/lottie/src/main/java/com/airbnb/lottie/animation/content/BaseStrokeContent.java#L69

[2019-05-18 23:51] gpeal commented on #1218
Feel free to reopen with the animation attached if it is an issue with 3.0.2.

[2019-05-18 23:51] #1218 closed

[2019-05-19 22:58] gpeal commented on #1211
Fixed by https://github.com/airbnb/lottie-android/commit/9e8d64081e941f5fc29a31c0a9e1088bfa8a3197

[2019-05-19 22:58] #1211 closed

[2019-05-19 23:14] gpeal commented on #1212
[Here](https://github.com/SivanLiu/HwFrameWorkSource/blob/master/P9_8_0_0/src/main/java/android/view/HwNsdImpl.java#L54) is the closest thing I can find to the Huawei source and fixing that would be totally out of Lottie's control. Hopefully this was just a one time occurrence.

[2019-05-19 23:14] #1212 closed

[2019-05-19 23:14] #1202 closed

[2019-05-19 23:33] gpeal commented on #1199
@pmecho @DrKLO Can you provide more details or provide a sample project that reproduces this?

[2019-05-19 23:34] #1219 closed

[2019-05-19 23:34] #1207 closed

[2019-05-20 01:11] gpeal opened #1224 "Android 7.0 can't render 2 add masks on the same layer with hardware acceleration"
<img width="537" alt="Screen Shot 2019-05-19 at 6 10 26 PM" src="https://user-images.githubusercontent.com/1307745/57991101-767f9580-7a61-11e9-911e-5ec7e172fa58.png">
[2Masks.zip](https://github.com/airbnb/lottie-android/files/3195913/2Masks.zip)

[2019-05-20 01:11] gpeal commented on #1102
@Mennattu Your issue was fixed by #1142 so upgrading to 3.0.2 or the soon to be released 3.0.3 will fix it.

@florianPOLARSTEPS I can see your issue and I would either split the mask into separate layers or turn off hardware acceleration with `setRenderMode`. I've opened #1224 to track that.

[2019-05-20 01:11] #1102 closed

[2019-05-20 03:54] pmecho commented on #1199
@gpeal Sorry for the delay on this. I'll work on getting a sample project tomorrow. I think I know the specific asset that causes this.

[2019-05-20 04:02] #1213 closed

[2019-05-20 04:03] #1200 closed

[2019-05-20 06:58] todo-fixme commented on #1220
@gpeal YES! I reformat code ,That line of code doesn't match the actual source
I debug the code , i found that as i say
-----------------------
The problem occurs in the constructor of BaseStrokeContent.java
Like this:widthAnimation = width.createAnimation();
The width is NULL

[2019-05-20 15:57] gpeal commented on #1220
@todo-fixme What do you mean you reformatted the code? Aren't you using the published artifact? can you make a sample project that reproduces this?

[2019-05-20 16:03] Karennnnn opened #1226 "Having issue with run lottie animation on android, with source text trying to change numbers, it just invisible, thanks for attention,"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-05-21 01:33] #1226 closed

[2019-05-21 10:00] StuStirling commented on #1188
I have had something similar just now. Updating to the latest version of Lottie resolved this for me.

[2019-05-21 11:55] xiexuesong opened #1228 "lottie cant play animation"
lottieAnimationView.setImageAssetsFolder("images2/");
            LottieComposition.Factory.fromAssetFileName(this, "images2/config.json", new OnCompositionLoadedListener() {
                @Override
                public void onCompositionLoaded(final LottieComposition composition) {
                    lottieAnimationView.setComposition(composition);
                    lottieAnimationView.pla

[2019-05-21 16:10] gpeal commented on #1228
Feel free to reopen with a sample project but this isnt't enough to debug with.
You can also try `setComposition("images2/config.json")` instead of using a composition factory.

[2019-05-21 16:10] #1228 closed

[2019-05-22 02:03] chenjianping99 opened #1229 "NullPointerException at com.airbnb.lottie.animation.content.BaseStrokeContent.<init>(BaseStrokeContent.java:65)"
2019-05-22 09:58:29.812 5178-5178/com.vip.lightartdemo E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.vip.lightartdemo, PID: 5178
    java.lang.NullPointerException: Attempt to invoke virtual method 'com.airbnb.lottie.animation.keyframe.BaseKeyframeAnimation com.airbnb.lottie.model.animatable.AnimatableFloatValue.createAnimation()' on a null object reference
        at com.airbnb.lottie.

[2019-05-22 04:39] todo-fixme commented on #1220
@gpeal **tody,update code to v3.0.3**

![image](https://user-images.githubusercontent.com/48200410/58147631-10c42100-7c8e-11e9-9215-1d3f1d90e7c9.png)

**the debug info is shown in the screenshot**

![image](https://user-images.githubusercontent.com/48200410/58147698-55e85300-7c8e-11e9-84dc-23a6d5ec8576.png)

https://github.com/airbnb/lottie-android/blob/v3.0.3/lottie/src/main/java/com/airbnb/lotti

[2019-05-22 05:32] todo-fixme commented on #1229
@chenjianping99 try json as String，not  JSONObject

[2019-05-22 10:27] moshun-design opened #1230 "White flicker mid animation."
I'm experiencing white flash frames mid animation, this is not due to a loop and as far as I can see this is not an issue with my AE project.  I Found another thread on this issue but there was no answer due to lack of AEP.

I've stripped my animation down to something basic so I know there are no unsupported effects etc but I'm still encountering the issue on some but not all browsers. Mozilla pl

[2019-05-22 10:51] digitalbuddha commented on #1230
Looks like your issue is related to Lottie web rather than android. Please file an issue there
https://github.com/airbnb/lottie-web

[2019-05-22 13:44] todo-fixme commented on #1220
@gpeal

I change the call api , from "setAnimationFromJson(String jsonString)" to “setAnimation(JSONObject json)” in the LottieAnimationView.java

i don't know why,but it's work.

i guess something wrong when JSONObject  to String by the JsonReader

[2019-05-22 13:44] #1220 closed

[2019-05-23 06:22] todo-fixme commented on #1199
I have the same issue on 7.0 by Lottie 3.0.3

lottie json files link：https://github.com/airbnb/lottie-android/files/3190662/22.zip

@gpeal

[2019-05-24 03:42] gpeal commented on #1199
@pmecho @todo-fixme neither of these crash on my 7.0 emulator. Any tips to repro it?

[2019-05-24 03:54] pmecho commented on #1199
@gpeal I found the Lottie asset but I am unsure if I can post publicly due to copyright restrictions. Can I send it via email or another non-public way?

[2019-05-24 03:57] gpeal commented on #1184
@ganeshpadhayay I wasn't able to reproduce this on a 7.0 device.
This code worked with and without setting a new animation.
[code]

If you think this is still an issue with the latest code (3.0.3), can you reopen this with a sample project?

[2019-05-24 03:57] #1184 closed

[2019-05-24 03:57] digitalbuddha commented on #1199
If you have private repos, putting it in a private repo and giving @gpeal access to the repo would be a safe way to exchange it without either of you having to publicly post your e-mail

[2019-05-24 04:01] gpeal commented on #989
@yanbinbin @zhangxy1219 @sixiangjun Are you still seeing this? The line number doesn't match up for the 8.1.0 source code in View.java line 17991.

[2019-05-24 04:02] gpeal commented on #1199
@pmecho I second this ^. Share a private repro with me and I'll take a look.

[2019-05-24 04:27] pmecho commented on #1199
What a great idea! Created one and added you @gpeal

[2019-05-24 06:01] qianjin1111 commented on #1175
+1

[2019-05-24 06:34] kartik1225 commented on #1208
The rendering is perfectly fine with software rendering.
It can be enabled like this `animationView.setRenderMode(RenderMode.SOFTWARE);` and all masked Text or Layer will render perfectly.

[2019-05-24 11:43] rovkinmax opened #1231 "Problem with color filter"
I have dynamically changing color filter like this:

[code]

variable `simpleColorFilter` changes when viewpager scrolling.
On version lottie 2.7.0 all were okay, but after update to 3.0.3 I have delay with updating color filter like on [this video](https://take.ms/c5VU4) or [this](https://take.ms/I0Qk4). (square area around animations)

Variable `simpleColorFilter` should has the same color as sc

[2019-05-24 13:10] gturedi commented on #802
same for s9 android9

[2019-05-24 14:18] gpeal commented on #1231
@rovkinmax I haven't had a chance to look at the animation yet but is your dynamic property on a mask or matte?

[2019-05-24 15:14] rovkinmax commented on #1231
@gpeal I don't understand your question

[2019-05-24 21:55] pagrawal1407 commented on #862
@gpeal Hello! I used the LottieCompositionFactory.fromUrl() method to download Lottie animations from network and they are working fine. Thanks for providing that use case. But I need to download 20-30 Lottie compositions from server, so I was wondering if there is a way to batch those network requests and pre-download the Lottie Compositions (Json) from server and then use them wherever required?

[2019-05-25 02:48] gpeal commented on #1231
@rovkinmax What specific property in the animation are you trying to change the color of? Using `"**", "w", "**"` makes it hard to narrow down exactly what you're trying to do.

[2019-05-25 07:46] dpmaycry commented on #1177
"export as old format" solved my problem due to androidx reason cannot upgrade to 3.0

[2019-05-25 16:21] gpeal commented on #1199
@pmecho I got the animation. However, it pays fine on my 7.0 emulator. How were you able to repro it?

[2019-05-25 17:32] gpeal commented on #862
@pagrawal1407 Yes, just call `LottieCompositionFactory.fromUrl()` whenever you want to start preloading them. Internally, Lottie will join that task if it is in-flight and also cache the composition in a LruCache so it will be available immediately if called again after it finishes.

[2019-05-25 18:21] pmecho commented on #1199
@gpeal The first time it displays and animates fine but when I navigate to another fragment (or activity, I'd have to check) and then return to the original fragment it will crash when the animation happens again. I'll add a gif to that project this evening that illustrates the crash in our app. I'll also try to put together a sample project that reproduces it based on how our code is set up. I'm

[2019-05-26 19:51] gpeal commented on #1199
@pmecho Hmm, I'm trying to repro with the Lottie Sample app and navigated back to MainActivity with it animating, came back and it worked fine. If you could repro with the LottieSample app, that would be ideal.

[2019-05-26 20:04] kartik1225 opened #1233 "setFontAssetDelegate not working after animation is loaded"
I am using `v3.0.3` and I was trying to change the typeface via setFontAssetDelegate.

[code]
From above method I am trying to change the typeface and it is working fine for the first time *(When the compostion is not loaded)*.

But when I try to change the typeface again *(after the composition is loaded)* fonts are not changing from the animation.

**Things that I have already tried:**
* `animat

[2019-05-27 00:32] gpeal commented on #1233
@kartik1225 Lottie will cache (memoize) the call to fetch the font. If it didn't and somebody had `Typeface.createFromAsset` in their FontAssetDelegate, it would cause performance to be terrible since it would recreate the typeface on every frame. I recommend having your original animation use multiple font families so the delegate gets re-queried.

[2019-05-27 02:50] pangzhaolong opened #1235 "How to solve OOM problem?"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-05-27 02:51] pangzhaolong commented on #1235
Fatal Exception: java.lang.OutOfMemoryError
       at android.graphics.BitmapFactory.nativeDecodeAsset(BitmapFactory.java)
       at android.graphics.BitmapFactory.decodeStream(BitmapFactory.java:594)
       at com.airbnb.lottie.manager.ImageAssetManager.bitmapForId(ImageAssetManager.java:115)
       at com.airbnb.lottie.LottieDrawable.getImageAsset(LottieDrawable.java:839)
       at com.airbnb.lo

[2019-05-27 05:40] keehoo opened #1236 "Android 9 playAnimation() doesn't trigger animation"
Hi,

I'm having issue with 'com.airbnb.android:lottie:3.0.2'.

I explicitly call `playAnimation()` and it seems like it randomly do not play the animation.
I've had an animation start at button click (same) then without, simply called `playAnimation()`  in `onResume` - result is the same.

I load the animation from the assets in XML.

In the same `Activity` I also use MotionLayout (beta) which pla

[2019-05-27 06:58] gpeal commented on #1235
@pangzhaolong Lottie works best when your animation is all vectors. Try and convert any After Effects image layers to shape layers and reduce images as much as possible. Ideally, you'll have 0 images.

[2019-05-27 06:58] #1235 closed

[2019-05-27 06:59] gpeal commented on #1236
@keehoo Can you create a sample project that reproduces this?

[2019-05-27 07:01] keehoo commented on #1236
Sure, just need to remove proprietary assets, not sure if I'll find a suitable Lottie animation to replace the current one...

[2019-05-27 07:43] keehoo commented on #1236
@gpeal Please check this repo : https://github.com/keehoo/LottieTests

I get this randomly. When I click play the animation don't start. If you get it right try to kill the app and restart it. I didn't get this behavior on ConstraintLayout.. Tried on emulator and on device.

[2019-05-27 09:40] kartik1225 commented on #1233
Thanks, @gpeal.
Is there any way to clear all cache from the `LottieAnimatoinView`?  or Force re-render the whole animation with the delegated font.

I tried to clear cache from `LottieCompositionCache.getInstance().clear();` this method but this class is private.

p.s. *I am trying to create an app where a user can export mp4 animations. And I want to add the feature where the user can select the

[2019-05-27 10:32] rovkinmax commented on #1231
@gpeal I asked our designer gave name `b` and `w` for layers. In this animation are two different colors for layers.

[2019-05-28 02:27] pangzhaolong commented on #1235
Thanks. I will let the UI desinger know about this.

[2019-05-28 06:14] pmecho commented on #1199
@gpeal I was able to repro on the sample app. I uploaded a patch file to apply to the `v3.0.1` tag to that private repo as it contains the asset. Reproduction steps are in the commit comment but for ease they are:
1. Launch sample app (with patch applied to `v3.0.1` tag)
2. Open Lottiefiles tab
3. Crash may occur
4. If no crash, tap learn tab
5. Tap off the share dialog to close
6. Tap Lottiefiles

[2019-05-28 08:08] denis-bezrukov commented on #1236
@keehoo Can you try to reproduce the issue on the latest version? (3.0.3)

[2019-05-28 10:22] keehoo commented on #1236
@denis-bezrukov Updated to (3.0.3) - looks like the issue is gone :) Gimme 15 minutes, will be checking some more.

[2019-05-28 13:25] zishanj commented on #388
I am still facing alignment issue with lottie 3.0.1

[code]
result:

![image](https://user-images.githubusercontent.com/1451292/58481264-7e33ee00-8175-11e9-981c-b4f3fdcdb7e7.png)

I have tried with `centerCrop` also but there is no effect on alignment. The complete text is _you have taken one step ahead_, but it get cropped due to misalignment. On web it appears perfectly, even if I minimize the b

[2019-05-28 13:50] tzmst opened #1237 "Animations are blurry in 3.0+"
So i wanted to update the lottie from current 2.7.0 i have to 3.0.3, but the animations are blurry, like the anti aliasing is turned off, or some issues with scaling. Did something got changed and i need to activate some settings ? Tried different 3.0+ versions

3.0+
![Screen Shot 2019-05-28 at 4 47 14 PM](https://user-images.githubusercontent.com/3909335/58483253-a23d0280-8168-11e9-9c2a-34b9a7df3

[2019-05-28 13:51] zishanj opened #1238 "text alignment issue"
I am still facing alignment issue with lottie 3.0.1

[code]
result:

![image](https://user-images.githubusercontent.com/1451292/58483035-fd76f100-8178-11e9-99d6-8f78e78e677a.png)

I have tried with `centerCrop` also but there is no effect on alignment. The complete text is _you have taken one step ahead_, but it get cropped due to misalignment. On web it appears perfectly, even if I resize the bro

[2019-05-28 23:30] Gusfavoreto opened #1239 "Android Studio Color shift"
MacOs
Safari Version 12.1.1
After Effects 16.1.1

I am doing some simple animations to load on Android. But when I load the JSON file on Android Studio the color are changed, Blue turns red, green turns yellow, red stay red. But is I load on LottieFile website works, and I try to change color there, some elements doesn't change its colors. Originally the design is with gradient, but its not loadin

[2019-05-28 23:53] gpeal commented on #1237
@tzmst Which version of Android? Try turning hardware acceleration off (with setRenderMode)

[2019-05-28 23:55] gpeal commented on #1239
@Gusfavoreto My guess is that it has something to do with that emulator. It looks fine on my Pixel 3 for what it's worth. Can you try it on a physical device?

[2019-05-28 23:56] gpeal commented on #1238
@zishanj Can you attach your animation?

[2019-05-29 00:03] Gusfavoreto commented on #1239
Hey @gpeal,I will try!

Thank you,
Gus

[2019-05-29 01:23] thirtyyuan opened #1240 "Reload LottieComposition will flash (3.0.3)"
#### Device Info: OnePlus 5T, Android 9.0

I try to upgrade from 2.7.0 to 3.0.3, but I got a "flash" when I reload LottieComposition to a LottieAnimationView, which doesn't appear in 2.7.0.

Here are my [sample code](https://github.com/thirtyyuan/LottieTest). It will be load and show LottieCompostition in `onStart()` at first time, and reload and show again when you click the `Start` button. Now,

[2019-05-29 07:55] zishanj commented on #1238
I have it on [LottieFiles](https://lottiefiles.com/share/dQobDq)

[2019-05-29 08:34] tzmst commented on #1237
@gpeal Awesome!! That hit the spot and fixed it thanks a bunch

[2019-05-29 08:34] #1237 closed

[2019-05-29 09:45] #1236 closed

[2019-05-29 10:42] mohamed-azikiou commented on #667
I know that this is a weird question but have you putted the json in assets folder and set the build action to androidasset? I had the same error and fixed it by setting the build action to androidasset.
Thnx

[2019-05-29 16:21] Gusfavoreto commented on #1239
I couldn't find a device to try. There is any solution to fix the emulator or the son file?

Thanks,
Gus

[2019-05-29 18:49] Gusfavoreto commented on #1239
Hey @gpeal how did you load in your physical device? I connected via USB and load from Android Studio and I am having the same issue. Did you sent the son file to device?
Sorry the dummy question, but I have no idea.

Thanks,
Gus

[2019-05-30 04:01] zxc120301945 opened #1241 "Abnormal stop of lottie animation"
Switch the fragment in the activity, then switch the fragment through the viewpager in the fragment. At this time, execute the lottie animation in one of the fragments, then switch the fragment through the activity, then jump to another activity, and then return to the previous activity. Then switch to the fragment that is executing the lottie animation, at this point the lottie animation stops.
V

[2019-05-30 10:36] kenrube opened #1242 "Bug: PerfomanceTracker#removeFrameListener not works"
Because method [adds listener again](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/PerformanceTracker.java#L67) instead of removing it. Copy-paste in action :)

[2019-05-30 16:00] kcoppock opened #1243 "Regression: Animation does not play when playAnimation() called in RecyclerView onBindViewHolder"
When setting an animation from a `RecyclerView.Adapter`'s `onBindViewHolder()` method, the animation will never play. This is a regression from 3.0.0 to 3.0.1, and I believe is caused by commit a483b7695e.

Essentially, when `onBindViewHolder()` is first called, the view is not attached to the window yet. With this change, the animation will not start but will set the `wasAnimatingWhenNotShown` fl

[2019-05-30 16:10] g-coppock commented on #1243
A workaround is to either set `lottie_autoPlay` in XML, if possible, or the following:

[code]

[2019-05-30 16:10] kcoppock commented on #1243
A workaround is to either set `lottie_autoPlay` in XML, if possible, or the following:

[code]

[2019-05-30 17:34] gpeal commented on #1243
@kcoppock Thanks for the repro steps. Looking into it now.

[2019-05-30 17:44] gpeal commented on #1243
@kcoppock Hmm, in both your sample project and and the code snipped you provided, the animation plays on launch which is the expected behavior right?

[2019-05-30 17:47] gpeal commented on #1243
@kcoppock That being said, upon first glance, it looks like the correct version of
[code]
would be
[code]

That would ensure that the attr only takes effect once and `wasAnimatingWhenDetached` will always have an effect.

[2019-05-30 17:47] gpeal commented on #1239
@Gusfavoreto Yes, I loaded it onto a physical device and it looked exactly like lottiefiles

[2019-05-30 18:00] kcoppock commented on #1243
Ah sorry about that, this seems like it may be partially platform-specific. I can easily repro with an API 21 emulator, but not with an API 28 Pixel 3. However, even with the Pixel 3 you can reproduce the issue if you add a bunch of items the adapter. For example, change the `listOf("lottie.json")` to `(0 until 100).map { "lottie.json" }`.

Scroll up just until one of the views goes offscreen and

[2019-05-30 18:28] Gusfavoreto commented on #1239
@gpeal How did you load? I have the file on the physical device but I just find app to read the son, not to load the animation. And when I send from Android Studio to preview in the device, the colors is still wrong.
How did you load the file? use an app or something?

Thanks,
Gus

[2019-05-30 18:55] gpeal commented on #1199
@pmecho Thanks for the info. I'm able to reproduce this now which is _extremely_ helpful!

So far, disabling hardware acceleration with `setRenderMode` fixes it which should help in the short term. It's also related to mattes and scaling. It renders fine with a large scale (~1000%) but if I scale it down, with `setScale` it crashes.

@DrKLO Can you also just disable hardware acceleration on 7.0 fo

[2019-05-30 19:16] gpeal commented on #1243
@kcoppock Alright, I can repro it and it seems to be happening because onVisibilityChanged isn't called on older API levels.... I'm going to look into ways to get around this

[2019-05-30 19:23] gpeal commented on #1237
@tzmst You can also set a fixed size on the view and use `setScale` to scale up the animation to fill it. As is, on older versions of Android, you couldn't scale a hardware accelerated canvas without pixelation. However, if you use setScale, it'll scale the shapes instead of the canvas.

[2019-05-30 19:25] kcoppock commented on #1243
Great, thanks! Let me know if I can help. This looks relevant:

https://stackoverflow.com/questions/53237535/os-version-4-4-kitkat-and-5-lollipop-onvisibilitychanged-listener-not-firing

[2019-05-30 19:32] gpeal commented on #1243
@kcoppock Yup, that looks spot on!

[2019-05-30 20:17] gpeal commented on #1240
@thirtyyuan For now, set `view.frame = 0` before each `setComposition` and that'll fix it but I'll look in to this

[2019-05-30 20:20] #1243 closed

[2019-05-30 20:20] #1242 closed

[2019-05-30 20:57] #667 closed

[2019-05-30 21:35] gpeal commented on #1241
I think this PR will fix it. Please try 3.0.4

[2019-05-30 21:35] #1241 closed

[2019-05-30 23:54] gpeal commented on #1199
@pmecho alright, I was able to fix it thanks to your repro _and_ it improved performance of that animation by almost 20% as a result!
https://github.com/airbnb/lottie-android/pull/1246

[2019-05-31 00:13] pmecho commented on #1199
Woot! Thanks for the fix and super bonus performance increase!

[2019-05-31 00:19] #1199 closed

[2019-05-31 03:02] zxc120301945 commented on #1241
OK

[2019-05-31 06:06] zishanj commented on #1238
Any update on this issue?

[2019-05-31 06:14] gpeal commented on #1238
@zishanj probably not for a few weeks. If you'd like to debug it, I would be happy to accept a pull request.

[2019-05-31 06:15] gpeal commented on #1231
@rovkinmax Could you attach an aep file (as a zip file) that I can repro this with?

[2019-05-31 06:15] gpeal commented on #1239
@Gusfavoreto Try downloading the Lottie app from the Play store and scan the qr code when you're previewing it on lottiefiles

[2019-05-31 06:16] gpeal commented on #1241
@zxc120301945 3.0.5 now

[2019-05-31 10:26] iostyle opened #1247 "When I turn off the screen and light up again. It doesn't work in list."
When I turn off the screen and light up again. It doesn't work in list.
Latest Lottie Version.
On any of my phones.
![recored](https://user-images.githubusercontent.com/22219146/58699946-648ee280-83d1-11e9-8df6-3f5c1948b25f.gif)

[2019-05-31 11:37] YBill opened #1248 "setProgress(1f) didn't work"
##### Lottie Version：2.7.0
##### Android Version：Android 8.0.0
##### targetSdkVersion：28

##### First click on handleSetImage to set a picture for lottie，Then click on handleSetProgress to set the lottie animation，Then call mLottie.setProgress(1f). setProgress(1f) not effective.

##### code show as below：

[code]
[code]

[2019-05-31 16:04] gpeal commented on #1248
@YBill Please upgrade to Lottie 3.0.5

[2019-05-31 16:05] gpeal commented on #1248
If you aren't on androidx, I recommend upgrading, but if you can't there is 3.0.3-support

[2019-05-31 16:05] gpeal commented on #1247
@iostyle Please try 3.0.5. There were a few fixes

[2019-05-31 16:06] gpeal commented on #1247
If this still happens in 3.0.5, feel free to reopen but please include a sample project that repros it.

[2019-06-01 02:09] jhwsx commented on #1195
Thank you.

[2019-06-01 02:17] thirtyyuan commented on #1240
Thx, it's  don't flash again, and I'm trying to repeat the problem which `match_degree_title` won't show again, I will close this issue until I find some new problems.

[2019-06-01 02:17] #1240 closed

[2019-06-02 14:40] gpeal commented on #1216
This issue regressed in 3.0.5

[2019-06-03 02:09] YBill commented on #1248
@gpeal Thank you for your answer, My project didn't on androidx, solved my problem with 3.0.3-support.

[2019-06-03 02:09] #1248 closed

[2019-06-03 02:32] iostyle commented on #1247
@gpeal still happens in 3.0.5

[2019-06-03 09:34] rovkinmax commented on #1231
@gpeal can I send aep files as private message. I would not want to share on the Internet source

[2019-06-03 10:35] #1216 closed

[2019-06-03 10:46] gpeal commented on #1247
@iostyle I just published 3.0.6 which fixed another visibility bug. Could you try that?

[2019-06-03 10:46] gpeal commented on #1231
@rovkinmax You can create a private GitHub repository and share it with me.

[2019-06-03 15:03] jannisveerkamp opened #1250 "setProgress does not interpolate between frames"
Lottie on Android doesn't interpolate between two Frames when using the `setProgress(..)` method. It just "rounds" to the next full frame (e.g. different progress values lead to the same frame shown). [setProgress](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L680) does this rounding:
[code]

The iOS however seem to interpolate bet

[2019-06-04 06:59] iostyle commented on #1247
I'm sorry to tell you that the issus is still there

[2019-06-05 03:01] iostyle commented on #1247
@gpeal  Which version did you support lifecycle

[2019-06-05 09:40] chongbo2013 opened #1251 "please support PorterDuff ADD MULTIPLY and so on"
[lottie.zip](https://github.com/airbnb/lottie-android/files/3256531/lottie.zip)
I use the AE above to use the image for ADD operation, invalid effect

I know that android supports PorterDuff ADD request to implement the ADD mode of its picture.

[2019-06-05 14:51] mmakmw commented on #1200
@gpeal Thanks for the fix.

- Now, the images do get scaled to the size defined in JSON.
- However, this produces the same result as if one would use an image of that size initially.

The desired result would be to have a higher image quality for displays with high dpi. Right now, the resulting image is always of the same low quality no matter of the source image size (quality).

Is there any way

[2019-06-06 12:22] shizhongyu opened #1252 "com.airbnb.lottie.model.content.ShapeData.getInitialPoint()' on a null object reference"
![image](https://user-images.githubusercontent.com/13025541/59032428-d87d2f00-8898-11e9-9029-339bdbbbbfbe.png)

[2019-06-06 13:50] Moes81 commented on #1188
It didn't for me. I have different colors in Web and in Android. To whom can I provide the screenshots, `.aep` and `.json`? I'd rather do it by email, since it's an unreleased product.

[2019-06-07 09:01] henryqwe opened #1253 "Cropped LottieAnimationView"
After updating lottie to version >= 3.0.0 some of the lottie views are cropped (on attached image right and bottom side of icon are cut) . Problem occurs only on real devices

Lottie file:
https://lottiefiles.com/share/SJ9ZBF

[code]
<img width="170" alt="Screenshot 2019-06-07 at 10 57 13" src="https://user-images.githubusercontent.com/19953164/59092993-26cf1400-8913-11e9-8ea4-e630d4db75ab.png">
<

[2019-06-07 11:27] nangonghuang commented on #1180
have you set fab size in xml ? maybe you can try
[code]
instead of set layout_width and layout_height

[2019-06-07 11:36] nangonghuang opened #1254 "a json file cannot animate right in android 4.4"
this file : [json file ](https://assets10.lottiefiles.com/packages/lf20_XSoY95.json)   cannot annimation right on one android 4.4 device of mine ,

i have tried the lottie app to scan QRcode or load from url,it works fine on my android 8.0 device,and still can't work on 4.4 。

and where can i find the android version support messages of lottie,or the api document file ?
on [lottie website](http://

[2019-06-08 09:00] methelas commented on #1250
I'm having the exact same issue. It would be great if setProgress could interpolate between frames on Android too.
Unfortunately the solution from SO doesn't work for me so I'm stuck with a bit rough animation :/

[2019-06-09 07:27] qiongtony opened #1255 "Why does memory grow every time you play Gif?"
I used a json file as gif.Whenever I play Gif, memory will grow even if I don't do anything.
I want to know how to avoid this problem as it will be frequent to let jvm call gc.

[2019-06-09 23:54] PolarNemo commented on #1177
just update? someone had examples? :(

[2019-06-10 06:24] moelle89 commented on #1231
@rovkinmax , it looks really like a masking issue like @gpeal already mentioned. Based on the attached videos it shouldnt be even related to the colorfilter as its always the background of a certain "icon" that glitches. Did u maybe forgot to get rid of some invisible canvas layers on your vector shape elements? If the icons/illustrations dont use any background, it shouldnt glitch nor be influenc

[2019-06-10 07:05] Shivamgarg1528 opened #1256 "crash in Lottie on Nougat for Lenovo devices"
Getting below crash on Android-Nougat for Lenovo devices only

Fatal Exception: java.lang.IllegalStateException: Unable to parse composition
       at com.airbnb.lottie.LottieAnimationView$2.onResult(LottieAnimationView.java:68)
       at com.airbnb.lottie.LottieAnimationView$2.onResult(LottieAnimationView.java:66)
       at com.airbnb.lottie.LottieTask.notifyFailureListeners(LottieTask.java:167)

[2019-06-10 07:36] chenyan-github opened #1257 "指定LottieAnimationView的宽高不能自动适配json的尺寸"
1. 我的json文件中的w,h的宽高为68, 68.
2. LottieAnimationView layout_width和layout_height都指定为50dp时，动画显示正常；但当我都设置为30dp时，则动画显示不正常，动画中的位移就会超过控件的边界。
3. 按文档中所说的，json文件中宽高单位相当于是dp，为什么我缩小控件的宽高时，json中的位移比例没有自动做缩放适配？

[2019-06-10 09:15] rocifier commented on #833
@gpeal I have a similar issue. I'd like to take your advice to use color stops with opacity set on them but Ae 2019 only seems to support separate stops for color and opacity. Ie, you can't set the opacity of a colour, just RGB or HSL for it. Typing an extra 2 digits in hex just gets truncated. Can you please clarify what you meant by your supported solution?

[2019-06-10 09:56] rocifier commented on #833
After a long time of playing around with this stuff, I found the above solution to pretty much work as well. I can also align the percentages of the colors with the percentages of the opacity stops and it works. But.. here's the kicker I needed to do to support multiple shapes with gradients:

**All gradient fills on shapes need to be named uniquely.** That's right.. by default mine were called "G

[2019-06-10 14:03] gpeal commented on #1200
@mmakmw You can use a BitmapAssetDelegate like [this](http://airbnb.io/lottie/#/android?id=providing-your-own-images)

[2019-06-10 15:58] gpeal commented on #1257
You can use `android:scaleType="centerInside"`

[2019-06-10 15:58] #1257 closed

[2019-06-10 15:59] gpeal commented on #1256
@Shivamgarg1528 Upgrade to 3.0.6. The entire JsonReader has been replaced.

[2019-06-10 15:59] #1256 closed

[2019-06-10 16:00] gpeal commented on #1255
Lottie doesn't play gifs. On the latest version (3.0.6), it also does no allocations during runtime.

[2019-06-10 16:00] #1255 closed

[2019-06-10 16:00] gpeal commented on #1254
@nangonghuang Try `setRenderMode(RenderMode.SOFTWARE)`

[2019-06-10 16:00] #1254 closed

[2019-06-10 16:01] gpeal commented on #1253
@henryqwe set the scaleType attr to `centerInside` or whatever is most appropriate for your situation.

[2019-06-10 16:03] gpeal commented on #1252
@shizhongyu Please attach your animation and any repro steps.

[2019-06-10 16:05] gpeal commented on #1251
@chongbo2013 Can you attach the AEP file?

[2019-06-10 16:09] gpeal commented on #1251
I'm not sure I understand exactly what you are asking for. What is the after effects features you need?

[2019-06-10 16:11] gpeal commented on #1250
Seems reasonable. I'd accept a PR or I'll try and get around to this soon.

[2019-06-11 03:33] shizhongyu commented on #1252
[sleep (2).txt](https://github.com/airbnb/lottie-android/files/3274662/sleep.2.txt)

[2019-06-11 03:35] shizhongyu commented on #1252
@gpeal

[2019-06-11 06:48] henryqwe commented on #1253
@gpeal I tried different scaleType and nothing happened, icons are still cropped

[2019-06-11 11:25] gpeal commented on #989
Closing this due to inactivity and because it hasn't been verified to happen on 3.0+. Feel free to reopen with more information and repro steps.

[2019-06-11 11:25] #989 closed

[2019-06-11 13:39] grandstaish commented on #1252
We're getting a very similar error:
[code]

[2019-06-12 02:28] MrEricChen opened #1258 "OutOfMemoryError"
**Reporting an error as soon as it is opened**

log:
java.lang.OutOfMemoryError: Failed to allocate a 12582924 byte allocation with 306820 free bytes and 299KB until OOM
        at dalvik.system.VMRuntime.newNonMovableArray(Native Method)
        at android.graphics.BitmapFactory.nativeDecodeAsset(Native Method)
        at android.graphics.BitmapFactory.decodeStream(BitmapFactory.java:609)

[2019-06-12 02:44] chongbo2013 opened #1259 "This simple mask made with ae, but on android, it shows an error"
This simple mask made with ae, but on android, it shows an error, ask for help, thanks
Aep file in the zip file, thanks
[ae项目.zip](https://github.com/airbnb/lottie-android/files/3279344/ae.zip)

[2019-06-12 04:17] gpeal commented on #1258
It looks like your app happened to run out of memory when allocating a Bitmap for Lottie but it is highly unlikely that Lottie is the root cause as it does very few allocations, especially in 3.0+.

[2019-06-12 04:17] #1258 closed

[2019-06-12 05:03] MrEricChen commented on #1258
Got it.
Thanks

[2019-06-12 09:36] chenyan-github commented on #1257
我试过设置为centerinside依然不行

[2019-06-12 09:37] chenyan-github opened #1260 "> You can use `android:scaleType="centerInside"`"
我试过设置为centerinside依然不行

_Originally posted by @chenyan-github in https://github.com/airbnb/lottie-android/issues/1257#issuecomment-501197030_

[2019-06-12 14:34] gpeal commented on #1260
Please attach a sample project that repros this.

[2019-06-12 14:34] gpeal commented on #1260
@chenyan-github

[2019-06-12 16:30] gpeal commented on #1252
@shizhongyu @grandstaish Have you upgraded to Lottie 3.0+ (3.0.6 is the latest)?
@shizhongyu Your animation renders fine for me.
@grandstaish The second one is https://github.com/airbnb/lottie-android/issues/1177 and the others might be related.

[2019-06-12 20:55] gpeal commented on #1188
@Moes81 Does your animation use any unsupported features (such as expressions)?
http://airbnb.io/lottie/#/supported-features

[2019-06-12 20:57] gpeal commented on #1253
@henryqwe Can you attach a sample project that reproduces this?

[2019-06-13 01:57] zjfandroid opened #1262 "ConcurrentModificationException in the newest version (3.0.1)"
# main(1)
java.util.ConcurrentModificationException

1 java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java:757)
2 java.util.LinkedHashMap$LinkedKeyIterator.next(LinkedHashMap.java:780)
3 java.util.AbstractCollection.finishToArray(AbstractCollection.java:232)
4 java.util.AbstractCollection.toArray(AbstractCollection.java:143)
5 java.util.ArrayList.<init>(ArrayList.java:191)
6 com

[2019-06-13 02:26] chenyan-github commented on #1260
ok, my test demo project already upload to github respository: https://github.com/chenyan-github/LottieDemo,  you can download it and run. now only ImageView sizes(68dp and 100dp) can play right on Android. The same json can play right on IOS platform, so I can't understand.

[2019-06-13 02:27] chongbo2013 commented on #1259
hello...

[2019-06-13 02:33] chenyan-github commented on #1260
@gpeal This is my demo url: https://github.com/chenyan-github/LottieDemo

[2019-06-13 06:27] Moes81 commented on #1188
@gpeal Thank's for checking. Our designer told me, she went through the list, and can confirm she only used supported features. Any chance I can get a second opinion for the `.aep` file from you guys?

[2019-06-13 10:02] #1262 closed

[2019-06-13 11:41] nangonghuang commented on #1254
`setRenderMode`  makes no different .
on my android 4.4 device,it looks like this,and don't show animation, lottie sample app can't load from it's QR code()
<img width="116" alt="android 4 4" src="https://user-images.githubusercontent.com/13362002/59429254-f5be7a00-8e11-11e9-8821-d04567c52d48.png">

on Nexus6p 8.1, it looks like this, with some stokes,but don't kown what's the problem. lottie samp

[2019-06-13 12:54] henryqwe commented on #1253
@gpeal here you are

[lottietest.zip](https://github.com/airbnb/lottie-android/files/3286099/lottietest.zip)

[2019-06-13 15:09] grandstaish commented on #1252
Updating lottie fixed the issue 🙈 Thanks @gpeal!

[2019-06-13 17:13] gpeal commented on #1252
@shizhongyu I'm going to close this because upgrading will likely fix this for you too.

[2019-06-13 17:13] #1252 closed

[2019-06-13 19:51] gpeal commented on #1253
@henryqwe hmm, the circles render completely for me (I modified the json so it's just the circle).
![image](https://user-images.githubusercontent.com/1307745/59463074-f509f180-8dd9-11e9-9d9c-dd7055112224.png)

Any other way to reproduce?

[2019-06-13 21:15] gpeal commented on #1188
@Moes81 Can you create a private repository with the aep and share it with me?

[2019-06-13 21:23] #1250 closed

[2019-06-13 21:28] gpeal commented on #1254
@nangonghuang It turns out that the renderMode attr was ignored and that's what caused your spinner to not render on old devices. However, there is a bug on KitKat where the mask renders artifacts on a software rendered canvas so I'm looking in to that.

[2019-06-14 06:36] henryqwe commented on #1253
@gpeal Could you test it on real device?

Sony Xperia XA1 Android 8.0.0
![cropped](https://user-images.githubusercontent.com/19953164/59488210-3accc580-8e7f-11e9-898a-31acbacd02ee.png)

Htc u11 Android 8.0.0
![Screenshot_20190614-082411](https://user-images.githubusercontent.com/19953164/59488258-5df77500-8e7f-11e9-8379-dd0c5e13e8bf.png)

[2019-06-14 07:21] qiongtony opened #1267 "Why is the setting mode to loop and still allocate memory?"
My app needs animation looping, but it's very inefficient, because memory is always allocated during loop playback, resulting in frequent memory recycling.
There is no difference in setting the effect of different strategies.
![Result of the application running in the android studio profile detection.](https://user-images.githubusercontent.com/14202091/59490637-ccf0c000-8eb7-11e9-8c59-2dc0fad9c957

[2019-06-14 07:24] qiongtony commented on #1267
This is the zip file for my lottie file.
[lottie_file_name.zip](https://github.com/airbnb/lottie-android/files/3289480/lottie_file_name.zip)

[2019-06-14 07:26] yangjingbo opened #1268 "held lock"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-06-14 07:26] #1268 closed

[2019-06-14 07:28] yangjingbo opened #1269 "ANR held mutexes= "mutator lock"(shared held)"
I use api "com.airbnb.android:lottie:2.5.1", to run monkey, then ANR hapens

----- pid 5621 at 2019-05-31 04:52:41 -----
"main" prio=5 tid=1 Runnable
  | group="main" sCount=0 dsCount=0 flags=0 obj=0x780d6c18 self=0x7c99814c00
  | sysTid=5621 nice=-10 cgrp=default sched=0/0 handle=0x7d1f7f2548
  | state=R schedstat=( 9410665350249 249412674861 1715843 ) utm=914978 stm=26088 core=6 HZ=100
  | stack

[2019-06-14 11:46] Moes81 commented on #1188
@gpeal I invited you to the private repo. Did you receive the invite?
The `.aep` file is in the root folder `vui_animation.aep`. The exported json is located in the `/raw` folder.
If you start the app, you see three animations. Those are 3 different "segments" within the same json. The color of the bottom animation segment is correct.

Thank you very much in advance, for taking a look.

[2019-06-14 19:02] gpeal commented on #1253
@henryqwe Could you attach the aep as well?

[2019-06-16 09:21] AndroidDeveloperLB opened #1270 "How to use with JsonReader?"
On v3.0.3 , I could use this:

            val reader = android.util.JsonReader(BufferedReader(InputStreamReader(FileInputStream(File(filePath)))))
            animationView.setAnimation(reader, null)

But when I've recently updated to 3.0.6 , it says I need to use `com.airbnb.lottie.parser.moshi.JsonReader` instead.

It doesn't seem like the normal JsonReader , and I can't pass it what I've passe

[2019-06-16 14:57] karip commented on #798
I think I have found the reason for this issue. The [BaseStrokeContent.java](https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/animation/content/BaseStrokeContent.java) multiplies dash pattern values by parentMatrix scale, but it doesn't multiply the dash offset value.

Changing [these lines](https://github.com/airbnb/lottie-android/blob/47fc0dc23d9088bd3c

[2019-06-17 04:01] gpeal commented on #1270
@AndroidDeveloperLB Hmm, this was an unintended consequence of us switching out the underlying JsonReader for performance and to fix some OEM specific crashes. I'll expose the InputStream version then you can do `setAnimation(FileInputStream(...))`

[2019-06-17 04:02] gpeal commented on #1269
@yangjingbo Can you run this with 3.0.6? Lottie doesn't have any mutexes

[2019-06-17 04:03] gpeal commented on #1267
@qiongtony What version of Lottie and can you attach your lottie animation, not a gif?

[2019-06-17 05:16] axitasavani opened #1271 "how to set Dynamic Text in Json ?"
i have a new user to used the Lottie library in Android.
So Can you please Tell me Hoe to used Text Delegate and Add Custom Text, Fonts, Color Etc?

[2019-06-17 07:38] jannisveerkamp commented on #1250
Awesome - that was fast 👍

[2019-06-17 09:15] AndroidDeveloperLB commented on #1270
What is the best way to handle the InputStream ? Is this currently possible ?
Does it close it automatically, or do I have to close it myself?

[2019-06-17 10:44] henryqwe commented on #1253
@gpeal https://www.dropbox.com/s/bmu1gkubr1bo0f6/reallydontlike.aep?dl=0

[2019-06-17 10:56] axitasavani opened #1272 "Is that any way to change Text Color in Json ?"
lottieAnimationView.addValueCallback(
                        new KeyPath("**"),
                        LottieProperty.COLOR_FILTER,
                        new SimpleLottieValueCallback<ColorFilter>() {
                            @Override
                            public ColorFilter getValue(LottieFrameInfo<ColorFilter> frameInfo) {
                                return new PorterDuffColorF

[2019-06-17 10:56] #1271 closed

[2019-06-17 10:57] axitasavani commented on #1271
Using TextDelegate my issue is resolved.

[2019-06-17 16:58] gpeal commented on #1272
Use COLOR not COLOR_FILTER
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/model/layer/TextLayer.java#L414

[2019-06-17 16:58] #1272 closed

[2019-06-17 16:59] gpeal commented on #1270
You can use `LottieCompisitionFactory.fromInputStream(InputStream, cacheKey)` and yes, it will close it.

[2019-06-18 05:15] axitasavani commented on #1272
ok. i will try this. Thank you So Much.

[2019-06-18 05:22] axitasavani commented on #1272
Can i change Font, a stroke of text?

[2019-06-18 07:07] AndroidDeveloperLB commented on #1270
You probably mean `LottieCompositionFactory.fromJsonInputStream(FileInputStream(File(filePath)), null)`

But what do I do with it exactly? It looks like a background task.

I want to set the animation of the `LottieAnimationView` to use it.
There is no `animationView.setAnimation(...)` to use what's coming from this function...

![image](https://user-images.githubusercontent.com/5357526/59660295-d

[2019-06-19 07:50] AndroidDeveloperLB commented on #667
On which version of Lottie was this fixed?

I had this on 3.0.3 , in this form:

[2019-06-19_10-49-04.zip](https://github.com/airbnb/lottie-android/files/3304978/2019-06-19_10-49-04.zip)

Sadly I can't update to 3.0.6 or even 3.0.4 , because it doesn't support this:
https://github.com/airbnb/lottie-android/issues/1270

[2019-06-19 08:56] axitasavani opened #1273 "How to save Lottie Animation as Video (.mp4) and GIF (.gif) in Android ?"
is that another way to save Lottie animation in android?

i have sued the below code but video proper not save.

[code]

[2019-06-20 04:28] gpeal commented on #1273
@axitasavani The way you are using a LottieDrawable to draw to a canvas seems reasonable to me. Unfortunately, I can't provide generalized support here but drawing Lottie to a canvas should work the same as any other view.

[2019-06-20 04:28] #1273 closed

[2019-06-20 04:29] gpeal commented on #1273
Also, duplicate of https://github.com/airbnb/lottie-android/issues/731

[2019-06-20 05:18] gpeal commented on #1269
I'm closing this for now because this was on an old version of Lottie and I think this was more related to general Android deadlock that just happened to be in Lottie code rather than a Lottie one.

[2019-06-20 05:18] #1269 closed

[2019-06-20 18:14] MatushkaRossiya opened #1275 "Lottie 3.0.7 not on Maven Central"
Version 3.0.7 is not available on maven central - checked by trying to use it as dependency in Android gradle project and by looking it up on search.maven.com.

[2019-06-20 19:48] MatushkaRossiya commented on #1275
It seems that it just got there, closing.

[2019-06-20 19:48] #1275 closed

[2019-06-20 22:46] rossbacher commented on #1275
Yes, sorry, it took a while to get there...

[2019-06-21 02:13] LeoJHarris commented on #667
@mohamed-azikiou that resolved my issue as well, moved json file to assets folder, set build action to androidasset - issue resolved.

[2019-06-21 02:46] PoplarTrees opened #1276 "2.7.0."
使用2.7.0出错：java.lang.IllegalStateException: Missing values for keyframe.

[2019-06-21 04:02] gpeal commented on #1276
Duplicate of #1177

[2019-06-21 04:02] #1276 closed

[2019-06-21 04:04] gpeal commented on #1270
@AndroidDeveloperLB You can add a listener on the task then call `animationView.setComposition` I'll expose better APIs through LottieAnimationView in a future version to simplify/wrap this but for now, that will work just fine.

[2019-06-21 06:16] AndroidDeveloperLB commented on #1270
I want to set the animation and let the View handle it, just like any other source of animation.
If there is a new animation to set for it, the previous one will be cancelled.
At least, that's how it worked so far, no?
Meaning that if I had called `animationView.setAnimation(whatever...)` and soon after I called `        animationView.setAnimation(whatever2...)` , it will ditch what it had tried t

[2019-06-21 10:29] JoinGitLiu opened #1277 "NetworkCache isTemp usage error"
When I downloaded the json file with **NetworkFetcher.fetchSync**(Context context, String url) I found that the file could be written to the cache, but the cache file could not be read. The reason is that **NetworkCache's 131 line isTemp** is reversed and should be
` ( ! isTemp ? extension.tempExtension(): extension.extension)`

[2019-06-22 19:44] gpeal commented on #1270
@AndroidDeveloperLB As I mentioned, I am going to add an `InputStream` version directly on LottieAnimationView

[2019-06-22 19:45] gpeal commented on #1270
In the mean time, you could also convert it to a String and pass the json string in. Not ideal but I'll fix this soon.

[2019-06-22 19:55] gpeal commented on #1272
@axitasavani
Yes, you can use `LottieProperty.STROKE_COLOR` and `STROKE_WIDTH` You can also use `FontAssetDelegate` to replace the fonts with your own
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/FontAssetDelegate.java

[2019-06-22 19:56] gpeal commented on #667
@AndroidDeveloperLB The JsonReader change that you're encountering is the fix for this bug.

[2019-06-22 20:10] AndroidDeveloperLB commented on #1270
Can you please let me know after it gets fixed?

[2019-06-22 20:11] AndroidDeveloperLB commented on #667
@gpeal I see. Are there any other known crashes on latest versions of the library though?

[2019-06-23 02:25] gpeal commented on #667
@AndroidDeveloperLB No known crashes in 3.0.7

[2019-06-23 02:54] gpeal commented on #1277
Duplicate of #1114. I also recommend upgrading Lottie.

[2019-06-23 02:54] #1277 closed

[2019-06-23 02:55] gpeal commented on #1267
Closing for now. Feel free to reopen with more information.

[2019-06-23 02:55] #1267 closed

[2019-06-23 02:55] gpeal commented on #1247
@iostyle Can you attach a sample app that reproduces this? It seems to work fine from my tests.

[2019-06-23 03:36] gpeal opened #1280 "Add Content-Length and Content-MD5 checks to NetworkFetcher"

[2019-06-23 03:37] gpeal commented on #1239
@Gusfavoreto I'm going to close this for now. Feel free to reopen it with more information if there is something actionable.

[2019-06-23 03:37] #1239 closed

[2019-06-23 03:38] gpeal commented on #905
Closed as of #1153

[2019-06-23 03:38] #905 closed

[2019-06-23 03:55] gpeal commented on #1260
@chenyan-github What exactly is the issue that you are having? Is it that the animation doesn't scale up when it is smaller than the view and the scale type is centerInside?

[2019-06-23 04:11] #798 closed

[2019-06-23 04:12] #1270 closed

[2019-06-23 06:35] AndroidDeveloperLB commented on #1270
So which version to use, that allows to use InputStream?

[2019-06-23 06:37] AndroidDeveloperLB commented on #667
@gpeal I see. Thank you. I hope a new version will come out soon.

[2019-06-23 06:59] gpeal commented on #1270
The next release, it'll likely by 3.1.0. I hope to release it this week.

[2019-06-23 07:18] AndroidDeveloperLB commented on #1270
What's the best way then, to set animation from File (or file path) ?

[2019-06-23 07:30] AndroidDeveloperLB commented on #1270
Is it this:
[code]
?

[2019-06-23 12:16] kooguma opened #1282 "Crash on android-19"
**The lottie crash on android-19**
_the related issues #759_
there is more information I found about the bug ( I hope you can add the method setAnimation(JSONObject json) back plz...)

- **steps to reproduce the bug**

1. use the [DynamicGradient](https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/assets/DynamicGradient.json) provided by the LottieSamples
 try the code as f

[2019-06-23 19:23] gpeal commented on #1270
Right now, read the file as a string then pass it to `setAnimationFromJson`. I'll make a new release this week though.

[2019-06-23 20:01] AndroidDeveloperLB commented on #1270
Does setAnimationFromUrl work fine with filePath as I wrote?

[2019-06-23 20:12] jollygreenegiant opened #1283 "Stroke dash offset not animating on Android"
Hey guys,

I created a composition in after effects with a dashed line offset animation that is supposed to animate the raindrops as shown here:
https://drive.google.com/open?id=1odgb4FxpAwwN2DlcuNbIi7Uy2_43V5IK

The animation shows up fine in After Effects, and shows properly in the Bodymovin preview, but when I load the json into the Android app I'm writing, it's just a static image (running SDK

[2019-06-23 22:54] gpeal commented on #1270
@AndroidDeveloperLB No because a file is not a network url.

[2019-06-23 23:26] AndroidDeveloperLB commented on #1270
@gpeal I see. In the docs they say as if it's a normal file, so I thought it can be used too.

[2019-06-24 08:04] chongbo2013 commented on #1251
你好，aep文件在最上面  lottie.zip

[2019-06-24 08:52] iostyle commented on #1247
I haven't found out what the problem is, it may be my problem.If I find the problem in the future, I will give feedback.

[2019-06-24 08:52] #1247 closed

[2019-06-24 10:39] turastory opened #1284 "Animating item changes in RecyclerView doesn't work"
I call `playAnimation()` in `onBindViewHolder()` to play animation.

It works when I add item to RecyclerView, but does not work when there's some changes and call `notifyItemChanged()`.

After a while, I noticed that there's some checks in `LottieAnimationView.playAnimation()`.

[code]

So I tried some debugs on it, and discovered that `isShown()` always returns false.

In order to play animation

[2019-06-24 16:14] gpeal commented on #1251
@chongbo2013 Your aep didn't attach.

[2019-06-24 17:32] gpeal commented on #1284
@turastory Can you attach a project that reproduces this? isShown() might be false in onBind but the play call should be deferred until it is attached and will eventually return true.

[2019-06-24 17:32] gpeal commented on #1284
In fact, there is a test for exactly this in the repo
https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/androidTest/java/com/airbnb/lottie/samples/FragmentVisibilityTests.kt#L187

[2019-06-24 17:37] gpeal commented on #1282
@kooguma The JSON order does matter for parsing performance reasons. Although it is not typical for json, the order of keys does matter in this specific case for Lottie.

That is an interesting discovery you made regarding the order of keys for JsonObject on <=19, however. I wasn't aware of that difference.

[2019-06-24 17:37] #1282 closed

[2019-06-24 18:45] cren90 opened #1285 "Readme Documentation is Extremely Sparse"
Currently, the documentation is just a set of sample animations and the Gradle dependency information. Compared to the documentation for the other Lottie projects (i.e. [iOS](https://github.com/airbnb/lottie-ios)) it is awful.

[2019-06-24 22:08] kbehl82 opened #1286 "Animation doesn't work with latest (3.0.7) version"
When upgrading Android Lottie version from 2.8.0 to 3.0.7 the animation stopped working. The attached has the json and aep files. This is happening on around 60 json files we use. We currently cannot upgrade to the latest version. What do we need to do to fix this?

[lottieIssue.zip](https://github.com/airbnb/lottie-android/files/3322735/lottieIssue.zip)

Also, we are seeing crashes with the attac

[2019-06-25 09:55] chongbo2013 commented on #1251
Excuse me, I thought I passed, I am making up now.
[Uploading 简化的端午 folder.zip…]()

[2019-06-25 09:57] chongbo2013 commented on #1251
[简化的端午 folder.zip](https://github.com/airbnb/lottie-android/files/3324685/folder.zip)

[2019-06-25 10:36] Messady opened #1287 "Animation not displyed correctly on API26 starting from version 3.0.0"
**Tested on:**
Emulator: Nexus 5X API 26
Device: LG G6 API26

**Issue:**
Starting from version 3.0.0, the animation is not rendered as it used to be on API26.

**Lottie file:**
https://drive.google.com/open?id=1oGzaRrBGnjCIvL0DBz_8Q3WfSKpSDq4p

**Preview:**
![Api26Issue](https://user-images.githubusercontent.com/599191/60091793-b2370a80-9745-11e9-9e22-79b6f6d05292.jpg)

[2019-06-25 14:04] Cdik commented on #667
Also pops up with `com.github.wwdablu:lottiebottomnav:1.0.0`
I'm using `lottie:3.0.7`
I had to set `dataBinding { enabled = true }` otherwise it rises another error regarding `Landroidx/databinding/DataBinderMapperImpl;`

Also reported on [github.wwdablu](https://github.com/wwdablu/LottieBottomNav/issues/4)

[2019-06-25 14:35] Cdik commented on #667
It works if you put the lottie animation inside the assets folder (it crashes if inside the raw folder)
And `dataBinding { enabled = true }` needs to be set in the gradle file otherwise you'll end up with Landroidx/databinding/DataBinderMapperImpl; error

_If someone is interested in using lottie animations with_ `com.github.wwdablu:lottiebottomnav:1.0.0` _don't forget to declare the source to be_

[2019-06-25 17:32] gpeal commented on #1286
@kbehl82 Can you be more specific? What do you mean by "stopped working"?
Also, can you provide the stack trace for the crash?

[2019-06-25 17:33] gpeal commented on #1286
This is what I'm seeing for your animation which looks correct to me.
![Animation](https://user-images.githubusercontent.com/1307745/60119970-a3942780-9734-11e9-9322-567266bb2353.gif)

[2019-06-25 17:34] gpeal commented on #1285
@cren90 Did click the link to the documentation site?
http://airbnb.io/lottie/#/android

[2019-06-25 18:59] cren90 commented on #1285
The link in the github repo takes you to http://airbnb.io/lottie. I had been on that page before and had clicked the android link in the "Lottie for..." header, which redirects to this GitHub repo. I was unaware that the links on the left would direct me to a different page than the link with the same name in that header. For consistency with the other Lottie repos, I still recommend having the Re

[2019-06-25 20:39] gpeal commented on #1285
Got it, good to know. I'll update this next time I work on the docs. You can open a PR [here](https://github.com/airbnb/lottie) or directly on the README for this reop if you have any docs suggestions.

[2019-06-25 20:39] #1285 closed

[2019-06-25 22:45] gpeal commented on #1286
@kbehl82 Can you attach a sample project that reproduces this?

[2019-06-25 23:05] kbehl82 commented on #1286
Sure. Also, we are using an epoxy carousel to hold the icons if that would make a difference

[2019-06-26 01:01] kbehl82 commented on #1286
We fixed the issue by doing the following:

[2019-06-26 01:04] #1286 closed

[2019-06-26 05:07] teejoe opened #1288 "NetworkFetcher handles content-type wrongly"
http content-type header may contains charset:

but in the code only full match of "application/zip" leads to zip file composition.

NetworkFetcher.java:
[code]

[2019-06-26 17:00] gpeal commented on #1288
I see that your content type adds `charset=binary`. I can make this a partial match check in the next version.

[2019-06-26 20:54] fleficher opened #1289 "Add cache strategy feature"
Hello there 👋

It seems that it's not possible to control how animations are cached by Lottie.

I'm using multiple Lottie animations in my app. All of them are cached in memory and take a lot a memory involving OutOfMemory errors. Currently, we can't control which animation are cache in memory or disable this feature completely.

I've seen a `lottie_cacheStrategy` attribute in LottieAnimationView

[2019-06-27 04:39] bliveinhack opened #1290 "setAnimationFromUrl not working"
I used two LottieAnimationView like this.

`<LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal">

                <com.airbnb.lottie.LottieAnimationView
                    android:id="@+id/n1"
                    android:layout_width="@dimen/margin_50"
                    android:la

[2019-06-27 06:57] bliveinhack commented on #1290
working fine. there was a number parsing issue from my side.

[2019-06-27 06:57] #1290 closed

[2019-06-27 09:24] rkcoders commented on #173
val textDelegate = TextDelegate(animationView)
hello when i use TextDelegate my 2 text display and 2 text not display can you tell me what to do

[2019-06-27 09:56] lbenedetto opened #1291 "PerformanceTracker says all frames took 0ms to render"
I'm trying to use the performance tracker to see which layer is causing the animation to play at extremely slow framerate.
[code]
But I'm getting outputs like this, with all layers taking 0.00 to render.
[code]

tracker.getSortedRenderTimes also says 0 for everything.

If I addFrameListener, my listener never gets called.

[2019-06-27 14:10] tianyingzhong opened #1292 "android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views."
uncaughtException: android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
        at android.view.ViewRootImplcheckThread(ViewRootImpl.java:7020)
        at android.view.ViewRootImplrequestLayout(ViewRootImpl.java:1108)
        at android.view.ViewrequestLayout(View.java:19810)
        at android.view.ViewrequestLayout(

[2019-06-28 02:46] tianyingzhong commented on #1292
已解决

[2019-06-28 02:46] #1292 closed

[2019-06-28 05:27] rkcoders commented on #918
hello if i want to replace images dynamically with other image ?
in ImageAssetDelegate all image replace with  bitmap which i have passed

[2019-06-28 05:29] rkcoders opened #1293 "When i use TextDelegate it change alignment of text"
i have use images animation with text but without use of TextDelegate It shows proper but if i use TextDelegate that time text alignment will change

[2019-06-28 05:36] panzhi1 commented on #918
you  can use ImageAssetsDelegate .
By assetsId , you can replace the image that you need replace;

[2019-06-28 07:07] rkcoders commented on #1273
@axitasavani i have face issues here
java.lang.IllegalStateException: Can't stop due to wrong state.
        at android.media.MediaMuxer.stop(MediaMuxer.java:274)
        at com.example.animationdemo.MainActivity.releaseEncoder(MainActivity.java:217)
        at com.example.animationdemo.MainActivity.generateMovie(MainActivity.java:147)
        at com.example.animationdemo.MainActivity.onCreate(Mai

[2019-06-28 12:20] mgp0000606 commented on #801
**Exponential scale issue**
I've made the tunnel effect through exponential scale in after effects but when I export its lottie file the effect becomes somewhat different. Don't know may be lottie is skipping few frames or what, can you help me to figure out and fix this issue.

[Lottie animation.zip](https://github.com/airbnb/lottie-android/files/3339121/Lottie.animation.zip)

[2019-06-28 19:37] moelle89 opened #1294 "How to change the tint of glyphs programmically?"
Hey,
sorry if this was already discussed and solved, but it is bugging me for long already and i still wasnt able to fix it by myself.

I am trying to change the color of a text layer ( glyphs ) - i know how to change the color of normal shapes but wasn´t able to change the color of a text layer so far. - I found another issue thread over here that explained to use COLOR instead of COLOR_FILTER fo

[2019-06-29 03:51] jollygreenegiant commented on #1283
Update: I've created several simple new files on my own to test this issue that are just a path with animated dashes, and they still aren't working.  I decided to try some community ones, and this one, which seems to have an offset dash stroke animation just like mine, is working fine in my app: https://lottiefiles.com/69-video-content-ta-dah

Any info on this would be great

[2019-06-29 17:38] hashweather opened #1295 "Change Text on Animation"
Hi all, I am new to body moving, but recently learnt how to use Lottie View on android

I currently have the JSON of a cool text animation that I grabbed from lottie-files.com.

Now, How can I alter that text and use my own text instead so the animation uses my text instead of the original text. Thanks.

[2019-06-30 07:40] AndroidDeveloperLB commented on #1270
@gpeal So for now it's possible to do as such:

[code]
?
Sadly this is on the UI thread, but should work fine for now on tiny files...

[2019-07-01 06:13] softlion opened #1296 "Add lottie_startDelay tag attribute"
Currently, when a lottie animation is set to auto start in a fragment layout xml, and this fragment is transitioning on screen, the animation plays during the transition.

To fix that, autoplay has to be disabled and the call to start have to be moved into viewcreated, using a delay function, which content has to be guarded against early fragment pause/destroy to prevent side effects.

A simple lo

[2019-07-01 09:10] memoryjs opened #1297 "update to 3.0.1 ,cause dependencies error"
When I first use it, I created a demo application in android studio with the version 3.0.1,but error happened,log below:

Dependencies using groupId com.android.support and androidx.* can not be combined but found IdeMavenCoordinates{myGroupId='com.android.support', myArtifactId='drawerlayout', myVersion='28.0.0', myPacking='aar', myClassifier='null'} and IdeMavenCoordinates{myGroupId='androidx.dr

[2019-07-01 09:23] henryqwe commented on #1253
@gpeal any updates?

Anyway if you look at your screenshot, right side of last icon has cropped effect
<img width="181" alt="Screenshot 2019-07-01 at 11 20 27" src="https://user-images.githubusercontent.com/19953164/60425360-a4283480-9bf2-11e9-8f30-5aeb97efcb54.png">

[2019-07-01 11:38] venjirai commented on #1284
I have the same problem.
playAnimation inside onBindViewHolder does not work.
I only works if I post it on the main thread.

lav.post(() -> lav.playAnimation());

[2019-07-01 12:14] rkcoders commented on #1273
@axitasavani @gpeal hello i found solution of lottie animation convert to mp4
step 1:
load animation in LottieAnimationView
Step 2 :
get duration of LottieAnimationView after set resorce
Example:
LottieAnimationView.getDuration();
step 3:
LottieAnimationView.setDrawingCacheEnabled(true);
step 4:
use value animator and put duration of animation

Example:
 i = 0;
        ValueAnimator animator = Val

[2019-07-01 15:43] gpeal commented on #1270
@AndroidDeveloperLB or `LottieCompositionFactory.fromInputStream(...)`

[2019-07-01 15:43] gpeal commented on #1284
@venjirai what version of Lottie? And can you post a sample project if it's 3.0.7, if it's not, try that version

[2019-07-01 15:45] gpeal commented on #1297
@memoryjs Lottie 3.0+ is only compatible with [androidx](https://developer.android.com/jetpack/androidx/migrate). I made a one-time `3.0.3-support` but I wouldn't count on any future updates and recommend switching to androidx.

[2019-07-01 15:45] #1297 closed

[2019-07-01 15:46] gpeal commented on #1293
@rkcoders Can you attach a sample project?

[2019-07-01 15:48] gpeal commented on #1294
@moelle89 Can you attach a sample project that reproduces this?

[2019-07-01 16:04] gpeal commented on #1295
You can use a TextDelegate
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L723

[2019-07-01 16:04] #1295 closed

[2019-07-01 18:49] moelle89 commented on #1294
is the json file itself enaugh or do u want to see the code where i am trying to tint it?

here u got the json file - the keyframe of the text layer is called "text" (unlike my example of the first post, there it was called "fg2")

so i m trying to tint the text layer "text" via java - changing the color of any other object, like shapes for example, works fine for me.

[slide01test.zip](https://gi

[2019-07-02 03:08] namkazt opened #1298 "Error: java.lang.StackOverflowError: stack size 8MB"
I'm not really sure why it happens but maybe i'm not releasing my fragment ( there is 3 fragment on top and each of it has 1 Lottie animation view )

Device: P6 android 5.0

[code]

[2019-07-02 08:11] chenyan-github commented on #1260
yes, i use centerinside, you can use my json files play on ios compare with android, our ios lottie library is 2.5.0 and android lottie version is 2.5.5.

[2019-07-02 08:16] chenyan-github commented on #1260
my issues is this json files can't play correctly on android, you can pick the json files "ic_tab_chat.json" and "ic_tab_contacts.json" in my demo project assets directory.

[2019-07-02 10:07] NamHofstadter opened #1301 "Animation procceed exception"
when I start a Animation in Android , I can only see the fisrt frame and the last frame,but the same resource is doing perfect in IOS device.
I use version 2.7.0,please help

[2019-07-02 10:08] NamHofstadter commented on #1301
and I have used HardwareAcceleration,but it doesn't help

[2019-07-02 10:10] NamHofstadter commented on #1301
@Gabriel Peal

[2019-07-02 12:59] gpeal commented on #1301
@NamHofstadter please try 3.0 first and if it still fails, you can reopen this but please attach your animation. A lot has changed since 2.7 and I no longer support 2.7

[2019-07-02 12:59] #1301 closed

[2019-07-03 01:36] memoryjs commented on #1297
OK,I know,now I use the versoin 2.7.0 , it works .I will not update the 3.x version util our project is compatiable with androidx

[2019-07-03 03:30] gpeal commented on #1297
@memoryjs you can use 3.0.3-support for now but I recommend upgrading.

[2019-07-03 09:02] axitasavani commented on #1273
Thank you.  I'll apply this solution to save my Animation into Video. @rkcoders

[2019-07-03 14:56] angcyo opened #1302 "java.net.SocketException: Network is unreachable"
`api "com.airbnb.android:lottie:3.0.7"`

Nexus 5X
Android 7.1.2

[code]

[2019-07-03 16:41] AndroidDeveloperLB commented on #1270
@gpeal There is no such thing:

![image](https://user-images.githubusercontent.com/5357526/60609415-49e1cc00-9dca-11e9-9ff4-24cb76ae548b.png)

And if you mean `fromJsonInputStream` instead, I don't see how to set it to the animationView :

![image](https://user-images.githubusercontent.com/5357526/60609512-86152c80-9dca-11e9-8fbc-a757a43c1e29.png)

[2019-07-04 08:25] 1wayticket commented on #667
Can you tell me where to set the build action? I didn't find anywhere to set. Thanks a lot.

[2019-07-04 08:42] Cdik commented on #667
@1wayticket , what do you mean by build action?
The .json file needs to go in app>src>main>assets

[2019-07-04 09:23] 1wayticket commented on #667
Sorry,I want to ask someone else about multi lottie. So my comment is not about you,Sorry for disturb.

[2019-07-04 09:26] 1wayticket commented on #667
I have the same question with you ,So can you share about your solution -- set the build action to androidasset. I'm confused about how to set it? or can you leave your WeChat or Email?

[2019-07-05 03:12] shenghaiyang commented on #1298
+1

[2019-07-06 12:51] vkiranmaniya opened #1303 "Lottie Animation Drawable is Behaving Different on Different Device"
## Issue Description
I'm creating the video by recording the frames in Lottie drawable. When I create the video of animation, the animation shifts slightly toward left or right in some device. Also in some device, the video just contains the half around animation duration. I have used OpenGL for video rendering and it works fine in OpenGL supported device. However, Some device has support to OpenG

[2019-07-06 17:17] boduan402 commented on #1303
Disable hardware render mode might be helpful.

[2019-07-06 23:08] gpeal commented on #1270
@AndroidDeveloperLB Yes, `fromJsonInputStream`. Add a success listener to that and call `setComposition` on your `LottieAnimationView` with the result.

[2019-07-06 23:09] gpeal commented on #1303
@vkiranmaniya Try what @boduan402 said.
Does it look correct when you play your animations with LottieAnimationView?

[2019-07-06 23:10] gpeal commented on #1298
@namkazt @shenghaiyang Can you attach a sample project that reproduces this?

[2019-07-07 02:52] namkazt commented on #1298
@gpeal I think it relates to Lottie not release or pause when invisible or something. It did not happen on my device but 1 user. I just got some crash report about it.

[2019-07-07 06:48] AndroidDeveloperLB commented on #1298
I got the same issue recently on Lottie 3.0.7, but all cases on Android 4.x :

![image](https://user-images.githubusercontent.com/5357526/60765034-5f8e1480-a09c-11e9-8023-d7e43d68da0d.png)

[code]

[2019-07-07 06:56] AndroidDeveloperLB commented on #1270
I see. Sadly due to this issue:
https://github.com/airbnb/lottie-android/issues/1298
I went back to v3.0.3 .
v3.0.7 caused a lot of issues for users due to this crash (or at least so it seems for now).

[2019-07-07 07:42] namkazt commented on #1298
the latest version I guess. I just start using Lottie recently

[2019-07-07 07:59] AndroidDeveloperLB commented on #1298
@namkazt Well you can try v3.0.3 for now, perhaps.
That's what we will do, hoping that indeed it's a new issue, as it didn't occur before.

[2019-07-07 14:21] moelle89 commented on #1294
**Can be closed**. - now it makes sense why nothing worked for me. - I only uses the text-tool in after effects to edit the textColor - I missed the part that i have to add a separate fillColor to a text layer. - Sorry for this.

[2019-07-07 20:59] #1294 closed

[2019-07-08 14:14] vkiranmaniya commented on #1303
It, Looks correct when I render it as animation on view. but issues in LottieDrwable Frames, The frames slightly shifted in LottieDrawable and causes a shift in the rendered video from LottieDrawable. However, the behavior is different as the device varies. have you any clue regarding why it's happening?

[2019-07-08 14:30] gpeal commented on #1303
@vkiranmaniya You'll have to attach a sample project

[2019-07-08 23:48] gpeal commented on #1231
@rovkinmax Closing this due to inactivity. Reopen it and share a private repo with me if this is still an issue.

[2019-07-08 23:48] #1231 closed

[2019-07-08 23:49] gpeal commented on #1231
Better than a private repo would be a small animation that specifically reproduces the issue.

[2019-07-09 01:50] #1283 closed

[2019-07-09 08:06] lantimes opened #1305 "How to work in Android Q dark theme"
Android Q offers a new Dark theme.
Does LottieAnimationView support this behavior?
I put json on res/raw for light mode, res/raw-night for dark mode.
and in xml uses app:lottie_rawRes="@raw/sample".
I change theme to light or dark, it still plays the same json file.
I also use animationView.setAnimation(R.raw.sample), it still plays the same json file.
I'm pretty sure the json is changed(I dump th

[2019-07-09 08:43] FLJustDoIt opened #1306 "Animation begins Obviously not smooth at the first load"
**Read this or your issue will be closed**

* Before opening a new issue, look through existing issues for duplicates.
* Simplify your animation to the simplest animation that reproduces your issue.
* Zip your After Effects AEP file and attach it. Your issue will be auto-closed if it doesn't have an AEP or no explicit reason otherwise is given.
* If you don't know English, run your issue through G

[2019-07-09 08:56] Kelve17 opened #1307 "Is it possible to detect when the animation has started ?"
I would like to add some more animations along with the json animation. For that, i would like to start both animations at the same time.

[2019-07-09 23:01] modydevelops commented on #376
it is an expected behavior considering custom navigation solutions
-a user play's an animation and navigates to a different tab
-current tab get's GONE
-user click stop which is a shared btn between tabs
result: lottie malfunction and doesn't stop.

[2019-07-09 23:05] modydevelops opened #1308 "I want to manually cancel animaitio when LottieAnimationView wrapper is GONE..."
previous answer said that it's an unexpected behavior! please consider the following:
it is an expected behavior considering custom navigation solutions
-a user play's an animation and navigates to a different tab
-current tab get's GONE
-user click stop which is a shared btn between tabs
result: lottie malfunction and doesn't stop.

[2019-07-09 23:07] modydevelops commented on #1308
please help with any solution or any kind of workaround

[2019-07-10 01:50] chenyan-github opened #1309 "json files cannot play correctly on android"
[this json file can't play correctly on android platform](https://lottiefiles.com/share/IFw77i)

[2019-07-10 01:51] chenyan-github commented on #1309
https://lottiefiles.com/share/IFw77i

[2019-07-10 06:49] NamHofstadter commented on #1301
Is there a probility to use 3.0 without androidx?

[2019-07-10 08:02] AndroidDeveloperLB commented on #1298
Sadly going to v3.0.3 causes this issue:
https://github.com/airbnb/lottie-android/issues/667

[2019-07-10 08:05] AndroidDeveloperLB commented on #667
Sadly updating to 3.0.7 causes a different issue:
https://github.com/airbnb/lottie-android/issues/1298

Is there a version that doesn't have both of those issues?
Is it true that putting the Lottie files (the json files) into assets folder will fix it?

[2019-07-10 08:36] Cdik commented on #667
@AndroidDeveloperLB, this has fixed mine at least! I guess it doesn't change much to put them in /raw or /assets, you just need to remember setup the correct one in the code. (It might change something in term of performances though but I haven't checked)

[2019-07-10 08:41] AndroidDeveloperLB commented on #667
@Cdik I had this issue with the most basic usage of Lottie, in 2 animationViews .
In both of them, we have in layout XML file `app:lottie_rawRes="@raw/...` .

So instead of this, I called in code `animationView.setAnimation("...json")`.

Do you think it's similar to what you did?
Do you use 3.0.3 now, or 3.0.7 ? The 3.0.7 version causes a different serious issue for us, so I need to choose if I wa

[2019-07-10 12:57] RuanXiaoHui commented on #1309
我可以正常播放啊，你使用的是什么版本的Lottie? 我当前使用的是2.7.0的版本目测了没问题

[2019-07-10 14:28] Jona85 opened #1310 "Using Text Delegate and scaletype then the textfield wont position correctly"
When I use TextDelegate to change the text in my animation and I use a scaletype for example "Center" then the textfield doesnt respect the scaling & positioning of the LottieAnimationView.
I've tried to workaround the issue with a nulllayer in After Effects, but this didnt resolve the issue.

When I enable the Glyphs option in BodyMovin then the text is positioned as expected, but then I wont be

[2019-07-10 15:11] gpeal commented on #1298
@namkazt @AndroidDeveloperLB What are the steps to reproduce this?

[2019-07-10 15:11] gpeal commented on #1301
@NamHofstadter There was a one-time port `3.0.3-support`

[2019-07-10 15:12] gpeal commented on #376
@modydevelops What version of Lottie?

[2019-07-10 16:03] namkazt commented on #1298
@gpeal sorry, I never got this on my side. Just report from Crashlytic that crash happens on some users devices.

but is it look like this `com.airbnb.lottie.LottieAnimationView.buildDrawingCache` got called too many time and make stack overflow?

[2019-07-10 16:13] AndroidDeveloperLB commented on #1298
@gpeal It's all reported by hundreds of crashes on Crashlytics. One issue is on Android 4.x and another issue is on Android 8.0.

We have only 2 json files for Lottie. If you wish, I can send you via email and you could check them out.

The use case is just showing AnimationView with the animation on the raw folder. I hope that putting them into the assets folder will fix it.

[2019-07-10 16:16] fornewid commented on #1305
I have a same issue.
I think, LottieComposition is recognized as the same object.
So I am writing a temporary code.
The following code is working, but I do not think it's the best.
[code]
Is there a good alternative? 🤔

[2019-07-10 17:18] modydevelops commented on #376
3.0.7

[2019-07-10 20:59] gpeal commented on #1298
@namkazt @AndroidDeveloperLB I don't think that will fix it. If you are able to repro it, that would be great. I just tested an animation on KitKat and it worked fine. You can use animations from Lottiefiles if you don't want to share your own.

[2019-07-10 21:05] gpeal commented on #376
@modydevelops Can you create a sample project that reproduces this?

[2019-07-10 21:06] gpeal commented on #1307
@Kelve17 Yes, with an AnimatorListener or AnimationUpdateListener
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L596

[2019-07-10 21:06] #1307 closed

[2019-07-10 21:08] gpeal commented on #1305
@lantimes @fornewid I will look into adding native support for this! 😄

[2019-07-10 21:09] #1306 closed

[2019-07-10 21:26] AndroidDeveloperLB commented on #1298
@gpeal I don't mind to share mine. But I don't own them. The company does. And so I said I can send you via email instead.
Also, as I wrote, this is reported by real users, and not all users. If it was all users, it would have been much more than a few hundreds per day.
The bug exists. Just because you and I can't reproduce it doesn't mean it doesn't.

And it's actually 2 bugs. One on the old vers

[2019-07-10 21:35] modydevelops commented on #376
I did a work around by (manually stopping all lottieAnimations then only play what's supposed to be played from sharedprefs) that's for each Container whenever it gets VISIBLE otherwise lottieAnimation restarts because it was playing when the visibility was GONE even if it got stopped while GONE. it's not the best thing for the performance but it solves my problem till further notice.Cheers

[2019-07-10 21:38] modydevelops commented on #1308
Solved by a work around till further updates to handle it.

[2019-07-10 21:38] #1308 closed

[2019-07-11 09:20] diguagege opened #1311 "LottieDrawable with images convert to Video, Images not display"
Hi, I have a problem in use LottieDrawable convert to Media.
I have a  json and images folder in assets, When I open app, I load json with setImagesAssetsFolder to composition, and then into static LottieDrawable.
And I write a tool , convert LottieDrawable to video. And finally, I mux a video out to folder. But when I open the video, It may play with images no display. How can I fix it ?
![6E2940

[2019-07-11 10:16] z85510 opened #1312 "Lottie Animation has lag when new Activity starts"
When I try to start new activity Lottie animation occurs lagging.
I try some dummy solution but it didn't works

`myView.setLayerType(View.LAYER_TYPE_HARDWARE, null)`

`android:hardwareAccelerated="true"`

[2019-07-11 11:53] SemenovAlexander opened #1313 "Lottie adds wrong shadows on small dpi devices"
We have an issue with one file, which reproduces on devices with small screen density (hdpi).
Lottie draws something like a shadow, where it shouldn't be.
See the demo project with screenshots:
https://github.com/SemenovAlexander/LottieSmallDevicesBug

The issue occurs on all Lottie versions after `3.0.0-beta2`.
If I switch project to`3.0.0-beta2` - everything works fine.

![Screenshot_1562845027]

[2019-07-11 20:57] gpeal commented on #1298
@AndroidDeveloperLB I never said it didn't exist. I just need to be able to reproduce it to fix it.

[2019-07-11 21:36] AndroidDeveloperLB commented on #1298
@gpeal Recently I got a lot of messages from Google similar to "We can't reproduce it so we close this issue".
Instead of investigating, they just close those issues. There are issues that existed for months and years this way, and then they close them...

In any case, I already offered you the animation files.

[2019-07-12 05:11] pasha656 opened #1314 "Lottie is cutting animation from the right side"
We have an issue with one file, which is cutting from the right side.

<img width="500" alt="Screen+Shot+2019-07-11+at+16 39 02" src="https://user-images.githubusercontent.com/10083521/61103835-6215b300-a47c-11e9-82fc-bb3315a090d0.png">

The issue occurs on all Lottie versions after v3.0.0-beta2.
If I switch the project to 2.7.0 - everything works fine.

Animation example you can find here: [Examp

[2019-07-12 07:06] SemenovAlexander commented on #1314
This seems to be related to #1313

[2019-07-12 14:39] Jona85 commented on #1310
As for now I've "fixed" it with a workaround.
In AfterEffects I added an invisible textlayer containing all the possible characters.
Enabled the Glyphs option in Bodymovin.
In our Android project instead of using the TextDelegate I read the animation.json from the assets and use replace() to update the text.
Then I use the updated json string to load into my LottieAnimationView.

[2019-07-13 03:10] 12ndxu opened #1315 "cpu"
I use lottie:3.0.6 to show some animation,when it work the cpu temperature will rise to 70℃ from 40℃，how to optimize it

[2019-07-13 06:17] Smarpit-Singh commented on #1298
Everything works well. But when I change fragment while the animation is running my app gets crashed.

`java.lang.StackOverflowError: stack size 8MB
        at android.view.View.getDrawingCache(View.java:14136)
        at com.airbnb.lottie.LottieAnimationView.buildDrawingCache(LottieAnimationView.java:822)
        at android.view.View.getDrawingCache(View.java:14136)
        at com.airbnb.lottie.L

[2019-07-13 06:42] azxcffdgadf opened #1316 "No .git directory found!But I didn't install git,How to solve the problem"
The first is to have this same problem. But it does not meet my situation. I did not install git. How to solve this problem.
(首先是有这个相同的问题.但是不符合我的情况.我并没有安装git.怎么解决这个问题.-->No .git directory found!)

[2019-07-15 02:17] zjupure commented on #733
how this issue fixed？I still according this problem on online products.
[code]

[2019-07-15 03:19] chanjungkim commented on #388
What's the solution???

[2019-07-15 04:20] chanjungkim commented on #1238
Have you solved this issue?

[2019-07-15 05:29] ming13 commented on #1314
FYI — `2.8.0` also works fine.

[2019-07-15 06:26] henryqwe commented on #1253
@gpeal up

[2019-07-15 07:50] mashahbazi opened #1317 "buildDrawingCache null pointer exception"
Hi
I have two times crash report in my project fabric from lottie library.
the error exception is null pointer exception.
I use lottie version 3.0.1.
this is error stack trace:

`
android.view.View.buildDrawingCache + 13841 (View.java:13841)
com.airbnb.lottie.LottieAnimationView.buildDrawingCache + 821 (LottieAnimationView.java:821)
android.view.View.getDisplayList + 13558 (View.java:13558)
.
.
.

[2019-07-15 13:18] Tomekkk opened #1318 "From 3.0.6 animation froze instead of looping on activity startup"
`LottieAnimationView` is define in xml layout file which is set as content view for Activity. Parameters set for view in layout:
[code]
Starting from Lottie 3.0.6 across 3.0.7 this view stops animating at Activity's start. Configuration change or restoring Activity (moving from background) restores proper loop and autoplay behaviour.
From 3.0.0-beta4 to 3.0.5 the same lottie file seems to works fi

[2019-07-15 17:58] gpeal commented on #1313
Duplicate of #1287

[2019-07-15 17:58] #1313 closed

[2019-07-15 17:59] gpeal commented on #1287
@Messady  @SemenovAlexander is there an emulator image you can repro this on?

[2019-07-15 17:59] gpeal commented on #1314
Duplicate of #1287

[2019-07-15 17:59] gpeal commented on #1287
@pasha656 @ming13 same question ^

[2019-07-16 03:36] NamHofstadter commented on #1301
I have download the newest version of lottie(3.0.7), and I made it useful without androidx, hope it will be helpful to others
[lottie.zip](https://github.com/airbnb/lottie-android/files/3395124/lottie.zip)

[2019-07-16 03:37] NamHofstadter commented on #1301
Thank you for your efforts

[2019-07-16 03:47] zjupure opened #1319 "MemoryLeak in LottieDrawable"
In LottieDrawable consturction method, it will auto add a annoyous update listener and refer the drawable and context, cause the activity leak. How to remove the update listener to avoid memory leak?
[code]

![reliao_img_1563248619472](https://user-images.githubusercontent.com/5836221/61264394-04a49d80-a7bf-11e9-941c-e0875c3fd26e.png)

[2019-07-16 03:57] ashokgujju commented on #731
@AhmadKabi @rogererill I have followed the same approach, got stuck with the same blank video issue. Could you tell me how to fix it?

[2019-07-16 05:13] gpeal commented on #1319
@zjupure You shouldn't reuse your LottieDrawable. Create a `LottieComposition` with `LottieCompositionFactory` if you want to do that. On top of that, Lottie caches compositions internally so you don't need to worry about passing around a drawable. The next time you call `setComposition`, it will automatically reuse the composition from the previous drawable.

[2019-07-16 05:15] gpeal commented on #1287
Duplicate of #1253

[2019-07-16 05:15] #1287 closed

[2019-07-16 05:15] gpeal commented on #1253
@henryqwe @Messady @SemenovAlexander @pasha656 @ming13 is there an emulator image you can repro this on?

[2019-07-16 05:16] gpeal commented on #733
@zjupure Can you attach an AEP file that reproduces this? You can attach it as a zip file

[2019-07-16 05:18] gpeal commented on #1298
@Smarpit-Singh Can you create a sample project that reproduces this? That would be super helpful.

[2019-07-16 05:24] gpeal commented on #1315
http://airbnb.io/lottie/#/android?id=performance

[2019-07-16 05:24] #1315 closed

[2019-07-16 05:25] gpeal commented on #1316
@azxcffdgadf This issue isn't related to Lottie. If you want to clone the repo, run `git clone git@github.com:airbnb/lottie-android.git`

[2019-07-16 05:25] #1316 closed

[2019-07-16 05:26] gpeal commented on #1312
There are some performance tips [here](http://airbnb.io/lottie/#/android?id=performance).

You want `setRenderMode`, not the native Android APIs.

[2019-07-16 05:26] #1312 closed

[2019-07-16 05:27] zjupure commented on #1319
@gpeal we don't reuse lottieDrawable, we only set json to LottieImageView and it create a LottieDrawable bind with the View who hold the activity context. We call playAnimation()/pauseAnimation() according to Activity lifecycle. But the ValueAnimator was hold by android framework class ValueAnimator$AnimationHandler though the activity has been destoryed.
You can see the memory leak reference. It'

[2019-07-16 05:28] gpeal commented on #1291
@lbenedetto I just ran this and it seemed to work. If you can reopen this with a sample project that reproduces this, I'll take another look. It's possible that it actually took <0.01ms to render if it's hardware accelerated.

[2019-07-16 05:28] #1291 closed

[2019-07-16 06:37] ming13 commented on #1253
@gpeal, yes, actually there is. Just reproduced #1314 on Android 7.1.1 (with Google Play) using Nexus 5X configuration.

[2019-07-16 09:58] venjirai opened #1322 "Recyclerview, animating when detached"
Version: 3.0.7

I'm using a lottie imageView in an item for a recyclerview.
It is used for a subscribe animation. A user can click on an item and a subscribe animation is playing, when the animation is finished it stays in that position (progress 1.0) to show the changed status.

When the view is binded, I call the following to only show the status but not playing the animation again:

[2019-07-16 10:54] xlp-shawn opened #1323 "Use json animation to report an error"
Process: com.example.mac.annotiondemo, PID: 23330
    java.lang.IllegalStateException: Missing values for keyframe.
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:16)
        at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue(FloatKeyframeAnimation.java:8)
        at com.airbnb.lottie.animation.keyframe.BaseKeyframeA

[2019-07-16 10:58] xlp-shawn commented on #1323
I can play json normally on the website, but it can't play normally on android.
https://lottiefiles.com/share/AEpSkM

[2019-07-16 11:03] goemic commented on #1284
this problem is still present in v3.0.7

[2019-07-16 13:25] SemenovAlexander commented on #1253
@gpeal yes, for me #1313 reproduces on Nexus S configuration with Android 8.1 x86 image (without Google Play).
![Screen Shot 2019-07-16 at 16 21 51](https://user-images.githubusercontent.com/6439273/61298088-485ecd80-a7e6-11e9-9fed-1b27f442985d.png)

[2019-07-16 15:54] #1288 closed

[2019-07-16 17:28] gpeal commented on #1253
@ming13 @SemenovAlexander Thanks! I'll take a look at this!

[2019-07-16 18:41] rogererill commented on #731
Hello @wxjer @xiexuesong @ashokgujju, I created a simplified small project https://github.com/rogererill/LottieRecorderTest where you can see in more detail my full Recorder class and the canvas management. I hope it helps you figuring out the issue!

[2019-07-16 21:46] gpeal commented on #1319
@zjupure Can you set up a sample project with Leak Canary 2.0 that and repro the leak?

[2019-07-16 21:52] YuriiTsap opened #1324 "RecycleView, wasAnimatingWhenDetached isn't set to false when view is attached"
We have a related [issue](https://github.com/airbnb/lottie-android/issues/1322) created few hours ago.
But the main issue isn't highlighted/described enough inside of the ticket.

**_Let's start:_**
I'm using `LottieAnimationView.java` inside `RecyclerView.java`. In my code every third item has an animation running, I'm operating with a dataset containing 60 items.
When `LottieAnimationView.java`

[2019-07-16 21:55] YuriiTsap commented on #1322
We've faced two really similar issues. I've described mine [here](https://github.com/airbnb/lottie-android/issues/1324). Our two tickets could be coupled I guess. Please have a look at mine description and explanation, maybe that will give you ideas how to fix that. Or you can adjust mine explanation. Thanks.

[2019-07-17 01:42] Evaldy3 commented on #990
what's the solution i have the same issue

[2019-07-17 02:35] ashokgujju commented on #731
Thanks @rogererill, It worked for me.

[2019-07-17 05:41] Smarpit-Singh commented on #1298
Thank you for your response but I already solve this. This exception has arrived when I close the `fragment` where Lottie animation is visible. I just set its visibility to gone in `onStop();`

[2019-07-17 07:17] AndroidDeveloperLB commented on #1298
@Smarpit-Singh This sounds like a workaround that you shouldn't need to use at all.
There is no kind of View that I saw a need for this thing.

[2019-07-17 13:45] headsvk commented on #1322
I have a similar issue where I want to play an animation when an item inside a `RecyclerView` is clicked.

Hiding some text and showing the animation causes the item to be re-measured and `RecyclerView` detaches itself from the view temporarily without onDetachedFromWindow being called. The animation is not played at this point even if I call `LottieAnimationView.playAnimation()` because `isShown(

[2019-07-18 06:40] AndroidDeveloperLB commented on #1298
An update:
Since we couldn't use 3.0.7 as we don't know of a workaround for the above issue, we tried 3.0.3, but then we got "IllegalStateException: Unable to parse composition", as shown [here](https://github.com/airbnb/lottie-android/issues/667).
Someone there said we could try to put the animation files (json files) into the assets folder.

This seems to help a lot, but not in 100% of the times

[2019-07-18 07:03] gpeal commented on #1298
@AndroidDeveloperLB Any help reproing this would be appreciated. As soon as I have a repro, I'll fix it and push an update.

[2019-07-18 07:25] AndroidDeveloperLB commented on #1298
@gpeal I already told you multiple times: I can help you with whatever you wish. Just ask.
I can send you the animation files via email (as it's a closed source app of the office).
I can also send you the layout XML file we used, but it's really a very simple usage...
Or the links to the crash reports on Crashlytics.

I do not know how to reproduce it, because of [this reason](https://res.cloudina

[2019-07-18 07:26] AndroidDeveloperLB commented on #667
@Cdik I've tested it. It might help a lot, but not in 100% of the times. Written about it here:

https://github.com/airbnb/lottie-android/issues/1298#issuecomment-512686118

[2019-07-18 09:46] mbasaglia opened #1325 "Gradients seem to not be rendered correctly"
I've noticed gradient colors look off, I assume it isn't parsing the offsets in the color arrays.

I don't have the aftereffects file as I generated the lottie json in another way, but I have a minimal example: [out.zip](https://github.com/airbnb/lottie-android/files/3405878/out.zip)

The example has 3 rectangles: a yellow one to the left, an orange one to the right, and one in the middle with a g

[2019-07-18 09:54] mbasaglia commented on #1325
Note: rlottie also renders it correctly (same as lottie-web) so it does seem lottie-android to be diverging from them

[2019-07-18 09:59] namkazt commented on #1298
for now I'm using`device class year` for disable lottie animation on all low-end device.

[2019-07-18 14:22] careyestes opened #1326 "json export with bodymovin doesn't work on Android device"
Im using AE to export an animation with the Bodymovin extension. The json file works perfectly fine on an iOS device, but crashes on Android. I reviewed the Lottie docs to see if I am using an unsupported feature in AE.

Im not applying any unsupported features. I've narrowed it down to a shape layer. Any keyframe animation I apply to the transform options is what causes it to fail in Android.

As

[2019-07-18 14:43] zjupure commented on #1319
It is dumped from online data and not easy to produce.  I read ValueAnimator source and have some suspects. When animator is scheduled, AnimationHandler singleton will hold the reference to ValueAnimator. Until animator is canceled or stopped, AnimationHandler will remove the reference. So it might have a case:
1) lottie animation is playing, AnimationHandler hold it.
2) activity is destroyed, the

[2019-07-18 22:05] gpeal commented on #1326
@careyestes please attach an AEP file (zipped up as a zip file) so I can take a look.

[2019-07-18 22:09] gpeal commented on #1325
@mbasaglia Can you attach the complete and unmodified json file?

[2019-07-19 02:50] gpeal commented on #1323
Duplicate of #1177

[2019-07-19 02:50] #1323 closed

[2019-07-19 04:58] mbasaglia commented on #1325
https://pastebin.com/TZYKWN71

[2019-07-19 07:09] N0t-Simon commented on #833
Hi @rocifier, my gradient doesn't appear on my export. Can you share your file ? I would like to understand how to export gradient to my Lottie file :)

[2019-07-19 08:36] 12ndxu commented on #1315
how to use Hardware Acceleration in lottie:3.0.6

[2019-07-19 08:53] vkiranmaniya commented on #1303
Here is the code snippet. let me explain the flow,
1. Load Lottie Animation. `loadJSONFromFile()` function loads the Lottie JSON file from device storage.
2. Create Composition from the JSON file and get the LottieDrawable.
3. Convert the entire image sequence contained in Lottie Drawable to Bitmap, will be used with renderer function to merge it with video.

`private void loadAnimation() {

[2019-07-19 15:16] careyestes commented on #1326
[github.export.aep.zip](https://github.com/airbnb/lottie-android/files/3411655/github.export.aep.zip)
Attached a zip of the aep file for review.

[2019-07-19 19:39] tyvsmith opened #1330 "Add Nullaway Support"
https://github.com/uber/NullAway

[2019-07-19 19:44] #1302 closed

[2019-07-19 19:45] gpeal commented on #1296
I would rather keep this on the application side of things rather than include it in the library. You could create your own extension function or something for your app though.

[2019-07-19 19:45] #1296 closed

[2019-07-19 20:05] gpeal commented on #1311
Duplicate of #1273

[2019-07-19 20:05] #1311 closed

[2019-07-19 22:01] bitterbalpiraat commented on #1326
Faced a similar issue with a json file downloaded of the lottiefiles.com catalog.

- [This should happen](https://lottiefiles.com/share/02fKFZ)
- [Here is what actually happens](https://imgur.com/a/DtowKmT)

Tested this for version 3.0.7, 3.0.6 and 3.0.0 on a Motorola Moto G5s Plus with Android 8.1.0.

[2019-07-20 00:45] careyestes commented on #1326
When I run the json out of the Lottie source param in my .tsx, it doesn't even run it. It crashes the emulator.

[2019-07-20 03:16] gpeal commented on #1326
@bitterbalpiraat does your animation use expressions?

[2019-07-20 03:44] gpeal commented on #1324
@YuriiTsap It would be awesome if you are able to create a failing test case in `FragmentVisibilityTests` and also fix it! The visibility cases are very tricky and I've tried to get good espresso coverage on them since it's very fragile.

[2019-07-20 03:44] gpeal commented on #1322
@headsvk @venjirai  I'm going to merge this into #1324 but my comment on that issue applies to all of you too.

[2019-07-20 03:44] #1322 closed

[2019-07-20 03:45] #1314 closed

[2019-07-20 03:46] gpeal commented on #1318
@Tomekkk Can you create a sample project that reproduces this?

[2019-07-20 05:55] softlion commented on #1296
You can not create an extension function for xml tags .................................................................

[2019-07-20 07:53] venjirai commented on #1324
In addition to setting wasAnimatingWhenDetached to false in onAttachedToWindow() to fix the endless animation bug I would also introduce and expose a new flag that can turn restarting animations off altogether. It would then look something like this:

`@Override
protected void onDetachedFromWindow() {
    if (isAnimating()) {
      cancelAnimation();
      if (restartAnimationWhenDetached)

[2019-07-20 09:41] bitterbalpiraat commented on #1326
No, I just replicated the issue with a blank new activity and all I did was:

1. Lottie dependency
`    implementation "com.airbnb.android:lottie:3.0.0"`
2. Add json file to app/src/main/assets
3. Insert autoloop Lottie
`    <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/lottie_view"
            android:layout_width="150dp"
            android:layout_height="150dp"

[2019-07-20 13:07] RISHABHPATNI1108 commented on #771
Why this issue is closed
I am having the same issue and the link provided is broken,

[2019-07-20 17:30] OriginLive opened #1331 "Crash on android start. Problem with keyframe animations."
** If you don't use this template, your issue will be closed **

**Checklist**
1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that

[2019-07-20 17:35] OriginLive commented on #1331
using https://lottiefiles.com/featured json files from here to test it out

[2019-07-20 17:36] #1331 closed

[2019-07-21 03:40] gpeal commented on #771
@RISHABHPATNI1108 http://airbnb.io/lottie/#/android?id=images

[2019-07-21 04:05] gpeal commented on #833
@N0t-Simon sometimes, they don't export unless your AEP file is saved.

[2019-07-21 04:05] gpeal commented on #1315
@12ndxu `setRenderMode`

[2019-07-21 04:07] gpeal commented on #1303
@vkiranmaniya Could this be related to #731 ?

[2019-07-21 11:22] vkiranmaniya commented on #1303
No, I guess. because rendering the video is not an issue. Here the issue is Lottie Animation behavior. Marking the point once again
1. LottieDrawable returns null frame in some device
2. The LottieDrawable frame does not maintain the proposition of animation and shift either left or a right little bit.
3. Behaves Differently when the Animation Composition has mutli layer image assets.

[2019-07-21 11:26] vkiranmaniya commented on #1303
@gpeal THe issue #731 is using FFmpeg for rendering, In my case, I'm working with OpenGL.

[2019-07-21 12:09] AndroidDeveloperLB commented on #1298
Sadly our decision was incorrect . Reverting to 3.0.3 and putting the files in the assets folder didn't help:

![image](https://user-images.githubusercontent.com/5357526/61591000-3bb4ed80-abc9-11e9-97e6-95c23db716e8.png)

For now, I will try to go to 3.0.7, and just decide that on Android 4.4 , it will use a static image instead of a Lottie animation.

[2019-07-21 13:51] AndroidDeveloperLB commented on #1298
I've tried now on Xiaomi "Mi Phone" which has Android 4.4.4, and succeeded getting the crash!
Even setting a static image (vectorDrawable) to the LottieAnimationView has caused it, while the animation files were removed.

I'm now trying to make a POC that will show the issue. Hopefully I will be able to reproduce it on the POC too.

[2019-07-21 14:21] AndroidDeveloperLB commented on #1298
Got a POC to reproduce the issue. It was caused when switching to its container via ViewAnimator:

[code]

It occurs even when I give the LottieAnimationView a simple VectorDrawable.

Attached here the POC.

[MyApplication.zip](https://github.com/airbnb/lottie-android/files/3414687/MyApplication.zip)

Please check it out. Note that it occurs only on 4.4, but succeeded to reproduce it even on emula

[2019-07-21 20:30] gpeal commented on #1303
@vkiranmaniya You only attached your json file. Please make a zip file with the json and required images. Better yet, please make the smallest animation that reproduces your issue. Reverse engineering the entire animation is very time consuming.

[2019-07-21 20:51] gpeal commented on #1259
@chongbo2013 Please simplify your animation to the simplest possible animation that reproduces your issue and describe exactly what the issue is. I don't have time to reverse engineer your entire animation.

[2019-07-21 21:52] gpeal commented on #376
@modydevelops I'm going to close this for now but if you could attach a sample project that reproduces this, that would be great.

[2019-07-21 21:52] #376 closed

[2019-07-22 01:01] memoryjs commented on #1297
OK，thanks

[2019-07-22 07:26] vkiranmaniya commented on #1303
[JF78_NEW.zip](https://github.com/airbnb/lottie-android/files/3416150/JF78_NEW.zip)
@gpeal  Let me tell you that, this is the only animation creating the issue, when I render the animation without image asset, it works fine. So you must go through this type of animation includes image asset and exported from After Effects.

[2019-07-22 08:01] N0t-Simon commented on #833
hi @gpeal , AEP fils is saved, but gradients don't export... Have any idea ?

[2019-07-22 08:06] Tomekkk commented on #1318
@gpeal repository: https://github.com/Tomekkk/LottieAnimationProblem
Please check screen recording:  https://raw.githubusercontent.com/Tomekkk/LottieAnimationProblem/master/screen-recording.webm
LottieAnimationView is part of toolbar.

I didn't mention one important factor: lottie view is child of view set as shared element transition destination.

[2019-07-22 15:47] careyestes commented on #1326
Ive scratched my entire comp and started anew. Created a shape, and without keyframing ti works. However, just putting a basic Opacity transform on it causes it to fail on Android. Seems like Bodymovin and Shape Layer anims do not work. Is there a setting to get this working? The Lottie docs claim these transforms work on Android.

[2019-07-22 16:18] gpeal commented on #833
@N0t-Simon Can you attach your aep as a zip file?

[2019-07-22 16:20] #1188 closed

[2019-07-22 21:57] #1298 closed

[2019-07-22 21:57] gpeal commented on #1298
@namkazt @shenghaiyang @AndroidDeveloperLB 3.1.0-SNAPSHOT will be up with this fix any minute.

[2019-07-22 21:57] gpeal commented on #1298
Thank you @AndroidDeveloperLB, the repro was helpful 😄

[2019-07-22 22:14] AndroidDeveloperLB commented on #1298
@gpeal Can you please explain why this happened?
And what to put in the dependencies now ?

[2019-07-23 02:28] namkazt commented on #1298
@gpeal Thanks 😄

[2019-07-23 14:18] careyestes commented on #1326
I did a compare on the two simple shape files. test25 being without the animation and test26 having a simple opacity transform keyframe. This was the only change in the two.
![image](https://user-images.githubusercontent.com/5098554/61719318-aa618a80-ad32-11e9-88f9-8c290003ebc2.png)

[test25.txt](https://github.com/airbnb/lottie-android/files/3422510/test25.txt)
[test26.txt](https://github.com/air

[2019-07-23 16:15] AndroidDeveloperLB commented on #1298
@namkazt I hope this is the only cause for this issue.

[2019-07-23 16:48] namkazt commented on #1298
I'm not able to test it yet but i will.

[2019-07-23 21:40] #1280 closed

[2019-07-24 00:09] thomasponzo opened #1334 "Lottie webplayer is showing something completely different on android"
https://lottiefiles.com/share/Djcy3v this is what the lottie web player is showing but in my android app its showing something completely different like I put the trim paths on multiple but I put them on individually on the hand drawn part of the animation.

[2019-07-24 07:28] diguagege commented on #1311
No, sir, #1273 can not solve my problem.But I find the problem because I dont pass the view to lottie to get context, and then lottie cannot read img from settings.

[2019-07-24 09:18] vkiranmaniya commented on #1303
@gpeal is there any update on this issue?

[2019-07-24 10:47] vkiranmaniya commented on #1303
Here is a link of video for your reference.[https://drive.google.com/file/d/1fhq3Y1GU40F3t9GIqLQx80IGOpCOrpHq/view?usp=sharing](Issue Preview). When i play the animation, it plays completely perfect, but when i iterate over the bitmaps in LottieComposition, It is different. I performed two tests over it. In the first test, you can see the fluctuating animation image and the other test is with debu

[2019-07-24 12:06] HimanshuNarang commented on #1284
I have the same problem. Is there any update for this issue?

[2019-07-24 14:33] vkiranmaniya commented on #1303
I tried once again by keeping the Animation Asset images into android assets and loaded from there. It worked fine.

[2019-07-24 15:27] thomasponzo opened #1335 "lottie on android is not consistent"
I dont know what I am doing wrong here but the same animation with the same resolution is working on my emulator but on my phone it doesn't https://lottiefiles.com/share/e5dPWJ . it cuts the t of and why I dont know! http://prntscr.com/ojhc7h

[2019-07-24 18:57] gpeal commented on #1298
@AndroidDeveloperLB `3.1.0-SNAPSHOT`

[2019-07-24 19:55] YuriiTsap commented on #1324
@gpeal Sorry for late reply! I was kind of really far away from civilization and stable internet connection. Sure, I have few ideas how that espresso test could be written. Actually I've spent some time analyzing existing `Tests` inside `FragmentVisibilityTests`. I think my case is similar to `testPausesWhenScrolledOffScreenAndResumesWhenComesBack()` test, so I've taken it as an example and base f

[2019-07-24 21:09] kartik1225 commented on #1233
Is there any solutions available I want to change the font in run time (during the animation) is that possible?

[2019-07-24 21:53] AndroidDeveloperLB commented on #1298
@gpeal I mean what to put in the dependency.

[2019-07-25 10:16] abeade commented on #1284
I have the same issue with v3.0.7

[2019-07-25 13:54] Doctoror opened #1336 "The attached resource no longer renders as expected since 3.0.0"
Sorry, this report must be deleted. It will be resubmitted.

[2019-07-25 14:58] amine03061990 commented on #1177
I tried to upgrade Lotte library to 3.0.0 , but I think that i should migrate to AndroidX.
Is there another solution without upgrading Lottie library ?

[2019-07-25 15:37] AndreiNikitin commented on #1131
use 22 API emulator with x86 image (not x86_64). Open the screen with animation and wait for 2-3 min. Will crash

[2019-07-25 15:37] AndreiNikitin commented on #1131
happens on 3.0.0 version also

[2019-07-25 16:05] #1336 closed

[2019-07-25 16:25] gpeal commented on #1284
I would accept a PR for this. I don't have time to work on this issue at the moment.

[2019-07-25 16:25] gpeal commented on #1284
@abeade @HimanshuNarang @goemic @venjirai @turastory I would accept a PR for this. I don't have time to work on this issue at the moment.

[2019-07-25 16:27] gpeal commented on #1334
@thomasponzo Please use the correct template and label

[2019-07-25 16:27] #1303 closed

[2019-07-26 08:42] AndreiNikitin commented on #1131
![Screenshot 2019-07-26 at 11 37 59](https://user-images.githubusercontent.com/18249799/61938723-6b357280-af9a-11e9-8e12-5f5d6699aa71.png)
Here is a thread stack, if it helps you.

[2019-07-26 10:46] pawelkw opened #1337 "LottieAnimationView.removeAllUpdateListeners removes internal listeners, breaking core behavior."
**Sample Project**
I used the `LottieSample` and introduce a 1 line change there https://github.com/pawelkw/lottie-android/commit/0de9c8bfdb525a9a72d51dfdf679a11d69bd4329.

**Describe the bug**
Calling `LottieAnimationView.removeAllUpdateListeners` removes an internal listener set in `LottieDrawable` constructor (https://github.com/pawelkw/lottie-android/blob/master/lottie/src/main/java/com/airbnb

[2019-07-26 12:06] gabriellferreira commented on #793
You just have to manually copy your font (ttf format) to 'assets/font'. And of course properly specify it in the animation export process.

[2019-07-26 12:06] gabriellferreira commented on #793
You just have to manually copy your font (ttf format) to 'assets/font'. And of course properly specify it in the animation export process.

[2019-07-27 09:16] rocifier opened #1338 "React native lottie not animating images which are parented to a shape layer's contents."
**Checklist**
1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that doesn't work:

===========

[Wheel Spin Broken Example.zip](http

[2019-07-27 15:11] abeade commented on #1284
@gpeal I don't know if this can help. But I've been debuging the issue and I saw that the problem is related with `isShown()` and `RecyclerView` as described here: https://github.com/airbnb/lottie-android/issues/1322#issuecomment-512261248

[2019-07-29 05:03] gongtingshisi commented on #837
me too,any resolution ?

[2019-07-31 12:17] YuriiTsap commented on #1324
@gpeal Any updates on this thread? Is it possible to create a PR?

[2019-07-31 23:51] gpeal commented on #1324
@YuriiTsap Feel free to make a PR :)

[2019-07-31 23:52] gpeal commented on #1284
I think this is a duplicate of #1324 which has more info

[2019-07-31 23:52] #1284 closed

[2019-07-31 23:53] gpeal commented on #1338
Please open an issue on https://github.com/react-native-community/lottie-react-native/

[2019-07-31 23:53] #1338 closed

[2019-07-31 23:54] gpeal commented on #1335
Duplicate of #1334

[2019-07-31 23:54] #1335 closed

[2019-08-01 07:28] Tomekkk commented on #1318
@gpeal do you need any more info? Can you reproduce issue on shared project?

[2019-08-01 10:18] manthesepeasrock opened #1339 "ANR with match_parent in some lotties"
On at least on a Samsung s8 plus with Android 7 some bigger lotties are crashing the application during the animation, this happens for LottieAnimationView with the layout_width of the view as match_parent or 0dp using constraintStart_toStart and constraintEnd_toEndOf parent and a fixed layout_height

We tried with all 3.0.+ versions of the lib and the same issue happens

In our case to reproduce

[2019-08-01 20:39] gpeal commented on #1339
This is unlikely to be a Lottie specific issue and more likely something else that was slowing down the device to the point where it happened to ANR here.

[2019-08-01 21:22] michealfriesen commented on #995
I am also encountering this issue, and I think it is due to the caching being done for raw resources. If there is a good way to clear this cache on lang change or if it can be done in a different way, please advise.

[2019-08-02 12:39] plusend opened #1341 "java.lang.VerifyError"
I can't reproduce this bug. Fabric report this bug:

I use LottieAnimationView in xml, but crash error inflating class LottieAnimationView in setContentView method.

Bug info:

Devices:             samsung 99%  LGE 1%
OS:                     5.0  100%
Lottie version:   2.5.5

[code]

[2019-08-02 21:48] danh32 opened #1342 "Dynamic Text doesn't change color using a ValueCallback"
** If you don't use this template, your issue will be closed **

**Checklist**
1. My animation doesn't use any [unsupported features](http://airbnb.io/lottie/#/supported-features).
2. I know what part of my animation doesn't work.
3. I have created a simplified version of my animation
4. I have attached the AEP file (as a zip file so it can be attached) that only has the part of the animation that

[2019-08-04 19:16] kartik1225 commented on #1342
Same from me I am trying to find the solution for it from past 3 months, If someone knows the solution then that would be really helpful.

[2019-08-04 19:24] kartik1225 commented on #1272
*LottieProperty.STROKE_COLOR* is not changing the text color. I have also tried all of this #1342

[2019-08-05 01:29] gpeal commented on #1341
I'm not sure if there is anything on the Lottie side here. It looks like you're using proguard so maybe it has to do with that. If I get reports from other apps, I could spend more time on it but until then, I'd ask for your assistance debugging this further.

[2019-08-05 01:29] #1341 closed

[2019-08-05 10:00] manthesepeasrock commented on #1339
I don't know that this is a lottie specific issue, because it works on other devices, and on this device it works if we give it a fixed height and width, only with a match_parent width or height does it crash

[2019-08-05 22:42] gpeal commented on #1342
@kartik1225 For now, make the text color animatable, just set the start and end color to be the same then dynamic properties will work.

[2019-08-06 05:51] martin-huang commented on #1081
Waiting for good news

[2019-08-06 08:06] youxiachai opened #1343 "how to clear LottieCompositionCache"
I find LottieCompositionCache have clear method ,but it restrict to library, can't call this method.

because LottieComposition.images have many bitmap, I want to clear it when other page not use lottie anim.

Can add new api use this method?

[2019-08-06 12:06] chanonly123 commented on #836
`implementation` ('com.airbnb.android:lottie:3.0.1') { transitive = false }`
worked for me
and also androidx compatible

[2019-08-06 23:50] gpeal commented on #1343
Duplicate of #1289

[2019-08-06 23:50] #1343 closed

[2019-08-07 00:01] gpeal commented on #1325
This looks correct now:
![image](https://user-images.githubusercontent.com/1307745/62585008-cd7c5600-b86b-11e9-8bc1-c1bbeddf873c.png)
Fixed by #1333

[2019-08-07 00:01] #1325 closed

[2019-08-07 07:44] vkiranmaniya opened #1344 "Shift in Animation Frames and Slow Rendering"
**Description**
I have custom animation exported from After Effect by the Lottie plugin. The animation is using custom image assets. When I create and play the Lottie composition, it slightly shifts either left or right in some devices. Lottie is also rendering the animation bit slow and animation is fluctuating. I tested it with 30 and 12 FPS animations but all fails.

**Environment**
Lottie v3.0

[2019-08-08 12:14] LukaszDzw commented on #1318
I have similar issue. On Samsung Galaxy s4 (Android 5.0.1) animation didn't started - blank area. It was happend only on the app start. On other Android phone there wasn't any problem

[2019-08-09 02:53] hua3505 opened #1345 "View.unscheduleDrawable is not working for LottieDrawable."
View.unscheduleDrawable is not working for LottieDrawable. And LottieDrawalbe's Animation will never stop.
Steps:
1. ImageView.setImageDrawable(oneLottieDrawable);oneLottieDrawable.start();
2. ImageView.setImageDrawable(newDrawalbeAnyType)
It's also happen when use  View.setBackground.

ImageView will call unscheduleDrawable to stop old drawable's animation.
[code]
But LottieDrawable use LottieVal

[2019-08-09 03:46] axitasavani opened #1346 "Is that support inbuilt animation of After effect on Text or Shape ? Help Wanted"
** If you don't use this template, your issue will be closed **

**Checklist**
1. Create a sample project that reproduces your bug.
1. Attach your project as a zip file (for now no animation file).

**Describe the bug**
Animation not display

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to Lottie official app in android
2. Click on  phone scan by  QR '
3. then not Display any anim

[2019-08-09 06:06] gpeal commented on #1177
@amine03061990 you should upgrade to androidx for a host of other reasons but there is a one time 3.0.3-support release.

[2019-08-09 06:30] Aquarids opened #1347 "Animation became blurred after update the lottie version."
**Describe the bug**
After I updated the version from 0.2.8 to 3.0.1, the animation became blurred. Is this a bug or should I change my code with the new version?

**What version of Lottie did you test this on?**
v3.0.1
**What version of Android did you test this on?**
Android 8.0.0

**Steps To Reproduce**
Steps to reproduce the behavior:
Use LottieAnimationView to load a anim json file.

[2019-08-09 15:28] kartik1225 commented on #1342
What property I have to change/animate?

In `after effect`?

In Effect panel?
![](https://imgur.com/gPRX9mA)

or in the text editor?
![](https://imgur.com/OSjySj7)

And what `LottieProperty` I have to change?
`LottieProperty.COLOR` , `LottieProperty.COLOR_FILTER` or `LottieProperty.STROKE_COLOR`

[2019-08-10 19:59] gpeal commented on #1347
Please include a sample project that reproduces this and reopen if you are able to do that. There isn't enough information to provide assistance as-is.

[2019-08-10 19:59] #1347 closed

[2019-08-10 20:50] #1324 closed

[2019-08-10 22:37] gpeal commented on #1318
In this case, it seems to be a direct side effect of using a shared transition element. For now, I would manually play your animation rather than to rely on autoPlay. For some reason, the app bar is set to not visible the last time onVisiblityChanged or onVisibilityAggregated gets called on LottieAnimationView so it never knows that it is visible and able to play.

I'm going to close this since I

[2019-08-10 22:37] #1318 closed

[2019-08-10 22:38] gpeal commented on #1344
For performance, experiment with software or hardware rendering (`setRenderMode`).

Regarding the shifting, try 3.1.0-SNAPSHOT, it may be fixed.
Other than that, there is nothing else actionable from this issue.

[2019-08-10 22:38] #1344 closed

[2019-08-10 22:40] gpeal commented on #1319
Newer versions of Lottie will unschedule the drawable when it is detached from the window.

[2019-08-10 22:40] #1319 closed

[2019-08-10 23:00] gpeal commented on #1180
@LucianIacob it's likely a bug on FloatingActionButton but if you set the animation _after_ it is laid out, it works.

[2019-08-10 23:00] #1180 closed

[2019-08-10 23:09] gpeal commented on #1260
Please repro on 3.0. A lot has changed since 2.5.5. There is a new issue-repro module that you can use to reproduce this issue in a fork.

[2019-08-10 23:09] #1260 closed

[2019-08-10 23:09] #1346 closed

[2019-08-10 23:16] gpeal commented on #1317
If this is extremely rare and only on 4.4.2, it may be an oem specific platform bug. I likely won't have time to spend on this myself but it you would like to and find a fix, I would accept a PR.

[2019-08-10 23:16] #1317 closed

[2019-08-10 23:50] gpeal commented on #1326
Lottie doesn't support the radial wipe effect.

[2019-08-10 23:50] #1326 closed

[2019-08-11 00:02] #1293 closed

[2019-08-11 00:14] gpeal commented on #1238
Lottie doesn't support the bounce properties you are using.

[2019-08-11 00:14] #1238 closed

[2019-08-11 00:23] #1259 closed

[2019-08-11 00:24] gpeal commented on #1309
This seems to play correctly with the latest version. Reopen with the specific issue if you can still repro this on 3.1.0-SNAPSHOT.

[2019-08-11 00:24] #1309 closed

[2019-08-11 00:53] #1334 closed

[2019-08-11 00:58] #1337 closed

[2019-08-11 01:02] #1305 closed

[2019-08-11 01:03] gpeal commented on #707
Duplicate of #1145

[2019-08-11 01:03] #707 closed

[2019-08-11 02:25] #1330 closed

[2019-08-11 02:26] #1342 closed

[2019-08-11 05:14] AndroidDeveloperLB commented on #707
Ummm.... Why mark a request from "Mar 26, 2018" as duplicate of one from "Mar 6" of this year (2019) ?

[2019-08-11 05:53] zishanj commented on #1238
@gpeal Its very well supported on web version of Lottie. There should be a possibility to support it on mobile devices.

[2019-08-11 08:14] mashahbazi commented on #1317
@gpeal So if you don't have time fix it why you close the issue. Closing issue meaning that it solved.

[2019-08-11 19:11] gpeal commented on #1317
@mashahbazi Unfortunately, nobody else works on Lottie issues so I pretty aggressively close issues to prevent them from piling up indefinitely.
However, if multiple people start reporting the same issue enough to warrant it getting reprioritized, I'll duplicate and keep one of them open for tracking.

[2019-08-11 19:12] gpeal commented on #1238
@zishanj The web player runs on javascript and can execute After Effects expressions. The mobile versions would need a built in interpreter to do the same thing. It's not technically impossible but not currently on the roadmap.

[2019-08-12 04:37] PankajS24 opened #1356 "BaseLottieAnimator.java line 87"
Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 24 byte allocation with 0 free bytes and 3GB until OOM
       at java.util.concurrent.CopyOnWriteArrayList.iterator + 188(CopyOnWriteArrayList.java:188)
       at java.util.concurrent.CopyOnWriteArraySet.iterator + 361(CopyOnWriteArraySet.java:361)
       at com.airbnb.lottie.utils.BaseLottieAnimator.notifyUpdate + 87(BaseLottieAnim

[2019-08-12 05:26] PankajS24 opened #1357 "FloatKeyframeAnimation.java line 29 com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue"
Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 12 byte allocation with 3920 free bytes and 3KB until OOM
       at java.lang.Float.valueOf + 403(Float.java:403)
       at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue + 29(FloatKeyframeAnimation.java:29)
       at com.airbnb.lottie.animation.keyframe.FloatKeyframeAnimation.getValue + 8(FloatKeyframeAnimatio

[2019-08-12 08:22] Aquarids commented on #1347
Thanks for your replay, here is the sample project:

https://github.com/Aquarids/issue-lottie-1347-example

Change the version of lottie in build.gradle, it should reproduces the problem.

version 3.0.1:

![v3.0.1](https://user-images.githubusercontent.com/35091294/62852820-22f9ac80-bd1d-11e9-912f-dfdcce618514.png)

version 2.8.0:

![v2.8.0](https://user-images.githubusercontent.com/35091294/62852

[2019-08-12 16:00] gpeal commented on #1347
@Aquarids Try `setRenderMode(RenderMode.SOFTWARE)`

[2019-08-12 16:52] gpeal commented on #1357
I don't think this is a Lottie issue, it just happened to be where your app ran out of memory.
You can debug it with the memory profiler
https://developer.android.com/studio/profile/memory-profiler

[2019-08-12 16:52] #1357 closed

[2019-08-12 16:52] gpeal commented on #1356
Duplicate of #1357

[2019-08-12 16:52] #1356 closed

[2019-08-12 19:20] careyestes commented on #1326
@gpeal I don't think that answer resolves the issue. I have created a completely new .aep file with the default composition settings, added a shape and put an opacity keyframe on it. Exported out via Bodymovin and the json still crashes the app on Android.  Ive attached the .aep file in a zip for review.

Like I said previously, it works fine as long as I don't add any keyframes on the shape.

[op

[2019-08-13 02:17] Aquarids commented on #1347
@gpeal It works. Thank you for your patience.

[2019-08-13 10:20] hardikm9850 commented on #1312
@gpeal I am facing the same issue.
The animation gets stuck when a new activity is being launched
We tried to do app profiling but that didn't help identifying where exactly the issue is.

As you mentioned above `setRenderMode ` it is part of GLSurface view and am not sure how that would help with the `lottieview`.
Can you guide me in that respect? Any tool to debug the view performance?

[2019-08-13 11:17] lorenc-tomasz opened #1358 "Very slow animation from version 3.0.0"
Hi,
I have used waves animation. It never was fast, but from version 3.0.0 is really laggy. On iOS everything works OK.

[waves.json.zip](https://github.com/airbnb/lottie-android/files/3496667/waves.json.zip)

[2019-08-14 00:43] gpeal commented on #1312
@hardikm9850 It's also a Lottie API
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieAnimationView.java#L918

[2019-08-14 00:46] gpeal commented on #1326
@careyestes It's working for me. Have you searched through exiting issues for your stack trace?

[2019-08-14 14:01] brooksbecton commented on #1326
https://snack.expo.io/@broabect/lottie-expo-error

Here's a snack of it not working. If I load this on my phone, it will say the the app crashes.

[2019-08-15 10:21] rohan20 commented on #1086
@gpeal Is there any example on how to use a `LottieAnimationView` in a `styles.xml` file (not layout file)?

My use-case is showing a static image until the `LottieAnimationView` starts to play on the splash screen since the `LottieAnimationView` doesn't play immediately.

Or else, is there a way to stick to the first frame of the animation until it plays?

[2019-08-15 14:37] gpeal commented on #1358
@lorenc-tomasz Try with `setRenderMode` set to hardware or software, different animations perform better with different settings.

[2019-08-16 08:29] lorenc-tomasz commented on #1358
Tried both. Similar result.

[2019-08-16 08:52] xiaobinghe opened #1359 "Android Q requires non-SDK interface blacklists and graylists. Is there such a call involved in Lottie?"
In my project, Lottie is used. With the release of Android Q, it is necessary to adapt it. In the Android Q version, Google officially prohibits the use of non-SDK interfaces, and sets up blacklists and graylists. I want to confirm Lottie. Is there a non-SDK called, thank you!

[2019-08-16 11:32] kakai248 commented on #1339
@gpeal I did some more tests. It happens on that lottie with exactly 100dp of height and on frame 46. So it's not related with match_parent as originally said.

If the height is 99dp or 101dp it will no longer crash. And that frame is the only one with the issue. If I don't play the animation at all and just set frame = 46, it will crash.

If I set software in render mode it doesn't crash anymore.

[2019-08-17 10:46] kartik1225 commented on #1208
This issue is still there in android pie devices even after enabling `animationView.setRenderMode(RenderMode.SOFTWARE)`

[2019-08-17 11:04] kartik1225 commented on #1343
`LottieCompositionCache` Can you make this class public?
I want to use `evictAll()` LRUcahe.
Basically, I want to forcefully re-render Lottie animation (without using Lottie cache)

[2019-08-17 18:33] gpeal commented on #1343
@kartik1225 What do you mean by re-render? Exposing that function won't do that.

[2019-08-17 18:34] gpeal commented on #1339
@kakai248 Thank you for the specifics!

[2019-08-17 18:35] gpeal commented on #1086
@rohan20 It has to parse the animation asynchronously so there will always be a minimal delay before rendering the first frame. However, most of the time, you can pre-load/warm the cache to avoid this but that wouldn't be possible on app startup. For that case, I would recommend packaging a png with the first frame to use as a placeholder until it starts rendering.

[2019-08-17 18:37] gpeal commented on #1358
@lorenc-tomasz Can you attach the aep?

[2019-08-17 18:37] gpeal commented on #1326
@brooksbecton please report React Native issues on [lottie-react-native](https://github.com/react-native-community/lottie-react-native)

[2019-08-17 19:14] kartik1225 commented on #1343
@gpeal I am trying to do this [#1233](https://github.com/airbnb/lottie-android/issues/1233#issuecomment-496150571) but text font is not changing after the animation is cached.
Basically, I want to clear the `LottieCompositionCache` so I can change the font of the animation after the animation is loaded.

[2019-08-17 21:42] gpeal commented on #1359
Lottie doesn't use any private Android APIs

[2019-08-17 21:42] #1359 closed

[2019-08-18 09:58] #1208 closed

[2019-08-19 04:24] PankajS24 opened #1360 "RectangleContent.getPath() Null Pointer Exception"
Fatal Exception: java.lang.NullPointerException: Attempt to invoke a virtual method on a null object reference
       at com.airbnb.lottie.animation.content.RectangleContent.getPath + 98(RectangleContent.java:98)
       at com.airbnb.lottie.animation.content.FillContent.draw + 88(FillContent.java:88)
       at com.airbnb.lottie.animation.content.ContentGroup.draw + 161(ContentGroup.java:161)

[2019-08-19 08:23] androidfans commented on #1177
thanks thanks a lot for the  3.0.3-support.  it saves my life

[2019-08-19 13:12] plnice commented on #1305
Checked with `3.1.0-SNAPSHOT` and still "day" resources are picked in night mode. From what I was debugging, `isNightMode()` returns true when calling `rawResCacheKey()` in `fromRawRes()`, but false when generating cache key once again in `fromRawResSync`, don't know why 🤔

Android Q Beta 6, Pixel 2 XL

[2019-08-19 16:52] gpeal commented on #1305
@plnice Hmm, any chance you have a little more time to debug? I don't want to ship this if it's broken but I don't have time right now to take a look.

[2019-08-19 18:11] rimmer commented on #1298
@AndroidDeveloperLB
First, add _sonatype_ to repositories
[code]

Then, use SNAPSHOT version in deps:
[code]

[2019-08-19 19:03] AndroidDeveloperLB commented on #1298
@rimmer I think you forgot "'" .
Anyway, tested on emulator with 4.4. Seems to work fine with it.
I hope the new version will come soon.
Are there any known issues with the 3.1.0-SNAPSHOT ? I don't want to switch to it just to see yet another issue...

[2019-08-19 19:33] rimmer commented on #1298
@AndroidDeveloperLB
I have released it to beta channel only today, so will see :)

[2019-08-19 19:42] plnice commented on #1305
@gpeal sure, will have a look at this more tomorrow. Right now I suspect that the wrong `uiMode` value is returned when obtaining it from application context (which is passed to the `fromRawResSync()`, in `fromRawRes()` passed context attribute is used), but will confirm this when I jump into the code and make sure that's the issue.

[2019-08-19 20:01] AndroidDeveloperLB commented on #1298
@rimmer Other than the sample I've shown, have you tried similar cases? switching between different LottieAnimationView instances, for example? Maybe while one is playing?

[2019-08-19 21:25] gpeal commented on #1360
Please use the issue template

[2019-08-19 21:25] #1360 closed

[2019-08-20 09:33] CaptainHuangsh commented on #858
Hello.
I have the same problem; and use  `LottieComposition.Factory` before playAnimation. It seemed that flicking time is shorter now, but it`s still flicking between two animation.

[2019-08-20 12:33] plnice commented on #1305
@gpeal after looking into this, I found out that the application context always incorrectly returns `UI_MODE_NIGHT_NO`. Activity has the correct information. Also, when switching between default and night mode when the application is running, application context can return wrong resource ("day" resource after user switched from day to night and vice versa).

To fix this, I switched to consistently

[2019-08-20 18:25] gpeal commented on #1298
@AndroidDeveloperLB No know issues with the latest snapshot

[2019-08-20 19:53] rimmer commented on #1298
So far, I haven't got any crashes. Didn't thoroughly testing however

вт, 20 авг. 2019 г., 20:26 Gabriel Peal <notifications@github.com>:

[2019-08-21 03:03] CaptainHuangsh commented on #858
I just update lottie 2.5.5 to 2.7.0 and solve the problem

[2019-08-21 19:40] kartik1225 commented on #1343
@gpeal  Will this resolve the font changing problem?

[2019-08-23 02:44] RuanXiaoHui opened #1363 "lottie animation-NullPointerException-crash,why?"
java.lang.NullPointerException

Attempt to invoke virtual method 'com.airbnb.lottie.PerformanceTracker com.airbnb.lottie.LottieComposition.getPerformanceTracker()' on a null object reference

[2019-08-23 08:38] wyan-github commented on #1319
@gpeal I found the same problem when i add a lottie view and then remove the view before the json load finished. I think it becasue the loader is not canceled when the view is detached from the window.
So when json load finished, it wound start a new animtor. Then the lottiedrawable is leaked because the view won,t be used, we have no chance to cancel the animtor of lottiedrawable.

[2019-08-23 09:28] wyan-github opened #1364 "Memory Leak"
I found memoryleak when i add a lottie view（loop is true） and then remove the view before the json load finished. I think it becasue the loader is not canceled when the view is detached from the window.
So when json load finished, it will start a new animtor which will add a listener to mAnimationCallbacks of AnimationHandler（android.animation.AnimationHandler）. Then the lottiedrawable is leaked b

[2019-08-23 09:48] edgar-zigis opened #1365 "Update Glide"
**Is your feature request related to a problem? Please describe.**
New Kotlin version of 1.3.50 uses new annotation processing, which is used by Glide 4.9.0, however, when I update Glide in my application, then it collides with the version you use in your bundle (4.8.0), which crashes my app after some usage.

**Describe the solution you'd like**
Please update Glide used in your library.

[2019-08-23 10:23] wyan-github commented on #1364
I use the old version 2.2.0， in new version no langer use ValueAnimator.

[2019-08-23 10:24] #1364 closed

[2019-08-23 19:51] gpeal commented on #1365
Lottie doesn't use Glide.

[2019-08-23 19:51] #1365 closed

[2019-08-23 19:51] #1363 closed

[2019-08-23 19:51] gpeal commented on #1363
Please follow the template

[2019-08-24 13:36] luckydonald commented on #731
Just for those looking for some kind of *server side rendering* instead of android
(as this question is one of the first google/ddg hits when searching `lottie mp4`):

There is https://github.com/transitive-bullshit/puppeteer-lottie, which also has a CLI version available.

[2019-08-26 07:02] chenni521 opened #1366 "引用报错 implementation 'com.airbnb.android:lottie:3.0.7'"
Error:(1570) resource android:attr/fontVariationSettings not found.
Error:failed linking references.
Error:(11) error: resource android:attr/dialogCornerRadius not found.
Error:(9, 5) error: resource android:attr/dialogCornerRadius not found.
Information:Gradle tasks [:IMLib:generateDebugSources, :IMLib:generateDebugAndroidTestSources, :IMLib:mockableAndroidJar, :CallKit:generateDebugSources, :Cal

[2019-08-26 09:56] donadoo opened #1367 "How to konw play fail status?"
**Describe the solution you'd like**
Only AnimatorUpdateListener and AnimatorListener? how to know play json file with error?
I want to display a gif image if lottie play fail? is there any listener which I can know play fail?

[2019-08-28 10:32] Forrest-Wangind opened #1369 "NullPointerException occurs when using old format json"
when I using old-formated lottie, it's crashed as fellow, and my lottie version is 2.6.1, and sorry for that the json file is not allowed to attach

[loading_bear_android.json.txt](https://github.com/airbnb/lottie-android/files/3550352/loading_bear_android.json.txt)

[code]

[2019-08-28 14:54] ColdstarJoey opened #1370 "Animation Works perfect on the Web but when in Xamarin Forms its looks weird"
I have a set animation that uses trim paths in AE which reveals my logo. when uploading it to the previewer it works but as soon a i put this into Xamarin Forms its looks horrible

here is a link to my animation feel free to look at it in Xamarin or Android Studio. If anybody could recreate for me using AE and BodyMovin correctly this would help me massively as i am running out of time.

https://l

[2019-08-29 02:59] gpeal commented on #1369
Duplicate of #1252

[2019-08-29 02:59] #1369 closed

[2019-08-29 02:59] gpeal commented on #1366
[code]
^ This is not Lottie related

[2019-08-29 02:59] #1366 closed

[2019-08-29 03:01] gpeal commented on #1367
@donadoo You can use a LottieCompositionFactory manually. You can set a failure listener and then call `setComposition` in the success case.

[This](https://github.com/airbnb/lottie-android/pull/1350) is also coming in 3.1.0

[2019-08-29 03:01] #1367 closed

[2019-08-29 04:50] mengzhidaren opened #1371 "Playing animation is normal, but the setProgress can't reach 100%."
**Checklist**
2. I know what part of my animation doesn't work.
json is to :  https://lottiefiles.com/share/Oe7KFi
setProgress(0-1)   bug
the setProgress can't reach 100%  animation，
Playing animation is normal,

[2019-08-29 05:57] mengzhidaren commented on #1371
config   animationView.setMinAndMaxFrame(0, (int) maxFrame);

[2019-08-29 05:57] #1371 closed

[2019-08-29 08:20] donadoo opened #1373 "How to load local lottie file for lottie?"
**Is your feature request related to a problem? Please describe.**
I have download lottie file and save it to /data/data folder, How to load this file?

[code]

it crash with "java.lang.IllegalArgumentException: Unable to parse composition"

How to load local files?