[2016-10-11 02:58] gpeal opened #3 "Create a pluggable JSON parsing module"
Ideally there would be 2 (or n) optional json parsing modules.
1 would use raw json objects so there would be no transitive dependencies
The other would use jackson or another more performant json parsing library.

[2016-10-12 17:11] gpeal opened #4 "Figure out how to get Lottie hardware accelerated"

[2016-10-18 17:19] #4 closed, assigned to nobody

[2016-10-18 17:20] gpeal opened #6 "Try using clipPath for masks"
https://developer.android.com/reference/android/graphics/Canvas.html#clipPath(android.graphics.Path, android.graphics.Region.Op)

[2016-10-31 05:38] #6 closed, assigned to nobody

[2016-12-03 23:17] gpeal opened #16 "Don't draw bitmaps for null layers"

[2016-12-03 23:17] gpeal opened #17 "Use bounds when drawing bitmaps"

[2017-02-01 21:28] felipecsl opened #27 "Reformat java source code to match Airbnb code style"

[2017-02-01 21:41] ber4444 opened #28 "Is this a Facebook Keyframes clone?"
Very similar to https://github.com/facebookincubator/Keyframes, at least you should explain why do we need a new project? What is it that you are improving?

[2017-02-01 21:46] gpeal commented on #28
We do actually mention Keyframes and the differences in the [blog post](https://medium.com/airbnb-engineering/introducing-lottie-4ff4a0afac0e#.qm73q4xek) and [readme](https://github.com/airbnb/lottie-android#alternatives).

Keyframes was built primarily for reactions and includes the After Effects feature set that they needed for reactions. We set out to support as much of After Effects as possibl

[2017-02-01 21:46] #28 closed

[2017-02-01 21:47] #16 closed

[2017-02-02 04:35] felipecsl commented on #3
This is gonna require a fair amount of work to decouple `JSONObject` from `LottieComposition`.
I think first we should flatten the package structure into just `com.airbnb.lottie` so you can keep everything package private and prevent from leaking classes to users (and avoid the `@RestrictTo` annotation).
@gpeal if you agree with that, I could go ahead and break it down into multiple artifacts (jav

[2017-02-02 05:04] the-dagger opened #31 "Pressing "DONE" in the AppintroActivity of Sample App does nothing"
Ideally when the last page of App Intro has reached, on pressing "DONE" the IntroActivity should be closed by calling finish().

Same bug exists in the Google Play version of the sample.

Not a dealbreaker as such, but my OCD compelled me to open an issue for this. :p

[2017-02-02 05:18] vulcanlee opened #33 "Whether can Lottie run in Xamarin ?"
I am a Xamarin programmer and whether can Lottie run in Xamarin ?

[2017-02-02 07:05] hafsalrahman opened #34 "com.airbnb.lottie.LottieAnimationView crashes"
java.lang.RuntimeException: An error occured while executing doInBackground()
                      at android.os.AsyncTask$3.done(AsyncTask.java:304)
                      at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
                      at java.util.concurrent.FutureTask.setException(FutureTask.java:222)
                      at java.util.concurrent.FutureTask.run(Fu

[2017-02-02 08:20] taylorling opened #35 "Cannot select json file stored locally"
I have tried placing the sample json files in my device storage, and from the app, they don't seem to be selectable from the default file manager.

Nexus 6P, running latest stable 7.1.1.

[2017-02-02 13:06] madsbf opened #36 "Support separated x and y values for points"
Currently, Lottie searches for "k" as a direct child of "p". However, in some cases, After Effects animations will have separated keyframes for x and y, resulting in a structure like this:

[code]

LottieComposition will throw an IllegalArgumentException with the message "Point values have no keyframes", when trying to load the above JSON.

It would be nice if Lottie could support this structure a

[2017-02-02 13:28] BoD opened #37 "Trying to use LottieDrawable: animation doesn't start"
Hi!
I just tried Lottie and I could make `LottieAnimationView` work with no problems.

However, I cannot make `LottieDrawable` work, and I wonder what I am doing wrong.

Here is what I do:
[code]

The result is I only see the first frame - the animation doesn't start.
I looked at the source of `LottieAnimationView` to compare, and didn't see any major difference.
Any idea?

[2017-02-02 14:48] bodymovin commented on #36
In case it helps, it gets exported as
[code]

[2017-02-02 15:01] madsbf commented on #36
Thanks for the input. As far as I can tell from the source code, this structure would not be supported by Lottie either.

Slightly unrelated to the original issue, but do you know if my designer is on an older version of Bodymovin or possibly After Effects if the file he exports has the structure in my original comment @bodymovin ?

[2017-02-02 15:11] bodymovin commented on #36
Hmm I don't remember having created it with that structure. Can you send me the exported json to my email?

[2017-02-02 15:30] subtleGradient opened #39 "OutOfMemoryError when loading a ludicrously huge JSON animation on a Galaxy S3"
JSON is 1.5 MB uncompressed, 94 KB zipped.
Lottie should probably switch from JSON to Flatbuffers. I'll open a separate issue for that.

[2017-02-02 15:31] subtleGradient opened #40 "Flatbuffers instead of JSON; Would reduce memory overhead"

[2017-02-02 15:43] Igor-Sh opened #41 "NullPointerException at AnimatableIntegerValue"
[code]

[2017-02-02 16:05] martijn00 commented on #33
I've released bindings for Xamarin Android for Lottie! https://github.com/martijn00/LottieXamarin

It's also available on Nuget: https://www.nuget.org/packages/Com.Airbnb.Android.Lottie/

[2017-02-02 16:55] gpeal commented on #36
Yes! This is a feature I've looked in to supporting! I'll add it to my shortlist :)

In the meantime, you should be able to turn off separate dimensions to work around this.

[2017-02-02 16:56] gpeal commented on #37
If you can attach a sample file, I'll investigate.

[2017-02-02 18:05] Nabeel-khalid opened #43 "Lottie android Renders differently"
Hi Guys,

I'm getting two different out comes when i export. The web one works fine but once i copy the json code into a android project the top corner becomes rounded. Before it was completely disconnected.

[See here for the web link ](http://codepen.io/nabeelkhalid/full/egMwbJ/)

Also here is a gif of the android render

![](http://i.imgur.com/8044V2z.gif)

Thanks

[2017-02-02 18:17] BoD commented on #37
Here is a small project demonstrating the problem:
[LottieTest.zip](https://github.com/airbnb/lottie-android/files/748621/LottieTest.zip)

[2017-02-02 18:19] gpeal commented on #43
@Nabeel-khalid can you attach the AE file/

[2017-02-02 18:20] gpeal commented on #41
@Igor-Sh Can you attach the AE file?

[2017-02-02 18:21] gpeal commented on #40
@subtleGradient I don't want to pull any external dependencies into lottie core. However, I would like to create a pluggable json parser to use Jackson/flat buffers/whatever else.

Let's track this in #3

[2017-02-02 18:21] #40 closed

[2017-02-02 18:22] gpeal commented on #3
@subtleGradient suggested using FlatBuffer. Tracking progress here.

[2017-02-02 18:23] gpeal commented on #3
@felipecsl That sounds like a good plan. Having better scope protection is also definitely good.

[2017-02-02 18:24] gpeal commented on #39
@subtleGradient Can you attach the json file? There may be some things we can do in the meantime to reduce overhead.

[2017-02-02 19:00] bradmartin opened #44 "Add mention of NativeScript plugin"
Repo: https://github.com/bradmartin/nativescript-lottie

Would be nice to have this on the README so devs know it is supported on another framework for mobile development. Thanks. Was fun working with 👍

[2017-02-02 19:12] starship9 opened #45 "Not building on Ubuntu 16.04, Studio 2.2"
The `LottieSample` app is not being compiled by the Studio, for some reason it asks to setup a Gradle plugin, after which it keeps showing the building dialog box indefinitely.
The same thing happened while building the `lottie` app, am I doing something wrong?

[2017-02-02 19:12] #31 closed

[2017-02-02 19:25] gpeal opened #46 "Support stroke width on ellipses"

[2017-02-02 19:30] felipecsl commented on #3
Alright, I'll start going down this path then :)

[2017-02-02 19:36] felipecsl commented on #45
can you build from the command line with `./gradlew build`?

[2017-02-02 21:36] subtleGradient opened #47 "Support Gradient fills"

[2017-02-02 21:58] gpeal commented on #46
The root cause is fixed in https://github.com/airbnb/lottie-android/pull/48

[2017-02-02 21:58] #46 closed

[2017-02-02 22:09] gpeal commented on #44
Awesome! Thanks for putting that together!

[2017-02-02 22:10] gpeal commented on #47
👍  This is on our roadmap :)

[2017-02-02 22:34] bradmartin commented on #44
I'd have submitted a PR, but not sure where you all would prefer it on the README since it's not on Airbnb account like the initial header mention of the RN version.

[2017-02-02 22:34] gpeal commented on #37
Thanks for the report. I have a fix up #49 and will release 1.0.1 soon.

[2017-02-02 22:37] gpeal commented on #44
I don't see the PR. I can put it on the Readme, it'll just be in a different section.

[2017-02-02 22:38] BoD commented on #37
👍

[2017-02-02 22:41] #37 closed

[2017-02-02 22:46] gpeal commented on #34
@hafsalrahman Can you attach the AE file that led to the crash?

[2017-02-02 22:47] gpeal commented on #33
Thanks @martijn00! I'll add this and the NativeScript bindings to the README

[2017-02-02 22:47] #33 closed

[2017-02-02 22:50] martijn00 commented on #33
It's now also available for Xamarin iOS: https://www.nuget.org/packages/Com.Airbnb.iOS.Lottie/

The source is available here: https://github.com/martijn00/LottieXamarin

[2017-02-02 22:52] bradmartin commented on #44
Yea sorry, that reads weird `I'd have submitted`. Meant I would have but didn't know where you would like it. Thanks for adding it though 😄

[2017-02-02 22:53] #44 closed

[2017-02-02 23:05] gpeal commented on #34
This and #41 are coming from the opacity parsing. If you or @Igor-Sh could attach a sample file, I can get a fix out quickly.

[2017-02-02 23:05] gpeal commented on #41
Tracking in #34

[2017-02-02 23:05] #41 closed

[2017-02-02 23:31] gpeal commented on #37
@BoD Can you try again with Lottie 1.0.1? I just released it so it may take a few hours to propagate through maven.

[2017-02-03 00:02] saketkumar95 opened #51 "Letters disappears on changing the screen orientation in FontActivity of Sample App"
Currently when the screen orientation is changed then the letters written disappears.

Expected that letters should not disappears on changing the orientation. :)

[2017-02-03 00:05] saketkumar95 commented on #45
@starship9 I too got this issue. Just try to wait for some time. It just takes time to build the gradle according to system. :)

[2017-02-03 00:17] BoD commented on #37
I just tried, and I confirm it now works :)

[2017-02-03 00:31] gpeal commented on #45
If you see a dialog about gradle when you open the project, use the default gradle wrapper.

I'm going to close this for now unless there is action needed.

[2017-02-03 00:31] #45 closed

[2017-02-03 00:35] gpeal commented on #45
Also, when you open the project, open the root folder of the repo, not LottieSample.

[2017-02-03 01:02] gpeal commented on #35
Thanks for the report. I'll put up 1.0.1 today with a fix.

[2017-02-03 01:02] #35 closed

[2017-02-03 01:28] gpeal commented on #51
I think I may just lock the orientation to portrait ;)

[2017-02-03 01:32] saketkumar95 commented on #51
Can i fix this ??

[2017-02-03 01:34] gpeal commented on #51
@saketkumar95 sure, go for it :)

[2017-02-03 05:15] Igor-Sh commented on #34
No problem. I'll attach it in few hours.

[2017-02-03 06:35] pdenise708 commented on #36
K

[2017-02-03 06:36] pdenise708 commented on #3
K p

[2017-02-03 09:09] Igor-Sh commented on #34
@gpeal do you need exported AE file with all resources or just generated json?

[2017-02-03 09:26] the-dagger commented on #51
Maybe saving the letters entered to bundle and restoring them is a better idea? @gpeal

[2017-02-03 10:09] starship9 commented on #45
It's working fine now, thanks so much!

[2017-02-03 10:15] Nabeel-khalid commented on #43
[loader_2.aep.zip](https://github.com/airbnb/lottie-android/files/750111/loader_2.aep.zip)

Here is the AE file. I'm using After effects CC 2017 on a mid 2014 macbook

[2017-02-03 11:21] saketkumar95 commented on #51
@the-dagger Yeah i too thought of that only but @gpeal said to lock the orientation so created the PR for that. :)

[2017-02-03 12:00] sijangurung opened #55 "Problems in Sample Code"
In android please use:
 LottieAnimationView animationView = (LottieAnimationView) findViewById(R.id.animation_view);

your sample has
 LottieAnimationView animationView = findViewById(R.id.animation_view);
(which will parse to normal view)

[2017-02-03 16:24] saikiran545 opened #56 "regarding dos attck detection program in java"
in this concept clint sends the requests to the server, at the same time server can maintain the queue and counter, when the client sends the requests counter increased to 1.if the same kind of requests coming from the client server would send error message.if the client repeats samething server abruptly disconnect the communication with that client.this is the main concept of dos attack detection

[2017-02-03 16:41] nikoviedo opened #57 "Doesn't work in AE CS6?"
I cant up **bodymovin** in AE CS6. :/

[2017-02-03 17:03] #56 closed

[2017-02-03 17:08] gpeal commented on #27
Fixed by https://github.com/airbnb/lottie-android/commit/d8ff4b979f2c34b7795d457f022e38a5e6b6003e

[2017-02-03 17:08] #27 closed

[2017-02-03 17:10] #55 closed

[2017-02-03 17:11] gpeal commented on #51
@the-dagger Yeah that would definitely work too. I don't see any need for the sample app to be landscape anyways so that seemed like a simpler fix :)

[2017-02-03 17:33] the-dagger commented on #51
Alright, makes sense. :)

[2017-02-03 17:37] sijangurung commented on #55
Thanks.. quick and fast!

[2017-02-03 20:49] 0legg opened #58 "Provide script to strip unused bodymovin features"
As lottie is using only subset of bodymovin features, it'll be a good idea to have script that minifies animation JSON file by dropping unused parts

[2017-02-03 20:53] 0legg opened #59 "Unsynchronized cache construction"
Right now neither strong nor weak cache construction is covered with any synchronization primitives. In case of concurrent animation loading (say, showing list of animation for a first time), due to lack of synchronization we can create multiple instances of each cache, thus get worse performance and larger memory usage.

[2017-02-03 22:43] kosiarska opened #60 "Included sample graphics rights"
Is it possible to use included sample animations in my google play app (not released yet)?

[2017-02-03 23:25] stewjacks opened #61 "Pre-composition support"
Quite a few of our animations are pre-comp'd as we reuse elements. Bodymovin supports them; Am I doing something wrong and/or is this on the roadmap for Lottie? I'm game to look into it.

[2017-02-04 00:26] saketkumar95 opened #62 "Adding templates for issues and Pull Requests"
https://github.com/blog/2111-issue-and-pull-request-templates

This will make sure that important information is not missed in an issue.
**Points in issue template**

- Actual

- Behaviour

- Expected Behaviour
- Steps to reproduce it
- LogCat for the issue
- Screenshots of the issue
- Would you like to work on the issue?

@gpeal Any views on this?

[2017-02-04 02:42] #51 closed

[2017-02-04 02:43] gpeal commented on #61
We don't support precomps yet but it's something I'm very actively looking into adding! Stay tuned!

[2017-02-04 02:47] gpeal commented on #59
@0legg Are you calling `setAnimation` from multiple threads? If all of your calls are coming from the main thread, that shouldn't be necessary.

[2017-02-04 02:47] gpeal commented on #57
I would file this issue on the bodymovin repo directly

[2017-02-04 02:47] #57 closed

[2017-02-04 02:48] gpeal commented on #58
@0legg I would support this :) However, over time, we hope to support most if not all features of bodymovin though.

[2017-02-04 02:49] gpeal commented on #36
@madsbf @pdenise708 @bodymovin I've added support for this in `1.0.2` which I plan to release next week. iOS may take a little longer though.

[2017-02-04 02:49] gpeal commented on #36
Fixed by https://github.com/airbnb/lottie-android/commit/0bace80fc86963e19ad7b17c2bf9127e8b4a48c8

[2017-02-04 02:49] #36 closed

[2017-02-04 02:49] gpeal commented on #34
@Igor-Sh AE file please

[2017-02-04 03:39] gpeal commented on #62
Fixed by https://github.com/airbnb/lottie-android/commit/49783f23f93515b40a0ba81a0540242ea27b2b4c

[2017-02-04 03:39] #62 closed

[2017-02-04 03:39] gpeal commented on #60
Let me get back to you on that. Which one are you interested in using?

[2017-02-04 03:46] dbof10 opened #63 "Crash in Animated Typography Sample"
1. In the sample, I tried to input `Ç` to see how it animate. But it crashed with a logcat

`Caused by: java.io.FileNotFoundException: Mobilo/Ç.json
                                                                     at android.content.res.AssetManager.openAsset(Native Method)
                                                                     at android.content.res.AssetManager.open(AssetManage

[2017-02-04 03:48] gpeal commented on #63
@dbof10 The app only contains animations for A-Z because it's just a tech demo :) I can fix the crash though.

[2017-02-04 03:50] dbof10 commented on #63
I know, like I said  character `Ç ` and `C` have the same keycode. I just want to know your solution.

[2017-02-04 03:54] #63 closed

[2017-02-04 03:55] dbof10 commented on #63
Thanks!!!

[2017-02-04 08:47] 0legg commented on #59
Yes, if we're tied to the single UI thread, then we're fine. But, library user can utilize, for example, [AsyncLayoutInflater](https://developer.android.com/reference/android/support/v4/view/AsyncLayoutInflater.html), so we're no more in a UI-thread only.

Anyway, I think it'll be nice of you to either guard cache with thread-safety operation, or explicitly mark class as thread-unsafe.

[2017-02-04 10:03] ntsparis opened #64 "Change minSdkVersion"
Actually i am wonder if is possible for the near future to implement support for minSdkVersion 15.

Thanks a lot!

[2017-02-04 11:11] kosiarska commented on #60
@gpeal
Only one, jumping location icon. Btw. great library :+1:

[2017-02-04 17:16] therealsalih commented on #43
Hi Nabeel!
I think we found the issue. its something with the way Lottie is handling the first vertex on a path. It's not properly closing it up. We're looking into fixing it. In the mean time if you want a temporary work around you can just use a rectangle shape instead of a path. I tried that out and it works. Here's he ae file for that

 attached it here
[loader_3.aep.zip](https://github.com/ai

[2017-02-04 19:05] pranayairan opened #65 "[Bug] Lottie is not releasing memory even after activity/fragment is destroyed."
I tried Lottie sample app and in my own app as well. Once we open activity/fragment with LottieAnimationView and exit that activity, the memory is still allocated. I used android studio memory monitor tool to get memory footprint of the app.

Ideally it should free up the memory if that Animation is not used anymore.

Here is my screenshot showing memory allocation before opening Typographic activ

[2017-02-05 03:20] dighialamgir opened #66 "Big"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-05 05:56] gpeal commented on #66
I think you forgot to explain your problem.

[2017-02-05 05:56] #66 closed

[2017-02-05 11:20] satria977 commented on #65
https://cloud.githubusercontent.com/assets/430940/22620876/c9875ed6-eac9-11e6-9a55-c424fa86ae03.png

[2017-02-06 03:00] navinpd opened #69 "Minimum supported Gradle version is 3.3. Current version is 2.14.1"
While building Lottie sample android project I am getting build error as:
Minimum supported Gradle version is 3.3. Current version is 2.14.1. If using the gradle wrapper, try editing the distributionUrl.

[2017-02-06 03:03] navinpd commented on #69
While building Lottie sample android project I am getting build error as:
Minimum supported Gradle version is 3.3. Current version is 2.14.1. If using the gradle wrapper, try editing the distributionUrl.

[2017-02-06 03:11] gpeal commented on #69
@navinpd When you opened the project did you:
1) Open the root of the repo, not LottieSample
2) Use the default gradle wrapper or choose a custom one?

[2017-02-06 03:39] navinpd commented on #69
I tried using LottieSample got above mentioned error.
While importing root of repo I was getting another error as:
Error running Lottie sample. This version of Android Studio is incompatible with Gradle plugin used.
Disabling instant run helped running it.
Thanks.

[2017-02-06 03:42] gpeal commented on #58
Right now my top priority is going to be around supporting more After Effects features and performance so I won't be able to do this for quite some time (if ever).

I'm going to close this issue but feel free to write one :)

[2017-02-06 03:42] #58 closed

[2017-02-06 03:50] #69 closed

[2017-02-06 05:01] gpeal opened #70 "Create HoldAnimator for hold keyframes"

[2017-02-06 06:00] rishabh876 commented on #64
Even I would like to see support till 14. Any explanation why minSdkVersion  is 16?

[2017-02-06 06:06] est7 opened #71 "Add image support"
my animator need to operate some .png img ,build a new folder "images" and  put  .png file in it .
json like this:"
{
  "assets": [
    {
      "id": "image_0",
      "w": 200,
      "h": 120,
      "u": "images/",
      "p": "img_0.png"
    }
  ],
...
} "
but I has run app ,can't see  anything without empty

[2017-02-06 08:28] qmetzler-luna opened #72 "Crash on master with my animation"
I have a crash when loading an animation I put in the assets folder of the sample app.

Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
                                                                       at com.airbnb.lottie.AnimatableIntegerValue.<init>(AnimatableIntegerValue.java:17)

[2017-02-06 08:31] qmetzler-luna commented on #72
[adin.pdf](https://github.com/airbnb/lottie-android/files/754007/adin.pdf)
(couldn't upload a .aep so I renamed it to .pdf

[2017-02-06 10:49] Nabeel-khalid commented on #43
@therealsalih Thank you! I did try redrawing the shape. I think it maybe because the file was created in AE '16 and then i updated to AE 2017.

[2017-02-06 16:06] zackpollard commented on #71
I would also like to know this, from what I can see this either isn't supported by lottie yet or isn't documented anywhere.

[2017-02-06 17:05] rjk40 commented on #69
Grade version 3.3

On Feb 5, 2017 11:33 PM, "navinpd" <notifications@github.com> wrote:

[2017-02-06 17:05] gpeal commented on #71
@est7 @zackpollard Lottie doesn't yet support images but I've gotten a few requests for it so I'll look in to supporting it in future versions.

[2017-02-06 17:08] zackpollard commented on #71
That would be great, this is a great library for animations, and would be great if it supported animations using static content that can't be vectorised too :)

[2017-02-06 17:25] therealsalih commented on #72
I took a look at your AE file and it looks like you're using precomps which Lottie doesn't support just yet. We will be adding precomps in a new release very soon. Until then you'll have to bring everything into one comp Follow https://github.com/airbnb/lottie-android/issues/61 to track precomp support

[2017-02-06 17:58] TomKilleenBBC opened #73 "After Effects Samples"
Hi Gabriel,

Any chance of getting downsaved versions of the After Effects samples? I can't open them in AE CC15.

Lottie looks great BTW. It'll be really useful for me once I figure out how to embed vectors rather than have them included as linked files.

Thanks!

[2017-02-06 18:15] qmetzler-luna commented on #72
Great news! Thank you for the answer and for this amazing library.

Keep up the good work!

On Mon, Feb 6, 2017, 18:25 therealsalih <notifications@github.com> wrote:

--
Quentin Metzler
*Lunabee Studio *| Android Lead Developer | +33 6 47 96 46 49
<+33%206%2095%2026%2058%2035> | www.lunabee.studio

[2017-02-06 18:47] therealsalih commented on #73
Hi Tom,
Heres the saved down AE files.

[_AeFiles CC 2015.zip](https://github.com/airbnb/lottie-android/files/755547/_AeFiles.CC.2015.zip)

Cheers!

[2017-02-06 20:55] #73 closed

[2017-02-06 20:55] gpeal commented on #73
@TomKilleenBBC

[2017-02-07 00:42] tribbianiwang opened #74 "Hope you can make Lottie supports Ice Cream Sandwich(API 14) ,that will be very nice^o^"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-07 00:58] gpeal opened #75 "Support animating trim paths on multiple shapes individually"
See: https://github.com/airbnb/lottie-ios/issues/22

[2017-02-07 00:59] yozef commented on #75
Great :)

[2017-02-07 07:03] imankitaman commented on #65
@pranayairan  I tried **ButterKnife Unbinder** and in DestroyView I  called **unbinder.unbind().** It is working fine for me.

[2017-02-07 08:48] modplug commented on #33
It is now also available for Xamarin Forms: (https://github.com/martijn00/LottieXamarin)

[2017-02-07 10:18] lord19871207 commented on #64
I also want to know the reason why minSdkVersion is 16。

[2017-02-07 10:22] TomKilleenBBC commented on #73
That's awesome, thanks @therealsalih !

[2017-02-07 20:57] gpeal commented on #64
I set it at 16 because that's our minSdk at Airbnb. I can investigate lowering it to 14 or 15. No guarantees but I'll take a look.

[2017-02-07 20:57] gpeal commented on #74
Tracking in #64

[2017-02-07 20:57] #74 closed

[2017-02-07 20:59] gpeal commented on #72
@qmetzler-luna I'll look in to your crash for the next release

[2017-02-07 21:00] gpeal commented on #34
@Igor-Sh can you attach the AE file so I can take a look at this for the next release?

[2017-02-07 21:49] gpeal commented on #70
see if you can replace isDescrete with it

[2017-02-08 02:59] pranayairan commented on #65
@imankitaman I am not sure about BK but i tried this 2 methods, i tried setting LottieAnimationView reference to null or LottieAnimationView.clearAnimation but neither of this worked. The memory is still not released.

[2017-02-08 03:47] gpeal commented on #65
@pranayairan I'll take a look at this

[2017-02-08 06:10] muthuraj57 opened #77 "Reduce support library version"
Lottie uses appcompat library version 25.1.1

https://github.com/airbnb/lottie-android/blob/master/lottie/build.gradle#L24

I'm using 24.1.1 version of support library. When adding lottie dependency, android studio changes my app support library version to the latest version used by any dependencies which here is 25.1.1

I'm not moving to 25.1.1 due to certain bugs in that version. It would be bet

[2017-02-08 07:14] Adnan9011 opened #78 "gradle error for instant run"
i have this error :

Error:Could not determine the dependencies of task ':LottieSample:transformClassesWithInstantRunForDebug'.

Android Studio 2.1.3
Ubuntu 14.04
i just change buildToolsVersion from 25.0.2 to 25.0.0 , and doesn't change anything from root project .

thanks in advance

[2017-02-08 07:16] gpeal commented on #65
@pranayairan I just tried this and after forcing a GC (the garbage truck icon), memory returned to the original value of ~4mb.

[2017-02-08 07:16] #65 closed

[2017-02-08 07:17] gpeal commented on #78
You need to install the api 17 platform tools in the sdk manager her: https://developer.android.com/studio/intro/update.html
or disable instant run (settings -> build, execution, deployment -> instant run)

[2017-02-08 07:17] #78 closed

[2017-02-08 07:21] gpeal opened #79 "Set progress to 1 if the user has animations turned off"

[2017-02-08 07:24] Adnan9011 commented on #78
for another one that have this issue :
if you use Android Studio 2.1 , you haven't instant run . the solution should be install your sdk for your device .
if you use Android Studio 2.2 , disable instant run .

thanks @gpeal

[2017-02-08 09:41] muthuraj57 commented on #77
Found a workaround to override version.
This excludes the support library dependency from lottie. Hence the support library added in app gradle will be used.

`compile ('com.airbnb.android:lottie:1.0.1'){
        exclude group: 'com.android.support'
    }`

[2017-02-08 14:01] Igor-Sh commented on #34
Yes, sorry for so long delay)
[animation_out.zip](https://github.com/airbnb/lottie-android/files/760795/animation_out.zip)

[2017-02-08 18:00] subtleGradient opened #80 "Support trim path offset"
Trim path start and end works.
But trim path offset does not yet.

[2017-02-08 20:01] Thanhphong0407 opened #81 "P"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-08 20:10] gpeal commented on #81
This issue contains no information

[2017-02-08 20:10] #81 closed

[2017-02-08 20:26] therealsalih commented on #80
Seems like its working on our end, can you send our AE file?

![feb-08-2017 12-25-27](https://cloud.githubusercontent.com/assets/5893643/22755850/cd498b42-edf9-11e6-811a-ba6295090eee.gif)

[2017-02-08 20:29] gpeal commented on #77
I'll upgrade our gradle dependencies to require the support library to be provided:
`provided 'com.android.support:appcompat-v7:25.1.1'`

[2017-02-08 20:31] #77 closed

[2017-02-08 21:30] Thanhphong0407 opened #82 "B"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-08 21:43] gpeal commented on #82
This issue contains no information

[2017-02-08 21:43] #82 closed

[2017-02-08 22:39] gabodroid commented on #34
We got the same error. I found out it's because the opacity is a float value in the JSON file. Lottie is expecting an Integer, so initialValue stays null and you call intValue() method on a null. I don't know if it's an AE or Bodymovie error that the opacity is a float value. You can find the corrupted JSON part on this [link](https://paste.ofcode.org/w9sHCeRa9r8kfF5d2V4WbE).

[2017-02-08 22:49] gpeal commented on #34
Thanks @gabodroid I'll have this fixed in the next dot release.

[2017-02-08 22:52] gpeal commented on #80
@subtleGradient can you attach the AE file of the animation that's not working?

[2017-02-09 06:30] gpeal commented on #34
@gabodroid I think you have a different issue. Your json contains no layers and has some expressions.
Lottie doesn't support expressions yet. Do you know why your exported json has no layers?

[2017-02-09 06:32] #72 closed

[2017-02-09 06:32] gpeal commented on #34
@gabodroid https://github.com/airbnb/lottie-android/commit/e7664e2c5e2b6d2588f36216248cb4a72d523dc2 will fix the decimal opacity though

[2017-02-09 06:46] #79 closed

[2017-02-09 06:58] #64 closed

[2017-02-09 06:59] gpeal commented on #64
I lowered the minSdk to 14 and made the API changes necessary. Neither Google nor Genymotion has ICS emulators available anymore so it's untested. Let me know if it works.

[2017-02-09 07:07] #34 closed

[2017-02-09 07:12] #59 closed

[2017-02-09 07:22] gpeal commented on #39
@subtleGradient so I spent way too many hours this week migrating over the JsonReader. However, the existing json structure of bodymovin makes it *incredibly* inconvenient unfortunately. I'm going work with Hernan from bodymovin to figure out a good solution here.

[2017-02-09 07:26] gabodroid commented on #34
@gpeal thank you for the quick fix. I sent you only that part of the JSON file, which one was causing the error. We have layers in the whole JSON file.

[2017-02-09 07:34] gpeal commented on #72
@qmetzler-luna follow https://github.com/airbnb/lottie-android/issues/61 for precomp support

[2017-02-09 08:44] lizheng98 commented on #71
Me really looking forward

[2017-02-09 18:08] gpeal commented on #80
@kevinrob have you had issues with trim path offset? If so, can you attach a sample AE file?

[2017-02-09 18:29] Kevinrob commented on #80
@gpeal yes, but I wait for the AE file. Then I will add it here.

[2017-02-09 20:59] gpeal opened #84 "Support trim paths on rectangles"

[2017-02-09 21:44] #43 closed

[2017-02-09 22:40] gpeal opened #85 "Apply stroke trim path to fill as well"

[2017-02-10 05:51] gkathir15 opened #86 "About licencing issues"
As seen so far,
there is no license specified,
so if I have this to be used in my projects which may be used commercial,
does Bodymovin come under Gnu or open source license or how
Will there be any legal issues forward?

[2017-02-10 06:41] weiweixiaoyi commented on #71
I am looking forward to it.

[2017-02-10 16:11] qkrthgusqhwlrnajd opened #87 "강원랜드친구들＼＼〃〃NFP34。COM〃〃＼＼ 온라인바카라"
강원랜드친구들＼＼〃〃NFP34。COM〃〃＼＼  ゑ카지노사이트ね온라인바카라ゑ온라인카지노げ로얄바카라は바카라사이트ど카지노사이트べ온라인바카라ゆ온라인카지노き로얄바카라た바카라사이트わ카지노사이트ぐ온라인바카라け온라인카지노と로얄바카라ぽ바카라사이트ぉ카지노사이트ば온라인바카라ほ온라인카지노め로얄바카라ぐ바카라사이트ぞ카지노사이트ぉ온라인바카라ん온라인카지노ぇ로얄바카라す바카라사이트ご카지노사이트と온라인바카라あ온라인카지노ふ로얄바카라ぅ바카라사이트り카지노사이트だ온라인바카라り온라인카지노み로얄바카라ぜ바카라사이트く카지노사이트げ온라인바카라ろ온라인카지노ゑ로얄바카라ま바카라사이트も카지노사이트ぱ온라인바카라ゃ온라인카지노す로얄바카라ゐ바카라사이트お카지노사이트ょ온라인바카라ぢ온라인카지노ろ로얄바카라ぷ바카라사이트ゅ카지노사이트ぬ온라인바카라ま온라인카지노べ로얄바카라す바카라사이트

[2017-02-10 18:17] gpeal commented on #36
@madsbf @pdenise708 1.0.2 is now live. Can you try split dimensions?

[2017-02-10 18:19] gpeal commented on #64
1.0.2 is now live, I haven't been able to test lottie on ics but I lowered the minsdk and fixed the necessary apis. Can you try?

[2017-02-10 19:26] mauricio9308 opened #89 "Execute CompositionLoader classes with the Thread Pool Executor"
I have encountered with an special case that involves multiple AsyncTasks running in a Context, where the fact that the Composition Loader is running in the basic AsyncTask Executor is causing problems with the task execution order.

I don't know if there's a reason, on why the loader task are executed this way, but it would be great to take a look on this.

[2017-02-11 03:56] MrBuggySan commented on #77
Thank you @muthuraj57 !

[2017-02-11 10:02] Kevinrob commented on #80
@gpeal The problem was in our AE file, I don't know what. But I receive a new JSON that work good!

[2017-02-11 17:02] hansemannn commented on #86
The Lottie library is under [Apache 2](https://github.com/airbnb/lottie-android/blob/master/LICENSE), Bodymovin under [MIT](https://github.com/bodymovin/bodymovin/blob/master/LICENSE.md).

[2017-02-11 19:31] gkathir15 commented on #86
Yeah Thanks @hansemannn

[2017-02-12 02:51] Hanafee opened #90 "MAXIS"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-12 02:53] Hanafee commented on #90
ชอบมากเลย
มันเล่นดีจิงๆคับก

[2017-02-12 02:54] Hanafee opened #91 "HOTLI"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-12 09:00] taejungkim opened #92 "how to reverse animation?"
I want to playing reverse animation after cancel animation.

Instead of using Handler and LottieAnimView.setProgress(x) to reverse played time,
i want to find other ways.
ex) ValueAnimator.reverse()

[2017-02-12 10:40] taejungkim commented on #92
I solved this issue.

[code]

[2017-02-12 13:16] nickaein-a opened #93 "LottieDrawable is package visible in v1.0.2"
can't use LottieDrawable anymore.
whats the solution?
is there any alternative?
how can i set animation to ImageView

[2017-02-12 15:42] #91 closed

[2017-02-12 15:42] #90 closed

[2017-02-12 15:43] gpeal commented on #93
Ah, that was an accident during a recent change. I'll push out 1.0.3 with it fixed.

[2017-02-12 15:44] gpeal commented on #93
@felipecsl fyi

[2017-02-12 16:25] nickaein-a commented on #93
@gpeal thank you

[2017-02-12 20:19] Hanafee opened #94 "MAXIS"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-13 05:16] hyperdo opened #96 "Subtitle text in example GIF is wrong"
On the third GIF of [this example](https://github.com/airbnb/lottie-android/blob/master/gifs/Example3.gif), the "Great" text does not update depending on the amount of stars.

[2017-02-13 06:14] wildstarzw commented on #92
I also had this problem, you can try clearAnimation() and setAnimation again. Its work for me.

animationView.setAnimation("animation.json")
animationView.visibility = View.VISIBLE
animationView.addAnimatorUpdateListener {
    if (it.animatedFraction == 1f) {
        animationView?.let {
            it.visibility = View.INVISIBLE
            it.clearAnimation()
        }
    }
}
animationView.play

[2017-02-13 06:46] ythink928 opened #97 "Does lottie support assets image?"
My json animation is look like the following:

"assets": [{
		"id": "image_0",
		"w": 143,
		"h": 119,
		"u": "images/",
		"p": "img_0.png"
	}],

Does lottie support assets image?

[2017-02-13 06:48] #97 closed

[2017-02-13 07:59] gpeal commented on #92
Fixed by https://github.com/airbnb/lottie-android/commit/0ca8ad880ae565a4c67ea849b89f37b38de0cc21

Will be in 1.0.3

[2017-02-13 07:59] #92 closed

[2017-02-13 08:00] gpeal commented on #93
The first tagged commit is not relevant, only the second.

[2017-02-13 08:01] #94 closed

[2017-02-13 08:01] #86 closed

[2017-02-13 08:02] #80 closed

[2017-02-13 08:10] wingjay commented on #77
Thank you @muthuraj57 !

[2017-02-13 08:16] #85 closed

[2017-02-13 08:55] madsbf commented on #36
I have verified this is working with 1.0.2 @gpeal ! Thanks for the swift response 👍

[2017-02-13 12:08] MrGatsby2 opened #98 "Add support for Polystars"
hi,man.
I got a problem,here is the html file
[demo.txt](https://github.com/airbnb/lottie-android/files/770945/demo.txt)

 create by AE CC 2015,(plz change the  postfix to .html)as you could see the effect, there is a circle and a triangle.
however,when I run the EXACTLY SAME json file (the json string you can find in the html file) I only got the cirle animation,there's no triangle. Is this a bug

[2017-02-13 14:45] therealsalih commented on #98
Can you attach the AE file?

[2017-02-13 15:11] JulienGenoud opened #99 "I can't play Annimation from the sample app"
on Xiaomi Mi5 and honor 8,
the animation won't play.

i don't have more debug to provide.

? I/art: Late-enabling -Xcheck:jni
? D/TidaProvider: TidaProvider()
? V/BoostFramework: mAcquireFunc method = public int com.qualcomm.qti.Performance.perfLockAcquire(int,int[])
? V/BoostFramework: mReleaseFunc method = public int com.qualcomm.qti.Performance.perfLockRelease()
? V/BoostFramework: mAcquireTouc

[2017-02-13 17:55] gpeal commented on #99
@JulienGenoud Do you have animations disabled?

[2017-02-13 18:25] JulienGenoud commented on #99
that the point thanks ! @gpeal

[2017-02-13 18:25] #99 closed

[2017-02-13 20:04] SabrinaCurry opened #100 "Animation not working on mobile"
When I render out the animation with Bodymovin, it works fine on web but when placed in mobile elements start to get distorted or don't show at all. Any idea what may be the problem? Looked through the unsupported feature list and none of the unsupported features are being used in the animations so not too sure whats happening.
[lottie-issues.mov.zip](https://github.com/airbnb/lottie-android/files

[2017-02-13 20:22] gpeal commented on #98
@MrGatsby2 ^

[2017-02-13 20:26] gpeal commented on #98
@MrGatsby2 I just took a look at your json. The second layer doesn't render because we don't currently support stars. Convert the layer into a shape and it should work.

[2017-02-13 20:51] therealsalih commented on #100
Can you send an AE file so we can check out which features aren't coming through?

[2017-02-13 21:28] SabrinaCurry commented on #100
Here are the project files, thanks for your help!

[Lotti_Animations.zip](https://github.com/airbnb/lottie-android/files/772459/Lotti_Animations.zip)

[2017-02-13 21:42] gpeal commented on #100
From the looks of it, acorn and sappling look fine. Phone is fine except that the numbers are filled in which I'll look in to. Coffee has some issues which I'll also investigate.

[Animations.zip](https://github.com/airbnb/lottie-android/files/772483/Animations.zip)

[2017-02-13 21:44] therealsalih commented on #100
In Coffee you're using Alpha Inverted mattes which Lottie doesn't yet support

![screen shot 2017-02-13 at 1 43 11 pm](https://cloud.githubusercontent.com/assets/5893643/22904744/6a46aa00-f1f2-11e6-9a67-1c38e083df46.png)

If you want to work around that for now just change your matte to alpha matte and move the path to the other side

![screen shot 2017-02-13 at 1 44 23 pm](https://cloud.githubuse

[2017-02-13 21:50] gpeal commented on #100
And the numbers are filled in because they use merge paths which we don't support yet. I'll look into adding support for it though.

[2017-02-13 21:57] SabrinaCurry commented on #100
Thank you guys for all of the help! Do you know why the others are having issues with Lottie? Is there a certain way it needs to be exported with Bodymovin or is it something with the code?

[2017-02-13 21:59] gpeal opened #101 "Add support for merge paths"

[2017-02-13 21:59] gpeal opened #102 "Add support for alpha inverted masks"

[2017-02-13 21:59] gpeal commented on #100
You can track alpha inverted masks and merge paths in #101 and #102

[2017-02-13 22:29] gpeal commented on #100
@SabrinaCurry Which other issues are you referring to?

[2017-02-13 22:45] SabrinaCurry commented on #100
When we try to bring things onto a mobile platform some parts of the illustration are disappearing
![screen shot 2017-02-13 at 2 44 39 pm](https://cloud.githubusercontent.com/assets/20654101/22906811/20b4ce5e-f1fb-11e6-9c47-d3bf03d97db6.png)
![screen shot 2017-02-13 at 2 44 58 pm](https://cloud.githubusercontent.com/assets/20654101/22906810/20b47da0-f1fb-11e6-9887-db0fcc1e05c2.png)

 for example t

[2017-02-13 22:58] therealsalih commented on #100
Thats weird... Maybe try updating to the latest version...

Those three seem to be working fine on my simulator

![feb-13-2017 14-57-28](https://cloud.githubusercontent.com/assets/5893643/22907203/d6829300-f1fc-11e6-9e4a-09b4c5540ac2.gif)

[2017-02-13 23:01] buba447 commented on #100
@SabrinaCurry I fixed this issue over on the iOS repo and replied to your issue posted over there. Please check it out! :)
The issue on iOS
https://github.com/airbnb/lottie-ios/issues/89

Fix here
https://github.com/airbnb/lottie-ios/pull/90

[2017-02-13 23:09] SabrinaCurry commented on #100
@buba447 Thank you so much!

@therealsalih I let my team know about the update solution, hopefully that should solve that issue. Thanks for all of your help, greatly appreciated!

[2017-02-13 23:11] SabrinaCurry commented on #100
Thanks for all of your help as well @gpeal!

[2017-02-13 23:14] gpeal commented on #100
@SabrinaCurry great! I'm going to close out this issue then. Feel free to track #101 and #102

[2017-02-13 23:14] #100 closed

[2017-02-14 01:12] taejungkim opened #103 "getProgress retrun awlays zero."
[code]

[2017-02-14 02:00] gpeal commented on #103
@taejungkim I currently use this in the sample app here: https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/java/com/airbnb/lottie/samples/AnimationFragment.java#L117

Can you attach a sample project if you think this is still broken?

[2017-02-14 02:25] gpeal opened #105 "Use GammaEvaluator instead of ArgbEvaluator"

[2017-02-14 04:25] chetanya-shrimali commented on #96
where do i find the relevant files.... Since i am new to lottie .

[2017-02-14 05:02] gpeal commented on #96
@chetanya-shrimali Lottie is just the rendering library. You use it with your own animations.
@hyperdo was just referring to the example gif on the readme. We don't ship animations outside of the ones in the sample app.

[2017-02-14 05:02] gpeal opened #106 "Support rounded corners outside of a rectangle properties."

[2017-02-14 05:31] therealsalih opened #107 "Rectangle size animation bugs"
There are some bugs with the rectangle size when it animates. Most notably, when I apply any easing along the Y axis it is ignored. JSON files and AE file are here:
[RectangleSize.zip](https://github.com/airbnb/lottie-android/files/773195/RectangleSize.zip)

FYI Heres a breakdown of the files that look different
01 through 03 all look right.
Rect_Size_04_YsideonlyEased - it is different. It doesn'

[2017-02-14 05:38] taejungkim commented on #103
I said LottieAnimView.getProgress() method is broken.

https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/java/com/airbnb/lottie/samples/AnimationFragment.java#L179

Sample code is no problem. Because called LottieAnimView.setProgress() in OnSeekBarChangeListener.

https://github.com/airbnb/lottie-android/blob/master/LottieSample/src/main/java/com/airbnb/lottie/samples/Anim

[2017-02-14 15:25] taejungkim commented on #103
In addition, I think you should remove progress field in the LottieAnimView class, and the getProgress() method of LottimeAnimView should return the value of lottieDrawable.getProgress().

[2017-02-14 17:33] martinbonnin commented on #92
Could we possibly have a `setSpeed()` method and pass `-1` to reverse the animation ?

[2017-02-14 19:06] #103 closed

[2017-02-14 19:06] gpeal commented on #103
@taejungkim This will be fixed in the next release.

[2017-02-14 19:08] gpeal commented on #89
@mauricio9308 This would be a nice improvement. Feel free to submit a PR to get this in sooner. If not, I'll try to get around to it soonish.

[2017-02-15 03:55] gpeal commented on #92
@martinbonnin you got it :)

[2017-02-15 04:31] MrGatsby2 commented on #98
okay,thanks, I'll try it. @gpeal

[2017-02-15 10:17] MrGatsby2 commented on #98
I'v succeed by convert the layer into a shape, hope you guys could support Polystars asap !

[2017-02-15 19:49] gpeal commented on #84
Fixed by https://github.com/airbnb/lottie-android/commit/02fd8dda61054988779195646ec8928cbb84ef86

[2017-02-15 19:49] #84 closed

[2017-02-15 19:52] gpeal commented on #96
Fixed by https://github.com/airbnb/lottie-android/commit/44ff69a149b964ac1224e09d4d4d958903ba1c67

[2017-02-15 19:52] #96 closed

[2017-02-16 03:33] qinyang1018 opened #108 "test animate typography error"
test animate typography
![image](https://cloud.githubusercontent.com/assets/15726024/23006216/7917d9b4-f43b-11e6-991d-8a19418cf33a.png)

[2017-02-16 03:40] chienpao opened #109 "AnimatableIntegerValue on a null object reference"
I have encountered a bug when I load my own json file,
I also send my AE file to Airbnb mail, please help to fix the bug, many thanks.
the error log as below,

02-16 11:35:06.965 11133-11326/? E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #2
                                                   Process: com.airbnb.lottie, PID: 11133
                                                   java.lang.RuntimeE

[2017-02-16 03:46] chienpao commented on #109
Excuse me, I just put my json file and AE file here, please check. thanks.
Json file [http://chienpao.com:5000/fbsharing/G4PO4ZR6](url)
AE file [http://chienpao.com:5000/fbsharing/boJwueO4](url)

[2017-02-16 05:46] gpeal commented on #109
@chienpao Can you try updating to Lottie 1.0.3 and trying again? It should be fixed.

[2017-02-16 05:47] gpeal commented on #108
@qinyang1018 I'm about to make this not crash again. You can track the progress of polystars in #98 though.

[2017-02-16 05:47] #108 closed

[2017-02-16 05:50] qinyang1018 commented on #108
ok thank you

[2017-02-16 07:03] gpeal commented on #109
@chienpao I was successfully able to play this animation on master.

[2017-02-16 07:03] #109 closed

[2017-02-16 08:22] gpeal commented on #105
Fixed by https://github.com/airbnb/lottie-android/commit/c2618cea27b4a75fea8ebdfcaa40c6b21e989e2b

[2017-02-16 08:22] #105 closed

[2017-02-16 08:22] #70 closed

[2017-02-16 09:23] chienpao commented on #109
@gpeal thanks for ur help, I will try this.

[2017-02-16 16:35] xgear-public opened #112 "Animation max size"
I have animation with following spec:
[code]
I want to achieve behavior when animation view fits on screen width.
If i set to LottieAnimationView layout_width="match_parent" and layout_height="wrap_content" i faced with following issue on phones:
if phone's width is 1440px(samsung s7), animation viewport width is 1000px because of LottieComposition MAX_PIXELS = 1000 constraint. So i got space betw

[2017-02-16 21:10] ghost opened #113 "Add support for mask expansion"
For some reason, in my own app, Lottie will not play a specific animation I have designed. It works for one of the included samples, or a more simple animation I make in AE, but not this specific one:

https://mega.nz/#!z1s1RaCb!cOs8SUHrdzp3qfXYOlfFlXf2wZeItFF4d5RPVFg_JWo (composition I'm trying is Main New)

I first had everything in precomps, but learned that it doesn't support it, so I made a n

[2017-02-16 23:28] gpeal commented on #60
@kosiarska The included animations fall under the same license as the repo.

[2017-02-16 23:28] #60 closed

[2017-02-17 01:06] bearprada commented on #47
do you have a document to describe the roadmap for this awesome project? @gpeal

[2017-02-17 01:25] gpeal commented on #113
@trivisionzero We don't yet support mask expansion.
You can try animating the scale on an ellipse instead for now.

[2017-02-17 02:24] EricInCD opened #116 "High CPU usage"
Hi,I'm using Lottie on Android,it's really fantastic,but I found a problem.
Before entering the activity which was using lottie,CPU usage is less than 1%,but when I entered it,CPU usage increased to more than 15% and never go down even I quit the activity.

CPU usage:
before:0.85%
entered:17.51%
quit:15.52%

[2017-02-17 02:33] gpeal commented on #47
@bearprada I'll add one to the readme :) Many feature requests are tracked in issues though and I'll try to tag them to releases when possible.

Some precomp support and polystar support as well as a few other things are coming soon!

[2017-02-17 02:34] gpeal commented on #116
@EricInCD Can you attach a sample project that repros this?

[2017-02-17 02:34] gpeal commented on #112
@xgear-public seems like a reasonable restriction to remove if there are no masks or mattes.

[2017-02-17 02:59] EricInCD commented on #116
I created a new project, but I cannot reproduce it, so I think it's my issue.😓

[2017-02-17 02:59] #116 closed

[2017-02-17 07:14] xingxingxiaoyu opened #119 "Just for telling you."
I load all jsonFile of your App to a ReceiverView for test,and the Appication dead.

[2017-02-17 07:22] xuwab opened #120 "Add support for trim path,track mattes"
Hello，
   **   I have some problems with using the library.

Here is my ae and json file**
[https://github.com/xuwab/lottiefile/archive/master.zip](url)

There are two ae and json  files, gifs and screenshots. The first ae called "mloading" using trim path and track mattes,but the lines are thicker and the annimations in device are so differrent.
The second ae file use adjusting the opacity and sc

[2017-02-17 09:10] xgear-public commented on #112
If it is possible - it would be great. Furthermore, i think it would convinient to respect LottieView match_parent atribute in this case. I mean fit animation viewport to screen width(height) if json.getInt("w") * composition.scale more than screen width(height).

[2017-02-17 17:00] gpeal commented on #119
@xingxingxiaoyu can you attach a stack trace?

[2017-02-17 21:59] 0legg opened #122 "Unnecessary memory allocations in NumberKeyframeAnimation"
Issue: If you take a look at memory consumption during the animation (in AS Memory Monitor for example), then you can mention that memory consumption is increased during the animation. I traced memory allocations, and it happened that ≈99% of allocations happens under the hood of `NumberKeyframeAnimation` class. So, as it's generic and parametrized with `Number` (either `Integer` or `Float`), ther

[2017-02-17 22:06] 0legg opened #123 "Lot of unnecessary try/catch blocks in parsing code"
Issue: So, exceptions are expensive — https://shipilev.net/blog/2014/exceptional-performance/ . In parsing code there are lot of `try/catch` blocks handling `JSONException` with empty `catch` blocks. In fact, these blocks are for reading optional fields. We can use `opt*` methods of `JSONObject` instead of `get*`, behavior under the hood is the same, but `get*` tries to raise an exception, while `

[2017-02-17 23:13] 0legg commented on #123
If you have no enough time to put your hands on it, I can make a pool request soon =) Probably, with introducing pluggable architecture this issue will become obsolete.

[2017-02-17 23:13] 0legg commented on #122
If you have no enough time to put your hands on it, I can make a pool request soon =)

[2017-02-18 01:42] gpeal commented on #123
@0legg great improvement with opt*.

I actually spent a very long time moving everything over to JsonReader which removed this entirely and was way faster and more performant. However, far into the refactor, there were issues with the location of data and structure of the bodymovin json that made it extraordinarily difficult. You can see my attempts here: https://github.com/airbnb/lottie-android/c

[2017-02-18 01:43] gpeal commented on #122
@0legg good catch. I was concerned with this when I wrote it but haven't had the chance to do actual profiling yet. I'll definitely look in to this.

[2017-02-18 01:51] gpeal commented on #120
@xuwab you have the stroke width set to 1 which is 1dp on Android which is tiny. There is going to be some anti aliasing done by the platform so what you're left with is something extremely thin.
I think what I'm seeing as far as stroke width is concerned is actually correct on the device but you may see slight differences due to platform aliasing.

For the second one, merge paths aren't supported

[2017-02-18 01:51] #120 closed

[2017-02-18 02:58] #119 closed

[2017-02-18 06:08] hzsweers commented on #3
@felipecsl did you start this? If not I'd like to contribute. I think the core of this is that a composition should be constructable via some conventional way (maybe a builder?). The default could basically be the current JSONObject implementations, with maybe some batteries-included optional artifacts that do it with gson/moshi/etc.

[2017-02-18 10:55] xingxingxiaoyu commented on #119
Sorry,my test appication was deleted because of some reason,but it was not long.
Can i write it and attach a stack trace tomorrow?
Sorry for my poor English.

[2017-02-18 18:27] gpeal commented on #122
@0legg I tagged your other issue by accident but I made some improvements here: https://github.com/airbnb/lottie-android/commit/c10f32690c4bee313829c4db4b08d0a848c38143

I think I could go even further by special casing integer and float to be able to return primitives instead of their wrapped versions too but I was able to knock this out quickly and verify some significant improvements with the m

[2017-02-18 18:28] felipecsl commented on #3
@hzsweers nope, I was waiting for @gpeal to finish some major JSON parsing refactoring that he had underway. AFAIK the plan was to move the current implementation to a streaming `JsonReader` which should be more memory efficient. Not sure what's the status of that change though, @gpeal can help clarify

[2017-02-18 18:33] gpeal commented on #3
@felipecsl @hzsweers I spent quite a long time working on the JsonReader refactor which would have been a good end-all solution to this since it's strictly n time. However, there were some issues with the way the json was formatted that made it almost impossible to do proper parsing when only reading the json beginning to end linearly. Here is my WIP if you're interested: https://github.com/airbnb

[2017-02-18 18:36] felipecsl commented on #3
Sounds good to me, thanks for clarifying @gpeal.
@hzsweers I think we're on the same page about how it should work. I can probably work on it this week, we can sync offline on the details. How does that sound?

[2017-02-18 18:51] gpeal commented on #119
@xingxingxiaoyu sure, just reopen this when you attach it

[2017-02-18 23:17] #98 closed

[2017-02-19 02:19] gpeal commented on #123
@0legg Actually, I just went ahead an switched things over to opt. I'll put up a PR when I finish.

[2017-02-19 04:40] #123 closed

[2017-02-19 04:45] 0legg commented on #123
Great job!

[2017-02-20 01:48] wm1993 opened #129 "about json file define"
If I want to achieve the animation I want, how to define this Json file

[2017-02-20 03:14] gpeal commented on #129
@wm1993 Follow the "How it works" section here:
https://github.com/bodymovin/bodymovin
There is also an iOS tutorial on YouTube: https://www.youtube.com/watch?v=ESjFEaZx7UI
On Android, put the json file in `src/main/assets`

[2017-02-20 03:14] #129 closed

[2017-02-20 03:29] microstudent commented on #93
but LottieDrawable is still package visible in v1.0.3 ?

[2017-02-20 06:36] xingxingxiaoyu commented on #119
sorry,I find that the reason is that I add some string which is not end of ".json",when I scrool recyclerview , it dead.
sorry,good luck.

[2017-02-20 06:38] gpeal commented on #3
For reference, the longest and most complex json file, LottieLogo2.json (90kb) takes about 30ms to parse.

[2017-02-20 06:41] gpeal commented on #93
@microstudent LottieDrawable is public in 1.0.3. You can see it in the commit that is linked above in this issue.

[2017-02-20 06:43] hzsweers commented on #3
sounds good

[2017-02-20 07:14] microstudent commented on #93
@gpeal Haven't it sync to Maven or something?
 I can't see this change when I use compile 'com.airbnb.android:lottie:1.0.3'

[2017-02-20 07:26] zeeeliza commented on #93
I've lost my reply to you, so here goes again, thank you for letting me know the deal.  You have been so kind. Just do something for me and text your friend daze and let her know he came on to you. She thinks im crazy!!! And he has everyone believing it. She don't believe I'm talking to you now. I don't blame you not one bit. He should have his old ass home. Thanks for that and deja say she is wai

[2017-02-20 07:31] zeeeliza commented on #3
Thank you so much for this

[2017-02-20 07:32] gpeal commented on #93
@microstudent Ah, you know, the constructor wasn't made public :(
You can use 1.0.1 or reflection for now. I'm going to push a significant update this week and will fix it properly.

[2017-02-20 07:34] microstudent commented on #93
@gpeal all right, Thank you

[2017-02-20 07:37] zeeeliza commented on #93
I'm just learning how to do this today! I'm not that good at it and still really don't know how to send it. If you do get  it's by luck cus I really don't know what the hell im doing lol

[2017-02-20 07:42] zeeeliza commented on #3
I do have to be to wrk at  6:am so I need a lil shut eye. But we will chat again. I like this but I do need to get better using it!
Thanks again
Good night
Ms zeee

[2017-02-20 08:49] #93 closed

[2017-02-20 09:05] gpeal commented on #122
I think I'm going to close this for now. I got rid of some of the bad unboxing and iterator creation offenders. Doing more than this will require totally breaking the generic signature but it is definitely better now than it was.

[2017-02-20 09:05] #122 closed

[2017-02-20 09:09] #102 closed

[2017-02-20 09:23] qmetzler-luna commented on #61
Still not fully working for my animation but I can definitely see some improvement. Do I still need to wait for the support of something more or is it related?
(I paid a set of animation so I don't really know how they're done.)

[adin.zip](https://github.com/airbnb/lottie-android/files/787029/adin.zip)
(rename adin.zip into  adin.aep)

[2017-02-20 09:30] gpeal commented on #61
@qmetzler-luna You'll have to checkout the repo and rebase to check the latest change.
I'm actually using yours as a test for some things right now. There are a few reasons yours still isn't working but I hope to get to them soon. Stay tuned.

[2017-02-20 15:42] xgear-public opened #133 "Make LottieComposition properties getters public"
I think it would be convenient to have public access to LottieComposition properties getters:
[code]

[2017-02-20 20:04] gpeal commented on #133
This is a dupe of #93.

It'll be fixed this week. Sorry for the inconvenience.

[2017-02-20 20:04] #133 closed

[2017-02-20 20:06] gpeal commented on #133
@xgear-public Just out of curiosity, why do you need these?

[2017-02-20 20:56] gpeal opened #135 "Add a null check around getCallback()"

[2017-02-20 22:49] gpeal commented on #135
Fixed by https://github.com/airbnb/lottie-android/commit/1927fc4d20cb68128bdc069e0ddf4336f23a2ac2

[2017-02-20 22:49] #135 closed

[2017-02-21 03:08] gpeal opened #138 "Investigate dynamic coloring"
A few people have indicate that it would be useful to be able to change the color of a layer programatically.

[2017-02-21 10:31] xgear-public commented on #133
I need to know width vs height ratio to calculate proper size of LottieAnimationView to make animation fullscreen width on all devices (as i described in #112 ). Also it would be good to know if animation contain Masks or Mattes (for example if i load animation dynamically and need to take some actions in case if its has Masks or Mattes and it's affects performance).

[2017-02-21 10:32] xgear-public commented on #133
Anyway thank you for such a fantastic lib!

[2017-02-21 11:30] alezhur opened #141 "Add copyright to source code"
Please, add a copyright to source code base on License.

The template is located at the end of the license file: https://github.com/airbnb/lottie-android/blob/master/LICENSE

[2017-02-21 11:51] VipMinF opened #142 "Want to support random algorithm"
I have a requirement and each object can randomly generated coordinates when the animation begins
![26a1369d4ab93197b64e1900ec92c8a0b9c8a009727ea-rbv1hs_fw658](https://cloud.githubusercontent.com/assets/25290829/23163831/21ed50d2-f86f-11e6-9d6c-c73405bc6694.gif)

[2017-02-21 12:50] GokulEpiphany opened #143 "LottieAnimationView and image assets folder"
There is no function to set ImageAssetsFolder on LottieAnimationView although readme suggests one! Can you please look into it?Am I missing something?

[2017-02-21 17:15] felipecsl commented on #141
I don't think we need to add the copyright header to every file, but @ljharb can confirm

[2017-02-21 17:49] ljharb commented on #141
Absolutely not. This information is utterly redundant. The license file at the root of the repository is always sufficient.

[2017-02-21 17:50] #141 closed

[2017-02-21 21:47] gpeal commented on #143
@GokulEpiphany sorry, this is confusing. It'll be released in 1.5 in the next day or two.

[2017-02-21 21:47] #143 closed

[2017-02-21 21:48] gpeal commented on #142
@vipminf you'd have to render this in after effects. Lottie doesn't do dynamic positioning.

[2017-02-21 21:48] #142 closed

[2017-02-21 22:16] GokulEpiphany commented on #143
No problem! just checked #136 and got a clearer picture!

[2017-02-22 00:58] zeeeliza commented on #138
Hey this is too difficult for me to understand. I can seem to pull any thing to read anything so I'd rather communicate with you text to text without all this coded stuff

[2017-02-22 01:24] zeeeliza commented on #143
That's the problem I don't know how to view #136 I gave you my ph# why can't you just send it to my phone

Sent from my iPhone

[2017-02-22 02:55] zeeeliza commented on #142
It took me some time to find out who you are and I did Ms. Curry,s

[2017-02-22 04:44] felipecsl commented on #89
I can take a look into this one

[2017-02-22 05:11] #89 closed

[2017-02-22 05:24] gpeal commented on #143
@GokulEpiphany 1.5.0 is out!

[2017-02-22 05:57] gpeal commented on #133
@xgear-public 1.5.0 is out!

[2017-02-22 05:57] gpeal commented on #71
1.5.0 is now out!

[2017-02-22 05:58] gpeal commented on #61
@qmetzler-luna  @stewjacks  1.5.0 is now out!

[2017-02-22 05:58] gpeal commented on #98
@MrGatsby2 1.5.0 is now out!

[2017-02-22 05:58] gpeal commented on #103
@taejungkim 1.5.0 is now out!

[2017-02-22 08:39] GokulEpiphany commented on #143
@gpeal A big thanks 👍

[2017-02-22 08:40] xgear-public opened #147 "Assets question"
After updating on 1.5.0 version i have got

because my json animation file doesn't have. **"assets"**:[] array. After manual modification of json file (I added empty **"assets"** array) crash was fixed. NPE is connected with
`JSONArray assetsJson = json.optJSONArray("assets");`
Do you assume json file must have **"assets"** array (at least empty array)?

[2017-02-22 16:13] starkovss commented on #33
Hi Martin,
can you tell me what why this code is not working
My project created using **XAMARIN.FORMS**

I used animation file: lottielogo1.json
**This file added that file to all 3 projects :**
**(Portable)**/resources/lottielogo1.json
**(Droid)**/Assets/lottielogo1.json
**(iOS)**/Resources/lottielogo1.json

Code from **(Portable)** project:
[code]

So as result there is nothing happens.
I tested

[2017-02-22 17:48] gpeal commented on #33
@starkovss You may have the most luck filing an issue directly on that repo

[2017-02-22 17:48] gpeal commented on #147
@xgear-public Can you attach your AE file?

[2017-02-22 18:23] porkyhead opened #148 "ConcurrentModificationException"
I have two animations playing in concurrently in a viewpager. Each animation contains images. Using via xml only. When my app exits I get the following crash:

Process: com.medicomip.eagle2, PID: 4287
                  java.util.ConcurrentModificationException
                      at java.util.HashMap$HashIterator.nextEntry(HashMap.java:851)
                      at java.util.HashMap$KeyIterator.

[2017-02-22 18:29] starkovss commented on #33
@gpeal , yup you are right. I already post it to FORMS repo. I noticed that I'm on Android branch only after the posting..

[2017-02-22 19:02] stewjacks commented on #61
@gpeal Awesome! I'll play with it today ✌️

[2017-02-22 19:23] gpeal commented on #148
@porkyhead Thanks for the report. I'll fix this.

[2017-02-22 19:59] 0legg commented on #3
Few days ago there was JSON spec created for bodymovin, and I'm working on bringing it to JSON Schema — so it'll be possible in the future autogenerate parser source code.

[2017-02-22 21:27] gpeal opened #149 "Add a `==` check in setComposition"

[2017-02-22 21:27] gpeal commented on #149
@elihart

[2017-02-22 22:37] gpeal commented on #61
@qmetzler-luna yeah I think there may still be a few minor things. I have your AE file though so I'll continue to use it as a benchmark.

@stewjacks Great, if you have any issues, can you send me your AE file at lottie@airbnb.com?

[2017-02-23 00:06] qmetzler-luna commented on #61
@gpeal lots of my animation are working smoothly, thanks for the update. One does not work at all, I'll send it to you tomorrow.
But for all of them if I use let say 75dp as height and width instead of wrap_content only the top left part seems to animate correctly.

[2017-02-23 01:24] MrGatsby2 commented on #148
u may use iterator to cope whit it, fyi,when i use images, my image isn't at the right place as designed by AE @gpeal

[2017-02-23 02:10] gpeal commented on #61
@qmetzler-luna Can you send me one where only the top left animates correctly?
My screenshot tests seem to be doing that but I haven't actually seen that happen on a device so I'd like to figure out what's going on there.

[2017-02-23 02:11] gpeal commented on #148
@MrGatsby2 Can you attach the broken AE file to #71 and reopen it if there is an issue? Happy to take a look.

[2017-02-23 05:08] elihart commented on #149
I'll start work on this.

[2017-02-23 07:43] qmetzler-luna commented on #61
@gpeal actually the one I sent you is doing it

[2017-02-23 08:42] HJ-Money opened #151 "how to support hardware acceleration"
I want to know why is the reason that software acceleration is set to be default in stead of hardware acceleration. Further more, are these choice cause by compatible issues or else？

[2017-02-23 08:52] MrGatsby2 commented on #71
hi,man,here is the image animation file which worked wrong. you can get all the files you need just change the postfix to .zip and upzip it.
[eyesafe.txt](https://github.com/airbnb/lottie-android/files/795939/eyesafe.txt)

[2017-02-23 09:21] adamvarhegyi opened #153 "ConcurrentModificationException"
I use **Lottie** in an **activity.**

**View:**

     <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/animation_view"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            app:lottie_fileName="splash_animation.json"
            app:lottie_loop="true"
            app:lottie_autoPlay="true" />

**Activity:**

` @BindView(R.id

[2017-02-23 09:24] xgear-public commented on #147
Sorry, but i can't. Designer said that he just don't use precompositions and image assets.

[2017-02-23 11:38] qmetzler-luna commented on #61
@gpeal Here are three aep files samples of the one not fully working for me. Appart from the top left issue that they all have, "atom.aep" has some masking issue I suppose (I have several animation with the same issue), "car.aep" has the wheels not animating and "stadium.aep" isn't working at all but bodymovin can't make it work either.
[lottie.zip](https://github.com/airbnb/lottie-android/files/7

[2017-02-23 12:23] drorsun opened #154 "animation balls not reaching below their starting point"
The attached aftereffect json [feed_loader.json.zip](https://github.com/airbnb/lottie-android/files/796306/feed_loader.json.zip) holds animation that takes 3 balls, bounces them up and then down below their starting point and then back up to the starting point.

The actual result fails to move those balls below their starting point, thus looking less springy and cool.
Perhaps this is a problem wit

[2017-02-23 15:54] therealsalih commented on #154
Hi @drorsun can you attach the AE file? Thanks!

[2017-02-23 16:05] aaboyd opened #156 "Allow setting cache strategy in xml"
Currently you can set the animation file in xml, but you cannot define a cache strategy, so if you would like to leverage the cache at all you need to call ```setAnimation```.   I would like the convenience of only needing to add a ```LottieAnimationView``` in my layout without having to bother calling ```setAnimation```

[2017-02-23 16:21] gpeal commented on #147
@xgear-public Understood if you can't attach your production ae files but can your designer make one that repros his issue? Maybe he can delete everything except what's broken and then change the shape or something. Having a repro case will allow me to fix it.

[2017-02-23 16:34] xgear-public commented on #147
Well, i don't think designer has some issues. My point is:
[LottieComposition](https://github.com/airbnb/lottie-android/blob/v1.0.3/lottie/src/main/java/com/airbnb/lottie/LottieComposition.java#L160) v 1.0.3
If json doesn't contain **"assets"** object array, JSONException e cought and everything is fine.
Now, in [LottieComposition](https://github.com/airbnb/lottie-android/blob/v1.5.0/lottie/src/ma

[2017-02-23 16:36] therealsalih commented on #61
Hi @qmetzler-luna there are a couple of things in your files that i've noticed that we're still currently working on.

Atom.aep - we dont yet fully support fill rules. So instead of the multiple paths being cut through they just get added.
<img width="357" alt="screen shot 2017-02-23 at 8 31 21 am" src="https://cloud.githubusercontent.com/assets/5893643/23268428/8cc02af4-f9a2-11e6-80f4-69bbd8d7944

[2017-02-23 17:16] stewjacks commented on #61
This seems to be working for me. We originally had issues with assets exported from Illustrator, but we've been going through and deleting merge paths as well as all the random groups created when importing... and everything seems to be honky dory now. Thanks!

[2017-02-23 18:07] bduncavage commented on #151
You can enable hardware acceleration yourself if you'd like. Just call setLayerType() on the LottieAnimationView and use LAYER_TYPE_HARDWARE. You might experience rendering issues on some devices though, which is why they probably use the software layer by default.

[2017-02-23 20:57] 0legg commented on #151
Lottie uses some canvas operations that are unsupported by hardware accelerated views, or supported only in later versions of Android — you can find details [here](https://developer.android.com/guide/topics/graphics/hardware-accel.html#unsupported).

By the way, I have an idea how partial hardware acceleration can be achieved:

1. We can know for sure from this table whether canvas operation is ha

[2017-02-23 21:29] gpeal commented on #151
@0legg I would love to find a way to make Lottie hardware accelerated when it works. I spent some time investigating it earlier in the project but focused more on just getting feature "complete". I know the Facebook keyframes team had some issues with hardware acceleration where their animations would be inconsistently broken on some random devices that they were either not able to repro or fix an

[2017-02-23 21:47] gpeal opened #158 "Add support for fill rules"

[2017-02-23 21:48] gpeal commented on #61
@qmetzler-luna track #158 for fill types
@stewjacks Great to hear!

[2017-02-23 21:48] #61 closed

[2017-02-23 21:49] gpeal commented on #147
@xgear-public I can add the check but I'm curious as to why your json doesn't include an assets[] array.

[2017-02-23 22:06] gpeal commented on #71
@MrGatsby2 I figured out the issue. It was what I suspected.
For this particular animation, I highly suggest making your image with shapes in after effects. The file will be smaller and will scale to any size with no artifacts if you do that and it'll use much less memory.

[2017-02-23 22:10] qmetzler-luna commented on #61
@therealsalih Thanks for the precision! @gpeal And for the size of the animations? You can test it by setting 75dp instead of wrap_content in the demo project and load the first animation I sent you.

[2017-02-23 22:32] gpeal commented on #156
Good idea

[2017-02-23 22:34] gpeal commented on #153
Thanks for the report
#148

[2017-02-23 22:34] #153 closed

[2017-02-23 23:58] #71 closed

[2017-02-24 00:00] #148 closed

[2017-02-24 02:04] #156 closed

[2017-02-24 02:12] gpeal commented on #154
@drorsun Just took a look at your json file and it looks like you're using an expression. Unfortunately we don't yet support expressions. You should be able to achieve this without expressions though.

[2017-02-24 02:12] #154 closed

[2017-02-24 02:15] #147 closed

[2017-02-24 02:20] 0legg opened #159 "Make LottieAnimationView drop-in replacement of ImageView"
So, right now, as `LottieAnimationView` is subclassing `AppCompatImageView`, we almost can use it as ImageView replacement for all needs, not limited to animations. But there are few drawbacks, which can affect behavior of some non-Lottie drawables inside it:

1. `LottieAnimationView` overrides `invalidateDrawable()` without making calls to super, so some Drawables that are relying on calls to thi

[2017-02-24 02:41] hzsweers commented on #159
all of these can be gated by checking for the existence of a provided `LottieDrawable` methods right? I wouldn't call these "issues" as much as implementation details/optimizations that we can simply gate.

[2017-02-24 03:08] HJ-Money commented on #151
Thx!
Here is my case. I have tried to play an slightly complicated animation which has images on Lottie. I can see the run out effect is much stable and faster with hardware acceleration. Most importantly, it dose not drop any frame and runs smoothly. Worth notice that there's obivous lag under software acceleration. Sincerely hope there's as approporate hardware acceleration method to apply on Lo

[2017-02-24 03:40] gpeal commented on #151
@HJ-Money and your animation rendered correctly with hardware acceleration?

[2017-02-24 03:51] #149 closed

[2017-02-24 03:57] #112 closed

[2017-02-24 04:00] gpeal commented on #151
I just tried turning on hardware acceleration on LottieLogo2 and there are some nasty scaling artifacts. I'll have to look in to why these are happening.
![image](https://cloud.githubusercontent.com/assets/1307745/23290029/b5a7ff72-fa02-11e6-960d-fb55c5b3450a.png)

[2017-02-24 05:06] HJ-Money commented on #151
@gpeal Yes, the effect rendered  with hardware acceleration is same as with software acceleration.On one hand, I guess the animtion maybe only use the api which can supported by hardware acceleration. On the other hand, I test my animtion on Android 6.0. And also, I modify the source code LottieComposition.fromJsonSync(), and I set scale = 1f, not by density which can result in twisted rendering i

[2017-02-24 05:16] gpeal opened #161 "Animation gets clipped when view has a fixed size"
Requires more investigation. Likely due to masks/mattes + saveLayer/drawBitmap.

@qmetzler-luna

[2017-02-24 05:16] gpeal commented on #61
@qmetzler-luna I can see your issue. I'll investigate it and track the progress in #161

[2017-02-24 05:19] gpeal commented on #151
@HJ-Money Yeah you definitely don't want to change the composition scale. It won't do exactly what you expect. It's set to the density to the units of position in after effects get translatated to dp. Without that scale being the screen density, things will be off.

[2017-02-24 06:52] atwbin opened #162 "please tell me how to realize the last function in"Example3.gif ",thanks"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-02-24 07:16] gpeal commented on #162
You can achieve the fireworks effects on the stars by animating the trim path of a shape.

[2017-02-24 07:16] #162 closed

[2017-02-24 07:58] angeldevil opened #163 "Min SDK version"
The minSdkVersion is 14 in **build.gradle**. But it says **Lottie supports Jellybean (API 16) and above.** in README. So which is the min SDK level?

[2017-02-24 08:10] #163 closed

[2017-02-24 08:10] gpeal commented on #163
@angeldevil good catch. It used to be 16. I lowered it to 14 and never changed the readme.

[2017-02-24 10:46] drorsun commented on #154
ok, thanks. will check how to make it without expressions.

[2017-02-24 16:36] adamvarhegyi commented on #153
Err. Thanks and close? Any suggestion what should I change to make this work?

[2017-02-24 16:44] gpeal commented on #153
Upgrade to 1.5.1

[2017-02-25 21:30] asc42 opened #165 "Significant rendering performance issue in v1.5.x as compared to v1.0.x"
I created a basic animation in AfterEffects involving masks and size changes.

While using Lottie `v1.0.x`, the animated view was the same size as the original composition (512px * 512px), and it used to play smoothly.

However, after updating the library to `v1.5.1`, the view is rendered with larger dimensions (looked like 2x) and there were noticeable lags.

I've reverted to using `v1.0.3`, but

[2017-02-26 02:18] gpeal commented on #165
@asc42 performance should have improved. Can you send me your after effects file at lottie@airbnb.com and I'll take a look. Having the after effects file instead of the json will make debugging significantly easier. Also, what device did you notice the issue on?

[2017-02-26 12:21] asc42 commented on #165
@gpeal
I have mailed the AfterEffects file, along with the `json` file.

Device: Nexus 5
OS: [Santosh M's unofficial Nougat build](https://forum.xda-developers.com/google-nexus-5/orig-development/wip-aosp-nougat-nexus-5-t3446875) (7.1.1_r22)

[2017-02-26 15:03] gpeal commented on #161
@qmetzler-luna I know what's going on. You can work around this by changing your composition size to the display size you want. The composition size in px will be natively converted to dp when rendered so change your composition to be 75px.

[2017-02-27 06:29] MrGatsby2 commented on #71
got it,thanks

[2017-02-27 09:53] adamvarhegyi commented on #153
Thank you very much.

[2017-02-27 21:58] gpeal commented on #165
@asc42 I'm almost positive this is due to the large composition size and the removal of the MAX_SIZE restriction here: https://github.com/airbnb/lottie-android/commit/55cc8e3ba3c6acd42f0316d412ed528790c5f600

Your composition will render the dp equivalent of what you have the px size set to in AE so try making your composition smaller.

[2017-02-27 21:58] #165 closed

[2017-02-28 00:17] sureMOE opened #167 "Improve the performance of mattes and masks"
This seems to be an issue that's relegated to Android playback of JSON files that isn't reproducible on iOS. When using track mattes from After Effects, frame rates just plummet. Not sure what exactly is going on, but wondering if anybody else has seen same issues.

[2017-02-28 03:10] yaseen2591 opened #168 "addAnimatorListener Doens't give call backs on 2G networks"
I'm using the addAnimationListener to get callback from onAnimationEnd method . It works fine unless it has 2G or very slow internet connection

        `animationView.addAnimatorListener(new Animator.AnimatorListener() {
                    @Override
                    public void onAnimationStart(Animator animator) {

                    }

                    @Override
                    publ

[2017-02-28 03:19] gpeal commented on #167
@sureMOE This is a known issue right now and isn't trivial to solve on Android but I'm playing around with several options.
One thing you can do to help is to reduce the size of your composition, reduce the number of layers with a matte or mask, or find an alternative way to achieve the same visual effect without them.
Lottie will render your composition at the dp equivalent of the composition siz

[2017-02-28 03:20] gpeal commented on #168
@yaseen2591 Lottie doesn't do anything network related. My guess is that the issue lies somewhere else in your code.

[2017-02-28 03:20] #168 closed

[2017-02-28 03:20] #161 closed

[2017-02-28 03:20] gpeal commented on #161
This will be released with 1.5.2

[2017-02-28 06:53] qmetzler-luna commented on #161
@gpeal Thanks, it's working a lot better but if I downsize too much I'm still having some issue
see attached with 45dp for example.
[analytics.aep.zip](https://github.com/airbnb/lottie-android/files/805928/analytics.aep.zip)

[2017-02-28 07:47] razer89 opened #170 "Make LottieDrawable stateful"
Is it possible that in future LottieDrawable will be stateful? It will be great for using with CompoundButtons. Thanks for awesome library!

[2017-02-28 09:57] alezhur commented on #141
Dear all,

we are looking for a Lottie  license block like this one
 https://github.com/airbnb/lottie-android/blob/28baa2150b6985f5301c704195d63d89aee879f5/lottie/gradle-maven-push.gradle

If you place the same to lottie readme file, it will be enough!

[2017-02-28 17:19] ljharb commented on #141
The LICENSE file is sufficient for that, and holds more weight than the README. Why do you need it in the readme?

[2017-02-28 17:46] gpeal commented on #170
@razer89 Could you make your own StateListDrawable and just add child LottieDrawables for each desired state?

[2017-02-28 18:58] razer89 commented on #170
@gpeal yes, I can. But I'm talking about parsing drawables from JSON for desired states. I gues, it is not very clean to create drawables for every button in my app. I understand - Adobe After Effects can't describe every state, but probably you have any ideas?

[2017-02-28 19:02] razer89 commented on #170
Another problem - com.airbnb.lottie.LottieDrawable#setComposition has a package access. I can't creat LottieDrawables directly, reflection only (or inherit my own with "com.airbnb.lottie" package name)

[2017-02-28 19:11] felipecsl commented on #3
Alright let me explain the rest of the changes I have in mind for this issue so I can get input from you guys before sending the PR:
We'd have a new class called `Lottie` responsible for initializing the library state. It would have a builder where we could specific the desired `Converter` implementation to use (similar to how Retrofit works). We could also use this in the future to configure othe

[2017-02-28 19:13] gpeal commented on #170
@razer89 I'll make it public in 1.5.3 which I'm going to release today

[2017-02-28 19:15] razer89 commented on #170
@gpeal thank you!

[2017-02-28 21:33] 0legg commented on #3
Looks good to me; but it's still unclear how will you manage model and logic separation. Also, it's interesting, whether it's possible to parse JSON with databinding; and to provide model automatically from JSON Schema. I wish I had enough time to contribute lot of stuff here

[2017-02-28 21:36] felipecsl commented on #3
our model classes are still somewhat coupled to the JSON structure, but over time we should decouple them as much as possible in a way that makes us input format agnostic. All you need is a converter that takes an `InputStream` and outputs a `LottieComposition`

[2017-02-28 23:20] fabionuno commented on #3
There is any advantage to use this new  `Lottie` class as a parameter of `setAnimation` method and not as a parameter of `LottieAnimationView's` constructor?
Using as a method parameter is useful if we need to use different JSON loaders with same `LottieAnimationView` instance, but i don't see a situation where this will occur, and I need to define Lottie as a member variable of my class to use it

[2017-02-28 23:50] gpeal commented on #3
@felipecsl I like the overall approach. What do you think about Lottie including the default parser as a transitive dependency so that a) LottieAnimationView can create the default one and b) users don't have to add a second dependency especially when, as of now, there is only one option

[2017-03-01 00:01] felipecsl commented on #3
@gpeal that's not possible because it would cause a circular dependency.
@fabionuno we can't add `Lottie` as a constructor paramterer to `LottieAnimationView` because i needs to be instantiated from the XML

[2017-03-01 00:40] fabionuno commented on #3
@felipecsl The idea was to have a new constructor with `Lottie` as a parameter and when missing get the singleton instance, however in a situation where I declare the LottieAnimationView in XML but load the JSON animation programmatically, have it as parameter of the method `setAnimation` is a better option.

[2017-03-01 01:22] angarron commented on #71
Thanks for the wonderful work @gpeal ! Is there any way to use `.svg` files instead of `.png`? When I try to use `.svg` files, I get a lot of this line in the logs:

[code]

I think it is worth asking in case I am just making a mistake configuring my `LottieAnimationView` :)

[2017-03-01 01:28] gpeal commented on #3
@fabionuno Adding View constructors is pretty unconventional. We could also add something like what RV does with LayoutManager: https://developer.android.com/reference/android/support/v7/widget/RecyclerView.html#attr_android.support.v7.recyclerview:layoutManager

[2017-03-01 04:30] gpeal commented on #71
@angarron Lottie doesn't load svg files. You should just import the svg into After Effects so that it's actually part of the animation.

[2017-03-01 04:30] gpeal commented on #71
Also, that log line isn't from Lottie.

[2017-03-01 04:35] jeliza1215 commented on #151
He's  not going to compromise  his status with the hardware these choices are based upon years of studying the software, So therefore, the use of hardware is not the best choice to use

[2017-03-01 04:43] angarron commented on #71
That log line isn't from Lottie directly, no, but Lottie eventually calls into code that logs that if you (erroneously, as I was doing) point it toward an animation which itself points toward SVGs the same way that it would point toward PNGs.

That is a valid configuration for bodymovin exports, but it's not a very useful one AFAIK because (as you mentioned and as we later discovered) there is Aft

[2017-03-01 04:47] jeliza1215 commented on #151
other intrusion will be deleated!  emails changed by software, harddrive
 is now shutting down! Software is more powerful than you thought!

On Feb 28, 2017 10:35 PM, "jeliza1215" <notifications@github.com> wrote:

[2017-03-01 16:24] gpeal commented on #170
@razer89 1.5.2 with setComposition public is not available.
I'll think about an API that might work here but for now, you may be best off creating your own StateListDrawable.

[2017-03-01 16:42] gpeal commented on #161
@qmetzler-luna I just released 1.5.2 which is definitely an improvement with your samples. Thanks for sending them by the way.
Analytics is still not matting perfectly because you have visible matte layers. Can you try altering your animation so that matte layers don't need to be visible?

[2017-03-01 17:34] bexsadirov opened #171 "Animated Typography - bug"
On my android device the typography animations behave very strange (letters "L" and "F"). You can see it on the attached screenshot. My device is Samsung S5 mini, that have Android 6.0.1
![lottie_bug](https://cloud.githubusercontent.com/assets/16705217/23472470/1fe50f46-fed7-11e6-85d3-8d9e911101c1.png)

[2017-03-01 18:11] gpeal commented on #171
@bexsadirov Strange... They look fine for me. Which version of the app is this in? And you don't have force gpu rendering on in developer settings do you?

[2017-03-01 18:12] gpeal commented on #171
Actually my Galaxy S7 seems to be doing that too. I'll take a look. Thanks.

[2017-03-01 18:17] bexsadirov commented on #171
@gpeal It is the last version. And on google play you can also see the last comment of "Евгений Тимофеев" writing about this bug too.

[2017-03-02 10:12] hafsalrahman commented on #112
Im facing similar issue on etc one, LottieAnimationView is always have a max width it doesn't change width even if I give match parent to fit my screen.

[2017-03-02 10:50] HJ-Money opened #172 "Some prombles with alpha anim during animtion which has images"
In my some cases, there should be some images doing alpha animtion from alpha 0 to alpha 1. But they dose not work. And I guess there is no alpha animtion apply on images. So I try to add this code

on LayerView.drawImageIfNeeded() before canvas.drawBitmap. As result, it works well.

Here is my demo.

![2](https://cloud.githubusercontent.com/assets/7287869/23503925/86ebd598-ff78-11e6-8afa-d03342f1

[2017-03-02 11:13] KucherenkoIhor opened #173 "Add support for text"
Hello. Can Lottie display text??
[single_buton.txt](https://github.com/airbnb/lottie-android/files/813581/single_buton.txt)
I have button with text "LET'S DO  IT" and text doesn't display.

[2017-03-02 17:39] reedt100 opened #174 "playAnimation() does nothing on 2nd call in Android"
Bug in 1.5.2 Android

Steps to reproduce:
1. Set animation passing String JSON filename
2. Add animation listener that calls playAnimation () in on-end listener method
3. Call playAnimation ()

Observe that animation plays, listener method is called but animation does not play again.

I actually want to alternate between two animations with the listener setting and starting one, then setting and s

[2017-03-02 22:47] #172 closed

[2017-03-02 22:48] gpeal commented on #112
@hafsalrahman I'm not sure I understand your issue. Can you explain it again?

[2017-03-02 23:13] #174 closed

[2017-03-02 23:14] gpeal commented on #174
@reedt100 This will be fixed in 1.5.3. What was happening is that playAnimation behaved like resumeAnimation which set the progress to 1 when you tried to play your new animation. playAnimation will not not change the start progress whereas resumeAnimation will behave like playAnimation used to. I'll release it in the next few days.

[2017-03-02 23:18] gpeal commented on #151
The lack of anti aliasing support is really going to make this difficult. Layers that have scale anywhere up the parent tree are going to cause nasty scaling artifacts like in the screenshot above.
It is possible to optimize the animation itself to not do this but it would require some coordination between the designer and engineer.

[2017-03-03 08:13] reedt100 commented on #174
Thanks, I appreciate it. I tried setting progress to 0 before calling play the 2nd time but that didn't appear to help so I look forward to your fix.

[2017-03-04 11:41] satria977 commented on #65
reply@reply.github.com

[2017-03-06 04:00] EflakeEver opened #177 "Support Image from sdcard instead of assets"
LottieAnimationView only support setImageAssetsFolder method for loading image from assets , but now i have to load image from sdcard , so what is the reason only load image from assets file?

[2017-03-06 05:10] #171 closed

[2017-03-06 05:13] gpeal commented on #177
@EflakeEver When used in production (not in the sample app), all images should be bundled with the assets in your apk. Does that make sense?

[2017-03-06 05:13] #177 closed

[2017-03-06 06:40] #159 closed

[2017-03-06 06:40] gpeal commented on #159
@0legg I gated a few methods in the above commit. Feel free to submit a PR if you'd like more than that.

[2017-03-06 06:56] hzsweers commented on #159
What would you think of just encapsulating it in a LottieDelegate helper class with matching APIs to callback? Similar to AppCompatDelegate's callbacks

[2017-03-06 06:57] gpeal commented on #159
@hzsweers Seems reasonable. Would you like to do a PR for that?

[2017-03-06 06:58] hzsweers commented on #159
can do :+1:

[2017-03-06 07:04] EflakeEver commented on #177
@gpeal , a demand in production environment , such as supporting  an upgradable gift animation in live app, need us to download all keyframe resource from network，including json file and image resources. so that i need a way to using image from sdcard,  can you give me some suggesstion? thanks~

[2017-03-06 07:28] gpeal commented on #177
@EflakeEver I just added an asset delegate that would allow you to load and provide the bitmaps yourself. I'm also conveniently cutting 1.5.3 now so it'll be in that.

[2017-03-06 07:29] gpeal commented on #177
Let me know if this will work for you! I think it will.

[2017-03-06 08:09] EflakeEver commented on #177
@gpeal , I just try your new code, and it works well, hope it may help others, thank you gpeal~

[2017-03-06 19:59] inemnitable opened #180 "LottieDrawable needs public access for APIs"
Several important APIs in LottieDrawable still have package access as of 1.5.3. These include loop(), isLooping(), isAnimating(), and cancelAnimation(). I would like to not have to use reflection in order to use  LottieDrawable.

[2017-03-06 23:28] 0legg commented on #180
@inemnitable As a workaround, you can have you "proxy" class inside `com.airbnb.lottie` package, which exposes these methods usage as public.

[2017-03-07 00:20] gpeal commented on #180
@inemnitable I'll open these up in the next release.

[2017-03-07 21:51] sureMOE opened #182 "Artifacting when using strokes on bezier paths in a shape layer in AE"
So I seem to have finally isolated a weird drawing bug on Android with Lottie and using strokes on paths. If you draw a bezier path in AE and you have some points in the path that have no bezier handles mixed in with points that do have handles, you get a weird draw glitch that I can't fully
 wrap my head around. The only way I know of getting rid of it is giving that point handles, even if they a

[2017-03-07 21:52] sureMOE commented on #182
I can send more examples if needed, thanks!

[2017-03-07 21:56] gpeal commented on #182
@sureMOE can you attach an After Effects file that repros this?

[2017-03-07 22:24] sureMOE opened #183 "Android lottie player doesn't allow you to refresh Drive from within the app"
When I export to Drive and try to load it into the Lottie player, it doesn't show the file has updated or the file won't appear if it's a new file. The way I have worked around this is by opening the Drive app, refreshing the folder and then opening the file in the Lottie player. Just wondering if we could get a refresh action in the Drive folders in the Lottie player.

[2017-03-08 07:30] gpeal commented on #183
@sureMOE Sorry but that's handled entirely by Drive. All the sample app does is send an intent to launch the bundled file choose which then, itself, delegates to Drive.

[2017-03-08 07:30] #183 closed

[2017-03-10 00:30] jeliza1215 commented on #135
Come on big girl trying to play a woman's game
Im about to be on my way to your folks house with the proof I have to let
your daddy know what his lil girl has been up to
If I don't hear from you in 15 mins, I'll be on my way
I do know where you stay or your folks any way

On Feb 20, 2017 2:56 PM, "Gabriel Peal" <notifications@github.com> wrote:

—
You are receiving this because you are subscribed

[2017-03-10 00:30] jeliza1215 commented on #135
Don't make me do this
I really really don't blame you
I just need some answers
Deja told you to block me OK block me lil lady and you will see me over
there with my proof in front of your family

On Feb 20, 2017 2:56 PM, "Gabriel Peal" <notifications@github.com> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://gith

[2017-03-10 00:36] jeliza1215 commented on #135
OK let me see you block Julio

[2017-03-10 08:23] gpeal commented on #158
Fixed by https://github.com/airbnb/lottie-android/commit/70efea2e0ac59d22e5ebb4192757741453d8ea8e

[2017-03-10 08:23] #158 closed

[2017-03-10 08:25] gpeal commented on #182
@sureMOE bump. I made a path with a vertex without control points and it rendered correctly.

[2017-03-10 10:17] alexmx opened #185 "Inconsistent behaviour between iOS and Android for the same animation"
Hi there.
My team experiences different behaviour for iOS and Android versions of the library, for the same exported animation.

Please find the animation JSON attached.
[activity-indicator-animation-dark.json.zip](https://github.com/airbnb/lottie-android/files/833520/activity-indicator-animation-dark.json.zip)

Some screenshots:

iOS 100x100p | iOS 200x200p | Android 240x240dp | Android 480x480dp

[2017-03-10 10:54] nicolettinzia opened #186 "When insert my json file in LottieAnimationView a “error null object reference” occurred (Android)"
I guys, i have a problem with this library. I try to insert my personal animation.json in my file project and this is what happened:

http://stackoverflow.com/q/42716105/4360290

[2017-03-10 10:54] MrIceman opened #187 "Animation does not load"
Hi,
I created a simple animation with After Effects CC17 and used bodymovin to get the .json.
When I tried to use that .json file with the lottie-android library it does not load the .json file I put into my assets folder,
do you have any tips?

[comp.zip](https://github.com/airbnb/lottie-android/files/833696/comp.zip)

[code]

from my XML view

[2017-03-10 17:07] gpeal commented on #187
Unfortunately Lottie doesn't support text (yet). You can track its progress in #173

[2017-03-10 17:07] #187 closed

[2017-03-10 17:08] gpeal commented on #186
@nicolettinzia Can you attach your After Effects file or email it to us at lottie@airbnb.com?

[2017-03-10 17:13] gpeal commented on #185
@alexmx I'll be releasing a significant Lottie update next week. This is what your animation looks like with it. Does it seem correct to you?
![recording](https://cloud.githubusercontent.com/assets/1307745/23805195/c2e46214-0571-11e7-8b4c-6b3ac7bf5a40.gif)

[2017-03-10 18:13] sureMOE commented on #182
@gpeal Sorry Gabe! Been busy with some vacation time! :) So, it took me a long time to nail down this one and I kept getting inconsistent behavior so I was trying to figure out what it was. Because I was retrofitting an animation done by someone else, I was copying their masks and dropping them into paths on shape layers in After Effects. A couple things I noticed. If you are using a bezier path a

[2017-03-10 18:53] sureMOE commented on #182
@gpeal Okay man, I got a file for you here. Let me know if you need any more insight.

Notice the lines in either corner and then watch the end of the 3 lines that are stacked on the right, it shows the artifacting issues.

Thanks for all the hard work! This library has been a life saver and it's the first time in years I have been excited about doing animation for UX! This makes it so much easier

[2017-03-10 19:09] gpeal commented on #182
@sureMOE Thanks for the file. I can see the artifact and I'll look in to it! Thanks for the report and glad you like Lottie!

[2017-03-11 01:12] alexmx commented on #185
@gpeal Yeah, looks awesome. Thanks. Looking forward to try out this new release.

[2017-03-12 05:53] #185 closed

[2017-03-12 05:54] #180 closed

[2017-03-12 05:55] gpeal commented on #170
@razer89

#180 tracked making the methods public.

I think you should compose LottieDrawables in a StateListDrawable rather than it bundling the functionality itself.

[2017-03-12 05:55] #170 closed

[2017-03-12 06:28] gpeal commented on #182
@sureMOE I just took another look at this for the 2.0 release I'm planning for this week and I'm actually not seeing it anymore. This is what it looks like for me now.
Also, would you like me to bundle this with the sample animations for the Lottie sample app?
![radio](https://cloud.githubusercontent.com/assets/1307745/23829563/f6f9a4b8-06a9-11e7-9db6-4c6408a460d3.gif)

[2017-03-12 06:29] gpeal commented on #182
![image](https://cloud.githubusercontent.com/assets/1307745/23829567/1f33314c-06aa-11e7-9599-1ab484bd3c3c.png)

[2017-03-12 07:22] inemnitable commented on #180
cancelAnimation() still has package access.

[2017-03-12 16:09] pensokha opened #191 "Possible bug while loading via Java code"
Dear All,

I have try sample to load via xml , are working fine but when load through code it does not work, here is my code

@Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
 //       setContentView(R.layout.activity_main);

        Button myButton = new Button(this);
        myButton.setText("Press me");
        myButton.setBackground

[2017-03-12 16:21] #191 closed

[2017-03-12 16:22] pensokha commented on #191
need to call playAnimation to make it work
animationView.playAnimation();

[2017-03-13 01:15] sureMOE commented on #182
@gpeal Wow, that's awesome Gabe, looks great now! Good to see it fixed for sure. Thanks for this!

Also, if you want to use it as a sample animation, I would be fine with that. I could send you a better one with a fancy spider animation that really shows off the robustness of all of this. Let me know!

[2017-03-13 02:23] gpeal commented on #182
Sure! Just send me the one you want to use.

On Sun, Mar 12, 2017, 6:15 PM sureMOE <notifications@github.com> wrote:

[2017-03-13 07:44] nick1Jian opened #192 "support of full screen animation?"
Is there a way to implement a splash animation(i.e. to match_parent )?

I tried to use a full screen lottie player, but the issue is the json file do specify size and a fixed size won't fit on every devices.

[2017-03-13 16:52] inemnitable commented on #180
Thanks for this!

[2017-03-13 17:18] FabioCappelliSpot opened #193 "LottieAnimationView with autoplay and loop=true consume memory when activity destroyed"
Hi, I'm using "Lottie" library to make an animation in my app.

[code]

My activity is:

[code]

If I don't call cancelAnimation() on onStop methods I note in Android Monitor that memory consumption decreases slowly.
I need call method cancelAnimation();.

I notice that the LottieDrawable constructor registers animator.addUpdateListener() and if I don't cancel animation the listener remain alive.

[2017-03-13 20:17] sureMOE commented on #182
Here you go:

[Spider_loader.json.zip](https://github.com/airbnb/lottie-android/files/839502/Spider_loader.json.zip)

Thanks!

[2017-03-14 03:18] 0legg commented on #173
Can be done the same way image assets works utilizing Calligraphy (or just loading plain typefaces from assets)

[2017-03-14 05:01] gpeal commented on #182
@sureMOE Sweet, thanks! Feel free to upload animations to lottiefiles.com too. I'll periodically pick animations from it for the sample app too.

[2017-03-14 05:11] felipecsl commented on #3
Should we close this issue? Not sure we're still planning to do anything else for this.

[2017-03-14 05:11] gpeal commented on #3
@felipecsl Let's close this for now.

[2017-03-14 05:23] chengzheustc opened #194 "add support for repeaters"
Hello. Can Lottie support the repeater of AE.

[2017-03-14 05:46] gpeal commented on #194
Not yet but it's on my list of things to start looking in to soon!

[2017-03-14 05:47] gpeal commented on #193
@FabioCappelliSpot Can you attach a sample project that repros this?

[2017-03-14 05:47] gpeal commented on #186
@nicolettinzia any update?

[2017-03-14 05:47] gpeal commented on #17
#167

[2017-03-14 05:47] #17 closed

[2017-03-15 03:28] chengzheustc opened #195 "Support Gradient Stroke"
Hello. Can Lottie support the stroke's weight and color? Thank you!
The attachment is my AE demo.

[like.aep.zip](https://github.com/airbnb/lottie-android/files/843365/like.aep.zip)

[2017-03-15 08:25] Pingsh opened #196 "Why cant I open .json in Phone ? FileNotFoundException"
Send  a .json file into my phone, likes EmojiWink.json, but...FileNotFoundException. Which formats can be used ? By the way, phone ZTE A2017 and Meizu MX4

private void onFileLoaded(final Uri uri) {
    InputStream fis;

    try {
      switch (uri.getScheme()) {
        case "file":
          **fis = new FileInputStream(uri.getPath());**
          break;
        case "content":
          fis = ge

[2017-03-15 09:33] Pingsh commented on #196
Storage Permission !!!

[2017-03-15 13:13] m1ga opened #197 "Crash: Curves must have the same number of control points"
Playing the "I'm thirsty" animation from LottieFiles (http://www.lottiefiles.com/download/77) produces this error on Android:

[code]

using the latest Lottie-android or using the Lottie Android app (version 1.5.3)
No crash on iOS btw.

[2017-03-15 16:42] m1ga opened #198 "isAnimating() still true when pausing animation"
Is it correct that `lottieView.isAnimating()` if you call `pauseAnimation()`?
The `onAnimationUpdate` is still fired when I call `pauseAnimation()` and I have to set a custom `isPaused` bool value to check if the animation is paused. It would be better I think if `isAnimating()` would be false

[2017-03-15 17:55] podrivo commented on #47
Really hoping to have this feature as soon as possible! (:

[2017-03-15 18:14] gpeal commented on #198
@m1ga The issue is that onAnimationUpdate isn't called after pause since the progress doesn't change after pause. You can use an AnimationListener and check for onAnimationCancel though. Would that work for you?

[2017-03-15 18:33] gpeal commented on #195
@chengzheustc For now, you can make the stroke a solid color and it'll work until I add support for gradient strokes.

[2017-03-15 18:36] gpeal commented on #196
@Pingsh Are you saying you didn't have the storage permission and it worked when you granted permission?

[2017-03-15 18:48] m1ga commented on #198
In my case `onAnimationUpdate` was still called even my animation was paused. That's why I wanted to check `isAnimating()` to see if its actually still running. I have a workaround at the moment but I thought `isAnimating()` should represent the current state (false when paused).

[2017-03-15 19:01] #182 closed

[2017-03-15 19:11] gpeal commented on #198
@m1ga Can you attach a sample project where onAnimationUpdate is called after pauseAnimation? I just did a test and the order was:
onAnimationUpdate (running = true)
pauseAnimation
onAnimationCancel

[2017-03-15 19:22] #193 closed

[2017-03-15 19:24] gpeal commented on #192
@nick1Jian Set your LottieAnimationView to match_parent and the scaleType to centerCrop. That should work.

[2017-03-15 19:24] #192 closed

[2017-03-15 19:24] #3 closed

[2017-03-15 19:37] m1ga commented on #198
Ok, I've added some more logging and you are right! `onAnimationUpdate` isn't called but `onAnimationCancel` is called the whole time while it is paused and I thought it was called only once and not all over. And that was calling my update-callback which shouldn't be the case! Thanks

[2017-03-15 19:37] #198 closed

[2017-03-15 19:41] gpeal commented on #198
Great! Glad you got it sorted out.

[2017-03-16 01:52] Pingsh commented on #196
@gpeal Yes...The system didn't prompt to give permission, the exception wasn't mentioned, too

[2017-03-16 10:54] m1ga commented on #112
I think I face the same issue. My layout:

[code]

And I set this into a view with a fixed width that is higher than the file width. The LottieAnimationView fills out the whole space (setting a background color to prove it) but the animation is still small in the middle of the view.
A "autoScale" switch would be nice to have it fill up the space

[2017-03-16 11:53] FabioCappelliSpot commented on #193
Thanks Gabriel.
I had no time for attach sample, but I saw the resolution.
In the description I meant that the memory was increasing slowly, I was wrong.

[2017-03-16 14:37] gpeal commented on #112
Use centerCrop instead of center.

On Thu, Mar 16, 2017, 3:54 AM Michael <notifications@github.com> wrote:

[2017-03-16 15:22] bear-r opened #200 "Compound paths rendering as solid rectangles in Lottie animation"
Hello, Lottie community!

When our app dev team discovered Lottie, we were all super excited at the prospect of being able to integrate some sweet animations in our app. I am a designer, and while I'm still pretty green using AE, I've been eager for this opportunity to get more familiar with it. :)

I created a fairly simple animation to illustrate a "tap to pair" feature of our product, and our A

[2017-03-16 15:25] m1ga commented on #112
👍  I've tested `centerInside` and it wasn't working. `centerCrop`is working in my case. Thanks

[2017-03-16 15:53] gpeal commented on #200
@bear-r I'm glad you're excited about Lottie! Thanks for attaching the AE file. Unfortunately, merge paths aren't supported yet. We are looking in to it though. it should be possible to build the animation without merge paths though.

[2017-03-16 15:54] gpeal commented on #197
@m1ga That animation was exported with a very old version of bodymovin. I'm currently working with him to get an updated version on the site. Lottiefiles also added a disclaimer for animations that were exported with old versions.

[2017-03-16 15:54] #197 closed

[2017-03-16 16:36] m1ga commented on #197
👍 thank you  once again 😄

[2017-03-16 20:24] gpeal commented on #101
Merge paths are disabled by default but can be enabled with `enableMergePathsForKitKatAndAbove`.

[2017-03-16 20:24] #101 closed

[2017-03-16 20:28] gpeal commented on #200
@bear-r as of https://github.com/airbnb/lottie-android/commit/2807b1124eb8732f3f92b3174adce9520664b2f0, you can explicitly enable merge paths. I've confirmed that they work with your animation. However, it only works on KitKat and above. In general, I'd recommend avoid using merge paths if you can but at least you have this options now (when 2.0 is released).

[2017-03-16 20:28] #200 closed

[2017-03-16 20:28] gpeal commented on #186
@nicolettinzia feel free to reopen this if you're still having the issue.

[2017-03-16 20:28] #186 closed

[2017-03-17 07:26] gpeal commented on #47
@subtleGradient @dong108 @podrivo @wingjay @rkim-homma @martinbonnin @bearprada

Please give linear gradients a try with 2.0.0-beta1 :)

I'll leave this open until I finish radial gradients.

[2017-03-17 07:28] gpeal commented on #151
@0legg With 2.0.0 (2.0.0-beta1 is live now), hardware acceleration is better supported out of the box due to how the transformation matrices are applied. There is now a method on LottieAnimationView to enable hardware acceleration. It actually seemed to hurt performance in some cases for me and obviously some features aren't supported but feel free to experiment with it on your own animations.

Do

[2017-03-18 05:48] chengzheustc opened #202 "Using LottieAnimationView in listview"
`  @Override
  protected void onAttachedToWindow() {
    super.onAttachedToWindow();
    if (wasAnimatingWhenDetached) {
      playAnimation();
    }
  }`

Hello, when I use the LottieAnimationView in listview item, I think the above code is not suitable. For I see the animation is played automatically.

Thanks for your time!

[2017-03-18 13:36] HJ-Money commented on #151
@gpeal Hello, I come again.

Lottie 2.0 is very good, and it solved many problems. And I am still confused by some code.
At first, I found a promble in Image Animtion under hardware acceleration. From the Image Animtion demo (WeAccept.json), **I can see the Images under soft acceleration are bigger than which under hardware acceleration.**

![1](https://cloud.githubusercontent.com/assets/7287869/2

[2017-03-18 23:05] clickyzeeshan opened #203 "How to make any random name json animation like Lottie name."
Hello Dear ,

i wanna make this RBMS name json animation.How to solved this problem.

[2017-03-19 17:57] gpeal commented on #203
@clickyzeeshan Sorry, Lottie is just a rendering library. We don't make animations per request.

[2017-03-19 17:57] #203 closed

[2017-03-19 21:05] gpeal commented on #202
@chengyin I'll update this so that it only resumes when autoPlay is set to true

[2017-03-19 21:21] #167 closed

[2017-03-19 21:34] gpeal commented on #151
@HJ-Money Thanks for the detailed breakdown.
 Some properties are scaled by density so that they look the same on all devices. Anything that is pixels in After Effects such as position becomes Dp in lottie.

Your first solution worked (with some slight code cleanup).

[2017-03-19 21:57] gpeal commented on #196
@Pingsh I'm not sure if this is the problem. Can you capture the stack trace in the error there? I'm able to use the file picker on my Marshmallow/Nougat phones with no issue. Nobody else has reported this either.

[2017-03-19 21:58] #202 closed

[2017-03-19 22:15] gpeal commented on #151
I'm going to close this issue. The sample app now has a menu option to toggle hardware acceleration if you want to try it. It significantly improves some animations but hurts others so use at your own discretion.

[2017-03-19 22:15] #151 closed

[2017-03-20 01:58] gpeal commented on #75
This now works in almost all cases.
One caveat is that you should use a single stroke when possible rather than nesting strokes within groups:
Instead of:
<img width="406" alt="screen shot 2017-03-19 at 6 57 39 pm" src="https://cloud.githubusercontent.com/assets/1307745/24086982/03a2ea26-0cd6-11e7-9845-58da2a3a2022.png">
Do:
<img width="400" alt="screen shot 2017-03-19 at 6 57 21 pm" src="https://

[2017-03-20 01:58] #75 closed

[2017-03-20 05:30] #195 closed

[2017-03-20 06:38] teresaxiong opened #208 "The mask doesn't work. Does Lottie support mask? Thanks"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-03-20 07:08] gpeal commented on #208
@teresaxiong Yes, Lottie supports masks. Can you attach the after effects file that's broken? Make sure to try it on 2.0.0-beta2

[2017-03-20 15:58] Kevinrob opened #210 "NullPointerException: pathGroups can contain null entry"
I have a crash with a specific JSON with this stackstrace:

[code]

I use `com.airbnb.android:lottie:2.0.0-beta2` but the app crash with `1.5.3` too.

When runtime reach this code:
[code]

`contentsAfter.size() == 2`
So, `currentPathGroup == null`, and this code don't check for null value:

[code]

Tell me if you need the JSON file, but it work with HTML.

[2017-03-21 03:37] shifujun opened #211 "use generic on Float cause too many auto-boxing/auto-unboxing"
When I test my animation, I found  Memory Churn. So I did some analysis roughly.And I found lottie use too many generic on Float. It cause auto-boxing/auto-unboxing frequently.

I think it is the top performance problem. I will try to solve it ,and hope author will fix it more gracefully.

![2017-03-21 11 27 58](https://cloud.githubusercontent.com/assets/3535204/24131443/b60d73c6-0e29-11e7-82af-5e

[2017-03-21 05:46] gpeal commented on #211
@shifujun This is something I've looked in to before. I wouldn't say it's a top memory problem because the GC can clean up after it quite easily. However, it would be a nice to have to eliminate.

[2017-03-21 17:11] gpeal commented on #211
No need to close this. I'll look in to it :)

[2017-03-21 17:12] gpeal commented on #208
@teresaxiong bump

[2017-03-21 21:25] podrivo opened #213 "Masks and strokes"
Hello,

I've made some small isolated tests to understand the limits and I had some issues with strokes and masks. I'm almost sure the problem comes from "Create shapes from vector layer", but I'm not sure why or how to fix it.

I'm using version 1.5.3.
And this is my workflow:

- Build shapes in Illustrator
- Import .ai file into After Effects
- "Create shapes from vector layer"
- Animate them
-

[2017-03-22 07:06] gpeal commented on #213
Well here's what they look like in 2.0.0-beta2 :)
![image](https://cloud.githubusercontent.com/assets/1307745/24185988/500896c2-0e93-11e7-8170-a0c4faba2cd3.png)
Enjoy!

And what they look like with merge paths enabled (KitKat and above only):
![image](https://cloud.githubusercontent.com/assets/1307745/24186012/6dd8cb9a-0e93-11e7-975f-982e4ba0dbc4.png)

[2017-03-22 07:07] #213 closed

[2017-03-22 14:40] podrivo commented on #213
Marvelous! (:

[2017-03-22 14:49] podrivo opened #215 "Animation speed/duration/velocity"
Hello, I'm having an issue with the speed/duration/velocity on Android 7.0
It's faster on Android 7.0. It's almost twice as faster.

Here's a video: https://youtu.be/ZUXPNpHvKnA
Android 7 is the right one.

I'm using version 2.0.0-beta2.
ZIP with .aep and .json: [Archive.zip](https://github.com/airbnb/lottie-android/files/861798/Archive.zip)

[2017-03-22 17:13] gpeal commented on #215
@podrivo Do you have the animator duration speed modified in developer settings?

[2017-03-22 17:15] podrivo commented on #215
@gpeal hmm, no I don't. It's the default settings.

[2017-03-22 20:41] gpeal commented on #215
@podrivo That's strange. Lottie just relies on the platform Animator class for timing. The only things that come to mind are that you have an animation duration scale set differently or you are using different animation. I just did a test with 6.0 next to 7.0 and they are the same on my test devices. Nobody else has reported this issue either.

[2017-03-22 21:17] podrivo commented on #215
@gpeal Indeed it is. It's the exact same thing for both devices. Just unplugged one and plugged the other. Same code, same json file, same everything.

I'm not familiar with Java nor Android Studio. A friend of mine set everything for me to test the animations. Is there something I could try? Maybe something in the device?

I'll try to find more devices to test.

Here's a screenshot of the code:
!

[2017-03-23 07:00] chengzheustc opened #216 "add support for puppet tool"
Hi, can lottie support puppet tool? Every motion I created by puppet is all missed.

Thanks for your time!

[2017-03-23 07:51] bigxixi commented on #216
bodymovin本身就不支持puppet，如果是行走动画，可以试试rubberhose 2.0。
puppet tool is not supported by bodymovin, in some cases, you can try rubberhose 2.0.

https://github.com/bodymovin/bodymovin/issues/21
http://www.battleaxe.co/rh2-bodymovin/

[2017-03-23 12:08] lukicmarko opened #217 "After Effects file for making custom viewController transitions"
Is there any After Effects file for making custom viewController transitions?
I have found vcTransition1.json file but I can't find After Effects file.

[2017-03-23 12:27] gpeal commented on #217
@lukicmarko please post this on lottie-ios

[2017-03-23 12:27] #217 closed

[2017-03-23 12:28] gpeal commented on #216
Since Lottie is built on top of bodymovin, the we won't be able to support it either. Rubberhose is on the road map though

[2017-03-23 12:28] #216 closed

[2017-03-23 12:39] lukicmarko commented on #217
@gpeal sorry.

[2017-03-23 14:06] Curwer opened #218 "Text support in animation"
Hi,

I was looking though some animations on lottiefiles.com and i found a animation with text in it. When looking in the json it uses fonts. I can´t find any way of having text / fonts in animations.

Is it possible?

[2017-03-23 14:19] #218 closed

[2017-03-24 18:15] podrivo commented on #215
I've tested in a different device with Android 7.0 and it works like a charm.
I'll try to dig more about this, but for now it's ok to close the issue.
Thanks! (:

[2017-03-24 18:15] #215 closed

[2017-03-24 18:28] podrivo commented on #47
@gpeal Radial gradient didn't work for me.

Here's a ZIP with .aep and .json: [Archive.zip](https://github.com/airbnb/lottie-android/files/868826/Archive.zip)

What I got:
![radial](https://cloud.githubusercontent.com/assets/546221/24308363/73abf474-10a6-11e7-8db3-04f3204dde18.png)

Expected:
![screen shot 2017-03-24 at 3 25 51 pm](https://cloud.githubusercontent.com/assets/546221/24308292/30a3265

[2017-03-24 18:48] #138 closed

[2017-03-24 18:59] gpeal commented on #47
@podrivo this will be fixed in beta3 which I'm about to push

[2017-03-24 19:05] #210 closed

[2017-03-24 22:16] #208 closed

[2017-03-25 12:15] AdityaAnand1 opened #220 "Is there a FOSS collection of animation files that can be used with this?"
Not really an 'issue' but I was just wondering if there was a popular collection of free animations somewhere that non-after effects users might find useful :)

[2017-03-25 13:23] m1ga commented on #220
there is http://www.lottiefiles.com/
Some even include the AE files!

[2017-03-25 14:18] Yellow5A5 opened #221 "There are some white dots twinkling when the width/height of AnimationView is small."
Has anyone ever had this problem?

There are white dots on canvas on the left.

<img src="https://s14.mogucdn.com/new1/v1/bmisc/f898e175d37275f2eb574bbe611a683b/bec24cb00f684898acdda6fcb30ae14f.png" width="300"/>  <img src="https://s14.mogucdn.com/new1/v1/bmisc/d29accb510f928d3e9129d9efab6fe3b/0f573071f52f43bf833c5deead7f4796.png" width="200"/>

[2017-03-25 15:00] gpeal commented on #221
@Yellow5A5 Can you attach the json or a sample project? You're also getting some really nasty aliasing which shouldn't be happening.
Can you try it on 2.0.0-beta3 too?

[2017-03-25 15:02] gpeal commented on #220
@AdityaAnand1 Yup, http://www.lottiefiles.com/ is your answer and is maintained by the community! We'll be announcing a second partnership soon too so stay tuned :)

[2017-03-25 15:02] #220 closed

[2017-03-26 08:46] passiondroid opened #222 "lottieAnimationView.cancelAnimation() is cancelling the animation with distorted image."
I used this file - http://www.lottiefiles.com/100-check-pop

![](https://media.giphy.com/media/uDuFXSIJgf8cg/giphy.gif)

It was playing nicely but when i execute cancel animation on it.
It get distorted -

![screen shot 2017-03-26 at 2 15 06 pm](https://cloud.githubusercontent.com/assets/1834030/24329800/b4212464-122e-11e7-9ddc-06b7d4343327.png)

Please check and help

[2017-03-26 16:06] podrivo commented on #47
@gpeal Gradient is working in beta3, but it's being applied related to the canvas and not to the element. So in my example, it feels like a mask.

[2017-03-26 16:08] gpeal commented on #47
Can you attach the aep file?

On Sun, Mar 26, 2017, 11:06 AM Pedro Ivo Hudson <notifications@github.com>
wrote:

[2017-03-26 16:10] podrivo commented on #47
@gpeal It's the same as above.
Here it is: [Archive.zip](https://github.com/airbnb/lottie-android/files/868826/Archive.zip)

[2017-03-26 16:25] podrivo opened #223 "Opacity applied to individual elements"
Opacity is being applied to individual elements, so during the transition you can see each element, instead of seeing as a group.

So for instance, take this screenshot from After Effects of a hand being transitioned.

The hand is formed of different elements, that fade as group.
<img width="551" alt="screen shot 2017-03-26 at 1 14 28 pm" src="https://cloud.githubusercontent.com/assets/546221/2433

[2017-03-27 01:20] #196 closed

[2017-03-27 02:48] loveher opened #224 "Failed to load json file"
Just used some supported features like Trim Paths.But it don't work.

[logo.aep.zip](https://github.com/airbnb/lottie-android/files/871344/logo.aep.zip)

[2017-03-27 06:39] Kevinrob commented on #210
Thanks @gpeal! it works well!

[2017-03-27 08:54] AlanCheen commented on #177
This is great!
Thanks!

[2017-03-27 10:46] wingoku opened #225 "LottieAnimationView setProgress() not working as expected"
I have a fragment inside an activity. Upon orientation change, the following code is executed in the fragment running LottieAnimationView. The code is supposed to _resume the animation from the same progress at which the fragment was destroyed_ upon orientation change. However in onActivityCreated() after orientation change, the **animation restarts from the beginning**. How can I fix it?

## EDIT

[2017-03-27 14:04] benlacey opened #226 "Animation working on iOS doesn't work as expected on Android"
I've got an animation that works as expected on iOS, but doesn't on Android - see the screenshot below for the difference at roughly the same point in the animation:

![image](https://cloud.githubusercontent.com/assets/5020620/24359972/cf9867aa-12fd-11e7-837d-32325928f310.png)

Would you expect the attached AE file or json to work in Lottie Android?

[spinner.aep.zip](https://github.com/airbnb/lot

[2017-03-27 14:32] hasdfa opened #227 "Something strange on Api 16"
I used example file: EmptyState.jsoun (Like in example).
And, when I run my app at android 4.1.1 (Api 16), watermelon eyes somewhere went)
Api 16:
<img width="250" alt="2017-03-27 17 36 19" src="https://cloud.githubusercontent.com/assets/12295460/24361929/f093a62a-1313-11e7-8fe3-143586aed55f.png">
Api 23 (android 6.0):
<img width="257" alt="2017-03-27 17 36 24" src="https://cloud.githubusercontent

[2017-03-27 14:37] bmc08gt commented on #226
What lottie version are you using on Android?

[2017-03-27 14:39] benlacey commented on #226
@bmc08gt 1.5.3, I believe.  The screenshot was from the current example apps from master branch.

[2017-03-27 16:14] gpeal commented on #226
@bmc08gt please try 2.0.0-beta3

[2017-03-27 17:27] bmc08gt commented on #226
@benlacey @gpeal Please try 2.0.0-beta3

[2017-03-27 17:39] gpeal commented on #226
@benlacey There does seem to me an issue with it. I'll take a look

[2017-03-27 17:45] podrivo commented on #215
Just in case, the device I detected the error, was a Moto G4 Plus.

[2017-03-27 18:07] bmc08gt commented on #225
#228 Seems to be working as expected after this change

[2017-03-27 18:09] gpeal commented on #47
@podrivo I'm not sure I understand what the issue is. This is what it looks like for me now:
![image](https://cloud.githubusercontent.com/assets/1307745/24370879/d71d7684-12dd-11e7-93fb-3560521a18f6.png)
Is there a difference between this and the expected one?

[2017-03-27 20:08] podrivo commented on #47
I'm scaling the gradient applied element.

In AE, everything is scaled, including the gradient, but in Lottie, just the form is scaled and not the gradient, so the element behaves as a mask.

In AE:
![screen shot 2017-03-27 at 4 48 19 pm](https://cloud.githubusercontent.com/assets/546221/24375708/a91cf5e8-130f-11e7-856c-5f9266926b2f.png)

In Lottie:
![screen shot 2017-03-27 at 5 06 24 pm](https://

[2017-03-27 20:17] gpeal commented on #47
Ah, I see. Thanks

[2017-03-28 00:34] gpeal commented on #225
Fixed by #228

[2017-03-28 00:34] #225 closed

[2017-03-28 08:53] ruijindp opened #229 "After converting to json format, the animation is not displayed in the android project！"
When using the bodymovin plugin to convert the aep file to json, then put the json file into the android project, the result does not show the animation effect, the bodymovin plugin uses the latest version, lottie relies on the 2.0.0-beta3 version.

[2017-03-28 12:28] chengzheustc opened #230 "Issue on S7 edge"
hi，the path is not well on Samsung Galaxy S7 edge while it performs well on the other devices.
Thanks for your time!

<img width="436" alt="qq20170328-202935 2x" src="https://cloud.githubusercontent.com/assets/4488715/24404838/52b083c8-13f5-11e7-8369-a3951cf261ae.png">
[like.aep.zip](https://github.com/airbnb/lottie-android/files/875612/like.aep.zip)

[2017-03-28 15:31] gpeal commented on #229
@ruijndp can you attach the aep file?

[2017-03-28 15:44] xgear-public opened #232 "Rendering problem"
Hello!
I have issue with animation rendering (Trim Paths presumably). Designer [made animation](http://image.prntscr.com/image/2e18a186e27f4b8ab8affc1d9389f76c.png) of 1 frame and 4 circles. frame and 2 circles has path animation clockwise, 2 other circles animates counter clockwise. So on the end of animation those elements which animated CW - disappear on device. If i run html in browser (bodymo

[2017-03-28 20:31] sureMOE opened #233 "Major issue with trim paths in 1.5.3. Has this been fixed already?"
It seems that on both Android and iOS 1.5.3 was a step backwards. I can't seem to get trim paths to render correctly anymore. I am doing nothing out of the ordinary from what I was doing before the release of 1.5.3. Has this been fixed in 2.0 beta? Is that going to have an official release soon? Thanks!

[2017-03-28 20:41] sureMOE commented on #233
Nevermind, figured it out

[2017-03-28 20:41] #233 closed

[2017-03-28 21:43] gpeal commented on #232
This will be fixed in beta4

[2017-03-28 23:39] gpeal commented on #221
@Yellow5A5 bump

[2017-03-29 04:29] Clarence-Yang commented on #227
I also have the same problem。Is there a solution?

[2017-03-29 04:37] ruijindp commented on #229
the aep file :   [http://7xpl2d.com1.z0.glb.clouddn.com/num.aep](http://7xpl2d.com1.z0.glb.clouddn.com/num.aep)
Converted json file：[http://7xpl2d.com1.z0.glb.clouddn.com/num.json](http://7xpl2d.com1.z0.glb.clouddn.com/num.json)

Thank you very mach!

[2017-03-29 22:56] gpeal commented on #227
I'm investigating

[2017-03-30 02:42] SwayChen opened #235 "There's a Exception to load json file, I provide the json"
I don't know if the something wrong with json, but it was exported by AE. Please spend some time, Thanks very much!

I found something wrong in codes. If json contains ".png", must provide the images folder. I use AI and then Export into AE, it has no png images! @seanfchan

[failed_anim.json.zip](https://github.com/airbnb/lottie-android/files/880899/failed_anim.json.zip)

[code]

[2017-03-30 02:50] Yellow5A5 commented on #221
There are some other problems.
The Animation is cut by the border.

[code]

### release

<img src="https://camo.githubusercontent.com/6efc319f63a242a7d6ef1d9569e40ebb6bd644e8/68747470733a2f2f7331342e6d6f677563646e2e636f6d2f6e6577312f76312f626d6973632f66383938653137356433373237356632656235373462626536313161363833622f62656332346362303066363834383938616364646136666362333061653134662e706e67" width="30

[2017-03-30 03:14] SwayChen commented on #235
I found something wrong in codes. If json contains ".png", must provide the images folder. I use AI and then Export into AE, it has no png images!

[2017-03-30 03:57] seanfchan commented on #235
@SwayChen not exactly sure what the problem is, but here a few thing to try.

1. Some data json generated by bodymovin is also accompanied by an image, did you try putting the image in the asset folder as well?
2. You can try calling LottieAnimationView#setImageAssetsFolder to set which folder Lottie should try to search for assets

@gpeal any other thoughts?

[2017-03-30 05:38] #227 closed

[2017-03-30 05:40] gpeal commented on #235
@SwayChen When you import an Illustrator layer, convert your AI layer to a shape layer or else bodymovin will export it as a png.
https://helpx.adobe.com/after-effects/atv/cs6-tutorials/converting-imported-vector-graphics-from-illustrator-to-shape-la.html

[2017-03-30 05:40] #235 closed

[2017-03-30 05:41] gpeal commented on #229
Lottie doesn't support Text yet. Can you create your animation using shapes instead?

[2017-03-30 05:41] #229 closed

[2017-03-30 06:17] gpeal commented on #221
@Yellow5A5 Try calling `setScaleType(ImageView.CENTER_INSIDE)`

[2017-03-30 06:35] #224 closed

[2017-03-30 06:49] gpeal commented on #222
@passiondroid I can't repro this. Can you attach a sample project if it's still happening. Also make sure to try it on 2.0.0-beta3

[2017-03-30 15:32] iggyfisk opened #236 "Particular animation crashes 2.0.0"
Attached is an animation JSON with a winking smiley face. On v1.5.3 it works fine, with v2.0.0-beta3 it crashes immediately when loading. Easy to reproduce, just put the JSON into the LottieSample app in this repo. I've only been able to test Android 6.0.0 and 6.0.1 so far but they both crash.

[wink_crash.json.zip](https://github.com/airbnb/lottie-android/files/882923/wink_crash.json.zip)

[2017-03-30 16:02] SwayChen commented on #235
Thanks for your reply, I will try it!

[2017-03-30 16:07] gpeal commented on #230
Hmm, this doesn't happen on my flat S7. I'll try and get my hands on an S7 edge.
Just as a test, can you make sure that each vertex has control points (which appear as handles in After Effects). Maybe you have some points with handles then a vertex that's just a point.

[2017-03-30 17:26] gpeal commented on #236
@iggyfisk Can you attach the After Effects file? The gradient is formatted strangely.
Unlink most properties, you have to explicitly save your AE file before exporting your composition for it to pick up your gradient changes. Is it possible that you didn't do that?

[2017-03-30 19:33] ptomasroos commented on #236
There are some hidden layers which was during the trial, dont mind them.
Thanks for looking into it @gpeal
[flirt.aep.zip](https://github.com/airbnb/lottie-android/files/883602/flirt.aep.zip)

[2017-03-30 19:55] fdnhkj commented on #235
I just found the documentation about AI layers and the tip about converting them to shapes in bodymovin wiki [bodymovin/bodymovin/wiki/Shapes#illustrator-layers](https://github.com/bodymovin/bodymovin/wiki/Shapes#illustrator-layers)

[2017-03-31 00:59] mlmaloney opened #237 "File working in demo - excluding features in JSON file"
Hey there - We are working on an animation for an app and we have the animation working and rendering correctly. We have tested it in the demo and see it all loading, however when we pass it over to the developer it is cutting out a certain layer. The logo isn't fully loading and missing two features, an eye and a beak on the store front. I've attached the zip file of the After Effects file and th

[2017-03-31 02:31] SwayChen commented on #235
@fdnhkj Thanks a lot! I just send the wiki page to our designer :)

[2017-03-31 10:38] iggyfisk commented on #236
As of https://github.com/airbnb/lottie-android/commit/ebb61868874554717b1fedd96cb34edf28105293 the animation now loads and plays without crashing, thanks @gpeal ! But with a different appearance than expected, different than lottie-ios and v.1.5.3 of this project. A comparison of the 0.0 frame:

lottie-android 1.5.3
<img width="236" alt="android 1 5 3" src="https://cloud.githubusercontent.com/asse

[2017-04-01 02:23] ruijindp commented on #229
We do with the shape of the way to do, use the mask and the path to do, but still do not show.

The aep file: [http://onpl11ugz.bkt.clouddn.com/three.aep](http://onpl11ugz.bkt.clouddn.com/three.aep)

[2017-04-01 16:22] hello423 opened #238 "Which is the most stable version for now"
Not really an 'issue' but which is the most stable version for now I can use in production environment? 1.0.3 or 1.5.3 or 2.0.0-beta3 ?

[2017-04-01 19:00] Yellow5A5 commented on #221
setScaleType(ImageView.ScaleType.CENTER_INSIDE)
it is not works.
The problems still exist...

[2017-04-02 01:30] isrinath commented on #221
Hi Yellow5A5,

Can you share the application?

[2017-04-02 20:56] gpeal commented on #238
2.0.0-beta3 is the most stable. It's mostly labeled beta to keep it in sync with iOS.

[2017-04-02 20:56] #238 closed

[2017-04-03 15:14] harshit-hike opened #239 "Adding Color Filter crashed"
Exception log :

[code]

**Bug 1**
In reference to LottieDrawable.java
[code]

[code]

In the above mentioned code, contentName is nullable but there is no check for nullable in hashCode().

**Bug 2**
In reference to LottieDrawable.java

[code]
According to ColorFilterData constructor, layerName cannot be null.

[2017-04-04 13:40] echorebel opened #240 "Add possibility to apply scale"
It would be great to have the possibility to scale an LottieAnimationView. This would ease the workflow between artists and developers.
Currently (1.5 & 2.0) the scale is automatically calculated from screen density, but there is no chance to offset this calculation. With this feature pixel dependent scale could be matched with density-independent pixel.

[2017-04-05 05:10] gpeal commented on #221
@Yellow5A5 I'm unable to repro this. I tried setting a LottieAnimationView to a very small size then using centerInside and the animation scaled down cleanly. Can you attach a sample project that repros this?

This PR may also be of interest: https://github.com/airbnb/lottie-android/pull/241

[2017-04-05 05:11] gpeal commented on #222
@passiondroid Please reopen this if it's still an issue. This may be a duplicate f #221 which I can't reproduce. If possible, can you attach a sample project that repros it?

[2017-04-05 05:11] #222 closed

[2017-04-05 05:12] gpeal commented on #239
https://github.com/airbnb/lottie-android/commit/246b2565327a5bddd9d3f7f1afba31038abab70e fixes the first one.

[2017-04-05 05:13] gpeal commented on #239
https://github.com/airbnb/lottie-android/commit/091bcdaba064604bfcba751530ec1e826170af60 fixes the second

[2017-04-05 05:13] #239 closed

[2017-04-05 05:16] #240 closed

[2017-04-05 05:21] gpeal commented on #237
@mlmaloney Can you makes sure he is on 2.0.0-beta3 (soon to be beta4)?
You can always find the latest version in the bottom of the same app animation screen or on the github readme

[2017-04-05 06:31] #236 closed

[2017-04-05 13:32] mlmaloney commented on #237
Hey @gpeal confirmed he is using the latest version on the `master` branch

[2017-04-06 13:38] edubovik opened #242 "Strange lines on rounded rectangle shape"
Hello,

I've got strange lines while playing simple animation.
btw The IOS library works fine.
The animation file.
[data.json.zip](https://github.com/airbnb/lottie-android/files/902701/data.json.zip)
Screenshots
![1](https://cloud.githubusercontent.com/assets/6649016/24757276/6c49a79e-1ae7-11e7-8cce-2c12055a5a4a.png)
![3](https://cloud.githubusercontent.com/assets/6649016/24757277/6c67828c-1ae7-11

[2017-04-07 03:22] clq123clq opened #244 "cann't install the app"
when I import the project into the Android Studio,run,But cann't insall

show below message:
Installation failed with message INSTALL_FAILED_TEST_ONLY.
It is possible that this issue is resolved by uninstalling an existing version of the apk if it is present, and then re-installing.

WARNING: Uninstalling will remove the application data!

Do you want to uninstall the existing application?

and be

[2017-04-07 03:56] madongqiang2201 opened #245 "Compatibility problem"
All animations int the demo that you provide can not play normally in the Lenovo K50-t5,but in other mobile phones it does.

here is the log:
04-07 12:13:03.177 23564-23564/com.airbnb.lottie D/AnimationFragment: Dropped frames: 0
04-07 12:13:03.178 23564-23564/com.airbnb.lottie D/ProgressBar: setProgress, old = 0, new = 0, max = 100, backtrace = android.widget.ProgressBar.setProgress:1311 com.airb

[2017-04-07 05:34] gpeal commented on #244
There seems to be some issue with your emulator or compilation but I don't think this is a Lottie issue.

[2017-04-07 05:34] #244 closed

[2017-04-07 05:37] gpeal commented on #242
@edubovik Can you attach the AE file?

[2017-04-07 07:05] edubovik commented on #242
@gpeal Sure. See attachments please.
[test.aep.zip](https://github.com/airbnb/lottie-android/files/904766/test.aep.zip)

[2017-04-07 07:11] madongqiang2201 commented on #245
This problem has nothing to do with this project,the mobile phone lenovo K50-t5 just cannot play ValueAnimator!

[2017-04-07 07:11] #245 closed

[2017-04-07 11:30] edubovik commented on #242
I've made a fixes for RectangleContent in two formulas and this fixes the issue.

`package com.airbnb.lottie;

import android.graphics.Path;
import android.graphics.PointF;
import android.graphics.RectF;
import android.support.annotation.Nullable;

import java.util.List;

class RectangleContent implements PathContent, BaseKeyframeAnimation.AnimationListener {
    private final Path path = new Path

[2017-04-07 12:19] edubovik commented on #242
I've added new pull request but I couldn't add @gpeal to reviewers.

[2017-04-07 18:23] lighterletter opened #247 "No log message when json file not found."
So I spent around 20 mins trying to figure out why an animation would crash my app when another one wouldn't, even though everything stayed the same except the file name. Until I found I misspelled something. I know, silly me. Would be nice however if there was log-cat output for when the filename passed in to the lottie view is null, or not within the assets recognized. As it stands the library f

[2017-04-07 19:43] nAkhmedov commented on #244
The same issue on me :(

[2017-04-07 19:43] nAkhmedov commented on #244
04/08 00:42:42: Launching LottieSample
$ adb install-multiple -r /Users/navruz/a_work/Android/lottie-android/LottieSample/build/intermediates/split-apk/debug/dep/dependencies.apk /Users/navruz/a_work/Android/lottie-android/LottieSample/build/outputs/apk/LottieSample-debug.apk /Users/navruz/a_work/Android/lottie-android/LottieSample/build/intermediates/split-apk/debug/slices/slice_5.apk /Users/navr

[2017-04-07 20:24] gpeal commented on #244
Can you try with Android Studio 2.4 and instant run off?

On Fri, Apr 7, 2017, 12:43 PM nAkhmedov <notifications@github.com> wrote:

[2017-04-08 06:55] gpeal opened #249 "Apply scale to trim path offset"
Last remaining issue for #226

[2017-04-08 06:55] gpeal commented on #226
Tracking last remaining issue in #249

[2017-04-08 06:55] #226 closed

[2017-04-08 06:57] gpeal commented on #247
@lighterletter Didn't you say it crashed your app? Crashing would be the expected behavior in which case the stack should indicate that the file was not found.

[2017-04-08 07:06] #242 closed

[2017-04-08 07:10] lighterletter commented on #247
That's what I mean when I mentioned it failed silently, I didn't see any error output when the file wasn't found. The crash presented in the logcat indicated a state failure which was odd in the given circumstances since the state I was managing had little to do with the animation-view; which happened to work perfectly given a proper file name.

[2017-04-08 07:11] gpeal commented on #237
The iOS version doesn't yet support all of the features that Android does including fill types which I assume is why the beak is gone. You can file iOS issues on the lottie-ios repo. Has your Android developer experienced any issues?

[2017-04-08 07:19] lighterletter commented on #247
I can look for it and make a pull request tomorrow :laughing: It'll make for a funny tweet if I get a merge from airbnb for something so silly as misspelling a filename.

[2017-04-08 07:31] gpeal commented on #247
Go for it :)

[2017-04-08 07:39] edubovik commented on #242
@gpeal Thanks a lot!

[2017-04-08 09:49] lighterletter commented on #247
Nvm. I are big dum dum hed. I found the log, the library is throwing the error correctly. l must have missed it during my debugging. Sorry about that, thanks Gabriel.

[2017-04-08 09:49] #247 closed

[2017-04-08 19:20] gpeal commented on #230
@chengyin I just tried all of the compositions in your AE file on an S7 edge and they all looked fine. Can you try again on master. It's going to be tough to fix this one unless I can repro it.

[2017-04-08 19:49] gpeal commented on #221
@Yellow5A5 Can you create a sample project that repros this?

[2017-04-09 15:20] Yellow5A5 commented on #221
ok, I will send the email for you.

[2017-04-09 15:20] #221 closed

[2017-04-10 07:05] xgear-public commented on #232
Problem still exist after updating library version to [2.0.0-beta4](https://github.com/airbnb/lottie-android/milestone/4)

[2017-04-10 19:13] mradzinski commented on #230
@gpeal Just tested this on my S7 Edge and couldn't reproduce it either, but as per the screenshot he's using beta3, so it might have been fixed in beta4 😕

[2017-04-12 01:34] dcow opened #250 "Switch source in animator listener: animation freezes"
What's the best way to stitch a series of animations together? I have a set of 3, intro, loop, outro. I'm canceling the first animation onAnimationEnd, removing the old listener, setting a new listener, setting a new animation, and playing it. Something like:

    val introListener = object : Animator.AnimatorListener {
        override fun onAnimationEnd(animation: Animator?) {
            // con

[2017-04-12 07:34] GaryMr opened #251 "PathKeyframe "to" and "ti" calculation error."
PathKeyframe "to" and "ti" calculation error.
If "to" or "ti" has only one object that is non-zero, it will not be calculated.

Modify the com.airbnb.lottie.Utils.createPath method, run correctly.

[code]

DEMO FILE:
[TMTest.zip](https://github.com/airbnb/lottie-android/files/915727/TMTest.zip)

[2017-04-12 14:27] lifove opened #252 "Wrong indexer in an inner loop"
Hi

In a recent snapshot, I've found a following suspicious code in lottie/src/main/java/com/airbnb/lottie/BaseStrokeContent.java

[code]
In Line 206, should the indexer of pathGroup.paths.get(i) be j? This might be a trivial thing but just wanted to report just in case.

Thanks!

[2017-04-13 16:55] gpeal commented on #252
Thanks, good catch :)

[2017-04-13 16:56] gpeal commented on #237
@mlmaloney bump

[2017-04-13 19:51] ramonaharrison opened #253 "Allow adding color filter to the whole animation in XML"
I'd like to be able to add a color filter to a `LottieAnimationView` in XML, similar to the `tint` attribute for `ImageView`. This would simplify setup for assets that require different tints throughout the app, or those that have color changes based on day/night mode.

I think this could be done by declaring an attribute `lottie_colorFilter` for `R.styleable.LottieAnimationView`.

This would take

[2017-04-16 08:45] AlanCheen commented on #116
I met this case too , the CPU is almost increased to 50%!

What can i do to decrease ?

[2017-04-18 06:10] lizhe-tech opened #255 "2.0beta setLayerType(LAYER_TYPE_HARDWARE) may cause gpu-memory leak"
I see in your latest beta version, there's a method not always to use software layer:
@SuppressWarnings({"WeakerAccess", "unused"}) public void useExperimentalHardwareAcceleration() {
    setLayerType(LAYER_TYPE_HARDWARE, null);
  }

In my point, you guys should use LAYER_TYPE_NONE, you needn't use something like hardware layer, but the feature of hardware acceleration. More over, anytime you've s

[2017-04-19 11:15] marianpavel opened #257 "Animation not showing all the frames"
Hi,

I've requested to the designers of a project to use the Lottie library and get me the JSON file of the animation.
I have received two files, a JSON, and an HTML web page. As you guessed opening the web page shows me the animation but when I import it in android using Lottie or test it on sample application from this repo the animation is not played at all.

I asked the designers for the after

[2017-04-19 11:57] gpeal commented on #230
@chengzheustc Feel free to reopen this if you can still repro it.

[2017-04-19 11:57] #230 closed

[2017-04-19 11:58] gpeal commented on #257
It definitely looks like something isn't rendering correctly. As soon as you attach the AE file, I can take a look

[2017-04-19 16:44] #251 closed

[2017-04-19 16:44] #252 closed

[2017-04-20 05:25] zhangkaiyue0701 opened #259 "White screen when play .json animation"
Android 6.0
Lottie Version 1.5.3
When I use LottieAnimationView to play .json file, it's not works.It will show a white screen.

xml file:
[code]

java file
[code]

json file:
[code]

assets/images
image_0.png
![img_0](https://cloud.githubusercontent.com/assets/13346163/25214878/8db5e29a-25cc-11e7-939a-a2b9079d1641.png)
image_1.png    (white image)
![img_1](https://cloud.githubusercontent.com/asse

[2017-04-20 09:05] 2666fff commented on #255
same issue here :(

[2017-04-20 13:54] marianpavel commented on #257
Thank you @gpeal , I have attached the after effects source file.
Thank you !
[source.zip](https://github.com/airbnb/lottie-android/files/943271/source.zip)

[2017-04-20 16:08] adamhairfield opened #260 "Rendering issue"
I am having issues with rendering json animation through Lottie. Everything we have done so far for iOS works fine but for some reason bits and pieces are missing randomly from animations in Android.

For example, the attached file renders with a missing bottom tongue. Can't figure out what I am doing wrong.

Should look like this:
![screen shot 2017-04-20 at 11 07 31 am](https://cloud.githubuserc

[2017-04-20 17:33] gpeal commented on #260
@adamhairfield What version of Lottie are you using? Mine looks like this with 2.0.0-beta4
![image](https://cloud.githubusercontent.com/assets/1307745/25244275/9f1a888a-25c5-11e7-9262-0d270812fd4b.png)

[2017-04-20 19:14] gpeal commented on #259
@zhangkaiyue0701 Why are you using a png for the green check? That's sometime that would be much more efficient to render as an after effects shape.

[2017-04-20 20:43] #232 closed

[2017-04-20 20:53] #255 closed

[2017-04-21 01:17] chengzheustc commented on #230
@gpeal thanks for your time. I will try again.

[2017-04-21 01:27] chengzheustc commented on #230
@gpeal , I pull the latest code. it performs well on S7 edge now. Thanks

[2017-04-21 03:35] zhangkaiyue0701 commented on #259
Maybe UI Designer thinks that's more easier. I'm a developer, and I'm not good at After Effects.

[2017-04-21 07:12] marianpavel commented on #259
Check out android vector drawable's. that drawable's can be done easily with that.

[2017-04-21 13:32] asdfg17 opened #261 "ColorFilter doesn't work for layers used in secondary compositions"
Android 6.0.1
Lottie Version 2.0.0-beta4
I have a JSON in witch all layers are shape type. Some of them are included in secondary compositions. For this ones I can't add a color filter. From what I sow, this happens partially because layers from assets are not taken in consideration. Even after I included them, this didn't solve the problem. Should this cases be covered or for now , in order to ad

[2017-04-22 17:34] gpeal commented on #259
@zhangkaiyue0701 @marianpavel The benefit of Lottie is that you can design things like that check directly in After Effects. Lottie doesn't make sense if you're just going to be animating pngs

[2017-04-22 20:21] gpeal commented on #261
@seanfchan Fyi.

This makes sense to me. Sean, do you want to take a look or do you want me to?

[2017-04-22 20:23] gpeal commented on #250
[code]

This works for me.

It's not super straightforward and I'll try and think of a simpler way to handle this since it seems like a relatively common pattern but for now, this will work.

The reason yours doesn't work is because the onAnimationEnd callback occurs before an animator internally calls `mRunning` and `mStarted` to false which is why you had to post it when you used on AnimationEnd

[2017-04-22 20:23] #250 closed

[2017-04-22 20:23] gpeal commented on #250
@dcow ^

[2017-04-23 16:32] kswlee opened #262 "GradientFillContent does not consider the transforms on gradient shader"
If the gradient contains transformations, the rendering result would be inconsistent with the AE result. Please try the attache AE project, and you should be able to compare the differences.
Thanks a lot.
[cms_v4_mainprocess_animation_1704.aep.zip](https://github.com/airbnb/lottie-android/files/949835/cms_v4_mainprocess_animation_1704.aep.zip)

[2017-04-24 04:10] BreeKeogh opened #263 "File not working when exported to .json Body Movin"
Hi there,

I'm really hoping that someone can help me!

I am trying to make an animation for an android app and when I export my animation using BodyMovin and when the .json file is used the animation doesn't show up.

Hoping someone can help me figure out what is in my file that isn't supported and possibly help me out with a work around!

The Comp is Comp 5 in the file.
[Green circle tick 2.aep.

[2017-04-24 11:42] #259 closed

[2017-04-24 20:23] gpeal commented on #263
@BreeKeogh Lottie doesn't support slider control effects. You can achieve this same effect by animating a trim pat though

[2017-04-24 20:23] #263 closed

[2017-04-25 17:58] gpeal commented on #253
Fixed by #256

[2017-04-25 17:58] #253 closed

[2017-04-25 17:59] gpeal commented on #262
Tracking this issue in #47

[2017-04-25 17:59] #262 closed

[2017-04-25 22:23] sonaye commented on #260
I am having a similar problem, using lottie-react-native 1.1.1

ios
<img width="167" alt="screen shot 2017-04-26 at 1 21 51 am" src="https://cloud.githubusercontent.com/assets/23000873/25410349/cf9675f2-2a1e-11e7-918a-f389ab2d053b.png">

android
<img width="189" alt="screen shot 2017-04-26 at 1 20 00 am" src="https://cloud.githubusercontent.com/assets/23000873/25410353/d614f566-2a1e-11e7-9467-72d9

[2017-04-25 22:28] sonaye commented on #260
1.1.1 uses 2.0.0-beta3, was this addressed in beta4 or after it?

[2017-04-25 22:44] gpeal commented on #260
@sonaye can you attach the aep file?

[2017-04-25 23:02] sonaye commented on #260
@gpeal can't share the same animation, but i can share another one which suffers from the same issue, actually most of the animations that i have (around 30) suffer from renderrig issues on android while working perfectly on ios.

<img width="473" alt="screen shot 2017-04-26 at 1 58 10 am" src="https://cloud.githubusercontent.com/assets/23000873/25411233/3d7f8dce-2a24-11e7-8c77-d5dc1a458e2f.png">

[2017-04-26 00:22] gpeal commented on #260
@sonaye This is what it looks like for me. Try scanning this qr code from the lottie sample app in the play store. It should load your animation:

![image](https://cloud.githubusercontent.com/assets/1307745/25413006/c5341328-29db-11e7-9445-9e6f13a4b1b9.png)

![image](https://cloud.githubusercontent.com/assets/1307745/25412965/9f170830-29db-11e7-89f7-a5445c2ec5c0.png)

[2017-04-26 01:54] AlanCheen opened #266 "When will v2.0 be released?"
Do you have any plan about v2.0?

[2017-04-26 07:33] zokipirlo commented on #260
[This animation](http://www.lottiefiles.com/124-download) from LottieFiles is broken in Lottie Preview application.

[2017-04-26 09:39] sonaye commented on #260
@gpeal can you try it on beta3 to confirm wether this issue is specific to that version? what version did you test it on?

[2017-04-26 16:38] TinoGuo opened #267 "Add color filter sample code"
Thank u for the great library!
Could u commit some sample code about add color filter? Because I'm not familiar with AE, also have no idea about layer name and content name. I just want to implement color filter with progress.
Thanks a lot!!!👍

[2017-04-27 11:06] xgear-public opened #268 "Proguard question"
Do I need to configure specific proguard rules for library?

[2017-04-27 11:41] digitalbuddha commented on #268
We use Lottie with proguard and did not need any configuration.

[2017-04-27 11:57] zhangsn commented on #260
I have similar problem when running the demo 'LottieLogo1.json' on Android 4.4.4. A lot of lines are missing. Other demo also have same problem.
![device-2017-04-27-195456](https://cloud.githubusercontent.com/assets/1401172/25482237/7e1b70f4-2b83-11e7-9d1a-4ae5a11055b0.png)

[2017-04-27 12:00] xgear-public commented on #268
Ok, thanks for answer. Just wanted to check.

[2017-04-27 12:00] #268 closed

[2017-04-27 14:48] JachinGao opened #269 "interaction issue"
Hi,
Recently i have been concerned about the great library,here are some ideas to discuss.

Will Lottie later can provide some APIs to increase interactivity? For example,I treat  LottieAnimationView as a container, each element of the animation is seen as a view, just like the relationship between ViewGroup and View. Then through the container,we can get each of the independent element in the ani

[2017-04-28 09:55] sonaye commented on #260
@gpeal what version did you use to test the animation, beta4? can we get a confirmation? we are trying to get this patched in expo.

[2017-04-28 15:45] Animissimo opened #270 "Unknown Crop!"
When I export my animation and test it with Android Studio it's croped!
[Assets.zip](https://github.com/airbnb/lottie-android/files/964826/Assets.zip)
![preview](https://cloud.githubusercontent.com/assets/28153243/25536280/e5c50070-2c42-11e7-93c6-20faa5d63b69.png)

[2017-04-28 23:24] gpeal commented on #270
@Animissimo I think your composition may be too large. The size of your composition will be converted to dps so try making it smaller.

[2017-04-28 23:30] gpeal commented on #269
@JachinGao We don't plan on adding interactivity. However, you can split up the animation and use multiple LottieAnimationViews to achieve the same effect.

[2017-04-28 23:30] #269 closed

[2017-04-29 13:44] Animissimo commented on #270
When I try to do the same for any other shape layers - it works perfectly. How do you think, what's wrong with my animation shape layer?

[2017-04-30 16:23] #270 closed

[2017-04-30 16:25] Animissimo commented on #270
I spent the weekend figuring out what the problem is))) It seems like the case in the project in which I'm testing the animation

[2017-05-01 23:43] gpeal commented on #267
@TinoGuo Are you trying to use an animation created by somebody else? If so, you can search for "nm" in the json in which you see something like this:
![image](https://cloud.githubusercontent.com/assets/1307745/25598960/4bd23d64-2e8d-11e7-9ec9-b4f1b7d48927.png)

[2017-05-01 23:44] #267 closed

[2017-05-01 23:44] gpeal commented on #266
@AlanCheen I'm just waiting to keep it in sync with ios. However, the latest beta is stable and should be used.

[2017-05-01 23:44] #266 closed

[2017-05-01 23:44] #237 closed

[2017-05-01 23:45] gpeal commented on #260
@zhangsn What device is that? I am unable to repro this on any of mine.

@sonaye I don't understand your question

[2017-05-02 05:20] TinoGuo commented on #267
@gpeal I got it! Thanks

[2017-05-02 07:26] sonaye commented on #260
@gpeal what lottie-android version did you use to test here https://github.com/airbnb/lottie-android/issues/260#issuecomment-297202473, beta4?

[2017-05-02 07:46] AlanCheen commented on #266
OK,Thank you!~

[2017-05-02 09:58] arshujain opened #271 "Does Lotte Framework support svg files?"
It inputs JSON files for animation.
Does it also support svg files for animation?
If yes , how we can give svg files as input?

[2017-05-02 10:02] arshujain opened #272 "Can we add touch listeners separately for every object in a json file?"
suppose your json file has 4 objects that are animating.
I want to control one object irrespective of others. Ex- pausing animation, slow down animation ,etc for only one object while others are animating at normal pace.

[2017-05-02 12:08] zhuyakk opened #273 "2 Bugs and resolve methods about views with mask and margin and linearGradient with tranform"
[gradient.aep.zip](https://github.com/airbnb/lottie-android/files/970356/gradient.aep.zip)
[Bug1] Animation displays incompletely.
1.there is a mask in ae
2.lottieAnimationView has a margin or it's parents has a margin
resolve method: in BaseLayer.java draw()
change
`rect.set(0, 0, canvas.getWidth(), canvas.getHeight());`
to
`rect.set(0,0, screenWidth, screenHeight);`

[Bug2] LinearGradient with a

[2017-05-03 02:50] AlanCheen opened #275 "The Octopus animation looks like something is wrong"
screenshot:

![octpus](http://ww1.sinaimg.cn/large/98900c07gy1ff7zc8wmk7j20u01hc0v0.jpg)

[2017-05-03 02:57] zhangsn commented on #260
@gpeal Thanks for the reply
Redmi 2A and a Meizu M1
![image](https://cloud.githubusercontent.com/assets/1401172/25646861/2ca27324-2fef-11e7-9741-d86b06d49cff.png)

![image](https://cloud.githubusercontent.com/assets/1401172/25646851/113f6f38-2fef-11e7-9f77-7ed90595d4e3.png)

They all render like this gif
![ezgif-1-92e4e9d468](https://cloud.githubusercontent.com/assets/1401172/25646871/41c158e2-2fe

[2017-05-03 06:40] asdfg17 opened #276 "Wicht is the proper way to trigger other events when animation gets to a certain point/progress"
If I try to use getProgress inside addAnimatorUpdateListener(), I will always receive other values. That is because addAnimatorUpdateListener() will not return a constant counter that increments itselfs, and I can't compare that values in order to trigger other events, like showing a text under etc. Should be other way to do this? Thanks.

[2017-05-03 07:13] asdfg17 opened #277 "!Major. Animation is not played on HTC A9 6.0"

[2017-05-03 07:36] #277 closed

[2017-05-03 10:23] amatsegor opened #278 "API-specific animation bug"
I've done all the steps of implementing Lottie animation in my project
On API 23 and above things are going well, but when I'm triyng to test an animation on Lollipop or Kitkat device (device or emulator, doesn't matter, result is the same), I'm getting a strange look such as this

<= API22
![screenshot_1493805302](https://cloud.githubusercontent.com/assets/1627127/25656776/482c3602-3003-11e7-8e34

[2017-05-03 13:59] vbe commented on #260
Same issue here, it looks like for versions under Lollipop the animation is missing quite a few lines.

[2017-05-03 17:35] gpeal commented on #276
@asdfg17 I don't understand your question. Can you be more specific?

[2017-05-03 17:38] gpeal commented on #272
@arshujain You can have multiple LottieDrawables/LottieAnimationViews going at once. I suggest you export each object as a separate animation then you can control them all independently and just make them overlap by putting them all in a FrameLayout or something.

If you want them to play in sync, create your own ValueAnimator that goes from 0 to 1 and in the update listener for that, set the prog

[2017-05-03 17:38] #272 closed

[2017-05-03 17:38] gpeal commented on #271
@arshujain Lottie only supports json exported by bodymovin.

[2017-05-03 17:38] #271 closed

[2017-05-03 20:25] Igor1201 opened #279 "Bad JSON opt calls"
Hey there, I'm using lottie `2.0.0-beta4` via lottie-react-native `1.1.1`.
My app crashes when I try to use `<Animation />`. The crash however only happens on Android:

[code]

Every `opt` call to `json` object is returning the fallback. Strangely enough, the `get` calls return the value correctly. While debugging, if I do `json.getJSONArray("layers")` it returns `[]`, and `json.optJSONArray("laye

[2017-05-04 03:31] gpeal commented on #279
@Igor1201 What version of After Effects/bodymovin are you using? Can you attach the aep or json file? I'm not sure why this would only happen in certain situations unless it's with a different version of AE or bodymovin.

[2017-05-04 08:08] SLSIC opened #280 "When i use this to ListView, I have some problems;"
if i use Lottie as listview's item, the devices main thread will be block;
there's item's xml layout:
    <com.airbnb.lottie.LottieAnimationView
        android:id="@+id/item_anim"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignBottom="@id/timeTv"
        android:layout_alignTop="@id/timeTv"
        android:layout_gravity="cente

[2017-05-04 13:33] Igor1201 commented on #279
@gpeal I've tested with some proprietary exported animations using AE CC, but it behaves exactly the same way with the [lottie-react-native samples](https://github.com/airbnb/lottie-react-native/blob/master/example/animations/). Also, all animations I've tested work fine on iOS.

We're compiling to android 25, with minSdkVersion 16, using build-tools 25.0.2.
The `json` object while debugging seems

[2017-05-04 17:17] ericawong opened #281 "Masking and Effect / Presets"
We've noticed in the new beta version the rendering for effects / presets were fixed, but didn't render the masking of composition properly. While the pervious version, rendering the masking of a composition was totally fine but the effects were not render properly.

Also, with the new beta version, the animation actually runs kinda slow compare to the pervious version.

Please let us know if ther

[2017-05-04 17:40] gpeal commented on #279
@Igor1201 Is this coming from React Native?

[2017-05-04 18:43] Igor1201 commented on #279
@gpeal yes, it is

[2017-05-04 23:36] trevjonez opened #282 "Expose synchronous file loading methods"
Currently the only exposed way to load a LottieComposition is via the factory abstraction over async task.
While I commend your effort to not bring in any unnecessary libraries, I prefer to use the RX api as a source of asynchronous operations and is how I plan to expose the load result regardless of how they are actually loaded.

By exposing `fromFileSync(Context, String)` wrapping the operation

[2017-05-04 23:46] elihart opened #283 "BaseKeyframeAnimation#addUpdateListener is called often"
In doing some general profiling I noticed this method was call a lot when loading a page with Lottie. In my case, 900 times for a fairly simple animation.

It didn't take an excessive amount of time, but the high count stood out to me and seemed like something that might be able to be optimized.

[2017-05-05 07:59] asdfg17 commented on #276
How can I know exactly the progress of my animation, so that I can compare and show certain things at a specific time/progress that I want? For example showing a text under, when anim reached 1000 ms.

[2017-05-05 15:21] gpeal commented on #276
You can add an update listener to LottieAnimationView or LottieDrawable and check the progress there.

[2017-05-05 15:21] #276 closed

[2017-05-06 02:46] madd86 opened #284 "Animation takes a long time to "show""
I'm trying to show a dialog with an animation while the user waits for the AsyncTask to finish.

To achieve this, I used the following code (inside AsyncTask)?

[code]

The code above works wonderfully.

The only problem is that the animation takes about north of 1 second to show up. So I end up seeing the text way before the animation.

Is there anyway to make the animation show up as soon as the

[2017-05-07 03:59] shuixingge opened #285 "LottieAnimationView.onRestoreInstanceState(Parcelable state) not call setImageAssetsFolder()"
if you switch  app in background , the LottieAnimationView may be recycled. And onRestoreInstanceState() will be called when restart the app.but the method "setImageAssetsFolder()" not be called in  onRestoreInstanceState() before start animation(playAnimation()). this will product  " IllegalStateException("You must set an images folder before loading an image."
my simple solution is below:
[code]

[2017-05-07 05:42] ArihantJain456 commented on #174
I am also facing the same problem

[2017-05-07 20:43] gpeal commented on #284
@madd86 It's likely the time it takes to do the json parsing. You can load the create the LottieDrawable or LottieComposition ahead of time and just set it on your LottieAnimationView so you can do the loading ahead of time. It should show up immediately then.

[2017-05-07 20:43] #284 closed

[2017-05-07 20:45] madd86 commented on #284
@gpeal How do I load it ahead of time? Can I load it on the MainActivity?

[2017-05-07 20:49] gpeal commented on #284
Yes, you can call LottieComposition.fromAssetFileName whenever/wherever you'd like.

[2017-05-07 20:49] gpeal commented on #284
@madd86

[2017-05-07 20:50] #285 closed

[2017-05-07 20:51] #282 closed

[2017-05-07 20:52] madd86 commented on #284
@gpeal only problem is that my custom dialog is reused a few times, so I can't exactly set an animation beforehand.

Can I use that command to parse all the available animation, maybe asynchronously?

Get the animations ready somehow..

[2017-05-07 21:59] madd86 commented on #284
@gpeal Made it work, thank you.

[2017-05-07 23:10] gpeal commented on #260
@sonaye I think your issue will be fixed by this: https://github.com/airbnb/lottie-react-native/pull/129

[2017-05-07 23:10] #260 closed

[2017-05-07 23:16] gpeal commented on #278
Hmm, it looks fine for me. this is on 4.2.2. Can you try cloning the repo trying it in the sample app?
![image](https://cloud.githubusercontent.com/assets/1307745/25785926/a13a5a68-3359-11e7-837e-2a465dc35b9a.png)

[2017-05-07 23:17] sonaye commented on #260
@gpeal it completely make sense that having no decimals would cause these glitches in the drawings.

[2017-05-08 03:36] gpeal commented on #280
@SLSIC Try setting the cache strategy to Weak or Strong when you set the composition. Then it will only deserialize once.

[2017-05-08 03:36] #280 closed

[2017-05-08 04:44] gpeal commented on #261
@asdfg17 I just tried this and it worked. Precomps are added to the main composition during deserialization. Maybe you're not using the right layer/content name?
If you can't get it to work, attach a sample AE file that's broken.

[2017-05-08 04:44] #261 closed

[2017-05-08 13:49] charleston10 opened #287 "Is executing animation with fail"
**Version: 2.0.0-beta4**
I'm changing animation with same lotties

1 - lottie1.json (2 seconds)
2 - lottie2.json (2 seconds)
3 - lottie3.json (2 seconds)

When I change lottie1 to lottie2, the second lottie is executing by 1 seconds or some times don't executing
I did have this problem with queue animation in view, because this android don't delete this animation in some devices causing conflicts

[2017-05-08 13:56] gpeal commented on #287
@charleston10 It's not clear what the issue is without seeing more of the code. Is there something actionable here?

[2017-05-08 15:23] charleston10 commented on #287
When I change this animation in the LottieView, the second animation executing by self or in some times don't execute (this case only show this first frame)

[2017-05-08 15:29] charleston10 commented on #287
[code]

[2017-05-08 15:31] charleston10 commented on #287
# # #

[2017-05-09 08:29] anaghvj opened #288 "Issue : The Path cannot loop back on itself"
I am receiving runtime exception

[code]
Attaching the Bodymovin ZIP
[Archive.zip](https://github.com/airbnb/lottie-android/files/985958/Archive.zip)

My code
 `<com.airbnb.lottie.LottieAnimationView
        android:id="@+id/animation_view"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_centerInParent="true" />`

` animationView = (L

[2017-05-09 13:38] gpeal commented on #288
@anaghvj Can you attach the after effects file?

[2017-05-09 14:58] sachinsimiliate commented on #288
[Onboarding 2page_edit.aep.zip](https://github.com/airbnb/lottie-android/files/987038/Onboarding.2page_edit.aep.zip)

[2017-05-09 15:17] #288 closed

[2017-05-09 15:54] mattinger opened #290 "How do i use a json that refers to images without having them in the assets folder"
I'm trying to load a .json file with the sample app from the Download folder on my device.  In there, i have a .json file which references two images within the "images" folder (relative to the .json file).  However it keeps crashing.

I can see on the main docs page it talks about having images in the assets folder, but i'm not going to be delivering these in the assets folder.  They will be down

[2017-05-09 15:54] #47 closed

[2017-05-09 15:54] #273 closed

[2017-05-09 16:01] mattinger commented on #290
[code]

[2017-05-09 17:33] #281 closed

[2017-05-09 19:10] gpeal commented on #290
You can use `ImageAssetDelegate` :) There is an example in the README.

[2017-05-09 19:10] #290 closed

[2017-05-09 19:12] gpeal commented on #287
@charleston10 Can you try my solution here: https://github.com/airbnb/lottie-android/issues/250

I think it's the same issue

[2017-05-09 19:26] charleston10 commented on #287
@gpeal can solve my problem.. But this code is very **"workaround"**

[2017-05-09 19:49] gpeal commented on #287
@charleston10 I agree. I've been thinking about a way to set up scenes or animation sets. I'll start trying some stuff out after 2.0 final.

[2017-05-09 19:49] #287 closed

[2017-05-09 19:49] gpeal opened #291 "Create a Scene/AnimationSet to sequence/loop sets of animations."

[2017-05-09 19:50] gpeal commented on #287
#291

[2017-05-09 20:00] charleston10 commented on #287
No problems.. Thanks by your help ;)

[2017-05-09 20:29] gpeal commented on #279
@Igor1201 Seems like the json marshalling isn't correct coming from the javascript side. I may create a workaround but I'd like to fix the root cause.

[2017-05-09 20:37] Igor1201 commented on #279
@gpeal of course, what can I do to help?

[2017-05-10 01:03] #279 closed

[2017-05-10 03:48] gpeal commented on #275
I don't like any of my workarounds so far. I'll keep working on it but if you encounter this, add control point handles to vertices that are missing them.

[2017-05-10 13:31] vanniktech opened #292 "Sample app - Option to paste Lottie Json Animation from Clipboard"
In the sample app, I'd like to have a way to paste the Lottie Json Animation from my clipboard and let it show immediately.

[2017-05-11 12:09] imliujun opened #294 "Open image loading and cache module access permissions"
Hope to be able to open the `ImageAssetBitmapManager` access, allowing developers to manage their own bitmap load and cache.
We have a lot of animation using the image to render, Lottie now on these images cache management is not open enough.
For example, an animation has 90 images, one of which requires dynamic processing, each time you start the animation need to modify this image, but the` Imag

[2017-05-11 13:49] amanzan opened #295 "Problem with Lottie and Glide: Listener not called nor image displayed when using Lottie in the same layout"
Very strange issue. I also opened an issue on Glide's github, but I wanted to check if anybody here has any idea about this issue.

I have an xml with  a LottieAnimationView that I try to use as a placeholder while the image is loaded using Glide. So I use Glide's listener to detect when the resource is ready, and then I set LottieAnimationView's visibility to GONE to visualize the image. For some

[2017-05-11 21:00] gpeal commented on #295
@amanzan Try using a LottieDrawable and setting it as the placeholder in glide instead of LottieAnimationView

[2017-05-12 02:52] imliujun commented on #294
Hope Lottie can better support the image animation, in different platforms above the use of network download json and images can achieve the same ValueAnimator, greatly reducing the workload of the developer

[2017-05-12 15:19] ltlovezh opened #296 "app:lottie_cacheStrategy="strong" not working"
if setting app:lottie_fileName="hello-world.json" and app:lottie_cacheStrategy="strong" at the same time int the layout file , the lottie_cacheStrategy property no effect.

because init the lottie_cacheStrategy property after lottie_fileName property in the init method of LottieAnimationView

[2017-05-15 10:53] guochong opened #298 "does lottie support 3-d ae animation"

[2017-05-15 11:19] shweps opened #299 "scale on api 16-17"
Hi,
i'm an Android developer using your 'Lottie' library & i'm facing a strange issue:
when using lottie on several old devices running Android API level 16/17 sutch as HTC one, Xperia Z etc. the animation seems to be a lot more densed / distorted than the same animation when used on devices with Higher API level (18+)
i have tried playing a bit with the scaleType & adjustViewBounds parameters & d

[2017-05-15 18:50] gpeal commented on #299
@shweps Try removing scaleType and adjustViewBounds and give the view a fixed width and height

[2017-05-15 18:51] gpeal commented on #295
@amanzan did that work for you?

[2017-05-15 18:51] gpeal commented on #278
@amatsegor Feel free to reopen this if it's still an issue.

[2017-05-15 18:51] #278 closed

[2017-05-15 22:35] brianchu opened #300 "No animation on HTC m8"
No animation appear in HTC m8 (4.4.2). It pretty much just stay in the first 'frame'.
The only animated I saw is running Animated App Tutorial and the Lottie animated a little bit (but not completely).

Version: master

Also, running the app from Playstore (2.0.0-rc1) result in following crash:

E/AndroidRuntime( 9203): FATAL EXCEPTION: main
E/AndroidRuntime( 9203): Process: com.airbnb.lottie, PID

[2017-05-17 03:06] wdmxzf opened #301 "It show error page when I use Lottie."
It is found in my page of fragment, the picture is
![error](https://cloud.githubusercontent.com/assets/19531732/26136816/c08775e2-3af0-11e7-938b-7189a01543cf.png)

[2017-05-17 12:07] joemartins opened #302 "Native Android crashes with Lottie :/"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-05-17 12:08] joemartins opened #303 "Android crash with Lottie"
A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0xb9a462c0 in tid 9361 (RenderThread)

A Native crash happens.

[2017-05-17 12:10] #302 closed

[2017-05-17 12:16] #303 closed

[2017-05-17 21:51] gpeal commented on #301
@wdmxzf Try making your animation smaller? The After Effects composition size gets converted from pixels to dps. See what happens when you make your composition like 200px wide max

[2017-05-18 08:14] ming13 opened #304 "Inconsistent source and result animations"
We have a couple of animations that do not look consistent with the source material. All the things can be found [on the Google Drive](https://drive.google.com/drive/folders/0B7UjLPFHU6NFdGhJWmlCLU5TclU), including before and after videos, JSON files and source After Effects file.

* Square. It was supposed to be bouncy. We used a plugin called Motion 2 to achieve the desired effect to check if it

[2017-05-18 15:01] amanzan commented on #295
@gpeal I tried but I was getting "java.lang.IllegalStateException: You or your view must set a Drawable.Callback before setting the composition"

How exactly do I set the LottieDrawable?

[2017-05-18 23:23] howard0020 opened #305 "Lottie Drawable Scale is overridden with new composition"
Setting the scale anytime before `OnCompositionLoadedListener` fire doesn't do anything.
Ideally, `LottieDrawable` should keep the scale that was set.

It will be nice if Scale can be set via xml with `LottieAnimationView`.

https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/LottieDrawable.java#L157

[2017-05-19 18:45] tehfailsafe commented on #173
@0legg Can you elaborate? If I'm just using roboto, you're saying just drop the font file in the assets folder and use `lottieView.setImageAssetsFolder("assets");`?

[2017-05-19 23:10] gpeal commented on #305
@howard0020 I can add this but ideally, if your scale is know ahead of time, you should just request a smaller composition from your designer.

[2017-05-20 05:21] Janardhanrao commented on #71
please anyone post example project with supports image animation in android....

[2017-05-20 10:45] wdmxzf commented on #301
This is my layout
`<com.airbnb.lottie.LottieAnimationView
                android:id="@+id/animation_view"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                app:lottie_fileName="measure_animation.json"
                app:lottie_loop="true"
                app:lottie_autoPlay="true"
                android:layout_centerHorizont

[2017-05-20 21:11] gpeal commented on #301
@wdmxzf I understand that. There are limitations in the Android drawing framework that limits the size of the canvas that can be used for a matte. In this case, it appears as if the composition is drawing larger than the screen and being scaled down but everything that was originally larger than the screen is getting clipped. Try making your AE comp smaller or using the setScale method on LottieAn

[2017-05-20 21:12] gpeal commented on #298
@guochong No it does not

[2017-05-20 21:12] #298 closed

[2017-05-22 09:40] shashank26ashu commented on #257
The same is in my case too. My animation consists of images and text animation but only image animation work. I am not able to view an animation which consists of text part.
Any update on this issue.

[2017-05-22 09:56] marianpavel commented on #257
I have asked the design team to redo the animation with the most basic components. After few tryes, the animation works like a charm.

[2017-05-22 22:49] vivianh opened #306 "Add an option to ignore clip bounds"

[2017-05-22 23:18] gpeal commented on #257
@shashank26ashu Lottie doesn't yet support text

[2017-05-23 15:49] howard0020 commented on #305
@gpeal thanks for the reply, sometimes I want to use the same animation smaller in different places.

[2017-05-23 23:34] dcow commented on #250
@gpeal thanks for looking into this. I saw your commentary. I've drafted a version using my own valueAnimator and scrubbing progress which I feel is a cleaner solution overall (although the actual file can take longer to load since it's not chopped up). I most wanted to report this to make sure it is on the radar and either fixed or not a bug (=

[2017-05-24 01:25] wdmxzf commented on #301
Thank you for your help.

[2017-05-24 18:13] erikalutz opened #308 "BUG: Inaccurate custom ease"
@gpeal I've attached the file that's not accurately displaying its custom eases. There is an ease being displayed, but it's not accurate to what's been designed in the After Effects file.

The custom eases are on layers 'Icon - Mountain 1 Base' and 'Icon - Mountain 2 Base' on frame 25, scale transformation. The handles have been pulled out in the curve editor to give it a longer ease out.

[Custom

[2017-05-25 06:24] bijuC1983 opened #309 "needs >= 2 number of colors"
Hi,
    I have received 4 json files from my designer after export from After Effects. One of them works fine but get the following Exception with others:
"java.lang.IllegalArgumentException: needs >= 2 number of colors"
Any help towards resolving this issue?
Thanks in Advance

[2017-05-25 09:25] AlanCheen commented on #275
Ok, thank you.

[2017-05-25 10:17] kakai248 opened #310 "Pause/Resume restarts the animation on Samsung Galaxy S4/Note 3 5.0.1"
Hello,

I couldn't find any issue regarding this.

Pausing and then resuming an animation on one of the following devices makes the animation restart:
- Samsung Galaxy S4 5.0.1
- Samsung Note 3 5.0.1

It works fine on this device:
- Samsung Galaxy J3 (2016) 5.1.1
- And all the other devices I've tested

You can see this behavior on the sample app (using Lottie 2.0.0-rc1). I mainly tested with the

[2017-05-25 10:46] ShaunShi opened #311 "Bug while rendering shape layers"
Hi team,
Thank you very much for your great job, and I'm so glad that my team are able to try out lottie animations in native iOS app.
I am an interaction designer and my team is working on a Chinese travelling App called "TongCheng". When we were testing on lottie, we found some issues and may need your help.
This is a loading animation on AE. I mainly get it work by trimming path of shape layers

[2017-05-26 10:46] shuixingge opened #312 "How to restore animation to first frame"
Before opening a new issue:

* Look through open and existing issues for duplicates.
* Apply an appropriate label.

If this is a bug:
* Attach your After Effects file. If you do not feel comfortable posting it on github, email
it to lottie@airbnb.com. There are 500 ways to do everything in After Effects that achieves the
same visual effect so it is nearly impossible to reproduce your issue without

[2017-05-26 15:21] gpeal commented on #309
Can you post the full stack and the aep file?

[2017-05-26 15:22] gpeal commented on #311
@ShaunShi Do you have an issue on Android or just iOS? If it's just iOS then please file an issue on lottie-ios

[2017-05-26 15:22] gpeal commented on #306
We were able to resolve this by using scaleType=centerCrop

[2017-05-26 15:22] #306 closed

[2017-05-26 18:15] bbetter opened #313 "Animation chains in Lottie"
What is the correct way to play sequentially three different animations one by one?

[2017-05-27 02:07] gpeal commented on #312
@shuixingge Call `setProgress(0)`

[2017-05-27 02:07] #312 closed

[2017-05-27 02:07] gpeal commented on #309
@bijuC1983

[2017-05-27 02:08] #301 closed

[2017-05-27 02:08] gpeal commented on #299
@shweps Do you still have an issue?

[2017-05-27 02:10] gpeal commented on #313
Current workaround: https://github.com/airbnb/lottie-android/issues/250#issuecomment-296399128

You can track this for a better solution: https://github.com/airbnb/lottie-android/issues/291

[2017-05-27 02:10] #313 closed

[2017-05-27 02:20] gpeal commented on #304
@ming13 Sorry, Lottie doesn't support Motion 2 or expressions. You should be able to achieve these effects with normal time interpolations though

[2017-05-27 02:20] #304 closed

[2017-05-27 02:35] shuixingge opened #314 "How to reset a lottie a animtion"
when  i called  setComposition ,the LottieAnimationView will display the first frame of the animation,but when the animation finished, i can not reset the animation to first frame except i call animation.reverse(),but this will lead to the animation reverse play.
so ,is there some way to reset the animation to the first frame

[2017-05-27 08:38] bijuC1983 commented on #309
@gpeal Sure. I shall get aep files from the design team on Monday & post it here along with the trace.

[2017-05-27 09:34] ShaunShi commented on #311
Currently we just tried lottie on iOS.  Will try on Android a little bit later. Sorry I didn't notice it's android issue board.

[2017-05-27 09:35] #311 closed

[2017-05-27 18:23] howard0020 commented on #314
Will this work for you? set progress to 0 should show you the first frame.

[code]

[2017-05-29 04:03] #305 closed

[2017-05-29 09:30] kakai248 commented on #310
I can add some more information on this. I could also reproduce it on an LG G3.

Upon resuming, `playAnimation(true)` will be called (on LottieDrawable).
There we have the following code:
[code]

Switching the order of these instructions would potentially fix the problem. However, the `AnimatorUpdateListener` is called with `0.0f` as soon as we call `animator.start()`, which happens before we set

[2017-05-29 18:10] #292 closed

[2017-05-29 18:13] vanniktech commented on #292
Awesome thanks a lot :)

[2017-05-29 18:49] gpeal commented on #295
@amanzan You can create a new LottieDrawable with `LottieDrawable lottieDrawable = new LottieDrawable()` then load the composition manually with a `LottieComposition.Loader` and set it on the drawable.

I just did a quick test with Glide and it seemed to work. https://github.com/airbnb/lottie-android/commit/2ca720a16a1345b3b65079e285dcc1ee152c0545 may also help

[2017-05-29 18:49] #295 closed

[2017-05-29 18:56] gpeal commented on #299
Feel free to reopen this if it's still an issue

[2017-05-29 18:56] #299 closed

[2017-05-29 18:56] gpeal commented on #314
@shuixingge if @howard0020's suggestion doesn't work for you, reopen this.

[2017-05-29 18:56] #314 closed

[2017-05-29 19:04] gpeal commented on #300
@brianchu Can you attach a video of what the animation looks like? They render fine on JB/KK emulators

[2017-05-29 19:18] #294 closed

[2017-05-29 19:19] gpeal commented on #294
I've added the ability to update the bitmap. However, why do you need 90 images. Is it possible to use after effects shapes instead? That will be much more efficient.

[2017-05-29 19:30] gpeal commented on #308
@erikalutz it actually appears as if there may be an issue with bodymovin here. Filed: https://github.com/bodymovin/bodymovin/issues/444

[2017-05-29 19:38] #283 closed

[2017-05-29 20:15] gpeal commented on #309
@bijuC1983 one potential thing is that if there are gradients, you have to save your composition before bodymovin will pick up the change.

[2017-05-30 11:37] bijuC1983 commented on #309
@gpeal You may find the aep file & the jsons here http://bit.ly/2rjaS1b
The message I received from the design team is that there are no gradients, but only flat colors.

[2017-05-30 13:46] mare011 opened #315 "Animation size"
Hi, I've been using beta-4 version for a few animations, I've tried switching to rc-1/rc-2 and all animations became tiny, like few pixels, i can't figure out witch change caused it. Thanks in advance.

[animation.zip](https://github.com/airbnb/lottie-android/files/1038485/animation.zip)

[2017-05-30 16:42] brianchu commented on #300
@gpeal https://youtu.be/08E6Lo6tJcw Yes, emulator is okay, but the device is not.

[2017-05-30 17:32] gpeal commented on #300
@brianchu You have system animations disabled don't you :)

[2017-05-31 00:22] gpeal commented on #309
@bijuC1983 A few things stand out already.
1) Right click any illustrator layers and convert them to shape layers. This will allow Lottie to render them as shapes instead of exporting them as pngs. For reference, you should never need lots of pngs for a Lottie animation.
2) Lottie doesn't yet support text so you'll want to remove those layers.
3) Lottie doesn't support time remaping (yet)

The iss

[2017-05-31 00:24] gpeal commented on #315
@mare011 It renders fine in the lottie sample app. You can try setting the scale manually. See if that helps.

![screenshot_1496190227](https://cloud.githubusercontent.com/assets/1307745/26610513/c9a7ac7a-455c-11e7-8155-ca353947595f.png)

[2017-05-31 02:40] brianchu commented on #300
@gpeal It is correct! The animation is back once I enable the system animation.
My understanding of _system_ animation is for ... system animation (e.g. activity animation, dialog animation), why a library will honor that? Can we turn this behaviour off?

[2017-05-31 06:05] sugar0811 opened #316 "contrast"
Hello, can Lottie change the global contrast of this animation?

[2017-05-31 08:30] mare011 commented on #315
Setting the scale to 0.1 makes the animation the right size, it grows as i lower the scale, shouldn't it be opposite?

[2017-05-31 08:45] slyang520 opened #317 "leaked"
ImageAssetBitmapManager.context
lottieVersion  : "2.0.0-rc1",

[2017-05-31 13:08] charleston10 commented on #257
#287

[2017-05-31 13:15] charleston10 opened #318 "onAnimationEnd don't called"
When the option **"not animate"** is enabled in **settings developer** for standard native android
any view is call onAnimationEnd
The Lottie isn't calling this method in this case, and ends up not returning anything, leaving no action

[2017-05-31 14:26] RobertLK opened #319 "JUnit asserts in production classes"
Two classes in lottie library include JUnit asserts:
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/ImageAssetBitmapManager.java
https://github.com/airbnb/lottie-android/blob/master/lottie/src/main/java/com/airbnb/lottie/CanvasPool.java

Mixing test asserts and production code is bad practice (https://stackoverflow.com/questions/17620520/is-it-okay-to-u

[2017-05-31 16:27] gpeal commented on #300
@brianchu Lottie uses ValueAnimator under the hood. Those settings affect that. If you want to get around that, you can create your own animator that sets the progress from 0 to 1.

[2017-05-31 16:27] #300 closed

[2017-05-31 16:29] gpeal commented on #317
@slyang520 Are you reusing the same drawable across activities?

[2017-05-31 16:29] gpeal commented on #316
@sugar0811 No, but you can set a color filter on specific fills if you want to do it manually.

[2017-05-31 16:29] #316 closed

[2017-05-31 16:30] gpeal commented on #315
@mare011 There must be something strange going on within your app's code. It seems to work fine in the lottie sample app.

[2017-05-31 19:58] GrzegorzFeather commented on #315
Hi, I'm experiencing same issue with the following animation:
[onboard-animation.zip](https://github.com/airbnb/lottie-android/files/1042752/onboard-animation.zip)

When I scale down it works perfectly, but when start scaling up it gets smaller.

![screenshot_20170531-125526](https://cloud.githubusercontent.com/assets/3044632/26651181/b485940c-4600-11e7-8994-0e10499aadc3.png)
![screenshot_20170531

[2017-05-31 22:10] gpeal commented on #315
@GrzegorzFeather Ah, the issue is that right now Lottie sets the max scale such that it can't be larger than the view itself (which will never be larger than the screen).

In this case, the bounds of the drawable keep growing but the drawing size stays the same so the effect of the centerInside scale type is that it appears to be shrinking.

[2017-05-31 22:40] GrzegorzFeather commented on #315
@gpeal I see, so the reason I brought this up is because I noticed too that if I add the LottieAnimationView to match the screen size it's correctly scaled, but by adding margin to the start/end then this same behavior happens. Same thing if I put it inside a ViewGroup that does not match the screen size. This prevents me of resizing or even fit the view inside a container that does not match the

[2017-05-31 22:45] gpeal commented on #315
It's likely that your composition is just too large to begin with. You can try a) asking your designer to make the composition size smaller (the composition size in px gets converted to dp by Lottie) or b) manually set the scale such that it's smaller than the view and using scaleType=centerInside

[2017-05-31 22:45] gpeal commented on #315
@GrzegorzFeather

[2017-05-31 22:50] GrzegorzFeather commented on #315
@gpeal makes sense, will try that approach. Thanks for the help!

[2017-06-01 02:11] slyang520 commented on #317
yes.    @gpeal

[2017-06-01 02:25] gpeal commented on #317
@slyang520 You should hold on to the LottieComposition rather than the LottieDrawable.

[2017-06-01 02:25] #317 closed

[2017-06-01 10:04] mare011 commented on #315
Yep, mine problem was that i had set 40dp width and height. So designers should then create the animation in mdpi, my current image is xxxhdpi? But then the image will be small for higher dpi devices, right? Or the images should be, in this case 160x160, and the animation itself 40x40? What i don't get is how setting the scale to 0.1 gives the right size, it would makes sense that 0.25 would do it

[2017-06-01 10:08] Boros93 opened #321 "UNMEET PEER DEPENCY react@15.3.2"
[http://imgur.com/a/28yk6](url)

Does anyone have tips on how to fix this error?I tried to fix it by changing the settings from the json file but nothing happens.

[2017-06-01 15:52] Guimareshh opened #322 "Animation freeze during reyclerview.notifyDataSetChanged();"
Hi there !

I'm using Lottie since months now and I found a strange issue today. In my fragment I have the Lottie animation already set, and using the animation to make the user wait during the call of API nor loading data from Realm. When it's done I animate the Lottie file to set the Alpha to 0 and call notifyDataSetChanged() for two recyclerView.

Here is the [video](https://youtu.be/mC3xtXvg3M

[2017-06-01 20:11] gpeal commented on #321
@Boros93 Please file this on lottie-react-native

[2017-06-01 20:11] #321 closed

[2017-06-01 20:13] gpeal commented on #322
@Guimareshh is your animation in the recyclerview?

[2017-06-01 20:19] Guimareshh commented on #322
@gpeal no the animation is inside the ConstraintLayout, same level as the recyclerView. That's why I find this issue very strange

[2017-06-01 22:51] gpeal commented on #322
@Guimareshh Can you attach a sample project that repros this?

[2017-06-02 14:00] Guimareshh commented on #322
@gpeal I tried in a sample project to repro the same bug, but it was impossible. After trying few things in my main project I have found that it doesn't come from the notifyDataSetChanged();

It seems to be the `binding.animationView.animate().alpha(0f).setDuration(250).start();`  itself that freeze the animation. Indeed the freeze is when I start to save my objects inside Realm :

[code]

If I re

[2017-06-02 16:33] creynaud opened #323 "Animation timing drifts for a long animation (233s or more)"
I am trying to play long animations with lottie 2.0.0-rc2.
There is a drift of 7s, so the animation ends after 240s instead of 233s.

Here the json file that I use:
[lottie-drift.zip](https://github.com/airbnb/lottie-android/files/1048318/lottie-drift.zip)

I used the lottie sample, and replaced the "WeAccept" demo by my json file and my images. I also added some System.currentTimeMillis() logs in

[2017-06-02 17:19] gpeal commented on #322
@Guimareshh This doesn't seem like a Lottie issue then. You may be able to use systrace or something to figure out why it's not working though.

[2017-06-02 17:19] #322 closed

[2017-06-03 06:13] sjenasears commented on #323
Hi creynaud ,

How you changed Lottie json file.
Beacuse it is a huge file.
I was trying to change.
Could you please help me

[2017-06-04 17:47] brianchu opened #324 "The last few frames are missing for file https://www.lottiefiles.com/296-react-logo"
Using the demo app Animated Viewer and point to use https://www.lottiefiles.com/296-react-logo

Instead see: https://youtu.be/rAa6_Fufqag
Observed: The last frame few frame is missing something.
Expected: The animation finish nicely.

* Attach your After Effects file: AE file download from https://www.lottiefiles.com/296-react-logo

[2017-06-05 08:20] SwayChen opened #325 "A little delay when change json file"
It may be a 0.2s~0.3s delay in Nexus 5. Please check it. The size of json is about 60KB

My code:
[code]